[2019-03-28 17:44] DonJayamanne opened #1275 "__future__ division not working for the debug console"
@xiaodongzhao commented on [Thu Mar 28 2019](https://github.com/Microsoft/vscode-python/issues/4994)

## Environment data

- VS Code version: 1.32.3
- Extension version (available under the Extensions sidebar): 2019.3.6139
- OS and version: Ubuntu 18.04
- Python version (& distribution if applicable, e.g. Anaconda): Python 2.7.15rc1
- Type of virtual environment used (N/A | venv | virtualenv | con

[2019-03-28 17:46] DonJayamanne opened #1276 "Debugger crashes when using Django's Development Server with a Proper Launch Profile"
@pymike00 commented on [Thu Mar 28 2019](https://github.com/Microsoft/vscode-python/issues/4988)

## Environment data

- VS Code version: 1.32.2-1
- Extension version: 2019.3.6139
- OS and version: Linux Manjaro XFCE x86_64 18.0.4
- Python version: 3.7.2
- Type of virtual environment used: venv
- Relevant/affected Python packages and their versions: Django 2.1.7

## Expected behaviour

Using the P

[2019-03-28 17:53] karthiknadig commented on #1256
Interesting, I tried "--nothreding" with a significantly large "django-oscar" based eCommerce website. I seems to work fine. I think we may be missing detail in some way. I am not able to repro the nothreading issue on my end.

I do see that the user has template issues. We did some work recently on improving template exceptions. But that is a separate issue.

[2019-03-28 18:07] karthiknadig commented on #1273
@fabioz Looks like we are not providing `variableReference` correctly for evaluations.
what it should return:
`{"result": "[1, 2, 3]", "variablesReference": 6, "type": "list", "presentationHint": {}}`
actual:
`{"result": "[1, 2, 3]", "variablesReference": 0, "type": "list", "presentationHint": {}}`

[2019-03-28 18:16] int19h commented on #1275
It looks like the `evaluate` request should be taking `f_code.co_flags` for the frame in which evaluation is taking place, and pass them as `flags` when calling `compile`. It's not just a debug console thing, but also goes for Watch etc.

[2019-03-28 18:32] fabioz commented on #1273
Will take a look at it.

[2019-03-28 19:57] #1221 closed

[2019-03-29 09:25] aorcl opened #1277 "pydevd_resolver.py: "unsupported operand type(s) for +: 'dict' and 'list'" in TupleResolver.get_contents_debug_adapter_protocol throws"
## Environment data

- PTVSD version: python-2019.3.6139
- OS and version: Windows10
- Python version (& distribution if applicable, e.g. Anaconda): 3.7.2.64 standard python
- Using VS Code or Visual Studio: VSCode

## Actual behavior

When trying to inspect a collection during debug, the variable inspector hangs and throws a message

## Expected  behavior
Inspection working

## Steps to reproduce

[2019-03-29 16:57] fabioz opened #1278 "When exiting with exception the process return code and the one given by the DAP don't match."
I think a proper solution would only be available when a separate process is launched (although maybe `ptvsd.__main__` could be changed to at least return a code != 0 in this case).

See references in the code for places to fix (had to do some workarounds in tests due to this).

[2019-03-29 18:25] fabioz opened #1279 "SystemExit is detected on Python 2 but not on Python 3"
It seems that wrapper.py has some code to deal with this to auto-resume, but I didn't dig further... what's happening now is that on Python 2 the debugger breaks on `SystemExit(0)` but on Python 3 it doesn't (it should probably be consistent on both cases).

Note that on `SystemExit(1)` it always stops in any case.

[2019-03-29 20:10] int19h commented on #1279
There's a separate setting just for SystemExit(0) in ptvsd. We must not be implementing that one correctly on Python 2.

https://github.com/Microsoft/ptvsd/issues/841#issuecomment-436059489

[2019-03-29 20:17] int19h commented on #1241
I can repro it on Windows. It's not a crash tho, it's Django raising `SystemExit(3)` in the child process to exit it when it needs to reload. Since it's not zero, and it doesn't have a handler, we report it if "Uncaught Exceptions" is checked, per this table:

https://github.com/Microsoft/ptvsd/issues/841#issuecomment-436059489

If debugging is continued with F5, the process exits and reload proce

[2019-03-29 20:25] int19h commented on #1278
`__main__` reraises the `SystemExit` that it catches, though - is that not sufficient?

[2019-03-29 20:41] DonJayamanne commented on #1241
And possibly ensure the defaults do the job. I.e. if users want to change the default behavior they can provide the necessary settings.

What do you think?

This way we have a consistent behavior with the clients of ptvsd (vs & VSC)

[2019-03-29 20:42] DonJayamanne commented on #1241
And less work at the other end....😉

[2019-03-30 22:51] #1271 closed

[2019-03-31 01:24] sujiths93 opened #1283 "Unable to debug using ptvsd - Mixed mode debugging"
## Environment data

- PTVSD version: The version that comes with VS Code Installation.
- OS and version: Mac OS Mojave 10.14.3
- Python version (& distribution if applicable, e.g. Anaconda): Python 2.7.15
- Using VS Code or Visual Studio: VS Code 1.32.3

## Actual behavior
I am trying to debug Python/C++ code using [these instructions](https://gist.github.com/asroy/ca018117e5dbbf53569b696a8c89204

[2019-03-31 22:45] DonJayamanne opened #1284 "Unable to expand variables in watch window"
@DonJayamanne commented on [Sun Mar 31 2019](https://github.com/Microsoft/vscode-python/issues/5035)

* Old version of Debugger (December Release)
	* `sys.argv` can be expanded in `watch` window
* Latest version
	* `sys.argv` cannot be expanded.

**Nothing can be expanded in the `watch window`**

**Old Version (December)**
<img width="624" alt="Screen Shot 2019-03-31 at 3 41 11 PM" src="https://us

[2019-04-01 02:14] karthiknadig commented on #1284
dupe #1273

[2019-04-01 02:14] #1284 closed

[2019-04-01 07:15] jessey-git opened #1285 "KeyError when using latest VSCode Python extension"
## Environment data

- PTVSD version: 4.2.0
- OS and version: Win10 1803
- Python version (& distribution if applicable, e.g. Anaconda): Python 3.7.1 installed on system
- Using VS Code or Visual Studio: VSCode 1.32.3 (Python extension 2019.3.6215)

## Actual behavior
The latest Python extension for VSCode seems to have broken debugging:
[code]

## Expected  behavior
This was fine with Python exte

[2019-04-01 10:39] #1273 closed

[2019-04-01 10:51] fabioz commented on #1278
This issue isn't really related to SystemExit, it's related to other exceptions (sorry I wasn't clear enough).

The problem is if the user code is something as:

[code]

then the process return code will be `!= 0` but the `exitCode` from `ptvsd` will be `== 0`.

If it was an external process it should be straightforward to get the value and return it (and would work even for crashes), but as it st

[2019-04-01 15:43] fabioz opened #1287 "Port SetExceptionBreakpoints DAP message to pydevd."

[2019-04-01 17:35] DonJayamanne opened #1288 "import probablepeople makes VScode debugger startup extremely slow"
@fabiosangregorio commented on [Fri Mar 29 2019](https://github.com/Microsoft/vscode-python/issues/5015)

## Environment data

- VS Code version: 1.32.3
- Extension version (available under the Extensions sidebar): 2019.3.6215
- OS and version: Windows 10 64-bit
- Python version (& distribution if applicable, e.g. Anaconda): 3.7.2 64-bit
- Type of virtual environment used (N/A | venv | virtualenv

[2019-04-01 17:39] karthiknadig commented on #1255
Closing this in favor of #1287

[2019-04-01 17:39] #1255 closed

[2019-04-01 17:40] karthiknadig commented on #1283
@sujiths93 The recommended solution for mixed mode debugging is to use Visual Studio 2017/2019. See here:
https://docs.microsoft.com/en-us/visualstudio/python/debugging-mixed-mode-c-cpp-python-in-visual-studio?view=vs-2017

[2019-04-01 17:46] DonJayamanne opened #1289 "Version 2019.3.6139 breaks Django templates"
@amaliaman commented on [Sun Mar 31 2019](https://github.com/Microsoft/vscode-python/issues/5030)

## Environment data

- VS Code version: 1.32.3
- Extension version (available under the Extensions sidebar): 2019.3.6139
- OS and version: Win 10 Home x64
- Python version (& distribution if applicable, e.g. Anaconda): Python 2.7.15 32-bit
- Type of virtual environment used (N/A | venv | virtualenv |

[2019-04-01 17:53] karthiknadig commented on #1285
@jessey-git Make sure you are using the latest ptvsd which is v4.2.5. If you want to debug processes launched by your code, make sure that in your launch configuration has `"subProcess": true,`, and `pathMappings`.

[code]

If the above does not works for you, please provide a minimal repro.

[2019-04-01 17:56] sujiths93 commented on #1283
Visual studio with python support is unavailable for Mac.

[2019-04-01 18:02] fabioz commented on #1289
@amaliaman can you provide a case to reproduce this error? I've tried with a sample code here and was not able to reproduce... also, can you provide the full stack trace as well as the django version you're using?

[2019-04-01 18:32] karthiknadig commented on #1209
On windows the underlying server used by django/flask does not set `SO_EXCLUSIVEADDRUSE` on the socket (might be intentional). They set `SO_REUSEADDR`, which on windows means that two processes can bind to the same address and port, (on linux binding is allowed only when there is no active listening socket). This issue can be addressed for the most part, if stop debugging killed the launched proce

[2019-04-01 18:32] #1209 closed

[2019-04-01 19:48] karthiknadig commented on #1285
#1286 should help with the watch and hover. Is there anything else that is not working?

[2019-04-01 19:55] #1277 closed

[2019-04-01 20:02] int19h commented on #1283
Judging by "already started" in the output and use of multiprocessing, I think it's not really a mixed-mode debugging issue, but rather another manifestation of #943.

@sujiths93, can you please try adding this to your code, making sure that it runs before you use anything else from `multiprocessing`:

[code]

[2019-04-01 20:05] karthiknadig commented on #1283
It is pyhton 2.7, that does not support the `set_start_method`.

[2019-04-01 20:25] karthiknadig commented on #1288
I can repro this. Definitely there is perf issue here.

[2019-04-02 00:16] #1272 closed

[2019-04-02 02:54] luabud opened #1291 "Step into library import statement gives "Could not load source '<string>': Source unavailable.""
Set a breakpoint to a ``import numpy`` statement and step into it. It'll raise: ``Could not load source '<string>': Source unavailable.``

VS Code Insiders 1.33.0
Extension version 2019.3.6215

launch.json file:

[code]

[2019-04-02 03:15] DonJayamanne commented on #1291
You are debugging non-user code, hence you need to turn that feature on.
Add the following into `launch.json`
[code]

[2019-04-02 03:24] karthiknadig commented on #1291
It should not send back '<string>' though. If filename is '<string>', we should return sourceReference. If there is no source reference, we should not return those frames.

[2019-04-02 03:27] DonJayamanne commented on #1291
Aah yes, agreed, I thought `step in` would just automatically perform a `step over`.
Isn't that the expected behavior. I thought thats what it did in the past.

[2019-04-02 03:33] karthiknadig commented on #1291
You are correct. `step-in` effectively becomes `step-over`, when `debugStdLib=true`. But it seems to also send `<string>` as frame. I need to investigate that.

[2019-04-02 04:15] karthiknadig commented on #1291
![image](https://user-images.githubusercontent.com/3840081/55375051-80543600-54bf-11e9-8909-be77471f2274.png)

This is what we get. I think message should describe why users are seeing this and what users can do about it. Message should be something along the lines of:
* If you intended to debug a site-package or standard library please set `debugStdLib: true` in `launch.json` for VS Code. For Vis

[2019-04-02 04:49] int19h commented on #1291
`<string>` is not treated as stdlib, so when an stdlib module does an eval or exec, and you step in, you end up in something like this. You can see the relevant bits here: https://github.com/Microsoft/ptvsd/pull/1245/commits/d41e3a58e244d760c9044980ef06af485cf754af (note that the behavior wrt `<string>` is the same in both old and new code), and some discussion about this here: https://github.com/

[2019-04-02 08:27] aorcl commented on #1277
Thank you!

[2019-04-02 13:16] fabioz opened #1294 "Make pydevd tests work with Django 2.2"
Right now only 1.7 and 2.1 are tested and 2.2 is already available.

[2019-04-02 16:27] karthiknadig commented on #1291
Ahh. I see. So the only reason `debugStdLib: true`  feels like it works because user has not yet reached the point where the exec or eval is called.

[2019-04-02 16:37] int19h commented on #1291
Is the behavior actually different depending on `debugStdLib` setting here? I would expect it to be the same, since this one frame is not considered stdlib either way. The only difference should be that if you have stdlib on, then a step-in should step into the first line of the `numpy` module itself - which would be the expected behavior. If you keep stepping till you hit the eval, then a step-in

[2019-04-02 16:39] int19h commented on #1291
(Side note: in the future, we might want to try decompiling such frames with something like 'uncompyle6', and providing the synthesized source via source reference.)

[2019-04-02 16:49] gatesn opened #1295 "Allow setBreakpoints before launch"
## Environment data

- PTVSD version: 4.2.6
- OS and version: OSX Mojave
- Python version (& distribution if applicable, e.g. Anaconda): 3.6.8
- Using VS Code or Visual Studio: Custom

## Actual behavior

setBreakpoints throws claiming `launch` or `attach` must be issued first: https://github.com/Microsoft/ptvsd/blob/35be1abb32f992ad99072468f9f00fcc2ced08b6/src/ptvsd/wrapper.py#L1790

## Expected

[2019-04-02 17:00] int19h commented on #1295
The configuration phase ends with `configurationDone`, and the actual launch/attach doesn't happen until then. So long as breakpoints are set before that event, there's no race.

That said, the spec says about the `initialized` event:

 been defined (or if ‘supportsConfigurationDoneRequest’ is not defined or false)

So it seems that we're not strictly conforming to the spec here, since we are not

[2019-04-02 17:08] gatesn commented on #1295
So are you suggesting I should call `launch` before `configurationDone` to avoid the race? I was basing the sequence off the diagram here: https://microsoft.github.io/debug-adapter-protocol/img/init-launch.png

But you're right, I can't find anything in the spec saying `configurationDone` has to happen before `launch`.

[2019-04-02 17:32] DonJayamanne opened #1296 "SyntaxError for breakpoints with empty condition"
@xiaofeng0123 commented on [Mon Apr 01 2019](https://github.com/Microsoft/vscode-python/issues/5071)

Visual Studio Code - Insiders: 1.33.0-insider
python-insider: 2019.4.6304-alpha

Repro step:
1. Input below code:
     for i in range(1,500,20):
           print(i)
2. Set "Expression" condition breakpoint such as "i>400"
3. Start to debug make sure it works well
4. Right-click on the breakpoint t

[2019-04-02 17:33] DonJayamanne opened #1297 "[WSL] Pydev uses Windows locations instead of Linux"
@HayashiEsme commented on [Tue Apr 02 2019](https://github.com/Microsoft/vscode-python/issues/5075)

## Environment data

- VS Code version: 1.32.3
- Extension version (available under the Extensions sidebar): 2019.3.6215
- OS and version: Windows_NT x64 10.0.16299, Ubuntu 18.04
- Python version (& distribution if applicable, e.g. Anaconda): 3.6.7
- Type of virtual environment used (N/A | venv | v

[2019-04-02 18:20] karthiknadig opened #1298 "Show message when stepping into library code with justMyCode: true"
If debugStdLib is false and the user attempts to step in, we should show a message telling the user that the debugger will skip. It should also tell them how to change the setting so that they get the intended behavior.

This is similar to how Just-my-code setting is handled in VS for C#

[2019-04-02 19:15] int19h commented on #1295
In practice, all clients that we've tested (including VS and VS Code) do `launch` or `attach` before they do `configurationDone`. Given that `configurationDone` has a bunch of debug options in it that debugger needs to be aware of before it starts running code, I think that's by design, even though the spec doesn't reflect it currently.

[2019-04-02 19:26] karthiknadig commented on #1240
Closing this, since the investigation is complete.

[2019-04-02 19:26] #1240 closed

[2019-04-02 19:30] #1268 closed

[2019-04-02 19:30] int19h commented on #1295
Side note: if you're authoring a custom client, you might want to look at our tests - the actual test code in `test/func`, and `test/helpers/session.py` that those use. These capture the "de facto spec" that we're implementing currently.

Also, setting `PTVSD_LOG_DIR` environment variable will give you the full DAP logs from the perspective of the debugger. You can use this to see how a typical de

[2019-04-02 19:41] karthiknadig commented on #1198
Please reopen when more details are available.

[2019-04-02 19:41] #1198 closed

[2019-04-02 19:43] karthiknadig commented on #1231
Repro code is required here. Please reopen with the requested details.

[2019-04-02 19:43] #1231 closed

[2019-04-02 19:44] gatesn commented on #1295
That's very helpful, thank you!

[2019-04-02 19:44] #1295 closed

[2019-04-02 19:48] karthiknadig commented on #1285
Use 4.2.6, it contains fix for watch and hover issue.

[2019-04-02 19:48] #1285 closed

[2019-04-02 23:30] karthiknadig opened #1300 "stopped event after goto should return reason as goto"
Currently we return `paused`, which is not according to spec:
[code]

[2019-04-02 23:53] karthiknadig commented on #1300
Also, stopped on entry should return 'entry' as reason.

[2019-04-03 04:53] baek9 opened #1301 "fix incorrect exception raised while processing a list that exceeds MAX_ITEMS_TO_HANDLE"
## Environment data

- PTVSD version: 4.2.6
- OS and version: Windows 10
- Python version (& distribution if applicable, e.g. Anaconda): 2.7.6
- Using VS Code or Visual Studio: VS Code

## Actual behavior

in VS Code, I ran following code and set a breakpoint to the print line and expand the lst in the debugging window. the code is:
[code]
And give this traceback:
[code]

## Expected  behavior

No

[2019-04-03 12:04] amaliaman commented on #1289
@fabioz
### Django Version
1.6.1

### Use Case
Parent template (`view.html`) has:
[code]
Included template (`invite-modal.html`) has:
[code]

Until the update, `view.html` was rendered OK with `invite-modal.html` included and its contents were rendered according to **chat_mode=True** ('Start a chat'.) After the update the app crashes, claiming **chat_mode**
does not exist in `invite-modal.html':

[2019-04-03 17:16] int19h opened #1303 "Partial socket reads in test_deep_stacks"
This happens in `test_deep_stacks` sporadically.
[code]
The message, as expected for this test, is the `stackTrace` response, that just happens to be cut off in the middle of a string literal.

I believe the problem is that `JsonIOStream.read_json` assumes that once it has the length, it can just pass it to `read` and get that many bytes back - which works with files, but with sockets you can get

[2019-04-03 17:57] fabioz commented on #1289
The oldest Django we test with is 1.7, which is likely the reason this broke (although I'll at least add a test with the use-case with includes).

@karthiknadig Django 1.6 is no longer officially supported since 2015: https://www.djangoproject.com/download/#supported-versions... so, I'm a little unsure whether we want to support it, what do you think?

@amaliaman do you want to use breakpoints/exc

[2019-04-03 18:06] int19h commented on #1241
Turns out that https://github.com/Microsoft/ptvsd/pull/1280 kinda fixed this issue in a different way - since this particular exit is triggered by Django autoreloader, and it's in stdlib, with that fix, we no longer report it as uncaught with `debugStdLib: false` (which is the default).

It is unclear to me whether this is the right behavior, though. The exception originates in library code, but i

[2019-04-03 18:23] fabioz commented on #1241
@int19h the current heuristic to determine if the exception is from the user or from the standard library will only check if the unhandled exception originates from the user or standard library, it doesn't check all the frames it passed through (so, it should be reported as caught once in manage.py but should not be reported as uncaught unless it was actually originated from user code).

Note that

[2019-04-03 18:28] int19h commented on #1278
It looks like we also have an issue where the return code is not reported correctly for attached processes in general - i.e. with explicit `ptvsd.enable_attach()` etc, if the process exits with a non-zero code, even explicitly via `sys.exit`, we still report `exitCode: 0`.

[2019-04-03 18:45] karthiknadig commented on #1303
Does this mean, potentially source reference can fail as well. due to the size if content it can return?

[2019-04-03 18:55] int19h commented on #1241
The problem with that behavior is that it essentially means that all uncaught exceptions raised from any part of stdlib that's implemented in Python are not considered uncaught - the process just terminates instead of breaking on them. And on the other hand, if you are invoking a builtin method and it raises, then its originating frame is deemed to be user code (since there's no Python frame for n

[2019-04-03 18:59] int19h commented on #1303
On the test side, yes, it looks like it could.

[2019-04-03 19:06] fabioz commented on #1241
@int19h I'm ok with that. Can you create a bug report for me to take a look at it?

[2019-04-03 19:09] fabioz commented on #1278
@int19h maybe we should wait until `ptvsd` uses `pydevd` out of process to fix this issue (considering this will be done) as that should be much more straightforward in that case...

[2019-04-03 19:15] int19h commented on #1279
This is a regression due to https://github.com/Microsoft/ptvsd/commit/957b01002dcd33f0f45232caf03b463d43b46a72#diff-b29f720860019d961dde440c375682f4R1127. In our `SystemExit` handling code, we expect exception names to be reported fully qualified - which means that it's `exceptions.SystemExit` on Python 2, and unqualified `SystemExit` on Python 3. With the change, the name that's reported from pyd

[2019-04-03 19:18] int19h commented on #1278
Yep. This is mainly to document the issue for reference purposes in the tests that have to work around this for now.

[2019-04-03 19:19] amaliaman commented on #1289
@fabioz removing `"django": true` in launch.json solved the problem, we don't need Django breakpoints at the moment. Thanks!

[2019-04-03 19:33] int19h commented on #1279
Not entirely sure it's a regression actually, the code might have been wrong all along - the test that was supposed to catch this has a defect.

[2019-04-03 20:11] karthiknadig commented on #1289
@fabioz 1.7 and greater should be fine.

[2019-04-03 22:30] karthiknadig opened #1304 "Provide source code from code objects in cases were we don't have sourceReference"
@int19h suggested the idea of using `uncompyle6` to show source when possible. This should be useful for `@dataclasses` operators where source is not available.

[2019-04-03 22:53] Anapo14 commented on #1228
Hi @ericdrobinson! Is there anyway you can provide us with more information? For example, your launch.json and settings.json files as well as some of the code you are working with? It's difficult for us to repro this issue without that information. As well, have you tried using the Azure Functions extension for VS Code? It allows you to debug Azure Functions directly from VS Code. Currently, Pytho

[2019-04-03 22:53] gramster commented on #1229
It sounds like this was just an issue with figuring out the right way to configure this, and there's nothing here for the debugger to do. @Cetlan, do you agree? If so please close this.

[2019-04-03 22:55] qubitron opened #1306 "Prototype Jupyter Debugging"
Implement source mapping and investigate any other issues

[2019-04-04 02:06] gegogi opened #1307 "Module name conflict while debugging with -m"
## Environment data

- PTVSD version: ptvsd 4.2.6
- OS and version: Windows-10-10.0.17134 AMD64
- Python version (& distribution if applicable, e.g. Anaconda): CPython 3.7.2 (64-bit)
- Using VS Code or Visual Studio: VS Code

## Actual behavior

If I have a module with name 'thread' in the package that I want to debug with -m option, ptvsd fails to start. This does not happen when I use a wrapper

[2019-04-04 03:04] int19h opened #1308 "TestSocketServerReuse tests interfere with each other in concurrent runs"
https://ptvsd.visualstudio.com/ptvsd/_build/results?buildId=1621

[code]

This is likely because the port number is hardcoded, so when two tests from this suite are scheduled to run concurrently, they interfere with each other.

If so, it should use port 0 for the first socket to pick a random ephemeral port instead, and then call `getsockname` to retrieve the actual port selected, and use that fo

[2019-04-04 03:44] int19h commented on #1307
I'm not entirely clear how the *inside* of your package ends up on the path. Are you running it from within the `natuum` directory? Or does it change the directory at some point after starting? I would expect the current directly to be the one inside which `natuum` is a subdirectory.

`runpy.run_module` does not add that `sys.path` entry automatically on all Python versions, unfortunately, hence w

[2019-04-04 05:32] gegogi commented on #1307
Yes, I can confirm that it is executed in `natuum` directory.
And I also can confirm it runs well after moving `import thread` part to the beginning of `ipcjson.py`.

[code]

[2019-04-04 10:58] #1301 closed

[2019-04-04 11:04] #1287 closed

[2019-04-04 14:07] Cetlan commented on #1229
I still feel like there's something strange going on, as I don't see a reason why the extra level of "indirection" should have caused a problem, and it's a little annoying to set up because the buildout python wrapper can't be selected as the interpreter, it has to be hand-edited in, and hope nobody accidentally overwrites it from the UI.

But it's functional and this is a pretty specific case. So

[2019-04-04 15:07] fabiosangregorio commented on #1288
Let me know if more information is needed.

[2019-04-04 16:03] ericdrobinson commented on #1228
[code]

[code]

No, because that's proprietary and not something I'm at liberty to post in an open forum such as this.

That said, I will point out that running the exact code I [initially posted](https://github.com/Microsoft/ptvsd/issues/1228#issue-419595129) in a simple HTTP Trigger will produce exactly the updated experience [I described](https://github.com/Microsoft/ptvsd/issues/1228#issuecomm

[2019-04-04 17:06] fabioz commented on #1289
I'm closing this one in favor of https://github.com/Microsoft/ptvsd/issues/1276 (that one seems to have the same issue but with 2.1.7).

[2019-04-04 17:06] #1289 closed

[2019-04-04 17:27] fabioz commented on #1276
Ok, I think I found the culprit...

The issue is that previously the `VariableDoesNotExist` wasn't always being gotten properly, which was fixed in the last release, so, when such an exception is raised now we properly report it.

The problem in this case is that there are some situations in which `django` raises that exception and it's expected to ignore it later on -- in which case we shouldn't

[2019-04-04 17:51] DonJayamanne opened #1311 "Remote debugging failed with warning "pydev debugger: warning: try to add breakpoint to file that does not exist""
@xiaofeng0123 commented on [Tue Apr 02 2019](https://github.com/Microsoft/vscode-python/issues/5094)

Visual Studio Code - Insiders: 1.33.0-insider
python-insider: 2019.4.6365-alpha
ptvsd version: 4.2.6

Repro step:
1. Create a python file named remote_debug.py with below code:
     import ptvsd
     ptvsd.enable_attach(('IP of unbuntu',5678))
     ptvsd.wait_for_attach()
     for i in range(1,10,

[2019-04-04 17:58] karthiknadig commented on #1311
@xiaofeng0123 From the paths it looks like the remote root might not be correct.
Can you try with following path mapping?
[code]
If that does not work, can you provide more details about your project layout local and remote.

[2019-04-04 18:23] int19h commented on #1307
I believe the default working directory is going to be the one you have opened as folder in VS Code. So, in case of a Python package, it's usually best to open the parent directory - e.g. for this project, we usually open the root of the repo, or src/, but not src/ptvsd/. It can also be specified via `"cwd"` in launch.json.

[2019-04-04 18:45] karthiknadig commented on #1258
This does not looks like it is related to ptvsd. Can you try following the instructions here to fix it?
https://stackoverflow.com/questions/44761958/using-pip3-module-importlib-bootstrap-has-no-attribute-sourcefileloader

[2019-04-04 20:15] yoon28 commented on #1056
isn't there any progress for this issue? I have the same problem.

[2019-04-04 20:28] #1241 closed

[2019-04-04 20:28] #1303 closed

[2019-04-04 20:28] #1279 closed

[2019-04-04 20:30] int19h commented on #1308
Fixed by https://github.com/Microsoft/ptvsd/pull/1312

[2019-04-04 20:30] #1308 closed

[2019-04-04 20:50] int19h commented on #1259
I tried to reproduce it as follows, with no luck:

1. Create a new empty directory called `venvtest`, and open terminal in it.

1. `py -3 -m venv venv_folder`.

1. `mkdir source_folder`.

1. Create `source_folder/foo.py` containing:
[code]

1. Create `source_folder/.vscode/settings.json` containing:
[code]

1. Create `source_folder/.vscode/launch.json` containing:
[code]

1. Open `source_folder/fo

[2019-04-04 20:57] int19h commented on #1274
Note that there's additional discussion on the original issue (https://github.com/Microsoft/vscode-python/issues/4991).

[2019-04-04 21:21] DonJayamanne opened #1313 "Debugging opens new all-lowercase file"
@whubbla commented on [Mon Apr 01 2019](https://github.com/Microsoft/vscode-python/issues/5049)

Issue Type: <b>Bug</b>

When I open a .py file, and set a breakpoint of StopOnEntry=True in launch.json, and start debugging, as soon as a breakpoint or initial stop is hit (or there's a runtime error), another tab opens with an all-lowercase version of the filename (it previously was a mix of lower an

[2019-04-04 21:22] DonJayamanne commented on #1313
@karthiknadig @int19h
Please check the logs, as you can see the data sent from VSC to the PTVSD contains the correct case, however when PTVSD replies back with the stack trace the case of the paths is changed, hence the issue.

[2019-04-04 21:37] #1307 closed

[2019-04-04 21:51] #582 closed

[2019-04-04 21:57] int19h commented on #1313
We do path case normalization, which on Windows has this effect. But the path is equivalent, in a sense that it still refers to the same exact file - VSC shouldn't treat it as distinct file, and should just show the existing tab for it, like VS does. As it is, it looks like VSC editor is not respecting pathname case-insensitivity on Windows at all, and I would argue that it's a bug.

Note that thi

[2019-04-04 21:57] #1294 closed

[2019-04-04 21:57] #1276 closed

[2019-04-04 22:07] DonJayamanne commented on #1311
@karthiknadig Could be a dup of https://github.com/Microsoft/ptvsd/issues/1297
Problems with Path mappings

[2019-04-04 22:23] DonJayamanne opened #1315 "Document new features on VSC Docs"
@karthiknadig You might want to check with Dan and get this feature documented on VSC Docs page if not already documented.
https://github.com/Microsoft/ptvsd/issues/1189#issuecomment-468406399

[2019-04-04 22:30] fabioz commented on #1298
Actually, that commit closes #1289 and not #1298.

[2019-04-04 22:32] int19h commented on #1296
It repros even without setting hit count, all you need is to set an expression, and then clear it. It looks like this doesn't change the breakpoint mode, so it ends up having an empty string as expression, which isn't valid Python.

This is reflected in the logs - here's what VSC sends after step 5 when you launch:
[code]

Note `"condition": ""`. From ptvsd end, the presence or absence of this att

[2019-04-04 22:39] DonJayamanne commented on #1313
Agreed, lets discuss with VSC. I've got a meta issue (https://github.com/Microsoft/vscode-python/issues/2976) going with issues related to path mappings and the like.

[2019-04-04 23:25] int19h opened #1318 "test_with_tab_in_output failure"
This is from an Azure test run on Linux and Python 2.7:
[code]
Looks like the buffered output didn't get flushed before the process terminated - at least there are no `output` events in the log other than the initial version telemetry.

No consistent repro for this, so filing for future reference.

[2019-04-05 00:20] int19h commented on #1278
There's a reverse issue there in that some tests are failing because they check the actual exit code of the process (via `DebugSession.expected_returncode`), and expect it to be non-zero, but it's incorrectly reported as zero. This is a test issue, though - we're not retrieving the exit code correctly in `DebugSession`.

[2019-04-05 03:29] karthiknadig commented on #1300
https://github.com/Microsoft/ptvsd/pull/1316

[2019-04-05 03:29] #1300 closed

[2019-04-05 10:44] fabioz commented on #1259
Just a wild guess, but you could try to add `DebugStdLib` to the `debugOptions` (see: https://code.visualstudio.com/docs/python/debugging) -- i.e.: if your project is under a folder that's considered part of the standard library this should make it hit the breakpoints.

[2019-04-05 10:50] fabioz commented on #1056
As a note, right now it's not possible to use the debugger for subprocesses on Linux on Python 2.7 because fork is not supported (I'm just guessing here, but if num_workers==0 makes it work, that's probably what's happening).

Related issue: https://github.com/Microsoft/ptvsd/issues/943

[2019-04-05 18:40] #1296 closed

[2019-04-06 09:15] yoon28 commented on #1056
I am using python 3.6 on Ubuntu 18.04 and has the SAME problem.

[2019-04-06 10:30] fabioz commented on #1056
On Python 3.6 you have to put the code below at the start of your code:

[code]

to set it not to use fork... can you try that to see if it fixes it for you?

[2019-04-07 04:13] karthiknadig commented on #1318
https://github.com/Microsoft/ptvsd/pull/1320

[2019-04-07 04:13] #1318 closed

[2019-04-08 09:26] yoon28 commented on #1056
WOW! It works!
Your solution completely resolves the problem. Thanks.

[2019-04-08 10:49] fabioz commented on #943
As a note for anyone using multiprocessing arriving here, on `Python 3` it's usually possible to add:

[code]

to the start of the program to make multiprocessing work (because that way multiprocessing will not use `fork`).

[2019-04-08 14:08] fabioz commented on #1313
Actually, the debugger tries to provide the path with the proper case back to VSCode (so, I'd like to get more info here)...

@whubbla, can you answer some things for me to try to diagnose why that's not working there? (I've tried changing the filename cases here and it seems to work for me and open the file with the correct case, even when the `.pyc` becomes stale and has a different case, so, pr

[2019-04-08 15:50] whubbla commented on #1313
@fabioz -

1. 3.7.1, build h8c8aaf0_6 from Anaconda
2. Q:\Jimmy\GitHub\GlobalData\EuropeCY2018\Sam\NationalSAMs.py
3. Q:\Jimmy\GitHub\GlobalData\EuropeCY2018\Sam\NationalSAMs.py
4. __file__ is: q:\Jimmy\GitHub\GlobalData\EuropeCY2018\Sam\NationalSAMs.py
norm_file_to_client: Q:\Jimmy\GitHub\globaldata\europecy2018\Sam\nationalsams.py
5. Yes, it is mapped to an Amazon EC2 location, which looks somet

[2019-04-08 16:24] fabioz commented on #1313
It seems that the problem is that the approach to get the real path (converting to a short path name and then back to a long path name) does not work properly with mapped paths (strangely some parts are correct and some are not).

I think the debugger could use a different method to determine the real path in this case (previously `ptvsd` used a different algorithm using `glob` to do that instead

[2019-04-08 16:26] DonJayamanne opened #1321 "Debugger breaks in the wrong place for no reason"
## Environment data

- PTVSD version: 4.2.6
- OS and version: Mac
- Python version (& distribution if applicable, e.g. Anaconda): PyOrg
- Using VS Code or Visual Studio: VSC

## Actual behavior

Debugger has stopped at a weird place

## Expected  behavior

* Add breakpoints in unit test code (python `unit tests`)
* Start debugging
* Debugger stops at some random location!

## Steps to reproduce:
*

[2019-04-08 17:22] fabioz commented on #1288
I investigated this and unfortunately there's not much to be done in the debugger side (although it could be fixed in the `probablepeople` side and possibly on Python itself).

So, what I found out is that the slowdown happens when `probablepeople` does: `from .ratios import ratios` -- the file imported (`probablepeople/ratios.py`) appears to have just a giant dictionary literal with more than `15

[2019-04-08 17:22] #1288 closed

[2019-04-08 17:27] fabioz commented on #1288
@fabiosangregorio As a note, as a workaround you could launch externally and use the remote debugger (https://code.visualstudio.com/docs/python/debugging#_remote-debugging) and connect programatically (as you'd do with `pdb`) to avoid that initial slowdown.

[2019-04-08 17:43] DonJayamanne opened #1322 "Expanding big objects stops the debugger"
@Wooolab commented on [Fri Apr 05 2019](https://github.com/Microsoft/vscode-python/issues/5126)

## Environment data

- VS Code version: 1.33.0
- Extension version (available under the Extensions sidebar): 2019.3.6352
- OS and version: Ubuntu 18.04.2
- Python version (& distribution if applicable, e.g. Anaconda): 3.6.7
- Relevant/affected Python packages and their versions: GitLens, XMLTools

Hi f

[2019-04-08 17:43] fabiosangregorio commented on #1288
Thank you very much for investigating this issue. I might submit a PR to probablepeople if I can see major performance improvements in loading the data from a file.

[2019-04-08 17:44] int19h commented on #1321
I wonder if it has anything to do with break-on-entry being enabled?

This will almost certainly require ptvsd logs to properly diagnose, though.

[2019-04-08 17:45] quoctruong commented on #1297
@DonJayamanne, @karthiknadig, I can repro this issue with version 4.2.6 of `ptvsd` on VSCode version 1.33. It seems downgrading the VSCode version to 1.32.3 will actually fix the issue. So I think there's a bug in the integration between `ptvsd` and VSCode version 1.33.

[2019-04-08 17:48] karthiknadig commented on #1322
@fabioz is this same as #1301 ?

[2019-04-08 18:00] fabioz commented on #1322
@karthiknadig I think it is.

[2019-04-08 18:04] DonJayamanne opened #1323 "Debugger - ValueError: source code string cannot contain null bytes"
@felipecrp commented on [Sun Apr 07 2019](https://github.com/Microsoft/vscode-python/issues/5151)

## Environment data

- VS Code version: 1.33.0
- Extension version (available under the Extensions sidebar): 2019.3.6352
- OS and version: Windows 10
- Python version (& distribution if applicable, e.g. Anaconda):  3.7.3
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): pipe

[2019-04-08 18:05] DonJayamanne commented on #1323
FYI, I too was able to replicate this issue yesterday (flaky).

[2019-04-08 18:06] DonJayamanne opened #1324 "Why does vs code debug console break python print statements after visual studio code upgrade to v1.33?"
@alpmar commented on [Mon Apr 08 2019](https://github.com/Microsoft/vscode-python/issues/5154)

- VS Code version: 1.33.0 (just upgraded, issue was not present before upgrade)
- Extension version (available under the Extensions sidebar): Name: Python
Id: ms-python.python
Description: Linting, Debugging (multi-threaded, remote), Intellisense, code formatting, refactoring, unit tests, snippets, and

[2019-04-08 18:11] fabioz commented on #1323
This seems like some corrupted `.pyc` issue...

@felipecrp  can you try removing the `.pyc` files under `.vscode\extensions\ms-python.python-2019.3.6352\pythonFiles` to see if it fixes it for you?

[2019-04-08 18:22] karthiknadig commented on #1322
@Wooolab this should be fixed in the latest release of the debugger (ptvsd v4.2.7).

[2019-04-08 18:40] int19h commented on #1324
Can't repro this on either Mac or Windows. @DonJayamanne, does it repro for you?

[2019-04-08 18:55] int19h commented on #1232
This exact scenario should be working now with the most recent ptvsd. There are other issues that surface while trying to debug cells - e.g. stepping doesn't work on top level.

[2019-04-08 18:55] #1232 closed

[2019-04-08 19:06] int19h commented on #1321
Also, do you remember what the location of the source file with the breakpoint was? Is there any possibility that it was filtered out as stdlib?

[2019-04-08 19:14] fabioz commented on #1324
@int19h I can actually reproduce it here (only happens at the debug console, not when running the code).

![vscode_debug_print](https://user-images.githubusercontent.com/117621/55750143-0ec53c00-5a19-11e9-9742-20d84b0b367b.png)

[2019-04-08 20:22] int19h commented on #1324
You're right, I was looking at the wrong window.

Looking at ptvsd logs, it does return the correct sequence of output messages to VSC:
[code]

Note that there's only one `\n` here. The newline between 1 and 2 in the window is introduced in VSC. So I think this might be a regression in the original bug that is referenced from this one: https://github.com/Microsoft/vscode/issues/17526

[2019-04-08 20:41] int19h commented on #1313
We're going to discuss it with VSC.

Side note: the underlying issue doesn't even require debugging to repro. Try this on Windows from command line:
[code]
it opens two different tabs!

[2019-04-08 22:49] quoctruong opened #1325 "Remote Debugging does not show information in VARIABLES Panel on Linux."
## Environment data

- PTVSD version: 4.2.7
- OS and version: Linux x64 4.17.0-3rodete2-amd64
- Python version (& distribution if applicable, e.g. Anaconda): Python 2.7.16rc1
- Using VS Code or Visual Studio:
VSCode
Version: 1.32.3
Commit: a3db5be9b5c6ba46bb7555ec5d60178ecc2eaae4
Date: 2019-03-14T23:38:49.842Z
Electron: 3.1.6
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32

## Actual behavior

[2019-04-08 23:00] karthiknadig commented on #1325
Strange, in the logs i don't see a variables request from VSC.

[2019-04-08 23:13] quoctruong commented on #1325
Also here is the configuration I'm using:
[code]

[2019-04-09 00:05] int19h commented on #1325
I think that's because stack trace came back with no frames:
[code]

@quoctruong, can you please clarify where app.py is located inside that Docker container? Is it inside a package, by chance?

[2019-04-09 00:08] quoctruong commented on #1325
It's just inside `/app` folder. I was able to debug this on MacOS with the `VARIABLES` Panel populated.

[2019-04-09 00:46] felipecrp commented on #1323
I deleted the .pyc but it did not solved the problem. But I realized that there was two versions of ms-python on .vscode\extensions:
[code]
I deleted the old one and the debugger started working again.

[2019-04-09 02:12] int19h commented on #1325
I have a theory. In this case, path mappings are:
[code]

So when /app/app.py is mapped to VSC, it becomes /usr/local/google/home/quoct/cloudcode-projects/python-hello-world-1/src/app.py.

Looking at the code for `_iter_visible_frames_info` and `make_get_thread_stack_message`, it looks like the former translates the filename to client according to path mappings, and only after that the latter appl

[2019-04-09 02:16] #1323 closed

[2019-04-09 02:30] DonJayamanne commented on #1321
No it was off.

Nope.

Lines 33 and two others.

Basically these are some UI tests running on the CI server.
I'll enable logging and ensure the logs are attached with the errors if and when we have errors.

I'll check if we get this again. Either way it's a very interesting bug. As you can see it seems to have stopped due to a break point, that's what the message indicates - near stack Trace.

[2019-04-09 02:32] DonJayamanne commented on #1323
I to came across this issue.
I'll see if it can be replicated at my end with the latest ptvsd.

[2019-04-09 08:11] supertaz commented on #943
True, but incompatible with many basic use cases for multiprocessing.Pool and can lead to running out of memory pretty quickly due to recursive process spawning and unexpected memory usage patterns.  spawn() starts a new process with a full memory copy of the parent, which runs from the main entry point, whereas fork() splits off a process from the parent with only the context from the parent that

[2019-04-09 10:00] erasmusa commented on #1311
I have the exact same problem. Tried using ptvsd **3.0.0, 4.2.6** and **4.2.7**. After extensive troubleshooting trying out all manner off different values for the two path mappings I can report that it seems as if ptvsd just concatenates both path values.

I am running a Flask app in a docker container. I am exposing port 8000 for the Flask app as well as port 5678 for ptvsd. My app resides in /a

[2019-04-09 11:31] fabioz commented on #1311
I'll take a look at this.

[2019-04-09 12:30] fabioz commented on #1311
I've been able to reproduce this.

The problem I found is that if the `localRoot` set in the path mapping does not match the case of the file with the breakpoint exactly, things go awry.

This means that if the path mapping `localRoot` is set to something as the following on windows:

`"localRoot": "c:\my\folder"`

and later a breakpoint is sent as:

`"C:\my\folder\my_file.py"` (notice the differe

[2019-04-09 13:24] JoshuaC3 opened #1326 "ptvsd hangs until typing in the Debug Console then fails with thread_id as Nonetype"
## Environment data

- PTVSD version: 2019.3.6558
- OS and version: Ubuntu 16.04
- Python version (& distribution if applicable, e.g. Anaconda): Anaconda Python 3.6.5
- Using VS Code or Visual Studio: VSCode

## Actual behavior

The debugger hangs until you click in the Debug Console text entry box and start typing. At this point, the following error message appears:

[code]

## Expected  behavior

[2019-04-09 16:39] quoctruong commented on #1325
@int19h You are correct. If I moved my project into the `tmp` folder, it actually fixes the problem.

Is this an intended behavior or a bug in `ptvsd`? I feel like a lot of the projects are going to be stored in some folder in `/usr` or `/usr/local`.

[2019-04-09 17:29] luabud opened #1327 "Python debuggers sends extra newlines"
@isidorn commented on [Tue Apr 09 2019](https://github.com/Microsoft/vscode-python/issues/5173)

Latest insiders, latest python extension. Mac OSX
Original issue https://github.com/Microsoft/vscode/issues/71964

Have the following code:
[code]

Step over each line and notice how the python debugger after each output event sends an extra output event which contains only the newline.
Due to that the

[2019-04-09 17:32] karthiknadig commented on #1327
Same as #1324

[2019-04-09 17:32] #1327 closed

[2019-04-09 17:45] fabioz commented on #1324
As a note, it seems that this was reported to vscode and closed there as `caused-by-extension` (https://github.com/Microsoft/vscode/issues/71964).

[2019-04-09 17:55] int19h commented on #1325
It's definitely a bug. A regression, even:

https://github.com/Microsoft/ptvsd/blob/66bd05a7ce48c461809631f8b31262eee04e2a87/src/ptvsd/wrapper.py#L110-L120

[2019-04-09 18:34] int19h commented on #943
We're still actively working on code refactoring that is necessary for us to support fork properly. It's a tricky thing to get right, because of [issues it has with multi-threading](https://www.evanjones.ca/fork-is-dangerous.html) (orphaned locks etc), if it's not immediately followed by exec - and we use threads heavily in the debugger itself, so this applies even when debugging single-threaded p

[2019-04-09 19:00] int19h commented on #1324
@DonJayamanne, is there any logic on the extension side that connects `output` events to the debug console? Based on the log above, the problem reproduces even though the debugger is not sending any newlines other than the final one, so I'm curious what the referenced bug might be talking about.

[2019-04-10 00:08] karthiknadig opened #1329 "":undefined" in traceback"
## Environment data

- PTVSD version: 4.2.6
- OS and version: Linux
- Python version (& distribution if applicable, e.g. Anaconda): 3.6
- Using VS Code or Visual Studio: VSC

See traceback posted in #1326 for example.

[2019-04-10 01:26] karthiknadig commented on #1322
Please try with the latest VS Code python extension (v2019.3.6558). Reopen if this does not fix the issue.

[2019-04-10 01:26] #1322 closed

[2019-04-10 03:17] DonJayamanne opened #1330 "Normalize paths using `glob` or similar on Windows"
@int19h Please can we implement the less than ideal solution of using the `glob` or similar approach to normalize paths on Windows.
We'd like to ensure we have some form of a fix, as we're not too certain when we'd have a fix from VSC.
Yes, we're aware this won't fix all scenarios.

[2019-04-10 13:51] fabioz commented on #943
@supertaz I do agree with you that there may be caveats when changing `fork` for `spawn`, especially if you've a use-case optimized for it (so, thanks for that note and sorry if I didn't give the proper warnings before).

Although I'd also like to point that it's **very** easy to shoot yourself on the foot with `fork` unless you really do understand its pitfalls, so, I'd say my recommendation woul

[2019-04-10 14:15] fabioz commented on #1330
I'll take a look at this.

[2019-04-10 14:18] fabioz opened #1331 "DAP: use threadId as int32."
Right now the thread id in `pydevd` is a string and it's exposed in the protocol. We should change what goes in the protocol for an `int32`.

[2019-04-10 14:20] fabioz opened #1332 "DAP: wrapper still uses on_threads"
This could be forwarded when #1331 is done.

[2019-04-10 14:24] fabioz opened #1333 "on_source special cases should be ported to pydevd and it should use _forward_request_to_pydevd"
Note: `_forward_request_to_pydevd` should `send_error_response` when needed.

[2019-04-10 14:26] fabioz opened #1334 "on_stackTrace levels handling should be ported to pydevd"

[2019-04-10 14:28] fabioz opened #1335 "on_setBreakpoints line adjustment should be ported to pydevd"

[2019-04-10 14:29] fabioz opened #1336 "on_ptvsd_systemInfo should be ported to pydevd"

[2019-04-10 14:32] fabioz opened #1337 "on_setDebuggerProperty should be ported to pydevd"
Note: right now the current implementation in `wrapper` doesn't seem to work (so, it's probably not tested?) as it just changes the wrapper debug options and doesn't forward anything to `pydevd` (I think that right now all the code related to `just my code` is in `pydevd` already).

I see that there are some methods which are still in `wrapper` but are unused (i.e.: `_should_debug` and things that

[2019-04-10 14:37] fabioz opened #1338 "DAP: process creation event should come from pydevd"

[2019-04-10 14:37] fabioz opened #1339 "DAP: thread started/thread events exited should come from pydevd."

[2019-04-10 14:38] fabioz opened #1340 "DAP: on_pydevd_thread_suspend_single_notification should be ported to the DAP in pydevd"

[2019-04-10 14:40] fabioz opened #1341 "DAP: on_pydevd_thread_resume_single_notification should be thread continued event in pydevd"

[2019-04-10 14:41] fabioz opened #1342 "DAP: stop sending some events from pydevd"
- `on_pydevd_send_curr_exception_trace` should not be sent.
- `on_pydevd_send_curr_exception_trace_proceeded` should not be sent.
- `on_pydevd_get_breakpoint_exception` should not be sent.
- `on_pydevd_process_create` should not be sent.

[2019-04-10 14:42] fabioz opened #1343 "DAP: on_pydevd_set_next_statement response should come as a DAP response"

[2019-04-10 14:43] fabioz opened #1344 "DAP: on_pydevd_cmd_write_to_console2 should be ported to the DAP"

[2019-04-10 14:55] fabioz commented on #1220
Adding the `DAP pydevd` label as this is needed to make `pydevd` a different process.

[2019-04-10 17:11] fabioz commented on #1205
I was actually checking this and installed google drive stream and initially I couldn't replicate... digging a bit further, it seems that the only way I can replicate this is if the setting to disable short path name creation is disabled on windows (i.e.: https://support.microsoft.com/en-us/help/121007/how-to-disable-8-3-file-name-creation-on-ntfs-partitions).

Now given that this is a setting whi

[2019-04-10 17:11] #1205 closed

[2019-04-10 17:25] karthiknadig commented on #1336
I don't think this should be ported to `pydevd` this is specific to `ptvsd`, it is used to identify version of `ptvsd` running on remote or locally by Visual Studio.

[2019-04-10 17:25] #1336 closed

[2019-04-10 17:28] fabioz commented on #1336
@karthiknadig if the idea is running `pydevd` in a different process, then `pydevd` should answer that no? (at least I was thinking that `ptvsd` would work as the adapter which would run along `vscode`/`vs` and `pydevd` would then be run on the user process).

[2019-04-10 17:30] fabioz commented on #1297
This seems to be the same issue at: https://github.com/Microsoft/ptvsd/issues/1311, so, closing this one.

@quoctruong please take a look at the comment at: https://github.com/Microsoft/ptvsd/issues/1311#issuecomment-481231104 as it contains instructions on how to configure things so that it doesn't happen (while a final fix is not available).

[2019-04-10 17:30] #1297 closed

[2019-04-10 17:34] fabioz commented on #1313
As a note, the fix on the `ptvsd` side is being handled on: https://github.com/Microsoft/ptvsd/issues/1330 (not sure if this one should be closed or not).

[2019-04-10 17:39] karthiknadig commented on #1336
The main use of this one is in getting the adapter version (essentially `ptvsd` version), specifically to match the adapter host in VS with `ptvsd` for feature support. If we need additional system info, such as python that the user code is running on (after the split), we can add that to `pydevd` later. For now this is not needed.

[2019-04-10 19:30] fabioz commented on #1336
Got it.

[2019-04-10 20:04] DonJayamanne commented on #1313
You could also close #1330 instead. Up to you how you want to track your issues/work. I filled that as a reminder/request for a change/temp work around for this issue.

[2019-04-10 21:43] schperplata commented on #1189
@karthiknadig Is there a plan to support such cases ```where the library uses native thread APIs (Kernel32!CreateThread, pthread_create, etc) instead of the python threading APIs.``` by default, or is this just the way it is going to be (or can't be different)?

Thanks for your solution anyway.

[2019-04-10 22:41] DonJayamanne opened #1345 "Kill sub process when stopping parent process"
Apologies if this is a duplicate, basically we need the debugger to kill all child processes when stopping the parent `launched` process.

[2019-04-10 23:02] karthiknadig commented on #1189
We have plans to support native threads. We have not gotten around to it yet :)
https://github.com/Microsoft/ptvsd/issues/305

[2019-04-11 01:03] #1311 closed

[2019-04-11 01:15] karthiknadig commented on #1092
Since we have individual work items we should track using those.

[2019-04-11 07:23] KestutisMa commented on #428
Thanks! ;-) probably it would be useful to add that in Python extension documentation or tutorial.

[2019-04-11 09:43] zvictor commented on #1326
I am having the same on Mac. I commented out my whole `settings.json` to be sure it was not a problem connected to any of my personal settings and the problem persisted.

@karthiknadig  Issue #1329 did not affect me:

[code]

[2019-04-11 13:47] fabioz commented on #1326
I haven't been able to reproduce, but looking at the code it seems that in `on_completions_request`, `py_db.suspended_frames_manager.get_thread_id_for_variable_reference` could return `None` as the `thread_id` if the `frame_id` is no longer valid (so, we should at least check if that's the case and return an error instead of showing an exception).

[2019-04-11 14:32] ohlr opened #1348 "Django 2.2: request.get() throws exception although it is in a try except block"
## Environment data

- OS and version: Ubuntu 16
- Python version (& distribution if applicable, e.g. Anaconda): 3.6
- Django version: 2.2
- Using VS Code or Visual Studio: VS Code

[code]
launch.config:
[code]

my code:
[code]

## Actual behavior

## Expected  behavior

works fine with `python manage.py runserver` used to work with the debug console too

[2019-04-11 17:35] brettcannon opened #1349 "No possibility to remote debug on folders mounted through WinSSHFS"
@filipski commented on [Wed Apr 10 2019](https://github.com/Microsoft/vscode-python/issues/5193)

Copy from https://github.com/Microsoft/vscode/issues/72070 where it was suggested it's an extension issue, so I guess it's the vscode-python causing the problem.

Issue Type: <b>Bug</b>

Up until today morning, remote debugging on Python with ptvsd was working fine. Then I got 1.33 update and none of

[2019-04-11 17:39] fabioz commented on #1349
@filipski This is a duplicate of https://github.com/Microsoft/ptvsd/issues/1311.

Please see the comment: https://github.com/Microsoft/ptvsd/issues/1311#issuecomment-481231104 for details on how to specify the `remoteRoot` properly so that this doesn't occur.

[2019-04-11 17:39] #1349 closed

[2019-04-11 19:09] fabioz commented on #1326
As a note, I've been able to reproduce in a test case when it asks for completions of a frame which is no longer paused (so, it may be a race condition -- which we should account for).

[2019-04-11 19:13] DonJayamanne commented on #1311
Can't we somehow try to do this on behalf of the user.
I don't think issues will try the workaround. They just might give up.

E.g.  piggy back to editor via an event or the like, along the editors for more information if necessary... Horrible workaround, basically thinking out loud to solve on behalf of user..
@karthiknadig /cc

[2019-04-11 19:20] fabioz commented on #1311
@DonJayamanne this is already fixed in the master branch (in: https://github.com/Microsoft/ptvsd/commit/9ec0b7afad40d964f862192e0a38eba779d3bc52).

I'm not sure why this is happening so much now. My guess is that VSCode previously passed the drive with the same case for breakpoints and for the `${workspaceFolder}` variable, but from recent reports this doesn't seem to be the case.

[2019-04-11 19:55] DonJayamanne opened #1350 "Giving error while importing webdriver from selenium"
@maazhussaini commented on [Tue Apr 09 2019](https://github.com/Microsoft/vscode-python/issues/5175)

DevTools listening on ws://127.0.0.1:59339/devtools/browser/32428de5-5c5f-48dd-a12d-b792b479158a
[code]

[2019-04-11 21:45] karthiknadig commented on #1274
User closed this issue. https://github.com/Microsoft/vscode-python/issues/4991#issuecomment-481232595

[2019-04-11 21:45] #1274 closed

[2019-04-12 08:10] xiaofeng0123 opened #1353 "Cannot continue to debug for conditions breakpoint when pressing F11 several times with Python2.7 env"
VS Version: 16.1.0 Preview 2.0 [28811.223.d16.1stg]
Python Tool Version: 16.1.19098.1

Repro step:
1.Create python application
2.Type code in default .py file
      Repro step:
1.Create python application
2.Type code in default .py file
[code]
3.Intall the latest ptvsd in Python2.7 environment
4.Set a conditions breakpoint, hover on red dot and click breakpoint setting
![image](https://user-images

[2019-04-12 18:06] pjm4github commented on #314
Now seeing this problem in pandas when I'm stopped in the debugger in PyCharm.
In[4]: pd.__version__
Out[4]: '0.24.2'

 Exception ignored in: <generator object _trim_zeros.<locals>._cond.<locals>.<genexpr> at 0x000001470534F570>
Exception ignored in: <generator object _trim_zeros.<locals>._cond.<locals>.<genexpr> at 0x000001470534F308>
Exception ignored in: <generator object _trim_zeros.<locals>._

[2019-04-13 02:32] #1330 closed

[2019-04-13 02:32] #1334 closed

[2019-04-13 09:44] agalazis opened #1354 "I can't debug code in 3rd party libraries installed via pip"
## Environment data

- PTVSD version: 4.2.5
- OS and version: uname -a 'Linux thinkpadx260.local 5.0.5-200.fc29.x86_64'
- Python version (& distribution if applicable, e.g. Anaconda): 2.7
- Using VS Code or Visual Studio: Vs Code 1.33

## Actual behavior
I can't debug code in  3rd party libraries and crashes in libraries are not made available to the debugger when raised or uncaught exceptions are

[2019-04-13 10:49] fabioz commented on #1354
This was actually a fix in the debugger in the latest version (exceptions handling was not respecting the flag to debug the standard library or not -- the default is not to debug the standard library).

As in your case you want to debug the standard library, please add `DebugStdLib` to `debugOptions` in your launch configuration.

See: https://code.visualstudio.com/docs/python/debugging for more d

[2019-04-13 10:49] #1354 closed

[2019-04-13 20:00] filipski commented on #1349
Thanks for the link, I confirm than setting manually localRoot to a path with proper casing instead using `${workspaceFolder}` works around the problem. I hope that the original issue will be fixed soon, too. It's simply easier not to have to set this manually.

[2019-04-13 20:05] filipski commented on #1311
Thanks for working on this?
According to https://github.com/Microsoft/vscode/issues/72070#issuecomment-481913677 you should probably file a bug against VSCode.

BTW, when current workaround will be available in the ptvsd release?

[2019-04-14 15:34] agalazis commented on #1354
Thank you for your response. I have just checked it and it works.

[2019-04-15 11:30] #1326 closed

[2019-04-15 12:20] fabioz opened #1355 "Make sure that get_file_type is not called until configurationDone is called."
- [ ] Set ignore patterns in handle launch/attach (see comment in wrapper about this issue)
- [ ] Forward setDebuggerProperty request to pydevd
- [ ] Remove `dont_trace_external_files` usage from wrapper.
- [ ] Ensure settings set setDebuggerProperty are applied

[2019-04-15 12:31] fabioz commented on #1355
It seems that `ptvsd.attach_server.break_into_debugger` calls `get_file_type` to discover which frame it should stop into.

[2019-04-15 13:15] karthiknadig commented on #1355
Break into debugger should be blocked until configurationDone is called on ptvsd. You are right this is another integration point that will need custom protocol support.

[2019-04-15 13:44] fabioz commented on #1355
The frame is used as the last thing when attaching, so, I think that accepting a callable for the frame that's computed on demand may be enough here (I'm checking that now).

[2019-04-15 14:19] fabioz commented on #1355
@karthiknadig I'm actually having many other failures after I integrated my latest changes into the master (because `_forward_request_to_pydevd` is now sending `success=False` on `pydevd` failures which it wasn't doing properly before).

So, I'm still investigating as it's not only `test_breakpoint_function` which seems to be breaking now (so, the change I proposed is not enough -- still investiga

[2019-04-15 16:14] fabioz commented on #1355
@karthiknadig investigating more it seems that besides the problem with `get_file_type` being called on `ptvsd` on `break_into_debugger` (for which I've done a fix at: https://github.com/fabioz/ptvsd/commit/2fb2f574f1734441c52f10d033edb531ad88dedd),  `PyDB.ready_to_run` (which is the flag in `pydevd` which says that everything is setup) is being set to True before `configurationDone`.

`get_file_t

[2019-04-15 16:33] fabioz commented on #1353
From the log, the requests/responses seem ok, the one thing that doesn't seem correct is that in the last message the debugger says that there are `"totalFrames": 2`, but then only returns 1 frame in `"stackFrames"` (so, maybe this is making `PTVS` misbehave).

[code]

[2019-04-15 16:39] fabioz commented on #1353
Actually, PTVSD passed `"startFrame:0"` and `"levels:1"`, so, it seems correct that only 1 frame returned (in which case things seem correct on the `ptvsd` side.

@karthiknadig do you see some issue there?

[2019-04-15 16:41] fabioz commented on #1350
@maazhussaini can you give more details? From the stack trace this doesn't seem like there's anything actually caused by `ptvsd`.

[2019-04-15 16:45] fabioz commented on #1348
@ohlr sorry, I didn't really understand what the issue is... Is that `Exception has occurred: ConnectTimeout` shown in the console or is it a caught exception? Can you show a screenshot to make things clearer?

[2019-04-15 16:48] fabioz commented on #1313
This should be fixed in master (in the `ptvsd` side) by https://github.com/Microsoft/ptvsd/commit/69a76244bf3a3780d8f25dbc4f8adf346aa0692a.

[2019-04-15 16:48] #1313 closed

[2019-04-15 16:57] ohlr commented on #1348
` EC2_PRIVATE_IP = requests.get('http://169.254.169.254/latest/meta-data/local-ipv4', timeout=0.01).text
`

[code]

[2019-04-15 16:58] ohlr commented on #1348
this error does only occur with the vs-code debugger. It does not apear with `python manage.py runserver`

[2019-04-15 17:37] fabioz commented on #1348
Have you tried raising the timeout? It's somewhat expected that the debugger will change the speed of your program...

[2019-04-15 17:41] fabioz commented on #1348
Another thing, do you by any chance have some sort proxy enabled?

Also, have you checked if your environment variables when running from vscode match the one you have in the shell? (it's possible that you have different settings in your program depending on those)

[2019-04-15 17:42] DonJayamanne opened #1356 "variable not updating in debug pane when using debug console"
@asaflotz commented on [Sun Apr 14 2019](https://github.com/Microsoft/vscode-python/issues/5250)

## Environment data

- VS Code version: 1.33.3
- Extension version (available under the Extensions sidebar): 2019.3.6558
- OS and version: linux ubuntu 16.04
- Python version (& distribution if applicable, e.g. Anaconda): python 3.6
- Type of virtual environment used (N/A | venv | virtualenv | conda |

[2019-04-15 17:43] DonJayamanne opened #1357 "Exception when debugging code with multiprocessing module"
@hubitor commented on [Sun Apr 14 2019](https://github.com/Microsoft/vscode-python/issues/5251)

## Environment data

- VS Code version: 1.33.1
- Extension version (available under the Extensions sidebar): 2019.3.6558
- OS and version: Arch Linux (x64 4.19.34-1-lts)
- Python version (& distribution if applicable, e.g. Anaconda): 3.6.2 (Anaconda 3-.5.0.0)
- Type of virtual environment used (N/A | v

[2019-04-15 17:51] ohlr commented on #1348
increased timeout to 5s nothing changes

environment should be the same, both times I use my conda environment

did you try to reproduce?

[2019-04-15 17:52] fabioz commented on #1228
It seems that the issue is that multiprocessing is using `fork` in this scenario (this is being tracked in https://github.com/Microsoft/ptvsd/issues/943, so, I'm closing this one as a duplicate).

Unfortunately it seems that in the example given `fork` is required for the program to work, so, to debug in this scenario, you need to use programmatic breakpoints in the child process which has been sp

[2019-04-15 17:52] #1228 closed

[2019-04-15 17:54] fabioz commented on #1046
This issue (supporting fork in the debugger) is being tracked in https://github.com/Microsoft/ptvsd/issues/943, so, closing this one as a duplicate.

[2019-04-15 17:54] #1046 closed

[2019-04-15 17:55] fabioz commented on #1056
It works because instead of having multiprocess use `fork` to create a new process (which is still not supported by the debugger), it creates a new (clean) process (which is supported by the debugger).

This issue (supporting fork in the debugger) is being tracked in https://github.com/Microsoft/ptvsd/issues/943, so, closing this one as a duplicate.

[2019-04-15 17:55] #1056 closed

[2019-04-15 17:58] fabioz commented on #1357
@hubitor
@cspwizard

This issue (supporting fork in the debugger) is being tracked in https://github.com/Microsoft/ptvsd/issues/943, so, closing this one as a duplicate.

Please see: https://github.com/Microsoft/ptvsd/issues/943#issuecomment-480782087 for a possible workaround (it may or may not work depending on your use-case).

[2019-04-15 17:58] #1357 closed

[2019-04-15 18:06] fabioz commented on #1348
Yes (although I tried with `google.com` as I don't have access to the ip you're using).

When I do:

[code]

it always times out, but raising the timeout (or not passing it), makes it work (but I have the same behavior in the shell or from vscode and I can't really envision how the debugger could be affecting that other than having things working a bit slower than without the debugger).

If you do

[2019-04-15 18:10] karthiknadig opened #1358 "'set next statement' does not work when 'continued' event is sent on VS"
Looking at tests there are very few places where we make use of `continued` event. We should use env variable to trigger sending `continued` event for testing purposes.

[2019-04-15 18:15] ohlr commented on #1348
"I don't have access to the ip you're using" - me neither, the code is only supposed to get the `EC2_PRIVATE_IP` in production thats why there is the try except statement, but the debugger seems to ignore it. Instead of executing `pass` it throws an exception.

This was not the case in previous releases that's why I think it's a bug.

What do you mean with plain run?

[2019-04-15 18:32] karthiknadig commented on #1357
![image](https://user-images.githubusercontent.com/3840081/56156320-e0dc7c00-5f71-11e9-9947-ea25f8933cc4.png)

[2019-04-15 18:34] fabioz commented on #1325
I actually tried to remove ```sys.prefix, sys.base_prefix and sys.real_prefix```, but in this case the `ci` started failing lots of things: https://travis-ci.org/fabioz/ptvsd/jobs/520402771 (properly, because it's using the system python which has many things in `/usr/lib` and `/usr/local` and should not be traced unless we ask to debug system libraries).

So, I'm on a bit of a stalemate because a

[2019-04-15 18:56] int19h commented on #1325
The old code in wrapper.py (linked from the comment above) specifically retrieved site-package paths via the `site` module, which should take care of stdlib proper.

The main problem with /usr is that /usr/home is not an uncommon alias for /home (usually the latter being symlinked to the former) for historical reasons. On FreeBSD, it's still the default, although it shouldn't matter there, because

[2019-04-15 19:00] fabioz opened #1359 "DAP: pathMappings should be passed to pydevd in launch request and not through pydevd_file_utils.setup_client_server_paths"

[2019-04-15 19:08] fabioz commented on #1325
On my Linux install, it seems that `sys.base_prefix`, `sys.real_prefix`, `site.getusersitepackages` and `site.getsitepackages` don't really exist (i.e.: trying to use them raises `AttributeError`).

The current code checks all those and checks for `site-packages` in the `sys.path`:

https://github.com/Microsoft/ptvsd/blob/master/src/ptvsd/_vendored/pydevd/_pydevd_bundle/pydevd_filtering.py#L149

F

[2019-04-15 19:33] int19h commented on #1325
`sys.base_prefix` and `sys.real_prefix` are missing on 2.x, that's expected.

But `site` specifically documents `getsitepackages` and friends on both 2.7+ and 3.2+, and the doc doesn't say anything about the possibility of them being missing, so I'm not sure why it would behave like that? The only other thing that I can find along these lines is this: https://github.com/pypa/virtualenv/issues/737

[2019-04-15 20:21] karthiknadig commented on #1358
This is needed to get VS to support Set Next Statement.

[2019-04-15 20:35] karthiknadig commented on #1345
We decided that this will be done by VSCode.

[2019-04-15 20:35] #1345 closed

[2019-04-16 02:23] karthiknadig opened #1361 "Step over a thread join hangs debugger"
@dpoole73 commented on [Mon Apr 15 2019](https://github.com/Microsoft/vscode-python/issues/5293)

## Environment data

- VS Code version: 1.33.1
- Extension version (available under the Extensions sidebar): 1029-3-6558
- OS and version: MacOS version 10.14.4
- Python version (& distribution if applicable, e.g. Anaconda): 3.7.3
- Type of virtual environment used (N/A | venv | virtualenv | conda | .

[2019-04-16 02:25] #1358 closed

[2019-04-16 02:25] #1361 closed

[2019-04-16 12:23] fabioz commented on #1325
It's really odd (it seems reality and docs don't match).

I printed those in the ci:

i.e.: https://travis-ci.org/fabioz/ptvsd/jobs/520726103

using the code:
https://github.com/fabioz/ptvsd/commit/43cc5900392bb55f6e9884b5e7c87bee4f08673f#diff-aa6900c2c853f5d08b5240c3538ba446R20

and I get on Python 2.7:

[code]

and on Python 3.7:

[code]

So, `getsitepackages()` and `getusersitepackages()` are n

[2019-04-16 12:35] fabioz commented on #1325
@int19h can you also print `sys.prefix`, `sys.base_prefix` and `sys.real_prefix` on your machine (I'm curious to see if there are things missing from `site.getsitepackages()` and `site.getusersitepackages()`).

-- as a note, we should probably also add that information to the logging to help us diagnose issues like that (will add this to the pull request).

[2019-04-16 13:02] fabioz commented on #1325
I've done the change but it's still not ok on the `pydevd` ci (which creates a virtualenv instead of using the one from the system).

What I have in this case is the following:

[code]

And I'm hitting breakpoints in files such as:

`/home/travis/miniconda2/envs/build_env/lib/python3.7/tokenize.py`

-- so, although `sys.prefix` is probably more generic than it should, I see no other way to get `/h

[2019-04-16 16:11] #1220 closed

[2019-04-16 16:40] karthiknadig commented on #1337
This has been ported with some items pending, (see #1355 for pending items)

[2019-04-16 16:41] #1337 closed

[2019-04-16 17:08] karthiknadig commented on #1215
Pydevd provides CLI handlers for the options set using `pydevd.apply_debugger_options` in `ptvsd.__main__`
[code]

[2019-04-16 17:08] #1215 closed

[2019-04-16 17:42] DonJayamanne opened #1364 "Debugger not debugging"
@JoanEliot commented on [Mon Apr 15 2019](https://github.com/Microsoft/vscode-python/issues/5296)

## Environment data

- VS Code version: 1.33.1
- Extension version (available under the Extensions sidebar): 2019.3.6558
- OS and version: Win 10 Pro 1809
- Python version (& distribution if applicable, e.g. Anaconda): 3.7.3 (v3.7.3:ef4ec6ed12, Mar 25 2019, 21:26:53
- Type of virtual environment used

[2019-04-16 17:50] karthiknadig commented on #1364
@JoanEliot Can you check and make sure you have only one python extension (`ms-python.python`) in the extensions directory?
`%USERPROFILE%\.vscode\extensions`

If so, can you check the python extension folder for log files?

[2019-04-16 17:57] fabioz commented on #1331
I'll start to take a look at this one.

[2019-04-16 18:02] karthiknadig commented on #1356
@DonJayamanne We don't get a new `variables` or `evaluate` request after executing debug console request. The DAP protocol does not provide a way to tell the IDE that there is a change in variables state and that it needs to issue a new variables request.

[2019-04-16 19:04] karthiknadig commented on #1353
@xiaofeng0123 we might need more detailed logs for this. Can you set PTVSD_LOG_DIR environment variable in your project? You can do that in the project settings. Set it to some directory, like `PTVSD_LOG_DIR=C:\logs`, ensure that `C:\logs` exists.

[2019-04-16 19:59] int19h commented on #1325
I believe Tox uses virtualenv internally, so on CI these would be expected.

Anyway, It looks like excluding `sys.prefix` breaks things in more scenarios than excluding it. And as you have said, if this filtering is done after path mapping, then this particular scenario would "just work"; and there's `debugStdLib` as an imperfect workaround.

I'm still curious as to the proper way to determine the

[2019-04-16 21:37] #1325 closed

[2019-04-16 21:44] kerbrose commented on #938
got an error almost the same when remote debugging an app inside a docker image
ptvsd/wrapper.py", line 311, in to_pydevd
    return self._vscode_to_pydevd[vscode_id]
realized the difference between the line numbers of your post and mine. the reason was ptvsd module of the docker was 4.2.2 however the latest was 4.2.7 so I just upgraded the ptvsd module & it works fine now.
thanks to ptvsd team

[2019-04-17 00:12] JoanEliot commented on #1364
@karthiknadig There's only one python extension in the extensions folder, though I recall removing an empty folder with an old version number yesterday or maybe the day before, when I was trying to fix the problem myself.

One point to add is that I am running VSC in "portable mode" per the official instructions on doing so--again, that worked fine in the past--so my extensions are in a subfolder

[2019-04-17 00:22] int19h commented on #1364
Note the lowercase `i:\` in the various paths in the logs. Looks like it might be another manifestation of #1311?

[2019-04-17 00:31] brettcannon commented on #1325
https://docs.python.org/3/library/sysconfig.html#installation-paths, otherwise wherever `os.__file__` points to.

[2019-04-17 02:00] xiaofeng0123 commented on #1353
@karthiknadig Attachment is the log of PTVSD.
[ptvsd-14244.log](https://github.com/Microsoft/ptvsd/files/3087610/ptvsd-14244.log)

[2019-04-17 08:42] manwithtwowatches opened #1365 "Debugger fails to connect to Flask app running in a Docker container"
## Environment data

- PTVSD version: 4.2.7
- OS and version: Ubuntu 18.04
- Python version (& distribution if applicable, e.g. Anaconda): 3.6.7
- Using VS Code or Visual Studio: VS Code

## Actual behavior

I am trying to debug a Flask app running in a Docker container using ptvsd. This was successful when running the app locally not in a Docker container using the following lauch.json:

[code]

[2019-04-17 15:03] fabioz commented on #1340
This is a requisite for https://github.com/Microsoft/ptvsd/issues/1331

[2019-04-17 16:44] JoanEliot commented on #1364
@int19h, @DonJayamanne, @karthiknadig: I note with appreciation the concern expressed for users in various comments in #1311. I'm unfamiliar with the configuration settings referred to in the workaround for that manifestation (having to do with localhost etc). If that workaround approach is likely or reasonably possibly to be helpful for me, I would very much appreciate guidance in how to apply it

[2019-04-17 17:49] karthiknadig commented on #1365
@manwithtwowatches Can you try the following? Use `0.0.0.0` instead of `localhost` as ptvsd host. You can still connect to it as `localhost`. Make sure that the port is mapped externally, ie. your `docker run` should have `-p 5678:5678`.
```python3 -m ptvsd --host 0.0.0.0 --port 5678 app.py```

If the above does not work, then:
Use `logToFile` in your launch/attach configuration. This will create

[2019-04-17 17:49] DonJayamanne opened #1366 "Debugger fails to connect to Flask app running in a Docker container"
@manwithtwowatches commented on [Wed Apr 17 2019](https://github.com/Microsoft/vscode-python/issues/5325)

## Environment data

- VS Code version: 1.33.0
- Extension version (available under the Extensions sidebar): 2019.3.6558
- OS and version: Ubuntu 18.04
- Python version (& distribution if applicable, e.g. Anaconda): 3.6.7
- Type of virtual environment used (N/A | venv | virtualenv | conda | .

[2019-04-17 17:56] karthiknadig commented on #1366
Same as #1365

[2019-04-17 17:56] #1366 closed

[2019-04-17 17:58] karthiknadig commented on #1365
Extension copy of the same issue. https://github.com/Microsoft/vscode-python/issues/5325

[2019-04-17 18:09] karthiknadig commented on #1071
This is fixed. In cases such as `dataclass`, step-over should work. For step-in/out cases we currently show a temp file with message saying that we couldn't retrieve sources. IDE should not show `File Not Found` for those cases.

[2019-04-17 18:09] #1071 closed

[2019-04-17 18:26] karthiknadig commented on #1348
@ohlr `Ctrl-F5` in VSCode should run this in no-debug mode, but it will still use the same infrastructure to launch and run your code.

[2019-04-17 18:31] ohlr commented on #1348
Okay, with that it works. However, shouldn't the debugger understand a `try except`-statement ?

[2019-04-17 18:35] fabioz commented on #1348
@ohlr... you mean it pauses in the debugger at that point?

That actually seems correct if you have the `Raised Exceptions` checked in the `breakpoints` section as you'd be asking the debugger to stop at any raised exceptions even if it was handled (there were fixes related to that in the latest releases, and if it's just pausing in the debugger that behavior seems correct in this case).

-- if yo

[2019-04-17 18:43] ohlr commented on #1348
Can you tell me where I find the `breakpoints` section?

[2019-04-17 18:47] karthiknadig opened #1367 "If debugger cannot show source when we step-in it should step-over"
This was feedback during demo. Basically, in cases like `dataclass` where users can step into an operation where the source does not exist, we should step-over. In the future we can provide un-compiled source, or byte code?

[2019-04-17 18:59] fabioz commented on #1348
Sure:

![breakpoints](https://user-images.githubusercontent.com/117621/56313724-b2a19c80-6129-11e9-9e5a-4821a7f18bc9.png)

[2019-04-17 19:01] ohlr commented on #1348
Thank you guys - it was checked - so it was not a bug but a feature that have been added with the latest release. Sorry for wasting your time!

[2019-04-17 19:01] #1348 closed

[2019-04-17 22:36] Anapo14 opened #1368 "Sprint Triage"
Placeholder for triaging.

[2019-04-17 23:06] #1315 closed

[2019-04-17 23:16] qubitron commented on #1365
Flask needs to be launched in a specific way for it to work with the debugger. I have a sample dockerfile here: https://github.com/qubitron/stackoverflow-flask/blob/dockerized/debug.Dockerfile

The run command I used is:
[code]

Could you try that?

[2019-04-18 04:05] DonJayamanne commented on #1324
Sorry didn't see this.

No.

Possible there's a regression in VS Code.
If it works at our end (PTVSD is doing the right thing and we can repro this), I'd say it's a regression in VSC and just file an issue upstream.

Please note, when filing an issue on VSC:
* Please mention the fact that it is NOT an extension issue
* Please provide logs

Again, if we're doing the right thing, please ping the tea

[2019-04-18 08:57] manwithtwowatches commented on #1365
Excellent, thanks! But could explain why this is necessary, given that I can connect without using flask run when the app is not running in a Docker container?

[2019-04-18 08:57] #1365 closed

[2019-04-18 13:27] zkl99999 commented on #1056
i also put  this code at the start of my code
`import multiprocessing
multiprocessing.set_start_method('spawn', True)`

but
File "/home/zhangkailin/anaconda3/envs/tfgpu12/lib/python3.6/multiprocessing/spawn.py", line 136, in _check_not_importing_main
    is not going to be frozen to produce an executable.''')
RuntimeError:
        An attempt has been made to start a new process before the

[2019-04-18 14:49] wizardkids opened #1371 "Extra line feeds in VS Code debug console"
Visual Studio Code 1.33.1
Windows-7-6.1.7601-SP1 AMD64
CPython 3.7.1 (64-bit)
ptvsd 4.2.7

This may be a repeat of or related to issue #489, but I don't think so. Since upgrading to VS Code 1.33.1, the debug console appears to be adding extra line feeds to output. For example, running a script where the following is the _only_ line of code:

print("I think", "I can.")

...prints in either the exte

[2019-04-18 16:10] karthiknadig commented on #1371
Same as #1324

[2019-04-18 16:10] #1371 closed

[2019-04-18 18:11] #1335 closed

[2019-04-18 18:26] karthiknadig opened #1372 "Stepping in multi-threaded case should continue other threads"
Current behavior: Stepping steps current thread but keeps the other threads paused. This should be optional behavior, enabled via a setting (temporarily). We plan on deprecating this behavior.

Expected Default behavior: Stepping steps in the current thread, and it should continue(resume) other threads. At the end of the steeping action in the current thread all threads are paused. This is the def

[2019-04-18 19:23] qubitron commented on #1365
The main difference is to bind to host 0.0.0.0 when running in the docker container.

In general you need to pass the --no-reload --no-debugger flags, which VS Code includes in its default flask debug configuration.

You may be able to do that without flask run, I'm not sure, this is just the solution I arrived at myself.

[2019-04-18 20:32] huguesv opened #1374 "Warning in ptvsd on python 3.8"
## Environment data

- PTVSD version: 4.2.8
- OS and version: win10
- Python version (& distribution if applicable, e.g. Anaconda): cpython 3.8.0a3 32-bit
- Using VS Code or Visual Studio: VS

## Actual behavior

Warning prints:
[code]

## Expected  behavior

No warning printed

## Steps to reproduce:
1. Start debugging a python console app

[2019-04-19 12:09] #1340 closed

[2019-04-19 20:09] m27315 opened #1375 "cannot step over, step out of, or continue from breakpoint on line with list comprehension"
## Environment data

- PTVSD version: `ptvsd==4.2.8`
- OS and version: `Gentoo`
- Python version: `Python 2.7.5`
- Using `VS Code`
[code]

Incidentally, I am debugging a "remote" app running inside a Docker container on my developer machine.  I don't think this is relevant, because I am able to connect, set breakpoints and step.  My only issue is the one represented here.

## Actual behavior

Afte

[2019-04-19 20:32] int19h commented on #1375
Note that this also happens for something like:
[code]

There are two different issues here, though.

The first one is the one that is described in that StackOverflow question, and it's about the meaning of step regardless of breakpoints (the question didn't involve any). Currently, it effectively treats step as "until next loop iteration", and it should arguably rather be "until next line".

The

[2019-04-19 22:10] m27315 commented on #1375
Understood.  I appreciate the distinction you have made. ... Yes, I agree with your point about consistency.

From an end-user perspective, I can imagine cases where I would want both.

If I had to choose one, I would prefer "step over statements", even though it is counter-intuitive to me and opposed to my typical workflow, simply because I have a workaround this way but not the other.

As a work

[2019-04-22 02:55] Biarys commented on #1364
@JoanEliot you can add breakpoint() before/after the line you wanna debug. More on this: https://code.visualstudio.com/docs/python/debugging#_invoking-a-breakpoint-in-code

[2019-04-22 04:44] DonJayamanne commented on #1321
**Happened again, unfortunately I forgot to configure the tests to capture the logs.
Will do so. Please leave this issue open.**

![download](https://user-images.githubusercontent.com/1948812/56483380-81ed9a00-647e-11e9-812f-33dd67570905.png)

[2019-04-22 04:47] karthiknadig commented on #1321
Can you give a list of all launcher files? I believe those should all be in no trace list, not just the exclude. Let me know if there is any reason the launcher file should be traced at all?

[2019-04-22 12:13] fabioz commented on #1375
As a note, right now we mostly use the line events that CPython itself provides (so, for instance, in the case where there are 2 prints in the same line, CPython only gives one line event and in the line comprehension, CPython provides multiple line events).

Related to the issue with 2 prints on the same line, `Ned Batchelder` does provides some tricks  (rewriting line numbers in the frame object

[2019-04-22 12:29] fabioz commented on #1341
Merged in: https://github.com/Microsoft/ptvsd/pull/1373

[2019-04-22 12:29] #1341 closed

[2019-04-22 15:51] #1374 closed

[2019-04-22 16:24] DonJayamanne commented on #1321
These are tests running on CI, I haven't enabled logging.
Will have to write code to turn it on, capture it and attach the files with the error.
Will get this done before filing another issue.

[2019-04-22 16:47] leonbrag opened #1377 "print does not produce output in VS Code"
## Environment data

- PTVSD version: Visual Studio Code with Python extension latest as ofr 4-21-19
- OS and version: Win10
- Python version (& distribution if applicable, e.g. Anaconda):  Python 3.7 32bit
- Using VS Code or Visual Studio:

## Actual behavior

I have print statement in Python code. Py file is executed in Visual Studio Code (latest version).

When executed under debugger (using Cn

[2019-04-22 17:42] DonJayamanne opened #1379 "Deal better with StackOverflow exception in CPython"
@Almenon commented on [Thu Apr 18 2019](https://github.com/Microsoft/vscode-python/issues/5375)

## Environment data

- VS Code version: 1.33.1
- Extension version (available under the Extensions sidebar): 2019.3.6558
- OS and version: Win 10
- Python version (& distribution if applicable, e.g. Anaconda): 3.6.4
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): N/A
- Relev

[2019-04-22 18:08] #1359 closed

[2019-04-22 18:35] karthiknadig commented on #1377
I am not able to repro it with 3.7, I tried both 32bit and 64bit python.
![image](https://user-images.githubusercontent.com/3840081/56517123-0973f100-64f1-11e9-9c37-f9286fdecc4f.png)
Can you set following environment variable to get the logs: `"PTVSD_LOG_DIR": "C:\\logs"`. You should be able to pass this in launch.json using `env`. Make sure that the logs directory exists.

There might be some rac

[2019-04-22 19:38] #1333 closed

[2019-04-22 20:40] karthiknadig commented on #1350
Please reopen when more details are available.

[2019-04-22 20:40] #1350 closed

[2019-04-22 20:42] karthiknadig commented on #1258
Please reopen if you feel this is still a debugger issue.

[2019-04-22 20:42] #1258 closed

[2019-04-22 20:43] karthiknadig commented on #1259
Please reopen when more details are available.

[2019-04-22 20:43] #1259 closed

[2019-04-22 23:48] karthiknadig opened #1381 "IndexError: pop from empty list"
[ptvsd-15112.log](https://github.com/Microsoft/ptvsd/files/3105235/ptvsd-15112.log)

[2019-04-22 23:57] int19h commented on #1381
This one is not a bug - note that the message in the log has `I` in the timestamp, i.e. it's informational. This is because we catch this exception, and wrap it in `EOFError` (which is also seen in the log), as part of the shutdown:

https://github.com/Microsoft/ptvsd/blob/master/src/ptvsd/ipcjson.py#L268-L280

https://github.com/Microsoft/ptvsd/blob/master/src/ptvsd/wrapper.py#L708-L715

[2019-04-23 00:16] karthiknadig commented on #1381
User reported this issue. I have asked them if this affect their run in any way. I will close it if it did not affect their run.

[2019-04-23 00:28] karthiknadig commented on #1381
User responded saying this does not affect their run. Will re-open if this blocks or causes actual issues during any run.

[2019-04-23 00:28] #1381 closed

[2019-04-23 12:55] fabioz opened #1382 "DAP: pydevd support for disconnect/reconnect."
- Upon reconnect, threads creation messages have to be sent back again.
- Messages shouldn't be sent anymore after disconnected.

[2019-04-23 17:30] DonJayamanne opened #1383 "Unhandled exception when remote debugging"
@lephuongbg commented on [Mon Apr 22 2019](https://github.com/Microsoft/vscode-python/issues/5424)

## Environment data

- VS Code version: 1.33.1
- Extension version (available under the Extensions sidebar): 2019.3.6558
- OS and version: Ubuntu 18.04
- Python version: Docker lambci/lambda:python3.6
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): venv

## Expected behav

[2019-04-23 17:43] karthiknadig commented on #1344
This is done, see:
https://github.com/Microsoft/ptvsd/blob/master/src/ptvsd/wrapper.py#L1761-L1764

[2019-04-23 17:43] #1344 closed

[2019-04-23 17:50] int19h commented on #1383
The failing line inside codeobject.c appears to be in a call to `_PyCode_SetExtra`, so this is probably triggered by the frame evaluator code somehow. Also, judging by the exact line number, this is Python 3.6.0 or 3.6.1, since later versions have moved things around a bit.

@lephuongbg, can you try doing this with `PYDEVD_USE_FRAME_EVAL` environment variable set to `NO` (note: case-sensitive)? Th

[2019-04-24 17:15] huguesv opened #1385 "Edit dictionary value hangs VS"
## Environment data

- PTVSD version: 4.2.8
- OS and version: Win10
- Python version (& distribution if applicable, e.g. Anaconda): 3.7
- Using VS Code or Visual Studio: VS

## Actual behavior

VS hangs when editing a dict value

## Expected  behavior

Value in dict is changed and watch window shows the new value

Note that it works when reverting to ptvsd 4.2.0

## Steps to reproduce:
1. Enter th

[2019-04-24 17:23] huguesv commented on #1385
FYI `Debug adapter process exited.` is because I hit cancel which ended the Python process.

[2019-04-24 17:28] huguesv commented on #1385
Arrays are also affected

[2019-04-24 18:57] int19h commented on #1385
This affects everything except for top-level variables (whether local or global) - e.g. object attributes are also affected. The underlying reason is that pydevd can't handle `setVariable` request for anything else:

https://github.com/Microsoft/ptvsd/blob/60da1fee417a7d37bec6e3628cd2eea4285432cf/src/ptvsd/_vendored/pydevd/_pydevd_bundle/pydevd_comm.py#L753-L758

Specifically, it only handles `Fra

[2019-04-24 20:37] karthiknadig commented on #1385
The way we had solved the list or dict edit before was by doing a evaluate/exec internally. The temporary workaround is to do that, manually.

@fabioz this should do evaluate or exec on the variable after retrieving its evaluateName. That is how we used to do this before it got moved to pydevd. this is only needed until the list/dict resolvers are updated to support setting values.

[2019-04-25 06:24] xiaofeng0123 commented on #1353
When I test on VS 16.1.0 Preview 3.0 [28824.243.d16.1stg] with python build 16.1.19113.1, I found it will cannot continue to debug for breakpoint when pressing F11 several times on python2.7.
Below is PTVSD log
[ptvsd-1692.log](https://github.com/Microsoft/ptvsd/files/3115438/ptvsd-1692.log)

Below is repro video:
![stopdebug](https://user-images.githubusercontent.com/41426540/56713947-d71ef980-67

[2019-04-25 12:32] Biarys commented on #1364
Also, I solved the problem on Windows 10 by disabling case sensitivity for the project folder as in https://wpdev.uservoice.com/forums/266908-command-prompt-console-windows-subsystem-for-l/suggestions/34400512-recursive-file-case-sensitivity

Note that disabling sensitivity on one folder only affects that folder and not subfolders.
Note 2: I had the same issue using PyCharm and VSCode.

[2019-04-25 13:36] fabioz commented on #1385
Will take a look at it.

[2019-04-25 20:55] karthiknadig opened #1387 "Stop on entry should return stopped reason as 'entry'"
This is needed to support F5/F11 scenarios in VS.

[2019-04-25 21:07] #1306 closed

[2019-04-27 14:18] agalazis commented on #1354
That config has also changed to `justMycode: false` recently

[2019-04-29 10:58] #1331 closed

[2019-04-29 17:40] DonJayamanne opened #1389 "Could not load source '<string>': Source unavailable."
@TurboCooler commented on [Thu Apr 25 2019](https://github.com/Microsoft/vscode-python/issues/5477)

Reproduced by doing the following:

Create an application using Flask
Create a Jinja Template
Create methods similar to the following
[code]

In your template, have something similar to this

[code]

The code executes fine outside of the debugger.  When using the debugger once it steps into the tem

[2019-04-29 18:38] karthiknadig commented on #1324
This is fixed in insiders version of VSCode:
![image](https://user-images.githubusercontent.com/3840081/56918610-50bf2c00-6a73-11e9-9a32-1713f7c4ce5b.png)

[2019-04-29 18:38] #1324 closed

[2019-04-29 18:45] #1339 closed

[2019-04-29 18:45] #1332 closed

[2019-04-29 18:53] #1343 closed

[2019-04-29 19:18] fabioz commented on #1385
As a note, my plan is to provide a pull request for this tomorrow.

[2019-04-29 20:36] karthiknadig commented on #1389
@TurboCooler I am not able to repro this locally. Can you provide more details about your environment? like python version, venv, launch config, etc. Anything that might be relevant.
- PTVSD version:
- OS and version:
- Python version (& distribution if applicable, e.g. Anaconda):

![image](https://user-images.githubusercontent.com/3840081/56924831-bb2b9880-6a82-11e9-9ab9-10be0edaaa0b.png)

when y

[2019-04-29 20:42] int19h commented on #1379
I can only repro it on 3.6 - 3.7 seems to be working fine.

And this is at least partially due to a bug in the library. Specifically:

https://github.com/Qirky/FoxDot/blob/81030bbe59a3fd4ad45296236bbccd8c79fc06c4/FoxDot/lib/Players.py#L2071-L2074

I'm not entirely sure how it hits the branch with the check for "players", since `__getattr__` should not be invoked when the attribute is directly pres

[2019-04-29 20:54] int19h commented on #1379
And here's how it gets there:
[code]
Crucially, this happens with or without debugger - even just running it from command line causes that. The only difference is that without the debugger, the exception is swallowed and not reported.

[2019-04-30 03:19] karthiknadig commented on #1249
This is fixed in the insiders VSCode:
![image](https://user-images.githubusercontent.com/3840081/56939215-031ae180-6abc-11e9-96a5-34049dbee5e3.png)

[2019-04-30 03:19] #1249 closed

[2019-04-30 17:31] fabioz opened #1392 "get_contents_debug_adapter_protocol from pydevd resolvers should use start/count from variables request."

[2019-04-30 17:32] #1385 closed

[2019-04-30 20:56] karthiknadig commented on #1247
Same as #1382

[2019-04-30 20:56] #1247 closed

[2019-05-01 14:30] TurboCooler commented on #1389
Unlike what you show in your picture, I cannot set a breakpoint in the Jinja file.

once I receive this error "Could not load source '<string>': Source unavailable."

I cannot step through it.  Below is my whole environment.

OS and version: Windows 10 Version 1809 (Build 17763.437)
python --version
Python 3.7.2

ptvsd 4.2.8

VS Code Env:
Version: 1.33.1 (system setup)
Commit: 51bOb28134d51361cfE6

[2019-05-01 17:41] int19h commented on #1389
Can you share the configuration from your launch.json that you are using to start debugging?

[2019-05-01 17:58] karthiknadig commented on #1389
Also, Can you share the extension you have installed? If you have any extension that applies to django/jinja2 specifically, try disabling it. That should allow you to set breakpoints.

[2019-05-01 18:21] TurboCooler commented on #1389
{
    // Use IntelliSense to learn about possible attributes.
    // Hover to view descriptions of existing attributes.
    // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Python: Flask Weather.py",
            "type": "python",
            "request": "launch",
            "module": "flask

[2019-05-01 18:23] TurboCooler commented on #1389
Visual Studio Code Extenstions Installed
MagicPython Version: 1.1.0
Python Version: 2019.4.12954 Publisher: Microsoft
Python Docs Version: 0.8.3
Python Extension Pack Version: 1.4.0
Python for VSCode Version: 0.2.3
Python Preview Version: 0.0.4
python snippets Version: 1.0.2
Jinja Version: 0.0.8

[2019-05-01 18:33] int19h commented on #1389
It looks like you have this extension installed, and it conflicts with built-in Jinja support in the Python extension:

https://marketplace.visualstudio.com/items?itemName=wholroyd.jinja

[2019-05-01 19:00] TurboCooler commented on #1389
What have installed is the same extension.  if I try to remove it tells me it cannot because it has a dependency on the extension pack.

The only thing I was thinking of doing is just removing ALL of the extensions and starting over adding them in again one by one.  Provided the extension is the issue.

[2019-05-01 19:33] DonJayamanne opened #1393 "Django static files never finish loading"
@holyoaks commented on [Tue Apr 30 2019](https://github.com/Microsoft/vscode-python/issues/5521)

## Environment data

- VS Code version: 1.33.1
- Extension version (available under the Extensions sidebar): 2019.4.11987
- OS and version: Mac OS 10.14.5 Beta (18F118d)
- Python version (& distribution if applicable, e.g. Anaconda): 3.6.3
- Type of virtual environment used (N/A | venv | virtualenv |

[2019-05-01 19:47] karthiknadig commented on #1389
You should be able to disable it, reload window. You shouldn't have to uninstall it.

[2019-05-01 19:50] karthiknadig commented on #1392
Note that this should only be supported if `supportsVariablePaging` is `true` in the `initialize` request.

[2019-05-01 19:51] karthiknadig commented on #1218
Discussed this offline.

[2019-05-01 19:51] #1218 closed

[2019-05-01 19:52] #1368 closed

[2019-05-01 20:00] TurboCooler commented on #1389
Unable to disable just one, there are dependencies.  All the dependencies have to be disabled at that point I might as well as uninstall and then reinstall

[2019-05-01 20:06] karthiknadig commented on #1218
This is the model we are heading towards. `ptvsd` will create a socket to which all instances of `pydevd` will connect to. `ptvsd` will then coordinate with VSC to create the adapter needed for the subprocess.
![image](https://user-images.githubusercontent.com/3840081/57039296-1be8db80-6c11-11e9-8671-6564664d65f5.png)

[2019-05-01 20:08] karthiknadig opened #1394 "Sprint Triage May 2019.1"

[2019-05-01 20:14] TurboCooler commented on #1389
I uninstalled and reinstalled and things are still not working.
As you can see from the image, it now attempt to debug on a commented out line.  I eventually get the same exact error.

![image](https://user-images.githubusercontent.com/28705640/57039879-ddace580-6c2b-11e9-872f-a32b77b34cd4.png)

[2019-05-01 20:45] karthiknadig commented on #1389
Can you add environment variable `"PTVSD_LOG_DIR": "<directory-to store-logs>",` to launch json? This should generate log file from the debugger. Please share the logs after removing any personal information.
[code]

It is strange that is not allowing you to step-out/over the file or place where you hit `'<string>': Source unavailable.`. The log files should help us understand what is going on.

[2019-05-01 20:55] TurboCooler commented on #1389
Enclosed is the log file but I have no idea what to look for in the file.

[ptvsd-19984.log](https://github.com/Microsoft/ptvsd/files/3136000/ptvsd-19984.log)

[2019-05-01 22:41] TurboCooler commented on #1389
I create a new Windows 10 VM in Hyper-V and installed all the patches to get to the same version as my laptop

I then did a clean install of Python and VS Code to the latest versions.
I then installed all my dependencies (e.g. Flask, etc.)
I installed a single VS Code Extension

Name: Python
Id: ms-python.python
Description: Linting, Debugging (multi-threaded, remote), Intellisense, code formattin

[2019-05-01 23:07] int19h commented on #1355
The reason why we're setting `ready_to_run` early is because it's currently the only way to unblock `pydevd.settrace()`, which is necessary for `enable_attach()` to return immediately rather than block waiting for connection. In tests, it doesn't make a difference because we always do `enable_attach` followed by `wait_for_attach` there, so if you move that assignment, it behaves the same. But ther

[2019-05-02 04:07] karthiknadig commented on #1389
Thanks for the logs. Looking through it, as far as i can tell, `source unavailable` occurs on `__new__` for `namedtuple__URLTuple` returned in `werkzeug.urls`. But as per the logs you stepped through that and the template rendering was complete. The template rendering thread then shuts down. For some reason with the same setup, I don't seem to hit that frame.

While I investigate further, you coul

[2019-05-02 12:48] fabioz commented on #1248
Note: it's not enough to simply not block (i.e.: skip the `ready_to_run` flag).

Due to https://github.com/Microsoft/ptvsd/issues/1355 what needs to be done is that the whole tracing may need to be skipped until a `configurationDone` is given through the `DAP` (which would signal that the `on_setdebuggerproperty_request` and any other pre-conditions are already set and internal -- immutable -- cac

[2019-05-02 12:49] fabioz commented on #1248
Note: starting to take a look at this item.

[2019-05-02 13:29] fabioz commented on #1355
Investigating, it seems it's reasonable to clear the caches which would be affected (so, `get_file_type` can be called at any time).

From what I could see, the caches are:

[code]

I'll go on and make this change. Note that I feel https://github.com/Microsoft/ptvsd/issues/1248 is a different item (will add some more comments there on some things which I think could go awry regardless of this issu

[2019-05-02 13:52] fabioz commented on #1248
Actually, I investigated the caches needed by `on_setdebuggerproperty_request` and added comments there (should be fixable by clearing the needed caches).

So, as far as things go, I think that if we ascertain that the configuration:

- `on_setdebuggerproperty_request`
- `on_launch` /`on_attach` (for path mapping and exclude filters)

is sent before breakpoints, things should work out by just maki

[2019-05-02 18:15] karthiknadig opened #1397 "Module name for templates is not set"
## Environment data

- PTVSD version: master
- OS and version: windows 10
- Python version (& distribution if applicable, e.g. Anaconda): 3.7
- Using VS Code or Visual Studio: VS

## Actual behavior

![image](https://user-images.githubusercontent.com/3840081/57096993-629b0c00-6ccb-11e9-9c96-04cdb9adefac.png)

## Expected  behavior

Should have either the name of the template or `template`.

## Ste

[2019-05-02 18:25] JoanEliot commented on #1364
@Biarys: Thanks for the input, but:
- on my system, since VSC/python broke, breakpoints don't work period--the program executes all the way to completion regardless of any breakpoints.
- fsutil shows my folders are already case insensitive.
From what I can tell the problem appears to be due to path problems with VSC/the python extension/their "upstream" dependencies, and isn't due to case sensitiv

[2019-05-02 18:47] karthiknadig opened #1398 "Generated code often leads to source unavailable"
Minimal repro, step into, with "justMyCode: true"
[code]

[2019-05-02 18:48] karthiknadig commented on #1389
We have an idea of what is going on here. I filed a separate bug with minimal repro, this is #1398

[2019-05-02 18:54] huguesv opened #1399 "Wait on abnormal exit doesn't wait if you raise ValueError"
## Environment data

- PTVSD version: latest master from today
- OS and version: win10
- Python version (& distribution if applicable, e.g. Anaconda): Python 3.7
- Using VS Code or Visual Studio: Visual Studio

## Actual behavior

Console window disappears

## Expected  behavior

Console window stays up. If you do the same with legacy debugger, it stays up.

## Steps to reproduce:
1. In tools/opti

[2019-05-02 19:07] int19h commented on #1399
It looks like we only treat `SystemExit` with non-zero exit code specifically as abnormal exit. So it doesn't cover the case where another exception is propagated all the way to the entry point.

Short-term, I think we should treat any exception that bubbles out to the entry point as an error. Unfortunately, it doesn't cover all cases - e.g. in attach scenarios we don't control the entry point at

[2019-05-03 14:03] SimeonRolev commented on #1326
This issue happens to me with 2019.4.12954 too. The only difference is that it does not break when I start typing something, but when I hit Enter.

[2019-05-03 14:13] fabioz commented on #1326
@SimeonRolev

Can you provide the stack trace?

A recent commit (https://github.com/Microsoft/ptvsd/commit/e44dc09f574bf7f7a4ca34d514207a0e5253b344) fixed another issue where the thread id could be none evaluating expressions -- which I think could be the culprit in your case (same issue in a different place -- but should be fixed in master already).

[2019-05-03 14:20] SimeonRolev commented on #1326
[code]

[2019-05-03 14:33] fabioz opened #1401 "on_evaluate_request must handle case where thread_id is None."
See: https://github.com/Microsoft/ptvsd/issues/1326#issuecomment-489111943 for details.

[2019-05-03 14:34] fabioz commented on #1326
Actually, this one is not fixed (it's in a different place: `on_evaluate_request`).

Created: https://github.com/Microsoft/ptvsd/issues/1401 to deal with that as it's similar but not the same thing.

[2019-05-03 17:58] karthiknadig commented on #1321
@DonJayamanne do you have any updates on this? In either case can you answer my question, it shouldn't require logs to get the answer for that.

[2019-05-03 19:39] Red-Five commented on #1364
I have same issue, not stopping at breakpoints.
Environment:
Extension version: 0.0.8
VSCode version: 1.33.1
OS: Linux

Version: 4.2.8
Location: /usr/local/lib/python2.7/dist-packages

[2019-05-03 19:43] karthiknadig commented on #1364
@Red-Five If you want to debug files in `/usr/local/lib/python2.7/dist-packages` try setting `justMyCode: false` in your launch.json.

[2019-05-03 19:49] Red-Five commented on #1364
@karthiknadig I removed that info to avoid confusion;

Remote docker location
/${APP}

Local dev location
/home/${USER}/${APP}

I forgot to mention this is running in docker on Google Kubernetes Engine if that's relevant.

[2019-05-03 19:53] karthiknadig commented on #1364
Can you share your launch json configuration?
On a side note for development in docker you may also want to try this:
https://devblogs.microsoft.com/python/remote-python-development-in-visual-studio-code/

[2019-05-03 19:57] Red-Five commented on #1364
@karthiknadig All details here: https://github.com/Red-Five/google-cloud-code-forseti-security/wiki

{
    // Use IntelliSense to learn about possible attributes.
    // Hover to view descriptions of existing attributes.
    // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
    "version": "0.2.0",
    "configurations": [
        {
            "type": "cloudcode",

[2019-05-03 20:03] karthiknadig commented on #1364
The debugger expects local and remote root mapping via path mappings. This is a typical attach configuration:
[code]
The above "." for remote assumes that you want to map your workspace directory in VSCode to the working directory in the process where `ptvsd` is running. If that is not the mapping you want, then replace `localRoot` and `remoteRoot` as needed.

[2019-05-03 22:23] DonJayamanne commented on #1321
We're excluding all files in the extension directory. Hence launcher is excluded.

What's the difference. I didn't know there were two separate lists!

[2019-05-03 22:25] int19h commented on #1393
This requires a recent Django version to repro, but reproduces equally on Windows and Mac. It is also browser-dependent: Edge will not repro, but Chrome, Safari and Firefox will.

It is not a debugger bug. As @ypapouin noted, it reproduces if you start the server directly from command line without VSCode involved at all, so long as `--nothreading` is specified.

I believe this is a manifestation o

[2019-05-03 22:31] int19h commented on #1393
Also of note: our [Django tutorial](https://code.visualstudio.com/docs/python/tutorial-django) mentions this same issue:

However, this is the only place anywhere in the documentation that talks about it. It is not mentioned on the main documentation page for the debugger, even though it talks about Django, and uses `--nothreading`. In the tutorial, this was added per #2303. Judging by the date on

[2019-05-03 22:32] DonJayamanne commented on #1393
Will remove that argument in the extension. Thanks

[2019-05-03 22:32] karthiknadig commented on #1321
The rules define filters when an event like exception, step, etc. occurs. If the files are excluded then those events are ignored until the event occurs in a file that is included. With no trace, there won't be any event, those frame won't have tracing set on them. This is how we set the debugger files to never show up anywhere.

[2019-05-03 22:34] DonJayamanne commented on #1321
So the no Trace last would be an internal implemention, not something users would want to set themselves

[2019-05-03 22:34] karthiknadig commented on #1321
Correct.

[2019-05-04 00:23] holyoaks commented on #1393
Thanks all of you. I love VS Code and am glad to see the continuous improvement in the codebase.

[2019-05-04 10:55] chip-edw commented on #1324
why would you close this when you are still providing a broken download with no instructions to correct?

[2019-05-04 17:16] karthiknadig commented on #1324
@chip-edw It is fixed in insiders build of vscode. This is was not a bug in `ptvsd`. You can download that here. https://code.visualstudio.com/insiders/

[2019-05-04 23:39] int19h commented on #1324
In general, we follow the standard GitHub issue flow, whereby bugs are marked as resolved and closed once the commit that fixes them is in the master branch of the main repository. In most cases, this is [done automatically by GitHub itself](https://help.github.com/en/articles/closing-issues-using-keywords) based on commit messages in pull requests. For issues reported here that are fixed by commi

[2019-05-05 11:30] chip-edw commented on #1324
Thank you. That helps

On Sat, May 4, 2019 at 6:39 PM Pavel Minaev <notifications@github.com>
wrote:

[2019-05-06 11:58] #1355 closed

[2019-05-06 11:59] #1401 closed

[2019-05-06 17:44] #1393 closed

[2019-05-07 21:07] karthiknadig commented on #1338
Changed estimate since this is a bigger item than expected. Originally i thought this code be done entirely in the suspended handler. But this requires adding a new pydevd step command and handling this via debug options in pydevd.

[2019-05-08 13:34] fabioz opened #1407 "Create tests and integrate #1403"
Create tests and integrate #1403

[2019-05-08 17:22] fabioz commented on #1382
Some dev notes (related to the VSCode client, which may or not be true for other clients, but it's what's being considered in the implementation):

- It seems that the `disconnect` request is actually meant to terminate the program (even if `supportsTerminateRequest=True` there's no separate icon to terminate nor disconnect).

- When we have a `launch`, `disconnect` is sent from an icon resembling

[2019-05-08 17:28] fabioz commented on #1382
@int19h @karthiknadig I have a question here:

If the user does:

[code]

Should he be able to reconnect using that previous connection or does he need to call `ptvsd.enable_attach(host='127.0.0.1', port=3456)` again? -- i.e.: should that socket remain open and listening for new connections on disconnect or should it be closed?

[2019-05-08 17:32] DonJayamanne opened #1408 "python without debugging won't start if there is a breakpoint"
@tmdag commented on [Thu May 02 2019](https://github.com/microsoft/vscode-python/issues/5540)

## Environment data
- VSCode Version: 1.33.1
- OS Version:Linux 5.0.7-200.fc29.x86_64
- Extension version (available under the Extensions sidebar): Python 2019.4.11987
- Anaconda Extension Pack 1.0.1

## Steps to reproduce:
Open Python code
create a breakpoint
run python without debugging (ctrl+F5)
Termi

[2019-05-08 17:34] DonJayamanne opened #1409 "VSC not stopping on breakpoints in Azure Functions the last few days or so"
@dxkaufman commented on [Fri May 03 2019](https://github.com/microsoft/vscode-python/issues/5547)

I apologize if I'm posting this in the wrong place; I'm quite new to python and vsc and git...

## Environment data

- VS Code version: 1.33.1
- Extension version (available under the Extensions sidebar): 2019.4.12954
- OS and version: Mac OS X 10.13.6
- Python version (& distribution if applicable,

[2019-05-08 17:40] karthiknadig commented on #1382
You only need to call `enable_attach` once. You should be able to re-connect to it without calling `enable_attach` again for that process.

[2019-05-08 18:24] karthiknadig commented on #1408
@tmdag @jxramos Can you share logs, for the debugger? you can get logs by setting `PTVSD_LOG_DIR` environment variable to a directory.
[code]

[2019-05-08 18:46] int19h commented on #1409
@dxkaufman Does it break for you if you manually call `breakpoint()` from that line? If it stops, what does the stack trace window show, particularly the paths?

[2019-05-08 20:07] karthiknadig opened #1410 "Segfaults from OpenCV code"
@alkasm commented on [Fri May 03 2019](https://github.com/microsoft/vscode-python/issues/5551)

## Overview

Possibly related to https://github.com/Microsoft/vscode-python/issues/2693

I am seeing a segfault while running code in VSCode. Note that it only happens when the program ends, and doesn't seem to negatively impact anything. All my code works fine.

The underlying issue is possibly in Open

[2019-05-08 20:09] karthiknadig opened #1411 "Internal error detected"
@wencan commented on [Sun May 05 2019](https://github.com/microsoft/vscode-python/issues/5557)

Version: 1.33.1
Commit: 51b0b28134d51361cf996d2f0a1c698247aeabd8
Date: 2019-04-11T08:20:22.771Z
Electron: 3.1.6
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Linux x64 4.9.0-8-amd64

cd /home/user/Projects/company/project ; env FLASK_APP=manager:app PYTHONIOENCODING=UTF-8 PYTHONUNBUFFERED=1 /

[2019-05-08 20:10] karthiknadig opened #1412 "from ptvsd import wrapper, options, multiproc"
@sutimaporn044 commented on [Tue May 07 2019](https://github.com/microsoft/vscode-python/issues/5576)

## Environment data

- VS Code version: XXX
- Extension version (available under the Extensions sidebar): XXX
- OS and version: XXX
- Python version (& distribution if applicable, e.g. Anaconda): XXX
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): XXX
- Relevant/affect

[2019-05-08 20:54] dxkaufman commented on #1409
I can't seem to use it.  I'm still on 3.6.5, it looks as if I have to be on 3.7 for that to work?

[2019-05-08 20:59] karthiknadig commented on #1409
you can do this, which is equivalent:
[code]

[2019-05-08 22:02] karthiknadig commented on #1412
@sutimaporn044 Please provide more details on this issue, and reopen.

[2019-05-08 22:02] #1412 closed

[2019-05-08 22:45] dxkaufman commented on #1409
Thanks, @karthiknadig.  @int19h, the answer is yes - if I call ptvsd.break_into_debugger() in my code, VSC goes into debug mode at that point.

[2019-05-09 00:02] jxramos commented on #425
This is what got rendered....

[code]

[2019-05-09 00:05] jxramos commented on #1408
This is what got rendered....

[code]

[2019-05-09 00:08] karthiknadig commented on #425
@jxramos what is the context for the above logs?

[2019-05-09 00:19] karthiknadig commented on #1408
The path being passed in the `setBreakpoints` request seems wrong. @DonJayamanne this is something that the extension passes in right? and is this path correct?

unescaped version:
 `git:/Users/$USER/source_dir/test.py?%7B%22path%22%3A%22%2FUsers%2F$USER%2Fsource%2Ftest.py%22%2C%22ref%22%3A%22%22%7D`

escaped version:
`git:/Users/$USER/source_dir/test.py?{"path":"/Users/$USER/source/test.py","ref"

[2019-05-09 00:41] jxramos commented on #1408
That’s very likely a side effect of my manual redaction.

[2019-05-09 01:13] int19h commented on #1408
It looks like somewhere in launch.json, `$USER` was specified with the intent that it expands to the name of the running user. But variable expansion in launch.json doesn't work like that. It should be `${env:USER}`.

[2019-05-09 01:17] int19h commented on #1408
Sorry, misunderstood the meaning of `$USER`. Is that the reduction that you have made?

The real problem here looks like all the `git:/` stuff, as well as everything following `?`. Is there anything in your launch.json corresponding to it?

[2019-05-09 01:45] jxramos commented on #1408
I manipulated various aspects of the path and script names, substituting my actual user name to $USER was part of my find and replace operation.

Here's a more careful redaction of that git line...

`"git:/Users/USER_X/source/dir1/dir2/dir3/dir4/test.py?%7B%22path%22%3A%22%2FUsers%2FUSER_X%2Fsource%2Fdir1%2Fdir2%2Fdir3%2Fdir4%2Ftest.py%22%2C%22ref%22%3A%22%22%7D",
`
which looks like it decodes to.

[2019-05-09 02:29] karthiknadig opened #1413 "Stop on entry hangs the debugger"
## Environment data

- PTVSD version: master
- OS and version: windows
- Python version (& distribution if applicable, e.g. Anaconda): 3.6
- Using VS Code or Visual Studio: VS or VSC

## Actual behavior

Note that you have to change the default for STOP_ON_ENTRY in wrapper.py#1198 to True.
Repros almost always on VS, but infrequently on VSC.

## Expected  behavior

Should run and break on entry

#

[2019-05-09 03:23] karthiknadig commented on #1413
Note that this occurs with or without the changes below. the change below seems to cause this issues more frequently.
https://github.com/karthiknadig/ptvsd/commit/6a80f7c070c9b652a13eeac325b0056aebb8b34e

[2019-05-09 03:39] tmdag commented on #1408
and this is my output
[code]

[2019-05-09 17:25] qubitron commented on #1413
@anapo14 let's remove this from the VS Code getting started tutorial since it seems to break from time to time

[2019-05-09 17:50] fabioz commented on #1413
@karthiknadig are you investigating this? I couldn't reproduce here.

My guess is that it's a racing condition -- it'd be nice to have the `ptvsd` as well as the `pydevd` logs to know what's happening when it fails...

To get the `pydevd` logs, it's possible to set environment variables (not sure about the last release, but it does work in the development version).

[code]

[2019-05-09 18:09] karthiknadig commented on #1413
[ptvsd-7560.log](https://github.com/microsoft/ptvsd/files/3163421/ptvsd-7560.log)
[pydevd_log.txt](https://github.com/microsoft/ptvsd/files/3163422/pydevd_log.txt)
[VS_adapter_host_logs.txt](https://github.com/microsoft/ptvsd/files/3163423/VS_adapter_host_logs.txt)

[2019-05-09 18:41] karthiknadig commented on #1387
Changes needed for this are done. It is currently blocked by #1413.

[2019-05-09 21:22] #1216 closed

[2019-05-09 21:30] karthiknadig commented on #1216
fixed via https://github.com/microsoft/ptvsd/pull/1405

[2019-05-09 21:42] int19h commented on #1411
The error in the log is `KeyboardInterrupt`, which occurred because Ctrl+C was pressed (hence `^C` at the beginning) - this is intended behavior. It just happened to be inside debugger code when that happened, which also happens.

I suspect that the real problem was whatever prompted Ctrl+C to begin with. @wencan, can you please clarify?

[2019-05-10 17:17] #1248 closed

[2019-05-10 17:17] #1382 closed

[2019-05-10 17:36] karthiknadig commented on #1413
This is a hard repro. Today, i am not able to repro it in VSC but only in VS.

[2019-05-10 17:37] fabioz commented on #1413
@karthiknadig I still can't reproduce it (tried running the related tests thousands of times in the ci and it didn't fail either).

If you can still reproduce it there, can you check some things?

1. It seems that `SetDebuggerPropertyRequest` was sent after the `LaunchRequest` to `pydevd` and this doesn't seem correct for me (we should say that we don't want to deal with the `ptvsd` directories be

[2019-05-10 17:58] karthiknadig commented on #1413
Since only i am able to repro, but only on VS. I will try and narrow it down to something specific.

1. For `setDebuggerProperty` since it is not part of the main protocol yet, i don't think we can guarantee when it should occur. I completely skipped the setDebuggerProperty call and it seems to still repro.

2. Skipping `setExceptionBreakpoints` still caused the repro.

3. Deleted all *.pyc's and

[2019-05-10 18:15] fabioz commented on #1413
I meant the `SetDebuggerPropertyRequest` which is sent internally from `ptvsd` to `pydevd` passing the `dontTraceEndPatterns` and `dontTraceStartPatterns` (for which `ptvsd` should have full control -- see the `pydevd logs`), not the `SetDebuggerPropertyRequest` which is passed from `VS` to `ptvsd`.

[2019-05-10 18:30] karthiknadig commented on #1413
Found the culprit: `module 'ptvsd' has no attribute 'main_thread'`. in wrapper.py `_process_debug_options`.
For some reason, we reach this point in VS with main_thread not set.

[2019-05-10 19:22] karthiknadig commented on #1413
Since VS takes `debug` path instead of `__main__` while launching the debugger. It is not setting the `ptvsd.main_thread`. But there seems to be additional issues around how that is getting called.

[2019-05-10 23:07] karthiknadig commented on #1413
@fabioz The `debug` path also seems to trigger a stack overflow in pydevd. Not sure if this stack helps. I will share more details if available. We will be changing that path to use the same stuff in `__main__`. It should likely fix that.
[code]

[2019-05-12 17:17] shield218 commented on #1056
It works for me, thank you so much for sharing this simple and effective solution

[2019-05-13 07:14] karthiknadig opened #1417 "Recursion when using locals() in Python Debug Mode"
@jamesmundy commented on [Fri May 10 2019](https://github.com/microsoft/vscode-python/issues/5600)

## Environment data

- VS Code version: 1.33.1
- Extension version (available under the Extensions sidebar): Python 2019.4.12954
- OS and version: Windows Version 10.0.17134 Build 17134
- Python version (& distribution if applicable, e.g. Anaconda): Python 3.6.2
- Type of virtual environment used (N

[2019-05-13 15:05] fabioz commented on #1338
Will take a look at this.

[2019-05-13 15:06] fabioz opened #1418 "DAP: Stop on entry should be ported to pydevd"
Blocked by:

https://github.com/microsoft/ptvsd/issues/1387
https://github.com/microsoft/ptvsd/issues/1413

[2019-05-13 15:12] fabioz commented on #1413
I wasn't even aware that there was a different entry point...

I agree with you that this entry point should really be removed and things should work properly when that's done (the stack itself seems pretty odd, but there are many things done in the `__main__.py` module that can't really be skipped, so, I don't think it's worth investigating that crash from the `debbugger.debug` entry).

[2019-05-13 17:35] karthiknadig commented on #1418
I might be able to move this fairly easily with the #1387 change. It looks straight forward.

[2019-05-13 17:40] karthiknadig commented on #1409
@dxkaufman Can you share the stack as requested by @int19h?

[2019-05-13 17:53] fabioz commented on #1418
Sure... some things to check though:

- We should add an API to do the stop on entry in `PyDevdAPI`.
- There is actually a command `CMD_STOP_ON_START` already (implemented in `PyDevdAPI.cmd_stop_on_start`) -- it should use the new API (not sure why `ptvsd` wasn't using it already).
- Processing the debug adapter settings (in `_PyDevJsonCommandProcessor._set_debug_options`) should use the new API.

[2019-05-13 19:25] fabioz commented on #1417
The reason this happens is explained at: https://github.com/microsoft/ptvsd/issues/1265#issuecomment-476807912

The fix on the library would be inlining the call to locals() or doing a copy of what's returned... as in the explanation, it may not be fixable in the debugger at all because it needs to access the frame locals and just by accessing it, it mutates and adds `args` to the locals.

Note: p

[2019-05-13 20:37] dxkaufman commented on #1409
@karthiknadig is this what you're asking for?

![image](https://user-images.githubusercontent.com/26446314/57652341-306b9300-7584-11e9-9302-ea4a0a8dff75.png)

[2019-05-13 21:49] jamesmundy commented on #1417
Thanks for the information @fabioz, I can confirm that changing the library's code to `locals().copy()` fixes the issue.
What is strange is that this code worked fine about 2 weeks ago so perhaps something changed in the debugger and caused it to appear? Most notably I installed Visual Studio 2019 and the Python tools in the interim though I have no idea how much is shared between the two librarie

[2019-05-13 22:53] karthiknadig commented on #1409
@dxkaufman we will need the path to the files, in the stack frame. You can get them from the logs. Better yet just share the logs. You can enabled VSC side of the logs by setting `"logToFile": true` in launch json.

[2019-05-13 22:55] karthiknadig commented on #1418
Ok. I will push an update to the PR.

[2019-05-14 02:28] dxkaufman commented on #1409
OK, I set it up like this:

{
  "version": "0.2.0",
  "configurations": [
    {
      "name": "Attach to Python Functions",
      "type": "python",
      "request": "attach",
      "port": 9091,
      "preLaunchTask": "func: host start",
      "logToFile": true
    }
  ]
}

I found the attached debug.log file via the Open Extensions Folder.  I did not find any errors in the developer tools console

[2019-05-14 11:11] fabioz commented on #1417
@jamesmundy not sure... note that the reason it breaks is pretty much dependent on where you break or step / get return values (it depends a lot, so, if your scenario changed just a bit that code may break or not).

[2019-05-14 17:22] #1387 closed

[2019-05-14 17:22] #1418 closed

[2019-05-14 17:40] karthiknadig opened #1419 "Remove or replace usage of non json commands"
* CMD_REDIRECT_OUTPUT : https://github.com/microsoft/ptvsd/blob/master/src/ptvsd/wrapper.py#L1288

* CMD_THREAD_RUN : https://github.com/microsoft/ptvsd/blob/master/src/ptvsd/wrapper.py#L1291

* CMD_PYDEVD_JSON_CONFIG : https://github.com/microsoft/ptvsd/blob/master/src/ptvsd/wrapper.py#L1211

* CMD_VERSION : https://github.com/microsoft/ptvsd/blob/master/src/ptvsd/wrapper.py#L1214

* CMD_RUN: htt

[2019-05-14 18:40] fabioz commented on #1419
@karthiknadig

It seems some of those can just have the behavior moved to `pydevd` and some already have counterparts.

`cmd_redirect_output` should be just moving that to `on_disconnect` on `pydevd`.

`cmd_thread_run` can just be changed for a `continue request` .

`cmd_pydevd_json_config` can be moved to `_PyDevJsonCommandProcessor._set_debug_options`.

`cmd_version` the client OS can probably s

[2019-05-14 18:41] fabioz commented on #1408
I'll take a look at this.

[2019-05-14 19:20] karthiknadig commented on #1419
I don't see wrapper calling pydevd for config Done. We should add that request when removing cmd_run.

[2019-05-14 22:28] supertaz commented on #943
It's got a lot to do with the problem at hand, where there's processing of very large data structures that have been split into chunks.  Because fork() is CoW (even if reference counting makes it CoR, this point will hold), when you're trying to accelerate processing of large datasets on NUMA systems with many cores (especially with HT pipelines), and you aren't overwriting data, but instead aggre

[2019-05-14 22:46] DonJayamanne opened #1421 "Incorrect Information of starting server for Pyramind debugging."
@zhouwangyang commented on [Mon Apr 22 2019](https://github.com/microsoft/vscode-python/issues/5400)

Visual Studio Code - Insiders: 1.34.0-insider
python-insider: 2019.4.6962-rc

repro step:
1.Open folder in VSC and create virtual envrionment
2.Set virtual environment as current environment.
3.Select debugging configuration "Pyramid"
4.Press F5 to start debugging

except result:
1.Starting server

[2019-05-15 14:51] fabioz commented on #1408
I'm able to reproduce this (on Linux) with the code below (it seems it can be any script that does not end too fast):

[code]

I've instrumented `ipcjson.py` to see what's going on when it receives the `setBreakpoints` and it seems that it does nothing in both cases (when breakpoints are received or not) -- in both cases it just calls `on_invalid_request` (from the dummy `MESSAGE_PROCESSOR` in ptv

[2019-05-15 17:32] fabioz commented on #1421
Hi @zhouwangyang -- can you share your launch config to make sure we're seeing the same thing?

If you run that command out of VSCode, do you still have the 2 messages?

@DonJayamanne the link in the terminal must be created by VSCode (and not through ptvsd) right?

[2019-05-15 17:41] fabioz commented on #1407
I'll take a look at this.

[2019-05-15 17:49] karthiknadig commented on #1421
@fabioz that is correct. We don't need to do anything specific in `ptvsd` to create a link here.

[2019-05-15 19:30] fabioz commented on #1407
Ok, so, I started to create unit-tests for this and check in the UI and there are more unicode things broken before getting to this point (in Python 2 -- things seem to work fine in Python 3).

Some things aren't even fixable in Python 2. For instance, doing:

[code]

Will not return a full char as would be expected (even though it's unicode), it'll only return a part of that unicode which is actu

[2019-05-15 21:41] karthiknadig commented on #1419
@fabioz See `_ensure_pydevd_requests_handled` is that really needed? I see that we are setting cmd_version in two places in the wrapper. I feel like the one in is the only one we need.

[2019-05-16 02:11] DonJayamanne opened #1422 "Debugger Doesn't Stop At Breakpoints"
@primalewden commented on [Wed Mar 20 2019](https://github.com/microsoft/vscode-python/issues/4844)

## Environment data

Version: 1.32.3 (system setup)
Commit: a3db5be9b5c6ba46bb7555ec5d60178ecc2eaae4
Date: 2019-03-14T23:43:35.476Z
Electron: 3.1.6
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Windows_NT x64 10.0.17763

- VS Code version: 1.32.3
- Extension version (available under the

[2019-05-16 03:30] sgorestodd opened #1423 "sys.stdin.read never returns when terminal set to raw mode"
## Environment data

- PTVSD version: 4.2.9
- OS and version: Kubuntu Linux kernel 5.0
- Python version (& distribution if applicable, e.g. Anaconda): 3.7.3
- Using VS Code or Visual Studio: VS Code

## Actual behavior

sys.stdin.read never returns, even if Enter key is pressed. This is only if the terminal is set to raw mode. Otherwise it works normally.

## Expected  behavior

sys.stdin.read sho

[2019-05-16 10:05] int19h commented on #1407
The above sample with emoji should work correctly on Linux, but not on Mac or Windows, because of UTF-16 being used on those. So we can slice in the middle of a surrogate pair. But it should be fairly easy to detect - just need to check for a trailing high surrogate (0xD800–0xDBFF), and trim it if it's there.

[2019-05-16 10:12] int19h commented on #1417
It is entirely possible that something changed in the debugger to make the difference, as well - when and where we call `locals()` is basically an implementation detail. It's not something that we can realistically maintain as a stable public contract.

VS and VSC both use ptvsd for debugging, but they both come with their own bundled versions, so one shouldn't affect the other in any way.

[2019-05-16 10:18] int19h commented on #1408
I suspect the reason why it terminates is because the `setBreakpoints` request is required by the spec to have a response with the matching number of breakpoints. At least according to the spec, it can just be a sequence of `{"verified": false}`, since everything else is optional, even ID.

[2019-05-16 10:23] int19h commented on #1409
The paths in the log are `/usr/local/...`, so I think this might be the same as #1325.

If so, `"justMyCode": false` in launch.json configuration should help.

[2019-05-16 10:56] fabioz commented on #1408
@int19h you're right, it seems that the problem is that the response was not a valid breakpoints response. I'll provide a pull request shortly.

[2019-05-16 11:07] asaflotz opened #1424 "variable not updating in debug pane when using debug console"
## Environment data

- PTVSD version: XXX
- OS and version: XXX
- Python version (& distribution if applicable, e.g. Anaconda): XXX
- Using VS Code or Visual Studio:

## Actual behavior

XXX

## Expected  behavior

XXX

## Steps to reproduce:
1. XXX

[2019-05-16 11:30] int19h commented on #1424
Looks like a dupe of #1356.

[2019-05-16 11:31] fabioz commented on #1407
@int19h It seems I have the same behavior on Windows and Linux...

Researching a bit more, it seems that it may be dependent on how CPython itself is compiled (https://stackoverflow.com/questions/1446347/how-to-find-out-if-python-is-compiled-with-ucs-2-or-ucs-4),

By coincidence, it seems that pytest was not working with Jython at all because of the way they implemented removing high surrogate pai

[2019-05-16 12:19] #1338 closed

[2019-05-16 12:45] fabioz commented on #1419
Well `_ensure_pydevd_requests_handled` seemed to be mostly about the shortcomings of `pydevd` not sending acknowledgement of breakpoints, but now that `pydevd` supports the DAP that doesn't seem needed anymore (as there's a confirmation for the breakpoints from `pydevd` now).

[2019-05-16 21:24] #1408 closed

[2019-05-16 22:11] KevinLucidyne opened #1427 "Debug mpirun Python processes"
Create */home/bob/foobar.py* in [Visual Studio Code](https://code.visualstudio.com/) with the [VS Code Docker Extension](https://code.visualstudio.com/docs/azure/docker)

    import ptvsd
    import time
    ptvsd.enable_attach(address = ('0.0.0.0', 5678))
    ptvsd.wait_for_attach()
    time.sleep(2)
    print("all righty then")

Set a breakpoint on the last line.

Debug|Add Configuration

In *la

[2019-05-16 23:26] karthiknadig commented on #1427
@KevinLucidyne in `foobar.py` you could add code to check for open port and cycle through port values manually before calling `enable_attach`. There is no mechanism in the debugger to do this directly.

However, you will need multiple Attach configs to attach to each of the processes. There is no single config that currently allows you to attach you to multiple process. @DonJayamanne do you see a

[2019-05-16 23:31] karthiknadig commented on #1424
This is the bug you can track in the extension for this issue:
https://github.com/microsoft/vscode-python/issues/5250

[2019-05-16 23:31] #1424 closed

[2019-05-17 07:20] wencan commented on #1411
I pressed Ctrl+C, vscode outputted this prompt and asked me to post the information to https://github.com/microsoft/vscode-python/issues

[2019-05-17 09:08] int19h commented on #1427
I haven't tried it with `enable_attach`, but with command line it's legal to specify 0 as a port to pick the first available one (we use that for multiproc).

However, there are no facilities currently to find out which port that ends up being. Perhaps we should expose it? There's already logic to retrieve it after the server socket is created in `start_server` in daemon.py, to send multiproc chil

[2019-05-17 09:10] int19h commented on #1411
Ah, so it wasn't because the debugger was stuck or something like that? Just an expected interruption, with misleading error reporting afterwards?

[2019-05-17 11:22] s-kovacevic opened #1428 "Naming source file `code.py` breaks ptvsd attach mode"
## Environment data

- PTVSD version: 4.2.9
- OS and version: macOS 10.14.4 (also reproduced in a `python:3.7-alpine` docker container)
- Python version (& distribution if applicable, e.g. Anaconda): CPython 3.7
- Using VS Code or Visual Studio: VSCode (but it doesn't matter actually)

## Actual behavior
Having a module called `code.py` in the same directory as module containing `ptvsd.enable_atta

[2019-05-17 11:34] fabioz commented on #1428
This happens because `code` is a python standard library module upon which the debugger relies, so, the actual solution is not shadowing the `code` standard library modules in your own code (i.e.: rename your own module to something else) -- the debugger itself relies on being able to use the standard library.

[2019-05-17 11:34] #1428 closed

[2019-05-17 14:27] #1407 closed

[2019-05-17 15:06] juliussimonelli commented on #1291
When I try to add `"debugStdLib": true` to `launch.json` I get an error saying `Property debugStdLib is not allowed.` But based on [this](https://github.com/microsoft/vscode-python/issues/1322) issue it looks like should be working. I am using VSCode - Insiders Version 1.34.20-insider (1.34.20-insider).

[2019-05-17 15:10] int19h commented on #1291
We have changed it to `justMyCode` recently (which has to be set to `false` in this case), to be consistent with other VSC debuggers. You should get a prompt to fix it automatically in launch.json when you re-open your folder or workspace.

[2019-05-17 15:18] juliussimonelli commented on #1291
That worked. Thanks! By the way, when I click on "Quick Fix" it says `No code actions available.`

[2019-05-17 15:22] KevinLucidyne commented on #1427
If there's no existing way to do this, then maybe change `enable_attach` so that it accepts a list of address tuples?

[2019-05-17 17:22] int19h commented on #1427
I think you can implement try-until-succeed by catching that error from `enable_attach` and retrying with a different address/port in a loop.

JSON side is trickier. I'm not sure it's even possible to have a single configuration in launch.json to start multiple independent debug sessions. For Python multiprocessing, the one session that is started has to specifically tell VSC to attach to child pr

[2019-05-17 17:48] fabioz commented on #1427
I think what's wanted from the user side is creating a launch configuration which actually acts as a server (so, it waits for incoming connections at a given port instead of the other way around as is now and `ptvsd` would take care of new connections arriving and would talk to VSCode for new processes -- as is already the case for multiprocessing).

This should be one scenario we take into accoun

[2019-05-17 19:42] fabioz opened #1430 "Update SetDebuggerProperty arguments in debugProtocolCustom.json"
We should change debugProtocolCustom.json and update the protocol-related classes for the `setDebuggerProperty` arguments -- we should be accessing by attributes in the arguments in `on_setdebuggerproperty_request` (checking for None if it's optional) instead of checking kwargs in the arguments (and change those properties to camelCase).

[2019-05-17 19:42] #1419 closed

[2019-05-17 19:57] #1394 closed

[2019-05-17 20:12] KevinLucidyne commented on #1427
@karthikananth not really what I'm looking for.  As you might have suspected, my example is a proxy for a much more complicated situation that requires the use of OpenMPI  and mpirun.

[2019-05-17 20:17] karthiknadig commented on #1427
@KevinLucidyne thank you for the input. We will consider this as a feature while doing the multi-process work.

[2019-05-17 20:39] KevinLucidyne commented on #1427
@int19h If I'm understanding you correctly, the problem with your workaround for JSON is that mpirun isn't going to provide a way to specify which debugger configuration is getting called.

You all have added the ability to attach the debugger by process id on Linux, right? So I could fire up the processes in mpirun and attach to them as a prelaunch task?  Is that correct?

[2019-05-17 21:02] int19h commented on #1427
I'm afraid attach-by-PID is not stable enough on Linux right now.

Now that I think about it, since you control the code in those processes, how about making *them* generate the JSON you need to attach to them? i.e. after you successfully call `enable_attach()`, get the port number, and have the process open launch.json in some shared location, and append a config for itself.

Side note: this woul

[2019-05-17 23:10] DonJayamanne opened #1432 "Debug console: `\n` not shown as new line (NumPy ndarray)"
@yzhang-gh commented on [Fri May 17 2019](https://github.com/microsoft/vscode-python/issues/5672)

_Copied from microsoft/vscode#73845_

## Environment data

- VS Code version: 1.34.0
- Extension version (available under the Extensions sidebar): 2019.4.12954
- OS and version: Windows 10 build18898
- Python version (& distribution if applicable, e.g. Anaconda): 3.7.1
- Relevant/affected Python pack

[2019-05-17 23:29] karthiknadig commented on #1430
Fixed via https://github.com/microsoft/ptvsd/pull/1431

[2019-05-17 23:29] #1430 closed

[2019-05-18 00:23] int19h commented on #1432
This happens for any object that has `repr()` with newlines (and also tabs).

But this is a VSCode bug . When we send the variable value back, it's a JSON string literal, and `\n` in that literal is an escape character that must be deserialized as newline. For some reason, VSCode replaces any such newlines with a literal sequence `\n` *after* deserialization. It also does the same for `\t`, but no

[2019-05-18 00:33] yzhang-gh commented on #1432
cc @isidorn

[2019-05-18 01:45] LukeTully commented on #1422
I've been trying to figure this out for a little while now, in my own circumstance, and am able to hit breakpoints, but only when a given python file is in my user directory and the interpreter is /usr/bin/python. I haven't been able to debug things with /usr/lib/ckan/default/bin/python. It seems to come down to filesystem location and python interpreter.

[2019-05-18 02:05] karthiknadig commented on #1422
@LukeTully try `"justMyCode": false" in your launch config. That should allow you to debug everything. If files are getting ignored that is probably because we try to figure out which ones are user files and which ones aren't. that detection can miss things if the path is in any of the common interpreter or standard library locations. justMyCode set to false will turn off that filtering.

[2019-05-18 02:28] LukeTully commented on #1422
@karthiknadig I have enough experience to know that something this trivial would be the solution, but thank you, it solved the problem. At least this validates the debugging outcomes I was seeing!

[2019-05-18 14:13] loftusa opened #1528 "debugger cache"
I'm not sure if there's a way to do this that I just haven't found

I have a data analysis pipeline written in Python that takes a long time to run, and every time I set a breakpoint near the end of the program it takes 10 minutes to get to that point.

It would be nice to see a cache for the debugger, such that you only have to run a long program once, and then you can debug parts near the end wi

[2019-05-19 15:01] zchrissirhcz commented on #57
@karthiknadig
Hi, I'm using python3.7 and just using the example code below:

`A.py`
[code]

`B.py`
[code]

`launch.json`
[code]

When setting a break point in A.py's 12-th line, and by clicking `step over` in python debug mode, my VSCode just crash, failed to debug this very-simple-python-multiprocessing-code. So sad.

My VSCode is just updated this afternoon, ubuntu16.04.  Its detail:

版本 1.34.0

[2019-05-19 21:29] int19h commented on #57
This is not a debugger issue - the same behavior can be observed running A.py directly.

The reason is that this line:
[code]
[must be](https://docs.python.org/3/library/multiprocessing.html#contexts-and-start-methods) inside the `if __name__ ...`  block. Otherwise, it gets run twice in the child process, causing this exception.

[2019-05-20 02:00] zchrissirhcz commented on #57
@int19h Thanks for your reply. It works for my pasted A.py and B.py example. Actually I was trying debugging a large python program and I'll try if it also works when it is available.

[2019-05-20 05:16] jaggerwang opened #1433 "After restart the debug process, can not start debug anymore, it always complain "RuntimeError: already started""
## Environment data

- PTVSD version: 2019.4.12954
- OS and version: macOS 10.14.4
- Python version (& distribution if applicable, e.g. Anaconda): 3.7.1
- Using VS Code or Visual Studio: VS Code

## Actual behavior

When first click stop and then click start on debug panel it works ok, but when click restart directly it failed, and I can't start debug anymore, even I reinstall python extension, re

[2019-05-20 06:55] jaggerwang commented on #1433
Figured out the reason, can not enable debug for sanic when debug in vscode.

[2019-05-20 06:55] #1433 closed

[2019-05-20 09:23] pehruby commented on #988
Hi,
are there plans to fix this? I'm just asking ...

[2019-05-20 11:38] fabioz opened #1434 "Update pydevd_schema with latest debugProtocol.json"

[2019-05-20 11:44] fabioz commented on #988
I'll take a look at this.

[2019-05-20 16:43] fabioz commented on #1423
I'll investigate.

[2019-05-20 16:51] DonJayamanne opened #1437 "Matplotlib SIGSEV error"
@narekmargaryan commented on [Sun May 19 2019](https://github.com/microsoft/vscode-python/issues/5689)

Running on Ubuntu 19.04.

All works fine when I launch the terminal (externally, not within the VS Code) and run the .py from there. As soon as I try to debug inside Code or even run the file from the embedded terminal, I receive

"fish: “env PYTHONIOENCODING=UTF-8 PYTH…” terminated by signal SI

[2019-05-20 17:03] fabioz commented on #1437
@narekmargaryan can you provide some sample code where you're getting this error?

[2019-05-20 17:09] narekmargaryan commented on #1437
@fabioz

[code]

[2019-05-20 17:22] DonJayamanne opened #1439 "Venv, debugging, pythonpath broken"
@ST33LDI9ITAL commented on [Sun May 19 2019](https://github.com/microsoft/vscode-python/issues/5690)

## Environment data

- VS Code version: 1.35.0-insider
- Extension version (available under the Extensions sidebar): 2019.4.12954
- OS and version: Win 10x64 10.0.17763
- Python version (& distribution if applicable, e.g. Anaconda): CPython 3.7.3 and WinPy 3.7.2
- Type of virtual environment used

[2019-05-20 17:22] DonJayamanne opened #1440 "Venv, debugging, pythonpath broken"
@ST33LDI9ITAL commented on [Sun May 19 2019](https://github.com/microsoft/vscode-python/issues/5690)

## Environment data

- VS Code version: 1.35.0-insider
- Extension version (available under the Extensions sidebar): 2019.4.12954
- OS and version: Win 10x64 10.0.17763
- Python version (& distribution if applicable, e.g. Anaconda): CPython 3.7.3 and WinPy 3.7.2
- Type of virtual environment used

[2019-05-20 17:24] DonJayamanne opened #1441 "subProcess launch configuration option does not work for multiprocessing."
@derekgorcz commented on [Sun May 19 2019](https://github.com/microsoft/vscode-python/issues/5687)

## Environment data

- VS Code version: 1.34.0
- Extension version (available under the Extensions sidebar): 2019.4.12954
- OS and version: Ubuntu 18.04
- Python version (& distribution if applicable, e.g. Anaconda): 3.6.7
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): v

[2019-05-20 17:24] DonJayamanne opened #1442 "Debug is adding extra white space/carriage returns"
@walkingbytrees commented on [Sat May 18 2019](https://github.com/microsoft/vscode-python/issues/5680)

Issue Type: Bug

I can't figure out why I'm getting extra white space between my output. If I code for a space with " ", I get a line break. No idea how to find a solution.

VS Code version: Code 1.33.1 (51b0b28, 2019-04-11T08:22:55.268Z)
OS version: Darwin x64 18.5.0

Here's what it looks like

[2019-05-20 17:24] DonJayamanne opened #1443 "Runtime Error: Already started in multiprocess"
@xtyDoge commented on [Sat May 18 2019](https://github.com/microsoft/vscode-python/issues/5679)

## Environment data

- VS Code version: 1.34.0
- Extension version (available under the Extensions sidebar): 2019.4.12954
- OS and version: macOS 10.14.4
- Python version (& distribution if applicable, e.g. Anaconda): 3.6.5
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): N/A

[2019-05-20 17:28] fabioz commented on #1422
@karthiknadig @int19h

(previous thread on this:
https://github.com/microsoft/ptvsd/issues/1325#issuecomment-483367663)

So, it seems that the current implementation is still not ideal because we're still hitting this issue... I'll take another look at this using `sysconfig` as pointed by: https://github.com/microsoft/ptvsd/issues/1325#issuecomment-483892311

[2019-05-20 17:30] karthiknadig commented on #1443
@xtyDoge Try following these instructions to get multi-process debugging working on mac:
https://github.com/microsoft/ptvsd/blob/master/TROUBLESHOOTING.md#1-multiprocessing-on-linuxmac

[2019-05-20 17:31] karthiknadig commented on #1441
@derekgorcz Try these instructions to get multi-process working with Ubuntu:
https://github.com/microsoft/ptvsd/blob/master/TROUBLESHOOTING.md#1-multiprocessing-on-linuxmac

[2019-05-20 17:32] fabioz commented on #1437
I can't reproduce this (checked in Ubuntu with Python 3.6).

Can you provide more details on the Python version and matplotlib version where you're getting the error? Also, can you share your launch config?

[2019-05-20 17:33] karthiknadig commented on #1417
Closing this. Since this is external.

[2019-05-20 17:33] #1417 closed

[2019-05-20 17:35] karthiknadig commented on #1440
@ST33LDI9ITAL Set `"justMyCode": false` in your launch configuration. That should help with this issue. Let me know if that does not work.

[2019-05-20 17:36] karthiknadig commented on #1439
Dupe of #1440

[2019-05-20 17:36] #1439 closed

[2019-05-20 17:40] karthiknadig commented on #1442
@walkingbytrees Can you get the debugger logs for this? You can get the debugger logs by setting this environment variable `PTVSD_LOG_DIR`. Like this:

[code]

[2019-05-20 17:42] fabioz commented on #1422
Another thing that just occurred to me is that we should probably say that a breakpoint is not validated if the related file will not be traced and let the user know why. I'll use this issue to add this handling too.

[2019-05-20 17:53] karthiknadig commented on #1422
@fabioz This might be relevant as well, for breakpoint validation. https://github.com/microsoft/ptvsd/issues/1298

[2019-05-20 18:38] karthiknadig opened #1444 "Sub-module for shared features"

[2019-05-20 18:38] karthiknadig opened #1445 "Sub-module for debug adapter"

[2019-05-20 18:39] karthiknadig opened #1446 "Support and test local launch"

[2019-05-20 18:39] karthiknadig opened #1447 "Support and test local attach"
- [x] Ensure attach by pid works

[2019-05-20 18:39] karthiknadig opened #1448 "Support and test remote attach"
- [x] ptvsd.attach()
- [x] Fix and replace pydevd hooks
- [x] Update argument parsing code
- [x] Remove un-used code

[2019-05-20 18:40] karthiknadig opened #1449 "Support and test enable_attach, wait_for_attach, is_attached"
- [x] enable_attach
- [x] wait_for_attach
- [x] is_attached
- [x] break_into_debugger
- [x] debug_this_thread

[2019-05-20 18:40] karthiknadig opened #1450 "Support and test debug_this_thread, break_into_debugger"

[2019-05-20 18:41] karthiknadig opened #1451 "Replace inproc debugger with OOP debug adapter+debugger"

[2019-05-20 18:41] karthiknadig opened #1452 "OOP Debug Adapter"

[2019-05-20 19:50] narekmargaryan commented on #1437
Sure,

python 3.7.3
matplotlib 3.1.0
code 1.34.0
Linux x64 5.0.0-15

[2019-05-20 20:13] #1092 closed

[2019-05-20 20:15] #1434 closed

[2019-05-20 20:17] karthiknadig commented on #1329
Could not repro. Reopen if this is seen again.

[2019-05-20 20:17] #1329 closed

[2019-05-20 20:29] int19h commented on #1437
Try setting the environment variable `PYDEVD_USE_FRAME_EVAL` to `NO` in your launch.json config - does that change anything for you?

[2019-05-20 20:40] narekmargaryan commented on #1437
Still receiving

`PYDEVD_USE_FRAME_EVAL`

my launch.json looks like this:

`{
    // Use IntelliSense to learn about possible attributes.
    // Hover to view descriptions of existing attributes.
    // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Python: Current File",
            "type":

[2019-05-20 21:19] derekgorcz commented on #1441
Using spawn fixes the issue; however, spawn does not always provide the same functionality. This slightly more complex example won't work using the spawn method.
[code]
It will fail with the following error.
[code]

[2019-05-20 21:28] karthiknadig commented on #1441
We plan on having support for `fork` see #943. We are currently refactoring the debugger to support that.

[2019-05-21 03:28] #1413 closed

[2019-05-21 11:46] #988 closed

[2019-05-21 11:46] #1423 closed

[2019-05-21 14:56] fabioz commented on #1422
Note that I just provided a fix for discovering the paths to be considered standard libraries, I'll use #1298 for the breakpoints validation.

[2019-05-21 17:46] dxkaufman commented on #1409
It seems to be working again, at least as of yesterday...

[2019-05-21 17:59] karthiknadig commented on #1409
@dxkaufman Can you check if you are pulling pre-release version of `ptvsd`?

[2019-05-21 18:04] dxkaufman commented on #1409
@karthiknadig, it looks as if I have ptvsd 4.2.8.  That said, I'm not using it - when I said "it seems to be working again", I was referring to the built in breakpoints in VSC.  I used ptvsd when I needed it for a while, but I had to comment it out when I deployed to Azure (which I now realize was probably because I forgot to put it in my requirements file).  No idea what might have changed to mak

[2019-05-21 18:28] #1422 closed

[2019-05-21 22:03] huguesv opened #1456 "Step doesn't stop on next statement"
## Environment data

- PTVSD version: 4.2.10b1
- OS and version: Win10
- Python version (& distribution if applicable, e.g. Anaconda): 2.7 or 3.6
- Using VS Code or Visual Studio: VS

Note: This is using the code from PR https://github.com/microsoft/PTVS/pull/5318/files

## Actual behavior

Runs till the end of program

## Expected  behavior

Stop on line 2

## Steps to reproduce:
1. Write a progr

[2019-05-21 22:05] huguesv commented on #1456
[adapterhost.log](https://github.com/microsoft/ptvsd/files/3204742/adapterhost.log)

[2019-05-21 22:15] karthiknadig commented on #1456
This requires stop on entry to be on to repro.

[2019-05-22 01:42] int19h commented on #1456
Looking at the log, it looks like the first stopped event is for the breakpoint. Then after that is stepped over, the next stopped event has reason=entry (not step!), and VS automatically sent a continue response to it.

So the problem is that we double-report the stop on first line. In this scenario, it should always be reported as a breakpoint stop (so that VS doesn't auto-continue), but we shou

[2019-05-22 06:23] #1456 closed

[2019-05-22 08:05] ST33LDI9ITAL commented on #1440
Thanks, that was driving me crazy, it works.. but, how can I set that to automatically generate for "Python: Current File" auto generated debug config? I added it to default.launch.json but default.launch.json doesn't have "Python: Current File". Seems it's generated per workspace folder. So basically, how can I get it auto generated to the workspace folder debug config so I don't have to add that

[2019-05-22 17:41] karthiknadig commented on #1440
@ST33LDI9ITAL you should not have to use that flag. The reason you ran into this issue was due to the fact that we are still fine tuning that particular feature. Try `ptvsd==v4.2.10` we made some changes to handle `venv` specific scenario in the debugger. That version will likely ship in the next release of the python extension.

@DonJayamanne Can you answer the the `default.launch.config` questio

[2019-05-22 17:43] karthiknadig opened #1458 "Clean up unused debugger code"

[2019-05-22 17:50] #1052 closed

[2019-05-22 17:52] DonJayamanne commented on #1440
Please copy the `Python Current File` configuration `json` from the workspace `launch.json` into the `default.launch.config`

[2019-05-22 19:51] ST33LDI9ITAL commented on #1440
Ok, thank you for the help and for your work, looking forward to next release.

[2019-05-22 20:09] karthiknadig opened #1460 "Remove usage of CMD_SET_PROTOCOL"
- [ ] Add --json command line argument to pydevd to switch to JSON protocol
- [ ] Remove usage of CMD_SET_PROTOCOL

[2019-05-22 20:28] ST33LDI9ITAL commented on #1440
Whenever I add block or config to default.launch.config it doesn't register in drop down list.

[2019-05-22 22:21] karthiknadig commented on #1298
Related #1191

[2019-05-23 08:06] isidorn commented on #1432
Yeah this is intentional, we use \n and \t in the variables view to save on space. If you think this is wrong please file a new feature request against vscode and argue for your case. Thanks

[2019-05-23 10:50] fabioz commented on #1432
@isidorn the issue happens in the debug console, not in the variables view (it makes sense in the variables view for me as the space is really limited but seems strange in the debug console where the user is evaluating probably because he couldn't see very well in the variables view).

The issue was already reported to VSCode (https://github.com/microsoft/vscode/issues/73845) and was moved here be

[2019-05-23 14:03] janosh opened #1463 "[Feature Request] "Edit and Continue" for debugging (reloaded)"
#165 was closed with the statement that Python does not allow for ["edit and continue" functionality](https://docs.microsoft.com/en-us/visualstudio/debugger/edit-and-continue) in debug session.

Looking on Stackoverflow, however, [people seem to have found generic workarounds](https://stackoverflow.com/a/24637113/4034025) for making it work in PyCharm. It sounds like reloading/reimporting a modifi

[2019-05-23 17:39] brettcannon commented on #1463
Moving this to ptvsd to see if this is somehow feasible now.

[2019-05-23 17:44] #1460 closed

[2019-05-23 18:11] karthiknadig commented on #1463
Dupe of #1192.

Note: we have had this discussion in the debugger team. This is a very big item, for now the priority on this is low. We definitely plan on looking into this.

[2019-05-23 18:11] #1463 closed

[2019-05-23 18:18] fabioz commented on #1192
As a note, this is supported in the backend (reloading is not perfect, but good enough to be useful on many cases).

-- API: PyDevdAPI.request_reload_code(py_db, seq, module_name)

the main issue is that it doesn't seem like this there's a message from the debug adapter protocol notifying that a file was changed and should be reloaded, so, the client side would need to be implemented first and a c

[2019-05-23 18:24] DonJayamanne commented on #1192
The python extension can send these custom messages.

[2019-05-23 18:34] fabioz opened #1464 "When the breakpoint validation excludes some file, identify which rule did the exclusion."

[2019-05-23 18:35] karthiknadig commented on #1440
I am closing this issue since the `ptvsd` side of this has been addressed.

@ST33LDI9ITAL you may want to open a new issue in the extension repo to address the config bug.

[2019-05-23 18:35] #1440 closed

[2019-05-23 18:37] #1409 closed

[2019-05-23 18:40] karthiknadig commented on #1383
Please reopen when more information is available.

[2019-05-23 18:40] #1383 closed

[2019-05-23 18:42] karthiknadig commented on #1379
@Qirky FYI

[2019-05-23 18:44] karthiknadig commented on #1377
Please reopen when logs are available for this issue.

[2019-05-23 18:44] #1377 closed

[2019-05-23 18:47] #1441 closed

[2019-05-23 18:50] Anapo14 opened #1465 "Support Async/Await in the Debug Panel"
This is a feature that a user requested from survey feedback.

[2019-05-23 22:00] yzhang-gh commented on #1432
Thank you all!

[2019-05-23 23:14] int19h commented on #1192
What are the limitations of the current implementation? I'm assuming that the code that is currently on the stack would not be affected, since there's no way to rewrite bytecode for a code object being executed, or adjust the state properly afterwards?

The key part here is establishing the expectations right. The most obvious way for a new user to try to do E&C is to hit a breakpoint in a functio

[2019-05-24 09:40] Qirky commented on #1379
Not sure why this only happens some times but I was able to reproduce this error on any use of FoxDot by removing a try/except clause in the `Group` classes getters and setters. I've updated them to be more consistent so potentially could help with this issue. The code is now:

[code]

[2019-05-24 11:06] fabioz commented on #1379
This is really a CPython bug, not ptvsd (CPython is crashing because of a stack overflow when the stack overflow is thrown inside a tracing function -- because the user code already recursed too much).

As a note, the debugger is even disabled on the face of a stack overflow (see: https://bugs.python.org/issue10933), so, even if it didn't crash, things wouldn't work very well from that point onwar

[2019-05-24 11:47] fabioz commented on #1192
@int19h you're right, we don't rewrite the bytecode for the code object being executed (so, after doing the change the user needs to leave the function and enter it again -- usually that's good when you are in a webserver so you do a new request or have some UI application where you redo some action or if you step return and use a goto to go back to the previous line (maybe doing a goto to the end

[2019-05-24 17:22] DonJayamanne opened #1466 "Issue with debug when using cmd as terminal"
@petepall commented on [Thu May 23 2019](https://github.com/microsoft/vscode-python/issues/5742)

## Environment data

- VS Code version: 1.34.0
- Extension version (available under the Extensions sidebar): 2019.4.2
- OS and version: Windows 10 v1809
- Python version (& distribution if applicable, e.g. Anaconda): Python 3.7.2 - 64bit
- Type of virtual environment used (N/A | venv | virtualenv | co

[2019-05-24 17:30] karthiknadig commented on #1466
@petepall Can you set `PTVSD_LOG_DIR` environment variable? to get the logs from the debugger. This can be done in the launch config in `launch.json`. for example:
[code]

[2019-05-24 17:52] DonJayamanne opened #1467 "it doesnt go in other files not added into workspace when debugging."
@byehack commented on [Fri May 24 2019](https://github.com/microsoft/vscode-python/issues/5752)

in debugging when i want to "jump into" i need to go to the some modules thats are not in my project.

[2019-05-24 18:13] karthiknadig commented on #1467
@byehack We treat files in your workspace as user code and everything outside of it as library code. there are two ways to fix this issue.
* **Option 1 :** Add `"justMyCode": false` in launch.json. This has the side effect that it will now include any loaded python file while stepping.
[code]
* **Option 2**: Add rules to include directories and files. with this option you can specifically include

[2019-05-24 19:56] petepall commented on #1466
@karthiknadig I added the `PTVSD_LOG_DIR` however no log is being created.

[2019-05-24 20:00] DonJayamanne commented on #1466
@petepall Please could you take a screenshot instead of a video. Thanks for the video, however the resolution is not good enough, and difficult to read any text or make out whats going on.

It looks like the command for debugging isn't being sent to the terminal. Look at the video the terminal is at the prompt waiting for input.

[2019-05-24 20:00] DonJayamanne commented on #1466
@karthiknadig It might be an issue with VSC, in which case you can close this issue.
Let wait for confirmation.

[2019-05-24 20:08] petepall commented on #1466
@DonJayamanne Please find below the screenshot.
The text from the terminal is showing:

`C:\Python programs\issue>cd "c:\Python programs\issue" && cmd /C "set "PTVSD_LOG_DIR=C:\temp\logs" && set "PYTHONIOENCODING=UTF-8" && set "PYTHONUNBUFFERED=1" && "C:\Program Files\Python37\python.exe" c:\Users\PeterPallen\.vscode\extensions\ms-python.python-2019.4.12954\pythonFiles\ptvsd_launcher.py --default

[2019-05-24 20:24] karthiknadig commented on #1466
@petepall Ensure that the `C:\temp\logs` directory exists. If that logging is not working you can try, `"logToFile":true` in launch json. That should create VSC side logs for the debugger. These logs should be in the extension folder.

[2019-05-24 21:58] petepall commented on #1466
@karthiknadig The folder exists and I have set the `"logToFile":true` into the launch.json file but still there is no log generated in the set folder.
I did find logs in the following folder `C:\Users\PeterPallen\AppData\Roaming\Code\logs`

These are the logs that are generated in that folder.
[Logs.zip](https://github.com/microsoft/ptvsd/files/3218719/Logs.zip)

[2019-05-24 22:02] karthiknadig commented on #1466
Check this folder, the file should be named `debug<pid>.log`
`C:\Users\<user>\.vscode\extensions\ms-python.python-2019.4.12954`

[2019-05-24 22:21] int19h commented on #1466
@karthiknadig, @DonJayamanne
Note that the command line is using `cmd /c ...` to launch - i.e. the terminal is set up to use cmd rather than PowerShell.

And I think the way it is setting up those environment variables might be wrong. I just tried this:
[code]

So I don't think the variable is flowing across `&&` in cmd, like it does in PowerShell.

@petepall, can you try [switching the terminal t

[2019-05-24 22:24] int19h commented on #1466
Ah, my apologies, I didn't notice the bug title!

But this is definitely a problem, and I wonder if it is also related to the underlying issue - since all the `PYTHON...` variables are also not flowing through?

[2019-05-24 22:29] int19h commented on #1466
False alarm, sorry- the expansion happens at the wrong time in my snippet because of the semantics of `%...%` (it expands before the whole thing executes). The variables do flow through.

[2019-05-25 00:50] karthiknadig commented on #1466
@petepall Can you also try running this "cmd /C python.exe"? From both VSC terminal, and external command prompt and let us know what happens.

[2019-05-25 11:29] #1191 closed

[2019-05-25 11:35] fabioz commented on #1467
I'm closing this one as this should be expected and the comments from @karthiknadig should solve the issue (please reopen if they don't).

As a note, https://github.com/microsoft/ptvsd/issues/1298 is already tracking notifying about that and giving instructions, so, there's not much more to be done in this issue.

[2019-05-25 11:35] #1467 closed

[2019-05-25 11:52] petepall commented on #1466
@karthiknadig, when I run the command in the VSC terminal, I get the cmd.py that is opened up.
When I run the command in the external CMD window, I get python started.

Attached screenshot is showing both the VSC and the CMD results.
![image](https://user-images.githubusercontent.com/42099752/58368954-53873280-7ef4-11e9-9cfb-0fc9b4cbc2d0.png)

[2019-05-25 11:53] petepall commented on #1466
Attached is also the requested log.
[debug15244.log](https://github.com/microsoft/ptvsd/files/3219358/debug15244.log)

[2019-05-25 12:11] fabioz commented on #1466
It's as if `cmd.py` was marked as an executable file with an association to VSCode (it doesn't seem like the issue is in `ptvsd`, which doesn't seem to be even started).

Can you provide the output of your `PATH` environment variable on both (i.e.: `set PATH`) as well as the output of `where cmd` (in both)?

[2019-05-25 17:15] petepall commented on #1466
@fabioz, the set Path gives:
`C:\WINDOWS\system32>set path
Path=C:\Program Files (x86)\Common Files\Oracle\Java\javapath;C:\Program Files\Python37\;C:\Program Files\Python37\LIB\;C:\Program Files\Python37\Scripts\;C:\Users\PeterPallen\AppData\Roaming\Python\Python37\Scripts;C:\Users\PeterPallen\AppData\Roaming\Python\Python37\site-packages;C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem;C:

[2019-05-25 17:19] petepall commented on #1466
@fabioz, You hit the nail on the head, after looking at the where CMD, I saw that I have `C:\Program Files\Python37\Lib\cmd.py` looking at what is in the path, I saw that I had an entry for `C:\Program Files\Python37\LIB\`.

When I removed this setting, the debugger works correctly.

[2019-05-25 17:21] #1466 closed

[2019-05-25 17:35] Qiuzhuang commented on #943
With this way, we see here errors:

  File "/usr/lib64/python3.6/multiprocessing/popen_spawn_posix.py", line 47, in _launch
    reduction.dump(process_obj, fp)
  File "/usr/lib64/python3.6/multiprocessing/reduction.py", line 60, in dump
    ForkingPickler(file, protocol).dump(obj)
TypeError: can't pickle _thread.RLock objects

[2019-05-27 14:22] fabioz commented on #1466
@DonJayamanne

As a note, we probably wouldn't have this issue if the command line used was `cmd.exe` instead of just `cmd`.

Although the combination to do this may be unusual (a `cmd.py` to must be in a directory in the `PATH`, and as `.py` must be added to the `PATHEXT` so that it considers `.py` files executable), so, not sure if we'd like to fix that on the VSCode side or not (by using `cmd.e

[2019-05-27 17:29] fabioz commented on #1437
Can you print your `environ` in and out of VSCode?

Please use the code below and run it from the shell and from VSCode and post the output (my guess is that you have some environment variable different -- such as `LD_LIBRARY_PATH` or `PATH` and that difference makes it crash).

[code]

Also, when you say that if fails if you: `run the file from the embedded terminal`, do you mean that if you don'

[2019-05-27 17:52] fabioz commented on #1442
I just checked here... this was a problem in VSCode itself (I reproduced in 1.33.1 and verified that it doesn't reproduce on 1.34.0), so, closing this issue.

[2019-05-27 17:52] #1442 closed

[2019-05-27 19:09] fabioz commented on #1410
I'm investigating this and I've been able to reproduce it on Linux.

Some dev notes:

- The issue doesn't always reproduce (albeit it seems common -- seems to reproduce in about 80% of the times I run).

- I'm able to reproduce in a simple launch (with or without actually debugging) in a `ptvsd` unit-test, but using plain `pydevd` it seems to work -- as the idea going forward is having `pydevd` ou

[2019-05-28 12:56] fabioz commented on #1364
I think this issue is fixed now (there were some fixed issues related lowercase/uppercase drive letter which sometimes VSCode sent and the debugger didn't expect), so, I'm closing it. If it still doesn't work for you in the latest release, please reopen.

[2019-05-28 12:56] #1364 closed

[2019-05-28 13:00] fabioz opened #1469 "Change references from debugStdLib to justMyCode internally (keeping backward compatibility)."

[2019-05-28 17:46] DonJayamanne opened #1470 "cannot debug python use cur file configuration"
@yang200050 commented on [Sun May 26 2019](https://github.com/microsoft/vscode-python/issues/5789)

- VS Code version: 1.34.0
- Extension version: 2019.4.12954
- OS and version: win10
- Python version: python 2.7.14

issue:when i start debug python cur file use Start Debugging(F5), it cannot debug. The traceback is:
**Traceback (most recent call last):
  File "c:\Users\刘洋\\.vscode\extensions\ms-py

[2019-05-28 17:49] DonJayamanne opened #1471 "Debug console cannot line feed"
@DindoW commented on [Mon May 27 2019](https://github.com/microsoft/vscode-python/issues/5797)

Issue Type: <b>Feature Request</b>

When I debug a python program, I wish arrays are in alignment.
But the debug console dosen't line feed though there is a '\n' in the end of the array.
Generally, the output of the debug console should be on every 5 elements in a row, and now, they are crowded together

[2019-05-28 17:50] int19h commented on #1471
Dupe of #1432

[2019-05-28 17:50] #1471 closed

[2019-05-28 18:07] DonJayamanne opened #1472 "Remote debugging configuration suddenly not working anymore"
@luabud commented on [Wed May 22 2019](https://github.com/microsoft/vscode-python/issues/5725)

Issue copied from: https://www.reddit.com/r/vscode/comments/bnhgb0/remote_debugging_configuration_suddenly_not/?utm_source=share&utm_medium=web2x

"I'm running scripts from a remote server, and usually I can debug this fine, but yesterday suddenly it won't debug anymore!

When I press the 'Start debuggi

[2019-05-28 20:08] karthiknadig commented on #1469
Note that for now. VSC itself is doing this translation. I recommend we do this along with https://github.com/microsoft/ptvsd/issues/1219. All settings should either happen via launch json or via `setDebuggerProperties`. We should not have to parse and extract settings like we do now.

[2019-05-28 20:35] karthiknadig commented on #1410
Looks like an external issue from @fabioz 's investigation. Let us see if the out-of-proc adapter will help in this case.

[2019-05-29 11:19] amittleider commented on #1443
On Ubuntu, putting this at the top of the main entrypoint file worked for me:

[code]

[2019-05-29 17:34] DonJayamanne opened #1473 "Django extremely slow on Windows"
@jkw commented on [Wed May 29 2019](https://github.com/microsoft/vscode-python/issues/5831)

## Environment data

- VS Code version: 1.35.0-insiders
- Extension version (available under the Extensions sidebar): v2019.5.17059
- OS and version: Windows 10 Home Insider Build 18898.rs_prerelease.190510-1634
- Python version (& distribution if applicable, e.g. Anaconda): Official
- Type of virtual envi

[2019-05-29 17:36] jkw commented on #1473
Could be fixed with removing the `--nothreading` from **launch.json** as well.

[2019-05-29 17:48] fabioz commented on #1473
I believe this is a dupe of https://github.com/microsoft/ptvsd/issues/1393 (see comment: https://github.com/microsoft/ptvsd/issues/1393#issuecomment-489259007).

Please reopen if you feel that's not the case.

[2019-05-29 17:48] #1473 closed

[2019-05-29 18:11] DonJayamanne opened #1474 "launch.json arg that begins with a '#' char is treated as an actual comment"
@warrenstephens commented on [Fri May 24 2019](https://github.com/microsoft/vscode-python/issues/5758)

## Environment data

- VS Code version: 1.34.0
- Extension version (available under the Extensions sidebar): Python 2019.4.12954
- OS and version: Mac Mojave 10.14.5
- Python version (& distribution if applicable, e.g. Anaconda): 3.6.4 64-bit
- Type of virtual environment used (N/A | venv | virt

[2019-05-29 18:23] jkw commented on #1473
It's a dupe. Sorry for not finding that while searching.

Den ons 29 maj 2019 19:48Fabio Zadrozny <notifications@github.com> skrev:

[2019-05-29 18:32] fabioz commented on #1473
No problems, it's not always easy to find duplicates ;)

[2019-05-29 20:50] karthiknadig opened #1475 "IOError: [Errno 22] when running files with non-ascii characters."
## Environment data

- PTVSD version: master
- OS and version: windows
- Python version (& distribution if applicable, e.g. Anaconda): 2.7.16
- Using VS Code or Visual Studio:

Additional info:
File System encoding: `mbcs`
Default encoding: `ascii`

## Actual behavior

This error is shown:
[code]
![image](https://user-images.githubusercontent.com/3840081/58590204-7711ec00-8218-11e9-999d-f9f526470e

[2019-05-29 20:53] karthiknadig opened #1476 "Coverage for debugger"

[2019-05-29 20:53] karthiknadig opened #1477 "Remove travis"

[2019-05-29 20:54] karthiknadig opened #1478 "Ensure consistent string usage and naming conventions"

[2019-05-29 20:54] karthiknadig opened #1479 "Engineering"

[2019-05-30 04:09] karthiknadig commented on #1470
@yang200050 Can you provide the result of this in your environment?
[code]

[2019-05-30 12:43] parlad commented on #1291
I was having the same issue

`raw_input("enter input")` fixed this.

[2019-05-30 14:08] #1298 closed

[2019-05-30 15:58] knabb opened #1480 "Breakpoints Failing as of 2019.5.17059"
## Environment data

- PTVSD version: 2019.5.17059
- OS and version: Mac OS or Windows
- Python version (& distribution if applicable, e.g. Anaconda): 3.6
- Using VS Code or Visual Studio: VS Code

## Actual behavior

VS Code debugger is no longer stopping at our breakpoints as of version 2019.5.17059. We are seeing a lot of the message: "pydev debugger: warning: trying to add breakpoint to file t

[2019-05-30 16:00] DonJayamanne opened #1481 "pydev debugger: warning: trying to add breakpoint to file that does not exist"
@mswarrow commented on [Thu May 30 2019](https://github.com/microsoft/vscode-python/issues/5839)

## Environment data

- VS Code version: 1.34.0
- ms-python.python: 2019.5.17059
- OS and version: Windows 10, Ubuntu 16.04
- Python version: 3.6.7 (Windows) and 2.7.12 (Ubuntu)
- Type of virtual environment used: N/A

## Expected behaviour

Python debugger is expected to hit breakpoints set in VS Code

[2019-05-30 16:00] DonJayamanne opened #1482 "Debugger broken on last release (2019.5)"
@AllanDaemon commented on [Wed May 29 2019](https://github.com/microsoft/vscode-python/issues/5833)

After the last update, some parts of the debugger stop working. The setup is not simple, with multiple folders in the workspace, specific CWD in lauch.json, but it runs fine until version 2019.4.12954, but broke on update to 2019.5.17059.

I will try to give further details, like a minimal reproduc

[2019-05-30 16:02] DonJayamanne commented on #1482
@karthiknadig Adding `P0` label as this is a regression in the latest release of the  extension. We'll need a fix for a point release or we might have to consider rolling back based on the severity of the issue.

[2019-05-30 16:02] DonJayamanne commented on #1481
@karthiknadig Adding `P0` label as this is a regression in the latest release of the  extension. We'll need a fix for a point release or we might have to consider rolling back based on the severity of the issue.

[2019-05-30 16:28] DonJayamanne opened #1483 "Starting debugger fails with KeyError"
@zaro commented on [Thu May 30 2019](https://github.com/microsoft/vscode-python/issues/5843)

## Environment data
- VS Code version: 1.34.0
- Extension version (available under the Extensions sidebar): 2019.5.17059
- OS and version: Fedora 30
- Python version (& distribution if applicable, e.g. Anaconda): 3.6.8 installed from system rpm
- Type of virtual environment used (N/A | venv | virtualenv |

[2019-05-30 16:29] karthiknadig commented on #1480
This is caused by the extension adding pathmapping by default to launch config. This is the commit that introduced the issue.
https://github.com/microsoft/vscode-python/commit/1fad96f2730121ed2f61a9ec3b27750f5e46a796

The extension attempts to map workspace folder to current working directory. This was added to support certain multi-process scenarios. Looks like we will need to revert that and fin

[2019-05-30 16:29] DonJayamanne commented on #1483
@karthiknadig Possibly another P0

[2019-05-30 16:29] #1480 closed

[2019-05-30 16:30] karthiknadig commented on #1481
This is a extension issue. See for root cause, and temp solution. https://github.com/microsoft/ptvsd/issues/1480#issuecomment-497392812

[2019-05-30 16:30] #1481 closed

[2019-05-30 16:31] karthiknadig commented on #1482
This is a extension issue. See for root cause, and temp solution. https://github.com/microsoft/ptvsd/issues/1480#issuecomment-497392812

[2019-05-30 16:31] #1482 closed

[2019-05-30 16:35] karthiknadig commented on #1483
@zaro Can you add `"PTVSD_LOG_DIR": "<path to log directory>"` to "env" in launch json. and share the debugger logs?

[2019-05-30 16:47] karthiknadig commented on #1483
@zaro Can you also share `launch.json` for this?

[2019-05-30 16:55] knabb commented on #1480
Thank you for the quick update.

[2019-05-30 17:21] karthiknadig commented on #1444
This is done via https://github.com/microsoft/ptvsd/commit/8cca9fcd7a90617e9b18dbe92095a19ca46e6e05

[2019-05-30 17:21] #1444 closed

[2019-05-30 19:34] DonJayamanne opened #1484 "Add tests for path mappings in launch request"
## Environment data

- PTVSD version: N/A
- OS and version: N/A
- Python version (& distribution if applicable, e.g. Anaconda): N/A
- Using VS Code or Visual Studio: VS Code

## Actual behavior

When passing path mappings of `.` -> `${workspaceFolder}` and having a `cwd` in `launch.json`, then debugger fails to attach breakpoints.

## Expected  behavior

Adding breakpoints should work.

## Steps t

[2019-05-30 19:42] DonJayamanne commented on #1484
Closing, no point adding tests in PTVSD

[2019-05-30 19:42] #1484 closed

[2019-05-30 19:42] karthiknadig commented on #1484
What is the test supposed to validate? In this case the settings passed were incorrect, if the client and server are on the same machine. But this may be a perfectly valid setting when client and server are on different machines.

[2019-05-30 19:42] DonJayamanne commented on #1484
Lol race condition, 3 seconds off...

[2019-05-30 19:49] karthiknadig opened #1485 "Periodically run VSC python extension tests against master"

[2019-05-30 19:51] #1053 closed

[2019-05-30 20:16] MaxxRe3 commented on #1056
I had the same issue, that it would just raise the exception with the `freeze_support()` suggestion. I was able to solve this by setting `num_workers = 0` in my DataLoader, as mentioned [here](https://stackoverflow.com/a/53661693)

[2019-05-30 20:21] karthiknadig commented on #1056
@MaxxRe3 This occurs if the spwan happens before the main is fully loaded. you may have to reorganize your code a bit like below.
[code]

for example:
[code]

[2019-05-30 20:47] DonJayamanne commented on #1485
Related issue at our end https://github.com/microsoft/vscode-python/issues/4188

[2019-05-30 21:15] int19h commented on #1056
Note that `set_start_method` must also be inside `main()`, or otherwise guarded by `if __name__ == '__main__':`. Otherwise it gets executed twice in the parent when it imports the module while preparing to run the child, and that's not allowed.

https://docs.python.org/3/library/multiprocessing.html

[2019-05-30 23:45] jkassismz commented on #693
This is happening for me using a local configuration...
[code]

[2019-05-30 23:53] int19h commented on #693
Likely another manifestation of https://github.com/microsoft/ptvsd/issues/1480#issuecomment-497392812

@jkassismz, can you try adding:
[code]

and see if that helps?

[2019-05-31 07:31] AW2Temp commented on #1483
I get a similar error, with my VS Code stating it cannot open "ptvsd_launcher.py".  When I ran the file alone it gave me "list index out of range".

![image](https://user-images.githubusercontent.com/38325685/58689238-c118e000-8386-11e9-9e28-13f8293cf649.png)

If you check the image the highlighted lines causes errors

[2019-05-31 07:34] AW2Temp commented on #1483
Roll back to an older version.

[2019-05-31 07:40] zaro commented on #1483
@karthiknadig
my launch.json
[code]

And here is a debug log generated as you suggested:
[code]

[2019-05-31 07:50] karthiknadig commented on #1483
@zaro Can you try this with `"pathMappings": []` in launch.json? see comment here https://github.com/microsoft/ptvsd/issues/1480#issuecomment-497392812 . I suspect this is a manifestation of that.

However, we do need to address this case in the debugger.

[2019-05-31 07:56] zaro commented on #1483
@karthiknadig with this setting starting the debugger works as expected. Debugging single test doesn't but I guess I need to add the same setting somewhere else.

[2019-05-31 09:15] karthiknadig commented on #1483
@zaro

That should be addressed when the extension makes the fix on their end.

[2019-05-31 20:13] yang200050 commented on #1470
@karthiknadig
sys,getfilesystemencoding():mbcs
sys.getdefaultencoding():ascii
locale.getdefaultlocale(): ('zh_CN', 'cp936')
locale.getpreferredencoding(): cp936

[2019-06-03 19:16] karthiknadig commented on #1483
Closing this since the extension has addressed this on their end.

[2019-06-03 19:16] #1483 closed

[2019-06-03 21:08] #1445 closed

[2019-06-03 21:09] karthiknadig commented on #1445
https://github.com/microsoft/ptvsd/commit/7fbd5feebf04c4a7e009323181620a8eab14bb42

[2019-06-03 21:31] karthiknadig opened #1486 "Message processing/forwarding loop"

[2019-06-03 21:31] karthiknadig opened #1487 "Handling attach (connect to socket without spawning ptvsd)"

[2019-06-03 21:32] karthiknadig opened #1488 "Handling launch (spawn ptvsd)"
- [ ] Support runInTerminal
- [x] Support for IDEs that don't have runInTerminal
- [x] Process life time management, this is basic life time management. For an in depth item see (#1605).
- [x] Handle `terminated`, `exited`, and `disconnect` interactions.

[2019-06-03 21:46] karthiknadig opened #1489 "OOP Debug Adapter: initialize, attach, launch, configurationDone"

[2019-06-03 21:47] karthiknadig opened #1490 "OOP Debug Adapter: threads, stackTrace, scopes, variables"

[2019-06-03 21:47] karthiknadig opened #1491 "OOP Debug Adapter: setVariable, evaluate, setExpression"

[2019-06-03 21:48] karthiknadig opened #1492 "OOP Debug Adapter: pause, continue, next, stepIn, stepOut"

[2019-06-03 21:48] karthiknadig opened #1493 "OOP Debug Adapter: setBreakpoints, setExceptionBreakpoints, exceptionInfo"

[2019-06-03 21:49] karthiknadig opened #1494 "OOP Debug Adapter: completions, setDebuggerProperty, ptvsd_systemInfo, modules"

[2019-06-03 21:49] karthiknadig opened #1495 "OOP Debug Adapter: disconnect, exited, terminated"

[2019-06-03 21:50] karthiknadig opened #1496 "OOP Debug Adapter: pydevd_module_event, pydevd_input_requested, pydevd_thread_create, pydevd_thread_kill, pydevd_process_event"

[2019-06-03 21:51] karthiknadig opened #1497 "OOP Debug Adapter: pydevd_thread_suspend_single_notification, pydevd_thread_resume_single_notification, pydevd_cmd_write_to_console2"

[2019-06-03 21:52] karthiknadig opened #1498 "pydevd must send custom pydevdSubprocess event when a process is forked or spawned"
The `pydevdSubprocess` event should be forwarded to IDE as ` ptvsd_subprocess` event.

[2019-06-03 21:52] karthiknadig opened #1499 "Migrate specific messages"
Migrate specific messages to the OOP debug adapter.

[2019-06-03 21:59] #1446 closed

[2019-06-04 04:38] karthiknadig commented on #1474
@DonJayamanne @warrenstephens This looks like a issue with how the arguments are passed to python itself.
![image](https://user-images.githubusercontent.com/3840081/58851398-7b3e6f00-8647-11e9-80fe-bf2aab9c416f.png)

you could fix this in launch json by passing the args like this:
[code]

[2019-06-04 06:04] karthiknadig commented on #1474
Reopened the original issue on the extension.

[2019-06-04 06:04] #1474 closed

[2019-06-05 00:38] int19h opened #1500 "Add console_scripts to setup.py"
This would produce a script/exe entrypoint named `ptvsd` when the package is installed, that would have the same effect as `python -m ptvsd`.

In the refactor branch, we should similarly have scripts for `ptvsd` and `ptvsd.adapter`.

[2019-06-05 05:06] int19h commented on #1486
This got a bit more convoluted in light of the fact that the current ordering of messages is partially defined by the TS Python adapter in VSC, and when running directly against VSC the order is actually different. The TS adapter has some fairly complicated logic in it that needs to be partially replicated, and partially fixed because it orders things wrong - e.g. right now ptvsd actually gets `la

[2019-06-05 10:54] fabioz commented on #1486
As a note, I think the reordering should happen in `pydevd` for the cases that don't work (we shouldn't need threads for that, the reader thread should be able to requeue messages that arrive out of the expected order).

Also, I'm fixing the case where breakpoints appear before having the launch mappings to reapply breakpoints in my next pull request -- which is already doing this for the ipython

[2019-06-05 13:52] fabioz opened #1501 "Reorder messages to match backend needs in pydevd"
Messages to reorder:

- launch must be received before setting breakpoints (due to breakpoint validation).

[2019-06-05 13:59] fabioz commented on #1486
Actually, I backed out from reapplying breakpoints after receiving a launch -- we really must wait for the launch and apply it before setting breakpoints because otherwise breakpoint validation can be incorrect.

-- I created https://github.com/microsoft/ptvsd/issues/1501 to handle the reordering on `pydevd` (please add the limitations you see to that issue).

[2019-06-05 14:56] int19h commented on #1486
If we follow the diagram in the linked comment, I think we can avoid the breakpoint issue by using the "late case", i.e.:

1. Wait for `launch` or `attach` request with the necessary info.
2. While handling it, issue `initialized` event, and block waiting for `configurationDone`
3. IDE sends breakpoints in response to the above.
4. IDE eventually sends `configurationDone`.
5. Unblock and finish ha

[2019-06-05 15:13] fabioz commented on #1486
Seems good to me ;)

[2019-06-05 16:54] int19h opened #1502 "Concurrent DAP request processing"
The message handling code in `messaging.py` can only handle incoming DAP requests serially as designed - the problem is that the handler is invoked directly on the event loop, and its return value is the response body. Any requests that come in the meantime are queued for later processing.

This is not a problem for most requests, because their semantics or their implementation requires serial exe

[2019-06-05 16:55] int19h commented on #1502
Going to do a separate PR for this with just this change + tests, for a cleaner PR.

[2019-06-05 17:47] fabioz opened #1503 "Support for ipython cells"

[2019-06-07 05:02] amirhfarzaneh commented on #1443
I didn't have this problem until vscode updated to 1.35 today!

[2019-06-07 09:41] int19h opened #1505 "test_breakpoint_function fails on Python 3.7"
Windows and Linux (Travis), but only seems to happen on 3.7 specifically. All variations of the test fail.

Example log:
[code]

[2019-06-07 09:42] int19h commented on #1505
Seems to be happening very consistently in dbg_adapter_refactor branch, not sure about master.

[2019-06-07 10:52] fabioz commented on #1505
I don't think I've seen this fail (on `master` nor on the branch I'm working on). This test is skipped if not running in Python 3.7.

In master this is installed in `ptvsd._vendored.force_pydevd`

i.e.:
[code]

[2019-06-07 17:26] #1502 closed

[2019-06-07 20:39] karthiknadig opened #1506 "Performance in attached and detached state is similar."
Looks like we may have issue with how we handle detached state. The run time performance must be better in detached state in comparison with the attached state. I suspect we are not doing the right thing in settrace after detach.

[2019-06-07 22:45] mclemente opened #1507 "open() can't open a local file"
@Anapo14 requested me to post this bug.

## Environment data

- PTVSD version: 2019.5.18875 (6 June 2019)
- OS and version: Windows 10 Pro 1803
- Python version (& distribution if applicable, e.g. Anaconda): Python 3.7.2 64-bit
- Using VS Code or Visual Studio: VS Code

## Actual behavior
I have a Python program that reads a JSON file that is on the same folder as the program. When running the fol

[2019-06-07 23:07] int19h commented on #1507
How does your `launch.json` look like? There's a setting there for current working directory in which the program is going to be run. By default, it's set to your workspace folder. So if you're running a script from a subfolder, the current directory is still going to be the top of the workspace.

[2019-06-08 19:06] Zrincet commented on #1398
When I used requests.get(), the program ended unexpectedly. I tried to debug at this location and then showed ‘Could not load source '<string>': Source unavailable. ’, the call stack was ‘_new_’

[2019-06-08 19:12] int19h commented on #1398
@Zrincet, when you get that message, your program is paused normally, it just means that it's inside code for which there's no source. Usually this means that something is doing `exec` or `eval`, but sometimes it's dynamically generated functions. In this particular case, it's `namedtuple.__new__` that is generated for some tuple used internally by the library you're calling.

You can press F5 to

[2019-06-10 12:36] Zrincet commented on #1398
@int19h , If I breakpoints at requests.get(), the program will not continue to run while debugging. The program was closed unexpectedly without any prompts. I thought the problem was with my code, but in the end I found out that it was because of a breakpoint at requests.get(). If the statement following the requests.get() breakpoints, debugging will not go wrong.

[2019-06-10 13:22] fabioz commented on #1506
I'll take a look at this.

[2019-06-10 13:37] fabioz commented on #1506
Right now when detaching the debugger we mostly disable breakpoints. We can't completely disable tracing because it can be tricky to reattach to running threads, but we can probably do a better job when we detect there are no active breakpoints (it still won't be as fast as having no debugger because we need to at least have a tracing function set, but it can be a faster tracing function and in Py

[2019-06-10 17:22] DonJayamanne opened #1508 "Internal error detected"
@garytyler commented on [Mon Jun 10 2019](https://github.com/microsoft/vscode-python/issues/5955)

[code]

---

@garytyler commented on [Mon Jun 10 2019](https://github.com/microsoft/vscode-python/issues/5955#issuecomment-500433334)

VS Code version: Code 1.35.0 (553cfb2c2205db5f15f3ee8395bbd5cf066d357d, 2019-06-04T01:17:12.481Z)
OS version: Windows_NT x64 10.0.17763
Remote OS version: Linux x64 4

[2019-06-10 18:35] karthiknadig commented on #1508
@fabioz Looking at the stack it seems like it is picking up the wrong `queue`?
[code]

[2019-06-10 18:46] mclemente commented on #1507
[code]
So that was the problem! Changing the cwd to ${fileDirname} fixed it.
I've tried changing it before but somehow was having problem with it (I've probably tried changing program to `"program": "${fileDirname}\\${fileBasename}"`, which didn't help it at all.

[2019-06-10 18:46] #1507 closed

[2019-06-10 19:30] fabioz commented on #1508
@karthiknadig yeap, that seems to be it...

@garytyler, the problem is that the debugger relies on having some Python modules available and as your project is shadowing one of those (queue.py in /mnt/c/Users/g/proj/eventvr-web/eventvr/queue.py), so, the debugger can't start properly.

The actual solution would be renaming your own `queue` module to something else as you're not expected to shadow t

[2019-06-10 19:48] int19h commented on #1398
@Zrincet, got it! Can you please do this in your launch config:

[code]
and share the logs that it places there? You'll have to create the directory first, and there may be more than one log if you're running Flask with reloading enabled (it creates one log per process).

If there's any private information in your environment, check the logs first. There's stuff there like pathnames etc that might

[2019-06-10 19:59] fabioz commented on #1506
Development notes:

Besides checking if there are no breakpoints we also need to check that we aren't currently stepping in any thread.

I.e.: if the user hits a breakpoint and then removes all breakpoints he can continue to do a step over.

Detach should make all threads run besides removing all breakpoints, but the order in which it does things is first removing all breakpoints and then making t

[2019-06-10 20:00] garytyler commented on #1508
Ah, yes of course! Sorry to bother you with it. Thanks!

[2019-06-10 20:01] int19h commented on #1506
Oh, right... if you remove the tracefunc, then when you re-attach, setting it on existing stack frames on other threads is difficult. But frame eval is another matter.

[2019-06-10 20:18] int19h commented on #1508
@fabioz, @karthiknadig

We're seeing this occasionally, and it's very confusing when it happens. Python stdlib is huge, and if you name your own modules sensibly, the chances of a name clash are pretty high.

Can we do something to detect it and clearly report what's going on?

E.g. in ptvsd, have a module that just imports all the stdlib modules that the debugger will need at some point, and chec