[2019-06-10 20:29] fabioz commented on #1508
@int19h I agree this is a good idea, there's already a main place where those are loaded (`_pydev_imps._pydev_saved_modules`), and it should be the proper place to load with a try..except and check for conditions afterwards (if something is not loaded from there, it should be moved to that place).

I'll reopen this issue and use it to track that.

[2019-06-10 20:36] fabioz commented on #1508
@int19h @DonJayamanne @karthiknadig

As a note, maybe this is something that the code analysis on the client should be also doing (usually the user is expected to create its own namespace and put things there -- so, having `my_project.queue` wouldn't be a problem, whereas having `queue` as the top level or `threading` would not be ok).

Handling it in the client is a different issue, so, just rais

[2019-06-10 20:49] int19h commented on #1506
@fabioz, in some scenarios, we might not particularly care that existing frames won't have tracing enabled to reattach - i.e. no user code running when attaching, and so long as tracing is applied only to code that runs after attaching, that's fine.

Could un-settrace be done then on 2.7? Maybe not by default, but some way to set this mode via launch/attach config. And then we'd set it only for th

[2019-06-10 21:07] int19h commented on #1508
@Anapo14, take a look at the comment above.

I don't know how often this happens in general. But it depends on how many stdlib modules the project imports, directly or indirectly (including any stdlib or third-party package they import).

We hit it here more often than most, I bet, because ptvsd and pydevd need to import a lot of things, many of them solely because we need to specifically support

[2019-06-10 22:01] int19h commented on #1505
Disabled the test for now, to be re-enabled once fixed.

[2019-06-10 22:14] int19h opened #1510 "Refactor test layout to match the new package layout"
We need to cleanly separate ptvsd tests for common stuff, adapter, debug server, and testing infrastructure. New layout:

- tests/
(test helpers)
- tests/ptvsd/
(nothing here)
- tests/ptvsd/common/
(tests for `ptvsd.common`)
- tests/ptvsd/adapter/
(tests for `ptvsd.adapter`)
- tests/ptvsd/server/
(tests for `ptvsd.server`)
- tests/tests/
(tests for test helpers)

[2019-06-10 23:15] DonJayamanne opened #1511 "Issue for Python"
@WENZ50 commented on [Mon Jun 10 2019](https://github.com/microsoft/vscode-python/issues/5961)

# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License.

import os
import os.path
import sys
import traceback

useCustomPtvsd = sys.argv[1] == '--custom'
ptvsdArgs = sys.argv[:]
ptvsdArgs.pop(1)

# Load the debugger package
try:
    ptvs_lib_path = os.path.join(os.p

[2019-06-10 23:53] int19h commented on #1511
... that is just copy/pasted source code of ptvsd_launcher.py, no?

What's the actual issue?

[2019-06-11 05:25] karthiknadig commented on #1490
Since the server automatically propagates request. The following requests don't need any additional code, they can be propagated directly to debug server.
* threads
* stackTrace
* scopes
* variables

[2019-06-11 05:25] #1490 closed

[2019-06-11 05:33] karthiknadig commented on #1492
Since the server automatically propagates request. The following requests don't need any additional code, they can be propagated directly to debug server.
* next
* stepIn
* stepOut

[2019-06-11 05:38] karthiknadig commented on #1493
Since the server automatically propagates request. The following requests don't need any additional code, they can be propagated directly to debug server.
* setBreakpoints
* setExceptionBreakpoints
* exceptionInfo

The implementation in 4.* waits for pathmappings to be set. Since the refactored version ensures that launch/attach request is received before setBreakpoints, the path mappings are expe

[2019-06-11 13:43] fabioz commented on #1506
@int19h the problem isn't really existing frames but existing threads (because python has no public api to set the tracing in a running thread from another thread -- see: https://bugs.python.org/issue35370 and https://github.com/microsoft/ptvsd/issues/509).

Also, as a note, even on frame eval mode we have to set a tracing function (Python won't even check `frame.f_trace` unless a tracing function

[2019-06-11 17:33] int19h commented on #1506
@fabioz FWIW, in mixed-mode Python/Native debugging in VS, which works using tracefunc only, I recall the performance was around 1.5x slower than no debugging.

But in that case, the function is set directly via `PyEval_SetTrace` (or rather even more directly via setting `PyThreadState::c_tracefunc` and other relevant flags on native level - but it should be the same in principle), and so it skips

[2019-06-11 17:45] karthiknadig commented on #1511
@WENZ50 Please provide details on the issue and re-open.

[2019-06-11 17:45] #1511 closed

[2019-06-11 18:22] fabioz commented on #1506
@int19h I actually thought about that a few times and until now I haven't really gotten that route because it's really a large undertaking and we still need to support the pure-python mode anyways (because of Python VMs), but that can probably be done in parts...

In particular, the frame evaluator tracing function is **very** simple (https://github.com/microsoft/ptvsd/blob/master/src/ptvsd/_vendo

[2019-06-11 18:38] int19h commented on #1506
Oh, and just to clarify - this is all hypothetical future possibilities for now, not a specific requirement for anything.

[2019-06-11 18:47] fabioz commented on #1506
Oh, sure... but since we're talking about the performance when detached and that tracing function is the major culprit, I think that it's a good target (and I don't think it should add much complexity to the frame eval mode where we're already in the native world anyways).

[2019-06-11 20:05] fabioz commented on #1372
I think it should be straightforward to do this in pydevd...

Should the user set this in the launch configuration `debugOptions` or should this be set internally (in `on_setdebuggerproperty_request`) -- or can we just do that when `multiThreadsSingleNotification` is set in `on_setdebuggerproperty_request` (which is already done)?

[2019-06-11 20:49] karthiknadig commented on #1372
we plan on deprecating `debugOptions` as well. All settings should happen via the launch json. So, i think this would also be a setting passed via launch json. This is how i expect IDE to pass this setting to us. This way the extension can basically indicate that this behavior setting will be deprecated. Either by making the setting private or by providing a warning. /cc @DonJayamanne

As for how

[2019-06-11 20:55] karthiknadig commented on #1372
For clarification, deprecation of `debugOptions` means turning them into boolean settings in lauch/attach json. for example, currently we set `"justMyCode": true` in VSC. but it is translated to `debugOptions` and translated back to a boolean setting. This was needed to support VS style of settings. But, going forward VS will also be using json settings, such translation is unnecessary. So it shou

[2019-06-12 05:13] aerinkim commented on #1283
@int19h
I added `multiprocessing.set_start_method('spawn', True)` however, getting this error.
[code]

[2019-06-12 05:37] int19h commented on #1283
@aerinkim This is a general issue with `multiprocessing` - since separate processes don't share memory space, Python has to pickle and unpickle any data that you pass back and forth.

In this case, it sounds like you tried passing a lambda across processes? The usual way to handle this is by passing a named global function. If the lambda body uses any variables from the local scope, you'll have to

[2019-06-12 17:38] DonJayamanne commented on #1356
@karthiknadig
Please can you check upstream VSC issues to see whether there's a solution for this:
https://github.com/microsoft/vscode/issues/2399
https://github.com/microsoft/vscode/issues/15520
https://github.com/microsoft/vscode/issues/8118
https://github.com/microsoft/vscode/issues/2399

Looks like they fixed this in VSC, if the problem still persists, please report on VSC.

Re-opening as this

[2019-06-13 07:07] YoniChechik commented on #1356
Thanks for the reopening- it can be very useful for data-science with python!

[2019-06-13 09:51] jbelusic opened #1516 "Hide debugger threads from being returned in the threading module"
This code should go to end but in VS Code does not. In others IDE this run to the end.
Is this BUG or?

Code is:

[code]

[2019-06-13 10:39] #1372 closed

[2019-06-13 12:17] fabioz commented on #1144
Loading `dbghelp.dll` from that location is actually optional (the problem was that the `ProgramFiles` environment variable wasn't available in your case -- not sure why thought).

So, just created a pull request that will provide a default value if that environment variable cannot be found.

As a note, you could install the latest `dbghelp.dll` following: http://msdn.microsoft.com/en-us/library/w

[2019-06-13 17:23] #1144 closed

[2019-06-13 17:30] fabioz commented on #1516
The problem is that you're waiting for all threads to finish (except the main thread) in:

[code]

So, what happens is that some of the threads returned from `threading.enumerate` are debugger threads that will not finish until your own threads finish.

The fix for your own code would be joining just the threads that you created.

i.e.:

[code]

I'm leaving this open because we may want to hide th

[2019-06-13 18:33] karthiknadig commented on #1356
Created an issue on VSCode https://github.com/microsoft/vscode/issues/75359 . I will keep this open, and see what they say about this issue.

[2019-06-13 19:09] EugeneZelenko opened #1518 "Remote debugging for built-in Python"
It'll be great to have possibility to embed use ptvsd_launcher.py into Python code started inside application with built-in Python interpreter with uses internal application's data and APIs. Currently ptvsd_launcher.py and its support code rely on parameter passed in sys.args, so it should use alternative way to pass parameters and/or alternative entry point.

[2019-06-13 19:45] karthiknadig commented on #1518
@EugeneZelenko Can you elaborate a bit more? I don't fully understand the scenario.

FYI. If you have a application with python loaded there, we have a feature to attach to that application via process id. See https://github.com/microsoft/ptvsd#attaching-to-a-running-process-by-id . This is currently supported up to python 3.6 . Support for 3.7+ is coming soon.

[2019-06-13 19:55] jbelusic commented on #1516
Great, it works, thanx.

[2019-06-13 19:57] jbelusic commented on #1516
Sorry I am new to GitHub and I accidentally closed this.

[2019-06-13 20:42] EugeneZelenko commented on #1518
Yes, I know about attachment to remote process. My point is to have possibility to launch ptvsd_launcher.py  without launching new instance of Python interpreter.

[2019-06-13 20:42] fabioz commented on #846
@karthiknadig I'm updating the native code here... right now, in the `pydevd` repo I compile the resulting dlls (for x86 and x64) on my machine and commit those to the repo to ease on deployment, so, my question is: should I provide those compiled dlls in a pull request (as happens in `pydevd`) or just the source code?

-- as a note, in the current master, the committed version on `ptvsd` and `pyd

[2019-06-13 20:46] karthiknadig commented on #846
Committing the binary is fine. We will also need the symbols for the dlls in windows.

[2019-06-13 20:54] int19h commented on #1518
@EugeneZelenko

If I understand everything correctly, `ptvsd.enable_attach` and `ptvsd.attach` are meant for this exact scenario (among others). If you control the host app, you can have it run that. If you only control the guest code, you can explicitly specify that stuff there.

By ptvsd_launcher.py, I assume you mean the one in PTVS? https://github.com/microsoft/PTVS/blob/master/Python/Product/

[2019-06-13 21:01] #1486 closed

[2019-06-13 21:07] #1493 closed

[2019-06-13 21:08] EugeneZelenko commented on #1518
If it's safe to modify sys.args, sure, it'll be easier to replicate ptvsd_launcher.py in my application.

[2019-06-13 21:08] #1491 closed

[2019-06-13 21:18] int19h commented on #1518
Yep. Modifying `sys.argv` is allowed. So this:
[code]
should behave exactly as if you did:
[code]
and in either case, if foo.py then does `print(sys.argv)`, it will say `["foo.py", "bar"]`

If this works for you, can you please go ahead and close the issue?

[2019-06-13 21:22] EugeneZelenko commented on #1518
Thank you for clarification! Just one more question: Python code is started from C++, so how could I tell ptvsd about this entrance point?

[2019-06-14 03:48] int19h commented on #1518
Not really, sorry - at least not in this way. Ptvsd CLI is meant to mimic Python itself - specifically, `python foo.py`, `python -m foo`, or `python -c "print(...)"`. Each of those is a special case, and has to be handled separately to ensure that it does the same thing that Python normally does.

But you can take the code that's there in `__main__.py`, and adapt it for your case. I don't think th

[2019-06-14 03:49] int19h commented on #1518
I just realized that perhaps I misunderstood your question, and what you really want is for Visual Studio to use your binary instead of `python` to launch the process, when you do Start/F5?

[2019-06-14 12:37] fabioz opened #1520 "Re-enable attach by pid tests (test_attaching_by_pid)"

[2019-06-14 17:45] EugeneZelenko commented on #1518
My idea is to launch ptvsd client from Python interpreter started inside my application (Boost::Python is used for that purpose), set breakpoint on Python function name which will be called after client launch and then connect Visual Studio Code debugger to that client.

I'd like to replicate something like macros debugger (Python/Ruby) in https://klayout.de, but with already available tools.

App

[2019-06-14 19:32] int19h commented on #1518
Rather than using `--log-dir`, try setting `PTVSD_LOG_DIR` environment variable. I don't think ptvsd_launcher even supports `--log-dir`, that's only in the main CLI.

[2019-06-14 19:38] int19h commented on #1518
We try to stick to what Python does with respect to our ptvsd CLI (all other switches are to configure ptvsd itself). So, basically, if it's described here, it is in scope for that - and conversely, this is also why we don't do class and function launch:

https://docs.python.org/3/using/cmdline.html

(We do not fully support some scenarios there yet, either - e.g. we don't support interactive mode

[2019-06-14 19:48] int19h commented on #1520
If the tests are broken after re-enabling in a non-obvious way, we'll probably want to wait until after the refactoring is done, since that will also change this code path substantially.

[2019-06-14 20:18] EugeneZelenko commented on #1518
Thank you for explanations! Solution will be not as  as trivial as I expected.

[2019-06-14 20:18] #1518 closed

[2019-06-14 21:12] int19h commented on #1518
You're welcome!

Oh, and you'll need to use `ptvsd.wait_for_attach` to make sure that your Python code doesn't start running until the debugger attaches. By itself, `enable_attach` sets up the debug server, but doesn't block waiting for connection.

[2019-06-15 13:45] byzhangkui opened #1522 "ImportError: No module named importlib"
Traceback (most recent call last):
  File "c:\Users\koryz\.vscode\extensions\ms-python.python-2019.1.0\pythonFiles\ptvsd_launcher.py", line 21, in <module>
    import ptvsd
  File "c:\Users\koryz\.vscode\extensions\ms-python.python-2019.1.0\pythonFiles\lib\python\ptvsd\__init__.py", line 13, in <module>
    from ._vendored import force_pydevd
  File "c:\Users\koryz\.vscode\extensions\ms-python.pyt

[2019-06-17 00:23] lephuongbg commented on #1383
Our python version has moved to 3.7 and I can't reproduce this problem anymore.

[2019-06-17 02:03] CAH-FlyChen commented on #1443
i got the same issue.
when i change to multiprocessing.set_start_method('spawn', True),
got
  File "/usr/lib/python3.6/multiprocessing/popen_spawn_posix.py", line 32, in __init__
    super().__init__(process_obj)
  File "/usr/lib/python3.6/multiprocessing/popen_fork.py", line 19, in __init__
    self._launch(process_obj)
  File "/usr/lib/python3.6/multiprocessing/popen_spawn_posix.py", line 47, in

[2019-06-17 11:37] #846 closed

[2019-06-17 17:40] karthiknadig commented on #1522
@byzhangkui Can you provide the following details?
## Environment data

- PTVSD version:
- OS and version:
- Python version (& distribution if applicable, e.g. Anaconda):
- Using VS Code or Visual Studio:

## Steps to reproduce:
1.

[2019-06-17 17:43] #1492 closed

[2019-06-17 17:43] #1494 closed

[2019-06-18 02:52] karthiknadig opened #1523 "Handing events from pydevd that use `pydevd_cmd_id` in json"
These are events that are handled via `pydevd_events.handler` in `wrapper.py`. the json for these events has `pydevd_cmd_id` in addition to event name. In some cases where there isn't a DAP equivalent there may not be a event name.

[2019-06-18 09:41] vladeziegler opened #1526 "Issue with tracebacks"
Traceback (most recent call last):
  File "/Users/vladimirdeziegler/.vscode/extensions/ms-python.python-2019.5.18875/pythonFiles/ptvsd_launcher.py", line 43, in <module>
    main(ptvsdArgs)
  File "/Users/vladimirdeziegler/.vscode/extensions/ms-python.python-2019.5.18875/pythonFiles/lib/python/ptvsd/__main__.py", line 434, in main
    run()
  File "/Users/vladimirdeziegler/.vscode/extensions/ms-py

[2019-06-18 13:04] fabioz commented on #1477
@karthiknadig -- I think that it'd be nice to leave Travis.

I use it much more than the one on Azure because it automatically runs tests on any new branch on my own private fork, which doesn't seem to be the case for Azure... given that I create new branches to run almost daily, it becomes pretty tedious to manually configure Azure each time to target new branches (although it's possible that I'm

[2019-06-18 14:28] fabioz commented on #1239
Closing this one in favor of: https://github.com/microsoft/ptvsd/issues/863 (issue seems different but it's actually the same problem).

[2019-06-18 14:28] #1239 closed

[2019-06-18 14:41] fabioz commented on #1520
I've done changes so that the attach to process can run code in the target pid, but there are still issues to fix. Namely:

- If the process was initially launched from vscode it doesn't really attach because it sees the debugger started in no debug mode.

- As it doesn't block before a connection, the tracing may not be set for existing threads (and thus the user is not able to actually debug exi

[2019-06-18 16:58] fabioz commented on #1520
I was thinking a bit more and I think that maybe a better approach would be first fixing https://github.com/microsoft/ptvsd/issues/509 (so, I'd move the code that does the settrace after the attach to pid to a module which would be used during a regular settrace, not only during the attach to pid) -- I think this should be enough to fix the 2nd issue I mentioned without changes that'd conflict wit

[2019-06-18 17:53] int19h commented on #1520
The main reason why we even need to do anything about this today in ptvsd is for two reasons:

First, because VSCode needs to receive subprocess notifications, so that it can attach to them. That logic can be moved to pydevd entirely, we just need to standardize on the message format. It was impossible in the original model, because pydevd didn't talk DAP directly on its socket. But now that it is

[2019-06-18 18:09] karthiknadig commented on #1526
@vladeziegler Can you make sure that `samplehtml.html` is in `/Users/vladimirdeziegler/Desktop/Exercise Files`?

[2019-06-18 18:56] fabioz commented on #1520
Related to subprocess notifications, pydevd by default will just try to connect the sub processes to a socket which the DAP should be listening, so, as far as the ptvsd debug adapter is listening, no additional message should be needed (as it'll know that a new subprocess was created when a new socket connection is requested).

Related to pydevd inside ptvsd I agree that we could make pydevd more

[2019-06-18 19:18] bryant-finney opened #1527 "Concurrent Test Execution Failure in pydevd"
## Environment data

- PTVSD version: 2019.5.18875
- OS and version: Ubuntu 18.04.2 LTS
- Python version (& distribution if applicable, e.g. Anaconda): 3.6.7 (distributed through pypi)
- Using VS Code or Visual Studio: code-insiders 1.36.0-insider

## Actual behavior

Launching a parallel test run through Django's built-in test runner fails after system checks are performed, producing the followin

[2019-06-18 20:43] ivankorn commented on #1015
@karthiknadig, the issue seem to be reproducible with the latest ms-python extension.

`  File "~/.vscode-oss/extensions/ms-python.python-2019.5.18875/pythonFiles/lib/python/ptvsd/socket.py", line 197, in connect
    sock.connect(addr)
ConnectionRefusedError: [Errno 111] Connection refused`

[2019-06-18 20:45] karthiknadig commented on #1489
launch and attach have separate work items.

[2019-06-18 20:45] #1489 closed

[2019-06-18 20:52] karthiknadig commented on #1527
@bryant-finney `--parallel` starts separate processes, can you add `"subProcess": true`. Since this is linux, you might want to set `spawn` mode. See here:
https://github.com/microsoft/ptvsd/blob/master/TROUBLESHOOTING.md#1-multiprocessing-on-linuxmac

If this does not help, please share a minimal repro.

[2019-06-18 23:09] bryant-finney commented on #1527
I added the `"subProcess": true` to the launch configuration, but no observable changes. I also stuck the multiprocessing call into `manage.py`, but spawning instead of forking introduces the issue of the Django apps no longer being loaded in the subprocesses.

Also of note: debugging individual test modules and packages works as expected, even with parallel processes enabled. It looks like this o

[2019-06-18 23:31] int19h commented on #1520
Sorry, I got confused there - thought this was multiprocess debugging, for some reason. With attach-by-PID we shouldn't need any new messages, just a way to inject arbitrary code.

[2019-06-19 17:50] karthiknadig opened #1530 "steppingResumesAllThreads with true results in incorrect thread state in the UI"
## Environment data

- PTVSD version: master
- OS and version: Windows
- Python version (& distribution if applicable, e.g. Anaconda): 3.7
- Using VS Code or Visual Studio: VS Code

## Actual behavior

![image](https://user-images.githubusercontent.com/3840081/59788134-ef038d00-927f-11e9-9289-74190c2e3e6b.png)

## Expected  behavior

Show show all threads as running in that case.

## Steps to repr

[2019-06-19 17:53] karthiknadig commented on #1530
We may need to send the `continue event` in this case, since the threads are continued (may be not as a direct result of user request)? Since `stepping` is specific to a thread, any other thread that is continued should report via the `continued` event?

@fabioz @int19h what do you think?

[2019-06-19 21:10] karthiknadig commented on #1458
We are doing this as we go along. Separate item is not necessary.

[2019-06-19 21:10] #1458 closed

[2019-06-19 21:11] karthiknadig commented on #1224
The Launch work item will be dealing with this. https://github.com/microsoft/ptvsd/issues/1488

[2019-06-19 21:12] #1224 closed

[2019-06-19 21:17] karthiknadig commented on #1451
This will be done as a part of #1488

[2019-06-19 21:17] #1451 closed

[2019-06-20 03:09] narekmargaryan commented on #1437
Hi @karthiknadig,

Sorry for the late reply.
For your second question, yes, still happening.

For the first one, the output is:

`
import os
for key, val in os.environ.items():
    print('\n%s:' % (key,))
    for v in val.split(os.pathsep):
        print('    %s' % (v,))
`

[2019-06-20 03:27] karthiknadig commented on #1528
@loftusa  Can you clarify this?

Particularly, does it take 10 mins to reach that point when you run it directly like `python script.py`. Or it takes that long only when running under debugger. Also, do you see a difference with or without break-point set.

[2019-06-20 03:44] oOTnTOo opened #1533 "Why breakpoint can't used in last release?"
## Environment data

- VS Code version: 1.35.1
- Extension version (available under the Extensions sidebar): 2019.5.18875
- OS and version: win10
- Python version (& distribution if applicable, e.g. Anaconda): 3.7.0
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): conda

## Expected behaviour

breakpoint in main thread is ok,but in other thread is invaild,program can't b

[2019-06-20 08:15] c-herff opened #1534 "Debugging opens new all-lowercase file, again"
This bug has been reported and apparently been solved before, but since the latest update I'm experiencing the problem, again.

In CamelCased Filenames, the debugger tries to open a new all-lowercase file which does not exist.

## Environment data

- VS Code version:  1.35.1
- Extension version (available under the Extensions sidebar): 2019.5.18875
- OS and version: XXX
- Python version (& distrib

[2019-06-20 12:30] fabioz commented on #1530
We actually disable individual hooks in:
(`NetCommandFactoryJson.make_thread_run_message` and `NetCommandFactoryJson.make_thread_suspend_message`) and we have the single one sent before/after all threads are resumed in `AbstractSingleNotificationBehavior.notify_thread_suspended`.

The fix for this would be stop sending the notification from `AbstractSingleNotificationBehavior.notify_thread_suspend

[2019-06-20 12:46] YoniChechik commented on #1356
@karthiknadig [https://github.com/microsoft/vscode/issues/75359](this issue) is now fixed. please update about what you think

[2019-06-20 16:58] karthiknadig commented on #1356
@YoniChechik @DonJayamanne I verified the fix in the Insiders build of VSCode.

[2019-06-20 16:58] #1356 closed

[2019-06-20 17:14] karthiknadig commented on #1530
It is weird. VS is the one that needs single suspended event. VSC is more lenient about this. Multiple continued events will definitely break it.

I think the clientid should be enough to manage this behavior. so would not need any additional flags. Also, in this particular case VS will not need this continued event at all. VS  UI is perfectly happy with the current state reported by the debugger.

[2019-06-20 17:18] karthiknadig opened #1531 "AttributeError: '_pydevd_bundle.pydevd_cython.PyDBAdditionalThreadInfo' object has no attribute 'pydev_original_step_cmd'"
## Environment data

- PTVSD version: master
- OS and version: windows
- Python version (& distribution if applicable, e.g. Anaconda): 3.6
- Using VS Code or Visual Studio: VS

## Steps to reproduce:
1. Stepping causes this exception
[code]

[2019-06-20 17:18] karthiknadig commented on #1531
This seems to only occur on 3.6.

[2019-06-20 17:21] lovettchris opened #1532 "Infinite wait on getting variable values while debugging"
## Environment data

- VS Code version: 1.35.1
- Extension version (available under the Extensions sidebar): 2019.5.18875
- OS and version: Windows 10 1809 17763.557
- Python version (& distribution if applicable, e.g. Anaconda): 3.6
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): conda
- Relevant/affected Python packages and their versions: N/A
- Jedi or Language Serve

[2019-06-20 17:28] karthiknadig commented on #1533
@oOTnTOo can you provide a minimal repro?

[2019-06-20 17:31] int19h commented on #1533
Might be that issue with `breakpoint()` being on the last line in the block.

@oOTnTOo, in addition to sharing the code, can you also try sticking e.g. `()` - just like that, on a single line all by itself - immediately after `breakpoint()`, and see if that does anything for you?

[2019-06-20 17:33] karthiknadig commented on #1534
@c-herff  Can you provide debugger logs? you can generate them by setting "PTVSD_LOG_DIR" environment variable to point to a log dir. Please remove any personal info from that file and share it with us.

[code]

[2019-06-20 17:42] fabioz commented on #1531
@karthiknadig did you get this on a release or on your machine with a local version?

The only way I can think of for this to trigger is that somehow the binaries haven't been properly compiled.

[2019-06-20 18:55] karthiknadig commented on #1531
I ran into this with `master`, i just used PYTHONPATH and ran it from `./src`.

[2019-06-20 19:06] fabioz commented on #1531
It should be a local problem then... if you recompile your cython extensions (or erase them), things should work again (please reopen if that's not the case).

[2019-06-20 19:06] #1531 closed

[2019-06-20 20:22] int19h opened #1535 "Script to clean up development artifacts for local testing"
When working on ptvsd development, it's not uncommon to run into issues such as #1531 that have to do with various Python artifacts (.pyc / .pyo cached bytecode, .pyd modules in pydevd, pytest and tox caches etc) getting stale in a way that is not recoverable by the tools.

We need to have a dev cleanup script in the repo that takes care of all this, giving a "clean slate". It can't just blow away

[2019-06-21 07:39] c-herff commented on #1534
Thanks for your response @karthiknadig

Here is the output of the debug log

`I00000.016: Windows-10-10.0.17763-SP0 AMD64
            CPython 3.6.6 (64-bit)
            ptvsd 4.2.10

I00000.016: main(['c:\\Users\\USER\\.vscode\\extensions\\ms-python.python-2019.5.18875\\pythonFiles\\ptvsd_launcher.py', '--client', '--host', 'localhost', '--port', '59875', 'c:\\workspace\\pilot-data-structure\\newT

[2019-06-22 00:49] karthiknadig commented on #1534
@c-herff  The log does not show this particular issue. Can you share a log when this particular issue is reproduced? I have tried reproducing this locally, and I have not been able to.

[2019-06-24 06:09] bored002 commented on #1291
i'm trying the same thing but when debugging my python code with `"justMyCode": false` and launching the debug i'm getting a KeyError exception on `sys.path_importer_cache[path_item]` in pkgutil.py

[2019-06-24 08:06] c-herff commented on #1534
I can't see it in the log files either, but when I fire up the debugger I get the following error in the Terminal:
pydev debugger: warning: trying to add breakpoint to file that does not exist: c:\workspace\pilot-data-structure\newtest.py (will have no effect)

Where it should be newTest.py.

![image](https://user-images.githubusercontent.com/43335998/60001825-a2e18f80-9667-11e9-9eb5-b07a00a9288c.

[2019-06-24 10:57] fabioz commented on #1534
@c-herff in windows checking if a file exists should be case insensitive, so, it's weird that it says that the file does not exist... can you change the file to have the contents below, run it and post the output?

[code]

[2019-06-24 11:09] c-herff commented on #1534
Dear @fabioz, thanks for your help. The output reads:

pydev debugger: warning: trying to add breakpoint to file that does not exist: c:\workspace\pilot-data-structure\newtest.py (will have no effect)

c:\workspace\pilot-data-structure\newTest.py
True
c:\workspace\pilot-data-structure\newtest.py
False
c:\workspace\pilot-data-structure\newtest.py
False
c:\workspace\pilot-data-structure\newTest.py
T

[2019-06-24 11:28] fabioz commented on #1534
Humm, I was doing some research and it seems that this is a new feature that can be enabled selectively in folders (i.e.: https://www.howtogeek.com/354220/how-to-enable-case-sensitive-folders-on-windows-10/)

So, in this case it seems that the given folder is case-sensitive... it seems that this may happen if you either specifically enable the option for the directory or if you created it through

[2019-06-24 11:31] c-herff commented on #1534
Dear @fabioz
this was exactly the problem. I created this folders through WSL and use git on WSL. Thanks so much for your help!

[2019-06-24 11:37] fabioz commented on #1534
I'm renaming this issue to describe the actual cause and I'll leave it open so that we can address this in the future in the debugger...

[2019-06-25 16:40] karthiknadig commented on #1496
Following events can propagate to IDE as is.
pydevd_module_event
pydevd_thread_create
pydevd_thread_kill
pydevd_process_event

This event needs to be skip sending anything to IDE:
pydevd_input_requested

[2019-06-25 16:50] karthiknadig opened #1539 "Migrate wait on SystemExit and break on exit code"
This is the part that is handled in 'stopped' event handler in the adapter. This should be moved into the debug server.

[2019-06-25 17:31] int19h opened #1540 "Add type annotations to ptvsd API"
The minbar would be our public APIs such as `enable_attach`, to enable better code completion for them in VSCode and other Python IDEs.

However, we would also derive some engineering benefits from having them in internal code, as well. So let's add them for all newly written code, at least.

Since we need to support Python 2.7, this has to be either in form of PEP 484 type comments, or via .pyi f

[2019-06-26 04:55] oOTnTOo commented on #1533
![image](https://user-images.githubusercontent.com/31060590/60151792-b2500c80-9810-11e9-8b0f-a35c0dc25d76.png)
look this，the program is running，but breakpoints doesn't work, and it's in other thread。
when I am press F6:
![image](https://user-images.githubusercontent.com/31060590/60151936-36a28f80-9811-11e9-817e-3ff52c7687d6.png)
its break this, means program use this code, but breakpoint doesn't w

[2019-06-26 04:57] oOTnTOo commented on #1533
Oh, i am use Pyqt5 lib in this program

[2019-06-26 05:33] int19h commented on #1533
At the moment, you need to call `ptvsd.debug_this_thread()` on your background thread, as soon as it starts.

Unfortunately, for threads that aren't started via Python itself (i.e. `threading` module), the debugger currently cannot do so automatically.

[2019-06-26 05:59] oOTnTOo commented on #1533
It works thank you.

before use ptvsd.debug_this_thread() should:
import ptvsd

[2019-06-26 05:59] #1533 closed

[2019-06-26 12:19] #509 closed

[2019-06-26 17:44] fabioz opened #1542 "If threading is not imported in main thread, attach to pid does not work properly."
I was doing some manual testing for the attach to pid and in this situation, if the user never imported `threading`, we don't currently set the tracing properly.

The main reason for this is that `threading` seems to expect that it's **imported** from the actual main thread and not from another thread (because presumably one would import `threading` to create a thread in the first place) and it cr

[2019-06-26 18:05] fabioz commented on #1542
As a note, I've already reported this to CPython: https://bugs.python.org/issue37416

[2019-06-27 01:22] int19h commented on #1542
I remember now that we had to deal with that exact problem in PyDebugAttach, and also in the old ptvsd.

https://github.com/microsoft/PTVS/blob/b26f5802baabfbaa31b2346ec432ea5ea4c5a2cd/Python/Product/PythonTools/ptvsd/__init__.py#L24-L28

https://github.com/microsoft/PTVS/blob/b26f5802baabfbaa31b2346ec432ea5ea4c5a2cd/Python/Product/PythonTools/ptvsd/debugger.py#L22-L26

https://github.com/microsof

[2019-06-27 11:12] fabioz commented on #1542
Well, we actually do use that code in the attach to pid (so, we initialize the low-level threading facilities the same way), the difference is that ptvsd really delays loading `threading`.

Still, I think lazy-loading threading is not really a good solution, the main reasons being:

I think that if the user does not use the `threading` module to start its threads it could end up deadlocking the de

[2019-06-27 12:16] fabioz commented on #1542
Or maybe a different approach would be just initializing `threading` on the main thread...

Instead of simply doing the `initThreads` on `addPendingCall`, maybe we could also do `import threading` so that the `threading` module would be initialized properly since we already go through all the trouble to call `initThreads` on the main thread.

[2019-06-27 19:33] fabioz commented on #1542
I tried to go through the `addPendingCall` approach and it didn't work... it seems the issue lies deeper -- because we initialize the threading facilities at that secondary thread, it seems that the callback called on `addPendingCall` is not called in the main thread (or at least the utility used to get the current thread indent is returning the id of our secondary thread) and we still end up with

[2019-06-27 19:45] karthiknadig commented on #1539
1.	All cases below apply to **Launch** scenario only, this is **NOT** supported for attach
2.	If **WAIT_ON_NORMAL_EXIT** is True then:
a.	If the user code is done and there **WERE NO** exceptions then debugger should print 'Press any key to continue . . . ' only in the terminal and wait. See  https://github.com/microsoft/ptvsd/blob/v4.2.10/src/ptvsd/daemon.py#L25
3.	If **WAIT_ON_ABNORMAL_EXIT** is

[2019-06-27 19:48] karthiknadig commented on #1526
Please reopen with requested details.

[2019-06-27 19:48] #1526 closed

[2019-06-27 19:48] karthiknadig commented on #1522
Please provide requested details and reopen.

[2019-06-27 19:48] #1522 closed

[2019-06-27 20:05] karthiknadig commented on #1542
Looking at the implementation of `_PyOS_IsMainThread` it should be possible to get the main thread from the `_PyRuntime` state object via `_PyRuntime.main_thread`.

[2019-06-27 20:40] karthiknadig commented on #1411
Please reopen if this issue occurs again.

[2019-06-27 20:40] #1411 closed

[2019-06-27 20:44] karthiknadig commented on #1443
@CAH-FlyChen See this for help on how to handle this case: https://github.com/microsoft/ptvsd/issues/1283#issuecomment-501127755

Closing this issue. The tracking issue for this issue is https://github.com/Microsoft/ptvsd/issues/943

[2019-06-27 20:44] #1443 closed

[2019-06-27 20:46] karthiknadig commented on #1389
We will track this issue via #1398

[2019-06-27 20:46] #1389 closed

[2019-06-27 20:47] karthiknadig commented on #1421
Please reopen when more information is available.

[2019-06-27 20:47] #1421 closed

[2019-06-27 20:50] karthiknadig commented on #642
This should get addressed by #1452

[2019-06-27 20:50] #642 closed

[2019-06-27 20:55] karthiknadig commented on #305
Investigation for this is complete.

[2019-06-27 21:49] karthiknadig commented on #1223
1.	All cases below apply to **Launch** scenario only, this is **NOT** supported for attach
2.	If **WAIT_ON_NORMAL_EXIT** is True then:
a.	If the user code is done and there **WERE NO** exceptions then debugger should print 'Press any key to continue . . . ' only in the terminal and wait. See  https://github.com/microsoft/ptvsd/blob/v4.2.10/src/ptvsd/daemon.py#L25
3.	If **WAIT_ON_ABNORMAL_EXIT** is

[2019-06-27 21:49] karthiknadig commented on #1539
Closing this, Copied the details to the original issue https://github.com/microsoft/ptvsd/issues/1223

[2019-06-27 21:49] #1539 closed

[2019-06-27 22:10] int19h commented on #1542
We need to initialize threading on the main thread as well. But doesn't it already do so via `AddPendingCall`? In PyDebugAttach at least, `PyEval_InitThreads` is invoked via `AddPendingCall`

[2019-06-28 12:03] fabioz commented on #1542
In practice, what I see is that the threads are not initialized through the `addPendingCall` -- and it should be the same on PyDebugAttach... (I'll actually put links to PyDebugAttach because the code in pydevd is basically the same).

On Python 2.7 `currPyThread == nullptr` and it initializes the threading in the secondary thread we created (i.e.: in PyDebugAttach.cpp: https://github.com/microsof

[2019-06-28 12:09] fabioz commented on #1542
I think that going that way can be an option, but I don't think we should tackle that right now (as you said, it can be a bit on the flaky side and each Python version is probably different).

[2019-06-28 12:19] fabioz commented on #1542
Maybe the right approach is trying to use the `addPendingCall` to do the threading import but in case it doesn't complete in a given amount of time we use the approach I outlined at https://github.com/microsoft/ptvsd/issues/1542#issuecomment-506480965 as a fallback.

[2019-06-28 14:19] int19h commented on #1542
On 3.7+, the threads are always initialized because `Py_Initialize` now automatically invokes `PyEval_InitThreads`:
https://docs.python.org/3/c-api/init.html#c.PyEval_InitThreads

[2019-06-28 15:31] schanzel opened #1548 "Debugging pytests Using Subprocesses Fails"
## Environment data

- VS Code version: 1.35.1
- Extension version: 1.35.1
- OS and version: macOS 10.14.5
- Python version: 3.7.3
- Relevant/affected Python packages and their versions: pytest 4.6.3
- Jedi or Language Server? Jedi

## Expected behaviour

Test results when running with debugger are identical to the results from a run without debugger.

## Actual behaviour

Tests fail because subpr

[2019-06-29 17:00] karthiknadig commented on #1523
For this I think we will need translation from `pydevd_cmd_id` should be translated to command name. Then we can have `pydevd_<cmd_name>_event` in `ServerMessages`.

[2019-06-29 17:43] karthiknadig commented on #1223
WONE = WaitOnNormalExit
WOAE = WaitOnAbnormalExit
BOSEZ = WaitOnAbnormalExit

| WONE | WOAE | BOSEZ | Expected Behavior |
|-----|-----|-----|-------------------|
| False | False | False | <ul><li>Don't break on SystemExit exception if exitcode = 0</li><li>Don't break on SystemExit exception if exitcode ≠ 0</li> <li>Don't wait for user input</li></ul> |
| False | False | True | <ul><li>Always break

[2019-06-29 19:47] int19h commented on #1523
Do those messages omit the name entirely? Or do they have both name and ID?

[2019-06-29 20:47] karthiknadig commented on #1523
This is how the message looks like:
[code]

[2019-06-29 21:43] int19h commented on #1523
This one would be just `stopped_event` then.

Are there any cases where they only have an ID, but not a name?

[2019-06-29 22:12] karthiknadig commented on #1523
CMD_INPUT_REQUESTED That one does not have an equivalent name. I am not sure what is the name in that case. That is the one that got me thinking about this.

[2019-07-01 17:21] se16n opened #1547 "Debugger doesn't start in virtual environment"
## Environment data

- VS Code version: 1.35.1
- Extension version (available under the Extensions sidebar): 2019.6.22090
- OS and version: win 7
- Python version (& distribution if applicable, e.g. Anaconda): 3.7.2
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): veve
- Relevant/affected Python packages and their versions: N/A
- Jedi or Language Server? (i.e. what is `"

[2019-07-01 17:25] #1523 closed

[2019-07-01 17:26] #1497 closed

[2019-07-01 17:26] #1496 closed

[2019-07-01 17:27] karthiknadig commented on #1548
@schanzel Try these instructions and see if they help. https://github.com/microsoft/ptvsd/blob/master/TROUBLESHOOTING.md#1-multiprocessing-on-linuxmac

[2019-07-01 17:31] karthiknadig commented on #1547
@DonJayamanne This looks like the python extension is not creating or unable to create the server socket that debugger connects back to, in the launch scenario. This is an extension issue as far as I can tell.

[2019-07-01 17:39] karthiknadig commented on #1510
This move is done. I think we should close this item and open new one to address the running issues.

[2019-07-01 17:40] karthiknadig commented on #1510
I updated the estimate to reflect the actual amount of time it took.

[2019-07-01 17:40] #1510 closed

[2019-07-01 18:20] karthiknadig commented on #1528
@loftusa In the master branch of the debugger we have a feature that allows you to enable or disable tracing as needed.
[code]

[2019-07-01 18:20] karthiknadig commented on #1528
Please reopen with more details if this is not enough.

[2019-07-01 18:20] #1528 closed

[2019-07-01 18:26] karthiknadig opened #1549 "End-to end logging support"
We need a way to collect `ptvsd` and `pydevd` logs in one place. Currently ptvsd logs are set via `PTVSD_LOG_DIR=<path>` env-var (or `--log-dir`). `pydevd` logs have to be set via `PYDEVD_DEBUG=True` and `PYDEVD_DEBUG_FILE=<path>`. We need a way so that all these logs are consolidated in one place.

There is separate logging on the extension side as well. Potentially we would want a single place w

[2019-07-01 18:36] int19h commented on #1549
Ideally, there should be some way to hook into pydevd logging, such that ptvsd can then hook itself, and just include all pydevd messages into its own log.

ptvsd server can then use custom DAP messages to propagate the logs to the debug adapter. And the adapter can inject its own logs, and dump it all.

Thus, we'll end up with a single linear log, easily accessible on the IDE side (in remote scen

[2019-07-01 18:39] int19h commented on #1549
We'll probably also want some way to dial down verbosity certain log entries - in particular, raw DAP traffic. So that the messages don't end up duplicated - i.e. if the adapter logs the entire message when sending it, the debug server doesn't need to log it in full when receiving it. The server can just say that it received a message with seq=N and command=X, and started processing it. The actual

[2019-07-01 18:45] int19h commented on #1549
One other thing - if the adapter relays the logs further to the IDE (in the same manner, via custom DAP messages), then the IDE can aggregate logs from multiple concurrent debug sessions. This can come in handy in multiproc scenarios, since each process has its own adapter in that case, and they will all log separately.

[2019-07-01 19:57] int19h opened #1551 "Backchannel failures in tests"
(https://github.com/microsoft/ptvsd/tree/dbg_adapter_refactor)

On Python 2.7, when the test reads from the backchannel, and debuggee writes to the backchannel and immediately exists, the test sometimes gets `EOFError`. This results in sporadic test failures for many tests.

[2019-07-01 20:06] int19h opened #1552 "attach_socket_import tests hang waiting for "process" event"
(https://github.com/microsoft/ptvsd/tree/dbg_adapter_refactor)

When running multiple tests with `start_method` set to `attach_socket_cmdline` or `attach_socket_import`, subsequent tests fail because they cannot reuse the port number. It looks like ptvsd is not getting shut down properly, or the next test starts running before ptvsd exits.

Estimate is uncertain, because this needs to be investiga

[2019-07-01 20:08] int19h commented on #1548
Note that this is using `subprocess` directly, not `multiprocessing`. So there is no issue with forks etc.

I suspect this might have something to do with `shell=True`. @fabioz, do you recall if there are any issues propagating the child process exit code in that scenario, when process creation is detoured by pydevd?

[2019-07-01 21:39] karthiknadig commented on #1495
The event and request handlers for this are already in place. So, the launch work item should address how it interacts with these events and requests.

[2019-07-01 21:39] #1495 closed

[2019-07-01 21:45] karthiknadig commented on #1450
`debug_this_thread` already does the right thing by cirectly calling pydevd API.
`break_into_debugger` mostly does the right thing. It depends on `is_attached` which is handled by a separate item other than that it does not require additional changes.

[2019-07-01 21:45] #1450 closed

[2019-07-02 00:20] int19h commented on #1223
We discussed this, and concluded that wait for normal/abnormal exit feature - i.e printing out "Press any key to continue ..." - is best done on the adapter side. The reasons were discussed [here](https://github.com/microsoft/ptvsd/issues/1399#issuecomment-488793937) previously.

Thus, pydevd only needs to support the `SystemExit` part, since that one requires being in-proc to see the exception at

[2019-07-02 00:41] RaymonGulati1 opened #1553 "Debugger continues to debug after program end"
## Environment data

- PTVSD version: 4.2.10
- OS and version: Windows 10, 1809
- Python version: CPython
- Using VS Code or Visual Studio: VS

## Actual behavior
PTVSD stays in debug mode after a process has finished executing.

## Expected  behavior
After a process has finished executing, VS should stop debugging.

## Steps to reproduce:
1. Write a python test suite and start debugging it
2. Wai

[2019-07-02 00:55] karthiknadig commented on #1553
Can you provide the debug adapter logs as well?

[2019-07-02 07:05] schanzel commented on #1548
Adding
[code]
did not help out, got the same result.

[2019-07-02 14:15] fabioz commented on #1548
If you don't use the test explorer and just a debug run with the code below, do you still have the error?

[code]

As a note, on how this happens in mac: it actually does a `_posixsubprocess.fork_exec`, which should be monke-patched to call `pydevd_monkey.create_fork_exec`, but it shouldn't do anything in that case because it's not really calling `python`, only `echo` (so, if things worked as inte

[2019-07-02 14:28] fabioz commented on #1548
Actually, I'm sorry, I can't reproduce it with a regular test, just with a debug test (but it needs both the debug enabled and the test run).

Also, if `shell=True` is not passed and it's called as `subprocess.run(['echo', 'hello'])` it seems to work for me in debug mode (so, it really seems related to `shell=True` + `test run` + `debugger`).

[2019-07-02 15:09] fabioz commented on #1530
Actually, it seems that `pydevd` was already sending the proper continued with `allThreadsContinued` when all the threads were resumed but the wrapper chose not to send it unless an environment variable named `PTVSD_USE_CONTINUED` was set (done in 66deeb1 - Turn off sending continued events by default. (#1360)):  (and it also wasn't forwarding the `allThreadsContinued`).

It seems this was done to

[2019-07-02 16:12] fabioz commented on #1530
Actually, I just found the client id in https://microsoft.github.io/debug-adapter-protocol/implementors/tools/

[2019-07-02 17:41] int19h commented on #1552
I misindentified the root cause. This is actually a consistent issue in all tests that use `start_method="attach_socket_import"`. For some as yet unclear reason, this gets ptvsd into such a condition whence the "process" DAP event never gets reported. And the implementation of `debug.Session` expects that event in `handshake()`.

Thus, the test hangs, and eventually times out. But debuggee process

[2019-07-02 17:48] int19h opened #1555 "Child process watchdog for tests"
Issues like #1552 can be hard to diagnose, because unrelated tests fail because ptvsd from an older failed test is still around. We need some way to clean those up, so that test reports only contain relevant failures.

We have previously done so by using a process watchdog - in fact, it is still there in watchdog.py. The idea is to have a process external to the test worker, which monitors said wo

[2019-07-02 17:52] karthiknadig commented on #1498
@fabioz @int19h I am not sure where we had the discussion on handing the sub-process event. I created this work item to handle that issue. Any discussion should continue here.

[2019-07-02 17:52] #1499 closed

[2019-07-02 18:16] fabioz commented on #1552
As a note, on pydevd I use a new port for each new test... Seeing the way that the port is gotten on ptvsd tests (`get_unique_port` in `helpers.py`), I think it's possible that the port being gotten from the `PYTEST_XDIST_WORKER` could be a port we can't really use (and it could be making tests fail).

As a reference, the way that `pydevd` uses to get new ports is in: `pydev_localhost.py - get_soc

[2019-07-02 18:19] int19h opened #1556 "ptvsd.adapter should support debugServer in launch.json"
ptvsd.adapter package currently only communicates with the IDE over stdin/out, as is usual for DAP. However, this is inconvenient for testing and debugging, since it requires it to be registered as a debugger extension with VSCode.

To simply this, we can use the `debugServer` option that VSCode provides in launch.json, whereby it connects to an already-running debug adapter over the specified por

[2019-07-02 19:14] int19h commented on #1552
The port logic itself shouldn't result in any clashes, because every worker uses its own distinct port, and every worker runs tests sequentially on that port.

This bears out in practice - DebugSession can connect to ptvsd, and starts talking to it. It also starts talking to pydevd, and e.g. successfully sets protocol to JSON. It breaks down sometime after, once it gets to handling "attach".

[2019-07-02 22:22] RaymonGulati1 opened #1558 "Update Debugger Options Documentation"
Please update the documentation here:
![image](https://user-images.githubusercontent.com/3315992/60550531-2bea6d80-9cdd-11e9-9fc3-337378df7362.png)

With the debug options from:
![image](https://user-images.githubusercontent.com/3315992/60550524-255bf600-9cdd-11e9-8bef-e0c2601cc033.png)

[2019-07-02 22:54] RaymonGulati1 commented on #1553
Attached
[DebugAdapterHost.txt](https://github.com/microsoft/ptvsd/files/3352590/DebugAdapterHost.txt)

[2019-07-02 23:27] int19h commented on #1553
One possibility is that the Python process has background threads that were not set to `daemon=True`. Python does not exit until all such threads exit.

If so, these threads - and their stacks - should be visible if you hit Pause.

[2019-07-03 00:06] #1551 closed

[2019-07-03 03:24] karthiknadig commented on #1553
@Raymongulati1 How are you starting the test process? Are you using `ptvsd` CLI or using `enable_attach`.

[2019-07-03 03:43] int19h commented on #1553
Also, we just discussed this, and it's possible that some threads might not show up in the Threads list, but still block the process...

There's something in ptvsd to debug this type of issues, though:

https://github.com/microsoft/ptvsd/blob/82b62b77b5896429bd7e72de11cb7adcdc0ad54c/src/ptvsd/common/stacks.py#L19-L21

https://github.com/microsoft/ptvsd/blob/82b62b77b5896429bd7e72de11cb7adcdc0ad54c

[2019-07-03 12:52] #1530 closed

[2019-07-03 13:33] kssim opened #1560 "PTVSD port not opend when FLASK use debug mode on."
## Environment data

- PTVSD version: 4.2.10
- OS and version: "python:3.6.5-slim-stretch" container in docker (Debian 9, 4.9.125-linuxkit)
- Python version (& distribution if applicable, e.g. Anaconda): 3.6.5
- Using VS Code or Visual Studio: VS Code 1.35.1

## Actual behavior
PTVSD port is opend.

## Expected  behavior
PTVSD port is not opend.

## Steps to reproduce:
1. Make the sample flask cod

[2019-07-03 17:44] karthiknadig commented on #1560
@kssim can you share your launch json?

[2019-07-03 18:04] kssim commented on #1560
Sure, bus VS Code is not work,
because the remote machine(docker container) has not opened debug port.
And launch command is "flask run".
That command works with ".env" configuration file.

* VS Code launch json
[code]

[2019-07-03 18:15] karthiknadig commented on #1560
Try these steps and let me know if somethig doesn't work:

1. remove `ptvsd` from your app.py, use the code below. We will use `ptvsd` command line to do this. Ensure that you do the `set_start_method`. See here for why and that will not be needed soon https://github.com/microsoft/ptvsd/blob/master/TROUBLESHOOTING.md#1-multiprocessing-on-linuxmac

[code]

2. Use this command line to launch your ap

[2019-07-03 18:43] kssim commented on #1560
Thank you for your kind and fast answer.

I thinks your answer is maybe works.
I went to Step 2 and it worked.
But, There is a problem in Step 3.
When I attaching Debug in VS Code, Flask is working and I'm getting an error right away.

Error is <code>Failed to attach (connect ECONNREFUSED 127.0.0.1:43320)</code>.

I know what is the problem.
Because I used the docker environment, and I need to ope

[2019-07-03 19:02] karthiknadig commented on #1560
I see. There is one thing you can try: Use VSCode remote containers https://code.visualstudio.com/docs/remote/containers . This will put your entire development environment inside the container.

Looks like this is one of those cases that could be addressed by: #868 or #993

[2019-07-03 19:19] kssim commented on #1560
Oh, I saw that document and tried it.
But it was not satisfactory.

If I follow the instructions in that document, I have to launch the container and run the program, but we start the program right up the container.
And there are some issues ...(Some development tools need to be installed in the docker container.)
Of course, we can accommodate them and change our production.

Hmm, So What happens

[2019-07-03 20:06] int19h commented on #1560
I'm a bit confused - why is the port random? You specifically set 3500 to be the port for ptvsd, so far as I can see, and 8000 as the port for Flask itself. Can't those be mapped to stable container ports?

[2019-07-03 20:11] karthiknadig commented on #1560
@kssim The issue here is basically reload in Flask. Currently the way we handle that is by running the debugger in each of the sub-processes that get launched by flask. FLASK_DEBUG=True causes flask to start these sub-processes.

You could try running flask with `--no-reload`. But i think you will need `--no-debug` as well. For most cases you will probably not need FLASK_DEBUG. This will ensure th

[2019-07-03 20:26] kssim commented on #1560
@int19h I don't know why the port is randomly assigned.
I specifically set 3500 and 8000 for PTVSD and Flask. And I set those config in my docker-compose file.
Hmm.  I don't know what exactly mean "Can't those be mapped to stable container ports?".
Can you give me a more explanation?

@karthiknadig Thank you for your kind answer.
I'll try that, and check there are no matter in my product.
Now I go

[2019-07-03 20:32] int19h commented on #1560
@kssim I misunderstood the scenario. In your case, because you're not using no-reload, Flask creates a separate child process that actually runs your code (which it can then kill & restart when it needs to reload). The port number you specify for ptvsd is for the parent Flask process. The child process cannot reuse the same port, and so it automatically assigns some random ephemeral port to itself

[2019-07-03 23:48] #1558 closed

[2019-07-04 01:33] kssim commented on #1560
I figured out the way.
VS Code already use the "--no--reload" option and "--no-debug" when debugging python code with ptvsd.

This is the execute log when I run the Flask debugging with VS Code native(not docker environment).

[code]

The point is I can select Flask debug mode set on and use the above two options both.
So I thinks I'll just use the docker file with both options (--no-reload and --

[2019-07-04 02:11] int19h commented on #1560
You're welcome!

[2019-07-04 02:11] #1560 closed

[2019-07-04 09:36] ldreamke opened #1563 "How can I step into methods defined in remote python file when execute remote debugging?"
When I do remote debugging with ptvsd module, I can't find a way to step into methods defined in remote python file.  Is there a way to do it?
Thanks!

[2019-07-04 10:15] int19h commented on #1563
Is your remote file under `site-packages`, by chance?

Try experimenting with this setting, and see if it fixes it for you:
https://code.visualstudio.com/docs/python/debugging#_justmycode

If it does, can you tell more about your scenario (i.e. where the code actually is, and why), so that we can improve this feature such that it "just works" without having to manually configure it?

[2019-07-04 14:18] ldreamke commented on #1563
Thank you very much!! The variable justmycode in file launch.json should be set to 'false'. Now it works.

[2019-07-04 15:40] #1563 closed

[2019-07-04 15:41] #1556 closed

[2019-07-04 19:01] brettcannon opened #1564 "Support "Jump to Cursor""
https://code.visualstudio.com/updates/v1_36#_jump-to-cursor

[2019-07-04 19:08] fabioz commented on #1564
We already support the `supportsGotoTargetsRequest` (for visual studio), so, it's possible that it already works without needing any changes (provided that the same DAP messages were used in VSCode).

[2019-07-05 00:42] karthiknadig commented on #1564
This is already supported but there is a sequencing issue.
[code]

We seem to send the `goto` response from ptvsd after the `continued` and `stopped` events. That is messing up the UI state.

[2019-07-05 21:45] RaymonGulati1 commented on #1553
@int19h
I pressed pause and I got an error message.
![image](https://user-images.githubusercontent.com/3315992/60746343-225a4300-9f33-11e9-8847-eab699bbc2f8.png)

I went through the process of getting the thread information. I had to set the dumper tread as dameon = false orelse it wouldn't generate an output. I'll send you the logs in private chat.

@karthiknadig
I started the process with "Run s

[2019-07-06 14:08] atehortua1907 opened #1569 "Error when trying to debug in VS Code with Python 3.7"
[code]

[2019-07-06 20:07] YoniChechik opened #1570 "Debug:Evaluate has old indent bug"
## Environment data

VS Code version: 1.36
Extension version (available under the Extensions sidebar): 2019.6.22090
OS and version: windows 10
Python version (& distribution if applicable, e.g. Anaconda): 3.6.8
Type of virtual environment used (N/A | venv | virtualenv | conda | ...): venv

## Expected behaviour

send selected rows to debug console that works

## Actual behaviour

![image](https://

[2019-07-07 10:34] #1223 closed

[2019-07-08 05:57] karthiknadig opened #1566 "Use glob patterns for no trace"
Use glob pattern with `setDebuggerProperty` for don't trace.

[2019-07-08 06:32] int19h commented on #1566
This might need some investigation first - globs would be great to have if possible, but there might be some unfortunate perf issues with them.

[2019-07-08 17:46] RaymonGulati1 opened #1571 "PTVSD Debugging after python process has exited."
## Environment data

- PTVSD version: 4.2.10
- OS and version: Windows 10
- Python version (& distribution if applicable, e.g. Anaconda): 3.7
- Using VS Code or Visual Studio: VS

## Actual behavior
After a python script has finished executing, VS remains in debug mode

## Expected  behavior
After script has finished executing, VS should stop debugging.

## Steps to reproduce:
1. Run a python scri

[2019-07-08 18:02] karthiknadig commented on #1571
Dupe #1553

[2019-07-08 18:05] karthiknadig commented on #1569
@atehortua1907  Can you provide some details about the environment that this is running in? Can you provide the results of `sys.getdefaultencoding()` and `sys.getfilesystemencoding()` for that environment.

[2019-07-08 18:12] karthiknadig commented on #1571
Reopening since this is a different context for the same issue.

[2019-07-08 19:10] fabioz commented on #1571
I couldn't reproduce this with a plain launch and attaching from VSCode.

From the screenshot, it seems that there's an `Press any key to continue...`, so, it seems that the setting to wait for exit is turned on.

@RaymonGulati1 can you confirm if you have the setting to wait for exit turned on? (in `Options > Python > Debugging` there are settings to wait for exit when process exits abnormally or

[2019-07-08 19:19] #1552 closed

[2019-07-08 19:22] fabioz commented on #1553
@RaymonGulati1

Can you add the code below and provide the output after the run finishes and threads are dumped?

-- It can be added to the start of the module as it'll create a thread to print a thread dump after the timeout elapses, you just need to set the proper `TIMEOUT` to make sure it triggers after the code finishes running.

[code]

[2019-07-08 19:24] karthiknadig commented on #1571
@RaymonGulati1 Can you get the logs for this? I want to make sure if VS is passing the flag. Wait for exit should not be passed in the attach scenario by the IDE.

On the debugger side, wait for exit should only be applied in the launch case, not for the attach case.

[2019-07-08 19:32] fabioz commented on #1571
It could be that the issue is that it's being started from inside the IDE (with a regular launch), which does initialize some debugging structures (and then it could receive that flag) and then it does a wait for attach from that program and tries to do an attach from the IDE. @RaymonGulati1 can you give more details on how exactly you're making the launch?

-- as a note, I'm not sure we support t

[2019-07-08 21:32] karthiknadig commented on #825
Verified, that the latest bits work on linux pypy as well.

[2019-07-08 21:32] #825 closed

[2019-07-08 22:13] int19h commented on #1569
This code is literally just calling `importlib.import_module("pydevd")`. I don't think it's an encoding issue - seems more like a corrupt installation to me, if it says there are null bytes in pydevd source...

@atehortua1907, can you please try uninstalling and then reinstalling the Python extension for VSCode?

[2019-07-08 23:10] int19h commented on #1571
Note that this is about regular Visual Studio, *not* VSCode.

In VS, when you do Start without Debugging, it does not launch the process with `"nodebug"`, the way VSCode does. It just launches it directly without ptvsd loaded. Thus, it is perfectly legal to attach to it afterwards.

[2019-07-08 23:11] int19h commented on #1571
With respect to the setting for wait-for-exit - at least one of the bugs here is that this setting is being applied in an attach scenario. It should only apply to launch.

[2019-07-08 23:41] RaymonGulati1 commented on #1571
@fabioz,
Confirming that the settings for "wait for input when process exits normally/abnormally" were turned on. I turned it off and I was able to reproduce it (console is not showing, but VS is still in debug mode).

@karthiknadig ,
Logs are attached
[DebugaAdapterHostLogs-1571.txt](https://github.com/microsoft/ptvsd/files/3370549/DebugaAdapterHostLogs-1571.txt)

@Fabioz, what kind of details? S

[2019-07-09 06:46] karthiknadig opened #1574 "Flask tests fail with "no such option: --wait" on windows py27"
## Environment data

- PTVSD version: master
- OS and version: windows
- Python version (& distribution if applicable, e.g. Anaconda): 2.7
- Using VS Code or Visual Studio:

## Actual behavior

[code]

## Expected  behavior

Should not fail with that error message

## Steps to reproduce:
run test_flask.py on Windows 2.7

This is the command line used:
[code]

[2019-07-09 11:27] schanzel commented on #1548
@fabioz yes, this is exactly the combination in which the issue ocures.

[2019-07-09 12:22] fabioz commented on #1571
Ok, I downloaded Visual Studio 2019 and I was able to reproduce it there.

It seems to work on the last released version but fails on the current `master` version.

Some details:

- The process is dying on both cases (so, it's not some leftover thread).
- In the version that it works there are messages related to exit in the `ptvsd` log, whereas in the version that doesn't work the `exited`/`termi

[2019-07-09 17:19] karthiknadig commented on #1574
@fabioz this is a new issue with the tests that i am seeing. Do you suspect this is because of the new flask release or something in our argument parsing is now broken.

[2019-07-09 18:24] RaymonGulati1 commented on #1553
@fabioz

The python process finishes within the 10 seconds, so the daemon thread will never execute.

[2019-07-09 18:46] RaymonGulati1 commented on #1571
@fabioz,

In the latest VS release, the test explorer will always use the legacy debugger. I recently merged the changes into master so that the test explorer will use the updated debugger.

[2019-07-10 04:30] karthiknadig commented on #1574
Figured out this issue. Looks like `flask` made some changes that now causes it to get the arguments via `CommandLineToArgvW`.

Previously (flask==v1.0.3) they were passing the `argv` to `cli.main`:

https://github.com/pallets/flask/blob/1.0.3/flask/cli.py#L889-L906

This is what it looks like now (flask==v1.1.1):

https://github.com/pallets/flask/blob/1.1.1/src/flask/cli.py#L965-L966

This change

[2019-07-10 05:55] karthiknadig commented on #1574
Issue on `click` https://github.com/pallets/click/issues/536
Issue on `flask` https://github.com/pallets/flask/issues/3293

[2019-07-10 06:01] karthiknadig commented on #1574
Workaround for debuggers:
One solution I see is if we can figure out debugger was launched for flask, we should pre-load click. I guess presence of `FLASK_APP` env var or `-m flask` argument could be used here as a work around.

This means that, we would be loading `click` when user may not have intended it to be loaded. Say for example user had defined FLASK_APP in the environment but was running

[2019-07-10 20:04] #1503 closed

[2019-07-10 20:04] #1398 closed

[2019-07-10 22:16] karthiknadig opened #1579 "Log points seem to double output"
@rchiodo(Rich Chiodo) commented on [Mon Jul 8 2019]

Add a logpoint into a python file with cells
Debug the cell

Logpoint prints twice.

Looks like pydevd is sending the output twice:
[code]

[2019-07-11 04:17] karthiknadig commented on #1570
The shortcut part of this bug has to be addressed by the python extension.

[2019-07-11 05:06] JoanEliot commented on #1364
Update: The debugger still fails in just the way above detailed on my system (now running VSC 1.36.1 with Python ext 2019.6.24221). However, it turns out the failure is confined to files stored on my I: drive, a VeraCrypt encrypted virtual disk (https://www.veracrypt.fr/en/). The debugger works fine with the same code when the files are stored on other drives, including Cryptomator encrypted ones

[2019-07-11 05:12] int19h commented on #1364
@JoanEliot, I wonder if perhaps that particular virtual disk uses a case-sensitive filesystem? That should be fairly easy to check by intentionally miscasing files from command line.

On our end, we generally assume that all filesystems are case-insensitive on Win32. Which is almost always true in practice, but technically it does support case-sensitivity (and it can even be enabled on NTFS partit

[2019-07-11 05:46] JoanEliot commented on #1364
@int19h, the disk doesn't seem to implement case sensitivity, at the user level anyway. It behaves just like "regular" Windows in this regard, as far as I can tell--the case of each character in a file or folder name can be specified, and is retained and displayed in file listings, but case is ignored for file manipulation operations. For example, you can't create two files in the same folder whos

[2019-07-11 08:00] lorieaiah opened #1581 "'NoneType' object has no attribute 'pydev_notify_kill' on Flask with multiprocess implementation"
## Environment data

- PTVSD version: 4.2.10
- OS and version: Ubuntu 18.04
- Python version (& distribution if applicable, e.g. Anaconda): Flask 0.12.2 with Python 3.6.8
- Using VS Code or Visual Studio: VS Code (1.36.0)

## Actual behavior
in `notify_thread_not_alive`:
`was_notified = thread.additional_info.pydev_notify_kill`
`'NoneType' object has no attribute 'pydev_notify_kill'`

## Expected

[2019-07-11 10:53] int19h commented on #1581
Can you check if your debug configuration in launch.json is using all the necessary command line switches for Flask?

https://code.visualstudio.com/docs/python/debugging#_flask-debugging

[2019-07-11 14:00] schanzel commented on #1548
@karthiknadig any news here yet?

[2019-07-11 17:50] karthiknadig commented on #1548
@fabioz Any ideas on what needs to be done here?

[2019-07-11 17:52] karthiknadig commented on #1581
@lorieaiah Can you provide details on the OS and python version etc? Also, any sort of repro steps would be helpful as well.

[2019-07-11 17:53] karthiknadig commented on #1579
This seems to occur only while debugging Jupyter notebooks.

[2019-07-11 17:54] karthiknadig commented on #1574
The fix for this will be in flask==1.1.2

[2019-07-11 17:54] #1574 closed

[2019-07-11 18:10] fabioz commented on #1548
@karthiknadig not really... this needs further investigation and I think it will take a while to properly debug why this may be happening -- I think it's more related to `shell=True` than the debugger or the test runner per se as in this case the monkey-patching related to the debugger isn't really taking place, although it could really be something in the environment or something the system isn't

[2019-07-11 18:11] fabioz commented on #1574
@karthiknadig Maybe we should use an older version of flask in the ci in the meanwhile?

[2019-07-11 18:22] fabioz commented on #1581
Inspecting the code I think this could be caused by a race condition. The pull request above should fix it (although as a note, I haven't been able to reproduce locally).

[2019-07-11 18:27] awichmann-mintel commented on #1548
FWIW, I took out `shell=True` (and switched around the first arg to be a list), and I solved my problem.

[2019-07-12 03:51] lorieaiah commented on #1581
Sorry for incomplete information. l updated the description above.

[2019-07-12 04:37] int19h commented on #1581
@lorieaiah, if you're using `multiprocessing` specifically, then you currently need to do `set_start_method("spawn")` - otherwise ptvsd cannot debug it on non-Windows platforms. See the comments in #1162 for a more detailed explanation and code snippets.

[2019-07-12 07:17] schanzel commented on #1548
@awichmann-mintel yes that solves the issue, but interesting enough that the test results differ when debugging vs. a non-debug run.

Besides, I found another case in which debugging test runs leads to different results, even when the `shell` argument is `False`.
I have a use case here where we are analyzing metrics captured by sysstat and need to process them with sysstat's `sadf` tool.
Please co

[2019-07-12 12:01] fabioz commented on #1548
I think that yes, it's possible that it's related...

One possibility is that the environment is not correct.

Can you run the following and attach the output in the case that it works and in the case that it doesn't work to see if it matches?

[code]

Another thing to check: if you pass the full path to `sadf`, does it work?

[2019-07-12 12:11] #1581 closed

[2019-07-12 12:11] schanzel commented on #1548
Sure, here you go!

[code]

[2019-07-12 12:24] fabioz commented on #1548
Can you also provide it in the case that it does work?

[2019-07-12 12:25] fabioz commented on #1548
Also, if you run that without the test running (in a `__main__` module), but with the debugger, does it work?

[2019-07-12 12:28] schanzel commented on #1548
Yes, running that with a debugger in a `__main__` module, outside of a test context works just fine.

I attached the output to my previous comment.

[2019-07-12 12:45] fabioz commented on #1548
Well, there are many differences actually... (i.e.:, `TERM`, `LANG`, `PWD`, `LC_CTYPE`, `PYTHONIOENCODING`, etc.).

It may be interesting to create a copy of the env where it works and use it in the case where it doesn't work to see if it makes a difference.

You can just do a print(repr(environ)) in the case that it works and then pass that as a parameter in the case where it doesn't work.

[2019-07-12 13:09] schanzel commented on #1548
Tried that but got the exact same result (return code `1`, usage information printed to `stderr`).

[code]

[2019-07-12 13:31] fabioz commented on #1548
Can you try one more thing there? In `pydev_monkey.py`, can you put a `return` as the first statement in the functions: `patch_new_process_functions` and `patch_new_process_functions_with_warning` to see if it makes a difference?

To find where that module is in your case you should be able to do:

[code]

[2019-07-12 13:46] schanzel commented on #1548
That seems to actually help! With these changes I get the correct result using a debug test run.

[2019-07-12 13:51] fabioz commented on #1548
I'll have to investigate the test runner... it's possible that it also has some patching that's conflicting with the debugger patching (as that same code works when the test runner is not being used).

[2019-07-12 13:53] schanzel commented on #1548
As a side note: The `shell=True` case also works correctly with these early returns.

[2019-07-12 16:00] fabioz commented on #1548
I found the culprit... the problem is that `ptvsd` did a different patching for quoting args for the multiprocessing support than the one in `pydevd` and it applied the patching without checking if it was actually spawning a new python process.

The difference from the test running is that the test runner always enables `multiprocess` in the flags, whereas in the regular run it's not enabled (in w

[2019-07-12 16:28] int19h opened #1585 "Output tests fail sporadically"
This is everything in test_output.py, and also test_log_point in test_breakpoints.py.

The problem is the same as before - ptvsd (or rather pydevd) currently doesn't guarantee that all output is flushed by the time the debuggee process exits.

Until this can be fully fixed, we need to provide some internal hook in the debugger, specifically for the tests, which would then ensure that all pending `

[2019-07-12 16:29] int19h commented on #1585
@fabioz, perhaps there's something in pydevd already that can be hooked?

[2019-07-12 17:20] fabioz commented on #1585
@int19h `pydevd` actually has something to handle this: `pydevd.CheckOutputThread`.

It's a non-daemon thread which only exits when the only threads alive are `pydevd` threads and the writer is empty.

But I know that even on `pydevd` tests it's possible that the last acknowledgement of a command is not received when the process is shutdown on tests, so, there's still some scenario which the imple

[2019-07-12 17:28] karthiknadig commented on #1585
This is in `dbg_adapter_refactor` branch. But the test should do the same thing (i.e., stop at the last line to get all the output events), at least for the output tests.

[2019-07-12 17:30] int19h commented on #1585
Stopping at the breakpoint doesn't guarantee that all output has been received, either, unless I'm missing something? The print statements have executed, sure... but the `output` events are still async, no? Or is there a hard guarantee that if a breakpoint is hit, then all output events have been sent?

[2019-07-12 17:39] karthiknadig opened #1586 "Debug adapter supports the 'disassemble' request, but the debug engine does not specify that it supports disassembly"
Warning from the Debug Adapter Host logs for PTVS:
[code]

@RaymonGulati1 @huguesv If the debugger is not returning anything here should the Adapter assume that `disassembly` is available? That seems wrong.

[2019-07-12 17:45] fabioz commented on #1585
Well, on the `pydevd` side, `sys.stdout.write` should do `py_db.writer.add_command` instantly (not in a thread) and when a breakpoint is hit, it should also do `py_db.writer.add_command` to add the break to the same queue (i.e.: in `_pydevd_bundle.pydevd_comm.WriterThread`), which is processed sequentially, so, I think that in this case all output events should be sent first (unless I'm missing so

[2019-07-12 17:58] #1542 closed

[2019-07-12 18:00] #1520 closed

[2019-07-12 18:22] int19h commented on #1585
Ah, I thought they're still added from a background thread. If it's immediate, then yeah, waiting for a breakpoint should fix it just fine.

I don't know of any test failures for this reason in the main branch (which has breakpoint stops in those tests). I just incorrectly assumed that it was a best-effort attempt to make sure the output is flushed, but that it was not 100% reliable.

[2019-07-12 18:32] karthiknadig commented on #863
@fabioz now that #1520 is done this should be done right?

[2019-07-12 18:49] fabioz commented on #863
Yes, this should be fixed in https://github.com/microsoft/ptvsd/commit/76863a93402926d3e83310a30015cec9a639d1c0

[2019-07-12 18:49] #863 closed

[2019-07-12 19:04] fabioz opened #1587 "Investigate: Unable to find threadStateIndex for the current thread. curPyThread: 0x7fd48ec095c0"
@int19h @karthiknadig

I've seen this fail a couple of times already.

The effect is that we can't set the tracing to threads which aren't current when this happens.

The related code is in:
https://github.com/microsoft/ptvsd/blob/master/src/ptvsd/_vendored/pydevd/pydevd_attach_to_process/common/py_settrace.hpp#L115

and it's based on

https://github.com/Microsoft/PTVS/blob/master/Python/Product/P

[2019-07-12 19:43] fabioz commented on #1553
Closing as a duplicate of https://github.com/microsoft/ptvsd/issues/1571 (which has more information).

[2019-07-12 19:43] #1553 closed

[2019-07-12 19:44] fabioz commented on #1571
Note: this is blocked waiting for the refactor branch to be integrated.

[2019-07-12 20:11] int19h commented on #1587
Per pythread.h, this function has been deprecated in Python 3.7 – perhaps that is why?

/* Thread Local Storage (TLS) API

   TLS API is DEPRECATED.  Use Thread Specific Storage (TSS) API.

   The existing TLS API has used int to represent TLS keys across all

   platforms, but it is not POSIX-compliant.  Therefore, the new TSS API uses

   opaque data type to represent TSS keys to be compatible (

[2019-07-12 21:54] #1548 closed

[2019-07-12 22:01] karthiknadig opened #1589 "Allow copying full var values"
User feedback:

[2019-07-14 01:03] karthiknadig opened #1590 "Support input() in debug console"
![image](https://user-images.githubusercontent.com/3840081/61178036-81a1fe00-a598-11e9-8719-ab681920d4d6.png)

[2019-07-14 01:36] int19h commented on #1590
It's likely that we need to redirect `sys.stdin` for the duration of any `"evaluate"` request with `"context": "repl"`, and do some custom messaging to wire it all up to the debug console.

[2019-07-14 01:38] int19h commented on #1590
Although I'm not clear on the scenario. Since console already takes your input, why would anybody do this, and then e.g. type `123` at the prompt, and not just write `a = 123`? Following some tutorial?

[2019-07-14 02:00] karthiknadig commented on #1590
I was testing this because a issue was mentioned on reddit about `input()` in debug console.

[2019-07-14 02:23] DonJayamanne commented on #1590
My question world be what's the UX (work flow)?
Are we expecting a displayof some VSCode input box for user to input done text?
Personally I'd just tell the user to use a terminal,.
This is a exactly why we changed the default to terminal in VSCode for debugging.

If users change to something else then they need to understand the implications.
I.e. I'm not convinced we need to provide a solution f

[2019-07-14 02:25] DonJayamanne commented on #1590
I'd say they need to use terminal. Again this is not specific to python debugger.

[2019-07-14 03:07] Robertina123 opened #1591 "PTVSD fails to import"
## Environment data

- PTVSD version: 2019.6.24221 (9 July 2019)
- OS and version: macOS Mojave, 10.14.5
- Python version: 3.7.3 64-bit
- Using VS Code or Visual Studio: VS Code 1.36.1

## Expected  behavior

When F5 is pressed, the debugger should initialise itself and run the code in the current file.

## Actual behavior

The debugger fails to launch at all across multiple trials, and the Termin

[2019-07-14 03:39] int19h commented on #1591
It looks like you have a very old version of `setuptools`, or else a broken Python install.

For starters, do this:
[code]

If it doesn't help, then try reinstalling Python.

(this issue is similar to #1076 and #1258 in spirit)

[2019-07-14 03:50] karthiknadig commented on #1590
Currently we the debugger gets into a bad state we it fails to retrieve variables, or sometimes stepping also fails. So there is definitely a issue. At minimum we need to fix that issue.

If there is not other alternate path for user other than using terminal. Then, if we can detect `input()` in `repl` context we need to put a message in debug console that says something along the lines of:  "Use

[2019-07-14 04:18] Robertina123 commented on #1591
@int19h Thank you very much, it worked again after updating the package. And yes, #1076 does look very similar to what I've encountered, thanks for pointing that out

[2019-07-14 04:18] #1591 closed

[2019-07-15 00:16] int19h opened #1592 "Sporadic failure in test_set_next_statement: "line comes after the current block""
Specific error message:
[code]

[2019-07-15 00:22] int19h commented on #1592
Full test log for this test:
[code]

[2019-07-15 00:23] int19h commented on #1592
Never mind - the error message is an expected part of the test itself. Timeout was for another unrelated reason.

[2019-07-15 00:23] #1592 closed

[2019-07-15 02:13] int19h opened #1594 "test_reattach failures"
It appears that the most recent changes in the refactoring branch made it more likely to repro not just in local test runs, but also in CI.

The error is the same as before - the re-attach part of the test fails to connect to ptvsd.

This is probably the same as #1195 - that one was for macOS specifically, but it's likely that macOS just happened to reproduce it more reliably at that time.

[2019-07-15 07:25] schanzel commented on #1548
@fabioz Hey thats awesome, thanks for the fast help!

[2019-07-15 21:42] int19h opened #1596 ""process" event should include "pointerSize""
Seems to be a recent addition to the DAP spec:
[code]
I'm not sure where exactly this is used by the IDE, but it's trivial for us to provide.

[2019-07-16 18:37] #1487 closed

[2019-07-16 18:38] karthiknadig commented on #1487
via #1595

[2019-07-16 19:29] karthiknadig opened #1599 "Any user action that causes thread state change should respond immediately"
When ever user does any action like pause, step*, continue, goto, run-to-cusor, etc. These cause thread state change. These should send a response back immediately acknowledging the receipt of the request. They should perform the action after sending the response.

The state of the thread itself is reported via thread events (such as thread, stopped, etc).

Finally, for any thread whose thread sta

[2019-07-16 19:30] karthiknadig commented on #1599
Related #1564 . Here the issue occurs because we don't immediately respond back to the IDE after receiving the `goto` request.

[2019-07-16 22:56] karthiknadig opened #1600 "Visual Studio UI Tests fail when using latest master"
## Environment data

- PTVSD version: master
- OS and version: windows
- Python version (& distribution if applicable, e.g. Anaconda): 3.7
- Using VS Code or Visual Studio: Visual Studio

## Actual behavior

VS extension UI tests fail with following stack:
[code]

## Expected  behavior

UI tests should succeed.

## Steps to reproduce:
1. Use the latest master and run the Debugger UI test in PTVS.

[2019-07-17 20:48] #1600 closed

[2019-07-17 20:59] karthiknadig opened #1602 "ptvsd Wheels for Windows Python2.7"
Build 32 bit and 64 bit wheels for python 2.7 on windows. Currently we build 3.* wheels on windows and provide universal wheel for 2.7.

[2019-07-17 22:37] int19h opened #1603 "Short path handling is broken on Python 2.7"
In dbg_adapter_refactor branch, this happens as soon as you import ptvsd - so e.g. in a test run, as soon as it starts running, even before test discovery:
[code]
(I've added `traceback.print_stack()` in pydevd code to get the full trace)

To repro:
[code]
It seems that this has to do in part with case mismatch between "longpa~1" and "LONGPA~1", although I am not sure which comes whence. If you al

[2019-07-18 08:44] int19h commented on #1603
In automated runs on Azure, there is a similar issue due to TEMP specifically being set to a short path. This doesn't cause any immediate errors, but any tests that rely on `@pyfile` (which uses `tmpdir`) are affected - breakpoints not getting hit, path assertions fail due to pattern mismatch etc.

[2019-07-18 13:01] zegevlier opened #1604 "Internal error when executing a python file."
Hello!
I got an internal error and it said I should report it here, I tried to fix it myself but reinstalling Python, Visual Studio Code and removing all other python interpreters all didn't work.
I also tried reinstalling the python extension in Visual Studio Code, that didn't work either.

This is the error I got:

[code]

I got this error when trying to execute any python file.

Thanks in advan

[2019-07-18 17:50] karthiknadig opened #1605 "Debuggee process lifetime management"
Creating a separate work item to handle this. This is probably common code for both attach and launch scenarios.

[2019-07-18 17:53] #1585 closed

[2019-07-18 19:31] flaker opened #1606 "Appengine breakpoints not being hit"
## Environment data

- PTVSD version: 4.2.10
- OS and version: Linux - Alpine v3.8 (host) - maOS High Sierra (client)
- Python version (& distribution if applicable, e.g. Anaconda): Python 2.7.15
- Using VS Code or Visual Studio: VS Code

This is an appengine application running in the development server. The start up command line is:

[code]
The content for `pydev_startup.py`

[code]

## Actual b

[2019-07-18 20:43] int19h commented on #1604
It's either a broken Python install, or an out-of-date pip. Try this in your Python install:
[code]

[2019-07-18 21:24] mike-pt opened #1607 "[vscode]: TypeError: cannot serialize '_io.TextIOWrapper' (pydevd_bundle.pydevd_io.IORedirector)"
## Environment data

- PTVSD version: (not sure, using: ms-python.python-2019.6.24221 on vscode)
- OS and version: macOS Mojave and Win 10
- Python version (& distribution if applicable, e.g. Anaconda): 3.7.4 in a venv
- Using VS Code or Visual Studio: VSCODE

## Actual behavior

When I try to debug a python app with multiprocessing (pathos) and using spawn, I'm seeing this when we use pool.map:
`

[2019-07-18 21:26] karthiknadig opened #1608 "Script to handle out-of-proc Wait on normal and abnormal exits"

[2019-07-18 22:32] int19h commented on #1587
Per pythread.h, this function has been deprecated in Python 3.7 – perhaps that is why?

[code]

It looks like on Linux and Mac specifically, it might return NULL now:

[code]

Whereas on Windows it just goes to TLS:

[code]

[2019-07-19 08:02] zegevlier commented on #1604
I'll try it!
This is the output:
[code]

That seems to have fixed it!
Thank you, really appreciate it!

[2019-07-19 08:02] #1604 closed

[2019-07-19 16:26] karthiknadig commented on #1606
@flaker  Can you share he full debugger logs that you collected?

[2019-07-19 16:40] flaker commented on #1606
Sure.

[code]

[2019-07-19 18:00] RaymonGulati1 opened #1611 "Stepover Into Excluded Debug Files Leads to Break Mode"
## Environment data

- PTVSD version: 4.2.10
- OS and version: Windows 10. Build: 10.0.17763
- Python version: 3.7.*
- Using VS Code or Visual Studio: VS 2019

## Summary
Whenever the debugger steps over user code and goes into code that should not be debugged (configured in "rules"), the debugger enters break mode. In this particular case, stepping over the last line of a unit test function leads

[2019-07-19 19:24] karthiknadig commented on #1606
Is there any particular reason you are setting the remote root explicitly? This should work.
[code]
Do you see any warnings that some thing along the lines of "breakpoints were not set"?
Can you tell the location of python binary, site-packages, user site-packages on the remote?

[2019-07-19 20:52] #1608 closed

[2019-07-19 20:54] karthiknadig commented on #1449
This is partially done via #1610

[2019-07-20 03:44] flaker commented on #1606
No warnings, visually all seems to be fine.

Just wanted to be as explicit as possible. I will test to go back to that default.

Python info:
Path: /usr/bin/python
Site-packages: /usr/lib/python2.7/site-packages/
User site-packages: there is none. My user in the container (root) has none.

[2019-07-20 03:57] flaker commented on #1606
Tried the `localRoot` change. No difference.
I know I mentioned I am using Alpine to run the container. Do you think that might make a difference? (not using glibc)

[2019-07-20 04:05] ftrofin opened #1625 "Unexpected exception while debugging"
## Environment data

- VS Code version: 1.36.1 (1.36.1)
- Extension version (available under the Extensions sidebar): 2019.6.24221
Version: 2019.6.24221
- OS and version: MacOS Mojave 10.14.5 (18F132)
- Python version (& distribution if applicable, e.g. Anaconda): System Python (2.7.10)
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): N/A
- Relevant/affected Python packa

[2019-07-20 05:01] flaker commented on #1606
Rebuilt from master (0e173e9170ec28ed4f164891315f5c273fa02dc5)
There was no change using a start up script (break points are cosmetically there but nothing happens)
BUT with this version I can execute the command line option to try to attach to a running process. Interestingly I found this:

[code]

I don't know if this also impacts the non-command line version.

[2019-07-20 06:11] flaker commented on #1606
by adding
[code]
I am able to run the command line. My own breakpoints are not being hit. But now I:
 - See a list of running threads.
 - If I choose "Raised Exceptions" in VS Code, the code does stop from time to time.
But my own breakpoints are ignored.

[2019-07-20 19:12] int19h commented on #1606
In this case you're using attach-by-PID, which is generally more flaky than attach-by-port (it's the same thing in the end, but attach-by-PID has to inject the code into the process that ultimately calls `ptvsd.enable_attach()`).

It's interesting that you see the list of running threads with this approach, but not with the one where you do `enable_attach` directly. The primary difference is that

[2019-07-22 18:23] int19h opened #1612 "Parse and expose DAP capabilities"
As part of the initialization sequence, both sides of the DAP connection exchange feature flags and expectations of the same for the other side. After that, various unrelated message handlers are expected to adjust their behavior according to this information, so it needs to be centralized in a shareable way.

Since the debug adapter sits in the middle between the IDE and the server, it needs to d

[2019-07-23 00:21] int19h opened #1614 "Test run times out on Python 2.7"
(dbg_adapter_refactor branch only)

It's not just a CI issue - it repros locally on Linux, as well. The tests themselves complete fine, but something prevents the main pytest process from exiting - it gets stuck waiting for child nodes. Most likely, our test infrastructure does something on exit that blocks.

[2019-07-23 05:23] #1614 closed

[2019-07-23 05:24] #1612 closed

[2019-07-23 05:26] int19h commented on #1607
This sounds similar to https://github.com/microsoft/ptvsd/issues/1283#issuecomment-501127755 - basically, you need to make sure that whatever data you're sharing between your processes (even inadvertently) is serializable when using "spawn".

[2019-07-23 07:13] YoniChechik opened #1616 "debug evaluate run in debug console doesn't show invariables scope"
## Environment data

VS Code version: 1.36
Extension version (available under the Extensions sidebar): 2019.6.22090
OS and version: windows 10
Python version (& distribution if applicable, e.g. Anaconda): 3.6.8
Type of virtual environment used (N/A | venv | virtualenv | conda | ...): venv

## Actual behavior

running in debug console through "debug evaluate" doesn't pop new var in var scope

## Ex

[2019-07-23 07:29] mike-pt commented on #1607
Yeah but this is not data we are passing, it's something the debugger adds.

[2019-07-23 08:31] int19h commented on #1607
This looks like the debugger replacement object for `sys.stdout` and `sys.stderr` (that is used to redirect output into the IDE). It shouldn't be passed between processes by itself, so it's likely due to the structure of the code that ends up inadvertently placing it in the graph of objects that cross the boundary - it's unfortunately rather easy to do this with `multiprocessing`.

Can you show th

[2019-07-23 08:54] fuzihaofzh opened #1617 "Core dump when run few steps."
## Environment data

- PTVSD version: 4.2.2
- OS and version:  CentOS Linux release 7.6.1810 (Core)
- Python version (& distribution if applicable, e.g. Anaconda): Miniconda 3.7.3
- Using VS Code or Visual Studio: VS Code

## Actual behavior

Segmentation fault      (core dumped)

The core file is as follows:

gdb python core.47715
GNU gdb (GDB) Red Hat Enterprise Linux 7.6.1-114.el7
Copyright (C)

[2019-07-23 09:18] mike-pt commented on #1607
Hum I did original though of the logger as the problem, however this works outside of vscode without any changes.

We also attempted to comment out the logger parts so it wouldn't be passed, but perhaps we missed something, but that would be the only thing that makes sense right?

We share logging and I didn't work on that code but it should be locking and not passing that between processes (perha

[2019-07-23 09:24] mike-pt commented on #1607
This was also code that I didn't write so I'm trying to dig into it myself too, but it looks like we do try to handle logging so it works in multiprocessing (and again works fine on terminal)

[2019-07-23 14:33] mike-pt commented on #1607
Seems like the code is pretty similar to this: https://mattgathu.github.io/multiprocessing-logging-in-python/ for the log handler, we use a queue, so I'm back to not really understanding why this is failing

[2019-07-23 17:45] karthiknadig commented on #1617
@fuzihaofzh Can you try it with ptvsd==4.2.10 ? If it occurs with that version can you provide some repro steps?

[2019-07-23 18:01] karthiknadig commented on #1616
Looks like the debugger does not get a variables request when using the `Debug: Evaluate` from the contest menu. But you get variables request if you directly evaluate from the debug console. This is either python extension or VS Code issue.

### Evaluate using context menu:
[code]

### Evaluate using debug console
[code]

[2019-07-23 18:02] YoniChechik opened #1630 "debug evaluate run in debug console doesn't show variables that are in scope"
## Environment data

VS Code version: 1.36
Extension version (available under the Extensions sidebar): 2019.6.22090
OS and version: windows 10
Python version (& distribution if applicable, e.g. Anaconda): 3.6.8
Type of virtual environment used (N/A | venv | virtualenv | conda | ...): venv

## Actual behavior

running in debug console through "debug evaluate" doesn't pop new var in var scope

## Ex

[2019-07-23 18:24] int19h commented on #1607
Judging by the stack, it looks like it's trying to pickle the dict of a module (note `save_module_dict`) - so that object is probably referenced by some global variable in a module.

However, it's also interesting that the call stack is mostly stock `pickle`, but for this particular frame, it's `dill`. I've looked that up, and it appears to be some kind of custom serializer that `pathos` introduce

[2019-07-23 20:00] flaker commented on #1606
Hi @int19h to confirm.
You suggest to leave the start up script with

[code]

and later on in my code do:

[code]
while being already attached from VS Code.

 I tried that. I didn't get a break, only some warning message:

I noticed something. My processes look like:

[code]

Process 2356 started as soon as I started processing a request. I am unsure about its lifetime.
My startup script runs in p

[2019-07-23 20:31] int19h commented on #1606
It looks like it uses some kind of multiprocess arrangement to run your code. We support that to some extent, but it depends on how exactly the child process is spawned - in particular, forking is not supported at all (but we're working on it: #943).

Because of this, we currently consider it to be experimental, and it is not enabled by default. But you can try to enable it by adding this to your

[2019-07-23 20:34] int19h commented on #1606
Also, it looks like there's a known issue with GAE constraining the Python APIs available inside the process, possibly to the point where the debugger cannot run because it requires some of those blocked APIs (#830). It's a bug from last year, so things might have changed since then. But watch out for it if you succeed in attaching to that child process.

[2019-07-23 20:39] karthiknadig commented on #1606
Another thing, you may have to follow this https://github.com/microsoft/ptvsd/blob/master/TROUBLESHOOTING.md#1-multiprocessing-on-linuxmac to get it working right. This is only temporary until we fix #943.

[2019-07-23 21:53] mike-pt commented on #1607
@int19h  thanks for the detailed analyses and yes this is using pathos which uses dill for most things (unless when it can't) which would be the cases for logger.

We though this was handled correctly case it worked on the terminal (at least linux/osx) and that was mostly based on that article, but like you said this is different with pathos.

We will probably move back to mutiprocessing but for n

[2019-07-23 21:54] #1607 closed

[2019-07-23 21:54] mike-pt commented on #1607
And thank you for the help btw!

[2019-07-23 21:57] int19h commented on #1607
You're welcome! Glad it worked out.

[2019-07-23 23:47] YoniChechik opened #1619 "debug evaluate run in debug console doesn't show invariables scope"
## Environment data

VS Code version: 1.36
Extension version (available under the Extensions sidebar): 2019.6.22090
OS and version: windows 10
Python version (& distribution if applicable, e.g. Anaconda): 3.6.8
Type of virtual environment used (N/A | venv | virtualenv | conda | ...): venv

## Actual behavior

running in debug console through "debug evaluate" doesn't pop new var in var scope

## Ex

[2019-07-24 00:09] karthiknadig commented on #1616
https://github.com/microsoft/vscode-python/issues/6683 this will be tracked there.

[2019-07-24 00:09] #1616 closed

[2019-07-24 06:34] flaker commented on #1606
So, the good news is that I managed to hit my breakpoint. The bad one is that I took an axe to the dev app server. Going over it I find that it gets rid many (many) modules. In between those modules is the one that keeps the debugger from running properly. So far, I've reduced the list to these modules and I am getting the most interesting ones to see if I get lucky.

[code]

[2019-07-24 07:25] flaker commented on #1606
while building the sandbox, the sdk removes a (large) number of modules. I added the following:

[code]
to the evaluation of modules to keep and the debugging is working. For reference, at least in my case, it was the function `_should_keep_module` in the file: /platform/google_appengine/google/appengine/tools/devappserver2/python/runtime/sandbox.py

Maybe there is a way to make this cleaner. Like

[2019-07-24 07:40] int19h commented on #1606
You could get the list of modules by running the debugger on some simple app - do breakpoints, some stepping etc - and then printing out `sys.modules` at the very end of it.

But as I understand, the point of GAE dev server removing the modules is to present the environment that is identical to what you'll see in production - so that you don't accidentally rely on some module in your code during d

[2019-07-24 07:45] flaker commented on #1606
@int19h

Sorry I wasn't clear. It's working now. I only needed to let `os` go through (and ptvsd if you want to call it directly). As you say, the idea of the dev server is to look as PROD as possible so this solution is not advisable at all, but works for me for the moment.

Thanks!

[2019-07-24 09:06] int19h commented on #1606
You're welcome!

[2019-07-24 09:06] #1606 closed

[2019-07-24 18:13] hugomartins11 opened #1620 "Variable check"
It'd be nice to check the value of some local vars, without having to use the cursor on top of them.
I recommend putting it on a tab of the debugger interface and having it being displayed there.

[2019-07-24 18:41] int19h commented on #1620
You can see all the local variables and their values in the Debug sidebar.

https://code.visualstudio.com/docs/editor/debugging#_debug-view
https://code.visualstudio.com/docs/editor/debugging#_data-inspection

Or did you have something else in mind?

[2019-07-24 19:08] Leonardo-Ferreira opened #1623 "Debug Console does not break lines"
Issue Type: <b>Bug</b>

The debug console for python prints "\n" instead of breaking the line

Extension version: 2019.6.24221
VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:56:38.504Z)
OS version: Darwin x64 16.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4850HQ CPU @ 2.30GHz (8 x 2300)|
|GPU Status|2d_canv

[2019-07-24 20:43] hugomartins11 commented on #1620
Hello!
I did have something else in mind.
Having the ability to check global vars, for example, would be a plus.
This feature is present on pycharm for example

On Wed, 24 Jul 2019, 19:41 Pavel Minaev, <notifications@github.com> wrote:

[2019-07-24 20:47] int19h commented on #1620
Indeed! We have globals on our list of features to implement - #118. Please upvote that issue, so that we can keep track of the user demand for it, and prioritize it accordingly.

[2019-07-24 20:57] karthiknadig commented on #1620
Closing this as dupe of  #118

[2019-07-24 21:01] karthiknadig opened #1621 "Put dunder global variables in their own scope"
Ideally the following should go into their own group.
- [ ] builtin dunder variables
- [ ] data
- [ ] functions, classes etc

[2019-07-24 21:41] karthiknadig opened #1622 "Future warnings in pydevd_resolver"
## Environment data

- PTVSD version: master
- OS and version: Windows
- Python version (& distribution if applicable, e.g. Anaconda): 3.7.3
- Using VS Code or Visual Studio: VSC

## Actual behavior

[code]
## Expected  behavior

Should not show warnings.

## Steps to reproduce:
[code]
Expanding `df.GeoLocation` shows this warning.

[2019-07-24 21:47] karthiknadig opened #1624 "Ensure attach to pid is bitness agnostic"

[2019-07-24 22:41] int19h commented on #1623
Dupe of #1432, which is due to https://github.com/microsoft/vscode/issues/73845.

@DonJayamanne, for future bugs about newlines in debug console, please direct users directly to https://github.com/microsoft/vscode/issues/73845, so that they can leave feedback there - there is a debate on that item about the correct behavior of the console in this case, so specific scenarios will help them decide h

[2019-07-24 22:41] #1623 closed

[2019-07-24 23:53] int19h commented on #1625
Can you please tell more about the code that you're running?

In particular, are you using `os.fork` or `multiprocessing` in any way?

[2019-07-25 05:18] #1620 closed

[2019-07-25 07:34] ftrofin commented on #1625
I don't think the problem is with multiprocessing, I think it has to do with spawning of the child python process:
`CalledProcessError:` Command '('/usr/bin/python', '<redacted>/somescript.py', '-v', 'rebuild', 'output.txt')' returned non-zero exit status 1`

[2019-07-25 11:10] andersea opened #1627 "Consider coroutines when stepping (check with asyncio and trio)."
## Environment data

- VS Code version: 1.36.1
- Extension version: 2019.6.24221
- OS and version: Windows 10 / Version 1903 / Windows_NT x64 10.0.18362 /
- Python version: Python 3.7.3 x64
- Type of virtual environment used: venv
- Relevant/affected Python packages and their versions: trio 0.11.0
- Jedi or Language Server?: Language server (false)

## Expected behaviour

When debugging trio async

[2019-07-25 11:54] guocheng opened #1626 "There was an error in starting the debug server"
## Environment data

- PTVSD version:
- OS and version: 10.14.5
- Python version (& distribution if applicable, e.g. Anaconda): 3.6
- Using VS Code or Visual Studio: 1.36.1 (1.36.1)

## Actual behavior

"There was an error in starting the debug server"

## Expected  behavior

To start the debug server

## Steps to reproduce:
1. install vscode and try to run debugger

My host file is empty which ca

[2019-07-25 17:45] karthiknadig commented on #1625
In your script are you importing `ptvsd` and calling `enable_attach`? Can you share your script or a minimal repro?

[2019-07-25 17:47] int19h commented on #1625
`CallProcessError` is simply telling you that some process (not itself debugger-related, judging by its command line) exited with an error. The real error is above that, and by the looks of it, it does kinda resemble what we've seen before with `fork` - hence why I'm curious.

It would be particularly helpful to see the code that starts `somescript.py`.

[2019-07-25 17:48] int19h commented on #1626
We do use `localhost` in several places, so that's likely why.

Could you clarify the scenario - i.e. how did you end up with an empty /etc/hosts (or equivalent)? Is it a container?

[2019-07-25 17:57] karthiknadig commented on #1626
Looks like on Mac if you don't have developer tools or xcode installed they don`t have "localhost" in the `hosts` file

[2019-07-25 18:46] andersea commented on #1627
Here is one error I get in a new tab when using step over from the break point:

    Could not load source '<attrs generated init 8d41ebacfc00edb9f075a656f2e1472dc827095d>': Source unavailable.

[2019-07-25 19:42] int19h opened #1628 "Adapter does not handle "envFile""
`ptvsd.adapter` does not, and cannot, support "envFile" in debug configuration, because it cannot perform variable expansion in VSCode context.

https://github.com/microsoft/vscode-python must implement it via `DebugConfigurationProvider`, parsing the file and adding its contents to "env" before the config is sent over to the adapter.

[2019-07-25 21:30] Karlheinzniebuhr opened #1629 "Breakpoints not working for Python 3.7.1."
VSCode is completely ignoring my breakpoints while trying to debug Flask.

## launch.json
[code]

## Environment data

- VS Code version: 1.36.1
- Extension version (available under the Extensions sidebar): 2019.6.24221 (9 July 2019)
- OS and version: Win10
- Python version (& distribution if applicable, e.g. Anaconda): 3.7.1
- Type of virtual environment used (N/A | venv | virtualenv | conda | ..

[2019-07-25 22:00] DonJayamanne commented on #1630
@karthiknadig Please could you file an issue with VS Code (DA protocol). The python extension doesn't play a role here (at least not in this instance).

[2019-07-25 22:33] karthiknadig commented on #1629
@Karlheinzniebuhr Add `"subProcess": true,` to your launch.json and see if that helps.

[2019-07-25 22:38] Karlheinzniebuhr commented on #1629
doesn't make a difference, still no breakpoint works

[2019-07-25 23:21] TK786 opened #1639 "Django Tutorial"
[code]

[code]

[code]

[code]

[2019-07-26 00:25] karthiknadig commented on #1629
Try this, configuration. I see that it is missing "pathMappings" as well.
[code]

[2019-07-26 00:34] karthiknadig commented on #1629
If this still does not work. Can you provide details of your project layout (location of your scripts and the location of the virual env). can you also get the logs? You can get the logs by using this env variable:
[code]

[2019-07-26 00:57] karthiknadig opened #1631 "Replace debug adapter in extension"

[2019-07-26 00:58] karthiknadig opened #1632 "Update VS debug adapter launcher to launch ptvsd.adapter"

[2019-07-26 02:26] guocheng commented on #1626
I didn't do anything. I just installed VSCode and python plugin. The first time I tried the debugger the vague error message pops up. Cannot get it working on my first try which was frustrating.

[2019-07-26 03:59] int19h commented on #1629
This is a "launch" scenario, so path mappings shouldn't be necessary, I think.

However, the other problem is that Flask has its own mini-debugger that can interfere with ours. This is enabled by default if you use `FLASK_ENV=development`. You can disable it with `FLASK_DEBUG=0` - see if that helps.

If not, then getting those logs would help a lot!

[2019-07-26 04:42] karthiknadig commented on #1629
"pathMappings" are necessary for the attached sub-processes, since we use the same configuration but in attach mode.

[2019-07-26 04:44] karthiknadig commented on #1626
This is something we will have to fix on our end and the extension.

[2019-07-26 08:25] Olivier-OH opened #1640 "NetCommand: UnicodeDecodeError on French Windows 10 while reporting socket error"
## Environment data

- VS Code version: 1.36.1
- Extension version (available under the Extensions sidebar): 2019.6.24221
- OS and version: Windows 10 Enterprise 1703
- Python version (& distribution if applicable, e.g. Anaconda): Python 2.7.x
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): virtualenv
- Relevant/affected Python packages and their versions: -
- Jedi or L

[2019-07-26 08:39] Olivier-OH opened #1633 "NetCommand: UnicodeDecodeError on French Windows 10 while reporting socket error"
## Environment data

- PTVSD version: 4.2.10
- OS and version: Windows 10 Enterprise 1703
- Python version (& distribution if applicable, e.g. Anaconda): Python 2.7.x
- Using VS Code or Visual Studio: yes (VS Code 1.36.1)
- VS Code python extention: 2019.6.24221

## Expected behaviour

Socket server error should not make whole application crash in debug

## Actual behaviour

Application crash beca

[2019-07-26 14:16] Karlheinzniebuhr commented on #1629
I can't use pathMappings because it gives me:
`Property pathMappings is not allowed.`

This is my directory structure:
[dirstructure.txt](https://github.com/microsoft/ptvsd/files/3436102/dirstructure.txt)

And here is the log:
[ptvsd-41212.log](https://github.com/microsoft/ptvsd/files/3436117/ptvsd-41212.log)

[2019-07-26 15:28] Anapo14 opened #1635 "Create Detailed Debugger Wiki"
The idea is to have a wiki page that walks through basic configuration examples as well as some more complicated examples such as remote attach, etc.

[2019-07-26 17:21] karthiknadig commented on #1629
@Karlheinzniebuhr  you will see a squiggle under that . But please try that.
![image](https://user-images.githubusercontent.com/3840081/61969318-1a6c4c80-af8f-11e9-8b45-aa6e3e990b73.png)

[2019-07-26 17:23] karthiknadig commented on #1629
Note that all of this occurs if you run flask without `--no-reload`. We support running flask with relaod, but it requires the `pathMappings`. If you don't need reload, you can turn it off using `--no-reload`, like this:
[code]

[2019-07-26 17:25] karthiknadig commented on #1629
@DonJayamanne Another one of those cases where we need `pathMappings`. Can we make it so that there are no squiggles on `pathMappings`?

[2019-07-26 19:52] Karlheinzniebuhr commented on #1629
Ok so I added pathMappings to my config. But the breakpoints didn't work. Here is the log

[ptvsd-68720.log](https://github.com/microsoft/ptvsd/files/3437228/ptvsd-68720.log)

[2019-07-26 20:08] int19h commented on #1629
@Karlheinzniebuhr
Can you try it with `--no-debug` but without `--no-reload`, and see if that works?

If it doesn't, then using both `--no-debug` and `--no-reload` should definitely work.

[2019-07-26 20:28] int19h commented on #1629
@karthiknadig  Looking at the log, it seems that `"subProcess": true` is not being handled correctly by vscode-python? This is the "launch" request that ptvsd receives:
[code]
Note that there's no `"Multiprocess"` here...

[2019-07-26 20:48] karthiknadig commented on #1629
You need both `"subProcess": true` and `pathMappings` for this to work.

[2019-07-26 20:59] jdwestwood commented on #1606
@flaker  Have you opened an issue for this in the Google issuetracker?  For something as basic as debugging, one would hope Google would make the dev_appserver sandbox play nice with a well-established debugger like ptvsd/pydevd.

[2019-07-26 21:08] karthiknadig opened #1636 "stopOnEntry broken when a excluded script loads an included script"
## Environment data

- PTVSD version: master
- OS and version: Any
- Python version (& distribution if applicable, e.g. Anaconda): Any
- Using VS Code or Visual Studio: VSCode

## Actual behavior

Does not stop on entry into scriptB.py

## Expected  behavior

Should stop on the first line of scriptB.py

## Steps to reproduce:
1. Let scriptA.py load ScriptB.py. Let script A and B be in different lo

[2019-07-26 21:12] flaker commented on #1606
@jdwestwood

They do provide instructions on Eclipse + Pydev in a local environment

https://cloud.google.com/appengine/docs/standard/python/tools/setting-up-eclipse

In my case the environment was different and there where a couple of blog posts with people successfully running ptvsd + VS Code just by installing the module and using  python_startup_script. In my case, that was not enough. That sa

[2019-07-26 21:59] int19h commented on #1606
Looking at that page, it makes me feel like there's some magic going on behind the scenes there, since otherwise I don't see how pydevd would work without having to do basically the same thing you did.

I tried to see if there's any special treatment of pydevd in Google Cloud SDK code, but I can't find it there. The only mention of `_should_keep_module` that I can find is in this: https://github.c

[2019-07-26 22:07] jdwestwood commented on #1606
Actually, debugging dev_appserver in Eclipse + Pydev is broken as well and has been for quite awhile, also due to sandbox restrictions.  I had recently decided to try VSCode, hoping that debugging would work out of the box.

[2019-07-26 22:16] flaker commented on #1606
@jdwestwood
Local is not an option for me, but please let us know!!

@int19h
Unfortunately I am not able to use newer versions. They do state that the startup script can be used to setup debuggers. But remote and with my version I am not sure what kind of debuggers they meant.

For local pydev, yeah ... they can do some trickery as you say. The interpreter is there.

[2019-07-26 22:32] int19h commented on #1606
@jdwestwood, good to know, thank you!

I'm not sure what they can really do on their end alone, either, given that this is fundamentally an issue with Python's own debug API in general - any Python debugger that is itself written in Python (which it has to be to work with PyPy, Jython etc) cannot be fully isolated from the code being debugged. Thus, any sandbox necessarily affects it, and supporti

[2019-07-26 23:47] karthiknadig commented on #1602
We won't be doing these.

[2019-07-26 23:47] #1602 closed

[2019-07-27 01:02] int19h opened #1637 "log.exception() doesn't capture the full stack"
Currently, it only captures the frames between the point where the exception occurred, and the point where it was logged, because that's the semantics of `traceback.print_exception()` (https://bugs.python.org/issue9427), which itself gets it from `self.exc_info()`.

This is especially useless for messaging-related errors, because it actively catches and logs the exception that it raises itself, e.

[2019-07-27 01:11] int19h commented on #1637
I'll do the workaround as part of #1488, because it is interfering with debugging issues arising from it.

[2019-07-27 02:26] Karlheinzniebuhr commented on #1629
Added `"subProcess": true` and voila breakpoints are working. Thank you for your help, would you be so kind to clarify why this happens? I haven't found an explanation in the documentation.
Here the new log:
[ptvsd-3292.log](https://github.com/microsoft/ptvsd/files/3437774/ptvsd-3292.log)

[2019-07-27 05:13] int19h commented on #1629
When you run Flask in development mode, by default, it enables auto-reloading. The way that works, the main process that you start immediately spawns a child process, and that child process is what's actually running the web server and your code inside of it. When the main process detects any changes in the filesystem, it restarts the child process to reload those changes.

By default, ptvsd only

[2019-07-27 05:40] #1629 closed

[2019-07-27 20:51] DonJayamanne opened #1638 "Using new version of PTVSD displays error message in terminal"
## Environment data

- PTVSD version: 4.3.0
- OS and version: Mac
- Python version (& distribution if applicable, e.g. Anaconda): 3.7.3
- Using VS Code or Visual Studio: Latest or Insider

## Actual behavior

When debugging the following message is displayed in the terminal:
`Unable to find threadStateIndex for the current thread. curPyThread: 0x7fd019c05e60`

## Expected  behavior

No messages

#

[2019-07-28 20:31] fabioz commented on #1638
This is a duplicate of https://github.com/microsoft/ptvsd/issues/1587 (my plan is to tackle that when I'm back from vacations... after August 5th).

[2019-07-28 20:31] #1638 closed

[2019-07-30 00:37] jdwestwood commented on #1606
@flaker Based on your finding about the modules that are needed in the dev_appserver sandbox,  here is a pydev_startup.py script that works for me without the need to modify the '_should_keep_module' function in google\\appengine\\tools\\devappserver2\\python\\runtime\\sandbox.py on the file system:
[code]
In my tasks.json, I have two dev_appserver tasks, one that does not run this script and the

[2019-07-30 00:48] flaker commented on #1606
wow @jdwestwood that is an approach that might work in a somehow cleaner way!! using the startup script itself to do all the magic. Now, after some tinkering this is the minimum change I could get. This patch enables debugging.

[code]
So.

-  allow to load ptvsd/pydevd (the reason for this is to allow proper clean up when you kill the service)
-  enabling getpid, unlink, rename, popen
-  stop the

[2019-07-30 01:36] int19h commented on #1606
@jdwestwood, very interesting, thank you!

This basically gives a hook to pre-import the necessary modules, and stash them away somewhere they can be retrieved from later once the sandbox is in effect. If that hook pre-imports all ptvsd and pydevd modules, then any top-level imports in them would be preserved (as global variables) into the sandbox.

However, any local imports would be affected, as

[2019-07-30 03:38] karthiknadig commented on #1639
@TK786 can you provide some more details. Is this a consistent repro? if so can you provide a link to the tutorial that you were using. Any steps that you took while setting up your environment etc.

[2019-07-30 08:44] TK786 commented on #1639
https://code.visualstudio.com/docs/python/tutorial-django I was using this tutorial when the problems started. It is a consistent repo.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Karthik Nadig <notifications@github.com>
Sent: Tuesday, July 30, 2019 4:38:39 AM
To: microsoft/ptvsd <ptvsd@noreply.github.com>
Cc: TK786 <tahir_khatri@hotmail.com>; Mention <mentio

[2019-07-30 13:44] dalmago opened #1641 "Support gevent with frame eval mode"
## Environment data

- PTVSD version: 4.3.0
- OS and version: Windows 7 Pro
- Python version: 3.6.1
- Using VS Code

## Actual behavior

The code unexpectedly exits when I set the GEVENT_SUPPORT environment variable to True. Getting the following error:

[code]

The error happens when I press the "Start Debugging" button on VS Code.
Enabling gevent support because I want to debug some code that us

[2019-07-30 17:52] jdwestwood commented on #1606
@flaker Thank you for posting those refinements.  I had tried to fiddle with the _MODULE_OVERRIDE_POLICIES, but could not make it work.  Thanks for showing the way!

[2019-07-30 18:32] int19h commented on #1639
It looks like a corrupt Python installation.

Can you check if a simple console app works for you? Also, does the problem only occurs with the debugger, or do you also see it when running without the debugger (from command line) using the same Python version?

[2019-07-30 18:43] TK786 commented on #1639
Hello World works for me when I run it in visual studio code

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Pavel Minaev <notifications@github.com>
Sent: Tuesday, July 30, 2019 7:32:07 PM
To: microsoft/ptvsd <ptvsd@noreply.github.com>
Cc: TK786 <tahir_khatri@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/ptvsd] Django Tutorial (#1639)

[2019-07-30 18:52] karthiknadig commented on #1641
Try this workaround and see if it helps:
[code]

[2019-07-30 19:10] dalmago commented on #1641
It does the trick! What is the impact of having both environment variables always set (besides the overhead of importing the libraries again to protect them from patching)?

[2019-07-30 21:55] karthiknadig opened #1642 "logToFile should still be supported with the new debug adapter"

[2019-07-30 22:13] karthiknadig commented on #1641
@fabioz can answer that better. He is currently on vacation and will be back in a couple of days.

[2019-07-31 01:00] #1628 closed

[2019-07-31 01:24] int19h commented on #1642
It would not be able to log it into the same directory, though.

However, I think it can log to TEMP, but also print the exact name of the file out to the debug console. That way the user can just Shift+click it there to open it.

Also, we can have an option to log directly to the debug console. So perhaps we should make it a different property, to accommodate future variations? (i.e. not just a b

[2019-07-31 01:28] karthiknadig opened #1643 "Provide a way to filter variables"

[2019-07-31 07:17] karthiknadig commented on #1642
The extension can set PTVSD_LOG_DIR when it sees the flag in the resolver. If it is not already set.
/cc @DonJayamanne

[2019-07-31 08:29] gatopeich opened #1645 "Bogus file "os.path^M" created during debug sessions"
Issue Type: <b>Bug</b>

When debugging python tests with pytest, a file named "os.path^M" appears out of the blue in my workspace.

It contains contains a (corrupt) Postscript image created by ImageMagick:

[code]

Since the file name contains a special char, I have searched for it in the complete .vscode folder... It only shows up in `ptvsd` .pyc files:

[code]

This happens in conjunction with [

[2019-07-31 08:53] nan10921p opened #1646 "python3 environment error"
Traceback (most recent call last):
  File "/root/.vscode/extensions/ms-python.python-2019.3.6558/pythonFiles/ptvsd_launcher.py", line 21, in <module>
    import ptvsd
  File "/root/.vscode/extensions/ms-python.python-2019.3.6558/pythonFiles/lib/python/ptvsd/__init__.py", line 13, in <module>
    from ._vendored import force_pydevd
  File "/root/.vscode/extensions/ms-python.python-2019.3.6558/pytho

[2019-07-31 09:13] int19h commented on #1642
If we want to get the adapter logs, then doing this via `DebugConfigurationProvider` is too late, because the adapter is already running by then.

There is a way to hook this. We need to register a `DebugAdapterDescriptorFactory` for our debugger - that thing is queried for the command line to launch the adapter. We will have to do it in any case, since adapter needs Python to run, and this is the

[2019-07-31 12:58] kerbrose opened #1644 "Call Stack doesn't clear out in realtime under remote debugging of a docker image"
## Environment data

- ptvsd Version: 4.2.10
- OS Version: Fedora 29
- Host OS => Python 3.7.3 (default, May 11 2019, 00:45:16) [GCC 8.3.1 20190223 (Red Hat 8.3.1-2)] on linux
- Docker Container => Python 3.5.3 (default, Jan 19 2017, 14:11:04) [GCC 6.3.0 20170118] on linux
- VSCode Version: 1.36.1

## Actual behavior
When I am attaching the debugger to docker container for a multi-threaded program

[2019-07-31 17:32] int19h opened #1648 "Messaging does not allow reverse requests"
While handling a DAP message that came from the IDE, it is currently impossible to issue a request to the IDE and wait for a response - the handler executes on the same thread that processes all incoming messages, and thus the response won't be processed until it returns.

This is now an issue because we need to issue "runInTerminal" request from the adapter to the IDE while handling IDE's "launch

[2019-07-31 17:33] int19h commented on #1648
The proposed fix is to split the message loop into two, running on separate threads - one that just does the reading and parsing, and puts parsed messages into a queue; and another one that reads from that queue, and invokes handlers. Thus, if a handler blocks waiting for a response, that response can be located in the queue filled by the reader thread in the background.

[2019-07-31 19:42] karthiknadig commented on #1646
@nan10921p Looks like you might have a broken python install.

[2019-07-31 20:05] #1488 closed

[2019-07-31 20:05] #1605 closed

[2019-08-01 01:45] int19h commented on #1646
Try:
[code]

[2019-08-01 01:58] nan10921p commented on #1646
@int19h
I try your command
   python3 -m pip install --upgrade setuptools
Then problem solved perfectly.
Thank you.

[2019-08-01 02:18] int19h commented on #1646
You're welcome!

[2019-08-01 02:18] #1646 closed

[2019-08-01 04:13] david-waterworth opened #1650 "mxnet cause vscode debugger to throw exception"
I'm trying to step through an mxnet machine learning model in vscode. Whenver I get to the line

    train_data = gluon.data.DataLoader(train_datasets[dataset_index], shuffle=True, batch_size=options.batch_size,
                                       num_workers=8,
                                       batchify_fn=batchify)

vscode throws the exception below. I don't beleive this is thrown from t

[2019-08-01 04:32] karthiknadig opened #1649 "Adapter should support --log-dir switch"

[2019-08-01 07:11] DonJayamanne commented on #1649
Why not just accept the environment variable, that would be easier (for VSC). Else we need to encode paths for cli, etc...
I'm assuming this is easier for PTVSD too.

[2019-08-01 13:09] martinGithub commented on #1354
@fabioz , it would be good to have "justMycode": false by default. it would have saved me (and i guess many people) losing time before eventually finding the solution here. Should we reopen the issue ?

[2019-08-01 17:34] karthiknadig commented on #1649
Both the --log-dir switch and the environment variable will be supported. @int19h recommended the switch, since it does not add anything to the user's environment variables.

[2019-08-01 17:39] karthiknadig commented on #1354
@martinGithub the `justMycode` setting default comes form the IDE. This is a good question to ask on the pyhton extension and/or PTVS.

From our experience with the usage of the debugger, the common scenario is where users want to debug their code only. Debugging library code is a less common scenario. But in either of these cases the main issue is the discover-ability of this setting. That is som

[2019-08-01 17:43] int19h commented on #1649
We don't need to encode the paths for CLI, since the API that VSCode provides has you specify the command line as an array, and it takes care of all the encoding.

And we already have to provide that array, since that's where the paths to Python and ptvsd package go to launch the adapter itself. Might as well just add another path there.

[2019-08-01 17:53] int19h commented on #1650
It sounds similar to https://github.com/microsoft/ptvsd/issues/1056#issuecomment-457034475 - can you check the various workarounds in the comments there?

[2019-08-01 18:34] karthiknadig commented on #1498
Looks like we can do this from `ptvsd.server`.

[2019-08-01 22:47] david-waterworth commented on #1650
@int19h you're correct, it's the same issue. Adding

[code]

Disables forking a new process (#943).

[2019-08-01 23:16] int19h commented on #1650
Thank you for confirming it! We'll use #943 to track the work needed to fix the root cause (which is ongoing - please bear with us!), so I'm going to close this one.

[2019-08-01 23:16] #1650 closed

[2019-08-02 02:14] karthiknadig opened #1652 "Support terminateThread request"

[2019-08-02 02:25] karthiknadig commented on #1645
This does not looks like a file that the debugger would generate. `os.path` is a standard python library that we use in the debugger, and i am not surprised you could find `os.path\r` in `*.pyc` files. But that seems unrelated to the file being generated here.

[2019-08-02 02:37] karthiknadig commented on #1644
Can you get the logs for this? You can do this either by using `--log-dir` switch when using ptvsd or setting `PTVSD_LOG_DIR=<path-to dir>`.

[2019-08-02 02:38] #1642 closed

[2019-08-02 02:40] karthiknadig commented on #1642
https://github.com/microsoft/vscode-python/issues/6017#issuecomment-517100717

[2019-08-02 18:18] RaymonGulati1 commented on #1571
Any idea how long it will take to fix this?

[2019-08-02 18:28] karthiknadig commented on #1571
It is blocked on #799 . We are currently working on that, and may take one more sprint.

[2019-08-03 01:20] omartin2010 commented on #1283
I had the same issue using the Remote extension, trying to debug a PyTorch training (which uses multiprocessing for the data loaders) and adding these lines :
[code]
solved it. Thanks!! :) Looking forward for the fix. I'm running VSCode on Win10 and I remote to a notebook VM in Azure.
[code]

[2019-08-03 17:49] dalmago commented on #1641
It seems to work fine on:

- PTVSD version: 4.3.0
- OS and version: Debian 9.0
- Python version: 3.5.3 and 3.6.3
- Using VS Code

And:

- PTVSD version: 4.3.0
- OS and version: macOS 10.14.5
- Python version: 3.7.2
- Using VS Code

[2019-08-04 03:53] #1498 closed

[2019-08-04 03:54] #1449 closed

[2019-08-04 03:56] karthiknadig commented on #1649
Fixed via https://github.com/microsoft/ptvsd/issues/1448

[2019-08-04 03:56] #1649 closed

[2019-08-04 07:43] hellozhaihy commented on #1291
In the latest vscode 1.36.1, adding `"justMyCode": false` to launch.json will sovle this problem.

[2019-08-05 05:34] DonJayamanne opened #1654 "Do not deprecate PTVSD_LOG_DIR"
Currently I'm initializing the env variable `PTVSD_LOG_DIR` for our UI Tests.
Would appreciate it if this is not deprecated in favour of the CLI arg.

Please feel free to close if there's no plan to drop `PTVSD_LOG_DIR`.
FYI - Currently the plan is to ONLY use this in UI Tests (on CI).
For the extension, we'll use the CLI arg (`--log-dir` or which ever is prescribed).

[2019-08-05 06:46] int19h commented on #1654
There's no plan to drop it anywhere - CLI is just another option, just like the optional argument to `ptvsd.enable_attach()` that we already have.

[2019-08-05 06:46] #1654 closed

[2019-08-05 17:34] DonJayamanne opened #1655 "Can't add watch / + button grayed out"
@JoanEliot commented on [Sun Aug 04 2019](https://github.com/microsoft/vscode-python/issues/6846)

This is similar to 646: https://github.com/microsoft/vscode-python/issues/646 and also
https://github.com/microsoft/vscode/issues/42291
but those are closed as fixed so I figured I should report the problem, even without knowing how to reproduce it.

## Environment data

- VS Code version: 1.36.1
- E

[2019-08-05 17:34] DonJayamanne commented on #1655
Please have a look at the comments from VS Code team about DAP messages https://github.com/microsoft/vscode/issues/42291

[2019-08-05 20:48] DonJayamanne opened #1656 "Programmatic way to launch DA"
The recommended way to launch the new DA (in Python is as follows):
`python.exe <ptvsd_dir>/adapter`

Currently in VS Code we have some middleware (`ptvsd_launcher.py`).
This code is being updated to store the logic to determine the version of PTVSD (location, etc) to be used (when using the wheels).
We'd like to keep that around, rather than moving that code into `typescript` (**if possible**)

H

[2019-08-05 21:02] int19h commented on #1656
`ptvsd.adapter.__main__.main(argv)`

But it's best to use [`runpy`](https://docs.python.org/2/library/runpy.html). If you have a path to ptvsd/adapter/ already, don't even bother setting up PYTHONPATH etc; we can already handle all that. Just set `sys.argv` as needed, and then do:
[code]
Python itself will load `__main__.py` and invoke `main()` properly.

If you want to keep using the existing imp

[2019-08-05 21:20] DonJayamanne commented on #1656
Thanks, closing for now.

[2019-08-05 21:20] #1656 closed

[2019-08-06 17:36] bersbersbers opened #1658 ""Debug Console" is missing some output with joblib.Parallel"
## Environment data

- VS Code version: 1.36.1
- Extension version (available under the Extensions sidebar): 2019.6.24221
- OS and version: Windows 10 1903
- Python version (& distribution if applicable, e.g. Anaconda): Python 3.7.4 (no distribution)
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): none
- Relevant/affected Python packages and their versions: `joblib==0.1

[2019-08-06 17:59] int19h commented on #1658
Output redirection is done by detouring `sys.stdout` and `sys.stderr` - I suspect this library does its own detouring, probably to synchronize the output, and implements it in a manner that interferes with the debugger.

[2019-08-06 18:04] int19h commented on #1658
Oh, actually, the reason is that it uses multiple processes, and the debugger does not automatically attach to child processes.

Try doing this in your launch.json:
[code]

[2019-08-06 19:39] int19h opened #1659 "Debuggee output breaks adapter with "internalConsole""
Debug adapter allows the child process to read from stdin and write to stdout. When communicating with the IDE over stdio, this interferes with DAP messages.

The adapter should block stdin for the debuggee entirely in that mode, and capture stdout/err into "output" DAP messages. Since the debug server will also generate "output" events, those would have to be suppressed in that mode to avoid dupl

[2019-08-06 19:57] fabioz commented on #1641
Using `os.environ["PYDEVD_USE_FRAME_EVAL"] = "NO"` should be Ok (I think we don't have tests for the frame eval mode + gevent, so, until that's resolved we should probably disable the frame eval mode when gevent mode is enabled by default).

[2019-08-06 20:06] karthiknadig commented on #1655
We will need logs for this, or a minimal repro.

[2019-08-06 20:55] bersbersbers commented on #1658
`"subProcess": true` is certainly related, but raises other issues:
First, the "serial" text seems to be cleared when the first "parallel" text is printed, and the second batch of "parallel" text then replaces the first one (compare the second run in the attached gif). Second, browsing through the subprocesses does not show the serial text again, as both runs of the attached gif file show. Third,

[2019-08-06 21:30] int19h commented on #1658
There seem to be several unrelated issues here that combine to produce this effect.

Firstly, the UX. Every process gets its own Debug Console, which means that as the child process starts printing, it switches to the new Debug Console for that process. So it doesn't actually clear the text - it just looks like it, because of the switch (but you can see that it's a different pane, in the combo box

[2019-08-06 21:31] int19h commented on #1658
@bersbersbers In the meantime, I recommend you use this:
[code]
This way, the output of all processes will also be printed in VSCode terminal, and it'll be a single stream for all of them (it will also still go to Debug Console, with all these warts - but you can ignore that).

[2019-08-07 00:53] kerbrose commented on #1644
[ptvsd-1.log](https://github.com/microsoft/ptvsd/files/3474723/ptvsd-1.log)
I uploaded the log file

[2019-08-07 05:06] bersbersbers commented on #1658
Thank you for the investigation and explanation, and good luck tackling all of this. I will try that workaround (it does indeed work), although I prefer the debug console over the terminal.

[2019-08-07 18:03] DonJayamanne commented on #1587
**Suggestion:**
* Please fix and release a point release so we can get our UI Tests running without any issues.
* If we do for any unforeseen reason decide to ship a point release of VS Code, we might release this new version of PTVSD (rationale - If debugger breaks consistently on CI, then it could fail for users as well).
    * I.e. its best to be ready with a fix

**Information:**
* We're runni

[2019-08-07 18:12] fabioz commented on #1587
I'm currently working on this issue.

[2019-08-07 18:35] karthiknadig opened #1661 "Visual Studio uses ConfigurationProperties that breaks adapter"
Sample launch request form Visual Studio:
[code]

[2019-08-07 20:28] karthiknadig opened #1662 "Fix Launch tests to use new debug adapter"

[2019-08-07 20:29] karthiknadig opened #1663 "Fix Attach tests using new adapter"

[2019-08-07 20:30] #1447 closed

[2019-08-07 20:31] karthiknadig commented on #1448
Manually tested attach via CLI and import. Created a separate item to update automated tests.

[2019-08-07 20:31] #1448 closed

[2019-08-07 21:20] karthiknadig opened #1664 "Support nodebug flag for launch"

[2019-08-07 21:23] #1637 closed

[2019-08-07 21:25] karthiknadig commented on #821
This is done in refactor branch

[2019-08-07 21:25] #821 closed

[2019-08-07 21:38] #1229 closed

[2019-08-07 21:40] karthiknadig commented on #1569
Please reopen if you have more info.

[2019-08-07 21:40] #1569 closed

[2019-08-07 21:42] karthiknadig commented on #1617
Please reopen if this happens again. Minimal repro will definitely help address such issues.

[2019-08-07 21:42] #1617 closed

[2019-08-07 21:45] karthiknadig commented on #1625
This looks like a multiprocessing issue. See the troubleshooting.md on how to address these for Mac. You may want to enable `"subProcess": true` in your launch json to make use of the multiprocessing features in VSCode. Please reopen if you need additional help.

[2019-08-07 21:45] #1625 closed

[2019-08-07 22:22] karthiknadig opened #1665 "Support for scope presentationHints"
[code]

[2019-08-08 07:19] pvizeli opened #1666 "When running on arm: OSError: Error relocating attach_linux_x86.so unsupported relocation type 7"
## Environment data

- PTVSD version: 4.3.0
- OS and version: Alpine 3.10
- Python version (& distribution if applicable, e.g. Anaconda): 3.7.3
- Using VS Code or Visual Studio: VSCode

## Actual behavior

If I start the debuger with `ptvsd.enable_attach(address=("0.0.0.0", 33333), redirect_output=True)`, I see follow trace on my log:

[code]

## Expected  behavior

No trace in my log

## Steps to

[2019-08-08 08:10] int19h commented on #1666
What architecture is it running on?

If it's x64, is it 64-bit-only (i.e. no lib32 etc)?

[2019-08-08 08:46] pvizeli commented on #1666
In that case, it's an armv6 and the other instance was an armv7.

I see the "issue" with https://github.com/home-assistant/hassio and the latest ptvsd update.

[2019-08-08 09:29] int19h commented on #1666
@fabioz, looks like the new tracing code in pydevd_tracing.py assumes Intel? We might want to build ARM binaries in the future, but either way, it needs to check for architecture somehow. Looks like this is not easy in portable Python, so it might be easiest to just try to load it, and see if that works?

Or perhaps we can use the same naming convention as wheels for those binaries? i.e. consisten

[2019-08-08 10:44] fabioz commented on #1666
@int19h
Yes, Intel is assumed...

As a note, that dll could be optional (so, handling the exception and proceeding would be almost ok -- things that wouldn't work in this case would be the attach to pid and tracing all threads when an attach happens).

@pvizeli can you try to compile that dll locally to check if it works? i.e.:

[code]

[2019-08-08 10:52] fabioz commented on #1666
@int19h
Actually, that exception appears in the log but the debugger should work properly already (with the caveats I mentioned earlier), as that exception is handled (and printed) so, just printing the exception if the trace level is higher would be the first step here (and we can provide pre-compiled dlls for arm as a second step).

@pvizeli
This means that locally you can just open the file `/u

[2019-08-08 10:55] fabioz commented on #1641
I'm reopening as we should address the actual error when working with frame eval and gevent (or disable the frame eval mode ourselves when gevent mode is enabled if it turns out to be too complicated).

[2019-08-08 18:36] int19h commented on #1666
Yep, if it basically works, just without the new goodness - same as on older versions of Python - that's the expected behavior right now. It's the error message that is the issue.

Note that this will also affect various IoT scenarios, and potentially Windows on ARM (although I don't think there's official Python builds for that yet).

[2019-08-08 19:58] vibhuyadav commented on #1587
getting the same error.

[2019-08-08 20:01] karthiknadig commented on #1661
This is a example of the launch Json received with interpreter args and user script args. Here `--vv` is the interpreter args and `--aa --bb` are the script args.
[code]
Ideally, interpreter args and user args should be supplied to the debug adapter as separate array.
[code]

So `UpdateLaunchOptions` in VS must transform the above launch json to something like this. Note that we no longer use `deb

[2019-08-08 23:25] karthiknadig opened #1667 "Jump to cursor does not move focused line"
## Environment data

- PTVSD version: master
- OS and version: Any
- Python version (& distribution if applicable, e.g. Anaconda): Any
- Using VS Code or Visual Studio: VSCode

## Actual behavior

On 'Jump to cursor' the focus line does not move.

## Expected  behavior

Focus line should move to the line where user requested `goto`.

Reason:
[code]
Here ` preserveFocusHint` should be `false` for t

[2019-08-09 00:27] #1667 closed

[2019-08-09 08:50] minimAluminiumalism commented on #1587
The same error.

[2019-08-09 08:58] minimAluminiumalism commented on #1587
Meeting the same error today when I use the latest VSCode 1.37.0.

[2019-08-09 17:36] #1587 closed

[2019-08-09 18:44] fabioz commented on #1666
As I was working in the related code, I've also fixed the logging issue in the latest commit:
https://github.com/microsoft/ptvsd/commit/152edebd4e2b2859a23f1328bb8a2f640b6caf73#diff-5a4a91556d4ed2cc131c7fb1395c8f36R149

@int19h @karthiknadig
Should this bug be left open to actually compile for arm in the future or can I close it?

[2019-08-09 19:39] karthiknadig commented on #1666
@fabioz We need to make separate epic to create arm builds.

Closing this issue.

[2019-08-09 19:39] #1666 closed

[2019-08-09 19:40] karthiknadig opened #1670 "Azure Build for ARM"

[2019-08-09 19:40] karthiknadig opened #1671 "Azure Build for ARM64"

[2019-08-09 19:41] karthiknadig opened #1672 "Update CI and testing for ARM"

[2019-08-09 19:41] karthiknadig opened #1673 "Update CI and testing for ARM64"

[2019-08-09 19:41] karthiknadig opened #1674 "Support for ARM and ARM64"

[2019-08-09 19:58] karthiknadig opened #1675 "Create API to set debugger don't trace patterns"
Currently we set this via dontTrace[Start/End]Patterns using setDebuggerProperties. We should remove those and set the patterns via `apply_debugger_options`.

[2019-08-10 21:51] gatopeich commented on #1645
Well, I have many extensions there and only those contain `os.path^M`. Note that the use of ^M is rare on Linux.
Besides, this always happens during debug sessions...
If only I could put a breakpoint on file creation...

[2019-08-11 03:03] lopugit commented on #1587
woo python 3.7 woo, I went back to 3.5.2

[2019-08-11 08:28] pvizeli commented on #1666
Looks fine. Thanks for support

[2019-08-11 14:16] andlo opened #1677 "Attach to process on raspberrypi - Undefined item: "i386"."
On a raspberry I am trying to get ptsvd working by attaching to running pid. But it fails.

It works if I start the python module with
[code]
But if alreddy having the module running and wanting to attach to the process by the --pid parameter it fails.
I cant figure out why or if it is a bug or the fact that this isnt made for arm arcihture.

I am dooing this when it fails:
[code]
Getting this out

[2019-08-11 20:10] int19h commented on #1677
Attaching by PID requires injection of a binary module into the running process, and the debugger only comes with them compiled for x86 and x64.

So, this is another item for #1674.

[2019-08-11 20:12] int19h commented on #1677
Note that if you don't have control over how the app is launched, but you can run your own code inside of it at some point, you can also use `ptvsd.enable_attach()` as a workaround.

[2019-08-11 20:21] andlo commented on #1677
OK - That makes sense.

I have been trying to use `ptvsd.enable_attach()` but without any luck. It complaints with
`ValueError: signal only works in main thread `

So my only option for now is to run ptvsd and start the module (which then is loading my stuff I want to debug)

`ptvsd -m --host localhost --port 5678 -m <module>
`
But I were looking for a niser way to start debugging to avoid to stop

[2019-08-11 22:43] int19h opened #1678 "Do not rely on "processId" being returned by "runInTerminal" request"
VSCode does not return "processId" from "runInTerminal" requests: https://github.com/microsoft/vscode/issues/61640

Thus, support for "console":"integratedTerminal" and "console":"externalTerminal" cannot rely on that - it has to retrieve the PID from the "process" event sent by the debug server, and gracefully handle situations where the debuggee exits or crashes before it gets a chance to send i

[2019-08-11 22:48] int19h opened #1679 ""exited" event sometimes reports "exitCode": null"
This happens if the debuggee exits, but its exit code couldn't be retrieved for whatever reason.

This is incorrect per the DAP spec - "exitCode" must always be present, and must be an int.

[2019-08-11 22:52] int19h opened #1680 "Fatal errors in message loop do not fail fast"
When a fatal error happens on one of the background threads that parse and handle messages, that error is logged by Python, but the adapter continues running. If the error happens on just one of the threads, the other thread remains alive, and the adapter never exits, even though it is broken.

Fatal errors (i.e. anything that is not `MessageHandlingError`) should cause the adapter to fail fast in

[2019-08-11 23:25] int19h commented on #1677
Can you please file a separate bug for that `ValueError`? That's definitely something that we should fix, but it should be tracked separately from ARM support for attach-to-PID.

[2019-08-12 02:47] #1648 closed

[2019-08-12 02:47] #1678 closed

[2019-08-12 02:47] #1679 closed

[2019-08-12 02:47] #1680 closed

[2019-08-12 02:47] LucasBois1 opened #1683 "import daemon error"
# VS CODE Terminal error
[code]

[2019-08-12 06:06] karthiknadig commented on #1661
I have made the `UpdateLaunchOptions ` changes in a private branch, will make a PR when ptvsd refactor is merged to master.

[2019-08-12 06:06] #1661 closed

[2019-08-12 09:38] zhouwangyang commented on #1421
this issue reproed in this environment:
![image](https://user-images.githubusercontent.com/39871640/62856469-97394d80-bd27-11e9-9140-258fc78f37c4.png)
![image](https://user-images.githubusercontent.com/39871640/62856592-eaab9b80-bd27-11e9-9e0f-8ab4542cab5c.png)

[2019-08-12 10:04] zhouwangyang commented on #1047
Should it also include both Hit Count and log breakpoints?

[2019-08-12 10:59] fabioz commented on #1624
@int19h

Karthik mentioned you could give some details on how this was fixed in the mixed mode debugger (i.e.: attach to 32 bit process from a 64 bit process and vice-versa)... can you share those here?

[2019-08-12 16:03] andlo commented on #1677
I will file a separate bug for this

[2019-08-12 16:18] andlo opened #1682 "ValueError: signal only works in main thread"
## Environment data

- PTVSD version: 4.3.0
- OS and version: Raspbian Strech (Debian 9.8)
- Python version (& distribution if applicable, e.g. Anaconda): 3.5.3
- Using VS Code or Visual Studio: VS Code (THEIA IDE)

## Actual behavior
In a module I add
[code]
but when loading the module I get `ValueError: signal only works in main thread`

Full traceback when loading module:
[code]

## Expected  b

[2019-08-12 17:27] #1675 closed

[2019-08-12 18:49] int19h commented on #1624
It's not just a mixed-mode debugger thing, actually. It's the original implementation of Attach to Process in VS for the old version of ptvsd. It is not directly reusable, because the implementation constraints there were very different. But we can reuse the basic principle.

The gist of the problem is that you can't call `CreateRemoteThread` from a 32-bit process, if the target is a 64-bit proces

[2019-08-12 18:58] int19h commented on #1624
Looking at the Python code that currently does the injection, I think we can drastically simplify that as well. There's DLL injection proper, and then it generates a bunch of code to call a function in the loaded DLL.

A simpler approach would be to do it like this:

1. `CreateRemoteThread` with `LoadLibrary` as target, to inject our DLL.
2. DLL starts *another* thread first thing in `DllMain`. Th

[2019-08-12 19:04] fabioz commented on #1624
I like that idea... it really goes through many hoops to call the function to attach and this should really simplify things.

I'll take a look at this when I finish the hooking of native threads (#305).

[2019-08-12 19:23] int19h commented on #1624
The only tricky part is communication with the injected code, since you can no longer pass function arguments to it. But since both sides are in native code with this approach - both the one that calls `CreateRemoteThread`, and the one in `DllMain` and the thread it spawns - they can use whatever Win32 IPC mechanism is most convenient for this.

The original VS implementation used [named shared me

[2019-08-12 19:24] fabioz opened #1684 "Build native binaries on ci and distribute those."
Up until now the binaries were mostly the accelerators (which should be already built on the ci) and some files which changed very little (mostly the attach to pid) which were on git.

Now, with the latest changes on #509, #305 and #1624 those dependencies that changed infrequently will change more and will require more native code, so, I think we should start to organize things differently so tha

[2019-08-12 19:43] karthiknadig opened #1685 "Refactor branch: Running on WSL prints these errors in the terminal"
[code]

[2019-08-12 20:13] karthiknadig opened #1686 "Support for attach to pid in the new adapter"

[2019-08-12 20:34] int19h commented on #1684
python-vscode will start using ptvsd wheels shortly, which will take care of the accelerator bits. Since those are essentially just Python extensions written in Cython, I think that's the best approach - we can let the standard Python facilities to build those take care of things.

I wonder if perhaps we can start treating _all_ native code that we have in the product as native subpackages, and ju

[2019-08-12 20:40] karthiknadig opened #1687 "Refactor branch: updates needed to support os.fork"
1. `settrace_forked` should use settings similar to `settrace` in `_enable_attach`
[code]
2. forked processes should notify parent about the port to communicate on.
3. forked processes should wait for a response from parent on should they continue or not.

[2019-08-12 21:03] karthiknadig commented on #1687
We will also need to update _on_forked process so that the forked process can connect to parent process, since it wont receive the host and port via CLI.

[2019-08-12 21:48] int19h commented on #1682
@karthiknadig I think that we might have already fixed this in the refactor branch, actually, since daemon is gone there.

[2019-08-13 12:32] mgsnuno opened #1688 "pydevd errors (NoneType not attribute add_command; PyDB no attribute _py_db_command_thread_event)"
## Environment data

- PTVSD version: 4.3.1
- OS and version: Linux/4.19.66-1-MANJARO manjaro/18.0.4
- Python version (& distribution if applicable, e.g. Anaconda): 3.7.4
- Using VS Code or Visual Studio: None

## Actual behavior
[code]
[code]
[code]
## Expected  behavior
no errors.

## Steps to reproduce:
(bash)
1. conda create -n test_ptvsd
2. conda install -n test_ptvsd pip
3. pip install ptvsd

[2019-08-13 12:42] fabioz commented on #1688
Can you give the full tracebacks?

All errors seem to imply that `PyDB` is not properly initialized before being used...

The first error appears to be because a new process is created (but without the full traceback I can't say whether this is new process from a fork or a new process through subprocess or exec).

[2019-08-13 13:10] mgsnuno commented on #1688
edited first post.

[2019-08-13 13:27] fabioz commented on #1688
I see the error... ouch, it seems that during the initialization of the debugger a process is spawned (for `gcc`)  when getting the paths from `sysconfig` and at that time the debugger is not properly initialized to be used when it tries to notify that that process was created. This prevents the proper initialization of the debugger (so, the other errors are just side-effects of the first error).

[2019-08-13 13:52] mgsnuno commented on #1688
Thanks a lot. I reverted to Python 3.7.3 and solves the problem, which supports your theory.

Tried your fix and solved the problem.

What can we do to solve this issue?

[2019-08-13 14:01] fabioz commented on #1688
I'll create a patch for this shortly...

[2019-08-13 18:04] karthiknadig opened #1689 "Discuss solution for python issue: Need API to set tracing on running threads"
https://bugs.python.org/issue35370

[2019-08-13 18:42] #1688 closed

[2019-08-13 19:52] ygbr commented on #1587
I'm also getting this on the latest Insiders build.
Python 3.7.4 on macOS using:

Version: 1.38.0-insider
Commit: ffa22b268f451b5211abbe2d2a47e6b753b55b1a
Date: 2019-08-13T07:23:55.783Z
Electron: 4.2.9
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Darwin x64 18.7.0

It also seems to be related with CherryPy WSGI applications being unable to auto-reload, the engine locks-down

[2019-08-13 20:11] Mithridates01 commented on #1587
I am also having the same issue. Are there any temporary workarounds for this?

[2019-08-13 20:42] karthiknadig commented on #1587
I just released https://pypi.org/project/ptvsd/4.3.2/ that has the fix for this and one another issue #1688 .

### For attach scenarios:
If you are installing `ptvsd` in the environment for attach scenario then please update.

### For launch scenarios:
**This is a temporary workaround until the extension updates to the latest `ptvsd`.**
1. Pip install to some directory. **Install in a separate dir

[2019-08-13 22:26] ygbr commented on #1587
Hi @karthiknadig it does seem to have solved the Unable to find threadStateIndex, but I still get the hanging on ENGINE Waiting for thread pydevd.CheckAliveThread. which needs me to fully restart the debugger... do you think it is related to this issue or is it another thing?

tks!

[2019-08-14 01:36] karthiknadig opened #1691 "Waiting for thread pydevd.CheckAliveThread."
## Environment data

- PTVSD version: 4.3.2
- OS and version: Ubuntu
- Python version (& distribution if applicable, e.g. Anaconda): 3.*
- Using VS Code or Visual Studio: VSCode
- Library: cherrypy

## Actual behavior
[code]

## Expected  behavior

Should not block on debugger.

## Steps to reproduce:
1. Use this file:
[code]
2. Start debugging.
3. Make changes to line with "Hello World" and save.

[2019-08-14 01:36] karthiknadig commented on #1587
@ygbr That looks like a different issue. Filed a bug here with details, https://github.com/microsoft/ptvsd/issues/1691.

[2019-08-14 03:47] karthiknadig commented on #1587
Python extension has released an update with a fix for "Unable to find threadStateIndex for the current thread" issue.

[2019-08-14 20:50] karthiknadig opened #1692 "Value error during state transitions"
[code]

[2019-08-14 21:15] karthiknadig opened #1693 "In NoDebug mode there is no way to notify pid to adapter"

[2019-08-15 19:05] andlo commented on #1682
I did try the dbg_adapter_refactor but it fails during install

[code]

[2019-08-15 19:21] fabioz commented on #1691
This happens because in pydevd a non-daemon thread is created and that thread waits for all other threads to exit before exiting itself -- it does this to make sure that all the related pydevd threads exit cleanly and send the needed events to the IDE.

Now, it seems that CherryPy does something similar before reloading: it waits for all other threads to exit before doing the reload at: https://gi

[2019-08-15 19:36] int19h commented on #1682
This might be another manifestation of #1677, since that is a native (Cython) module that it can't find the member in, judging by that call stack.

(@fabioz, possibly another place where we need to gracefully handle non-Intel arch, and fall back to pure Python code?)

@andlo, can you please try this to help diagnose it?
[code]

Then try setting `PYDEVD_USE_CYTHON=NO` in environment, and see if tha

[2019-08-15 20:29] fabioz commented on #1682
This particular error is because the branch is not updated with the master
(when we merge the master into the reactor branch this should be fixed...
this happened because the compiled extension is not up to date in the
refactor branch)... setting to not use the compiled extension should be a
reasonable workaround for now.

On Thursday, August 15, 2019, Pavel Minaev <notifications@github.com> wrote

[2019-08-15 20:53] int19h commented on #1692
It sounds like the name of the state was mistyped somewhere.

[2019-08-15 22:14] DonJayamanne commented on #39
@int19h @karthiknadig
Please could you add this telemetry. We'll need this to determine whether shipping the wheels does impact improve performance or not & by how much.

Telemetry for: Time to start debugger, etc.
Obviously we'll need this to compare perf for debugging with & without wheels.

[2019-08-16 00:54] int19h commented on #39
We need to identify a specific list of metrics.

And some of these will need to be implemented on VSCode side - e.g. time to start the debugger has to be measured on that side, because it includes the process spawn time, which cannot be measured by the process itself. VSCode could measure it by starting a timer when debug session starts, and stopping it when it sees the first "thread" event - this

[2019-08-16 00:57] int19h commented on #39
One other thing. Our logs already have high-resolution timestamps on every event, which start counting from the moment logging is initialized (which happens right after we parse the command line).

So if you capture a full log, you can see how long the entire debug session took from debugger's perspective, and you can see how long individual events took by comparing timestamps for messages.

For e

[2019-08-16 01:20] DonJayamanne commented on #39
Yes this is possible. However the metrics are for the PM team.
Best discussed separately. I.e. build a tool to extract and compare the values or capture the metrics via debugger telemetry events (and use existing tools).

[2019-08-16 11:29] fabioz commented on #39
As a note, I do have some performance numbers on some scenarios (which I
usually rerun when I do changes I think will affect performance).

It has numbers for the regular run (without compiled speedups), a run with
only cython and a run with cython+frame eval on the scenarios where I think
that the debugger is affected most -- the usual problem for the debugger is
deciding fast whether to not trac

[2019-08-16 16:20] Anapo14 commented on #39
Of course having an exact measure of what the user is doing would be ideal. Don and I spoke about this yesterday...for example, if they  have some kind of 'sleep' within their code (as just an example), that could muddy the waters, but from a reporting standpoint, as long as we are averaging what is happening across all users I think we should be fine. @DonJayamanne mentioned that this was done in

[2019-08-16 19:51] karthiknadig commented on #1692
full error:
[code]

[2019-08-16 20:18] karthiknadig opened #1695 "Handle ide, debug server, and no-debug disconnect"

[2019-08-16 20:30] int19h commented on #1695
At this point, we have three ways the debug session can end, with some further variations below:

1. IDE ends it:
    - by sending "disconnect" or "terminate";
    - by closing the message channel.
1. Debug server ends it:
    - by reporting "exited";
    - by closing the message channel.
1. Debuggee process ends it, by exiting.

Some of these are not entirely independent. For example, in the case

[2019-08-16 23:55] int19h opened #1697 "Adapter doesn't handle "env" properly in "internalConsole" mode on Python 2.7"
It must ensure that all strings are converted to `bytes` on 2.7 before passing them to `Popen()`, but it doesn't do that - so if "env" is non-empty, things break.

[2019-08-17 07:54] Rainningme commented on #982
same here.

[2019-08-17 12:26] andlo commented on #1682
It helped and I got it working. But then ran into other issues.
When the mainthread module is reloading and then the old threds (prosesses) arent stoped or killed leaving me with more and more prosesses and stil unavable to atatch to the debugger :(

In my setup the right way is to attatch to a pid I think. But try more, but I am not that good at this stuff but am learning every day :)

[2019-08-18 01:12] karthiknadig commented on #1631
Will be resolved in the extension project via  https://github.com/microsoft/vscode-python/pull/6858

[2019-08-18 01:12] #1631 closed

[2019-08-18 01:13] karthiknadig commented on #1452
Done in `dbg_adapter_refactor` branch.

[2019-08-18 01:13] #1452 closed

[2019-08-18 01:14] #1659 closed

[2019-08-18 01:15] #1697 closed

[2019-08-18 01:24] karthiknadig commented on #801
Done in `dbg_adapter_refactor` branch. Alpha version is available on pypi. Closing this, since we are currently tracking individual issues that occur with switching to python debug adapter.

[2019-08-18 01:24] #801 closed

[2019-08-18 01:25] karthiknadig commented on #800
Done in `dbg_adapter_refactor` branch. Alpha version is available on pypi. Closing this, since we are currently tracking individual issues that occur with switching to python debug adapter.

[2019-08-18 01:25] #800 closed

[2019-08-18 01:27] karthiknadig commented on #298
Running via ptvsd.debug is deprecated.

[2019-08-18 01:27] #298 closed

[2019-08-18 01:32] karthiknadig commented on #530
The out-of-proc debug adapter handles cleanly shutting down debuggee process and issues the relevant messages in case the debuggee is killed by user.

[2019-08-18 01:32] #530 closed

[2019-08-18 01:42] karthiknadig commented on #629
In the `dbg_adapter_refactor` branch `ptvsd` no longer registers signal handlers. `pydevd` uses signal handlers for PyQT support, but it has always done that. Closing this since this particular issue was specific to ptvsd singnal handlers.

[2019-08-18 01:42] #629 closed

[2019-08-18 01:44] karthiknadig commented on #436
We no longer register this signal in `ptvsd`, fixed in branch `dbg_adapter_refactor`.

[2019-08-18 01:44] #436 closed

[2019-08-18 03:23] #1664 closed

[2019-08-18 03:23] #1692 closed

[2019-08-18 03:24] #1693 closed

[2019-08-18 03:38] int19h opened #1699 "pydevd produces partial message writes"
(in dbg_adapter_refactor branch)

This is how it looks in the test:
[code]
Note that the first three log entries are done by the test, while the last one is from the adapter. They all correspond to `print("end")` in the test (`test_run`), immediately before the test code exits.

So, it looks like the server was writing the "exited" event, but dropped the connection before it was actually fully tra

[2019-08-18 03:41] int19h commented on #1699
Side note: this is not necessarily a regression from past behavior. The code that used to read messages in `JsonIOStream` previously just treated this as a normal EOF condition on the stream - so it might have been occurring all along, and we just never noticed it. I added detection of this kind of stuff as part of messaging refactoring, so now a partial message read is a hard error.

[2019-08-18 03:55] int19h commented on #1699
@karthiknadig pointed out that this is unavoidable in general if the server crashes or is force-killed, because that can still happen mid-write. So the adapter has to allow it. I'm going to switch this log it as warning, but otherwise treat it as EOF on the stream.

However, we should see if it's possible to avoid torn message writes in normal conditions - i.e. if it shows up in the log on the ada

[2019-08-18 15:47] ameerabsalam commented on #1433
Indeed, that fixed the problem!
Do we know why you cannot enable DEBUG when debugging in vscode?

[2019-08-18 17:57] karthiknadig commented on #1433
This is likely because `sanic` is using `os.fork` to start subprocess in debug. Currently you have to manually enable subprocess debugging using `"subProcess": true`, and follow these steps to correctly enable subprocess debugging (https://github.com/microsoft/ptvsd/blob/master/TROUBLESHOOTING.md#1-multiprocessing-on-linuxmac). We are working on supporting the `os.fork` cases, and that should allo

[2019-08-18 20:19] ColdGrub1384 commented on #1410
Same thing for me on iOS. I don't know if it's an OpenCV issue or something else.

[2019-08-19 16:48] ygbr commented on #1691
Hi @karthiknadig just as a side note on this, even if you stop the debugging or kill the debug process running the cherrypy server using standard OS signals (CTRL+C), it seems that it is leaving zombie Python processes running due to this issue.

[2019-08-19 16:52] ygbr commented on #1691
@fabioz do you want me to open an issue on CherryPy GH as well so we can track this together?

Maybe @jaraco or @webknjaz could help bring some light to this ;)

[2019-08-19 17:40] webknjaz commented on #1691
I can't reproduce this.

[2019-08-19 17:45] fabioz commented on #1691
I already have a fix for the waiting part (I'm finishing the test case) -- what I did is change the pydevd thread to stop itself if someone tries to join() it (which is what CherryPy is doing).

Now, this doesn't fix all the problems... there are some more things to consider:

1. `os.execv` creates a new process and replaces the existing process with a new process, so, this means that you need to

[2019-08-19 18:08] fabioz commented on #1683
@LucasBois1 that version of the extension seems outdated and this should be fixed in the latest release... Please ask the maintainers of your extension (geecode) to update it.

[2019-08-19 18:08] #1683 closed

[2019-08-19 21:38] #1686 closed

[2019-08-19 21:41] karthiknadig opened #1703 "Refactor branch: design changes to support os.fork"

[2019-08-19 21:46] karthiknadig commented on #1687
We decided we want to take a common approach for os.spawn and os.fork sub-processes. we will update here when we have settled on a design.

[2019-08-20 09:54] Lynaj opened #1704 "Docker / ptvsd / Django: Failed to attach (connect ECONNREFUSED )"
I am trying to implement a debugging plugin ptvsd into my existing dockerized application

Running on Google Compute Engine with Ubuntu 18.04. The entire application is containerized with Docker-Compose. Back-end Plugin: Django

manage.py:

[code]

Launch.json

[code]

docker-compose.yml
[code]

Whenever i a do build and run the docker-composer, it starts without any problems, but later on, when I

[2019-08-20 09:59] Lynaj opened #1705 "Docker / ptvsd / Django: Failed to attach (connect ECONNREFUSED )"
I am trying to implement a debugging plugin ptvsd into my existing dockerized application

Running on Google Compute Engine with Ubuntu 18.04. The entire application is containerized with Docker-Compose. Back-end Plugin: Django

manage.py:

[code]

Launch.json

[code]

docker-compose.yml
[code]

Whenever i a do build and run the docker-composer, it starts without any problems, but later on, when I

[2019-08-20 17:36] karthiknadig commented on #1704
Minor correction to your launch json:
[code]
Can you capture the logs for this? you can do that by setting this environment variable:
`PTVSD_LOG_DIR=/usr/src`

[2019-08-20 17:36] karthiknadig commented on #1705
Looks like this is the same as #1704. See comment there https://github.com/microsoft/ptvsd/issues/1704#issuecomment-523118300

[2019-08-20 17:36] #1705 closed

[2019-08-20 17:42] #1691 closed

[2019-08-20 17:51] karthiknadig commented on #1630
Looks like this issue is addressed. The fix should be available in the insiders build soon https://github.com/microsoft/vscode/issues/78299

[2019-08-20 17:52] #1630 closed

[2019-08-20 17:59] karthiknadig commented on #1622
Those warnings are Pandas specific.

[2019-08-20 18:13] karthiknadig commented on #1564
This is now supported.
![jump_to_cursor](https://user-images.githubusercontent.com/3840081/63372657-6b2b5700-c33b-11e9-8732-c2e63e94565c.gif)

[2019-08-20 18:13] #1564 closed

[2019-08-20 18:20] karthiknadig commented on #572
This was fixed a while ago. We will continue to support this going forward with the Out-of-proc debug adapter.
[code]

[2019-08-20 18:20] #572 closed

[2019-08-20 18:22] karthiknadig commented on #572
Additionally you can also do this:
[code]
That will print the output of `getsockname`:
[code]

[2019-08-20 18:25] karthiknadig commented on #803
This is addressed in `dbg_adapter_refactor` branch. We don't send output events unless the adapter state has switched to `running` or `running_nodebug` after initial handshake.

[2019-08-20 18:25] #803 closed

[2019-08-20 18:28] karthiknadig commented on #1167
Closing this since we have another item tracking this work https://github.com/microsoft/ptvsd/issues/1624

[2019-08-20 18:28] #1167 closed

[2019-08-20 18:34] karthiknadig commented on #1633
Dupe of #1640

[2019-08-20 18:34] #1633 closed

[2019-08-20 18:36] karthiknadig commented on #1399
This is addressed in the `dbg_adapter_refactor` branch.

[2019-08-20 18:36] #1399 closed

[2019-08-20 18:42] karthiknadig commented on #1321
We have a don't-trace list. However, that list requires the files to have unique names to avoid conflict with user files. So prefixed files like `ptvsd_launcher.py` are good for that list. This is intentional to provide fast filtering while tracing. We don't want to use glob patterns here.

For all other cases you have to use `rules`. Rules support glob patterns and can be used to exclude entire d

[2019-08-20 18:42] #1321 closed

[2019-08-20 18:50] karthiknadig commented on #1470
@yang200050 This code path has changed since then. If this continue to be a issue please reopen.

[2019-08-20 18:50] #1470 closed

[2019-08-20 20:28] karthiknadig commented on #1703
Extension version with support for debug adapter.
[ms-python-insiders.zip](https://github.com/microsoft/ptvsd/files/3522452/ms-python-insiders.zip)

[2019-08-21 19:03] int19h commented on #1703
Initial research and design is complete, and we are going with the Right Thing approach over the minfix. This requires some pydevd changes, and also changes to the adapter to handle multiple debug servers, and allow multiple connections from the IDE. I'll create separate work items for these.

[2019-08-21 19:03] #1703 closed

[2019-08-21 19:08] int19h opened #1706 "Multiprocessing via debug adapter"
The conclusion of the investigation in #1703 is that to deliver the best, most reliable implementation of multiprocessing, we need to switch from the existing design in which the debug server in the root process manages the child processes, to the design in which the debug adapter manages all processes.

In the new design, there is always a single adapter in a multiproc debug session. Debug server

[2019-08-21 19:20] int19h opened #1707 "pydevd: explicit host/port for subprocesses to connect to"
When pydevd detects a child process spawn and detours it, the child process currently connects to the same socket to which the parent process was connected.

To support #1706 in `enable_attach()` scenarios, the child process needs to be able to connect to a host/port that is explicitly specified, and not assumed to be the same.

The parent process will receive this information via a new property i

[2019-08-21 19:33] int19h opened #1708 "pydevd: reconnect listener"
It should be possible to start pydevd in the mode whereby it opens a listener socket for incoming DAP connections, regardless of the direction of the first connection that it establishes to the client (i.e. even if it's pydevd -> client, and not client -> pydevd). That listener socket should refuse connections for as long as there is one already active, but should accept new connections otherwise.

[2019-08-21 19:52] int19h opened #1710 "pydevd: token for incoming connections"
Starting pydevd in server mode has security implications - any process that can connect to the opened port can then execute arbitrary code inside the process that hosts pydevd. In scenarios like #1706, this becomes a potential local escalation of privilege exploit.

The same thing goes for the debug adapter operating in server mode (accepting incoming DAP connections from debug servers, as in #170

[2019-08-22 01:19] int19h opened #1711 "adapter: access tokens"
Adapter should implement the counterpart to #1710 in pydevd. This includes:

1. A command line argument that allows to specify the server access token (used by `ptvsd` in `enable_attach()` mode).
1. Generation of a cryptographically secure client access token.
1. Passing the server token to pydevd in the "initialize" request when connecting.
1. Verifying that the client token returned by pydevd in

[2019-08-22 01:21] int19h opened #1712 "ptvsd: enable_attach() should spawn adapter"
In attach scenarios, `ptvsd.enable_attach()` is executed directly inside user code inside the process to be debugged, but there's no adapter at that point. Thus, the debug server needs to spawn the adapter in this case, and establish a communication channel with it.

[2019-08-22 01:33] int19h commented on #1712
In this model, when user calls `ptvsd.enable_attach((host, port))` in their code, what actually happens is:

1. ptvsd generates a cryptographically secure server access token (#1710).
1. ptvsd tells pydevd to open a DAP debug server socket on 127.0.0.1:0 using said token, and gets the actual port number for that.
1. ptvsd spawns adapter with a command line that tells it to connect to the debug ser

[2019-08-22 01:34] int19h commented on #1712
Note: this is not needed for `ptvsd.attach()`, because the adapter must already be running in that scenario. However, `ptvsd.attach()` will need to get a new argument to pass the _client_ access token through to `pydevd.settrace()`; and we'll need a corresponding CLI argument in `ptvsd.main`.

[2019-08-22 01:35] int19h commented on #1632
I think we can consider this completed at this point?

[2019-08-22 01:49] int19h opened #1713 "adapter: multiple concurrent sessions"
The adapter process currently has a 1:1 mapping to DAP process, and the associated debug session. For #1706, we need to change this to 1:N.

DAP requires a separate connection for every process / debug session, so we will still have separate communication channels for each one. And for every connection from the IDE to the adapter, there's a corresponding connection from the adapter to the debug se

[2019-08-22 01:52] int19h commented on #1713
## Connections between the adapter and the IDE

Since stdin/stdout can only be used for one channel at a time, all the extra channels will have to be socket channels, utilizing client access tokens (#1711) for security. The stdio channel is not really necessary at that point, and we could do everything over sockets - but we already have it implemented, and DAP clients other than VS and VSCode migh

[2019-08-22 02:02] int19h commented on #1708
It would also be nice to always include "processId" as a property in "initialize", even in non-multiproc scenarios. This will make it a little bit easier to handle this all uniformly in the adapter.

[2019-08-22 02:03] int19h commented on #1713
## Connections between the adapter and the debug server (ptvsd/pydevd)

All of these connections are over sockets - the only difference is that instead of having zero or one connection, we need to support zero or more connections.

As before, the direction of the connection can be either adapter->server or server->adapter. However, different connections can have different directions. Furthermore,

[2019-08-22 02:11] int19h commented on #1713
## Debug sessions

Every channel between the adapter and the IDE has a corresponding channel between the adapter and the debug server - the mapping is N:1:N. Every pair of channels defines a logical debug session, seen as a separate debugged process from within the IDE.

This means that some things that are currently treated as singletons in the adapter will now have multiple instances, one for ea

[2019-08-22 10:39] fabioz commented on #1712
@int19h pydevd should never start running user code before a `configurationDone` (if it does that it's a bug -- this could only happen in the previous design because `ptvsd` unblocked pydevd by using internal APIs, but with the new approach this should not be an issue).

[2019-08-22 13:39] fabioz commented on #1708
Note: on hold (waiting for e-mail feedback).

[2019-08-22 13:39] fabioz commented on #1707
Note: on hold (waiting for e-mail feedback).

[2019-08-22 13:45] fabioz commented on #1710
@int19h I was thinking a bit about this... instead of having a `serverAccessToken` and a `clientAccessToken` isn't a single `accessToken` (which would be used for both) enough?

[2019-08-22 17:25] Anapo14 opened #1714 "Automatically Generate launch.json based on File/Project"
From user feedback: " The biggest pain is getting the debug environments set up, if there was a smart way to speed that up/automate it so I could just jump in and debug the current file automatically, that'd be neat."

I think this would also be an awesome feature that we could get to work for even the most basic Python scripts first. Automatically detect the project structure/file structure and a

[2019-08-22 17:45] karthiknadig commented on #1714
This is something that the extension can address the best. By the time the debugger gets involved the launch json is already set.

[2019-08-22 17:59] karthiknadig commented on #1632
I have only done the launching the adapter part: https://github.com/karthiknadig/PTVS/commit/8b27a9e8981d7560c583292b50ca7fc507387266

There is still integration and testing that has to be done. See if anything has been missed.

[2019-08-22 18:10] karthiknadig commented on #1687
Closing this in favor of the epic we have to handle multiprocessing: https://github.com/microsoft/ptvsd/issues/1706

[2019-08-22 18:10] #1687 closed

[2019-08-22 18:11] karthiknadig commented on #1217
This change here skips the ptvsd launcher entirely: https://github.com/karthiknadig/PTVS/commit/8b27a9e8981d7560c583292b50ca7fc507387266

[2019-08-22 18:11] #1217 closed

[2019-08-22 18:12] karthiknadig commented on #1219
The change here switches most of the options to pure json settings. https://github.com/karthiknadig/PTVS/commit/8b27a9e8981d7560c583292b50ca7fc507387266 similar approach should be take to update all other settings.

[2019-08-22 18:12] #1219 closed

[2019-08-22 18:58] karthiknadig commented on #1501
The OOP debug adapter ensures that launch is sent before any breakpoints are set. Do we need this item?

[2019-08-22 19:05] karthiknadig opened #1715 "Update debugProtocol.json"
In the latest version the ID types have been changed from `number`  to `integer` and restricted to (2^31 - 1). Along with some new features.

[2019-08-22 19:05] int19h commented on #1710
The problem with shared token is that the client has to send the token first (in "initialize" request) before it can validate the one that it gets from the server (in "initialize" response). If the server is not real pydevd, but a malicious process, it would simply return the same token in response that it received in the request, making client access unsecured. And we do want to secure it, becaus

[2019-08-22 19:25] fabioz commented on #1710
Ok

[2019-08-22 19:27] fabioz opened #1716 "Support "evaluate" request without a "frameId""

[2019-08-22 19:28] #1708 closed

[2019-08-22 19:28] fabioz opened #1717 "Add "processId" in "initialize" response."

[2019-08-22 19:28] #1707 closed

[2019-08-24 22:43] int19h opened #1721 ""runInTerminal" is broken on non-Windows platforms"
(dbg_adapter_refactor branch)

On platforms other than Win32, `os.waitpid()` cannot be used to wait on a process that isn't a child process, to obtain its exit code. When the process is launched via "runInTerminal" request, it is a child process of VSCode, not a child process of the adapter. Thus, the adapter cannot track those processes, and cannot detect when they exit in nodebug scenario, since

[2019-08-24 22:45] int19h opened #1722 "Output is not captured in "noDebug" with "runInTerminal""
Output capture is done by the adapter when it spawns the process. Since "runInTerminal" has the IDE spawn the process instead, there's no way for the adapter to do output redirection.

Instead, launcher should capture the output, and send it over to the adapter.

[2019-08-24 22:45] int19h commented on #1722
Best combined with #1721 implementation-wise.

[2019-08-26 18:51] karthiknadig opened #1724 "Refactor branch: stack overflow when running tests"
[code]

[2019-08-26 19:06] #1724 closed, assigned to nobody

[2019-08-27 02:13] karthiknadig opened #1725 "Refactor branch: Attach tests fail while waiting for exited event"
This should be resolved when we start the adapter from enable attach `enable_attach`. In those cases Adapter should be able to send exited event reliably

[2019-08-27 14:01] ajay9022 commented on #975
Does this resolve for `OUTPUT` window too? If YES, then where to find the json file you are talking about?

[2019-08-28 01:02] delizin opened #1735 "Failed lookup for key [] in {} Exception in Templates Intermittently"
**Describe the bug**
I am getting intermittent exceptions thrown from my django template pages when running my project in debug mode after upgrading to VS 2019. I have disabled all "Break when Thrown" settings and these messages are still popping up.

It is completely unpredictable when they are going to happen, but they occur very regularly when opening a template. If I stop debugging and relaunc

[2019-08-28 08:34] bersbersbers opened #1728 "Debug Console does not show output from the c/c++ streams"
## Environment data

- PTVSD version: ??? (VS Code Python extension 2019.8.30787)
- OS and version: Win 10
- Python version (& distribution if applicable, e.g. Anaconda): pure Python 3.7.4
- Using VS Code or Visual Studio: VS Code 1.38.0-insider

## Actual behavior

Debug Console shows

[code]

## Expected  behavior

Debug Console should show

[code]

## Steps to reproduce:
Run this code (`Bug.py`

[2019-08-28 19:42] skamansam opened #1730 "Debugger crashes when dealing with unhandled exception in pypy"
## Environment data

- VS Code version:  1.38.0-insider (Commit: 8cd00a7935eabef4aad0b0130b1d46daca0a47aa)
- Extension version (available under the Extensions sidebar):  2019.9.32808-dev
- OS and version: Linux x64 5.1.5-300.fc30.x86_64 (Fedora 30)
- Python version (& distribution if applicable, e.g. Anaconda): pypy3.6-7.1.1
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...

[2019-08-29 09:47] bersbersbers commented on #1728
Here's just one more example:
[code]

It's not just unimportant information about, it's also actual `K.print_tensor()` calls that get lost.

[2019-08-29 17:24] gramster commented on #1730
I noticed that we check if the tb_next attribute exists in about half the cases but not in others. So at the very least we could be handling this more gracefully.

[2019-08-29 17:44] fabioz commented on #1730
I'll take a look at this.

[2019-08-29 20:46] karthiknadig commented on #1662
Tests now use the new adapter. There are test failures due to some changes in how we generate events like the process event and output events. Those should be addressed separately.

[2019-08-29 20:46] #1662 closed

[2019-08-29 20:48] karthiknadig opened #1732 "Refactor Branch: Tests the depend on output event fail"

[2019-08-30 11:01] fabioz opened #1733 "Query the results of an evaluate with no frameId with a variables request."
See: discussion: https://github.com/microsoft/ptvsd/pull/1729#discussion_r318733292

[2019-08-30 11:04] #1723 closed

[2019-08-30 11:15] fabioz commented on #1730
Just to note, I took a look and the issue only happens in pypy not in CPython, so, I'm changing the title to reflect that.

[2019-08-30 11:33] fabioz commented on #1716
Done in the refactor branch.

[2019-08-30 11:33] #1716 closed

[2019-08-30 15:00] ygbr opened #1734 "Error launching 5.0.0a3 debugger"
## Environment data

- PTVSD version: 5.0.0a3
- OS and version: macOS 10.14.6
- Python version (& distribution if applicable, e.g. Anaconda): Python 3.7.4 (brew)
- Using VS Code or Visual Studio: 1.38.0-insider

## Actual behavior

When launching the pre-release version of ptvsd debugger from VSCode Insiders I get the following error:

[code]

## Expected  behavior

Debugger should launch normally

[2019-08-30 17:20] karthiknadig commented on #1734
@ygbr the python extension does not support the pre-release version yet (they are working on it). The  5.0.0.a3 is `alpha` and it is limited in functionality. We recommend using 4.* until the `beta` for ptvsd 5 is released.

[2019-08-30 17:20] #1734 closed

[2019-08-30 17:53] karthiknadig commented on #1735
@delizin Add following environment variables to your project:
[code]
Ensure that **C:\logs** directory exists. Note that this will generate several `ptvsd-<pid>.log` files. When the issue occurs, stop debugging and share the latest `ptvsd-<pid>.log` and `pydevd.log` files. Remove any personal information from the log files.

[2019-08-30 18:23] karthiknadig opened #1736 "Telemetry event should include console type"

[2019-08-30 18:32] karthiknadig opened #1737 "Refactor branch: Restore attach to pid tests"

[2019-08-30 18:33] #1663 closed

[2019-08-30 18:38] delizin commented on #1735
Here are the requested logs:
[pydevd.log](https://github.com/microsoft/ptvsd/files/3561096/pydevd.log)
[ptvsd-259640.log](https://github.com/microsoft/ptvsd/files/3561097/ptvsd-259640.log)

Just to add to this report a little bit: The exception seems to occur when the requested variable in a django template does not exist, however it does not always fire the false exception. Using variables that m

[2019-08-30 18:52] karthiknadig commented on #1735
@fabioz Looks like the debugger is not respecting the exceptionOptions.
[code]
It seems to treat `VariableDoesNotExist` as on raised (`always`), when it should be `userUnhandled` (which for us is just `unhandled`):
[code]

[2019-08-30 19:25] fabioz commented on #1735
@karthiknadig this happens because django-related exceptions are "special" -- looking at the code, if the `django debug` mode is turned on (which is needed for breakpoints in templates), then we'll always handle django-related exceptions if either `handled` or `unhandled` is selected -- related code: https://github.com/microsoft/ptvsd/blob/master/src/ptvsd/_vendored/pydevd/_pydevd_bundle/pydevd_pr

[2019-08-30 20:16] karthiknadig opened #1738 "refactor branch: pydevd should not close socket connection on disconnect"
The connection between debug adapter and debug server should not be closed. Disconnect should continue execution as though debugger is not attached. Upon re-attach, debug adapter will not have to re-establish the connection. This is especially handy for multi-proc re-attach.

/cc @int19h

[2019-08-30 20:23] fabioz commented on #1738
@karthiknadig I thought that `pydevd` never closed the connection on its side on a `disconnect` request (unless the program actually stopped)... so, can you give more details on what's being done exactly that's disconnecting the socket on the `pydevd` side?

[2019-08-30 20:28] karthiknadig commented on #1738
I see. If this is the case that we can close this item.

[2019-08-30 20:28] #1738 closed

[2019-08-30 20:58] int19h commented on #1738
The important part here is that the connection should recognize an "initialize" request as the start of a new debug session, _as if_ the socket connection was closed and then re-established. Will the existing code handle that?

[2019-08-30 21:31] fabioz commented on #1738
Yes, it should recognize that already.

On Friday, August 30, 2019, Pavel Minaev <notifications@github.com> wrote:

[2019-08-30 21:52] jpenna opened #1740 "enable_attach isn't establishing a connection"
## Environment data

- PTVSD version: 5.0.x
- OS and version: Ubuntu 19
- Python version (& distribution if applicable, e.g. Anaconda): 3.7.4
- Using VS Code or Visual Studio: VS Code

## Actual behavior

I run `ptvsd.enable_attach(address=('127.0.0.1', 5678))` from my code to allow the debugger to connect, but when I start the debugger there is no connection.

Just to make sure, I used `ptvsd.wai

[2019-08-30 21:57] jpenna commented on #1740
Maybe related to #1712

[2019-08-30 22:44] karthiknadig commented on #1740
@jpenna ptvsd == 5.0.0a3 is `alpha` version. The python extension currently does not support that version. I recommend waiting till the extension supports it and ptvsd is in `beta` to test it out.

If you really want to try it is what you have to do:
1. start your script
2. Run `python -m ptvsd.adapter --debug-server 8765` or `python <path-to-adapter-dir> --debug-server 8765`
3. Use this in launch

[2019-08-30 22:44] #1740 closed

[2019-08-31 05:15] jpenna commented on #1740
Thank you @karthiknadig!

I am fine with the previous version. If if it a known issue for the alpha version, that's ok. Thanks for the quick reply!

[2019-09-02 18:13] fabioz commented on #1730
I'm still investigating this issue...

The problem isn't really not having a `tb_next` (that is just masquerading the real problem which is a bug in PyPy... I created a bug report for the real cause at: https://bitbucket.org/pypy/pypy/issues/3067/error-getting-locals-for-frame-from-a).

Checking for the `tb_next` does improve the situation a bit in that the debugger won't crash at that place, but

[2019-09-02 20:59] karrtikr opened #1741 "Python debugger is extremely slow to start and run"
@li-dennis commented on [Tue Aug 20 2019](https://github.com/microsoft/vscode-python/issues/7036)

I've seen a few other issues on this topic, but it seems like they've all been closed due to inactivity and there haven't really been any proposed solutions. The most I've seen is using `pythonExperimental` instead, but that doesn't work for me either ( e.g. https://github.com/Microsoft/vscode-python

[2019-09-02 20:59] karrtikr opened #1742 "Python debugger is extremely slow to start and run"
@li-dennis commented on [Tue Aug 20 2019](https://github.com/microsoft/vscode-python/issues/7036)

I've seen a few other issues on this topic, but it seems like they've all been closed due to inactivity and there haven't really been any proposed solutions. The most I've seen is using `pythonExperimental` instead, but that doesn't work for me either ( e.g. https://github.com/Microsoft/vscode-python

[2019-09-02 21:00] #1742 closed

[2019-09-03 11:49] fabioz commented on #1741
I think that the problem here is that `ptvsd` is shipping without the accelerator dlls... @li-dennis, can you try to manually compile them locally to see if it improves things? -- I expect it to improve quite a bit.

To do that, open a shell and run the commands below (update the path to the extension locally if needed).

[code]

Then, to check if it did properly compile, run the code below (if it

[2019-09-03 12:50] fabioz opened #1743 "It's not possible to change breakpoints in pypy for frames that are being executed"
This happens because of a bug in PyPy:

https://bitbucket.org/pypy/pypy/issues/3068/error-setting-frame-tracing-from-a

We could workaround by disabling the optimization that disables tracing for frames that don't have a breakpoint (but it's not ideal).

[2019-09-03 17:30] karrtikr opened #1744 "No stack trace when exception is thrown from a generator expression (in unhandled exceptions)"
@fj128 commented on [Fri Aug 30 2019](https://github.com/microsoft/vscode-python/issues/7156)

## Environment data

- VS Code version: 1.37.1
- Extension version (available under the Extensions sidebar): 2019.8.30787
- OS and version: Windows 10
- Python version (& distribution if applicable, e.g. Anaconda): Python 3.7.4 32bit
- Type of virtual environment used (N/A | venv | virtualenv | conda | .

[2019-09-03 17:34] karrtikr opened #1745 "Variable inspector doesn't update for code run via "Debug: Evaluate""
@EdwardJB commented on [Sat Aug 31 2019](https://github.com/microsoft/vscode-python/issues/7169)

## Environment data

- VS Code version: 1.37.1
- Extension version (available under the Extensions sidebar): 2019.8.30787
- OS and version: Windows 10 1903 [remote Ubuntu 18.04 via WSL]
- Python version (& distribution if applicable, e.g. Anaconda): 3.6.8
- Type of virtual environment used (N/A | venv

[2019-09-03 17:35] karrtikr opened #1746 "Debugger doesn't allow code to clean up and hangs"
@jamesstidard commented on [Sat Aug 31 2019](https://github.com/microsoft/vscode-python/issues/7168)

#2  Environment data

- VS Code version: 1.37.1
- Extension version (available under the Extensions sidebar): 2019.8.30787
- OS and version: macOS 10.14.6
- Python version (& distribution if applicable, e.g. Anaconda): 3.7.4
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...

[2019-09-03 17:42] karthiknadig commented on #1745
This was a bug in VSCode itself https://github.com/microsoft/vscode/issues/78299 .

[2019-09-03 17:42] #1745 closed

[2019-09-03 19:42] fabioz commented on #1743
Closing as a duplicate of https://github.com/microsoft/ptvsd/issues/835 (we should workaround through the related PyPy issue to fix that and there are already tests for this scenario).

[2019-09-03 19:42] #1743 closed

[2019-09-03 19:43] fabioz commented on #1730
I'm closing this one as a duplicate of https://github.com/microsoft/ptvsd/issues/835 (we should workaround through the related PyPy issue to fix that and there are already tests for this scenario).

[2019-09-03 19:43] #1730 closed

[2019-09-03 19:43] fabioz commented on #835
I'm working in this now (all tests must be passing for PyPy to be properly supported in pydevd and that includes the other issues closed with a reference to this one).

[2019-09-03 21:49] #203 closed

[2019-09-03 21:49] #437 closed

[2019-09-03 21:50] #204 closed

[2019-09-03 21:52] gramster commented on #66
Closing; no upvotes and old.

[2019-09-03 21:52] #66 closed

[2019-09-03 21:56] gramster commented on #118
Closing; no upvotes and old. If this comes up again or is in vscode-python repo we'll come back to it.

[2019-09-03 21:57] gramster commented on #136
Already done in refactoring.

[2019-09-03 21:57] #136 closed

[2019-09-03 22:00] gramster commented on #205
We have separate issues for problems.

[2019-09-03 22:00] #205 closed

[2019-09-03 22:04] gramster commented on #210
Not planning this.

[2019-09-03 22:04] #210 closed

[2019-09-03 22:06] gramster commented on #330
No longer applicable.

[2019-09-03 22:06] #330 closed

[2019-09-03 22:07] gramster commented on #316
Low pri

[2019-09-03 22:07] #316 closed

[2019-09-03 22:07] gramster commented on #332
Not needed anymore.

[2019-09-03 22:07] #332 closed

[2019-09-03 22:10] gramster commented on #486
Low pri, with a workaround.

[2019-09-03 22:10] #486 closed

[2019-09-03 22:12] gramster commented on #489
Low pri.

[2019-09-03 22:12] #489 closed

[2019-09-03 22:19] gramster commented on #607
Fixed in new adapter.

[2019-09-03 22:19] #607 closed

[2019-09-03 22:20] gramster commented on #635
Subsumed by better unit tests.

[2019-09-03 22:20] #635 closed

[2019-09-03 22:25] gramster commented on #690
Closing due to lack of upvotes.

[2019-09-03 22:25] #690 closed

[2019-09-03 22:29] gramster commented on #691
We cover common cases and allow for path mapping so there are solutions.

[2019-09-03 22:29] #691 closed

[2019-09-03 22:44] gramster commented on #757
Old issue, no upvotes, there are workarounds. Closing.

[2019-09-03 22:44] #757 closed

[2019-09-03 22:50] gramster commented on #782
Leave it to 3rd party profiliers.

[2019-09-03 22:50] #782 closed

[2019-09-03 22:54] gramster commented on #783
This might be useful for interactive window.

However, closing for now as this is old and no upvotes.

[2019-09-03 22:54] #783 closed

[2019-09-03 22:56] gramster commented on #788
Need to support paged requests.

[2019-09-03 23:02] gramster commented on #830
This is old appengine w/Python 2; we aren't going to fix it.

[2019-09-03 23:02] #830 closed

[2019-09-03 23:07] gramster commented on #858
No longer applicable.

[2019-09-03 23:07] #858 closed

[2019-09-03 23:07] gramster commented on #868
No longer applicable.