[2018-06-29 10:30] bingkxu commented on #470
@zooba is right. I use pip installed zip file, and compare the source and installed files, all the same except for pyc files. So it can work by simply unzipping zip archive.

[2018-06-29 16:33] DonJayamanne opened #541 "Debugging Python Module fails in Python 2.7"
## Environment data

- PTVSD version: Master
- OS and version: Mac
- Python version (& distribution if applicable, e.g. Anaconda): 2.7
- Using VS Code or Visual Studio: VSC

## Actual behavior

* Debugger seems to stop at breakpoint in `__init__.py` (in Python 2.7)
* However the line is not highlighted. I.e. debugger has stopped, but we have no idea why (stack trace, etc everything is missing)

##

[2018-06-29 17:02] DonJayamanne opened #542 "Create integration/system tests for debugging of Modules"
Use code from https://github.com/Microsoft/ptvsd/pull/539
* Test output
* Test breakpoints
* Test log points
* Test conditional breakpoints
* Test run to completion

[2018-06-29 17:03] DonJayamanne opened #543 "Create integration/system tests for debugging of files with imports"
* Import a from b
* Invoke a in b
* Add a breakpoint in a
* Ensure call stack contains info about a and b

[2018-06-29 17:05] DonJayamanne opened #544 "Fix tests to check module names and paths in stack trace"
PR https://github.com/Microsoft/ptvsd/pull/539 has some code that forces the module name and paths to be `None`.
This is because the values for these change based on version of Python.
Seems like a bug, we need to identify the cause and also fix the tests.

However this requires a verification.

[2018-06-29 17:06] DonJayamanne commented on #530
@ericsnowcurrently I've created some tests for this in https://github.com/Microsoft/ptvsd/pull/539 (currently disabled and incomplete).

[2018-06-29 18:29] #333 closed

[2018-06-29 18:29] #473 closed

[2018-06-29 18:34] DonJayamanne opened #545 "ptvsd.enable_attach hangs until a debugger connects"
## Environment data

- PTVSD version: Master
- OS and version: Mac
- Python version (& distribution if applicable, e.g. Anaconda): N/A
- Using VS Code or Visual Studio:VSC

## Actual behavior

Dead lock when calling `ptvsd.enable_attach`

## Expected  behavior

Should work as it used to.

## Steps to reproduce:
* Enable debugging in python code using `ptvsd.enable_attach()`.
* Start the program
*

[2018-06-29 18:35] DonJayamanne opened #546 "Create integration tests for remote debugging"
Remote debugging using the two mechanism:
* python -m ptvsd ....
* ptvsd.enable_attach

[2018-06-29 20:17] #258 closed

[2018-06-29 20:23] DonJayamanne commented on #473
Cannot test as remote debugging is broken.

[2018-06-29 20:32] DonJayamanne commented on #303
Fixed with https://github.com/Microsoft/ptvsd/pull/539

[2018-06-29 20:32] #303 closed

[2018-06-29 20:33] DonJayamanne opened #547 "Create unit tests to ensure custom args are passed onto python file when running in non-debug mode"
https://github.com/Microsoft/ptvsd/issues/540

[2018-06-29 20:34] DonJayamanne commented on #540
@karthiknadig  I'll be creating tests for this, or you too could do the same.

[2018-06-29 20:45] karthiknadig commented on #540
I will do it when i fix the issue.

[2018-06-29 21:06] DonJayamanne opened #548 "Enable unicode tests"
Unit tests for debugging of files with unicode characters in file paths have been disabled.
The tests fail when running with code coverage (added in https://github.com/Microsoft/ptvsd/pull/514)

[2018-06-29 21:41] #421 closed

[2018-06-30 01:34] DonJayamanne opened #551 "Majority of the Tests do not run on Python 2.7 (on Travis)"
@ericsnowcurrently @karthiknadig @int19h @d3r3kk
Is there any reason we're not running tests on Python 2.7.
I would have thought this was a simple matrix and we run tests on a number of versions.

* 149 tests run on Python 2.7
* 595 tests run on Python 3.4...

* Is this deliberate? If so why?
* How do we change this?
* What's the setup on VSTS (@d3r3kk)

[2018-06-30 02:53] d3r3kk commented on #551
No idea what's going on with Travis, I never paid much attention to that.

However, in VSTS you have full coverage I believe (other than macOS only hitting 2.7 and 3.6, I can change that if you all would like me to).

595 tests for each OS + Python Version, not including Python 2.7. For Python 2.7 it appears there is a flag that is being respected, `--quick-py2`, this is probably the culprit.

![i

[2018-06-30 07:32] bingkxu commented on #470
there are some differences between pythonExperimental and python
secret localRoot remoteRoot are in python, but not in pythonExperimental. How can I add these information in pythonExperimental? Manually added it says: Property is not allowed
![ptvsd](https://user-images.githubusercontent.com/40077975/42122858-c0551df0-7c7a-11e8-9c83-aa1ac225242d.JPG)

[2018-07-02 15:09] ericsnowcurrently commented on #551
I enabled the whole test suite on 2.7 a while back but ran into some problems with travis.  I hadn't gotten back to trying again and apparently forgot to open an issue.  I'll look into it.

[2018-07-02 16:24] DonJayamanne opened #553 "Value for `module.package` in `module` event varies based on version of Python"
Currently when running unit tests on different versions of Python, the data for `module.package` in the `module` event varies based on the version of Python.

Will provide more info, once the tests have been completed.

[2018-07-02 16:54] d3r3kk commented on #551
@DonJayamanne no, VSTS runs Py2.7 and Py3.6 on macOS, and 2.6 through to 3.7 on Windows/Linux.

I know there are a bunch of tests that were failing previously, but isn't that because we test a lot more versions of Python + macOS + Windows in there?

[If you look at the VSTS build](https://ptvsd.visualstudio.com/ptvsd/ptvsd%20Team/_build/results?buildId=213&view=logs) the build is failing *even har

[2018-07-02 17:54] karthiknadig commented on #465
This stack is from the developer community link:
[code]

[2018-07-02 17:54] karthiknadig commented on #465
This issue was reported in VSC feedback survey.

[2018-07-02 18:21] #540 closed

[2018-07-02 18:22] #547 closed

[2018-07-02 18:37] fabioz commented on #72
Starting to take a look at this.

[2018-07-02 18:40] DonJayamanne opened #554 "Tests are failing on Mac"
## Environment data

- PTVSD version: Master
- OS and version: Mac
- Python version (& distribution if applicable, e.g. Anaconda): Python 3.4 and later (not tested on 2.7, tests do not run)
- Using VS Code or Visual Studio: N/A

## Actual behavior

Test fails, here's the error:
[code]

The `sourceReference` is expected to be `0`.

[2018-07-02 18:51] karthiknadig commented on #553
We use `module.__package__` field to get that value. It seems to be different in different versions of python.

[2018-07-02 19:15] DonJayamanne opened #555 "Integration tests wait for response of previous requests before sending more requests"
## Environment data

- PTVSD version: Master

## Actual behavior

The integration tests are written in such a way that we wait for responses of requests sent before sending another request.

## Expected  behavior

In a real world, this never happens. We should send messages as they arrive.

[2018-07-02 20:30] #543 closed

[2018-07-02 20:30] #555 closed

[2018-07-02 20:32] DonJayamanne opened #556 "Create files in PTVSD repo for testing purposes instead of creating them on the fly"
Currently we have code used to create files on the fly for the system/integration tests.
Suggestion is to create files in the PTVSD repo instead.
I believe this:
* Saves time in writing tests
* Reduces the amount of code in tests
* Improves readability (reduction in lines of unnecessary code).

Here's some sample code used to create files for testing:
[code]

/cc @ericsnowcurrently @karthiknadig @

[2018-07-02 20:54] DonJayamanne commented on #556
My suggestion is to create the files under `tests/resources` directory.
Create separate directories for different tests.

[2018-07-02 20:58] #553 closed

[2018-07-02 21:18] karthiknadig opened #558 "Update VSTS to use released 3.7"

[2018-07-02 21:19] d3r3kk commented on #558
Will take a look today and see if it's on there yet...

[2018-07-02 21:37] #518 closed

[2018-07-02 21:57] d3r3kk commented on #558
3.7.0b2 is the latest version of Python supported on Windows & Linux machines. (Actually, I had trouble determining the latest version on Windows!). 3.6 is the last version available on Mac as well.

We need to either wait until Python tool support is advanced on the VSTS agent, or switch to a PyEnv solution as we've done on the vscode-python extension.

[2018-07-02 22:06] DonJayamanne opened #559 "Unable to copy, evaluate and add variables to watch window"
## Environment data

- PTVSD version: Master
- OS and version: N/A
- Python version (& distribution if applicable, e.g. Anaconda): N/A
- Using VS Code or Visual Studio: VSC (https://github.com/Microsoft/vscode-python/issues/1398)

## Actual behavior

Variables in `Variables` window cannot be copied.

## Expected  behavior

Note: I have created Tests for this, we just need to enable a block of code

[2018-07-02 22:12] DonJayamanne commented on #558
@d3r3kk

Do you mean to say 3.6 is the latest on Windows, Mac and Linux?

Can we ping the team responsible for this task, or get an ETA for this.

[2018-07-02 22:20] d3r3kk commented on #558
Sorry for not being super clear...
- 3.6 is the latest on Mac.
- 3.7.0b2 is the latest on Windows and Linux.

Certainly! Who is that team? Perhaps I can reach out the the generic VSTS mailing list and ask for some dates, but I've not got an immediate contact into that team at this time.

[2018-07-02 22:30] DonJayamanne commented on #544
Closing as module names differ based on version of Python.

[2018-07-02 22:30] #544 closed

[2018-07-02 22:31] DonJayamanne commented on #542
Done

[2018-07-02 22:31] #542 closed

[2018-07-02 23:13] DonJayamanne opened #562 "Create tests to test the sort order of variables"
https://github.com/Microsoft/ptvsd/pull/560#discussion_r199642353

`
Can you ensure that the variables are sorted? We also need to ensure that sort order. Like a, b, c before _a,_b,_c before __a,__b,__c before __a__,__b__,__c__.
`

[2018-07-02 23:44] DonJayamanne opened #564 "Fix connection errors in unit tests when running on Mac"
[code]

[2018-07-03 00:48] DonJayamanne opened #567 "Number of timeout warnings in tests"
We have a number of warnings being generated for timeouts in waiting for events.

[code]

[2018-07-03 01:07] #559 closed

[2018-07-03 01:14] DonJayamanne opened #568 "Attach tests fail on Mac OS"
[code]

[2018-07-03 01:15] #564 closed

[2018-07-03 01:15] #568 closed

[2018-07-03 01:41] DonJayamanne opened #570 "Add integration test for running python code without any output"

[2018-07-03 01:42] DonJayamanne opened #571 "Add integration test for breaking into exceptions"

[2018-07-03 01:47] jamding opened #572 "ptvsd clients can't detect if enable_attach successfully binds to a port"
## Environment data

- PTVSD version: 4.1.1a9
- OS and version: RHEL7
- Python version (& distribution if applicable, e.g. Anaconda): 2.7.6
- Using VS Code or Visual Studio: VS Code

## Actual behavior

Attempting to try a range of ports to bind to:
[code]
but never enters the except block because a daemon thread constructs the server.
https://github.com/Microsoft/ptvsd/blob/v4.1.1a9/ptvsd/_remote

[2018-07-03 05:13] DonJayamanne opened #573 "Add integration tests for just my code"

[2018-07-03 15:02] DonJayamanne opened #576 "Add integration tests for source references"

[2018-07-03 20:00] DonJayamanne opened #578 "Remote debugging does not work from a remote machine"
## Environment data

- PTVSD version: Master
- OS and version: Linux (client) & Windows (remote program)
- Python version (& distribution if applicable, e.g. Anaconda): 3.6
- Using VS Code or Visual Studio: VSC

## Actual behavior

Unable to attach to a remote debugger (i.e. from remote machine).
However, this works when attaching from the same local machine

## Expected  behavior

Should work, th

[2018-07-03 20:43] karthiknadig opened #579 "Collapsible stack frames"
When using Just-my-code, frames for code in stdlib or site-packages should be collapsible.
See C# VS example:
Collapsed:
![image](https://user-images.githubusercontent.com/3840081/42243677-fa81a23e-7ec6-11e8-825a-afb38d45119f.png)

Expanded:
![image](https://user-images.githubusercontent.com/3840081/42243706-18e133f2-7ec7-11e8-9bfa-82dce47ef4a8.png)

[2018-07-03 21:05] karthiknadig commented on #579
The `includeAll` property in the stake frame format is used to determine if the stdlib frames are shown or not.

[2018-07-03 21:12] DonJayamanne opened #580 "Debugger always breaks into handled exceptions in remote debugging"
## Environment data

- PTVSD version: Master
- OS and version: N/A (but tested on Windows)
- Python version (& distribution if applicable, e.g. Anaconda): XXX
- Using VS Code or Visual Studio: VSC
- Though this is remote debugging, everything is local, both debugger and program

## Actual behavior
Debugger breaks into handled exceptions with the setting `Raised Exceptions` turned off.

## Expected

[2018-07-03 21:29] DonJayamanne opened #581 "Breakpoints not working with remote debugging with handled exceptions"
## Environment data

- PTVSD version: Master
- OS and version: N/A (but tested on Windows)
- Python version (& distribution if applicable, e.g. Anaconda): XXX
- Using VS Code or Visual Studio: VSC
- Though this is remote debugging, everything is local, both debugger and program

## Actual behavior
Debugger does not break at breakpoints when there's a handled exception.

## Expected  behavior

Debu

[2018-07-03 21:30] DonJayamanne commented on #554
Fixed.

[2018-07-03 21:30] #554 closed

[2018-07-03 22:19] DonJayamanne opened #582 "Add ability to limit number of lines in stack trace returned for exceptions"
## Environment data

- PTVSD version: Master
- OS and version: N/A
- Python version (& distribution if applicable, e.g. Anaconda): N/A
- Using VS Code or Visual Studio: VSC

## Suggestion
* VSC will pass some setting to PTVSD
* The presence of this setting tells PTVSD to limit number of lines (frames) in stack trace returned with the exception info.

https://github.com/Microsoft/vscode-python/issu

[2018-07-03 22:36] DonJayamanne commented on #530
@ericsnowcurrently
Once fixed, please enable the following test:
[code]

[2018-07-03 22:40] karthiknadig commented on #579
I’d includeAll is true, then we show all frames. Otherwise, only just-my-code frames.

[2018-07-03 23:29] DonJayamanne commented on #579
Including PTVSD frames? I think we should have a separate setting for that.
99.99% of the time users will not want to see PTVSD frames.

[2018-07-03 23:48] karthiknadig commented on #579
Agree with you. For `includeAll==true` we should show frames from user code, stdlib, and site-packages, but we should **hide** debugger frames. For `includeAll==false` we only show user frames, but show `[external code]` as a collapsed entry for the non-user code frames.

To see debugger frames we should have a separate setting. Essentially logging mode for the debugger.

[2018-07-04 02:21] #562 closed

[2018-07-04 03:41] DonJayamanne commented on #556
I'll be creating physical files in the repo (test directories) for testing purposes.
I've come across problems with a number of tests where paths are not predictable.
E.g. file is created in `/var/folders/xxx`, but ptvsd/pydevd **sometimes** returns paths prefixed with `/private`.

Yes both paths point to the same directory, but that doesn't help testing.
Also, its too messy having to implement wo

[2018-07-04 03:42] DonJayamanne opened #586 "Fix old tests to test paths of files in `source` attributes returned in stack traces"
Tests have been modified to avoid matching `source` attributes as paths can vary in Mac (path to the same file can be represented in two ways `/var/folders/xx` or `/private/var/folders/xx`

[2018-07-04 03:44] DonJayamanne opened #587 "Create integration tests to test breaking into exceptions during remote debugging"
This cannot be done due to the way paths to temporary files get resolved (see here https://github.com/Microsoft/ptvsd/issues/556#issuecomment-402354247)

[2018-07-04 03:44] DonJayamanne opened #588 "Create integration tests to test breaking into exceptions during debugging"

[2018-07-04 03:54] karthiknadig commented on #556
Agree with this.

[2018-07-04 03:54] #556 closed

[2018-07-04 08:46] xenocrates87 commented on #465
I have the same issue with a csv file consisting of 10 million lines and 15 columns. When running without debugging it completes without errors. When run in VS Code with debugging I get the same ValueError.
![debugerror](https://user-images.githubusercontent.com/885853/42266726-84b05486-7f77-11e8-8f57-064e97bfdfbc.PNG)

[2018-07-04 15:10] fabioz commented on #72
After working a bit on how to provide a message saying that all threads are suspended I got into corner cases where this cannot be reliably done because to actually pause a thread some tracing event is required, but by pausing a thread it's possible that we get into situations where this never happens and waiting for such a message would not work (i.e.: it would effectively deadlock).

I'm posting

[2018-07-04 20:12] karthiknadig commented on #72
@fabioz We will need the `suspend_policy` in `CMD_SET_BREAK` (currently it is only available if we don't use `breakpoint_id`). That along with `GET_THREAD_STACK` should be enough.

[2018-07-04 20:16] fabioz commented on #72
@karthiknadig ok, will work on that.

Although I'll only start those next Monday as I ended up chasing a deadlock today -- there's a pull request for it with the fix at: https://github.com/Microsoft/ptvsd/pull/591 -- I got reports from it when using `scapy` and attaching the remote debugger, so, it'd be interesting to merge it before another release as I think it's a pretty critical issue.

[2018-07-05 01:21] DonJayamanne opened #592 "Launching a Python module using `-m` with `ptvsd.enable_attach` in __init__ fails"
## Environment data

- PTVSD version: Master
- OS and version: Mac (may not be OS specific)
- Python version (& distribution if applicable, e.g. Anaconda): 3.6
- Using VS Code or Visual Studio:N/A

## Actual behavior

[code]

## Expected  behavior

Should not error out

## Steps to reproduce:

* Create a python module
* Add the following code in the `__init__.py`
[code]
* Start the module `python

[2018-07-05 01:57] karthiknadig commented on #592
This is not OS Specific. Occurs on Windows as well.

[2018-07-05 19:48] DonJayamanne opened #593 "Errors logged on VSTS"
[code]

The same errors are logged for Linux and Mac OS.
I'm using a Mac and cannot replicate this error.

/cc @fabioz

[2018-07-05 19:49] karthiknadig commented on #18
The pending items here are handle `on_goto` and  `on_gotoTargets`

[2018-07-05 19:53] karthiknadig commented on #465
@fabioz

[2018-07-05 21:43] DonJayamanne opened #595 "Number of errors logged on VSTS when running tests on Windows OS"
One exception:
[code]

Full log:
<section><details>
[code]
</details></section>

[2018-07-05 22:10] karthiknadig commented on #595
#589 should fix some of the path util bugs

[2018-07-05 22:49] DonJayamanne opened #597 "Retry Tests"
Over the past few days I've been fixing some issues in the tests.
One issue that I have managed to fix to a great degree is `connection timeouts`.

Here are some of the issues that have been resolved:
* Attempting to connect to socket server even before socket server has started
    * Solution - Wait for socket server to start (check if port is used)
* Attempting to start socket server when port i

[2018-07-06 16:34] DonJayamanne opened #602 "Debugger not terminating when terminal is closed"
## Environment data

- PTVSD version: Master
- OS and version: Mac
- Python version (& distribution if applicable, e.g. Anaconda): N/A
- Using VS Code or Visual Studio: VSC

## Actual behavior

Close the terminal does not end debugger session in VSC

## Expected  behavior

Debugger should terminate when closing the terminal

## Steps to reproduce:
1. Start a python program
1. Close the terminal (I

[2018-07-06 16:44] DonJayamanne opened #603 "Teminate event should not be send by PTVSD when VSC is restarting the debugger"
When restarting the debugger in VSC (using the `Restart` button), VSC sends the disconnect request with the args `restart=true`.

In such situations, PTVSD should not send the `terminate` event.
Doing so, indicates to PTVSD that debugger has completely terminated.

[2018-07-06 21:32] DonJayamanne opened #606 "Using ptvsd.enable_attach should not block"
## Environment data

- PTVSD version: Master
- OS and version: N/A
- Python version (& distribution if applicable, e.g. Anaconda): N/A
- Using VS Code or Visual Studio:N/A

## Actual behavior

Statement `ptvsd.enable_attach()` is now blocking.

## Expected  behavior

It should not block.

## Steps to reproduce:
1. Python code:
[code]

Currently code is blocking until a debugger attaches.
Broken in

[2018-07-06 21:35] DonJayamanne commented on #606
Duplicate of #545

[2018-07-06 21:35] #606 closed

[2018-07-06 21:36] DonJayamanne commented on #530
@ericsnowcurrently Please do not look into this next week.
We have decided to implement a work around in VSC for now, please look at other [P0 issues](https://github.com/Microsoft/ptvsd/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3Apriority%3AP0).

/cc @MikhailArkhipov @karthiknadig

[2018-07-06 22:43] DonJayamanne opened #607 "Stopping debugger in VSC does not terminate python program"
## Environment data

- PTVSD version: Master
- OS and version: N/A
- Python version (& distribution if applicable, e.g. Anaconda): N/A
- Using VS Code or Visual Studio:VSC

## Actual behavior

Stopping debugger does not stop python program
(currently there's a dead lock in PTVSD, see #530)

## Expected  behavior

Python program should terminate

## Steps to reproduce:
* This will have to be tested

[2018-07-06 23:00] DonJayamanne opened #609 "Debugger should not break into handled exceptions with remote debugging"
## Environment data

- PTVSD version: Master
- OS and version: N/A
- Python version (& distribution if applicable, e.g. Anaconda): N/A
- Using VS Code or Visual Studio:VSC

## Actual behavior

Debugger breaks into handled exceptions

## Expected  behavior

Handled exceptions should be ignored

## Steps to reproduce:
1. Start program for remote debugging
[code]
2. Ensure `Breakpoint` settings in VS

[2018-07-06 23:16] DonJayamanne commented on #536
Closing, as I'm unable to replicate this.

[2018-07-06 23:16] #536 closed

[2018-07-06 23:20] DonJayamanne commented on #541
No longer reproducible.

[2018-07-06 23:20] #541 closed

[2018-07-07 03:12] karthiknadig opened #610 "Source references not working"
## Environment data

- PTVSD version: master
- OS and version: windows to windows
- Python version (& distribution if applicable, e.g. Anaconda): 3.7
- Using VS Code or Visual Studio: VSC

## Actual behavior

Pausing while using remote only file (no path mapping) will bring up:
![image](https://user-images.githubusercontent.com/3840081/42406222-d3f69c9e-8157-11e8-97b1-844c82ea57e8.png)

## Expecte

[2018-07-07 03:15] DonJayamanne commented on #610
@karthiknadig
This is the PR i was referring to https://github.com/Microsoft/ptvsd/pull/533
See comment here https://github.com/Microsoft/ptvsd/issues/473#issuecomment-401464260

[2018-07-07 04:35] DonJayamanne opened #614 "VSTS CI Mac Tests hangs"
The following test hangs:
test_exception_breakpoints (tests.highlevel.test_live_pydevd.BreakpointTests) ...

For some reason the tests running on Mac hang (randomly) at the same place, even though the test is disabled:

[code]

https://ptvsd.visualstudio.com/ptvsd/ptvsd%20Team/_build/results?buildId=337&view=logs

## Notes:
* The test has been disabled, yet it hangs just when attempting to run tha

[2018-07-07 06:16] DonJayamanne opened #615 "Change warnings in Tests into errors"
Currently we have a number of warnings being logged in CI tests.
I doubt anyone is looking at these, and they seem to be clear indications of bugs.

We shouldn't have any warnings in tests, if there's something wrong, it must be treated as an error, else they will always get ignored as is the case currently. I've managed to resolve the timeouts in system tests, we should be able to do the same her

[2018-07-09 07:15] DonJayamanne opened #617 "Incorrect arguments passed into Python module (debugging using 'python -m <module>')"
## Environment data

- PTVSD version: Master
- OS and version: N/A
- Python version (& distribution if applicable, e.g. Anaconda): N/A
- Using VS Code or Visual Studio:N/A

## Actual behavior

Arguments passed into module is incorrect

## Steps to reproduce:
1. Create python module, e.g. name 'xyz'
2. Execute python module from cmd line with args `arg1`, `arg2`, `arg3`
Print `sys.argv` passed into

[2018-07-09 07:40] DonJayamanne opened #618 "stdout output not displayed in terminal"
## Environment data

- PTVSD version: Master
- OS and version: Mac OS (but could be on other OS)
- Python version (& distribution if applicable, e.g. Anaconda): N/A
- Using VS Code or Visual Studio:N/A

## Actual behavior

Data written into `stdout` not displayed in Terminal

## Expected  behavior

Output should be displayed before program exits

## Steps to reproduce:
1. Python program:
[code]
2.

[2018-07-09 13:15] fabioz commented on #465
I'm investigating this and I the only way I could reproduce it is by stepping into the function with error, although the reports show that it can happen at other times too.

Given that it's random, this seems to happen when sys._current_frames() is being called, which may temporarily raise a reference to the frame in another thread (it's used on some times in the debugger) and by doing so, apparen

[2018-07-09 15:02] ericsnowcurrently commented on #530
FYI, #475 is related.

[2018-07-09 15:06] ericsnowcurrently commented on #545
FYI, PR #475 (& friends) is probably related.

[2018-07-09 15:57] ericsnowcurrently commented on #545
FYI, #475 is not related after all.

[2018-07-09 16:34] fabioz opened #620 "Mix of unicode and str in filename conversion."
Will submit a fix shortly.

[2018-07-09 17:55] karthiknadig opened #622 "Exceptions missed when using asyncio"
Feedback from ptvsd survey:

[2018-07-09 18:04] #592 closed

[2018-07-09 18:17] karthiknadig commented on #545
Is the resolved by #619? If so please close this.

[2018-07-09 18:33] DonJayamanne opened #623 "Remote debugging crashes program when output is redirected"
## Environment data

- PTVSD version: Master
- OS and version: Client - Mac, Remote - Windows
- Python version (& distribution if applicable, e.g. Anaconda): 3.6
- Using VS Code or Visual Studio:VSC

## Actual behavior

User program crashes and terminates.

## Steps to reproduce:
1. On widows start the following program:
[code]
2. On a Mac, attach to the above remote debug session from VSC
3. Once

[2018-07-09 18:39] DonJayamanne commented on #610
@karthiknadig
As suspected, #533 broke this. In hindsight we shouldn't have merged the PR without testing this.

[2018-07-09 18:49] karthiknadig commented on #623
I tried this several times from Windows (VSC) to Linux (remote), Did not repro.

[2018-07-09 19:33] DonJayamanne commented on #610
@ericsnowcurrently @karthiknadig
There are a number of problems that are contributing to this issue.
I'll address the first item.

* `WINDOWS_CLIENT` is being set incorrectly
In `wrapper.py` we initialize a `debugOption` named `WINDOWS_CLIENT`.
Based on the original code, the default value of `WINDOWS_CLIENT` was `False`. The existence of the item `WindowsClient` would turn on the value for `WINDO

[2018-07-09 19:49] karthiknadig commented on #623
Tried this the other way around Linux (VSC) to Windows (remote), Did not repro.

[2018-07-09 19:56] fabioz commented on #610
One thing from a quick look at the code is that CMD_LOAD_SOURCE was fixed on `pydevd` to convert the path to the server properly, but inside `ptvsd.wrapper.VSCodeMessageProcessor.on_source` it already used the private API to do a translation -- although it's probably not the culprit here it's an inconsistency added after #533 was merged.

[2018-07-09 20:28] karthiknadig commented on #580
Does not repro on Windows and Linux.

[2018-07-09 20:38] DonJayamanne commented on #610
@fabioz	I can see that #533 addresses a few issues we had in the past.
I think I've figured out what's going on, two fold, a bug at our end and we need to account for upstream pydevd changes (#533).

[2018-07-09 20:54] fabioz commented on #610
@DonJayamanne great, if you want me to take a look at something on my end, please let me know...

Right now I'm taking a look at #72, but I guess it's not that critical for a release and will still need more work on ptvsd to make it work, so, if you want to assign me some bug to take a look (even if it's on ptvsd and not pydevd), please let me know (as a note, it's actually already EOD for me toda

[2018-07-09 20:57] karthiknadig commented on #581
Does not repro on Windows or Linux.

[2018-07-09 21:00] karthiknadig commented on #610
Note path mapping also has an issue:
This works:
[code]

But this does not:
[code]
This is the error i see:
![image](https://user-images.githubusercontent.com/3840081/42475757-725d8a62-8380-11e8-803a-8e6ed26bd0f6.png)

[2018-07-09 23:18] ericsnowcurrently commented on #545
PR #619 is actually unrelated.

[2018-07-10 01:21] DonJayamanne commented on #581
Please confirm that you can replicate it on Windows

[2018-07-10 01:28] DonJayamanne commented on #530
I found the cause and a managed to hack a work around, we can discuss once we have resolved other issues

[2018-07-10 19:57] DonJayamanne opened #629 "Presence of signal handlers in user code interfers with debugger"
## Lets not work on this for now.
To be done after all P* issues are resolved.

In python we can only have one handler for a signal.
Currently we have signal handlers getting registered in PTVSD.

If the user code has a signal handler, then that will overwrite the signal handler in PTVSD.

This causes all sorts of other issues with graceful termination of the debugger.

[2018-07-10 20:04] karthiknadig commented on #580
@fabioz Looks like we call  into `trace_unhandled_exceptions` for handled exceptions. This is only occurring when script is launched like `python3 one.py`, but not when it is lauched as a module `python3 -m one`
[code]
Can you take a look at this?

[2018-07-10 20:35] fabioz commented on #580
Ok, will take a look at it.

[2018-07-10 21:28] DonJayamanne commented on #481
Assigned to me to ensure I can replicate this.

[2018-07-10 22:09] #610 closed

[2018-07-10 22:34] DonJayamanne opened #630 "Failing test on Windows Agent on VSTS"
/cc @karthiknadig

<img width="784" alt="screen shot 2018-07-10 at 3 33 39 pm" src="https://user-images.githubusercontent.com/1948812/42541300-a9629a30-8456-11e8-8a50-81f93f99f915.png">

[2018-07-10 22:35] karthiknadig commented on #622
Tried a few asincio based examples. `ptvsd` did not miss any exceptions. Re-open if with repro steps.

[2018-07-10 22:35] #622 closed

[2018-07-10 22:35] DonJayamanne opened #631 "Failing test on Mac Agent on VSTS"
These are random failures.
Related https://github.com/Microsoft/ptvsd/issues/597

<img width="594" alt="screen shot 2018-07-10 at 3 34 39 pm" src="https://user-images.githubusercontent.com/1948812/42541327-c7907cde-8456-11e8-87f8-0acc8652b5d9.png">

[2018-07-10 22:38] karthiknadig commented on #630
@DonJayamanne Any idea why the path is relative and not absolute?

[2018-07-10 22:58] DonJayamanne commented on #630
Hope you have noticed that in both cases (expected value and actual value) we're dealing with relative paths.

[2018-07-10 23:00] ericsnowcurrently commented on #545
Note that #509 is pretty closely related.

[2018-07-10 23:15] DonJayamanne commented on #481
@karthiknadig
I can replicate it on Mac and Windows, and the problem arises from the fact that i have a virtual env in my workspace folder.
* Create a virtual environment in your workspace folder.
* Start debugging

[2018-07-10 23:18] DonJayamanne commented on #623
Interestingly, I'm no longer able to replicate this issue.
Closing for now.

[2018-07-10 23:18] #623 closed

[2018-07-11 00:29] DonJayamanne commented on #545
But this wasn't the case before, we have introduced a change that is causing this. So we need to go back to what we did earlier.

[2018-07-11 00:54] DonJayamanne commented on #545
It was it? If this scenario isn't a regression then skip that test.

[2018-07-11 06:01] DonJayamanne opened #633 "Running a program to completion displays `Terminated 15` in terminal"
## Environment data

- PTVSD version: Master
- OS and version: Mac
- Python version (& distribution if applicable, e.g. Anaconda): N/A
- Using VS Code or Visual Studio:VSC

## Actual behavior

Running program to completion displays `Terminated 15` in terminal window

## Expected  behavior

This should not happen

## Steps to reproduce:
1. Just run a program to completion

## Notes:
* This is an in

[2018-07-11 06:17] DonJayamanne opened #635 "Create test plan for every release of PTVSD"
Prior to every release of PTVSD, we'll need to ensure certain tests have been run manually, and tests that cannot be automated in CI.

* Debugging and running file to completion in VSC in a **Terminal**
    * Testing issues #633 #618, #656, #657
    * Create a python file with a simple `print("Hello World")`
    * Debug in VSC without any breakpoints
    * Confirm:
    * [ ] Program runs to comple

[2018-07-11 06:22] DonJayamanne commented on #635
@karthiknadig
I'll update this with mandatory items, and we'll need to create a PRE_RELEASE_INSTRUCTIONS.md or similar file that will be part of PTVSD repo.
This way we'll never forget it, or that's the plan.
This list only contains tests that cannot be automated.

[2018-07-11 13:08] fabioz commented on #580
Ok, the problem is: for dealing with unhandled exceptions, `pydevd` will trace the topmost frames for exceptions (which is usually inside `pydevd` itself when launched from `pydevd` or some thread which started from `threading`).

Now, when the user starts without the debugger in place and does an attach, the debugger is already very late to do any monkey-patching, so, it resorts to tracing the to

[2018-07-11 13:11] fabioz commented on #593
Will take a look at this (seems to be a case where the user already had some other stub for `sys.stdout` and it didn't have a `buffer`).

[2018-07-11 16:22] DonJayamanne commented on #580
**Here's why its a regression to me (it didn't happen earlier):**
* This regression was introduced in
    * Commit: d635e22d3396f1cf3ab2fe9bc6fc9f5395b38232,
    * PR: [Fixes issues dealing with handled and unhandled exceptions (#114, #446). (#471)](https://github.com/Microsoft/ptvsd/pull/471)

**Evidence (3 separate scenarios):**
* Clear [Raised Exceptions] & [Uncaught Exceptions], nothing will h

[2018-07-11 16:30] DonJayamanne opened #638 "Local variables not shown when in async function running in trio event loop"
## Environment data

- PTVSD version: Master
- OS and version: N/A
- Python version (& distribution if applicable, e.g. Anaconda): 3.6
- Using VS Code or Visual Studio:N/A

## Actual behavior

Local variables not shown when in async function running in trio event loop

## Actual behavior

When running an async function on the Trio event loop, and when stopping on a breakpoint inside the async func

[2018-07-11 16:30] fabioz commented on #580
@DonJayamanne if you want I can still use `sys.excepthook` for the main thread (which as I mentioned is what was used before, but still, this isn't ideal and the user could break it if it reassigned it (which is actually pretty common -- i.e.: https://github.com/search?q=%22sys.excepthook+%3D%22&type=Code), so, IMHO, for most real-world code (where usually interesting code starts in a `main()` fun

[2018-07-11 16:37] ericsnowcurrently commented on #545
See also #448, #502, and #521.

[2018-07-11 16:46] DonJayamanne commented on #328
@karthiknadig is this still an issue?

[2018-07-11 17:05] ericsnowcurrently commented on #545
@fabioz, do you have any ideas on what we can do here (or what we might be doing wrong)?

Our `enable_attach()` func (`ptvsd.enable_attach()` in ptvsd/attach_server.py) calls `pydevd.settrace()`.  The first time it is called (i.e. when the debugger is initialized), `settrace()` blocks until we send `CMD_RUN` to pydevd.  `ptvsd` sends `CMD_RUN` at the end of the VSC protocol session "handshake" (se

[2018-07-11 17:08] ericsnowcurrently commented on #545
Also, when we do not pass "host" to `settrace()`, it uses a default.  In effect, even if we run pydevd as a "server", `settrace()` forces a "client" connection (by using a default "host").  We've had to work around this by setting `start_client` to our `start_server` implementation.

[2018-07-11 17:10] ericsnowcurrently commented on #509
FYI, #545 is related.

[2018-07-11 17:17] fabioz commented on #545
@ericsnowcurrently I think https://github.com/Microsoft/ptvsd/pull/628#issuecomment-404243406 answers it (if that's important, you need to issue a `CMD_RUN` before sending breakpoints and when waiting to make sure the attach worked, issue any arbitrary command -- such as a `CMD_LIST_THREADS` and wait for it to be completed -- after making sure you've sent all other needed commands related to break

[2018-07-11 17:29] ericsnowcurrently commented on #580
Let's get this rolling sooner rather than later. :)  Would you mind opening an issue on bugs.python.org?

[2018-07-11 17:30] karthiknadig commented on #328
This was affecting remote launch in a container.  I am closing this for now. Will reop if I see this again, when we get to remote launch scenario.

[2018-07-11 17:30] #328 closed

[2018-07-11 17:40] DonJayamanne commented on #580
@fabioz
Understood, lets leave this alone for the moment.
Please could you check https://github.com/Microsoft/ptvsd/issues/581 as that's related to this issue.

[2018-07-11 17:48] ericsnowcurrently commented on #545
@fabioz, thanks.  I think we have a solution that will work.

[2018-07-11 17:50] ericsnowcurrently commented on #545
FYI, part of the problem is that `ptvsd.enable_attach()` has been non-blocking since it was introduced.  So we can't change it to a blocking operation at this point.

[2018-07-11 18:02] ericsnowcurrently commented on #629
FYI, solving this will probably involve monkey-patching signal.signal with a wrapper func that preserves our signal handler, while somehow also respecting the provided one.

[2018-07-11 18:10] fabioz commented on #580
Created: https://bugs.python.org/issue34099 (actually, the arg in the 'return' already has a usage, so, it'd need to be a new event or add it to the frame itself).

[2018-07-11 18:10] fabioz commented on #580
Will take a look at it.

[2018-07-11 18:41] huguesv commented on #486
JustMyCode ON, debug stdlib OFF for both debuggers. I just retested and getting the same results as above.

`package1` is expected to be in the list when I break after the `import package1`, but it isn't.

As for all the stdlib modules, I suppose it's correct to not list them (because just my code is ON).

[2018-07-11 18:44] karthiknadig commented on #486
In the new debugger we don't look at the loaded modules in `sys.modules`. They way we report modules are by examining the stack. We need to do what the old debugger used to do here.

[2018-07-11 19:23] fabioz commented on #581
This is the same thing as #580 (that exception is considered unhandled even though it's handled because it's in the topmost frame during a remote attach), which is also probably why @karthiknadig is not being able to reproduce (it depends on whether it was started with the `-m` switch or not).

You can confirm that by putting the code inside a method:

[code]

[2018-07-11 19:38] fabioz commented on #638
I'll investigate this (pydev itself doesn't show it, so, should be `upstream-pydevd`).

[2018-07-11 19:41] DonJayamanne commented on #638
@fabioz lets leave this until we've resolved other critical issues.
I'm not too concerned about this just yet.

[2018-07-11 19:49] fabioz commented on #638
@DonJayamanne seems go to me... right now, this means I'll go back to #72 (note that it's already close to EOD for me, so, I'll probably only work on it next Monday).

Still, if #580/#581 is deemed important enough to have a fix (even if it means parsing python code or analysing bytecode), or there's some other critical I missed, please let me know.

[2018-07-11 19:57] DonJayamanne opened #642 "Using os.kill() means the atexit handler is not triggered, which means disconnect won't work right (since it is triggered via at exit)"
#538 may have resolved this issue, however we didn't have any tests to prove this.
#538 introduced two new bugs (#633, #618), and @Donjayamanne reverted it in #634

If we are to address this issue then:
* Prove there's a bug that needs to be address
* Introduce tests to validate such a change (and these tests must fail if the fix is reverted)

/cc @ericsnowcurrently @karthiknadig

[2018-07-11 19:58] #618 closed

[2018-07-11 19:58] #633 closed

[2018-07-11 20:15] DonJayamanne opened #643 "Create system tests for just my code"

[2018-07-11 20:35] #481 closed

[2018-07-11 20:35] #593 closed

[2018-07-11 20:55] DonJayamanne commented on #66
@donjayamanne to investigate whether this is an issue in VSC as well.

[2018-07-11 20:57] #442 closed

[2018-07-11 20:59] DonJayamanne commented on #546
Done

[2018-07-11 20:59] #546 closed

[2018-07-11 21:09] DonJayamanne commented on #620
Fixed

[2018-07-11 21:09] #620 closed

[2018-07-11 21:18] DonJayamanne commented on #535
Investigate whether this is still occuring

[2018-07-11 21:35] DonJayamanne commented on #535
No longer an issue

[2018-07-11 21:35] #535 closed

[2018-07-11 23:34] DonJayamanne commented on #614
Found the cause, we have a dead lock (guess this was obvious from the fact that the tests were  not running)

[2018-07-12 05:20] DonJayamanne opened #645 "Use a formatter to format code on commits"
Currently we have linters that validate the code.

Suggestion (to reduce linter errors and ensure we adhere to specific code formating guidelines):
* Have code automatically formatted upon commit ([pre-commit - python code](https://github.com/pre-commit/pre-commit)).
* Or we just format ourselves (no changes)
* Standardize on a formatter:
    * autpep8,
    * yapf or
    * black

I know @ericsnowc

[2018-07-12 16:36] DonJayamanne commented on #631
**Problem:** PTVSD takes a while to load, hence having a timeout of 1.0 is not sufficient.
**Solution:** Increase timeout in tests.

[2018-07-12 16:40] DonJayamanne commented on #614
**Here's the stack trace**
* I've modified tests to capture exceptions and print stack trace:

[code]

[2018-07-12 17:14] DonJayamanne opened #648 "Importing ptvsd is slow, and this slows down tests"
## Environment data

- PTVSD version: Master
- OS and version: N/A
- Python version (& distribution if applicable, e.g. Anaconda): N/A
- Using VS Code or Visual Studio:N/A

## Actual behavior

* Importing PTVSD is slow
* Side effects:
    * Spinning up debugger is slow
    * Tests are slow

## Expected  behavior

* Importing PTVSD should be quick

## Steps to reproduce:
1. Open terminal
2. `python

[2018-07-12 17:38] karthiknadig opened #649 "Schema check fails in VSTS but is not reported as failed"
[code]

[2018-07-12 17:43] #631 closed

[2018-07-12 23:49] #630 closed

[2018-07-13 00:21] DonJayamanne opened #653 "Debugger breaks into exception more than once"
## Environment data

- PTVSD version: Master
- OS and version: N/A
- Python version (& distribution if applicable, e.g. Anaconda): N/A
- Using VS Code or Visual Studio:VSC

## Actual behavior

Debugger breaks at exceptions more than once

## Expected  behavior

Should break on exceptions once.

## Steps to reproduce:
**Scenario 1**
1. Open VSC ensure breakpoint settings are as follows:
* [ ] Raise

[2018-07-13 00:33] DonJayamanne opened #654 "Create system tests for issue 653"
https://github.com/Microsoft/ptvsd/issues/653

[2018-07-13 16:42] #614 closed

[2018-07-13 17:05] #465 closed

[2018-07-13 17:23] #649 closed

[2018-07-13 17:48] karthiknadig commented on #314
I have not seen this being reported on v4.1.1a5 or later. Reopen if seen again.

[2018-07-13 17:48] #314 closed

[2018-07-13 17:48] DonJayamanne commented on #642
Need to identify whether this is a regression.

[2018-07-13 22:57] karthiknadig opened #656 "Error seen while running as module in python 2.7"
## Environment data

- PTVSD version: master
- OS and version: Windows
- Python version (& distribution if applicable, e.g. Anaconda): 2.7
- Using VS Code or Visual Studio: VSC

## Actual behavior

[code]

## Expected  behavior

Error should not be seen.

## Steps to reproduce:

Use the following launch configuration:

1. Create a dir `pyscratch`
2. Create a file in the above dir `mymod` with foll

[2018-07-14 20:46] DonJayamanne commented on #57
Well, I think this is still possible. PTVSD talks to pydevd using the pydev protocol (over a fake socket). So, when dealing with multi-process debugging, all we need to do is, get PTVSD to talk to pydevd over an actual socket!

Isn't that all that's required? Or am I missing something?

/cc @karthiknadig @fabioz

[2018-07-14 21:05] DonJayamanne commented on #253
FYI - I've managed to get this working, without any changes to PYDEVD. We will have to add a minor change to PTVSD. that's about it.
Based on the spec, all we need to do is expose some env variables. I.e. technically speaking we don't need to make any changes to PTVSD or PYDEVD, just create the env vars.

[2018-07-14 23:36] DonJayamanne opened #657 "Latest version of PTVSD throws errors when debugging"
## Environment data

- PTVSD version: Master
- OS and version: Mac
- Python version (& distribution if applicable, e.g. Anaconda): N/A
- Using VS Code or Visual Studio:VSC

## Actual behavior

* Errors displayed in terminal

## Expected  behavior

* Error should not be displayed

## Steps to reproduce:
1. Debug a simple `hello world` python file
2. The following error is displayed in the terminal

[2018-07-14 23:40] DonJayamanne opened #658 "New version for Tuesday 17th"
@karthiknadig can we get a new version published on PyPi for the next version of VSC.
I'd like a new version of the debugger to go with the next version of VSC Extension.
Note: The debugger will still be labeled `experimental`.

We plan on publishing a new version on Wednesday, so having a new version on Tuesday 17th would be great.

[2018-07-15 00:02] DonJayamanne commented on #503
Ok, been doing some testing with some subprocess and found this to be annoying.
The parent process dies, but the child procs do not. In the old debugger they did.

[2018-07-15 08:40] karthiknadig commented on #657
This was introduced by https://github.com/Microsoft/ptvsd/commit/e9ed23fe75b4aa596dfc8cb80361f2a07feb6c8d. Also same as #656

/cc @fabioz

[2018-07-15 08:41] karthiknadig commented on #656
Closing this one since the other one has priority and details assigned to it.

[2018-07-15 08:41] #656 closed

[2018-07-15 17:14] DonJayamanne commented on #657
So, a very simple and critical bug, managed to get through all tests!!
I guess this test would have caught this issue https://github.com/Microsoft/ptvsd/issues/570

[2018-07-16 12:54] fabioz commented on #657
Investigating/working on a fix.

[2018-07-16 13:37] johnygomez opened #659 "Debug adapter process has terminated unexpectedly"
## Environment data

- PTVSD version: 3.0.0
- OS and version: MacOS 10.13.5 (Local), Ubuntu 16.04 LTS (Remote)
- Python version (& distribution if applicable, e.g. Anaconda): 3.6.3-local, 3.6.5-remote
- Using VS Code or Visual Studio: VSCODE

## Actual behavior

Remote debugger exits with: `Debug adapter process has terminated unexpectedly`
Error trace:
[code]

## Expected  behavior

Debugger shou

[2018-07-16 14:36] DonJayamanne commented on #659
* What tutorial?

* Are you using the Experimental debugger?

* Please provide the contents of your `launch.json`

[2018-07-16 14:43] johnygomez commented on #659
https://code.visualstudio.com/docs/python/debugging#_remote-debugging

Is it on by default? I don't remember setting anything like that

[code]

[2018-07-16 15:47] DonJayamanne opened #661 "Incorrect number of threads displayed when debugging in VSC"
## Environment data

- PTVSD version: Master
- OS and version: Mac
- Python version (& distribution if applicable, e.g. Anaconda): 3.6
- Using VS Code or Visual Studio:VSC

## Actual behavior

Two threads displayed in call stack.

## Expected  behavior

Single thread to be displayed

## Steps to reproduce:
1. Debug a simple python hello world
2. Optionally add a breakpoint
3. Notice there are two

[2018-07-16 16:30] fabioz commented on #657
Just provided a pull request for this issue at: https://github.com/Microsoft/ptvsd/pull/660 (it seems that the Travis build got stuck before doing anything, so, it needs to be restarted).

[2018-07-16 17:29] karthiknadig commented on #661
No. Does not repro on Windows or Linux.

[2018-07-16 17:30] karthiknadig commented on #658
I will prepare a release after taking #660

[2018-07-16 18:14] karthiknadig opened #662 "Errors seen while running Py 3.4 tests on windows"
<details><summary>Logs</summary>
<p>

[code]

</p>
</details>

[2018-07-16 18:17] fabioz commented on #653
For the `unhandled` case, this is happening because `pydevd` is not accounting that it may be embedded with a different runner, so, it stops on the proper place at `pydevd` but then proceeds going up the stack and stops once more where `ptvsd` is calling `pydevd` and there's no back frame.

Investigating how to deal with that.

[2018-07-16 18:36] karthiknadig opened #663 "Create test for issue #661"
Test for #661

[2018-07-16 18:55] fabioz commented on #661
@DonJayamanne since you can reproduce it there, can you do print the live/threads and stack traces (in that program)?

You should be able to declare it in the module and call it in the interactive console while stopped in the breakpoint.

Code to dump threads below:

[code]

[2018-07-16 20:39] DonJayamanne commented on #661
Lol, unable to replicate now.
Will leave this open for a while.

[2018-07-16 22:44] #570 closed

[2018-07-16 22:45] karthiknadig commented on #657
Fixed via #660

[2018-07-16 22:45] #657 closed

[2018-07-17 01:03] DonJayamanne commented on #57
Here's a proof of concept, managed to get this working very easily using existing code.

![multiproc](https://user-images.githubusercontent.com/1948812/42790900-2ff6ca74-8922-11e8-9602-d770d053b2d6.gif)

[2018-07-17 01:16] DonJayamanne commented on #57
@karthiknadig
We should be able to turn existing PTVSD code into a DA, by simply using a real socket instead of a fake socket when communicating with pydevd.
I.e. very simple minor changes to turn existing PTVSD into a DA.

That's pretty much what I did to get the above working, PTVSD is a DA in this case, and PyDevD is running in the child process.

/cc @ericsnowcurrently

[2018-07-17 01:31] #661 closed

[2018-07-17 01:37] DonJayamanne commented on #66
In VSC dunder members are not displayed in the old nor new debugger.
Hence I wouldn't consider this an issue in VSC, this change would be considered an enhancement for VSC.

[2018-07-17 01:40] DonJayamanne commented on #573
Duplicate of #643

[2018-07-17 01:40] #573 closed

[2018-07-17 01:41] DonJayamanne commented on #454
Got this working, just need to add tests.
Deferred until we reach stability before introducing any new features.

[2018-07-17 06:37] #663 closed

[2018-07-17 18:07] fabioz commented on #653
Note: I've created a pull request for the case where unhandled exceptions were reported twice (https://github.com/Microsoft/ptvsd/pull/671)

Still, there's still an issue where the debugger may handle the same exception once considering that it's unhandled and another when it's considered handled (so, in the scenarios above, it should hit the exception breakpoint once in the first scenario and twi

[2018-07-17 18:11] DonJayamanne opened #672 "Revert PR #475 and find a different solution for Issue #459"
PR #475
Issue #459

[2018-07-17 18:35] fabioz commented on #57
@DonJayamanne I think this would be the ideal solution -- I thought it'd be more work given the way customizations are done, but if you got it running with few changes, even better ;)

This would probably fix a number of other issues as `pydevd` could work standalone (so, issues such as regular exiting wouldn't be issues anymore and the debug adapter could do some things better without being in th

[2018-07-17 19:20] DonJayamanne commented on #57
Agreed.

Agreed. This would be lot more efficient as well.

[2018-07-17 20:34] ericsnowcurrently commented on #545
I've merged a temporary stopgap, but it isn't a good long-term fix.  Either we need to do some really hacky stuff with sys.settrace (see https://github.com/ericsnowcurrently/ptvsd/tree/fix-545-enable-attach-deadlock), or we need to revert #521 and solve that problem in a different way that doesn't cause `enable_attach()` to block.  FWIW, the former is too fragile and I'm not convinced the latter h

[2018-07-17 20:51] DonJayamanne opened #674 "Create System Tests for Django"
* [x] Launch
* [x] Attach
* [x] Exceptions (MUST be done ** )
* [x] Breakpoints in routes
* [x] Breakpoints in templates

[2018-07-17 20:52] DonJayamanne opened #675 "Create System Tests for Flask"
* [ ] Launch
* [ ] Attach
* [ ] Exceptions (MUST be done ** )
* [ ] Breakpoints in routes
* [ ] Breakpoints in templates

[2018-07-17 21:03] karthiknadig commented on #658
Done. https://pypi.org/project/ptvsd/4.1.1a10/

[2018-07-17 21:03] #658 closed

[2018-07-18 02:21] karthiknadig opened #677 "Debug/non-debug runs sometimes fail when the port is in use"
## Environment data

- PTVSD version: master
- OS and version: Windows
- Python version (& distribution if applicable, e.g. Anaconda): any
- Using VS Code or Visual Studio: VSC

## Actual behavior
[code]

## Expected behavior

Should not fail with error

[2018-07-18 02:22] karthiknadig commented on #677
Note:  you can use `netstat -a -b -o` to find the ports in use and the corresponding process owning the port.

[2018-07-18 03:09] DonJayamanne opened #678 "Create system tests for running without debugging"

[2018-07-18 07:21] DonJayamanne commented on #678
In light of recent regressions, I'd feel far more confident with system tests.
All of the regressions we had recently were no caught by the tests, either lack of or other wise.

[2018-07-18 17:22] karthiknadig commented on #653
I agree with @fabio.
* If **only** `Raised Exceptions` is selected, it should hit once (where it was raised, and not during postmortem)
* If **only** `Uncaught Exceptions` is selected, it should hit once (only in postmortem)
* if **both**  `Raised Exceptions` and `Uncaught Exceptions` are selected, it should hit twice (where it was raised and during postmortem)

This is the behavior as seen after

[2018-07-18 17:22] #653 closed

[2018-07-18 17:31] DonJayamanne commented on #653
I disagree, this is not how it should behave. If it is, then we need to all be on the same page why this decision is being made - i.e. due to technical challenges. Else its the wrong behavior. As a user i would not want to break on the same exception twice, it makes no sense.

[2018-07-18 17:36] DonJayamanne commented on #653
Then again, that makes sense. So, I agree. Its fine. Thanks

[2018-07-18 18:38] karthiknadig opened #679 "After continuing on raised error the error-type received is always BaseException"
## Environment data

- PTVSD version: master
- OS and version: Any
- Python version (& distribution if applicable, e.g. Anaconda): Any
- Using VS Code or Visual Studio: Any

## Actual behavior

![image](https://user-images.githubusercontent.com/3840081/42900448-d2025a52-8a7d-11e8-802e-1fbcc7be1aa7.png)

## Expected  behavior

Should show ValueError

## Steps to reproduce:
[code]
Debug with followi

[2018-07-18 18:41] karthiknadig commented on #679
## Cause:
We use the `__exception__` object that pydevd adds to the top most frame to get the exceptions details. After continuing an unhandled exception, this is not available on the frame.

@fabioz would it be possible to add this to top frame on continue?

[2018-07-18 18:42] karthiknadig opened #680 "Create tests for issue 679"
#679

[2018-07-19 17:55] karthiknadig opened #683 "Tests fail with Unterminated string starting at: line 1 column 90 (char 89)"
There is no exact repro steps. While creating this bug, the issue was hit while running unhandled exception tests.

Py 3.4:
[code]

Py 3.5-3.7:
[code]

[2018-07-20 18:39] karthiknadig commented on #672
I have an alternate implementation for wait-on-exit (see here https://github.com/karthiknadig/ptvsd/commit/93ec1f99b54e073b5906691d9989ff49400b5aae). Let me know what you think.

[2018-07-20 21:32] karthiknadig opened #684 "VSTS macOS py 3.6 and Linux 3.7 beta stopped running"
### macOS Python 3.6:
[code]

### Linux Python 3.7 beta:
[code]

[2018-07-20 22:31] karthiknadig commented on #684
Looks like 3.7 is available for linux but not for windows (still uses 3.7.0-b2).

[2018-07-23 17:40] d3r3kk commented on #684
We must split the Python.VersionSpec variable up to be completely OS-specific. I attempted to share them all before, but that's not possible I see.

We can make:
`Python.VersionSpec.Windows`
`Python.VersionSpec.Linux`
`Python.VersionSpec.macOS`

And set them all accordingly.

[2018-07-23 17:51] d3r3kk commented on #684
[Queued build to see if I've got it right](https://ptvsd.visualstudio.com/ptvsd/_build/results?buildId=487&view=logs)

[2018-07-23 18:36] karthiknadig opened #685 "Stdout redirection not working when launched as module"
## Environment data

- PTVSD version: master
- OS and version: windows
- Python version (& distribution if applicable, e.g. Anaconda): 3.7
- Using VS Code or Visual Studio: VSC

## Actual behavior

`LaunchModuleExceptionLifecycleTests.test_breaking_into_unhandled_exceptions` Fails with
`AssertionError: 0 != 1`
This assertion is caused due to missing stdout event.

## Expected  behavior

Test shoul

[2018-07-23 19:06] karthiknadig opened #686 "Not breaking into raised exceptions on attach"
## Environment data

- PTVSD version: master
- OS and version: Windows
- Python version (& distribution if applicable, e.g. Anaconda): 3.7
- Using VS Code or Visual Studio: VSC

## Actual behavior

Does not break into handled exception on attach

## Expected  behavior

Should break into raised exceptions on attach

## Steps to reproduce:
1. Enable and run the following test:
`py -3.7 -m tests -v t

[2018-07-23 19:31] d3r3kk commented on #684
Ah yes, apologies. I separated the `Python.VersionSpec` out by OS, but neglected to make the parallel builds make use of the new variable names!

[Fixed, this build should be more successful.](https://ptvsd.visualstudio.com/ptvsd/_build/results?buildId=489&view=logs)

[2018-07-23 19:40] karthiknadig opened #687 "`test_setup` test fails in 3.7 with import error"
## Environment data

- PTVSD version: master
- OS and version: mac/linux
- Python version (& distribution if applicable, e.g. Anaconda): 3.7
- Using VS Code or Visual Studio:

## Test Failure
[code]

[2018-07-23 19:56] d3r3kk commented on #684
Looking good. I've corrected the test labels now as well.

[2018-07-23 19:56] #684 closed

[2018-07-23 20:23] #654 closed

[2018-07-23 20:23] #683 closed

[2018-07-23 21:51] #571 closed

[2018-07-23 21:54] karthiknadig commented on #587
Were these tests for cross plat attach or just attach? If it is just attach we have tests. Currently some of them are disabled due to bugs in attach

[2018-07-24 11:57] DonJayamanne opened #688 "Multi threaded debugging"
@karthiknadig
What's the status of multi threaded debugging.
I remember there were some issues related to multi threaded debugging.
E.g. suspending all threads, etc.

We might want to solve that before looking at multi process debugging.

[2018-07-24 17:40] karthiknadig commented on #688
Suspend policy feature was checked in yesterday. With that I think we have all of the pieces we need to do this. Some work is pending on `ptvsd` side, like, enabling the suspend-all policy, updating pause and continue commands to always suspend all threads, etc/

[2018-07-24 18:51] DonJayamanne commented on #688
Do we have an issue to track this?
If yes, then please close this issue.

[2018-07-24 19:41] karthiknadig commented on #72
Following items are pending on ptvsd side:
- [ ]  Set the flag to suspend all while setting breakpoints
- [x]  Pause should send suspend request to all threads
- [ ]  Continue should send run request to all threads
- [ ]  Use the new get stack trace pydevd command to retrieve stack for running threads

[2018-07-24 19:41] karthiknadig commented on #688
#72 tracks the works for this item.

[2018-07-24 19:41] #688 closed

[2018-07-24 19:46] DonJayamanne commented on #72
Can't we use this approach to get stack trace of suspended threads as well. Instead of using the current approach of strong some stack trace into a variable. I.e. request on demand.

[2018-07-26 00:17] karthiknadig opened #690 "Support for pdb.pm() like post-mortem debugging"

[2018-07-26 00:22] karthiknadig opened #691 "Auto-detect root if remote root is not provided"
Auto-detect root when using `pathmappings` with no remote root. `ptvsd` v3 detects root folder for path mappings.

[2018-07-26 13:44] fabioz commented on #648
As a note, `pydevd` itself needs to import things when it starts up and lazy loading is not ideal for the debugger (there are some places where lazy loading cannot happen inside the debugger and there's always the chance that the user removes the debugger from `sys.path`).

Still, what I recently did to speed up the `pydevd` test cases is using `pytest-xdist` to run tests in parallel and it gives

[2018-07-26 15:01] fabioz commented on #231
Will start to take a look at this.

The idea is creating a `CMD_STOP_ON_START` command for `pydevd` which has to be issued before the `CMD_RUN`.

[2018-07-26 15:02] JeffHanna opened #693 "When remote debugging VS Code will spawn a second read-only copy of the file in which I have set breakpoints. The debugger interacts with that file."
## Environment data

- PTVSD version: 4.1.1a10
- OS and version: 1703 (OS Build 15063.909)
- Python version (& distribution if applicable, e.g. Anaconda): Python 3.5.2 (default, Dec  1 2016, 18:54:08) [MSC v.1900 64 bit (AMD64)] on win32
- Using VS Code or Visual Studio: VS Code

## Actual behavior

When a remote debug session to a local .exe with Python script support hits a breakpoint VS Code wi

[2018-07-26 18:52] JeffHanna commented on #693
We didn't, as we run our Python tools directly out of the local P4 depot on the user's machine (this is all for an in-house developed world editor for game development). A colleague just tried putting ${workspaceFolder} in for both the localRoot and remoteRoot  entries and the problem went away.

Thanks!

[2018-07-26 18:52] #693 closed

[2018-07-26 20:14] karthiknadig opened #694 "Debugger does not break on template exceptions"
## Environment data

- PTVSD version: master
- OS and version: windows
- Python version (& distribution if applicable, e.g. Anaconda): 3.7
- Using VS Code or Visual Studio: VSC
- Packages: Django

## Actual behavior

Does not break on template exceptions when 'raised' is selected. Trace back is written to the console.

## Expected  behavior

Should break on template exceptions

## Steps to reprodu

[2018-07-26 20:15] karthiknadig opened #695 "Create test for exception thrown while rendering templates"
see #694

[2018-07-26 20:20] karthiknadig opened #696 "Flask fails to start on macOS with AttributeError('_ep_map')"
## Environment data

- PTVSD version: master
- OS and version: macOS
- Python version (& distribution if applicable, e.g. Anaconda): 3.7
- Using VS Code or Visual Studio: either

## Actual behavior

Flask server fails to start with Attribute error (see logs below).

## Expected  behavior

Should start without errors.

## Steps to reproduce:
1. Run the following test to repro:
`-m tests -v tests.sy

[2018-07-26 21:56] karthiknadig opened #697 "CMD_GET_THREAD_STACK skips the first frame for threads suspended due to uncaught exception"
## Environment data

- PTVSD version: master
- OS and version: any
- Python version (& distribution if applicable, e.g. Anaconda): any
- Using VS Code or Visual Studio: VSC

## Actual behavior

Event args for the `CMD_THREAD_SUSPEND` event from pydevd:
[code]
`CMD_GET_THREAD_STACK` for the same thread (from the event handler for suspended):
[code]

## Expected  behavior

Should be same as the susp

[2018-07-26 22:14] #675 closed

[2018-07-26 22:14] #674 closed

[2018-07-27 19:52] karthiknadig opened #698 "Create tests for wait on exit"
Only applies to launch scenario:
- [ ] Wait on normal exit
- [ ] Wait on abnormal exit

[2018-07-27 20:39] bob-white opened #699 "Experimental debugger, step into seems to just continue"
## Environment data

- PTVSD version: 4.1.1a10
- OS and version: Windows 10
- Python version (& distribution if applicable, e.g. Anaconda): Embedded Python 3.5
- Using VS Code or Visual Studio: VSCode

## Actual behavior
When using the experimental debugger, attaching to a local process, I can't seem to use the step into command.
Trying to step into code (F11) seems to behave just like continue (F

[2018-07-28 17:16] fabioz commented on #697
Humm, uncaught exceptions will only be treated postmortem, just before the program exits -- and `CMD_GET_THREAD_STACK` is getting the current stack (which at that point will not be where that exception was raised but where that exception was treated)...

I'll change `CMD_GET_THREAD_STACK` to not get the real stack but get the stack for what was sent for the current suspended thread if it was suspe

[2018-07-28 17:18] fabioz commented on #231
Already done in `pydevd` (waiting for https://github.com/Microsoft/ptvsd/pull/692 to be merged before providing a pull request as changes were done on top of the contents in that pull request).

[2018-07-30 15:52] DonJayamanne commented on #578
Still broken, identified during EuroPython

[2018-07-30 15:55] DonJayamanne opened #701 "Create tests for remote debugging using IP Address of local machine"
Test Regression https://github.com/Microsoft/ptvsd/issues/578

[2018-07-30 16:20] karthiknadig commented on #578
This was caused by https://github.com/Microsoft/ptvsd/commit/c99f884ae03efc60bfa45611d271c46b2bbb8473

[2018-07-30 18:44] karthiknadig commented on #231
With PR #700 pydevd part of this is done. Following items remain:
- [ ] In ptvsd we need to handle the `StopOnEntry` debug option. (I have this ready and will send a PR after pydevd part is merged)
- [ ] VSC should covert the `stopOnEntry` launch json option to debug option for Launch.

[2018-07-30 21:53] DonJayamanne opened #704 "Debugging of python code without saving to file"
Add support for debugging of python scripts/code that has not been persisted to a file.
Similar to `python -c`.
If i'm not mistaken PTVSD 3.x supported this, hence VS might need this feature.

[2018-07-30 22:51] DonJayamanne commented on #704
The old version of PTVSD did support this.
Here's the original code https://github.com/Microsoft/vscode-python/blob/master/pythonFiles/PythonTools/visualstudio_py_launcher.py#L67

https://github.com/Microsoft/vscode-python/blob/master/pythonFiles/PythonTools/ptvsd/visualstudio_py_debugger.py#L2621

[2018-07-30 22:52] DonJayamanne commented on #704
@huguesv
Is it possible in PTVS to debug python code without saving to file?

[2018-07-30 23:39] huguesv commented on #704
I don't think so. Even when you create a new file in the editor without saving, the file exists in the temp folder. We prompt to save and run the empty temp file, if the user didn't choose to save.

I think this must be only for when the user puts a `-c` in the launch arguments (instead of specifying a startup file).

[2018-07-31 00:35] DonJayamanne commented on #580
@fabioz

Can't we monkey patch `sys.excepthook`?

/cc @karthiknadig

[2018-07-31 00:59] karthiknadig opened #705 "Handle detach does not clear template breakpoints"
Currently `_handle_detach` only clears `python-line` breakpoints. It should clear `django-line` and `jinja-line` breakpoints. This was found by code inspection.

[2018-07-31 01:12] DonJayamanne commented on #704
Is this supported in VS? If it is, then this feature will be required for parity.

[2018-07-31 11:36] fabioz commented on #580
I don't think we can do that in simple way as the user can always reassign it at any point in his program -- and that's actually common (some users had already complained on that approach).

Not that it's impossible (just wouldn't be such a simple solution)... The ways I see doing that would be wrapping the whole sys module and putting a new version on the original sys.modules so that when the use

[2018-07-31 12:32] fabioz commented on #253
@DonJayamanne, as a note, `pydevd` will add that support anyways in the future, so, the implementation should consider the use-case of both `ptvsd` and `pydevd`.

I think that for `pydevd`, the call should be `pydevd.settrace`, but I think this is not compatible to how `ptvsd` wants to make the wrapping (I think it should be `ptvsd.break_into_debugger` for ptvsd), so, the main issue is how to deal

[2018-07-31 14:30] DonJayamanne commented on #580
Thats fine. Thanks.

[2018-07-31 16:02] huguesv commented on #704
In VS 2017, some users reported being confused when launching with no startup file (nothing happened), so we added a check for a startup file, not realizing we were now preventing launching with `-m` and `-c`.

It will work again with https://github.com/Microsoft/PTVS/pull/4601

[2018-07-31 16:42] DonJayamanne opened #707 "Program not continuing to run when disconnecting from remote session"
## Environment data

- PTVSD version: Master
- OS and version: Mac
- Python version (& distribution if applicable, e.g. Anaconda): 3.6 Anaconda
- Using VS Code or Visual Studio: VSC

## Actual behavior

When disconnecting from a remote debug session the program does not continue to run.

## Expected  behavior

Should continue to run.

## Steps to reproduce:
1. Python code:
[code]

* Add a breakpoi

[2018-07-31 16:43] DonJayamanne opened #708 "Create system tests to ensure program continues when disconnecting from remote debug session"
Note sure whether we have this.
Regression test for https://github.com/Microsoft/ptvsd/issues/707

[2018-07-31 18:27] #578 closed

[2018-07-31 19:58] #707 closed

[2018-07-31 20:27] DonJayamanne opened #711 "ptvsd.break_into_debugger and ptvsd_wait_for_attach only work the first time"
These functions to do work during re-attaches of remote debuggers.

[2018-07-31 20:27] DonJayamanne opened #712 "ptvsd.break_into_debugger only works when attaching"

[2018-07-31 21:52] #231 closed

[2018-08-01 05:17] DonJayamanne opened #714 "Add system tests to ensure break_into_debugger can be used when re-attaching"

[2018-08-01 05:18] DonJayamanne opened #715 "Add system tests to ensure wait_for_attach can be used in re-attaches"

[2018-08-01 05:19] DonJayamanne opened #716 "Add system tests to ensure ptvsd.is_attached can be used for local attach, re-attaches"

[2018-08-01 05:20] DonJayamanne opened #717 "Add system tests to ensure break_into_debugger can be used when launching"

[2018-08-01 05:31] DonJayamanne opened #718 "Create a whole suite of tests for enable_attach without using wait_for_attach"
Currently almost all system tests use `wait_for_attach` due to a bug in `enable_attach` the simulated the same behavior of `wait_for_attach`.

[2018-08-01 06:05] DonJayamanne commented on #696
Seems to be an issue with justmy code.
We have errors in non-user code that are being captured.

[2018-08-01 07:40] karthiknadig commented on #696
I see. I think I found the issue, I have a fix in my private branch. Will do a PR in the morning.

[2018-08-01 09:23] DonJayamanne opened #719 "Hide unwanted messages"
@fabioz
Is there a way we can hide the following message:
`pydev debugger: New process is launching (breakpoints won't work in the new process).
pydev debugger: To debug that process please enable 'Attach to subprocess automatically while debugging?' option in the debugger settings.`

This is confusing our users. We repeatedly get issues reported in VS Code, and people misunderstand this to be an

[2018-08-01 11:02] fabioz commented on #719
Not currently... I'll make that optional (or maybe send those messages through commands for the IDE to decide what to do).

[2018-08-01 13:05] DonJayamanne opened #720 "Overall VSTS CI Status is green even when tests fail"
/cc @karthiknadig I thought this was fixed.

[2018-08-01 13:07] DonJayamanne commented on #719
Would be great if this can be done for the release of it's easy.
Would like to have a perfect release 😁 in August...lol..

[2018-08-01 13:11] fabioz commented on #719
Ok, I'll do that tomorrow (should be easy).

[2018-08-01 14:50] DonJayamanne opened #721 "Fix broken test test_does_not_block"
Currently test expects `enable_attach` to block waiting for a connection.
That's a bug, `enable_attach` should not wait for a connection, should not block.

The program just runs to completion.

Fix this test.

[2018-08-01 14:52] DonJayamanne opened #722 "Fix disabled test test_never_call_wait_for_attach"
Test is disabled and must be re-written.
Test it self crashes due to some funky locking issues in test code.

[2018-08-01 16:37] karthiknadig commented on #720
Do we want to block on DAP json schema changes as well?

[2018-08-01 17:42] karthiknadig commented on #701
Lowered the priority on this as we discussed.

Reasoning:
The issue occurred because we were not passing the host `0.0.0.0` to `pydevd`. So, by default it was setting up as local host. To test this correctly we need to run the tests and debugger on different ip address.

There is already a test `test_attach_byip` that attempts to connect to the debugger using ip address. This test will always pass

[2018-08-01 18:58] DonJayamanne opened #723 "Fix broken tests in test_breaking_into_raised_and_unhandled_exceptions"
_From @DonJayamanne on August 1, 2018 5:25_

Currently skipped

_Copied from original issue: Microsoft/vscode-python#2293_

## Repro steps
1. Remove the line skipping this test in `test_exception.py`
2. `set PYTHONPATH=C:\ptvsd`
3. Run test:
[code]
4. Should pass.

The test currently fails because of the unexpected third thread stopped event.

[2018-08-01 18:58] DonJayamanne opened #724 "Fix broken test test_breaking_into_raised_exceptions_only"
_From @DonJayamanne on August 1, 2018 5:23_

Currently skipped

_Copied from original issue: Microsoft/vscode-python#2292_

[2018-08-01 18:58] DonJayamanne opened #725 "Fix commented tests code in run_test_breaking_into_raised_and_unhandled_exceptions"
_From @DonJayamanne on August 1, 2018 5:26_

Commented code is:
[code]

_Copied from original issue: Microsoft/vscode-python#2294_

[2018-08-01 20:00] #545 closed

[2018-08-02 02:40] #696 closed

[2018-08-02 08:15] abokerba commented on #497
The problem has been solved once I updated to the latest version of vs code and ptvsd==4.1.1a10.
I'm still working with the same version of odoo 10e.

[2018-08-02 14:45] abokerba commented on #497
I've noticed that ptvsd==4.1.1a10 is slower. So I've downgraded it to ptvsd==4.1.1a1 again.

[2018-08-02 15:02] fabioz commented on #497
@abokerba can you give details on what exactly is slower?

I ran the benchmarks I have available and found no particular regressions...

Also, can you give details on your Python version and if the cython speedups are available in your case?

If you don't know whether the speedups are available, please set an environment variable named:

`PYDEVD_USE_CYTHON` to `YES` -- that way the debugger won't

[2018-08-02 15:11] fabioz commented on #697
This should be fixed by https://github.com/Microsoft/ptvsd/pull/710 (so, this issue can be closed now).

[2018-08-02 16:04] #697 closed

[2018-08-02 16:55] DonJayamanne commented on #530
Time to clean up the hack.

[2018-08-02 16:57] DonJayamanne opened #728 "Create new version of PTVSD"
@karthiknadig
Please can you create a new version of PTVSD.
* I'd like users of development version of Python extension to get the latest debugger
* I'd also like users of the Python extension to get latest version of PTVSD for remote debugging.

[2018-08-02 17:33] fabioz commented on #719
Ok, I think the proper fix would be having all logging go as commands to the IDE instead so that it can be filtered... I started going that path, but I won't be able to finish for today and I think there are some other issues which are more important, so, I provided a pull request to simply remove that output (https://github.com/Microsoft/ptvsd/pull/729) and I'll address the issue properly later o

[2018-08-02 19:39] karthiknadig commented on #728
https://pypi.org/project/ptvsd/4.1.1a11/

[2018-08-02 19:39] #728 closed

[2018-08-02 19:43] #705 closed

[2018-08-02 21:43] DonJayamanne commented on #704
If that's the case, this is not an enhancement, but required, for parity.

[2018-08-02 23:38] #558 closed

[2018-08-03 17:34] karthiknadig opened #730 "Connect, launch, and debug"
This is a feature request from feed back:

[2018-08-03 21:19] karthiknadig opened #732 "Suspend/resume all user threads command in pydevd"
@fabioz Would it be possible to provide suspend all and resume all commands Or just extend the existing commands if no thread id is provided then it means suspend all or resume all?

[2018-08-03 21:21] karthiknadig commented on #672
Do we still need this?

[2018-08-03 21:25] karthiknadig commented on #701
Looks like these will be a set of multi-machine or container based tests. @d3r3kk @DonJayamanne any suggestion on  options available to do the `[win|mac|nix] <--> [win|mac|nix]` combination of connections. If not all which should be tackled first.

[2018-08-03 23:05] fabioz commented on #732
Yes, that should be possible.

[2018-08-05 10:35] DonJayamanne commented on #672
No we don't

[2018-08-05 10:35] #672 closed

[2018-08-05 10:38] DonJayamanne commented on #730
I don't understand the work flow (requirement)

[2018-08-05 18:05] #687 closed

[2018-08-06 18:36] karthiknadig commented on #720
@d3r3kk Can we enable fail on non zero exit code?

[2018-08-07 16:34] d3r3kk commented on #720
We can do whatever you like.
Once all the tests run successfully I can turn the fail-on-test-failure stuff. I've been waiting for them to all run green before turning that on.
Here's what is still allowed to fail:

- [ ] DAP verification. This was an initial requirement, that it not fail the build but just notify. We can change this anytime you like.
- [ ] All **macOS Test Run** tests.
- [ ] All *

[2018-08-07 16:36] d3r3kk commented on #720
That is, unless you fine folks are ready to just turn the failures on across the board and halt any development until they are all running successfully? It's a bold move, but if your team is behind it I am all for it as well.

[2018-08-07 16:41] d3r3kk commented on #410
@karthiknadig  I think I may have some time to work on this in the next few weeks. I'll start out putting it into the existing ptvsd VSTS instance and we can add it someplace else if necessary later.

[2018-08-07 17:46] #725 closed

[2018-08-07 18:25] karthiknadig commented on #723
The cause for this issue is same as #679.

[2018-08-07 18:27] karthiknadig commented on #679
Proposing an alternative: Add CMD_GET_EXCEPTION_DETAILS to pydevd which should return exception class, message, and origin stack. Any other relevant information.

[2018-08-07 18:41] #72 closed

[2018-08-07 19:53] georgealverson commented on #314
Just upgraded to VS 15.7.6:

Exception ignored in: <generator object using_format at 0x000001D8FFCFDBF8>
Traceback (most recent call last):
  File "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\Common7\IDE\Extensions\Microsoft\Python\Core\Packages\ptvsd\wrapper.py", line 859, in using_format
    yield futures.Result(context())
SystemError: error return without exception set

[2018-08-07 20:31] karthiknadig commented on #314
@georgealverson This issue should be resolved in the later versions of ptvsd `>=4.1.1a8`. It should be available in VS 15.8

[2018-08-07 21:08] #617 closed

[2018-08-07 21:12] karthiknadig opened #737 "Exception info should use CMD_GET_EXCEPTION_DETAILS"

[2018-08-07 21:34] #679 closed

[2018-08-07 23:07] DonJayamanne commented on #720
I vote for this. @karthoknadig will want this too. That's two out of two PTVSD devs!! 😁.
This way nothing slips, and we can use our judgement to merge PRs, rather than always ignoring items. Also an incentive to fix breaking/flaky tests.

[2018-08-08 01:56] karthiknadig commented on #723
Looks like there is another issue, exposed after fixing 679.
@fabioz. looks like we get uncaught exception event raised twice in some cases. These are the call stacks for one such case. see above for repro steps.
**First event: on raised (this seems correct)**
[code]

**Second event: uncaught (i suspect is the wrong one)**
[code]

**Third event: uncaught (this seems correct)**
[code]

[2018-08-08 02:46] karthiknadig commented on #720
Yes. Please go ahead block on failing tests.

[2018-08-08 03:17] DonJayamanne commented on #723
@karthiknadig
How did we catch this issue you have reported above?
Via CI tests or your general local testing?
If it was when performing local testing, please could we create an issue to create a test that reproduces this bug to ensure it gets caught again in CI.

[2018-08-08 04:41] karthiknadig commented on #723
I removed the skip for all tests in `test_exceptions.py`, and ran them. This tests will catch the issue:
`PTVSDAttachModuleExceptionLifecycleTests.test_breaking_into_raised_and_unhandled_exceptions`

[2018-08-08 05:14] d3r3kk commented on #720
Done.

[2018-08-08 05:14] #720 closed

[2018-08-08 11:03] fabioz commented on #723
This appears correct to me (twice in caught exceptions and once in unhandled exceptions).

i.e.:
- The case for hitting twice when handled unhandled is also reported at: https://github.com/Microsoft/ptvsd/issues/653 (we had agreed it seemed reasonable, so, I'm considering it's Ok).

- Caught exceptions are usually reported once when it's raised and another in each caller until it's handled or brea

[2018-08-09 05:07] karthiknadig commented on #718
#740 adds couple cases for using `enable_attach` without `wait_for_attach`

- `enable_attach` with `is_attached` and `break_into_debugger`
- `enable_attach` and `break_into_debugger`

[2018-08-09 15:18] Lobotomik opened #741 "Debugger unusably slow"
## Environment data

- PTVSD version: 3.2.1
- OS and version: Windows 10 Pro
- Python version (& distribution if applicable, e.g. Anaconda): Anaconda 2.7.13 (64b)
- Using VS Code or Visual Studio: VS Code

## Actual behavior
I step through my program and feels sluggish compared to debugging the same code in Pycharm or Pydev. In some cases, a step that takes less than a second in Pycharm takes over

[2018-08-09 16:48] DonJayamanne commented on #741
This repo is used to manage versions 4 and later.
Please create your issue against the vscode python repo.
https://github.com/Microsoft/vscode-python

Please ensure you have tried using the Experimental debugger, before filling the issue against the pythin extension repo.

[2018-08-09 16:48] #741 closed

[2018-08-10 02:46] jwilges commented on #57
@DonJayamanne are these changes planned? Your approach sounds like it's a huge step forward. Do you have a patch to share? I'd be psyched to take a look at it and try it locally. My current workarounds for multi-process debugging are cumbersome.

[2018-08-10 05:54] alphacentauri12 commented on #57
Nice! 👍
A patch would be great for the moment! ;-)

[2018-08-10 06:41] karthiknadig opened #742 "`break_into_debugger` does not work in Server Attach mode"
## Environment data

- PTVSD version: master
- OS and version: Any
- Python version (& distribution if applicable, e.g. Anaconda): Any
- Using VS Code or Visual Studio: VSC

## Actual behavior

Does not break into debugger

## Expected  behavior

Should break into debugger

## Steps to reproduce:
1. use this file `test.py`:
[code]
2. `python -m ptvsd --port 5678 --server test.py`

Run the followin

[2018-08-10 06:42] karthiknadig opened #743 "Fix launch tests in test_disconnect.py"

[2018-08-10 10:53] ajpower opened #745 "Launching module with --nodebug breaks imports"
My project structure is
[code]
`bar.py` is an empty file. `__main__.py` contains the single statement `import bar`. My `launch.json` configuration is
[code]

Running in debug mode causes the program to immediately terminate successfully, as expected. With `--nodebug` the program crashes with a `ModuleNotFoundError` exception complaining that there is no module named bar.

I am running `ptvsd` in V

[2018-08-10 18:28] #714 closed

[2018-08-11 04:12] #737 closed

[2018-08-13 21:10] #742 closed

[2018-08-13 21:48] #717 closed

[2018-08-13 21:49] #716 closed

[2018-08-13 21:49] #715 closed

[2018-08-13 21:51] karthiknadig commented on #718
`break_into_debugger` tests and `disconnect` system tests cover this

[2018-08-13 21:51] #718 closed

[2018-08-13 22:22] syagev opened #747 "$attach command unavailable in Standard REPL/immediate"
## Environment data

- PTVSD version: 15.7.18156.1-15.0
- OS and version: Windows 10 (v1803 build 17134.167)
- Python version (& distribution if applicable, e.g. Anaconda): Python 3.6.6
- Using VS Code or Visual Studio: Visual Studio 2017

## Actual behavior

In the interactive window the `$attach` command is not available:
![image](https://user-images.githubusercontent.com/5247438/44061254-499075

[2018-08-14 10:47] ajpower commented on #745
Fails with the same error.

[2018-08-14 17:37] karthiknadig commented on #747
This is a PTVS issue. Please file it here: https://github.com/Microsoft/PTVS
@huguesv FYI

[2018-08-14 18:09] karthiknadig commented on #745
Can you try with an empty `__init__.py` file?

[2018-08-14 18:14] ajpower commented on #745
I did, same issue.

[2018-08-14 18:16] karthiknadig commented on #745
Can you tell me the version of `ptvsd`? I am not seeing this in master. But I want to make sure we have addressed this.

[2018-08-14 18:32] syagev commented on #747
Done. See https://github.com/Microsoft/PTVS/issues/4636
Thanks.

[2018-08-14 18:32] #747 closed

[2018-08-14 20:47] karthiknadig opened #748 "Namespace packages fail to import"
## Environment data

- PTVSD version: master
- OS and version: Any
- Python version (& distribution if applicable, e.g. Anaconda): 3.7
- Using VS Code or Visual Studio: VSC

## Actual behavior

No module named foo

## Expected  behavior

Should import the package

## Steps to reproduce:
1. Create a package with this structure:
[code]
2. Use the following configuration:
[code]
this is very similar

[2018-08-14 21:01] huguesv opened #749 "VS sometimes hangs after break all"
## Environment data

- PTVSD version: today's master branch
- OS and version: Win10
- Python version (& distribution if applicable, e.g. Anaconda): 3.6
- Using VS Code or Visual Studio: Visual Studio

## Actual behavior

Break All sometimes hangs VS

## Expected  behavior

Break into code

## Steps to reproduce:
1. Enter this code
[code]

2. Start debugging
3. Break All, Continue & repeat that a f

[2018-08-14 21:12] huguesv opened #750 "Break all does not break in one multithreaded scenario"
## Environment data

- PTVSD version: today's master
- OS and version: Win10
- Python version (& distribution if applicable, e.g. Anaconda): 3.6
- Using VS Code or Visual Studio: Visual Studio

## Steps to reproduce:
1. Enter this code:
[code]

2. Install bs4 and requests as needed
3. Start debugging, and quickly Break All
4. Press F10 to step into one of the `with print_lock` blocks
5. Once that

[2018-08-14 21:55] ericsnowcurrently opened #751 "Pre-defined breakpoint does not work (remoting Mac -> Ubuntu)."
## Environment data

- PTVSD version: master
- OS and version: OSX + Ubuntu 18.04
- Python version (& distribution if applicable, e.g. Anaconda): 3.6
- Using VS Code or Visual Studio: VSC

## Actual behavior

Upon attaching I get the following message in the running process:

   pydev debugger: warning: trying to add breakpoint to file that does not exist: /Users/esnow/projects/ptvsd-bug-bash/scri

[2018-08-14 22:05] karthiknadig commented on #751
You have to use pathmappings for this to work.

[2018-08-14 22:37] huguesv opened #752 "Incorrect frame for breakpoint"
## Environment data

- PTVSD version: today's master
- OS and version: Win10
- Python version (& distribution if applicable, e.g. Anaconda): 3.6
- Using VS Code or Visual Studio: Visual Studio

## Steps to reproduce:
1. Type this code and set breakpoint on line 9 as in the picture and start debugging.
[code]

![image](https://user-images.githubusercontent.com/1696845/44122248-dba913c4-9fd7-11e8-9b

[2018-08-15 14:06] polakovicp opened #753 "Remote dbg: adding breakpoint to file that does not exist"
## Environment data

- PTVSD version: '4.1.1a11'
- OS and version: Win 10
- remote OS: Debian GNU/Linux 8 (jessie)
- Python version (& distribution if applicable, e.g. Anaconda): Python 3.4.2
- Using VS Code or Visual Studio: VS2017 Pro, Version 15.7.5

## Actual behavior

Hi, after attaching to remote process with PTVSD, no breakpoint is hit. But in the output I see the message:
_pydev debugger:

[2018-08-15 15:48] karthiknadig commented on #753
Try adding `pathMappings` to your attach configuration.
[code]

[2018-08-15 17:25] karthiknadig opened #754 "Create release version of ptvsd"
Create a release version of ptvsd version 4.1.1
- [ ] Change development status to production from alpha
- [ ]  Set version to 4.1.1

[2018-08-15 17:29] karthiknadig commented on #754
@DonJayamanne Let me know if you want to block this based any of the existing bugs.

[2018-08-15 17:32] karthiknadig commented on #752
This looks like it is paused on the wrong thread. VS UI shows the last paused thread instead of the thread that hit break point. We could probably use `preserveFocusHint` to control that.

[2018-08-15 18:29] karthiknadig opened #755 "Web framework tests frequently fail with timeout"

[2018-08-15 21:55] karthiknadig commented on #752
@DonJayamanne Can you look at this change https://github.com/karthiknadig/ptvsd/commit/cf7a5f63bb0a064a583436bd0689ff25d84c13f7 ? Basically VS has special requirements about `stopped` Event.
see: https://github.com/Microsoft/VSDebugAdapterHost/wiki/Differences-between-Visual-Studio-Code-and-the-Visual-Studio-Debug-Adapter-Host#stopped-event

There is a bit more to it. we have to send stopped event

[2018-08-15 22:38] DonJayamanne commented on #754
Will go through the issues and let you know.

[2018-08-16 05:47] polakovicp commented on #753
Well, I am not using any configuration while attaching with VS2017. I read about some _launch.json_ but everything I read was applicable only for VS Code. How can I create such configuration for VS2017?

[2018-08-16 06:30] karthiknadig commented on #753
Sorry, I read it wrong. While doing remote attaches with the new debugger VS2017 does not support path mappings yet. This feature is still a open item https://github.com/Microsoft/ptvsd/issues/248.
There are two ways you can deal with this:
**Option 1**: Use `ptvsd.wait_for_attach`, and `ptvsd.break_into_debugger` combination. This will cause VS download the source and open it up for you as a read

[2018-08-16 06:51] polakovicp commented on #753
Seems like break_into_debugger doesn't work. After debugger attach program continues it's execution.
`
import ptvsd
ptvsd.enable_attach()
ptvsd.wait_for_attach()
ptvsd.break_into_debugger()`

[2018-08-16 06:59] karthiknadig commented on #753
Try Option 2 (with `wait_for_attach`). If that does not work, would it be possible to share your code or minimal repro?

[2018-08-16 11:02] polakovicp commented on #753
Sorry I can't provide original source. But I added new file to the project called _remote_dbg.py_.

[code]

Copied it to the home folder on remote server and executed:

After attaching to the process, Visual Studio crashes immediately.
More things:
- interpreter on remote is Python3.4 64b, local is Python3.5 64b
- connection string used is _tcp://secret@xxxxxx:5678/_, notice the "secret", but no s

[2018-08-16 15:35] zooba opened #757 "Add way to ignore exception handler"
When writing a framework, there are cases where I want to handle all exceptions from a call into user code. However, this means that the "unhandled exception" filter no longer works properly.

It would be great if there was some marker (a comment? a function decorator?) that I could put in my framework code to ensure that exceptions handled by that function are first handled by the debugger.

[2018-08-16 16:25] fabioz commented on #757
It should probably be a comment so that the user doesn't need to import the debugger to make it work.

As a note, there are already other cases where comments already determine how the debugger works in `pydevd`.

i.e.:
- `# @IgnoreException` where an exception is raised won't be shown as a caught exceptions.
- The debugger doesn't step into methods with `# @DontTrace`.

Maybe for this case, a met

[2018-08-16 17:32] karthiknadig commented on #753
@fabioz even if `PATHS_FROM_ECLIPSE_TO_PYTHON` is set, from ptvsd point of view the mappings are not set. So, ptvsd will use source reference see https://github.com/Microsoft/ptvsd/blob/master/ptvsd/wrapper.py#L1549

We need to figure out why  `break_into_debugger` is not working here. 1) `break_into_debugger` is not getting to the settrace part, or 2) settrace is not working as intended.

@polako

[2018-08-16 17:46] karthiknadig commented on #753
Both option 1 and 2 work for me.
![image](https://user-images.githubusercontent.com/3840081/44225112-65f06680-a141-11e8-86ac-29afc88724fa.png)

![image](https://user-images.githubusercontent.com/3840081/44225062-36415e80-a141-11e8-93ac-864dea3c9fc1.png)

Is there anything particularly different from the vanilla python 3.4 environment?

[2018-08-16 19:52] fabioz commented on #45
As a note, I've started to take a look at this issue.

[2018-08-17 01:36] ajpower commented on #745
I'm using 4.1.1a10, which ships with the current version of vscode.

Actually I'd like to clarify that the configuration you gave above (which `module` set instead of `program`) actually fails with and without `--nodebug`. Presumably this happens since it's trying to run something like `python -m ptvsd -m foo` which _should_ fail since bar needs to be a relative import. But with the original confi

[2018-08-17 06:42] polakovicp commented on #753
Maybe my environment is somehow screwed up...
**Can you help me how to update local ptvsd package?**

1) Right click on Python interpreter and select "Open Interactive Window"
![image](https://user-images.githubusercontent.com/522894/44250909-acec6380-a1f6-11e8-8dc4-49a8d2ac9721.png)

2) Get exe path & ptvsd version (notice 3.2.1 !!!)
![image](https://user-images.githubusercontent.com/522894/44250

[2018-08-17 10:25] polakovicp commented on #753
More info
[code]
But there is also another ptvsd package in VS installation folder:
`C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\Common7\IDE\Extensions\Microsoft\Python\Core\Packages\ptvsd`

[code]
So how to force VS to load the 4.1.1a9 package instead of old version?

[2018-08-17 16:37] fabioz commented on #45
After investigating it, this will actually be a big change in `pydevd`

The main issue is that the API to get variables only provides users with a way to get a dictionary of key->value which will already be the final representation of the object (and what's shown to the user is later used to get the variable again).

To fix this, both the protocol as well as the internal API will need to be change

[2018-08-17 17:11] karthiknadig commented on #45
I will go over the issues and let you know.

[2018-08-17 17:36] d3r3kk commented on #701
Tests such as this have a **lot** of variables outside those of the tests themselves. This set of external variability is something that will unfortunately and necessarily make the test runs susceptible for plenty of false negatives.

I would definitely recommend that we consider to make this testing part of a new VSTS automation process. This new automation could run nightly. Make cross-machine t

[2018-08-17 18:48] karthiknadig commented on #753
@polakovicp in VS2017 15.7* go to **Tools > Options > Python > Experimental** and enable the experimental debugger. That will enable the new debugger `4.1.1a9` for Launch (i.e, when you hit F5) and Attach (i.e., from Debug > Attach to process). `4.1.1a9` is the latest that is available with VS.

For the interactive window. By default VS will load the old debugger (3.2.1), we have not moved the `re

[2018-08-17 19:58] karthiknadig commented on #151
we rely on this heavily for testing. closing this

[2018-08-17 19:58] #151 closed

[2018-08-17 20:06] karthiknadig commented on #288
There is a workaround for this. You can use `ptvsd.break_into_debugger` in the callback. This will always break. The current `master` branch has a version of  `ptvsd.break_into_debugger` that works for both launch and attach scenarios.

[2018-08-17 20:06] #288 closed

[2018-08-17 20:09] karthiknadig commented on #375
The current version of `is_attached` fixes this. https://github.com/Microsoft/ptvsd/commit/f726968304b97e20e6262d5ef80f28e202e43843

[2018-08-17 20:09] #375 closed

[2018-08-17 20:49] karthiknadig commented on #659
Can you try this using 4.1.1a11? This repo is for `ptvsd>=4.*`. Reopen this if you run into the same issue with the experimental debugger:
[code]

[2018-08-17 20:49] #659 closed

[2018-08-17 20:51] karthiknadig commented on #677
I have not seen this in a while.

[2018-08-17 20:51] #677 closed

[2018-08-17 20:53] karthiknadig commented on #680
This is covered by `test_exceptions.py`

[2018-08-17 20:53] #680 closed

[2018-08-18 00:06] omartin2010 commented on #751
In launch.json, there used to be (for the non experimental debugger) properties “localRoot” and “remoteRoot” that were meant for that. Dis this change with the latest code? I’ll look when om my computer where this pathmapping is located, probably a property of the class or something’.

[2018-08-18 03:28] karthiknadig commented on #751
@omartin2010

Yes,  `localRoot` and `remoteRoot` were moved into `pathMappings`. They can be used like this:
[code]

[2018-08-18 03:33] omartin2010 commented on #751
I have found this but had to play with VSC to open it from the right folder because I had error messages like :
/Users/esnow/projects/ptvsd-bug-bash/non_existing_directory/c:/users/omartin/.../directory2

so it would append the complete local path to the remote path. Not sure I understand how this is supposed to work but I ended up having to, because the root paths aren't the same on both systems,

[2018-08-18 04:35] karthiknadig commented on #751
I tested this with a similar layout:
**local machine:** `C:\GIT\testscripts\directory2\pytest.py`
**remote machine:** `C:\Users\kanadig\Source\Repos\pyscripts\directory1\pytest.py`

**pytest.py**:
[code]
Launched that on the remote machine, as:
`C:\Users\kanadig\Source\Repos\pyscripts\directory1>py -3.7 pytest.py`

I had opened `C:\GIT\testscripts` in VSC, and used this in **launch.json**:
[code]

[2018-08-20 06:36] polakovicp commented on #753
I don't have _experimental debugger_ in my VS 15.8.0 :\
![image](https://user-images.githubusercontent.com/522894/44323796-c4745800-a453-11e8-8a04-7208afb4d8c6.png)

[2018-08-20 06:46] karthiknadig commented on #753
In VS 2017 15.8.* the ptvsd>=4.1.* is the default debugger. This is the debugger that will be used when you start debugging with F5. But, when you start an interactive window we still use ptvsd==3.2.1 for that. If you want to test attach locally with the latest version of ptvsd, you should do it from the windows command prompt.

[2018-08-20 07:04] polakovicp commented on #753
With your help it's finally working with the _break_into_debugger_ method. Many thanks

[2018-08-20 08:53] formulahendry opened #762 "Could not stop at breakpoint when pathMappings.localRoot has slash"
## Environment data

- PTVSD version: 4.1.1a11
- OS and version: Windows 10
- Python version (& distribution if applicable, e.g. Anaconda): Python2
- Using VS Code or Visual Studio: VS Code

## Actual behavior

Could not map file correctly to stop at breakpoint when pathMappings.localRoot has slash

## Steps to reproduce:
1. git clone https://github.com/formulahendry/python-amd64-debug.git
2. dock

[2018-08-20 15:29] omartin2010 commented on #751
Seems like it's working (my other end was a Linux machine) but for the local path. Here's what I've comep to realize was my problem. I was putting a forward slash on my local path "${workspaceFolder}/dir1" instead of "${workspaceFolder}\\dir1" and this generates a remote path like "/mnt/local_linux_path/c:/etc/" where "/mnt/local_linux_path" is "remoteroot" and c:/etc/ is the path generated by my

[2018-08-20 17:52] karthiknadig commented on #753
Awesome. Glad, I could help.

[2018-08-20 17:52] #753 closed

[2018-08-20 17:55] karthiknadig commented on #751
Agreed. We will use this #762 to track the work.

[2018-08-20 17:55] #751 closed

[2018-08-20 17:59] karthiknadig commented on #253
#756

[2018-08-20 17:59] #253 closed

[2018-08-20 17:59] GandalfSaxe commented on #57
Will this issue also cover Python multiprocessing's Pool().map?

https://docs.python.org/3.4/library/multiprocessing.html

[2018-08-20 18:52] #708 closed

[2018-08-20 20:43] zooba opened #763 "Tooltip/watch missing module members"
When expanding a module via a tooltip, not all its members are shown.

Even when expanding a module via the Watch window, it shows more members, but not all of them.

`dir(sys)` has more than either of them. Ideally, all the same members would appear (even `__dunder__` and `_internal` members - debugging is not the time where it's useful to hide information).

![image](https://user-images.githubus

[2018-08-20 20:56] karthiknadig commented on #763
This feels like the same issue as #66

[2018-08-20 21:05] karthiknadig commented on #748
Namespace packages don't have `__init__.py`. `No module named foo` error is not seen when `__init__.py` is available.

[2018-08-20 21:18] zooba commented on #763
Similar, but worse. Most of the missing items do not have underscores at all - they seems to be mostly functions (often builtin functions) or special types. #66 should also be fixed, of course, but this is much more impactful.

[2018-08-21 14:46] fabioz commented on #745
This is not a bug -- things are working as expected.

i.e.: if you have a structure such as the one below where `demo` is the folder in the `PYTHONPATH`, you should write an import on `__main__.py` as `from foo import bar` or `from . import bar` (a single `import bar` expects the `bar` module to be on the root -- which is not the case).

[code]

[2018-08-21 14:47] fabioz commented on #748
If this is the exact same case as #745, this isn't really a bug (the import is just not written correctly -- see: https://github.com/Microsoft/ptvsd/issues/745#issuecomment-414700314).

[2018-08-21 14:55] ajpower commented on #745
Regardless of how you feel imports should be done, the fact remains that `python foo` will execute the code without throwing an exception, as will `python -m ptvsd foo`. Passing the `--nodebug` option should break this behaviour.

Incidentally, I agree that `import bar` is a poor way to perform the import. However, projects like Django will perform imports this way e.g. when setting `DJANGO_SETTIN

[2018-08-21 15:07] fabioz commented on #745
Note that it'll fail in the command line if `python -m foo` is used in plain Python, so, ideally you wouldn't write imports that way, but I agree with your point that `ptvsd` should replicate what Python does even if it means shooting yourself in the foot ;)

-- Python itself appears to be executing `foo/__main__.py` directly (so, it'll find `bar` as a root module -- and if you do in another place

[2018-08-21 15:11] fabioz commented on #748
Note that for this issue, this is what Python expects (so, it fails even without `ptvsd`) and is not a bug, unlike the case in #745, where the user is executing the file (which works on Python -- note: taking a look at that one).

[2018-08-21 16:12] brettcannon commented on #762
Our CTI also had an issue with `${workspaceFolder}` where it ended up being translated to `/C:/test/temotedebug.py` (note the leading slash and path separators). When she set `localRoot` to `C:\\test\\` it apparently worked.

[2018-08-22 11:07] johnygomez commented on #659
@karthikananth experimental debugger seems to be working, but it seems it's not breaking on breakpoints out of main thread. Actually it seems that execution stops, but debugger just doesn't jump into breakpoint. Do you have any clue what's wrong? I think this was working for me on 3.0.0

[2018-08-22 16:09] karthiknadig commented on #659
@johnygomez  Can you create a new bug with code to reproduce this issue?

[2018-08-22 17:21] #719 closed, assigned to nobody

[2018-08-22 17:54] #754 closed

[2018-08-23 11:19] fabioz opened #766 "sys.__breakpointhook__ should be available when __builtin__.breakpoint is set"
This is because `pytest` checks if `__builtin__.breakpoint` is set but later moves on to use `sys.__breakpointhook__` which wouldn't be set.

i.e.:

https://github.com/pytest-dev/pytest/blob/master/src/_pytest/debugging.py#L67

I'll submit a fix for this shortly.

[2018-08-23 19:47] fabioz commented on #732
Just as a note, I already have a fix for this, but it has conflicts with other pull requests I have open:

https://github.com/Microsoft/ptvsd/pull/765
https://github.com/Microsoft/ptvsd/pull/767

So, when those are merged I'll provide a pull request for this one.

[2018-08-23 20:05] fabioz opened #768 "Re-enable frame eval mode in debugger"
In a previous fix, the debugger frame eval mode was disabled, but it should be re-enabled later on.

-- see: https://github.com/Microsoft/ptvsd/issues/358#issuecomment-390966462 for more info on when the frame eval mode can be used and its limitations.

-- in the scenario where it works well as it has a very good performance (so, its use is limited but under the proper circumstances its overhead c

[2018-08-27 20:18] #745 closed

[2018-08-28 18:03] #355 closed

[2018-08-28 18:05] karthiknadig opened #770 "Update Readme with current command line switches for ptvsd"

[2018-08-29 01:33] #454 closed

[2018-08-29 04:17] #420 closed

[2018-08-29 08:48] dmyger opened #773 "Intersection with project's module names: module 'queue'"
## Environment data
- PTVSD version: ptvsd-4.1.1+6.gdf9c8fd
- OS and version: OpenSuse Linux
- Python version (& distribution if applicable, e.g. Anaconda): Python 3.6.5
- Using VS Code or Visual Studio: VS Code 1.26.1

## Actual behavior
Edit `.vscode/launch.json` to select **pythonExperimental** instead old python debugger. Then run my project for debugging and got following error:
[code]
After

[2018-08-29 11:00] fabioz commented on #773
`queue` is a standard library module and you should not shadow it in your own project (if you do it, it's common to break many other dependencies -- in this case it's the debugger, but many other projects may depend on the `queue` module from the standard library being available).

My suggestion is creating your own top-level package and then putting your `queue` package inside it.

i.e.:
[code]
T

[2018-08-29 18:46] karthiknadig opened #774 "Exceptions options handled incorrectly when using Just-my-code"
## Environment data

- PTVSD version: master
- OS and version: Windows
- Python version (& distribution if applicable, e.g. Anaconda): N/A
- Using VS Code or Visual Studio: VS

See for actual and expected behavior:
https://developercommunity.visualstudio.com/content/problem/321172/cant-disable-individual-python-exceptions.html

Following are the different modes passed depending on the selection in

[2018-08-30 17:19] crwilcox opened #776 "Multithreaded debugging only breaking on main thread."
I filed https://github.com/Microsoft/vscode-python/issues/2103 on vscode, but was asked to file here as well. The other issue has an archive that has code that will try to run multiple threads. Breakpoints on child threads are not hit.

@brettcannon investigated this further and found that it won't stop on the breakpoints, but logpoints are executed.

My sample code unfortunately requires creds fo

[2018-08-30 17:42] karthiknadig commented on #776
This should be fixed in the master. There is a cosmetic issue in master of which thread is displayed by the UI. This is because we currently do set the `preserveFocusHint` field in the thread stopped event.
![image](https://user-images.githubusercontent.com/3840081/44868989-4416d980-ac41-11e8-8fc4-023798ffe055.png)

[2018-08-30 18:25] karthiknadig opened #777 "Thread stopped event should set preserveFocusHint"
`preserveFocusHint=False` for step, break point, and exception. `preserveFocusHint=True` for all others. If this is not set then VSC and VS wont know which thread to show to the user, in multi threaded scenario.

[2018-08-30 20:15] #732 closed

[2018-08-30 21:00] #777 closed

[2018-08-31 05:38] #743 closed

[2018-08-31 09:58] asouini commented on #635
can i add to "remote debugging" section : to confirm that breakpoints are set

[2018-08-31 18:14] #748 closed

[2018-08-31 19:05] karthiknadig commented on #470
Not sure if you got the answer for this but you can use this:
[code]

[2018-08-31 19:05] #470 closed

[2018-09-04 18:11] karthiknadig opened #782 "Profiling"
Feature request via user feedback.

[2018-09-04 21:34] karthiknadig commented on #699
There were few issues with just-my-code,( i.e., "debugStdlib": false in launch config). Try this with ptvsd **v4.1.1**. If this continues to occur, please reopen and provide code to repro.

[2018-09-04 21:34] #699 closed

[2018-09-04 21:36] karthiknadig commented on #776
Fixed via #778

[2018-09-04 21:36] #776 closed

[2018-09-04 21:38] karthiknadig commented on #773
Re-open if the above resolution doesn't work for you.

[2018-09-04 21:38] #773 closed

[2018-09-04 21:47] karthiknadig commented on #450
ptvsd server attach and import attach patterns work in WSL.

[2018-09-04 21:47] #450 closed

[2018-09-05 05:00] DonJayamanne commented on #200
Here's the prototype code - https://github.com/DonJayamanne/ptvsd/commits/attach
We might need to change:
* The way the debugger connects to VSC
* End the session (debugger host in the process) when debugger is disconnected
Based on the prototype, this should be very easy.

[2018-09-06 19:30] brettcannon opened #783 "Support "Loaded Scripts""
https://code.visualstudio.com/updates/v1_27#_debug-extensions-builtin-loaded-scripts-view

[2018-09-06 21:25] brettcannon opened #786 "Debugger raising IndexError"
Microsoft/vscode-python#2499

[code]

[2018-09-06 23:40] karthiknadig commented on #548
Looks like the LANG is not set to utf-8. That is what is causing this issue.
[code]
@int19h how do we set this? i tried doing it in the `travis.yml` does not seem to propagate to the tests.

[2018-09-07 01:08] int19h commented on #548
I don't know if there's a Travis-specific thing to do this. But it looks like Travis will ultimately just invoke Makefile. And that should be able to do this at the top (where it sets $PYTHON):
[code]

[2018-09-07 23:05] karthiknadig commented on #548
I made the changes needed to add export LANG to the make file. That does not seem to help:
https://github.com/Microsoft/ptvsd/compare/master...karthiknadig:issue548

[code]

/cc @d3r3kk

[2018-09-07 23:19] karthiknadig opened #788 "Stepping takes long time when variables have large amounts of data"
## Environment data

- PTVSD version: master
- OS and version: Any
- Python version (& distribution if applicable, e.g. Anaconda): 2.7
- Using VS Code or Visual Studio: Any

[2018-09-07 23:47] d3r3kk commented on #548
Have you set PYTHONENCODING?

We use `export PYTHONENCODING='utf-8'` in a few places... but perhaps that's not what you are looking for here.

Is there a build that has the failure that I can have a look at?

What version of Python is this failing in? What OS (I assume Linux because of Travis! But making sure all the cables are plugged in...)

[2018-09-08 02:25] DonJayamanne opened #789 "How often will/should PTVSD be released"
* Should we consider releasing PTVSD every time we release a new version of the Python Extension?
    * I Say yes.
    * Note: This is only necessary if there are any new changes/fixes in PTVSD that can be integrated into the python extension.

The reason I bring this up is https://github.com/Microsoft/vscode-python/issues/2498#issuecomment-419589205
* Here an issue was reported in the Python Exte

[2018-09-09 17:16] fabioz commented on #788
I think one of the culprits may be that all locals are gotten in a single step whereas it'd be better to get it in parts (I saw that the debug adapter protocol provides a way to get partial results, so, implementing the debug adapter protocol and making it possible to load variables in steps could improve the situation here -- also, the current protocol which uses `xml` and `urllib.quote` is proba

[2018-09-09 18:20] karthiknadig opened #790 "Path separator issue with path mappings"
## Environment data

- PTVSD version: master
- OS and version: Win
- Python version (& distribution if applicable, e.g. Anaconda): Any
- Using VS Code or Visual Studio: VSC

## Actual
With this input to `setup_client_server_paths` which comes from `pathMappings`:
`[('C:\\Development\\Projects\\src\\sub dir\\', '/mnt/c/GIT/ptvsd/tests/resources/system_tests/test_forever')]`
Note: that the first pat

[2018-09-10 10:59] Armitxes opened #791 "PTVSD: Launcher / Debugger not working at all since last update."
## Environment data

- PTVSD version: I really don't know. The latest one delivered with VS Code
- OS and version: Windows 10 - V1803 (Build 17134.228)
- Python version (& distribution if applicable, e.g. Anaconda): Python 3.5.1
- Using VS Code or Visual Studio: VS Code

## Actual behavior

Today I've decided to update my VS Code Version and suddenly all my Python projects stopped working.
Before

[2018-09-10 15:59] karthiknadig commented on #791
Can you provide some sample code to repro this? is this specific to `odoo`?

/cc @DonJayamanne

[2018-09-10 16:33] SteveGuidi opened #792 "Can not set IDE-breakpoints in remote Python debugging session"
## Environment data

- PTVSD version: 4.1.1
- OS and version: Windows 10
- Python version (& distribution if applicable, e.g. Anaconda): 2.7.14 (amd64) via Visual Studio Python Tools
- Using VS Code or Visual Studio: Visual Studio 2017 15.8.3

## Actual behavior

I'm trying to debug a remote Python application using the Visual Studio 2017 IDE and the PTVSD debugger.  I am connecting to a Linux ser

[2018-09-10 17:30] joelhock opened #793 "listen(0) in create_server() does not allow client to connect to linux server"
## Environment data

- PTVSD version: 4.1.1
- OS and version: linux kernel 4.14.46
- Python version (& distribution if applicable, e.g. Anaconda): 2.7.13, 3.5.3
- Using VS Code or Visual Studio: N/A

## Actual behavior
server on linux never accepts connection, i.e. `client, _ = sock.accept()` in `connect()` in socket.py never returns.  This is due to the `listen(0)` call in `create_server()`.  Thi

[2018-09-10 20:55] #698 closed

[2018-09-11 00:42] brettcannon commented on #789
I suspect that having staggered sprints will mean ptvsd can release the week prior to the end of our last sprint before a release.

[2018-09-11 11:11] Armitxes commented on #791
It's specific to odoo.

Basically I only execute the [odoo-bin](https://github.com/odoo/odoo/blob/11.0/odoo-bin) via python which has an normal python import at line 5.

`import odoo` the target of the import is located in the same folder (`./odoo/__init__.py`) I don't see how it can't be found with ptvsd.

Has something changed for the launch.json? Just in case, here is mine:
[code]

[2018-09-11 16:40] fabioz commented on #791
This is actually strange... in https://github.com/Microsoft/ptvsd/blob/master/ptvsd/_vendored/pydevd/pydevd.py#L1058 the PYTHONPATH should be fixed to add that directory.

Now, this was a recently recent fix (done in https://github.com/fabioz/ptvsd/commit/e63e0f2add0f152d7d0fbdbdc004c4752df60284 to fix https://github.com/Microsoft/ptvsd/issues/745), so, maybe it's still not released...

@karthikna

[2018-09-11 17:35] karthiknadig commented on #791
@fabioz The fix for the issue is in master but not in the release.

[2018-09-11 22:41] karthiknadig commented on #792
Visual Studio 2017 currently does not support the `pathMappings` argument that is needed by `ptvsd`, to map remote and local files. Unfortunately, for VS the best option is to use `ptvsd.break_into_debugger()`.

/cc @huguesv

[2018-09-12 00:23] DonJayamanne opened #796 "Add ability to launch the debugger in non-debug mode"
Currently we can only launch the debugger in non-debug mode when using `-m`.
I'd like to have the same feature by importing PTVSD and invoking a function, similar to debugging using the `debug` function in `debugger.py`

Basically this is necessary to launch the debugger in non-debug mode when using a launcher script.

[2018-09-12 17:09] #796 closed

[2018-09-12 17:10] MikhailArkhipov commented on #789
POR is to have release branches with numbered releases. Release branch forks week before the extension release. Fixes are accepted on a case by cases basis into the release branch and then integrated into the master. Master is always open. Same applies to LS.

[2018-09-12 20:16] DonJayamanne opened #798 "Debugger throws exception before hitting first line of code"
## Environment data

- PTVSD version: Latest
- OS and version: Windows 10
- Python version (& distribution if applicable, e.g. Anaconda): Anaconda 4.2.0 (64-bit) Python 3.6.1
- Using VS Code or Visual Studio: VS Code

## Actual behavior

Details can be found here https://github.com/Microsoft/vscode-python/issues/2499

Here's the error
[code]

[2018-09-12 20:17] DonJayamanne commented on #798
Oops duplicate

[2018-09-12 20:17] #798 closed

[2018-09-12 20:18] DonJayamanne commented on #786
Changing priority as users are able to use the debugger in some cases.

[2018-09-12 20:31] karthiknadig commented on #786
Is there any detail on the folder structure where this occurs?

[2018-09-12 21:02] DonJayamanne commented on #786
No

[2018-09-12 21:05] brettcannon commented on #798
@DonJayamanne duplicate of which issue (so we can link to it on the extension side)?

[2018-09-12 21:12] DonJayamanne commented on #798
Duplicate of https://github.com/Microsoft/ptvsd/issues/786

[2018-09-13 17:42] #790 closed

[2018-09-13 18:01] karthiknadig opened #799 "Refactor: Debug session and daemon"
Investigate the debug session and daemon. There is potential to significantly simplify session management. This should also make the exit code simpler.

[2018-09-13 18:25] karthiknadig opened #800 "Out-of-proc debug adapter"
This assumes that as a part of doing the multi-process debugging support we will be switching the communication between `ptvsd` and `pydevd` to a real socket.

## Old implementation (no multi-process support) : v4.1.4
![image](https://user-images.githubusercontent.com/3840081/45507001-c2957000-b745-11e8-9386-f579df90f2b6.png)

## Current Implementation for Multi-process debugging: v4.2.0
![image](

[2018-09-13 18:29] DonJayamanne opened #801 "Create debug adapter in Python"
_From @DonJayamanne on April 11, 2018 5:5_

Currently the debug adapter is written in typescript, and in the `launch` handler we start the python process that's running PTVSD, after this we connect the VSC streams to the python process streams.
From then on the Typescript DA doesn't play any role.

VS Code have some changes in the pipeline that'll make it possible to write the debug adapter in Pyt

[2018-09-13 18:29] DonJayamanne commented on #801
@karthiknadig would it be possible to write the DA in python for VS? Please could you check with the VS DA team.

[2018-09-13 18:29] DonJayamanne commented on #801
_From @int19h on April 11, 2018 5:19_

VS implementation doesn't have a debug adapter in that sense - they provide us with an extensibility point for stuff like launch and attach, that works via .NET interfaces, which are implemented by code in the same process as VS itself. Turning it into an out-of-proc Python implementation would be a substantial change, and I'm not sure it's even feasible for

[2018-09-13 18:29] DonJayamanne commented on #801
_From @ericsnowcurrently on April 11, 2018 17:5_

I'm definitely on board with writing the adapter in Python.  TBH, I still think that ptvsd should be a fully compatible implementation of the protocol.  Then we could use it directly in VSC, with no need for a second adapter.  For VS (or any other non-protocol needs), we'd have shims on top as necessary.

Of course, taking this approach is not prac

[2018-09-13 18:29] DonJayamanne commented on #801
_From @ericsnowcurrently on April 11, 2018 17:7_

@int19h As to an out-of-proc Python implementation, I'd like to understand better about:

* what the "adapter" for VS would look like (what it looks like now in C#?)
* what the different challenges are to using a Python implementation in-proc would be
* what's this restriction about out-of-proc execution (i.e. subprocesses)

Are there quick answers

[2018-09-13 18:29] DonJayamanne commented on #801
_From @int19h on April 11, 2018 17:22_

Take a look at the code here, ignoring the "Debugger" subfolder.

https://github.com/Microsoft/PTVS/tree/master/Python/Product/Debugger

[2018-09-13 18:29] DonJayamanne commented on #801
_From @int19h on April 11, 2018 17:24_

I don't see how we can avoid a second adapter in VSC though. By its very nature, ptvsd has to run in the debuggee process. For remote scenarios, this means that it's talking to something over a socket; and VSC cannot talk debugger protocol over a socket (remotely and in a supported way). And for local scenarios, it can't talk over stdin/out, because the user

[2018-09-13 18:29] DonJayamanne commented on #801
_From @karthiknadig on April 11, 2018 17:28_

If we move the socket connection from VSC-ptvsd to ptvsd-pydevd. Then we can have a out-of-proc python only adapter. I see it like the broker-RAU-RHost that we have in RTVS.

[2018-09-13 18:29] DonJayamanne commented on #801
_From @fabioz on June 27, 2018 17:20_

As a note, I've actually started creating a debug adapter with pydevd in pure python some time ago (before starting to work along ptvsd, so, that's paused for some time already) with a debug adapter on python (I've made a couple of blog posts related to it: http://pydev.blogspot.com/2018/05/howto-launch-and-debug-in-vscode-using.html / http://pydev.blogspot.c

[2018-09-13 18:29] DonJayamanne commented on #800
Related issue https://github.com/Microsoft/ptvsd/issues/801

[2018-09-14 05:16] karthiknadig opened #802 "Just-my-code: Anything not in site-packages should be treated as user code"

[2018-09-14 06:58] avnigo commented on #786
Regarding the folder structure, this issue occurs when the filepath of the .py being debugged is on a network drive (e.g. ‘\\global.arup.com’).

[2018-09-14 08:46] int19h commented on #200
API is probably a bit of a misnomer, since it's basically just a command line switch (or, alternatively, invoking `main`, passing the same arguments as `argv` parameter).

[2018-09-14 18:13] karthiknadig commented on #255
@int19h @huguesv Are we going to do this?

[2018-09-14 18:18] karthiknadig commented on #394
Is this still an issue?

[2018-09-14 19:58] karthiknadig commented on #497
Reopen if this continues to be a issue.

[2018-09-14 19:58] #497 closed

[2018-09-14 20:03] #534 closed

[2018-09-14 20:37] DonJayamanne commented on #394
Will test on Mac an let you know.
Please could you test on windows.

[2018-09-14 20:44] DonJayamanne commented on #394
confirmed, works on Mac using `nc -vz host_name port_number`

[2018-09-14 20:45] DonJayamanne commented on #394
Please don't move this to icebox, this is a crucial issue.
This lets users know whether PTVSD has started correctly.
Else when remote debugging fails, users will start scratching their heads trying to figure out what's wrong, this way users can test connectivity to the remote (ptvsd) socket.

[2018-09-14 20:45] DonJayamanne commented on #394
Once its been confirmed to work on Windows we can close this.

[2018-09-14 21:18] karthiknadig opened #803 "No handshake when connecting using telnet or other clients"
## Environment data

- PTVSD version: master
- OS and version: Windows
- Python version (& distribution if applicable, e.g. Anaconda): any
- Using VS Code or Visual Studio: N/A

## Actual behavior

Connecting to ptvsd via telnet dumps the wire messages.

## Expected  behavior

Should do VSC DAP handshake, before dumping messages.

## Steps to reproduce:
1. Start this application in python:
`python

[2018-09-14 21:35] karthiknadig commented on #602
@DonJayamanne This looks platform specific. Did not repo on windows. Does this still occur?

[2018-09-14 21:47] DonJayamanne commented on #602
No longer an issue

[2018-09-14 21:47] #602 closed

[2018-09-14 21:49] #791 closed

[2018-09-14 21:52] #792 closed

[2018-09-15 00:01] #200 closed

[2018-09-17 07:15] medariox opened #804 "AssertionError: Paths passed to _NormPaths must be str."
## Environment data

- PTVSD version: 4.1.1
- OS and version: Windows 10
- Python version (& distribution if applicable, e.g. Anaconda): 2.7.14
- Using VS Code or Visual Studio: VS Code

## Actual behavior
Starting the debugger spams the debug console with this exception:
[code]

## Expected  behavior
Don't raise the exception.

## Steps to reproduce:
This behaviour was introduced with PR https://

[2018-09-17 08:44] medariox opened #805 "Continue (F5) causes Could not find thread * if multi-threaded"
## Environment data

- PTVSD version: 4.1.1
- OS and version: Windows 10
- Python version (& distribution if applicable, e.g. Anaconda): 2.7.14
- Using VS Code or Visual Studio: VS Code

## Actual behavior
After the first breakpoint, it's not possible to continue to the next one (Continue (F5)).

## Expected  behavior
Continue to the next breakpoint.

## Steps to reproduce:
After applying fix http

[2018-09-17 12:04] fabioz commented on #804
Hi, thanks for the report...

Regarding the condition, unfortunately, it can't just be plainly removed (the filename must really be str on py2 and str on py3 because it'll be compared in other places with that type -- it's expected that `frame.f_code.co_filename` is `str`, even if you add a `from future import unicode_literals`).

So, what must be fixed is that the filename that gets there is real

[2018-09-17 13:15] medariox commented on #804
Thank you for the prompt reply!

Yes, we do indeed monkey-patch [quite a few](https://github.com/pymedusa/Medusa/blob/master/medusa/init/filesystem.py#L128-L130) `os.path` functions. We do that because Python 2 is incredibly inconsistent regarding what type (`str`/`unicode`) is returned by these functions. I have been using `ptvsd` for quite some time and never actually experienced any issues befo

[2018-09-17 13:54] fabioz commented on #804
Well, if you use only ascii chars everywhere, it should usually work on Py2 (because it automatically converts bytes<->unicode), but if you use non ascii chars for your files (or a folder which has your files), you'll have problems.

There are a number of `os.path` uses and the debugger expects to be able to use such basic machinery from Python (i.e.: https://github.com/Microsoft/ptvsd/search?q=os

[2018-09-17 17:51] #793 closed

[2018-09-17 20:30] karthiknadig opened #809 "Spec for sub-process debugging"
A one page spec for sub-process debugging

[2018-09-17 20:32] karthiknadig opened #810 "Sub-Process: monkey patch pydevd to start process using ptvsd"
Monkey patch `pydev_monkey.py` to start new processes using `ptvsd`. Ensure that the new process uses `--wait` feature.

[2018-09-17 20:44] karthiknadig opened #811 "Sub-Process: new socket server to receive pid and port for the new process"
Start a socket server in ptvsd to receive process id port. This may also be used to exchange GUID or other identifiers. Al;so, implement custom event that is sent to VSC about the new process.

[2018-09-17 20:45] karthiknadig opened #812 "Sub-Process: tests for child process using `python -c`"

[2018-09-17 21:04] #786 closed

[2018-09-17 22:31] huguesv opened #814 "Unhandled exception breaks on the wrong line in with block"
## Environment data

- PTVSD version: 4.1.2
- OS and version: Windows
- Python version (& distribution if applicable, e.g. Anaconda): Python 3.6 64-bit
- Using VS Code or Visual Studio: Visual Studio 2017 15.8

## Actual behavior

Debugger breaks on the last line of the with block ie `print('done')` line

## Expected  behavior

Debugger breaks on the line that causes the exception inside the with

[2018-09-18 12:09] SueMcMetzger opened #815 "Python debugger not working with breakpoints in Visual Studio Code"
I have very simple code. Can run Debug in both integrated and external terminal with expected results. However, the minute I set a breakpoint, I get an error indicating an IndexError that begins with this:
Traceback (most recent call last):
File "c:\Users\smcfarla.vscode\extensions\ms-python.python-2018.8.0\pythonFiles\experimental\ptvsd\ptvsd\wrapper.py", line 1254, in done
fut.result()
File "c:\

[2018-09-18 16:37] huguesv commented on #490
This works on 4.1.1 but no longer works on 4.1.2.

[2018-09-18 17:18] fabioz commented on #490
I'll take a look at it.

[2018-09-18 19:10] SueMcMetzger commented on #815
I realize this problem only happens when working on a networked drive. Is there a fix?

[2018-09-18 19:10] #815 closed

[2018-09-18 19:32] karthiknadig commented on #815
@SueMcMetzger This is the fix, https://github.com/Microsoft/ptvsd/commit/80dec2a423417d32a39294697fc368ac838edf41 it is in master.

[2018-09-18 20:34] karthiknadig opened #817 "test_path_names_uppercase_enabled fails"
[code]

[2018-09-18 20:54] medariox commented on #804
You are absolutely right and that's also all we do in our monkey-patched `os.path` functions. We make sure that the input is a byte string and as soon as we get the output we decode it to unicode, so that we can work with it in our (`from future import unicode_literals`) code without any issues. We do this to avoid having to convert every single `os.path` input + output in our code which, consider

[2018-09-18 21:40] #770 closed

[2018-09-18 22:06] #752 closed

[2018-09-19 06:02] DonJayamanne opened #819 "Verify remote debugging with multiple path mappings"
## Environment data

- VS Code version: Latest
- Extension version (available under the Extensions sidebar): Latest
- OS and version: Windows + Docker
- Python version (& distribution if applicable, e.g. Anaconda): XXX
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): N/A
- Relevant/affected Python packages and their versions: N/A

## Actual behavior

![image](https://use

[2018-09-19 17:36] karthiknadig opened #820 "Sub-process: Do not reuse port in child process"
Currently we allow re-use of ports in ptvsd by default. we should add a switch that turns off this feature.

[2018-09-19 18:34] int19h commented on #820
We will still need to use the option to avoid crashing processes hogging up the port. But it looks like it's all more complicated than just allowing reuse, and also varies by platform.

https://docs.microsoft.com/en-us/windows/desktop/winsock/using-so-reuseaddr-and-so-exclusiveaddruse

https://stackoverflow.com/a/14388707/111335

[2018-09-19 18:53] karthiknadig commented on #820
Let us use this work item to add the option to fail on address reuse. I will create another work item to refactor and properly set reuse for all supported platforms.

[2018-09-19 18:54] karthiknadig opened #821 "Refactor: Reuse socket as per requirements of various supported platform"
References:
https://docs.microsoft.com/en-us/windows/desktop/winsock/using-so-reuseaddr-and-so-exclusiveaddruse
https://stackoverflow.com/questions/14388706/socket-options-so-reuseaddr-and-so-reuseport-how-do-they-differ-do-they-mean-t/14388707#14388707

[2018-09-20 16:02] DonJayamanne opened #824 "Debug console is now outputting tabs as spaces"
## Environment data

- PTVSD version: Latest
- OS and version: Mac & Windows
- Python version (& distribution if applicable, e.g. Anaconda): N/A
- Using VS Code or Visual Studio:VSC

## Actual behavior

Tabs are converted into spaces when output is displayed in VS Code debugger output window.

## Expected  behavior

Tabs should not be replaced with spaces

## Steps to reproduce:
1. Debug the follo

[2018-09-20 16:04] DonJayamanne commented on #824
@karthiknadig 	@int19h
I won't be labelling the issues I create, this way its easier for your team to find issues that you haven't triaged and added appropriate labels.

[2018-09-20 16:22] DonJayamanne opened #825 "Variables not listed when debugging with pypy"
## Environment data

- PTVSD version: Latest
- OS and version: Tested and reported on Mac (**not verified on other OS**)
- Python version (& distribution if applicable, e.g. Anaconda): pypy
- Using VS Code or Visual Studio: VS Code

## Actual behavior

Variables & Watch window not working.
Evaluation of variables not working.

## Expected  behavior

Variables, watch window, debug console should be

[2018-09-20 16:24] DonJayamanne opened #826 "Return error messages in the response for a failed debugger protocol request"
I've found at least one case where a certain debugger protocol request fails and a failure response is sent back, however there's no additional information on the failure.
Ideally we should return some more information about the cause of the failure, some error message.
This should help diagnosing issues.

For reference see https://github.com/Microsoft/ptvsd/issues/825

[2018-09-20 16:28] fabioz commented on #825
Right now `pydevd` itself is not tested with `pypy`, so, I think that the first step here would be adding `pypy` as a new target in `pydevd` tests (should a new ticket be created for that?)

[2018-09-20 20:54] karthiknadig commented on #824
@int19h Looks like the XML parser in `wrapper.py` is replacing the `\t` with ` `. I am not able to find any setting for that.

[2018-09-20 20:55] IgorNovozhilov opened #828 "Breakpoints do not work when debugging on Python 3.3.5"
## Environment data

- VS Code version:
![image](https://user-images.githubusercontent.com/3082812/45803066-3e049d80-bcc1-11e8-985c-90f27fa1e15a.png)

- Extension version (available under the Extensions sidebar): 2018.8.0
- OS and version: win7 pro
- Python version (& distribution if applicable, e.g. Anaconda): 3.3.5 (32-bit)

## Actual behavior

Breakpoints do not work when debugging

## Steps to

[2018-09-20 20:55] IgorNovozhilov commented on #828
https://github.com/Microsoft/vscode-python/issues/2636

[2018-09-20 21:01] karthiknadig commented on #828
https://github.com/Microsoft/ptvsd/issues/210 Using this to track compatibility work for 3.1-3.3

[2018-09-20 21:01] #828 closed

[2018-09-20 21:59] int19h commented on #824
That's probably just standard XML whitespace normalization (if so, it should also collapse multiple spaces into single). I think it can be fixed by changing `Handler` in `untangle.py` and adding [`ignorableWhitespace`](https://docs.python.org/2/library/xml.sax.handler.html#xml.sax.handler.ContentHandler.ignorableWhitespace) method, that does the same thing as `characters` method.

[2018-09-20 22:02] int19h commented on #824
Actually no, that's not it - it doesn't collapse multiple spaces (or tabs).

[2018-09-20 22:12] int19h commented on #824
Oh, I see - it's because the text is passed as an attribute. And then [attribute value normalization](https://www.w3.org/TR/xml/#AVNormalize) applies.

This is technically a bug on pydevd side of things - it should escape significant tabs, just like it quotes newlines. The parser is doing the right thing here. That said, there might be some way to modify this behavior via `setFeature` - let me tak

[2018-09-21 01:28] #824 closed

[2018-09-21 06:06] IgorNovozhilov commented on #210
Hi! Are there any deadlines to support this functionality?

[2018-09-21 07:56] moguzalp opened #830 "VS code, appengine gusetbook app, debug hits sometimes depending on restart vs code"
## Environment data

- PTVSD version: 4.1.2
- OS and version: Windows 10
- Python version: 2.7
- Using VS Code

## Actual behavior

When I debug proj, google appengine sample project: guestbook, in terminal window in C:\Python27\Lib\site-packages\ptvsd at below method:

    def async_handler(m):
        """Converts a generator method into a fire-and-forget async one."""
        m = futures.wrap_as

[2018-09-24 09:06] int19h opened #831 "Refactoring: IPC-JSON"
The product itself and the test suite use two completely different implementations of IPC JSON protocol underlying DAP. This is partly because the product implementation is server-side-only, and the test implementation is client-side-only. Even so, it is mostly the same functionality, and there's no reason to implement it twice in such a radically different way. Furthermore, neither of those imple

[2018-09-24 09:11] int19h opened #832 "Test refactoring: high-level test framework"
We currently have several different micro-frameworks across the test suite, which share some code and duplicate the other. There needs to be a single micro-framework to write tests against ptvsd, with all tests uniformly using that framework. The framework should be pytest-based, and should abstract away lifecycle management in a way that makes it clear what the test is doing by looking solely at

[2018-09-24 09:11] int19h commented on #832
In particular, it should be possible to run thsame high-level test to be automatically in local launch, socket ("remote") attach, and PID ("local") attach scenarios, to detect bugs that are due to initialialization sequence between them - e.g. a breakpoint being hit immediately after socket attach, but not hit immediately after PID attach - without duplicating the test code.

[2018-09-24 09:15] int19h opened #833 "Test refactoring: functional tests"
We need more functional tests - i.e. those that test ptvsd as a black box (including pydevd) against the requirements imposed by clients such as VS and VSCode. This is partially reflected in the existing `system_tests` sub-suite, but there are many things missing there that should be ported from the corresponding VS and VSCode test suits.

[2018-09-24 09:16] int19h commented on #833
The initial step here is to look at VS and VSC Python test suites, and determine which tests in them don't have a ptvsd equivalent, or such equivalent is substandard. Then separate work items can be created to cover the specific tests that need porting.

[2018-09-24 17:57] karthiknadig commented on #831
I say this is priority. since we will need this for multi-proc IPC to send back pid/port etc...

[2018-09-24 20:28] #580 closed

[2018-09-24 20:29] #581 closed

[2018-09-24 20:30] karthiknadig commented on #809
This is done.

[2018-09-24 20:30] #809 closed

[2018-09-24 21:39] karthiknadig opened #834 "Add pypy as a test target for ptvsd"

[2018-09-24 21:39] karthiknadig opened #835 "Add pypy as a test target for pydevd"

[2018-09-24 21:39] karthiknadig opened #836 "Add pypy as a test target"

[2018-09-24 21:41] karthiknadig commented on #825
Created  https://github.com/microsoft/ptvsd/issues/835 to track test target work item.

Additional info about this bug:
Looks like Get frame fails with `Frame not found: 56715728 from thread: pid_18684_id_46712688`

[2018-09-25 00:03] sutt opened #837 "Debug 25x slower after one Pause+Continue"
## Environment data

- PTVSD version: 4.1.1
- OS and version: Win10 Pro v1803
- Python version (& distribution if applicable, e.g. Anaconda): Python 2.7.13 (v2.7.13:a06454b1afa1, Dec 17 2016, 20:42:59) [MSC v.1500 32 bit (Intel)] on win32
- Using VS Code or Visual Studio: VSCode 1.27.2

## Actual behavior

After Pause (F6), then Continue (F5) in debugger, operations proceed 25x slower (from 0.25 s

[2018-09-25 01:17] karthiknadig commented on #210
@IgorNovozhilov No, this is not planned for the near future. Sorry.

[2018-09-25 12:06] madig commented on #766
Can this fix be funneled into a hotfix of sorts? I can't debug stuff in VSCode otherwise... Otherwise, any workarounds?

[2018-09-25 12:09] madig commented on #766
I'm facing this error in VSCode 1.27.2, Python extension 2018.8.0, Python 3.6.5. When will the fix land? Any workarounds until then?

[2018-09-25 14:02] fabioz commented on #766
@madig One option may be applying that change locally to have it working -- specifically the change in `pydevd.py` in (https://github.com/fabioz/ptvsd/commit/8c1acdf646611509dbece3a348071fa553a35cdc).

You create a program/execute it in debug mode with the contents:

[code]

to know the location of that file locally.

[2018-09-25 14:35] fabioz commented on #837
Will take a look at this.

[2018-09-25 15:08] fabioz commented on #837
Reported a bug against CPython for this: https://bugs.python.org/issue34799

I also found a workaround, so, I'll provide a pull request to fix that.

[2018-09-25 16:47] huguesv opened #840 "Using sys.exit() with no arguments causes TypeError inside ptvsd"
## Environment data

- PTVSD version: 4.1.3
- OS and version: Windows 10
- Python version (& distribution if applicable, e.g. Anaconda): 3.6
- Using VS Code or Visual Studio: VS

## Actual behavior

[code]

## Expected  behavior

No error

## Steps to reproduce:
1. Debug this code:

[code]

https://docs.python.org/3/library/sys.html#sys.exit

[2018-09-25 16:53] huguesv opened #841 "BreakOnSystemExitZero debug option is not respected"
## Environment data

- PTVSD version: 4.1.3
- OS and version: Windows 10
- Python version (& distribution if applicable, e.g. Anaconda): 3.6
- Using VS Code or Visual Studio: VS

## Actual behavior

Debugger breaks on `sys.exit(0)` even when the option to break on zero is disabled:

![image](https://user-images.githubusercontent.com/1696845/46029474-60732e00-c0a8-11e8-8ce4-88ab0dc8008f.png)

## Ex

[2018-09-25 17:38] huguesv commented on #841
VSC may not have a way to set this option, but when using VSC with the old ptvsd, it was not breaking on sys.exit(0) and now it is breaking on it with new ptvsd.

[2018-09-25 17:40] karthiknadig commented on #841
/cc @DonJayamanne

[2018-09-25 19:39] karthiknadig commented on #802
Found an issue with Mac 3.7 specifically. Waiting for VSTS CI to be fixed to continue working on this.

[2018-09-25 21:08] karthiknadig commented on #820
This was a issue specific to windows. We decided to use SO_EXCLUSIVEADDRUSE on windows to fix this.

[2018-09-26 01:17] #814 closed

[2018-09-26 07:25] karthiknadig opened #845 "UnicodeDecodeError in Python 2.7 prevents debugging"
## Environment data

- PTVSD version: master
- OS and version: windows
- Python version (& distribution if applicable, e.g. Anaconda): 2.7
- Using VS Code or Visual Studio: VS

## Actual behavior

Debugging fails with this error:
[code]

## Expected  behavior

Should not fail with `UnicodeDecodeError`

Bug report: https://developercommunity.visualstudio.com/content/problem/332784/vs-python-%E9%A1%

[2018-09-26 07:31] #840 closed

[2018-09-26 08:06] #820 closed

[2018-09-26 18:13] karthiknadig opened #846 "Attach to pid fails to attach in 3.7"
## Environment data

- PTVSD version: master
- OS and version: windows
- Python version (& distribution if applicable, e.g. Anaconda): 3.7
- Using VS Code or Visual Studio: VSC

## Actual behavior

Follow error message is shown:
[code]

## Expected  behavior

Should attach.

## Steps to reproduce:
1. Use this test code, `test.py`:
[code]
2. Open command prompt and run test code: `C:\Python37\pytho

[2018-09-26 18:14] karthiknadig opened #847 "Tests for local attach using pid"

[2018-09-26 18:37] fabioz commented on #846
Attach to process needs support for Python 3.7 (please assign to me to add it).

[2018-09-26 18:59] DonJayamanne opened #848 "Error "No module named ptvsd.__main__" with ptvsd version greater than 4.1.1"
## Environment data

- PTVSD version: 4.1.1
- OS and version: Windows 10
- Python version (& distribution if applicable, e.g. Anaconda): 2.7
- Using VS Code or Visual Studio: VS Code

## Actual behavior

After upgrading ptvsd to 4.1.2 or 4.1.3, getting below error when I try to debug any Python file.
C:\Python27\python.exe: No module named ptvsd.main; 'ptvsd' is a package and cannot be directly ex

[2018-09-26 20:51] karthiknadig opened #849 "Add tests for long file paths in windows"
Add test cases for file paths starting with `\\?\`

[2018-09-26 21:47] #789 closed

[2018-09-26 21:49] #645 closed

[2018-09-26 23:09] karthiknadig commented on #819
Verified that this works.

[2018-09-26 23:09] #819 closed

[2018-09-27 06:41] karthiknadig opened #851 "Add test to ensure exclusive socket address and port usage"
We use SO_REUSEADDR on linux/mac and SO_EXCLUSIVEADDRUSE on windows. when creating a socket. This test should ensure that on all supported platforms two processes cannot bind to same port and address.

NOTE: using SO_REUSEADDR on windows allows two process to bind to same address+port.

[2018-09-27 06:45] karthiknadig opened #852 "sub-process: Add command line switch to pass parent process port"
May also pass additional information TBD.

[2018-09-27 07:36] #831 closed

[2018-09-27 16:23] huguesv opened #853 "Undefined variable error in breakpoint condition on for line"
## Environment data

- PTVSD version: 4.1.3
- OS and version: Windows 10
- Python version (& distribution if applicable, e.g. Anaconda): 3.6
- Using VS Code or Visual Studio: VS

## Actual behavior

Undefined variable error, breakpoint never hit
[code]

## Expected  behavior

Undefined variable error ignored and breakpoint hit once it is defined. That was the behavior in ptvsd 3.x.

## Steps to re

[2018-09-27 16:38] DonJayamanne commented on #503
Why is this in an icebox? I don't think it belongs in there.

[2018-09-27 17:46] karthiknadig commented on #503
We have to discus how this should be handled now given that VSC will be able to connect to individual sub-processes.
@int19h Do you think the ownership to kill child processes should be on parent process? what if the subprocess is expected to run even after parent process is killed? is this behavior different between no-debug and debug modes?

[2018-09-27 17:56] int19h commented on #503
I don't think we can do anything here other than let the user code decide. Anything else will break some user scenario or the other - as you say, sometimes those child processes really are meant to be independent.

[2018-09-27 18:05] karthiknadig opened #854 "Some Mac site-package locations are not treated as library by the debugger"
For example, this location is not treated as library by `pydevd` in Python 3.7:
`/Users/vsts/Library/Python/3.7/lib/python/site-packages`

NOTE: To reproduce this issue with ptvsd. Remove the line in `wrapper.py` where we set project root (look for CMD_SET_PROJECT_ROOTS). Then run the pollowing test on Mac python 3.7
[code]

For reference, these are the sys.path values from our CI environment:
[co

[2018-09-27 18:06] #826 closed

[2018-09-27 18:36] karthiknadig commented on #832
This is required refactoring needed to simplify tests, debugging of tests, and overall stability going forward. Currently we have to fight with the infrastructure to identify issues in the product code.

[2018-09-27 22:06] DonJayamanne commented on #503
Sounds like we need a spec @qubitron /cc

[2018-09-27 22:27] DonJayamanne commented on #691
@karthiknadig Why is this in the icebox.
We need this for VS Code (https://github.com/Microsoft/vscode-python/issues/2493)

[2018-09-27 22:38] karthiknadig commented on #691
We had discussed offline that this by itself is not a good solution.
* First, there is no fallback mechanism, i.e, we either use `pathMappings` or use source reference. There is no middle ground. So we need to a spec for this.
* Second, If we want to use auto detection we may have to spec it another way. The original idea was to go up the directory chain till we find a dir with no `__init__.py`, a

[2018-09-27 22:52] karthiknadig commented on #691
A thing that we could do is treat remote current directory as the root. For this VSC would always pass `pathMappings` on attach with `"localRoot": ${workspacefolder}, "remoteRoot": "."'`. On the debugger side we convert '.' to absolute path and set the mappings in `pydevd`. This should work for for common cases. It is simpler to implement.

Downsides: No fallback (no different than current situati

[2018-09-28 15:00] sutt commented on #837
Thank you. I'll verify in next release.

[2018-09-28 17:09] andyneff commented on #690
@karthiknadig do you know of any work around to achieve post-mortem debugging?

I tried the following, but I don't think `_pydevd_settrace` is designed to work this way

[code]

I use similar code with other python debuggers to start post mortem on error

[2018-09-28 18:00] karthiknadig commented on #503
I am adding this to sub-process debugging epic.
@int19h, @DonJayamanne One way i think we can do this is, if this was a sub-process launch, we always kill the process on disconnect. we can detect this with the presence of the parent process port and public key etc.. Those should only be used in sub-process scenario.

[2018-09-28 18:27] karthiknadig commented on #690
@andyneff Are you calling `ptvsd.enable_attach` some where else? `wait_for_attach` will block until you attach from with VS/VSC. Also `enable_attach` does not let you pass arguments to _pydevd_settrace (see `attach_server.py`) you may have to edit that to allow passing the args. I am curious, if it will work after making the recommended changes, let me know.

As for whether `_pydevd_settrace` work

[2018-09-28 18:42] andyneff commented on #690
Yes, I was. I forgot to include that in the snippet. **Updated**

[2018-09-28 19:04] fabioz commented on #690
@andyneff as @karthiknadig said, in ptvsd you need 2 calls to attach: `ptvsd.enable_attach()` and `ptvsd.wait_for_attach` afterwards (it's a bit different from plain `pydevd` where a single call would do both).

Now, after it's attached, what you're trying to do won't work well because the debugger won't actually enter that frame (so, it won't pause where you want it to pause) and right now there'

[2018-09-28 19:57] DonJayamanne commented on #802
@karthiknadig Please have a look at https://github.com/Microsoft/vscode-python/issues/2087#issuecomment-425528613 for future enhancements.

[2018-09-28 22:34] karthiknadig opened #856 "subprocess: add option to select port from a given range"
This option is internal and will be used by sub-processes only.

[2018-09-28 22:38] DonJayamanne commented on #856
What's the default Port range if not specified?

[2018-09-28 22:42] karthiknadig commented on #856
@DonJayamanne This is TBD.

[2018-09-28 23:50] int19h commented on #856
It should be the [ephemeral port range](https://en.wikipedia.org/wiki/Ephemeral_port#Range).

[2018-09-29 17:33] DonJayamanne commented on #856
Here's a use case, that would make this option external (not only internal).
* Use starts debugging in docker
* Ports 5000-5050 are mapped out
* Debugger starts on 5000
* The subprocess should probably start on 5001 (using the previous Port).

If the Port is not predictable, then we cannot attach to the sun process if it's not in a mapped range.
Sure user could map everything, but that's not alway

[2018-09-29 18:10] int19h commented on #856
I think there was supposed to be a distinction between "range of ports *this* process should pick a random port from" (i.e. a new option that basically replaces `--port` when it's used - this is what this item is for), and "range of ports this process should tell the *child* processes to pick their ports from" (this is the one that's needed in your scenario).

The problem with conflating the two i

[2018-10-01 13:46] avirlrma commented on #821
Hey @karthiknadig, Can I take a shot at this one?  P.S. I am new here and would require a bit of mentoring.
Thanks

[2018-10-01 17:33] andyneff commented on #846
This also fails the exact same way in python 3.6.6. Is this a separate issue?

[2018-10-01 17:43] karthiknadig commented on #821
@avirlrma I would not recommend this one. There are several issues in the 'icebox' pipeline that you could try. You have to install 'ZenHub for GitHub' extension to see them.

[2018-10-01 18:31] karthiknadig opened #858 "subprocess: Encrypted IPC"
This is for the communication that we will use between parent and child process. We should do this as a separate workitem. Since this may involve getting a new library vendored.

Possibly: https://pypi.org/project/rsa

[2018-10-01 20:35] karthiknadig opened #859 "Update contributing and code of conduct"
Currently code of conduct and contribution info is in README. Add individual github files for them.

[2018-10-01 21:28] avirlrma commented on #821
will do and  thanks for the info

[2018-10-01 21:29] #832 closed

[2018-10-02 01:16] #859 closed

[2018-10-02 06:56] abhinuvpitale commented on #845
The input should be checked and there should be exception handling here, I can take this up!

[2018-10-02 11:46] fabioz commented on #846
This one is only to track the issue with python 3.7 on Windows.

The issue with python 3.6 on Linux seems to be something different (so, please create a separate report).

[2018-10-02 15:08] fabioz commented on #805
Ok, I took a look at this and what's happening is the following:

- all threads are paused (first break)
- a continue is issued -- at this point, it will mark all threads to be run, but they aren't really running (they're just marked to run).
- one of those threads starts running, hits a breakpoint and pauses all existing threads -- at this point, other threads didn't get a chance to run at all, s

[2018-10-02 17:15] andyneff opened #863 "Attach to pid fails on Linux"
## Environment data

- PTVSD version: 4.1.3
- OS and version: Fedora 28 and Debian 9
- Python version (& distribution if applicable, e.g. Anaconda): 2.7.15, 3.6.6, 3.7.0
- Using VS Code or Visual Studio: VS Code, but not even connected at this point

## Actual behavior

1. `pipenv run python -m ptvsd --port 5678 --host localhost --pid 25226`

### Python 2.7 Fedora 28 host and Fedora 28 docker

[co

[2018-10-02 18:19] karthiknadig opened #865 "Connection*Error in JsonMessageChannel worker should be handled in _process_incoming_messages"
## Environment data

- PTVSD version: master
- OS and version: windows
- Python version (& distribution if applicable, e.g. Anaconda): 3.7
- Using VS Code or Visual Studio: Any

## Actual behavior

When using JsonMessageChannel on server side, if clinet closes connection without calling socket.shutdown the worker thread raises this exception and fails.
[code]

## Expected  behavior

Should not cra

[2018-10-02 23:29] int19h commented on #856
The implementation of #862 makes this redundant, since we're passing the port range to child subprocesses via code injection. The PR for that issue takes care of everything discussed above.

[2018-10-03 12:01] #810 closed

[2018-10-03 12:03] int19h commented on #852
Not necessary anymore due to how #810 is implemented - the child process can get the info needed to connect to the parent directly via code injection.

[2018-10-03 12:03] #852 closed

[2018-10-03 18:18] int19h opened #867 "--wait doesn't wait"
`--wait` is supposed to make ptvsd wait until a connection comes in before running user code; but it doesn't do that anymore.

[2018-10-03 18:33] karthiknadig commented on #805
VSC UI sees them as running because we return `allThreadsContinued` as a response for `continue` request. That can be fixed if we send `allThreadsStopped` as a part of the thread suspended event. Currently we do this only for VS and not for VSC. The issue here seems to be with bookkeeping in pydevd itself.

@medariox can you provide the code where this issue repros, along with line where you set t

[2018-10-03 18:35] karthiknadig opened #868 "subprocess: port ranges should be settable via debug options"

[2018-10-03 18:40] karthiknadig opened #869 "Stop on entry stops in stdlib in Mac"
## Environment data

- PTVSD version: master
- OS and version: Mac
- Python version (& distribution if applicable, e.g. Anaconda): 3.7
- Using VS Code or Visual Studio: VSC

## Actual behavior

@DonJayamanne Created this to track the potential issue that you mentioned. Can you provide details on where it actually stops? Also, please change any of environment data if it is wrong.

## Expected  beha

[2018-10-03 23:15] brettcannon opened #870 "Send variable details so variable window doesn't collapse them while stepping"
Microsoft/vscode-python#645

[2018-10-04 01:03] karthiknadig commented on #870
ptvsd has no information about the state of the variable window. There is no debug adapter message support for such a thing. This does not feel a issue that can be fixed on the python side of things.

[2018-10-04 01:19] DonJayamanne opened #872 "Multi Process debugging requirements"
x

[2018-10-04 01:19] #872 closed, assigned to nobody

[2018-10-04 06:38] IgorNovozhilov commented on #828
I don't know if this solves all the compatibility issues for this issue #210.
But with this fix, this problem is solved, and I was able to fully debug my code in Python version 3.3.5

Fix debugging on Python 3.3.5 #873

PS: [PEP 366 -- Main module explicit relative imports / Proposed Change](https://www.python.org/dev/peps/pep-0366/#id11)

When launched from the console, the attributes are equal "

[2018-10-04 09:09] alexander-pastukhov opened #874 "Watch window freezes the system when Name contains non-ASCII symbols"
## Environment data

- PTVSD version: 15.8.18241.1
- OS and version: Windows 10 Enterprise LTSB 2016 - 64 bit
- Python version (& distribution if applicable, e.g. Anaconda): Python 2.7
- Using VS Code or Visual Studio: Visual Studio Community 2017 15.8.6 (VisualStudio.15.Release/15.8.6+28010.2041)

## Actual behavior

When a non-ASCII symbol (e.g., Ä or Д) is entered in the Name in the Watch windo

[2018-10-04 13:35] fabioz commented on #870
@karthiknadig from https://github.com/Microsoft/vscode/issues/32199#issuecomment-321597173, it seems that this is really from ptvsd... I haven't checked, but I know ptvsd does some translations back and forth from the `pydevd` structure to what the debug adapter expects -- is it possible that new ids are being generated instead of keeping an existing id in place for the frame or variables?

[2018-10-04 16:34] karthiknadig commented on #870
@fabioz That is a good suggestion. We do update the ids for frames and variables. That is something we can fix.

[2018-10-04 17:52] fabioz commented on #853
A question: should all errors be silenced or just name errors?

[2018-10-04 18:13] karthiknadig opened #875 "pyfile adds an additional new line in every line of code"
## Environment data

- PTVSD version: master
- OS and version: any
- Python version (& distribution if applicable, e.g. Anaconda): 3.6
- Using VS Code or Visual Studio:

## Actual behavior

code:
[code]
The file generated by pyfile, `foo.py`:
[code]

## Expected  behavior

The file generated by pyfile, `foo.py`:
[code]

Having the extra blank lines makes it confusing to set breakpoints in tests.

[2018-10-04 21:33] #811 closed

[2018-10-04 23:07] int19h opened #878 "Propagate parent process information in child process events"
When multiproc debugging is on, the `ptvsd_subprocess` event should include parent process info when notifying the IDE.

This should include parent process ID, and any launch/attach arguments.

[2018-10-05 17:28] DonJayamanne opened #880 "Instructions to log everything to diagnoze PTSVD"
I'm trying to diagnose a debugger issue https://github.com/Microsoft/vscode-python/issues/2732#issuecomment-427437573 in VSC Python.
From what we can tell this is isolated to Anaconda distro.

The problem is simple:
* PTVSD does not connect to the debug adapter host
* Its specific to Anaconda.

We have the logs for the JSON comms, and there's nothing in there.
Please could you provide the instruct

[2018-10-05 19:55] karthiknadig commented on #854
Need to verify if this is fixed

[2018-10-05 22:44] fabioz commented on #853
@karthiknadig this one needs additional integration work (which was removed because of failing ptvsd tests).

[2018-10-06 12:53] rozuur commented on #875
Can I work on fixing this?

[2018-10-07 05:16] #875 closed

[2018-10-07 09:52] #878 closed

[2018-10-08 22:10] karthiknadig commented on #853
@fabioz with the fix, i don't see `NameError` but the break point does not hit after `i` gets defined.

[2018-10-08 23:16] karthiknadig commented on #880
Setting environment variable `PTVSD_DEBUG` to `1` gives some info. I think the log-file option is broken, it is not passed all the way through.
/cc @int19h

@fabioz any suggestion on logging from `pydevd`?

[2018-10-08 23:18] DonJayamanne commented on #880
PTVSD_DEBUG should be sufficient for now. Thanks

[2018-10-09 03:20] karthiknadig commented on #854
Verified.

[2018-10-09 03:20] #854 closed

[2018-10-09 10:41] int19h opened #885 "subprocess: support Django and Flask"
The current implementation only support `python -c`. It needs to be changed to use a different pydevd hook to also support running Python files and modules, which is the mode used by Django and Flask.

[2018-10-09 16:36] int19h commented on #868
This is needed for multiproc to be supported in attach scenarios.

[2018-10-09 16:36] int19h commented on #856
Turns out this is needed after all; see #885.

[2018-10-09 16:46] int19h opened #886 "ptvsd command line should support the equivalent of python -c"
Python supports three ways to start running code non-interactively:

- python file.py
- python -m module
- python -c "python code"

ptvsd currently supports the first two, but not the last one. Implementing it will greatly simply the implementation of command line rewriting for #885. It will also make ptvsd more consistent wrt standard Python command line options.

[2018-10-09 16:49] int19h opened #887 "subprocess: command line rewriting"
Detour `pydevd_monkey.patch_args` and construct the appropriate ptvsd command line from a given Python command line.

[2018-10-09 16:51] int19h commented on #885
When running in multiprocess mode, pydevd rewrites the command line of the started process if it is invoking the Python interpreter. As part of that rewrite, it calls `_get_python_c_args`, which is what ptvsd detours to set itself up. However, that function only gets called when the child process is started with `python -c` (i.e. a code blurb, not file or module). When child processes are launched

[2018-10-09 16:54] DonJayamanne commented on #887
Fortunately there are plenty of unit tests in `pydevd` that we should be able to use to ensure we get the desired output.

[2018-10-09 17:47] karthiknadig opened #889 "Support for pyside2"

[2018-10-09 18:37] karthiknadig commented on #804
Closing this for now. Please re-open if needed.

[2018-10-09 18:37] #804 closed

[2018-10-09 18:44] karthiknadig opened #890 "Provide option to enable logging"
Enable logging in `ptvsd`, and we should be able to set the log-level from `None` to `Verbose`. This should allow us to log to file.

[2018-10-09 18:47] karthiknadig opened #891 "subprocess: tests for Django/Flask"

[2018-10-09 18:48] karthiknadig opened #892 "subprocess: tests for subprocess or multiprocess libraries"

[2018-10-09 19:03] karthiknadig commented on #885
I added these issues to the subprocess epic that is tracking Django and Flask. I will close this and we can track this there.

[2018-10-09 19:03] #885 closed

[2018-10-09 23:39] int19h opened #894 "Race condition in JsonMessageChannel"
[code]
Note that the message is sent before the requests dict is updated. If it goes fast enough, the response handler will receive a response to an "unknown" request.

[2018-10-09 23:39] int19h commented on #894
Caused this test failure.
https://ptvsd.visualstudio.com/ptvsd/_build/results?buildId=862&view=logs

[2018-10-10 00:49] #894 closed

[2018-10-10 03:35] DonJayamanne opened #896 "Changes in CLI arguments between versions"
## Environment data

- PTVSD version: 4.1.3
- Using VS Code or Visual Studio: N/A

## Actual behavior

* CLI args for starting apps for remote debugging has changed
* Now the arg requires `--server-host`, this wasn't the case in the past.
* This is a breaking change.

## Expected  behavior

* We need to revert if possible as existing users will not be able to use PTSVD for remote debugging scenari

[2018-10-10 03:36] DonJayamanne commented on #896
Please feel free to change the Priority label.

[2018-10-10 03:54] jarshwah commented on #896
FWIW I think the `--server-host` came in on the previous version? I could not get remote debugging working with 2018.8.0 / 4.1.2, and specifically waited for these combination of versions to work again, so please don't just revert if you can manage it.

[2018-10-10 03:56] DonJayamanne commented on #896
No decision had been made yet.

[2018-10-10 17:34] #889 closed

[2018-10-10 17:34] karthiknadig commented on #889
Via #888

[2018-10-10 17:35] #853 closed

[2018-10-10 22:22] karthiknadig commented on #799
This is a related issue that has to be addressed. https://github.com/Microsoft/ptvsd/issues/530

[2018-10-10 22:38] karthiknadig commented on #812
@int19h We have the test for this scenario right?

[2018-10-10 22:39] karthiknadig commented on #865
@int19h This is fixed right?

[2018-10-10 23:29] int19h commented on #812
We don't as yet, but I already made one. It's going to be a part of  #886 PR that's coming shortly.

[2018-10-10 23:30] int19h commented on #865
Yep!

[2018-10-10 23:30] #865 closed

[2018-10-10 23:38] int19h opened #898 "Improve test timeout handling on Windows"
On Windows, when a test times out, pytest-timeout kills the entire test process (because it can't shut things down with signals), so further tests aren't run at all. This is very vexing for automated runs, especially since "waiting for a ptvsd message that never came" is a fairly common failure mode when tests fail.

I think it is possible to implement a "soft" timeout scheme, that would basically

[2018-10-11 17:05] d3r3kk opened #905 "User cannot update local variables' values in runtime"
## Environment data

- PTVSD version: 4.1.3
- OS and version: Ubuntu 18.04 & Windows 10
- Python version (& distribution if applicable, e.g. Anaconda): 3.7, 3.6.5
- Using VS Code or Visual Studio: VSCode (insiders and stable), vscode-python 2018.9.0.

## Details

See Microsoft/vscode-python#2859

[2018-10-11 17:48] karthiknadig commented on #905
This was a issue in VSC.

[2018-10-11 17:48] #905 closed

[2018-10-11 17:53] karthiknadig commented on #870
I am converting this to a tacking bug. We need to make two separate set of changes, to get this working correctly.

[2018-10-11 17:54] karthiknadig opened #906 "Use pydevd frame id's instead of generating frame ids"
Currently we generate frame ids that we send back to the IDE. We keep a map in the debugger. This causes issues when stepping in the IDE, where at each step the variables window will collapse expanded variables.

[2018-10-11 17:57] karthiknadig opened #907 "Do not regenerate `variablesReference` for the same variable"
Currently we create a new `variablesReference` each time we receive a `variables` request. This creates issues while stepping where any expanded container variable will collapse.

[2018-10-11 18:20] karthiknadig opened #908 "Integrate fix for #805 into ptvsd"
Include the fix for #805

[2018-10-11 18:30] karthiknadig commented on #869
@DonJayamanne Does this repro with `ptvsd` master?

[2018-10-11 18:41] karthiknadig commented on #845
Fixed via #884 . this code path is no longer needed.

[2018-10-11 18:41] #845 closed

[2018-10-11 21:01] #886 closed

[2018-10-12 18:32] DonJayamanne commented on #869
Works now, thanks

[2018-10-12 18:32] #869 closed

[2018-10-12 19:52] karthiknadig commented on #906
See #910 for the fix that preserves frame ids. Using pydevd frame ids will allows us to remove some of the bookkeeping that we do. This is not necessary to fix the collapsed variables issue.

[2018-10-12 20:05] huguesv opened #912 "Use SIO_LOOPBACK_FAST_PATH"
Python 3.6 adds the SIO_LOOPBACK_FAST_PATH flag for sockets, which dramatically increases the bandwidth for loopback connections (I got >4x on my machine with the test code on the linked issue).

We should enable this flag where possible in our debugger. The functionality has existed since Windows 8, but using it on earlier OSs may cause an exception. It is safe to use if the socket eventually get

[2018-10-13 03:33] int19h commented on #856
Since the first iteration for this feature is not going to have an explicitly specifiable port range, this is (again) not necessary.

[2018-10-13 03:33] #856 closed

[2018-10-13 07:51] #851 closed

[2018-10-13 07:52] #870 closed

[2018-10-13 08:52] karthiknadig commented on #907
Fixed via #910

[2018-10-13 08:52] #907 closed

[2018-10-14 08:15] int19h opened #914 "Editing variable values does not work"
Try editing any variable value. Instead of updating the value, the new value shows as:
[code]

Looking at debug output, it fails because variable name is missing from the assignment:
[code]

(it should read someting like `\nx = 1234`)

[2018-10-14 08:18] int19h opened #915 "Attach session fetches source files even when it's local"
When using attach to connect to a local-running process, VSC insists on fetching the source of any file in which a breakpoint is hit, and display it in a separate tab from the same file being already opened in the editor. E.g. suppose I have a Flask app in C:\Temp\fltest. I open C:\Temp\fltest\app.py in the editor, and set a breakpoint somewhere, then cause it to be hit. VSC opens a new tab titled

[2018-10-14 08:34] karthiknadig commented on #915
We currently require users to provide path-mappings in attach scenario (local or remote). We have a bug open to provide a better way to auto map, and use source retrievals as a fallback.

[2018-10-14 08:35] #914 closed

[2018-10-15 04:01] aadithpm commented on #890
Hey, can I try my hand at this? I'm relatively new to contributing to big projects, but would love to contribute. If so, some information on where I can get started and what I should be doing would be great!

[2018-10-15 04:15] #887 closed

[2018-10-15 12:34] showgood163 opened #918 "Request: ipv6 address support"
## Environment data

- PTVSD version: 4.1.3
- OS and version: arch linux
- Python version (& distribution if applicable, e.g. Anaconda): 3.7.0
- Using VS Code or Visual Studio: VS Code

## Actual behavior

feed the ptvsd.enable_attach with ipv6 address using the code below

[code]

and causes error

[code]

## Expected  behavior

everything works fine

## Steps to reproduce:

as said above

[2018-10-15 18:55] perlun opened #919 "Core dump when Python VSCode debugger is attached"
(This was originally reported as https://bugs.python.org/issue34870 but I was requested to redirect it here, so here I am.)

My code has recently started triggering a core dump in the Python executable when the VSCode debugger is attached. This doesn't happen right away; it seems to happen more or less _after_ the program is done executing (I just placed a breakpoint and stepped it through success

[2018-10-15 20:38] karthiknadig commented on #704
@int19h now that we have `-c` this should be supported right?

[2018-10-15 21:18] int19h commented on #704
Not quite. You can pass code to `-c`, but you wouldn't be able to set breakpoints in it (since it doesn't have a filename for a breakpoint to match). And if you pause, the IDE won't be able to show the source code, since it doesn't know where to get that from.

Now, if that code runs something that *is* in a file, then you can debug that file normally. Or if you manually specify the filename when

[2018-10-15 21:32] karthiknadig opened #920 "Exception when typing in the Debug Console"
## Environment data

- PTVSD version: 4.1.3
- OS and version: Windows
- Python version (& distribution if applicable, e.g. Anaconda): Anaconda 4.5.11 (py == 3.6.6)
- Using VS Code or Visual Studio: conda

See https://github.com/Microsoft/vscode-python/issues/2860 for more details

[2018-10-16 15:48] Zeroji opened #921 "Double dash in program arguments gets caught and crashes pydevd"
## Environment data

- PTVSD version: 4.1.3
- OS and version: Linux Mint 19
- Python version (& distribution if applicable, e.g. Anaconda): 3.7.0
- Using VS Code or Visual Studio: 1.28.1

## Actual behavior

Using a Python configuration with `--` in the `args` field (`launch.json`) causes `pydevd` to crash:

[code]

After some investigation, [this part of argument handling][run_argv_code] is part

[2018-10-16 19:53] huguesv opened #923 "AttributeError: 'thread' has no attribute 'frame'"
## Environment data

- PTVSD version: 4.1.3, also tested master branch
- OS and version: Windows
- Python version (& distribution if applicable, e.g. Anaconda): Python 2.7, django 1.11.6
- Using VS Code or Visual Studio: VS

## Actual behavior

Does stop break on template breakpoint
Console output:
[code]

## Expected  behavior

Stop at breakpoint

## Steps to reproduce:
1. New project, Django Web

[2018-10-16 21:29] karthiknadig commented on #896
Verify using this branch `v4.1.4-branch`

[2018-10-16 21:36] DonJayamanne commented on #896
Oops, tested there too, no luck.
Have to use `--host 0.0.0.0` for it to work.

[2018-10-16 21:41] DonJayamanne opened #924 "Debugger stops working when hitting pause|continue multiple times in quick successions"
## Environment data

- PTVSD version: Master
- OS and version: Mac
- Python version (& distribution if applicable, e.g. Anaconda): 3.7
- Using VS Code or Visual Studio: VCS

## Actual behavior

* Hit the pause|continue button number of times in quick succession.
* Debugger UI indicates the program is running.
* But code has paused (no more output).

## Expected  behavior

Should work

## Steps to

[2018-10-16 21:50] fabioz commented on #924
This is being addressed on #805.

[2018-10-16 22:15] int19h opened #925 "Make --host a required switch"
`--host` is currently optional, and defaults to `localhost`. The old behavior was to default to `0.0.0.0`, which is not a particularly sane default. However, the new default makes things confusing, since it is applied silently - things just work differently. Changing the switch to be explicit solves that problem, while also forcing the user to consider the security implications of either choice.

[2018-10-17 00:18] DonJayamanne opened #927 "Broken pipe error when debugging Multi-proc app"
## Environment data

- PTVSD version: Master
- OS and version: Mac
- Python version (& distribution if applicable, e.g. Anaconda): 3.7
- Using VS Code or Visual Studio:VSC

## Actual behavior

Got an error

## Expected  behavior

No errors

## Steps to reproduce:
1. Start python program as follows:
`python -m ptvsd --multiprocess --port 9898 --server-host 0.0.0.0 --wait multiProcDbg.py`

2. Attach

[2018-10-17 00:51] int19h commented on #927
Can you remind me if this error occurred before you added `set_start_method('spawn')`?

[2018-10-17 02:22] karthiknadig opened #928 "Test does not clean up sub-processes when the test fails"
## Environment data

- PTVSD version: master
- OS and version: windows
- Python version (& distribution if applicable, e.g. Anaconda): 3.7
- Using VS Code or Visual Studio: console

## Actual behavior

Test does not kill sub-processes
![image](https://user-images.githubusercontent.com/3840081/47058079-48a73b00-d178-11e8-8fc9-b258cf596ad9.png)

## Expected  behavior

All processes created during te

[2018-10-17 02:35] DonJayamanne commented on #927
No it was after

[2018-10-17 02:56] karthiknadig opened #929 "Exception seen occasionally while running `pytest` tests"
## Environment data

- PTVSD version: master
- OS and version: linux
- Python version (& distribution if applicable, e.g. Anaconda): 3.5
- Using VS Code or Visual Studio: console

Exception seen while running tests:
[code]

[2018-10-17 16:09] DonJayamanne commented on #57
@karthiknadig 	@int19h

I couldn't get it to work, probably some setup issue.
I didn't pass the variable, instead is just modified [_local.py](https://github.com/Microsoft/ptvsd/blob/master/ptvsd/_local.py#L17) to include the `--multiprocess` flag.

Please try this extension.
Note: PTVSD is not included in the extension, hence you'll need to set the environment variable in `launch.json` to use `PT

[2018-10-17 16:42] DonJayamanne commented on #57
@int19h Got this working guys, had to make some changes at my end.

[2018-10-17 16:54] karthiknadig commented on #57
The debugger in `master` supports `spawn` processes, not `fork` processes. The work item is not complete. To use with multiprocessing on windows, you have to set `multiprocessing.set_start_method('spawn')`

The work is being tracked here: https://github.com/Microsoft/ptvsd/issues/425
Sample usage: https://github.com/Microsoft/ptvsd/blob/master/pytests/func/test_multiproc.py

[2018-10-17 17:46] DonJayamanne commented on #691
@karthiknadig @int19h
Please can we bump up the priority for this issue.
I've done the same at our end, to ensure this gets into the next release.

[2018-10-17 23:19] DonJayamanne commented on #57
@int19h 	@karthiknadig

* Please install and use this extension for testing multi-process debugging.
* Please rename the extension to `.vsix`
* Install in VSC

[python-2018.10.0-alpha.vsix.zip](https://github.com/Microsoft/ptvsd/files/2489615/python-2018.10.0-alpha.vsix.zip)

[2018-10-18 02:31] karthiknadig opened #931 "Fix `setup.py bdist_wheel` to produce proper wheels that don't need further manual"

[2018-10-18 02:32] karthiknadig opened #932 "Switch tests to run on Tox"

[2018-10-18 02:33] karthiknadig opened #933 "Author the Azure pipeline for releases"

[2018-10-18 02:37] DonJayamanne commented on #933
Or GitHub actions!

[2018-10-18 08:23] karthiknadig opened #935 "`ptvsd_subprocess` is not received on linux with py2.7"
## Environment data

- PTVSD version: master
- OS and version: ubuntu 16.04
- Python version (& distribution if applicable, e.g. Anaconda): 2.7
- Using VS Code or Visual Studio: console tests
- Package: Flask

## Actual behavior

Cannot debug Flask subprocess on linux.

## Expected  behavior

Should be able to debug Flask subprocess on linux with python 2.7

## Steps to reproduce:
Clone ptvsd the

[2018-10-18 16:44] #891 closed

[2018-10-18 19:47] karthiknadig commented on #935
Note this can be reproed with subprocess.Popen on linux py2.7

[2018-10-18 19:49] karthiknadig commented on #935
Re-enable following tests after this bug is fixed:
[code]

[2018-10-18 20:27] DonJayamanne opened #938 "PTSVD outputs errors when debugging"
## Environment data

- PTVSD version: Master
- OS and version: Mac
- Python version (& distribution if applicable, e.g. Anaconda): 3.5
- Using VS Code or Visual Studio: VSC

## Actual behavior

Errors displayed in terminal window:
[code]

## Expected  behavior

XXX

## Steps to reproduce:
1. Use the following code:
[code]
2. Add a breakpoint to the first line
3. Start debugging.
4. Kaboom

[2018-10-18 22:01] #892 closed

[2018-10-18 22:03] #812 closed

[2018-10-18 22:13] karthiknadig commented on #503
@int19h Any recommendation on this, now that we have better implementation details :)

[2018-10-18 23:11] DonJayamanne commented on #503
@int19h @karthiknadig
I've added code in VSC to kill child processes spawned and attached to, during multi-process debugging (only when the main process was launched via the debugger).

I could utilize the same code to fulfill the requirements of this GitHub issue very easily in VSC now, provided PTSD sends custom event that contains the process id along with the launch request (as you do today in

[2018-10-18 23:13] int19h commented on #503
I'm confused - don't we already send all the PIDs (child, parent and root) for all the `ptvsd_subprocess` events? It seems like VSC should have the list of all child process PIDs from that, and could just go over it and kill each?

[2018-10-18 23:27] DonJayamanne commented on #503
Isn't this event sent ONLY when `multi-process` debugging is turned on.
If yes, then awesome.
If no, then i'll need this info in the same event or different event.

yes we do

[2018-10-18 23:30] int19h commented on #503
It is. But if multiprocessing mode is not enabled, then the debugger doesn't know about child processes at all, by design - so why would we want to autokill them?

[2018-10-18 23:40] DonJayamanne commented on #503
Yes. However if I could get just the parent process id (the main process), it would solve the problem for me. I could just tell the OS to kill all child processes. That's what I used to do with the old version of the debugger in VSC.

To meet the requirements of this Issue.

[2018-10-19 02:10] karthiknadig opened #940 "Test does not kill all processes"
## Environment data

- PTVSD version: master
- OS and version: Any
- Python version (& distribution if applicable, e.g. Anaconda): Any
- Using VS Code or Visual Studio: console

## Actual behavior

After running full set of tests, often there are python test instances left behind.

## Expected  behavior

Test should kill all processes launched as a part of the test.

## Steps to reproduce:
Run all

[2018-10-19 02:28] int19h commented on #940
All tests that use `debug_session` have a separate watchdog process that will clean up if necessary (and complain). So this is most likely coming from some of the tests that create `DebugSession` instances explicitly and use them to attach to an already-existing ptvsd process - i.e. for multiproc.

In general, for those instances, the test should `wait_for_terminate`. If the child process does not

[2018-10-19 12:42] int19h opened #941 "Custom event with process information"
Basically identical to the standard 'process' event, but custom. Workaround for [this](https://github.com/Microsoft/ptvsd/issues/503#issuecomment-431193971).

[2018-10-19 17:37] karthiknadig opened #943 "subprocess: Support for fork in subprocess debugging"
Two possible options here:
Option 1: refactor __main__, daemon, and session code to allow teardown and restart.
* Pro: Cleaner solution. We are going to refactor the above mentioned items irrespective of option 1 or 2
* Con: This is a much bigger work item.

Option 2: Delete all loaded ptvsd and pydevd modules, and attempt ptvsd attach
* Pro: Smaller work item.
* Con: Potentially long bug tail due

[2018-10-19 20:02] karthiknadig commented on #805
This is not complete until https://github.com/Microsoft/ptvsd/issues/908 is done.

[2018-10-19 20:02] #805 closed

[2018-10-19 22:00] #896 closed

[2018-10-19 22:00] #925 closed

[2018-10-19 22:04] int19h opened #944 "Subprocess: control via debugOptions"
Make it possible to enable child process debugging via `debugOptions` in the attach/launch request, in addition to the `--multiprocess` command line switch.

[2018-10-20 15:55] mingwandroid opened #945 "Launch VSCode via PYTHONBREAKPOINT and Python 3.7's breakpoint() function."
Copied from: https://github.com/Microsoft/vscode/issues/60853

In my workflow I am used to inserting import pdb; pdb.set_trace() to break into a fairly minimal CLI debugger. How awesome would it be instead if I could launch into VSCode with as much debugging context available as possible?

I think it would be very nice indeed.

CC @zooba.

[2018-10-21 16:16] skqr opened #947 "Vagrant (Windows host, client, Linux guest, server) breakpoints don't work"
## Environment data

- PTVSD version: 4.1.4
- OS and version: Windows 10 host / CentOS 7 guest (on Vagrant w/VirtualBox)
- Python version (& distribution if applicable, e.g. Anaconda): Python 2.7.15 (Windows), 2.7.5 (Linux)
- Using VS Code or Visual Studio: VS Code

## Actual behavior

I'm using VS Code on Windows 10, running my script on the Vagrant CentOS guest machine as follows:

[code]

I'm t

[2018-10-22 16:09] DonJayamanne opened #948 "Unable to add a breakpoint to a file containing an & in path name"
## Environment data

- PTVSD version: Release
- OS and version: Windows, Powershell
- Python version (& distribution if applicable, e.g. Anaconda): N/A
- Using VS Code or Visual Studio:VSC

## Actual behavior

Debugger throws an error with `Unable to open .... file not found` error.

## Expected  behavior

Debugger should support `&` in path.

## Steps to reproduce:
1. Use Powershell as the shell

[2018-10-22 20:45] karthiknadig commented on #948
Looking at the stack info that we receive from pydevd:
[code]
The folder name gets escaped xml escaped and url escaped. `test%26amp%3Bmytest`. Since we unquote after untangle has processed the xml we don't get the correct path back.

[2018-10-22 20:55] karthiknadig commented on #948
[Option 1] is to xml unescape after we unquote in `wrapper.py`
[Option 2] One option is to add `&;` to quote in `pydevd_comm.py`: https://github.com/Microsoft/ptvsd/blob/fcdb060b76d2648ae8788e4ac8e5097c4fbf24ec/ptvsd/_vendored/pydevd/_pydevd_bundle/pydevd_comm.py#L820

[2018-10-22 22:28] karthiknadig opened #949 "`create_socket` does not close socket if there is binding or listening error"
[code]

[2018-10-23 01:15] #912 closed

[2018-10-23 01:15] #949 closed

[2018-10-23 03:48] #941 closed

[2018-10-23 12:59] fabioz commented on #768
Will start taking a look at this one again (@karthiknadig, can you assign to me?)

[2018-10-23 20:08] #944 closed

[2018-10-23 21:26] karthiknadig opened #951 "subprocess: custom ptvsd_* events.messages should only be used if multiprocess option is true"

[2018-10-24 16:38] gramster opened #953 "Tests timing out on Mac"
## Environment data

- PTVSD version: cloned from master on 10/23
- OS and version: MacOS 10.14
- Python version (& distribution if applicable, e.g. Anaconda): Anaconda, Python 3.6.6
- Using VS Code or Visual Studio: N/A

The following tests time out and I had to change them to skip:

test_flask.py:
- test_flask_breakpoint_no_multiproc
- test_flask_exception_no_multiproc
- test_flask_breakpoint_mu

[2018-10-24 17:30] karthiknadig commented on #953
Can you run the failing test with `-vvs` ? That will give me a better idea of what is going on.

[2018-10-24 20:54] karthiknadig commented on #833
I will turn this into an epic and add smaller items to this

[2018-10-24 20:56] karthiknadig opened #954 "Migrate to pytests"

[2018-10-25 00:14] gramster commented on #953
For the socket one, the test just looks like it should fail, so the behavior I see is expected but that makes the test wrong:

=================================== FAILURES ===================================
__________________ TestSocketServerReuse.test_reuse_same_port __________________

self = <pytests.test_socket.TestSocketServerReuse object at 0x11f092630>

    def test_reuse_same_port(self):

[2018-10-25 00:40] karthiknadig commented on #953
Test test should ensure that same port can be reused if the addresses are different. The issue here seems to be that it is not allowing me to set '127.0.0.2'.

[2018-10-25 00:46] karthiknadig commented on #953
Also, the behavior of this flag `socket.SO_EXCLUSIVEADDRUSE` is OS and flavor specific. The test here is trying to ensure we are getting the behavior we assume with the flag. See here for some more details: https://stackoverflow.com/a/14388707/111335

[2018-10-25 03:40] gramster commented on #953
Why would it let you use 127.0.0.2? It's not bound to any interfaces. You'd presumably need to do an ifconfig first. lo0 is bound to 127.0.0.1 only by default. I'm surprised this works on any system (assuming it does).

[2018-10-25 14:35] JenusL commented on #841
Please fix this soon. It's so annoying.

[2018-10-25 16:08] DonJayamanne commented on #503
@karthiknadig @int19h
Sorry guys, hit a few issues trying to implement this in VSC, basically no can do. Needs to be done in DA (in PTVSD).

[2018-10-25 16:29] karthiknadig commented on #953
Windows supports 127/8 loopback IP addresses, has been since WinXP Service Pack 2 ([KB884020](https://support.microsoft.com/en-us/help/884020/programs-that-connect-to-ip-addresses-that-are-in-the-loopback-address)). I tested this on my ubuntu machine and it supported 127/8 loopback as well. So I assumed this might be standard.
![image](https://user-images.githubusercontent.com/3840081/47514533-799

[2018-10-25 16:40] karthiknadig commented on #503
I would really like to remove the `ptvsd_process` event if it is not going to be used.

[2018-10-25 16:59] karthiknadig opened #956 "Migrate modules manager test to pytest"

[2018-10-25 17:00] karthiknadig opened #957 "Migrate socket tests to pytest"

[2018-10-25 17:01] karthiknadig opened #958 "Migrate safe_repr tests to pytest"

[2018-10-25 17:03] karthiknadig opened #959 "Migrate debugger.py test to pytest"

[2018-10-25 17:04] karthiknadig opened #960 "Migrate other tests under ptvsd to pytest"

[2018-10-25 19:19] gramster commented on #953
Linux and Mac do too. But before you can listen to an address it must be bound to an interface, and the loopback interface binds 127.0.0.1 only out of the box. In any event, there is no re-use if you bind 127.0.0.1 and 127.0.0.2; those are distinct addresses. And SO_REUSEADDR does not allow listening on the same addr/port combo; you need SO_REUSEPORT for that (on Linux/Mac; I don't know about Wndo

[2018-10-25 19:40] karthiknadig commented on #953
We don't want to listen to same addr/port combo so i don't think we should be enabling `SO_REUSEPORT`. There are historical reasons why we need SO_REUSEADDR. We can discuss those offline.

[2018-10-25 20:32] #958 closed

[2018-10-25 20:55] #956 closed

[2018-10-25 20:55] #957 closed

[2018-10-26 02:00] danishprakash commented on #959
@karthiknadig I would like to work on this one if you're not.

[2018-10-26 02:02] karthiknadig commented on #959
@danishprakash go ahead.

[2018-10-26 09:29] potens1 opened #982 "SystemExit raised when debugging test via code lens"
## Environment data

- VS Code version: 1.28.2
- Extension version (available under the Extensions sidebar): 2018.9.1
- OS and version: Linux Arch
- Python version (& distribution if applicable, e.g. Anaconda): python 3.6.6
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): pipenv
- Relevant/affected Python packages and their versions: ?

## Actual behavior
When debugging

[2018-10-28 17:31] 42B opened #962 "Bad except clauses order"
https://github.com/Microsoft/ptvsd/blob/9920fceb0584403a79195af5a22e1ab46228ee3c/ptvsd/ipcjson.py#L204-L210

These exceptions seem to be in the wrong order since `JSONDecodeError` inherits from `ValueError`. At first glance, that could be fixed by simply move catching `JSONDecodeError` above `ValueError`.

[code]

The issue then is that they are also exactly the same exception being raised so merg

[2018-10-28 17:59] int19h commented on #962
This is legacy code that will be removed in near future ([messaging.py](/Microsoft/ptvsd/blob/master/ptvsd/messaging.py) replaces it), so there's no point fixing this now.

FWIW, I think the reason why it was written this way is because it has to also run on Python <3.5, which doesn't have `JSONDecodeError` at all. Hence why the first `except`-block catches `ValueError` - that is the one that'll b

[2018-10-28 17:59] #962 closed

[2018-10-29 17:20] karthiknadig commented on #953
This should be fixed by #961 . I used travis osx build to test this since:
py2.7 https://travis-ci.org/karthiknadig/ptvsd/jobs/446792874
py3.6 https://travis-ci.org/karthiknadig/ptvsd/jobs/446792876

[2018-10-29 17:20] #953 closed

[2018-10-29 17:23] #951 closed, assigned to nobody

[2018-10-29 18:39] karthiknadig opened #964 "Flask stops receiving requests after receiving a couple of requests"
Bug reported via feedback:

[2018-10-29 20:52] gigi206 opened #965 "pydev debugger: warning: trying to add breakpoint to file that does not exist"
## Environment data

- PTVSD version: 4.1.4
- OS and version: Windows with [msys2](https://www.msys2.org/)
- Python version : 3.6.6

## Issue

I use VSCode with extension ms-python.python-2018.9.1 and I use python under [msys2](https://www.msys2.org/) ([cygwin](https://cygwin.com) like) :
[code]

When I try to debug a python file I have the following message :
[code]

From pydevd_file_utils.py fil

[2018-10-29 21:28] DonJayamanne opened #966 "Sub process debugging not working with PTVSD"
## Environment data

- PTVSD version: Master
- OS and version: All
- Python version (& distribution if applicable, e.g. Anaconda): All
- Using VS Code or Visual Studio: VSC

## Actual behavior

* child process is not spawned

## Expected  behavior

* Child process should be spawned and attached

## Steps to reproduce:
1. Install the latest VSC extension (dev)
2. Start debugging flask
3. Child proc

[2018-10-29 22:57] DonJayamanne opened #967 "Debugging Django in VSC with subprocess debugging is very slow"
## Environment data

- PTVSD version: Master
- OS and version: Mac
- Python version (& distribution if applicable, e.g. Anaconda): Python 3.7
- Using VS Code or Visual Studio:VSC

## Actual behavior

Debugging django with live reload (subprocess debugging) is very slow.
To the extent, its almost unusable - i thought it wasn't working.

It takes over 30seconds to start django.
Reloading takes aroun

[2018-10-30 05:17] karthiknadig commented on #967
This repros on windows as well. Starting the new process seems to take a long time. could this be because of #648 ?

[2018-10-30 21:38] karthiknadig opened #970 "Exception in terminal when typing in debug console"
## Environment data

- PTVSD version: master
- OS and version: any
- Python version (& distribution if applicable, e.g. Anaconda): any
- Using VS Code or Visual Studio:

## Actual behavior

[code]

## Expected  behavior

Should not print traceback.

## Steps to reproduce:
1. After hitting a breakpoint/pause. Type `print(')` in the terminal. Notice single quote.

[2018-10-30 21:46] karthiknadig opened #971 "Uncaught Exceptions are not always detected"
## Environment data

- PTVSD version: master
- OS and version: any
- Python version (& distribution if applicable, e.g. Anaconda): any
- Using VS Code or Visual Studio: vsc

## Actual behavior

uncaught exceptions are not always caught when attached to remote.

## Expected  behavior

Should break on uncaught exceptions.

## Steps to reproduce:
1. use the following script:
[code]

[2018-10-30 22:46] brettcannon opened #973 "VS Code opening duplicate window while debugging (invalid paths in stack trace)"
## Environment data

- PTVSD version: master
- OS and version: Windows 10
- Python version (& distribution if applicable, e.g. Anaconda): Python 3.7.0
- Using VS Code or Visual Studio: VS Code

## Actual behavior

Opens a parallel editor buffer for the file under debugging.

## Expected  behavior

Not to open a parallel editor buffer. :)

## Steps to reproduce:
[code]
[code]

[debug6232.log](https

[2018-10-31 00:18] DonJayamanne opened #975 "Deep stack traces are truncated in the Debug Console in VS Code"
_From @gvellut on October 25, 2018 15:53_

## Environment data

- VS Code version: 1.28.1
- Extension version: 2018.9.1 (18 Oct 2018)
- OS and version: Windows 10
- Python version: Standard Python 3.7
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): venv

## Actual behavior

I launch a python program using the following configuration:

The output of deep stack traces is

[2018-10-31 00:19] DonJayamanne commented on #975
@karthiknadig
I'm able to replicate this, here's the output from the JSON:
[code]

[2018-10-31 00:58] #966 closed

[2018-10-31 01:02] int19h commented on #932
There's still some work to do here to have Travis etc run everything via tox. They're directly invoking pytest currently.

[2018-10-31 04:37] karthiknadig commented on #975
This is due to `MAX_IO_MSG_SIZE` in `pydevd`. Do we want to make this a setting? If yes, then should it be called as and how will it be passed? If no, then what should be the default.
/cc: @fabioz , @qubitron

[2018-10-31 04:42] qubitron commented on #975
It seems like an obscure setting to add/maintain. I'm not sure what the ramifications are: does it need to be limited at all? Could we set the default high enough that users won't practically hit the limit?

[2018-10-31 04:48] karthiknadig commented on #975
Looking at the code, and comments. The limit exists for performance reasons, @fabioz may know the impact of increasing this.

[2018-10-31 11:14] fabioz commented on #975
@karthiknadig it should be safe to raise this limit at this point (it has been that same value for a *really* long time, so, the experiments I did back when that number was defined are no longer applicable).

I think that the main thing for the limit right now is the case where the user prints something too big (i.e.: dumping a 50 MB png/array to stdout, so, making the needed data transforms and s

[2018-10-31 19:33] karthiknadig commented on #920
[code]

[2018-11-01 03:14] #967 closed

[2018-11-01 13:38] fabioz opened #978 "Requesting completions in debug console raises exception if no completions are available"
## Environment data

- PTVSD version: 4.1.3
- OS and version: Any
- Python version (& distribution if applicable, e.g. Anaconda): Conda
- Using VS Code or Visual Studio: VS Code

When requesting completions in console and no completions are available the traceback below appears in the terminal:

[code]

Originally reported as a comment in: https://github.com/Microsoft/vscode-python/issues/2860#iss

[2018-11-01 15:08] fabioz commented on #971
As a note, I've noticed something similar with regular breakpoints too and investigating a bit it seems that the `wait_for_attach` is not waiting for all breakpoints to be sent before proceeding.

[2018-11-01 16:41] fabioz commented on #978
@karthiknadig Sorry hadn't seen that... as there's a pull request referencing this one, maybe #970 should be closed instead.

[2018-11-01 17:13] #970 closed

[2018-11-01 18:26] #978 closed, assigned to nobody

[2018-11-01 20:13] karthiknadig commented on #965
Can you give the launch configuration you are using for this?

[2018-11-01 20:24] #935 closed, assigned to int19h

[2018-11-01 22:46] brettcannon opened #981 "Paths are being incorrectly escaped"
## Environment data

- PTVSD version: 4.1.4
- OS and version: Windows 10
- Python version (& distribution if applicable, e.g. Anaconda): CPython 3.7.0
- Using VS Code or Visual Studio: VSC

## Actual behavior

[code]

## Expected  behavior

Do not escape `<` and `>` to `&lt;` and `&gt;`, respectively.

## Steps to reproduce:
See Microsoft/vscode-python#3063

[2018-11-01 22:52] karthiknadig commented on #981
Same issue as #948