[2018-11-02 15:40] gigi206 commented on #965
I use the default configuration :
[code]

When I select **Python: Current File (Integrated Terminal)** and I start the debug, it works but I have the following message :
[code]

If I use the following Python code :
[code]

I start my python program and my program pause and listen to port 5678 :
[code]

When I click on **Python:  Attach**, my program finish with the following message :
[code]

If I

[2018-11-02 16:33] DonJayamanne opened #983 "VS Code opening duplicate window while debugging"
## Environment data

- PTVSD version: Release & Master
- OS and version: Windows
- Python version (& distribution if applicable, e.g. Anaconda): N/A
- Using VS Code or Visual Studio: VSC

## Actual behavior

Duplicate editor window opens up.

## Expected  behavior

Should not open a duplicate folder.
This is a regression.

## Steps to reproduce:
1. Open VSC
2. Create a file named `xyz.py` with a s

[2018-11-02 16:35] DonJayamanne commented on #973
Thats because we're not bundling the dev version of PTVSD with the dev version of the extension. You'll need to install it your self.

[2018-11-02 16:35] DonJayamanne commented on #983
Similar to https://github.com/Microsoft/ptvsd/issues/973
Or perhaps we should close #973 in favor of this as it is not specific to subprocess.

[2018-11-02 16:41] DonJayamanne opened #984 "Remote debugging not working with multiproc"
## Environment data

- PTVSD version: Master and Release
- OS and version: All
- Python version (& distribution if applicable, e.g. Anaconda): N/A
- Using VS Code or Visual Studio:VSC

## Actual behavior

Breakpoints don't hit when remote debugging a django app inside of a docker container

## Expected  behavior

Breakpoints hit when debugging a django app inside of a docker container

## Steps to

[2018-11-02 16:56] fabioz commented on #965
@karthiknadig this is actually a feature request (support cygwin in the debugger) -- the first fix needed is dealing with cygpaths as @gigi206 pointed, but there may be more to it (as a note, when/if cygwin support is added, we should also make sure there's a worker to test it in the ci).

[2018-11-02 17:05] karthiknadig commented on #983
We have a separate issue that affects XML specific special characters. I think this is different.

[2018-11-02 18:02] karthiknadig commented on #983
This does not repro for me. Let me know when you are free, so we can see what is going on. I tried this with ptvsd master and extension 2018.10.0-beta

[2018-11-02 18:03] karthiknadig commented on #983
![image](https://user-images.githubusercontent.com/3840081/47932428-e72cdf00-de8e-11e8-9dfb-e37d17214cc4.png)

[2018-11-02 18:21] karthiknadig commented on #973
Sorry if this wasn't clear. I was using master ptvsd with the latest insiders version of the extension. I still got the squiggly under the "subprocess" (on that that day). The latest insiders has the "subprocess" option, so I can try this without forcing multiproc in the debugger itself.

[2018-11-02 18:45] int19h commented on #984
Is this with `--multiprocess`? If so, that does not support remote (all child processes wait for connections on `localhost`).

[2018-11-02 18:51] karthiknadig commented on #984
Looking at the docker file, this is doing multiproc:
[code]
that definitely won't work with `ptvsd==4.1.4`. Multiproc in `ptvsd==master` currently works only with `localhost`.
@int19h is making the change to enable subprocess to work with the same host as parent.

[2018-11-02 19:16] karthiknadig commented on #965
I see. It might be worth a shot to try  'Attach' with `pathMappings`.
@gigi206 Add the following to your launch configuration. You may have to tweak the paths for this to work:
[code]

[2018-11-02 21:57] int19h commented on #983
@DonJayamanne, can you share launch.json for the repro?

[2018-11-02 22:01] gigi206 commented on #965
I have modified my **launch.json** file to :
[code]

It seems to work with **attach** request type but **pathMappings** seems not be allowed with **launch** request type.

I have the message _pydev debugger: warning: trying to add breakpoint to file that does not exist: /:\Users\gigi\Desktop\python\gigix.py (will have no effect)_ with **launch** request type but it works.

[2018-11-02 22:01] karthiknadig commented on #984
Removing `regression` and `priority:P0`, since this is not a regression (never supported multiproc in 4.1.4). This is an enhancement, since we had only talked about local multi proc. However, we have a PR that will allow remote multi proc.

[2018-11-02 22:06] #984 closed

[2018-11-02 22:07] karthiknadig commented on #965
@DonJayamanne Does 'launch' support `pathMappings`? On the debugger side we handle `pathMappings` for both launch and attach.

[2018-11-02 22:08] int19h commented on #938
Can you share the launch.json snippet for your repro?

[2018-11-02 23:01] karthiknadig commented on #983
Looks like providing explicit path mappings works, but the default path mappings that the extension adds causes VSC to bring up the duplicate source. confirmed this with @DonJayamanne

[2018-11-02 23:01] #983 closed

[2018-11-02 23:03] karthiknadig commented on #973
I am not able to repro this either. In the logs I don't see any strange paths.

[2018-11-02 23:30] karthiknadig commented on #973
@DonJayamanne this is probably same as #983?

[2018-11-02 23:57] #973 closed

[2018-11-03 12:31] djbrown commented on #982
# Same here

## Environment data
* VS Code version: 1.28.2
* Extension version (available under the Extensions sidebar): 2018.9.**2**
* OS and version: **Ubuntu 18.04 .1 LTS**
* Python version (& distribution if applicable, e.g. Anaconda): python 3.**7.1**
* Type of virtual environment used (N/A | venv | virtualenv | conda | ...): pipenv
* Relevant/affected Python packages and their versions: **un

[2018-11-03 12:40] pehruby opened #1723 "getpass function echoes password during debugging"
## Environment data

- VS Code version: 1.26.1
- Extension version (available under the Extensions sidebar): 2018.9.2
- OS and version: Windows 10 1803
- Python version (& distribution if applicable, e.g. Anaconda): 3.6.6 64bit
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): N/A
- Relevant/affected Python packages and their versions:

## Actual behavior
[code]

## Expec

[2018-11-05 04:38] DonJayamanne opened #986 "Consider using ngrok or similar for testing remote debugging"
Just a suggestion.
We could add a functional test for remote debugging as part of CI.
On a side note such tests should probably this only when creating a build, i.e. when tagged or similar.

[2018-11-05 19:54] karthiknadig opened #987 "'NoneType' object is not callable"
## Environment data

- PTVSD version: master
- OS and version: Centos/7
- Python version (& distribution if applicable, e.g. Anaconda): 2.7
- Using VS Code or Visual Studio: VSC

## Actual behavior

Calling `ptvsd.enable_attach()` throws this error.
[code]
I suspect that this might not be the right stack for this.

## Expected  behavior

Should not throw error

[2018-11-05 20:28] huguesv commented on #841
Also reported at https://developercommunity.visualstudio.com/content/problem/362033/sysexit0-gives-us-an-error-instead-of-exit.html

[2018-11-05 20:40] karthiknadig commented on #947
Looks like this does not repro with master:
![image](https://user-images.githubusercontent.com/3840081/48022550-4c333f80-e0f0-11e8-8839-5ec165ef83fa.png)

I do see that we have bug with `enable_attach` where we get `NonType` Type Error. https://github.com/Microsoft/ptvsd/issues/987

[2018-11-05 21:03] #947 closed

[2018-11-05 21:05] karthiknadig commented on #983
Adding estimates to track the amount of time spent on unplanned work.

[2018-11-05 21:30] int19h commented on #927
I can't repro the original issue on any OS.

However, the original code is wrong - the part that is outside of the functions *must* be under `if __name__ == '__main__'` for the multiprocessing module to work correctly in spawn mode, as described [in the docs](https://docs.python.org/3/library/multiprocessing.html#the-spawn-and-forkserver-start-methods). If you don't do that, you get "RuntimeError:

[2018-11-05 21:44] karthiknadig commented on #503
We had moved this out to next milestone due to unplanned work; bringing this back

[2018-11-05 22:28] karthiknadig commented on #841
This is the expected behavior after discussing with @huguesv . The debugger currently does not follow this table. When fixing this bug we must ensure the behavior matches this.

| WaitOnNormalExit | WaitOnAbnormalExit | BreakOnSystemExitZero | Expected Behavior |
|------------------|--------------------|-----------------------|-------------------|
| False | False | False | <ul><li>Don't exception

[2018-11-06 00:21] brettcannon opened #988 "Debugger switches off character hiding (as shown by getpass)"
https://github.com/Microsoft/vscode-python/issues/3190

Basically when you use `getpass` your characters show up when they should actually be hidden.

[2018-11-07 10:53] fabioz opened #990 "Make the frame-eval mode available to more use cases instead of falling back to tracing"
Some examples of cases where this could be improved:
- After hitting a breakpoint, the frame with the breakpoint is set with the tracing mode... after the user continues the execution, if breakpoints didn't change in the frame it could go back to frame-eval mode (currently, after tracing is enabled for a frame, it never goes back to the frame eval mode for that frame even that'd be possible).
- Fr

[2018-11-07 17:48] brettcannon opened #991 "Debugging via `-m` does not work when the target is a package"
[Found by CTI]

## Environment data

- PTVSD version: Whatever is in 2018.10.0-beta
- OS and version: N/A
- Python version (& distribution if applicable, e.g. Anaconda): N/A
- Using VS Code or Visual Studio: 1.29.0-insider

## Actual behavior

Message stating `No module named pkg`.

## Expected  behavior

Be able to debug `pkg` which is a package containing a `__main__.py` file.

## Steps to repro

[2018-11-07 18:06] int19h commented on #991
We don't handle module (or file) launch ourselves, and just pass it on to pydevd via `--module`. So it looks like there's an issue on pydevd side of things.

[2018-11-07 18:13] karthiknadig commented on #991
Is this same as #748?

[2018-11-07 18:30] int19h commented on #991
I'm not sure I follow the explanation in that bug. Python 3 can handle `-m` on namespace packages just fine.

[2018-11-07 19:12] fabioz commented on #991
@int19h @karthiknadig you're right, my fault, sorry about that... I think I tested #748 with 2.7 and not 3.7 and this works in python 3 (and #748 was a valid bug for Python 3 and is only invalid for Python 2).

[2018-11-07 22:41] karthiknadig opened #992 "subprocess: figure out solution for subprocess for better UI experience"
Tracking item if there is any works on us.

[2018-11-07 23:20] karthiknadig commented on #991
@fabioz Prioritize this issue over others.

[2018-11-07 23:24] karthiknadig opened #993 "subprocess: Use single port to work with multiple processes"
This is a feature to all users to only configure a single port and use the sub-process debugging feature. The idea here is that the debug adapter will multiplex sub-processes over the same port.

[2018-11-08 11:33] fabioz commented on #991
I just checked here and creating a `pkg.__main__.py` and doing a launch for `pkg` did work properly for me...

I investigated a bit more, and having something as `pkg.sub.__main__.py` and launching `pkg.sub` failed for me... can you confirm if that's the case for you?

-- I created a pull request fixing the issue I found launching a module with dots in the name (https://github.com/Microsoft/ptvsd/

[2018-11-08 13:51] fabioz commented on #920
This can be closed now (see discussion on: https://github.com/Microsoft/vscode-python/issues/2860 -- problem was in a specific version of IPython itself and is fixed by upgrading IPython).

[2018-11-08 17:49] karthiknadig commented on #868
This should be done after #799.

[2018-11-08 18:07] fabioz commented on #477
Note: started to take a look at this, but I won't be able to finish today, so, will resume working on it when I'm back (Nov 27th) -- unless something else becomes a priority in the meanwhile ;)

[2018-11-08 19:14] Goom11 commented on #987
I am also experiencing this not on Linux, on Mac OS X. I am running Microsoft/vscode-python version 2018.9.1 and Microsoft/ptvsd version 4.2.0.

[2018-11-08 19:34] DonJayamanne opened #997 "Excluding files from being debugged"
## Environment data

- PTVSD version: Master
- OS and version: N/A
- Python version (& distribution if applicable, e.g. Anaconda): N/A
- Using VS Code or Visual Studio:VSC

## Actual behavior

Unable to prevent files from being excluded from the debugger.

## Expected  behavior

Should be able to exclude files from being debugged.

## Steps to reproduce:
Currently VSC is using the following API to

[2018-11-08 19:40] karthiknadig commented on #987
@Goom11 Are you seeing a similar callstack?

[2018-11-08 19:42] karthiknadig commented on #997
Was this ever supported?

[2018-11-08 20:07] DonJayamanne commented on #997
Yes it was

[2018-11-08 20:20] karthiknadig commented on #997
@int19h I don't see `DONT_DEBUG` being used anywhere? was this supported in 3.* but never in 4.*?

[2018-11-08 20:30] karthiknadig commented on #207
See https://github.com/Microsoft/vscode-python/issues/2087#issuecomment-425528613 for more details.

[2018-11-08 20:38] Goom11 commented on #987
Yes, very similar callstack. This is an issue on master but not on version 4.1.4. Simplest repro is _probably_ just a simple python script that does
[code]
I don't know python well so I'm not capable of debugging this issue.

[2018-11-08 21:32] int19h commented on #987
This came up in a test run on Linux (`test_autokill` from https://github.com/Microsoft/ptvsd/pull/994):

[code]

Happens on both 2.7 and 3.7.

[2018-11-08 21:38] karthiknadig commented on #987
@int19h could this be the pipe we use to communicate with pydevd that is broken? I see different stacks each time:
[code]

[2018-11-08 21:59] int19h commented on #987
You mean the dummy socket we pass to it? I don't see how that could have anything to do with it not being callable.

[2018-11-08 22:45] #948 closed

[2018-11-08 22:45] #981 closed

[2018-11-08 23:43] brettcannon opened #998 "Debug console displaying incorrect key order for Python 3.7"
Microsoft/vscode-python#3236

Insertion order is preserved in Python 3.7 (and unofficially in 3.6), but in the debug console the keys seem to be sorted.

[2018-11-09 01:31] #503 closed

[2018-11-09 16:22] DonJayamanne opened #1000 "Debug console autocompletion not working"
_From @darrickyee on November 9, 2018 16:21_

## Environment data

- VS Code version: 1.28.2
- Extension version (available under the Extensions sidebar): 2018.10.0
- OS and version: Windows 7
- Python version (& distribution if applicable, e.g. Anaconda): 3.7.0
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): N/A

## Actual behavior

Autocompletion in the debug console

[2018-11-09 20:13] karthiknadig opened #1001 "Decouple debug session from launch method"

[2018-11-09 23:06] #1001 closed

[2018-11-10 00:10] SamtFischer001 opened #1003 "How to register external threads?"
The function “ptvsd.debugger.new_external_thread()” no longer exists. Is there another way to register an external thread?

[2018-11-11 07:43] karthiknadig commented on #1003
4.* does not have this feature. @int19h, other than forcing a debug break i can't think of an alternative to  `new_external_thread`? @fabioz, is there a way to tell pydevd about external threads, i remember you could do settrace without stopping as a way to identify external threads?

[2018-11-11 07:48] karthiknadig commented on #929
Does not occur anymore. Reopen if seen again

[2018-11-11 07:48] #929 closed

[2018-11-11 07:55] karthiknadig opened #1005 "pytest: Add test start method that imports ptvsd and uses enable_attach"

[2018-11-12 01:12] fabioz commented on #1003
Yes, doing pydevd.settrace(suspend=False) should do the trick.

On Sunday, November 11, 2018, Karthik Nadig <notifications@github.com>
wrote:

[2018-11-12 17:08] DonJayamanne opened #1006 "Debugger not working properly."
_From @JasonWorks on October 11, 2018 17:46_

## Environment data

- VS Code version: 1.27.0 and 1.28.0
- Extension version (available under the Extensions sidebar): 2018.9.0
- OS and version: Debian x86-64 Linux Kernal: 4.17.0
- Python version (& distribution if applicable, e.g. Anaconda): 2.73
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): N/A
- Relevant/affected Pyt

[2018-11-12 17:08] DonJayamanne commented on #1006
Please try the following:

* Go into your `.vscode/launch.json` file and add the following setting in the configuration you are using.
[code]
* Start debugging, once done go into the command palette and select the command `Extensions: Open Extensions Folder`
* From there locate the python extension directory `ms-python:2018.xxx`
* In that directory look for `debug.log`, upload the contents of that

[2018-11-12 17:08] DonJayamanne commented on #1006
_From @JasonWorks on October 11, 2018 18:17_

[debug.log](https://github.com/Microsoft/vscode-python/files/2470159/debug.log)

[2018-11-12 17:08] DonJayamanne commented on #1006
_From @JasonWorks on October 15, 2018 16:55_

Thoughts?

[2018-11-12 17:08] DonJayamanne commented on #1006
_From @mikinushu on October 15, 2018 19:26_

Hi,
Same issue here.
As you can see: **PAUSED ON BREAKPOINT**
![image](https://user-images.githubusercontent.com/6978721/46972749-ef7fce80-d0c7-11e8-9245-ce163d401712.png)

**debug.log content:**
10:11:01 PM, 10/15/2018
Started @ Mon Oct 15 2018 22:11:01 GMT+0300 (Jerusalem Daylight Time)
From Client:
Content-Length: 313

{"command":"initialize","argume

[2018-11-12 17:08] DonJayamanne commented on #1006
_From @berkobob on October 16, 2018 10:25_

Same bug here:
Windows 10 Pro 10.0.17137 build 17134
VS Code 1.28.1
ms-python.python 2018.9.0

![capture](https://user-images.githubusercontent.com/6568107/47027117-be9ea880-d15e-11e8-855d-c05b82163685.PNG)

[2018-11-12 17:08] DonJayamanne commented on #1006
_From @heniu66 on October 24, 2018 10:30_

I have the same problem. Consistently when the Anaconda env is used **(and it is not the base environment).** Tested on Windows 10 Pro and two Ubuntu 18.4 (bionic beaver) machines.
VS Code 1.28.2 (but it didn't work earlier too)
Debugger stops on the breakpoint but:
- no line indicator is displayed in monitor
- in the upper debug panel you can only press

[2018-11-12 17:09] DonJayamanne commented on #1006
_From @d3r3kk on October 26, 2018 2:25_

Hmmm. Seems like we are getting 0-length stackframes back from these scenarios. I'm probably going to need some help on this issue @DonJayamanne.

From the user's that have reported the issue along with the `debug.log` information, I'm seeing responses from PTVSD that look like this:

[code]

Here's what the request/response interaction looks like for me, v

[2018-11-12 17:09] DonJayamanne commented on #1006
@JasonWorks
I'm closing this issue as you have created a file in the Environment directory and are debugging that.
Please move that file out of the environment directory and start debugging.
Please ensure the Python Environment directory is not opened in VSCode (that's generally not considered normal practice).

Note, in your `launch.json`, the program you are debugging is `c:\Users\Michael\Anacon

[2018-11-12 17:09] DonJayamanne commented on #1006
_From @JasonWorks on October 30, 2018 23:41_

I'm not following.  What do you mean by Environment directory?  The code I'm working with is in /usr/local/google/home/jasonworks/src/test/Hello.py.  That directory/file isn't in my environment's path or anywhere related to vscode as far as I know.  Please elaborate.

[2018-11-12 17:09] DonJayamanne commented on #1006
_From @JasonWorks on October 30, 2018 23:50_

I think you are seeing the image cut off from resizing and the terminal maintains the original column spacing.  Here is the full terminal command...
/usr/local/google/home/jasonworks/src/test $ cd /usr/local/google/home/jasonworks/src/test ; env "PYTHONIOENCODING=UTF-8" "PYTHONUNBUFFERED=1" python /usr/local/google/home/jasonworks/.vscode/extensions/ms

[2018-11-12 17:09] DonJayamanne commented on #1006
_From @JasonWorks on October 30, 2018 23:51_

Please reopen.

[2018-11-12 17:09] DonJayamanne commented on #1006
_From @JasonWorks on October 31, 2018 0:16_

@DonJayamanne
Your note about launch.json is referring to a another commentor's note.  I'm not Michael and I don't use Anaconda3.  Please reopen.

[2018-11-12 17:09] DonJayamanne commented on #1006
@heniu66 @mikinushu
you have created a file in the Environment directory and are debugging that.
Please move that file out of the environment directory and start debugging.
Please ensure the Python Environment directory is not opened in VSCode (that's generally not considered normal practice).

Note, in your `launch.json`, the program you are debugging is `c:\Users\Michael\Anaconda3\envs\mod-prj\D

[2018-11-12 17:09] DonJayamanne commented on #1006
_From @berkobob on October 31, 2018 9:5_

[debug.log](https://github.com/Microsoft/vscode-python/files/2533506/debug.log)

[2018-11-12 17:09] DonJayamanne commented on #1006
_From @berkobob on October 31, 2018 16:54_

I get the same problem with Linux Mint 19 Cinnamon 64-bit

I've just noticed that I only seem to have this problem when using a virtual environment. When there's no venv it works fine.

[2018-11-12 17:09] DonJayamanne commented on #1006
_From @mattpepin on November 9, 2018 17:0_

I have exactly the same issue as @berkobob but in Windows 10, using either VSCode/VSCode Insiders.  I found that If there's a pyvenv.cfg file, the breakpoints don't work correctly. If I remove it, it raises an Exception on an unknown import, but it pauses correctly on the good line of the import.

[2018-11-12 17:09] DonJayamanne commented on #1006
_From @berkobob on November 9, 2018 18:42_

I believe that the pyvenv.cfg file is created by venv so I created an environment with virtualenv instead (i.e. no pyvenv.cfg created) and I had the same problem. It would be great to get this problem fixed.

[2018-11-12 17:09] DonJayamanne commented on #1006
_From @JasonWorks on November 9, 2018 23:44_

I'm not sure if it was occurring earlier, but I'm now noticing that when "Paused on Bbreakpoint" (4a in original post) the orange status bar is indicating... Installing packages... and if I move my mouse over the message it says... Installing package 'Razor Language Server (Linux / x64)' - not sure what that is all about.

I'm still attempting to conti

[2018-11-12 17:09] DonJayamanne commented on #1006
_From @sellweek on November 10, 2018 16:4_

Same problem for me, Arch Linux, 64-bit, VS Code 1.28.2, ms-python.python 2018.10.1.
[debug24330.log](https://github.com/Microsoft/vscode-python/files/2568537/debug24330.log)

[2018-11-12 17:09] DonJayamanne commented on #1006
_From @Verkurkie on November 12, 2018 16:0_

Similar issue here on both VScode and VS Code Insider. I see this issue when running my app with the "Python : Django" profile but the "hello.py" exercise works! :-\

With breakpoints turned **on**, the debugger starts but just sits there! No stack, nothing ...
With breakpoints turned **off**, the code runs fine

Platform: Windows 10 x64
VS Code version

[2018-11-12 17:20] schwab opened #1007 "Unable to debug with latest version of ptvsd with pydevd 1.4.0"
New Error message with lastest vscode/ptvsd/pydevd when attempting to debug : ModuleNotFoundError: No module named '_pydevd_bundle.pydevd_comm_constants'

## Environment data

- PTVSD version: 4.2.0
- OS and version: Ubuntu 18.04
- Python version (& distribution if applicable, e.g. Anaconda): 3.6
- Using VS Code or Visual Studio: vscode 1.28.2

## Actual behavior

Attempting to start debugger alwa

[2018-11-12 17:22] DonJayamanne opened #1008 "Debug stop working with modules on version 2018.10.x"
_From @sharkguto on November 12, 2018 12:9_

Copied from original issue: Microsoft/vscode-python#3309

## Environment data

- VS Code version:
[code]
or
[code]

- Extension version (available under the Extensions sidebar): - OS and version: ubuntu 18.04
- Python version (& distribution if applicable, e.g. Anaconda): Python 3.6.6
- Type of virtual environment used (N/A | venv | virtualenv | conda |

[2018-11-12 17:22] DonJayamanne commented on #1008
_From @sharkguto on November 12, 2018 12:23_

![image](https://user-images.githubusercontent.com/3118165/48347229-cd488480-e664-11e8-9dbe-dc6d3cf79081.png)

i installed manually the version 2018.9.1 and it working again \o/
https://github.com/Microsoft/vscode-python/releases/download/2018.9.1/ms-python-release-2018.9.vsix

[2018-11-12 17:51] SamtFischer001 commented on #1003
pydevd.settrace(suspend=False) solves the problem. Thanks.

[2018-11-12 18:11] #1003 closed

[2018-11-12 18:14] int19h commented on #1008
Is this related to #991, perhaps?

[2018-11-12 18:34] DonJayamanne commented on #1008
Yes, in deed. Closing as a dup.

[2018-11-12 18:36] DonJayamanne commented on #991
**Note,** this used to work in `2018.9.*` version of the Python extension.
Back then `PTVSD` was launched using `-m` using the CLI, in the new version of the extension we have a launcher script that invokes the PTVSD api.

Hope this will help narrow down the issue.

[2018-11-12 18:39] int19h commented on #991
I doubt that this matters, because from pydevd perspective it's going to see the same `argv` in its `main` both cases, with `--module ...` corresponding to the module being launched.

[2018-11-12 18:41] DonJayamanne commented on #991
Interesting, how then did it work in the past (older version of the extension with PTVSD 4?
This can only mean its a regression in PTVSD/PyDev.

[2018-11-12 19:21] #928 closed, assigned to nobody

[2018-11-12 19:47] karthiknadig commented on #1008
It seems to work if i have PYTHONPATH set:
[code]

[2018-11-12 19:56] int19h commented on #1003
I think we should provide an implementation of `new_external_thread` that wraps this, though. For back-compat if anything, but also, if we are officially supporting this method, it should be a part of our API, and we should have a test for it.

[2018-11-12 20:01] karthiknadig opened #1009 "Provide a public API to register threads not created by Python for debugging"
This can be done by simply wrapping `pydevd.settrace(suspend=False)`

[2018-11-12 20:44] int19h opened #1010 "ptvsd -m ... doesn't work for modules in current directory"
Suppose we're in a folder that contains a file named `foo.py`. This works:
[code]
but this doesn't:
[code]
It can be made to work if the folder is manually added to `PYTHONPATH`, but this shouldn't be necessary - the behavior of `ptvsd -m` should correspond exactly to the behavior of `python -m`.

[2018-11-12 20:46] int19h commented on #1010
This appears to be a pydevd limitation - ptvsd simply rewrites the arguments for pydevd, but this can be observed with pydevd alone. For example, this also doesn't work:
[code]
@fabioz, can you clarify if this is by design?

[2018-11-12 20:50] int19h commented on #1010
Of note, this does work:
[code]
as does this:
[code]

[2018-11-12 22:45] karthiknadig commented on #1007
@schwab Can you confirm if by chance you have pydevd installed?

[2018-11-12 22:50] karthiknadig commented on #1000
I don't think this is a regression. The completions were always pretty simple (i.e., the first case). I don't think it ever handled the second case.
/cc @fabioz

[2018-11-12 23:00] schwab commented on #1007
I've tried it with and without pydevd.  In fact, I only added pydevd because ptvsd starting raising the error "cannot import module pydevd" some time last week.

[2018-11-12 23:11] karthiknadig commented on #1007
does this repro with any python file or is it specific to flask? Does it occur with ptvsd 4.1.4?

[2018-11-12 23:22] karthiknadig commented on #1008
Dupe #991

[2018-11-12 23:22] #1008 closed

[2018-11-13 19:02] karthiknadig commented on #1006
The debugger includes `sys.prefix`, `sys.base_prefix`, and `sys.real_prefix` in the list of std lib prefixes. On some systems this is just `/usr`. This means that the debugger will consider any user code as library code on those systems.

[2018-11-13 20:47] #1006 closed

[2018-11-13 21:55] karthiknadig opened #1012 "Refactor: Argument parsing"

[2018-11-13 22:00] karthiknadig commented on #992
Bug created on VSC to tackle this for now: https://github.com/Microsoft/vscode/issues/62972

[2018-11-13 22:00] #992 closed

[2018-11-13 22:26] #938 closed, assigned to int19h

[2018-11-13 22:41] hernandp commented on #1010
I found also this behavior but I think this was working in previous releases.  Did the new version introduce a bug ?  Now I need to add directory to PYTHONPATH to launch modules for debugging. Thanks.

[2018-11-13 23:55] DonJayamanne opened #1013 "-h/--help arg to program instead shows help for interpreter"
_From @wolf99 on September 20, 2018 12:8_

## Environment data

- VS Code version: 1.27.2
- Extension version (available under the Extensions sidebar): 2018.8.0
- OS and version: Windows 10 (1709)
- Python version (& distribution if applicable, e.g. Anaconda): Python 3.7.0
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): N/A
- Relevant/affected Python packages and their

[2018-11-13 23:55] DonJayamanne commented on #1013
_From @brettcannon on September 24, 2018 17:57_

Can you please verify, @ericsnowcurrently ?

[2018-11-13 23:55] DonJayamanne commented on #1013
@wolf99
Please could you test this with the latest development version of the Extension.
Instructions to download and install can be found here https://github.com/Microsoft/vscode-python/blob/master/CONTRIBUTING.md#development-build

[2018-11-13 23:55] DonJayamanne commented on #1013
_From @brettcannon on November 8, 2018 23:14_

Because we have not heard back with the information we requested, we are closing this issue for now. If you are able to provide the info later on then we will be happy to re-open this issue to pick up where we left off.

[2018-11-13 23:55] DonJayamanne commented on #1013
_From @KubaO on November 12, 2018 19:45_

ptvsd uses Python's argparse.py: to leave arguments unparsed, precede them with the `"--"` argument. Thus, the launch.json should be:

        {
            "name": "Python: Current File - help arg",
            "type": "python",
            "request": "launch",
            "program": "${file}",
            "console": "integratedTerminal",
            "arg

[2018-11-14 15:45] iamchairs opened #1015 "Debugger Failed to Connect - Connection Refused"
**Edit**

Problem was resolved by reverting from version 4.2.0 to 4.1.4
Go to [releases](https://github.com/Microsoft/ptvsd/releases), download v 4.1.4, replace `ptvsd` in `ms-python.python-***/pythonFiles/experimental/`

## Environment data

- PTVSD version: 4.2.0
- OS and version: OSX 10.14
- Python version (& distribution if applicable, e.g. Anaconda): 3.6
- Using VS Code or Visual Studio: VS C

[2018-11-14 16:27] schwab commented on #1007
I've found that if I remove all ptvsd with multiple iterations of pip3 uninstall ptvsd until none are found, then run the debugger, it works fine.  But the next time I try to run it, it fails with this error: `Traceback (most recent call last):
  File "/home/mcstar-dev/.vscode/extensions/ms-python.python-2018.10.1/pythonFiles/experimental/ptvsd_launcher.py", line 15, in <module>
    import ptvsd.d

[2018-11-14 17:28] schwab commented on #1007
Found it... one of my packages had ptvsd==3.0.0 specified in the requirements.  This was being force installed whenever the package was built.   Still it's odd that vscode would not always pick/use only the latest if it was installed.

[2018-11-14 17:43] DonJayamanne commented on #1007
Awesome.
Closing as the issue has been resolved and in favor of https://github.com/Microsoft/vscode-python/issues/3283

[2018-11-14 17:43] #1007 closed

[2018-11-14 19:34] karthiknadig opened #1016 "numpy: debugger doesn't work when rcond=None expects rcond=-1"
## Environment data

- PTVSD version: master
- OS and version: windows
- Python version (& distribution if applicable, e.g. Anaconda): any
- Using VS Code or Visual Studio: VSC

## Actual behavior

debugger doesn't accept `record = None`,
but it works with `rcond= -1` (old version)

`ret = numpy.linalg.lstsq(M, rhs, rcond=-1)  # rcond=None)`

## Expected  behavior

Should accept `rcond=None`

## N

[2018-11-14 19:43] karthiknadig opened #1017 "Step-back"
Support for the step back command.

[2018-11-14 20:30] karthiknadig opened #1018 "Empty stack traces when using venv in the same dir as project dir"
## Environment data

- PTVSD version: master
- OS and version: win (potentially any)
- Python version (& distribution if applicable, e.g. Anaconda): any
- Using VS Code or Visual Studio: any

## Actual behavior

Stacktrace is empty

## Expected  behavior

Should contain stack traces

## Reason:

This is how the users environment looks like to the debugger:
[code]
Debugger currently ignores any pat

[2018-11-14 20:41] brettcannon commented on #991
FYI someone ran into this and [asked about it on Stack Overflow](https://stackoverflow.com/questions/53290328/cant-get-vscode-python-debugger-to-find-my-project-modules).

[2018-11-15 00:40] #959 closed

[2018-11-15 05:04] karthiknadig commented on #943
To do this right, we need clean shutdown of ptvsd. #799 tracks the work needed for clean shutdown.

[2018-11-15 13:58] Verkurkie opened #1021 "Python debug not working with breakpoints in multi-threaded Django app"
## Environment data

- PTVSD version: 2018.10.1
- OS and version: Windows 10, 64-bit, Version 10.0.17134 Build 17134
- Python version (& distribution if applicable, e.g. Anaconda): 2.7.15, 64-bit, miniconda
- Using VS Code or Visual Studio: VS Code (1.27.0) and VS code Insiders (1.29.0)

## Actual behavior

When running debugger for my Django app with the basic Django config from launch.json, the

[2018-11-15 18:57] karthiknadig commented on #1021
Can you give me the launch configuration? also, the layout of your project. If possible can you share the project where the debugger freezes. I am not able to repro with a minimal django app on miniconda2:
![image](https://user-images.githubusercontent.com/3840081/48574860-2b73a280-e8c5-11e8-938e-2c89e918e46a.png)

[2018-11-15 19:14] karthiknadig commented on #927
Closing this as no-repro. Please reopen if seen again.

[2018-11-15 19:14] #927 closed

[2018-11-16 00:26] huguesv opened #1023 "sys.stdin not None and missing encoding attribute when running with pythonw.exe"
## Environment data

- PTVSD version: 4.2
- OS and version: windows 10
- Python version (& distribution if applicable, e.g. Anaconda): CPython 3.7 using **pythonw.exe**
- Using VS Code or Visual Studio: VS

## Actual behavior

None has no attribute encoding exception

## Expected  behavior

Either sys.stdin.encoding works, or sys.stdin is None (it is None when running without debugging)

## Steps

[2018-11-16 15:20] MaxPowerWasTaken commented on #1010
The package developer of VSCode's Python extension says the workaround proposed here (adding project folder to pythonpath) was the cause of another issue I encountered trying to use the VSCode/Python debugger: https://github.com/DonJayamanne/pythonVSCode/issues/1441

[2018-11-16 21:59] #960 closed

[2018-11-16 23:18] int19h opened #1025 "timeline: sequencing doesn't apply to all operands of a compound expectation"
Consider timeline:

    A B C

and expectation:

    B >> (A & C)

Current implementation returns True for this, although the correct result is False. The problem is that it only applies the boundary to the occurrence after looking for (A & C) in the entire timeline. So A & C is realized at C, and then B >> C is True, so it returns True.

[2018-11-16 23:23] int19h opened #1026 "timeline: compound expectations don't backtrack"
Consider timeline:

    A B A

and expectation:

    B >> A

The expectation is supposed to be realized in the timeline, but the current implementation incorrectly says that it's not. The reason is that `>>` first tries to find the occurrence at which its right side is realized, and once found, checks if the ordering holds, and immediately bails out if it doesn't. In this case, there are two occur

[2018-11-16 23:27] int19h opened #1027 "Spurious output in test runs"
Because we create debug session via a pytest fixture, the output when the session gets finalized after test finishes running doesn't get captured as belonging to the test. Since start method is now parametrized separately anyway, there's no need to use the fixture for this anymore - the tests should just invoke `DebugSession(...)` directly, and it can clean up in `__del__`.

[2018-11-16 23:58] int19h opened #1028 "'continued' event doesn't always get sent"
It looks like there's a race condition when issuing a `continue` request such that the script then runs to completion - by the time `on_pydevd_thread_resume_single_notification` is called, the resumed thread has already completed, and debuggee has exited. When that happens, you see this sequence in the logs:

- `continue` request
- `continue` response
- `exited` event
- `terminated` event

(i.e. t

[2018-11-16 23:59] int19h commented on #1028
Aside from not following the spec, it also causes occasional test failures for all the tests that do something like:
[code]

In all those cases, the tests don't actually need the event, though. The only reason why they wait for it, I think, is to ensure that it is observed. This can be done with `debug_session.timeline.observe_all(Event('continued'))` instead - I'll make that change as part of my

[2018-11-17 00:04] int19h commented on #1028
Actually, that doesn't quite work, because the event might happen either before or after the response; if it happens after, if we do `observe_all` immediately after `wait_for_response`, it might not be there yet.

So, for now, the event is going to be on `ignore_unobserved` list, so that tests don't have to wait for it. Once this bug is fixed, it can be removed, and tests can be returned to observ

[2018-11-17 01:44] int19h commented on #1028
Same thing happens with `output` event, if it immediately follows `continue`, and script runs to completion fast enough.

[2018-11-17 03:54] karthiknadig commented on #1028
There is one more subtle thing. The `continued` event should occur if a thread starts without a command from the user. So, if the `continued` event occurs before `continue` command, it is actually an issue that the test has to capture.

[2018-11-17 04:03] int19h commented on #1028
Yep. Hence why the current change is adding it to `ignore_unobserved` on a test-by-test basis, only in those tests that do `continue` - it's still not on the default list of ignored things. Once we fix the bug with the event being swallowed on exit, those test-specific mentions can be removed.

[2018-11-17 07:30] int19h commented on #987
Another unusual stack from a test run, for future reference.
[code]

[2018-11-17 07:48] #1025 closed

[2018-11-17 07:48] #1026 closed

[2018-11-17 07:48] #1027 closed

[2018-11-18 10:32] karthiknadig opened #1032 "Migrate to pytests: part 1"
* Output tests
* Break point tests
* Thread tests
* Return value tests

[2018-11-18 10:33] #1032 closed

[2018-11-19 02:05] int19h opened #1033 "Code coverage is not collected from live ptvsd in tests"
The way we currently collect coverage information with codecov, it only applies to the test process itself. Thus, any tests that exercise the product code by spinning up live ptvsd in a subprocess and communicating with it over DAP, don't get counted. In particular, that includes all of the new pytest-based tests.

[2018-11-19 02:08] int19h commented on #1033
Once we merge the Tox PR, this can be done via sitecustomize.py inside the virtualenv that Tox sets up for the test run, as described here.

https://coverage.readthedocs.io/en/coverage-4.2/subprocess.html

Note though that this still requires the process to complete cleanly such that `atexit` handlers run. This is not always the case for ptvsd today though - in particular, when the "terminate" req

[2018-11-19 04:10] karthiknadig commented on #1028
I had marked this issue incorrectly. The PR referencing this was a workaround.

[2018-11-19 04:35] int19h opened #1034 "Update Azure build pipeline to deal with new repo structure and Tox"
Once https://github.com/Microsoft/ptvsd/pull/1031 is merged, this will need to be done to get Azure runs work again.

[2018-11-19 09:12] int19h opened #1035 "Pattern matching fails sporadically"
Not entirely sure what the root cause is yet, but it manifests itself when matching partial dicts occasionally. This causes e.g. test_output to fail sometimes, because it fails to match the output events despite them actually being there with the expected content.

Pattern matching code can be drastically simplified in any case - a lot of it is cruft from an earlier implementation.

[2018-11-19 09:57] int19h commented on #932
Fixed by #1031

[2018-11-19 09:57] #932 closed

[2018-11-19 14:10] sjdv1982 opened #1036 "ptvsd hangs on subprocess.Process.join"
## Environment data

- PTVSD version: /extensions/ms-python.python-2018.10.1
- OS and version: Ubuntu 18.04.1
- Python version (& distribution if applicable, e.g. Anaconda):
Python 3.6.6, Anaconda 2.7.13, Python 2.7.16
- Using VS Code or Visual Studio: VS Code

## Actual behavior

Subprocess code gets never executed
Subprocess remains alive after 5 seconds
On Python2, the debugged main process nev

[2018-11-19 15:11] int19h commented on #1036
If you do this:
[code]
Does it work for you on 3.6?

(Note that the `__main__` thing is necessary in any case if your want your code to be portable to Windows.)

[2018-11-19 18:45] karthiknadig commented on #940
I have not seen this occur since the auto kill. Closing this, will reopen if seen again.

[2018-11-19 19:55] DonJayamanne opened #1037 "Setting breakpoint fails on Python files containing non-ASCII characters"
Original issue can be found here https://github.com/Microsoft/vscode-python/issues/2914

[2018-11-19 19:57] DonJayamanne opened #1038 "Debugging fails in python 2.7 when using print"
Original issue can be found here https://github.com/Microsoft/vscode-python/issues/3320

[2018-11-19 19:59] DonJayamanne opened #1039 "VSCode hangs when debugging with step into (F11) import statement"
Original issue can be found here https://github.com/Microsoft/vscode-python/issues/3069

[2018-11-19 20:02] DonJayamanne opened #1040 "Debugger doesn't start process if breakpoints are set"
Original issue can be found here https://github.com/Microsoft/vscode-python/issues/3061

[2018-11-19 20:38] karthiknadig commented on #1039
Looks like we don't receive `CMD_THREAD_SUSPEND_SINGLE_NOTIFICATION`, see last `->`:
`<-` == Request sent to pydevd
`->` == Received from pydevd

[code]

[2018-11-19 20:44] karthiknadig commented on #1040
@int19h is this a `spawn` vs `fork` issue?

[2018-11-19 20:49] karthiknadig commented on #1037
This is a 2.7 unicode file path issue. Relevant stack where this breaks:
[code]

We have a test, `test_path_with_unicode` this is disabled in 2.7, we should enable it after this is fixed.

[2018-11-19 21:53] karthiknadig commented on #1038
Confirmed. This looks like a side effect of how we shutdown. Currently there is no way to flush all the messages out before disconnecting. Events should not occur after we disconnect. But currently they do. I am marking this as blocked by the refactor work item. One of the goals with that item is to address the issues with closing the connection.

[2018-11-19 21:59] int19h commented on #1036
It disables `fork` altogether. When `multiprocessing` operates in this mode, no data is shared across processes at all, except what you pass as arguments to the function.

We don't support multiprocessing with fork currently - https://github.com/Microsoft/ptvsd/issues/943 tracks this feature, so I'll close this one as a dupe.

[2018-11-19 21:59] #1036 closed

[2018-11-19 22:00] int19h commented on #1040
It could be, need to look at the code of the library being used.

[2018-11-19 22:54] karthiknadig commented on #1038
Dupe #1028

[2018-11-19 22:54] #1038 closed

[2018-11-19 23:03] int19h commented on #1037
The reason why this fails is because `sys.getdefaultencoding()` is `ascii` on Windows (regardless of locale), and that's what's used by implicit str<->unicode conversion in 2.7. In this case, `path` is actually `unicode`, but we're trying to convert to `str` because the string literal on the left is doesn't have the `u` prefix.

So far as I can see, just using `u'...'` form for the literal should

[2018-11-20 00:36] brettcannon opened #1041 "KeyError when running self.mpl_modules_for_patching.pop(module)"
Microsoft/vscode-python#2982

I'm guessing there's a race condition, in which case this probably just needs a `try`/`except KeyError: pass` block to avoid this issue.

[2018-11-20 02:47] int19h commented on #1033
This is fundamentally broken, because coverage uses the trace hook (`sys.settrace`), and so does the debugger. So they end up stepping on each other's toes, and we get partial results at best, and subtly (or not so subtly) broken debugger at worst.

As far as codecov is concerned, this is basically [not a supported scenario](https://coverage.readthedocs.io/en/coverage-4.5.1x/trouble.html#things-th

[2018-11-20 02:47] #1033 closed

[2018-11-20 02:54] DonJayamanne commented on #1033
Yes that makes sense. We don't support debugging unit tests in VSC with coverage turned on, for the same reason you have outlined.

[2018-11-20 07:04] karthiknadig opened #1044 "Migrate to pytests: part 2 Exception tests"

[2018-11-20 09:14] #1044 closed

[2018-11-20 12:49] gegenschall opened #1046 "ptvsd and Celery worker raises RuntimeError: already started"
## Environment data

- PTVSD version: 4.2.0
- OS and version: Arch Linux
- Python version: 3.7 (Docker python:3.7)
- Using VS Code or Visual Studio: VS Code

## Actual behavior
`ptvsd.enable_attach` raises `RuntimeError: already started` when used within a Django+Celery app. Code used to start ptvsd:

[code]

Command-line used to start celery worker:
[code]

Actual exception raised (4 times):
[cod

[2018-11-20 15:07] karthiknadig commented on #755
Replaced by new tests.

[2018-11-20 15:07] #755 closed

[2018-11-20 15:07] karthiknadig commented on #724
Replaced by new tests.

[2018-11-20 15:07] #724 closed

[2018-11-20 15:10] karthiknadig commented on #723
For now we are keeping the existing behavior.

[2018-11-20 15:10] #723 closed

[2018-11-20 15:37] karthiknadig commented on #551
This is fixed with the pytest based tests.

[2018-11-20 15:37] #551 closed

[2018-11-20 15:56] karthiknadig commented on #548
This is fixed in pytest based tests

[2018-11-20 15:56] #548 closed

[2018-11-20 17:11] karthiknadig commented on #615
This is no longer an issue with the new framework.

[2018-11-20 17:11] #615 closed

[2018-11-20 17:12] karthiknadig commented on #586
No longer an issue with the new tests.

[2018-11-20 17:12] #586 closed

[2018-11-20 17:13] #587 closed

[2018-11-20 17:16] karthiknadig commented on #721
This is fixed in new tests.

[2018-11-20 17:16] #721 closed

[2018-11-20 17:17] karthiknadig commented on #410
Re-open if we decide to do this.

[2018-11-20 17:17] #410 closed

[2018-11-20 17:20] karthiknadig commented on #434
Closing this as this refers to the older tests.

[2018-11-20 17:20] #434 closed

[2018-11-20 17:21] karthiknadig commented on #567
This was a issue with the old test framework.

[2018-11-20 17:21] #567 closed

[2018-11-20 20:42] brettcannon opened #1047 "Support both expression and log breakpoints"
CTI found a way to set both but the conditional breakpoint seems to end up being ignored.

[2018-11-20 21:46] karthiknadig opened #1048 "Reconnect to the same debuggee in tests fails"
disconnect and reconnect works partially. The session is able to reconnect but fails to receive any response.
[code]

run following test to repro:
[code]

[2018-11-21 22:11] brettcannon opened #1051 "Auto-complete does not work for global variables"
Microsoft/vscode-python#3427

[code]

If you try to auto-complete at the `print()` call you can complete on `local_var` but not on `main` or `global_var`.

[2018-11-21 22:30] karthiknadig commented on #1018
This should be solved by implementing #207

[2018-11-21 22:30] #1018 closed

[2018-11-21 22:33] karthiknadig commented on #1021
This could potentially be a multi-threading problem

[2018-11-21 23:13] karthiknadig opened #1052 "Refactor: Connectivity"

[2018-11-21 23:14] karthiknadig opened #1053 "Refactor: DAP handling"

[2018-11-21 23:18] #833 closed

[2018-11-21 23:21] karthiknadig opened #1054 "Migrate to pytests part 3"
1	Launching package
2.	Disconnect with Restart tests
3.	modules events
4.	VS style exception settings tests
5.	VS style stack formatting
6.  For connection, we need to test and then reconnecting.
7 .We need path mapping tests – breakpoints and stacks.

8. We need more variable tests – various reprs, and children for various collection types: tuple, list, dict, set, iterators etc. Globals? I’m not

[2018-11-22 03:54] #1047 closed

[2018-11-23 13:08] JavierReyes945 commented on #1013
I just also ran into this issue, and tried escaping the args as so that ptvsd would not parse them and leave them for the debugged program (which also uses argparse module). Now I can sort of test arg flags in my program, but stills the argparser in my program raises an exception, as the -- gets also read. It is not a big thing, as I can still ignore the exception and proceed, but it would be nice

[2018-11-23 19:45] int19h commented on #1013
The correct behavior in this case is for ptvsd is to ignore everything that follows the script filename / -m module / -c code, exactly like Python itself does. Then there's no need for any special modes etc.

We're just not doing this properly right now. But the fix for #1012 will also take care of this bug.

[2018-11-26 13:08] pbechliv commented on #1046
I have the exact same issue

[2018-11-27 22:07] mattyfresh commented on #1010
@MaxPowerWasTaken Is there a copy of that issue in https://github.com/Microsoft/vscode-python?  Getting a 404, looks like everything has been moved to that new repo.  Just got the debugger working for python modules by adding my project to the `PYTHONPATH`, but if it's just going to cause more issues down the road would like to weigh my options.  Thanks!

[2018-11-27 23:15] brettcannon commented on #998
This is also affecting `OrderedDict`.

[2018-11-28 20:52] brettcannon opened #1056 "torch.utils.data failing probably due to atexit issues"
Microsoft/vscode-python#3439

`torch.utils.data` [registers an `atexit` callback](https://github.com/pytorch/pytorch/blob/0f62af4ab1883cd59f4dfd71945c9755dc138644/torch/utils/data/dataloader.py#L297). The output in the original issue suggests there's something not being handled quite right in this instance.

[2018-11-28 22:57] nvictor commented on #830
I have the same issue. The solutions on SO are unlikely. It looks like ptvsd needs some OS functionalities that GAE disables at runtime... because on the production server you won't have access to them either.

A real catch-22 scenario here. You are on the development server and want to debug. But you can't debug because GAE wants the dev environment to look like production.

The solution for ptvs

[2018-11-28 23:05] karthiknadig commented on #830
This should be addressed by #1052

[2018-11-29 03:51] davidhopper2003 opened #1058 "Unable to debug an OpenAI baselines pipeline task"
I used VSCode to debug the PPO2 algorithm in the project [OpenAI baselines](https://github.com/openai/baselines). Lines 57-58  of the file `baselines/common/vec_env/subproc_vec_env.py` uses the pipeline to receive data. When debugging to line 58:
[code]
the program has no response and the debugging process cannot continue (As shown below).

![ppo2_debug_1](https://user-images.githubusercontent.com

[2018-11-29 11:58] Maransatto commented on #85
Hi, I still didn't get the idea of how to set this value of Raised Exeptions to false.
How can I do it?
I couldn't find it on VS Code settings nor launcher.

It wall happened when I started to use modules from sibling folders using ```sys.path.insert(0,'../sibling-foler'')```

Now I can even run my code but I can't debug due this error.

[2018-11-29 12:29] fabioz commented on #1039
Ok, I've finished investigating but haven't done a fix yet because the issue lies on `ptvsd` and not on `pydevd` and I'm not sure of the best fix for it (fixes could be separating `ptvsd` and `pydevd` into 2 processes or making sure that `ptvsd` does not do any import while unmarshalling xml messages).

Now, on to the problem... the problem is that to handle a xml message, `ptvsd` uses `untangle`

[2018-11-29 16:40] fabioz commented on #1010
I wasn't able to reproduce it with the latest master (the only thing is that `ptvsd` required me to pass the `--host` and `--port` to run)...

See shell output below:

[code]

So, it seems to work testing with Python 2.7 and 3.6 (on Linux) for me... are you doing something different or is this actually fixed on master?

-- as a note, my `PYTHONPATH` is not including the current directory, I only i

[2018-11-29 16:46] MaxPowerWasTaken commented on #1010
@mattyfresh yeah my other issue seems to have been deleted after it was closed with the suggestion not to include my project repo in the pythonpath, don't think the issue was moved to the Microsoft fork. But hey man if it's working for you I wouldn't sweat it.

[2018-11-30 02:11] karthiknadig commented on #1058
@davidhopper2003 Can you add `"subProcess": true` to the launch arguments, and see if that helps?

[2018-11-30 02:42] davidhopper2003 commented on #1058
@karthiknadig Thanks for your advice. I've tried it but it doesn't work.
![launch_modify](https://user-images.githubusercontent.com/31435476/49265338-a96ea680-f48c-11e8-9c87-87f2554c38bd.png)
![ppo2_debug_4](https://user-images.githubusercontent.com/31435476/49265344-af648780-f48c-11e8-8cca-83a51b80c794.png)
![ppo2_debug_5](https://user-images.githubusercontent.com/31435476/49265347-affd1e00-f48c-

[2018-11-30 03:56] karthiknadig commented on #1058
I think this might be due to `multiprocessing` using `fork`. That should be addressed by this issue #943.
You could try set `multiprocessing.set_start_method('spawn')` before using it.

[2018-11-30 07:06] davidhopper2003 commented on #1058
@karthiknadig
This method does work. Great! You're awesome. Thank you very much. Here is my modifications in the file `baselines/common/vec_env/subproc_vec_env.py`:
#### Modification 1: Line 1-3
[code]
to
[code]
#### Modification 2: Line 48-50
[code]
to
[code]
![ppo2_debug_6](https://user-images.githubusercontent.com/31435476/49272882-0d559700-f4ae-11e8-8a5b-debae378eda0.png)

[2018-11-30 10:54] catexis commented on #1046
I have the exact same issue

PTVSD version: 4.2.0
OS and version: Ubuntu 18.04
Python version: 2.7.15
Using VS Code 1.29.1
Python extension: 2018.11.0
<details><summary>launch.json</summary>

[code]

</details>
<details><summary>traceback</summary>

[code]

</details>

[2018-11-30 19:49] offero commented on #987
Same here. Very similar traceabacks.

[code]

[2018-11-30 21:08] karthiknadig commented on #1046
This should be addressed by #943. The debugger currently does not support `os.fork`, it can handle `os.spawn*()`.

[2018-11-30 21:10] #1058 closed

[2018-11-30 21:30] #1012 closed

[2018-12-01 02:35] yaohengzhi opened #1059 "pydev debugger: warning: trying to add breakpoint to file that does not exist:"
ptvsd in linux: 4.2.0
vscode: 1.29.1
Python version (& distribution if applicable, e.g. Anaconda): Anaconda
python extend:  2018.11.0 (29 Nov 2018)

I'm trying to attach a linux server by ptvsd from windows.

Script in the code:
import ptvsd
ptvsd.enable_attach()
print("waiting for remote debug to attach!")
ptvsd.wait_for_attach()

Related settings in workspace setting:
[code]
I got: pydev debugge

[2018-12-01 10:03] catexis commented on #1046
@gegenschall , @pbechliv as a solution - you cat try attach vscode to debug celery process ([attach to local script](https://code.visualstudio.com/docs/python/debugging#_attach-to-a-local-script)). It will be like [celery's rdb](http://docs.celeryproject.org/en/latest/userguide/debugging.html).
Just put this code into your celery's task:
[code]

Breakpoints will be work!

[2018-12-01 10:41] fabioz commented on #509
Note: created issue on CPython (https://bugs.python.org/issue35370) so that this could be better supported by Python itself in the future.

[2018-12-01 17:07] fabioz commented on #1039
Another thing that occurred to me is that a possible solution could be switching the pydevd to use the json messages (which is something already planned although not currently high priority) as I believe json unmarshaling doesn't do any imports.

[2018-12-03 01:51] yaohengzhi commented on #1059
Solved... I modified the pydevd_file_utils.py in the server:

[code]

[2018-12-03 02:41] DonJayamanne commented on #1059
Reopening so it gets fixed in the repo

[2018-12-03 02:43] karthiknadig commented on #1059
/cc @fabioz

[2018-12-03 15:33] fabioz commented on #1000
I'll investigate it here (i.e.: it seems to work for me in plain pydev/pydevd, so, it may be some integration issue).

[2018-12-03 15:50] mike-pt commented on #1040
@int19h  any clues on this one? Its stopping us from using vscode entirely :(

Let me know if there's any more details I can provide that would help track this

[2018-12-03 15:57] salvatore-giammanco commented on #987
Same here
[code]

[2018-12-03 18:42] karthiknadig commented on #1040
@mike-pt if you are using `multiprocessing` library try setting the `multiprocessing.set_start_method('spawn')` before using it. Also enable `"subProcess": true` in launch.json. See if that helps.

Currently the debugger does not support `fork`, #943 should address that.

[2018-12-03 18:48] karthiknadig commented on #1040
Also the `NoneType` issue that you encountered is known bug. We are trying to investigate it here: #987

[2018-12-03 21:53] karthiknadig commented on #1039
The import that deadlocks seems to be in xml.sax.xmlreader.IncrementalParser, see definition for parse:
[code]
Note: `make_parse` in `xml.sax.__init__.py` also has a call  to `__import__` that we can avoid be doing this in `untangle.py`.
[code]

so yep, using json might be the only solution here.

[2018-12-04 00:50] #940 closed

[2018-12-04 00:50] #954 closed

[2018-12-04 04:28] karthiknadig opened #1060 "Unable to open '_local.py': File not found"
## Environment data

- PTVSD version: 4.2.0
- OS and version: windows(dev) ubuntu (remote)
- Python version (& distribution if applicable, e.g. Anaconda): 2.7
- Using VS Code or Visual Studio: VSC

## Actual behavior

Error "Unable to open '_local.py": File not found" is popup after pressing "F5"

## Expected  behavior

There is no error popup

## Steps to reproduce:
Create python file named `remo

[2018-12-04 09:36] sourabhXIII commented on #57
@DonJayamanne
Thanks for the patch.
Can you please help me understand how to install it? What should I rename to `.vsix`?

[2018-12-04 18:05] karthiknadig commented on #57
@sourabhXIII If you have the latest released version of the extension, then in the launch json put `"subProcess": true` to enable this. There are some limitations to this feature. It currently supports `spawn` subprocesses and `fork` subprocesses are a work in progress (see #943 for tracking).

If you are using this on linux/mac with `multiprocessing` library you have to set `multiprocessing.set_s

[2018-12-04 19:17] mike-pt commented on #1040
Hun this code is actually using pathos so I don't think I can even do this without changing that ...

I'll try It later on a different project with pyton multiprocessing  and see how that goes.

[2018-12-04 20:21] mike-pt commented on #1040
Yeah a few more searching lead me to that... I had no idea, but I guess this means until #943  is fixed I have no luck in this one...

thanks for the hints for python3 though

[2018-12-05 16:11] dennispg commented on #1010
I am having the same issue, and this did definitely work in a prior version.

I am able to work around for now by adding `"env": { "PYTHONPATH": "${workspaceRoot}"}` to launch.json configuration.

I am on version 2018.11.0 of the `ms-python.python` extension, and 1.29.1 of vscode.

Is this the wrong place to post this issue and should it be posted elsewhere?

[2018-12-05 20:28] huguesv opened #1061 "Show return value not working for stdlib functions?"
## Environment data

- PTVSD version: 4.2.0
- OS and version: Windows
- Python version (& distribution if applicable, e.g. Anaconda): 3.7
- Using VS Code or Visual Studio: Visual Studio

## Actual behavior

locals window include return value for user-code, but not stdlib functions like `datetime.datetime.now()`

## Expected  behavior

locals window shows return value for `datetime.datetime.now()`

[2018-12-05 22:14] #965 closed

[2018-12-05 22:14] karthiknadig commented on #965
Issue moved to [Microsoft/vscode-python #3567](https://github.com/Microsoft/vscode-python/issues/3567) via [**ZenHub**](https://www.zenhub.com/)

[2018-12-05 22:19] karthiknadig commented on #1060
This issue was reported via CTI

[2018-12-05 22:48] #57 closed

[2018-12-05 23:00] karthiknadig opened #1062 "ptvsd debugging stopped working in latest release"
@offero commented on [Fri Nov 30 2018](https://github.com/Microsoft/vscode-python/issues/3520)

Debugging my twistd based application was working fine. It no longer does.

## Environment data

- VS Code version: 1.29.1
- Extension version (available under the Extensions sidebar): 2018.11.0
- OS and version: Mac OS 10.14 Mojave
- Python version (& distribution if applicable, e.g. Anaconda): XXX
- T

[2018-12-05 23:10] #920 closed

[2018-12-05 23:15] karthiknadig opened #1063 "Design doc for DAP support in pydevd"

[2018-12-06 01:20] int19h opened #1064 "test_module_events is failing on Windows"
[code]

[2018-12-06 01:23] int19h commented on #1064
The problem is that `AnyStrPath` derives from `str`. Thus, when comparing its instance against a `str` instance, depending on which one's `__eq__` gets invoked, results can be different. When strings are compared as part of a list, tuple, or dict - as in this case - which `__eq__` is invoked is pretty much unpredictable.

The fix is to avoid deriving from `str`, so that `str.__eq__` returns `NotIm

[2018-12-06 03:59] #874 closed

[2018-12-06 03:59] #1064 closed

[2018-12-06 19:12] fabioz commented on #1010
Note: although `python -m ptvsd --host 127.0.0.1 --port 3456 -m foo` does work for me, a launch such as the one below didn't work (will investigate).

[code]

[2018-12-06 19:54] #768 closed

[2018-12-06 19:54] karthiknadig commented on #768
Via #989

[2018-12-06 22:24] int19h opened #1066 "Fetching remote source for a file with a Unicode name fails on 2.7"

[2018-12-06 23:31] int19h opened #1067 "Conditional breakpoints with error in condition are reported as hit"
Typical example from `test_error_in_condition`:

[code]
Note that it printed the traceback out, even though it was `NameError`. Furthermore, it stopped at the breakpoint afterwards, despite the condition being invalid! This breaks the test, since it expects the script to run to completion instead of waiting on the breakpoint.

This is not consistent even in a single run:

[code]

Also, I haven't s

[2018-12-07 00:36] #1037 closed

[2018-12-07 00:36] #1066 closed

[2018-12-08 00:20] DonJayamanne commented on #997
Can we increase the priority of this issue, thanks.
Or does the label `feature-parity` have an implicit priority attached to it.

[2018-12-08 19:18] fabioz commented on #1010
Ok, just provided pull request to fix this (https://github.com/Microsoft/ptvsd/pull/1069). It worked when launching with `python -m ptvsd` because python itself added `''` to the `PYTHONPATH` in that case (which made it find the module), but when launching regularly from `ptvsd` the launcher was invoked with the full path (thus `''` was not added to the `PYTHONPATH` and the module was not found).

[2018-12-10 18:17] #1010 closed

[2018-12-10 19:13] karthiknadig commented on #1067
This is specific to attach via import. @fabioz Looks like in the case of import and attach the `skip_print_breakpoint_exception` and `skip_suspend_on_breakpoint_exception` are not set, even though `CMD_PYDEVD_JSON_CONFIG` is being called. Is this using a different instance of `py_db` in that case?

[code]

[2018-12-11 09:45] fabioz commented on #1039
I'll start to take a look into converting the messages to json.

[2018-12-12 18:16] felipeferri commented on #1015
I'm having the same issue. Unfortunately reverting ptvsd to 4.1.4 didn't help.

[2018-12-12 21:01] mfeblowitz commented on #987
Seems like it might have something to do with a corrupt workspace (or configurations associated with the workspace). I closed the workspace, opened the folder, and was able to run debug without error.

[2018-12-13 17:20] DonJayamanne opened #1071 "Stepping over fails in debugger with message Unable to open '&lt;string&gt;' FIle not found"
@malmaud commented on [Wed Nov 21 2018](https://github.com/Microsoft/vscode-python/issues/3426)

Getting this error when debugging this file:

[code]

If I set a breakpoint at the `self.c = ` line and then click 'step over', I see

[code]

I guess this is related to https://github.com/Microsoft/vscode-python/issues/3063.

VSCode 1.29.1
Python 3.6.7 with `dataclasses` package  installed via ` pip i

[2018-12-13 18:03] fabioz commented on #991
This should be fixed in `master`.

[2018-12-13 18:46] DonJayamanne commented on #987
Dup of https://github.com/Microsoft/vscode-python/issues/3520

[2018-12-13 18:46] DonJayamanne commented on #987
Sorry, wrong issue.

[2018-12-13 19:20] fabioz commented on #987
Taking a look at the messages, it seems there are 2 different reports here...

The one in https://github.com/Microsoft/ptvsd/issues/987#issuecomment-437163663 is actually an issue when daemon threads are alive during the interpreter shutdown (as a part of the shutdown process Python sets module attributes to None) .

-- besides showing a stacktrace those shouldn't be a huge problem... in the lates

[2018-12-13 21:07] int19h commented on #419
This doesn't repro in VSC - can you recheck in VS?

[2018-12-14 19:08] brettcannon opened #1072 "AttributeError: module 'builtins' has no attribute 'interpreter' when you do anything in the debug console"
@lovettchris commented on [Thu Dec 13 2018](https://github.com/Microsoft/vscode-python/issues/3698)

**Repro**
1) Create test.py containing:
[code]
2) then run "code hello.py" from a console that is configured with an Anaconda version of Python 3.6.
3) put a breakpoint on that line and press F5
4) click "Debug Console" and type in "import os"

**Actual**
[code]

[2018-12-14 19:21] huguesv opened #1073 "gevent 'BlockingSwitchOutError' exception after updating"
@mkimberling commented on [Fri Dec 14 2018](https://github.com/Microsoft/PTVS/issues/4922)

After updating VisualStudio to 15.9.4 yesterday, I'm experiencing an unhandled exception from `gevent` when I perform operations in my application:
[code]

Updating gevent & greenlet to the latest version doesn't address the issue.

---

@mkimberling commented on [Fri Dec 14 2018](https://github.com/Microso

[2018-12-14 22:49] huguesv commented on #419
Tested with latest ptvsd, it works now!

[2018-12-14 22:49] #419 closed

[2018-12-15 09:58] fabioz commented on #1072
@lovettchris can you post the full stack trace? It's strange because in the code that `AttributeError: module 'builtins' has no attribute 'interpreter'` is protected (https://github.com/Microsoft/ptvsd/blob/master/src/ptvsd/_vendored/pydevd/pydevconsole.py#L449), so, trying to make sense of it (maybe the full stack trace can help).

Also, do you know which version of IPython are you using? -- some

[2018-12-16 20:30] qqgg231 commented on #1071
I have similar message box:

<img width="960" alt="2018-12-16 1" src="https://user-images.githubusercontent.com/11590960/50058248-e2d63000-0175-11e9-8461-3ccc94f71caf.png">

i made some investigation:

![python debugger bug](https://user-images.githubusercontent.com/11590960/50058516-c805ba80-0179-11e9-8543-2afd2532329c.gif)

[2018-12-17 18:40] brettcannon opened #1074 "Jython - Internal error detected."
@kostermw commented on [Sat Dec 15 2018](https://github.com/Microsoft/vscode-python/issues/3715)

## Environment data

- VS Code version: 1.30.0
- Extension version (available under the Extensions sidebar): 2018.12.1
- OS and version: W10 Pro 1803 build 17134.471
- Python version (& distribution if applicable, e.g. Anaconda): Jython 2.7.0
- Type of virtual environment used (N/A | venv | virtualenv

[2018-12-17 18:50] huguesv commented on #1074
Interesting. Same error for IronPython: https://github.com/Microsoft/ptvsd/issues/436

[2018-12-18 16:23] fabioz commented on #1000
The problem is that the completion command only expects the token for the completion and not the full text entered (that part was expected to be handled by the IDE)...

I'm in the process of changing the related message to use the DAP json format so that it has the full info on the text/column so that it can do what's needed properly.

As a note, I'm doing it on top of the changes in the pull requ

[2018-12-19 00:53] ftrofin commented on #987
I have the same problem with the latest version: VS Code Mac 1.30.1 on macOS 10.14.1 and Python extension 2018.12.1. This renders debugging Python code basically useless. Please fix!

[2018-12-19 00:58] mfeblowitz commented on #987
Try a fresh workspace. That helped me.

[2018-12-19 23:40] #991 closed

[2018-12-20 13:54] fabioz commented on #354
This one can be closed (this is already done).

[2018-12-20 14:00] fabioz commented on #987
@ftrofin can you try to set the following environment variables:

[code]

and run again to see if it works?

-- this will disable the accelerators (where I think the issue lies) and can be used as a workaround until a new release is done.

[2018-12-20 18:20] ftrofin commented on #987
I added this in my lauch configuration that I'm debugging:
`           "env": { "PYDEVD_USE_CYTHON": "NO",
                "PYDEVD_USE_FRAME_EVAL": "NO"
            }`
but it didn't make a difference. I am still seeing `'NoneType' object is not callable` randomly

[2018-12-20 18:57] fabioz commented on #987
Thanks for reporting back @ftrofin... do you think you can check with the latest master?

You can create a file with the contents below and run it:

[code]

to see where it's installed in your system -- then rename the related folder and put the contents from git on the original folder (the contents from `git/ptvsd/src` should be put at the proper place).

[2018-12-20 20:16] brettcannon opened #1076 "Python debugger can't run"
@SmileGobo commented on [Thu Dec 20 2018](https://github.com/Microsoft/vscode-python/issues/3760)

## Environment data

- VS Code version: 1.30.1
- Extension version (available under the Extensions sidebar): Version: 2018.12.1
- OS and version: Linux Mint 17.1 Rebecca
- Python version: 3.6.3 64bit
- Type of virtual environment used : N/A
- Relevant/affected Python packages and their versions: XXX

[2018-12-20 20:17] brettcannon opened #1077 "Unable to open '&lt;frozen importlib._bootstrap_external&gt;': File not found"
@jheffez commented on [Thu Dec 20 2018](https://github.com/Microsoft/vscode-python/issues/3761)

Getting errors below while taking my time debugging - breakpoints/stepping in/over (F9/F10/F11) . Running straight without stepping (F5 with no breakpoints) works fine. The issue is intermittent/random and I can't reproduce easily.
Running the latest VS Code/extension.

![image](https://user-images.git

[2018-12-20 21:44] karthiknadig opened #1078 "Show return value does not always work"
## Environment data

- PTVSD version: master
- OS and version: Any
- Python version (& distribution if applicable, e.g. Anaconda): any
- Using VS Code or Visual Studio: VSC

## Steps to repro

[code]

## Some notes on the issue:

[2018-12-21 00:45] ftrofin commented on #987
This is the result of running that file in VSCode:
`/Users/work/.vscode/extensions/ms-python.python-2018.12.1/pythonFiles/lib/python/ptvsd/__init__.pyc
Traceback (most recent call last):
  File "/Users/work/.vscode/extensions/ms-python.python-2018.12.1/pythonFiles/ptvsd_launcher.py", line 45, in <module>
    main(ptvsdArgs)
  File "/Users/work/.vscode/extensions/ms-python.python-2018.12.1/pythonFi

[2018-12-21 00:56] ftrofin commented on #987
So I did replace that folder with the git master and I still get the dreaded message. The weird thing is that it is random: My script goes through a loop processing some files. Sometimes the error comes up on the first or second file sometimes on the fifth or later. Seems random. The traceback printed also doesn't make sense (because that code has been executed many times already in that run). Ver

[2018-12-21 05:31] qqgg231 commented on #1077
https://github.com/Microsoft/ptvsd/issues/1071

[2018-12-21 07:41] karthiknadig commented on #1040
#943 to track support for fork

[2018-12-21 07:41] #1040 closed

[2018-12-21 08:54] fabioz commented on #1039
@karthiknadig this one isn't really fixed (we have to port all messages because any message which is using `untangle` may hit the issue, so, this is still open, the pull request was only the initial proof of concept for porting the messages).

[2018-12-21 09:15] fabioz commented on #987
@ftrofin thanks, that's helpful (I was thinking it was related to cython, so, I was probably chasing a dead in in that route)... I have some hunch about what it could be, so, I'll prepare the code on my side (and if you can run it after I make some changes here, that'd be nice).

Also, just to confirm, you're on Python 2.7 on Linux right? (so far  I think all the reports are for Python 2.7 on Linu

[2018-12-21 15:07] fabioz commented on #1076
@karthiknadig you can close this issue (the issue is that the installed version of `pkg_resources` is broken, so, there's not much to do on `ptvsd`).

[2018-12-21 15:21] SmileGobo commented on #1076
Yes you are right! I'm have broken envrivoment. I'm using pyenv for switch to python 3.6.7 and start vscode from console. That is work great. Thanks.

[2018-12-21 18:48] #1076 closed

[2018-12-21 19:21] copperchin commented on #987
I can confirm that this is an issue in a Windows environment as well (Windows 7, Python 2.7), and started cropping up as far back as October 2018.

It's been very difficult to narrow down which conditions this happens under; this has been happening to my coworkers for some time, but only recently have I reproduced the error.  I've even opened the same workspace on the same computer with two differ

[2018-12-21 19:39] ftrofin commented on #987
@fabioz Yes, Python 2.7 but on Mac, not Linux (See my reported config) https://github.com/Microsoft/ptvsd/issues/987#issuecomment-448428677.
I don't know if you have a different setup but I also get this warning every time I open a python file in VSC (because I'm not using VSC's default interpreter?):
![image](https://user-images.githubusercontent.com/8718388/50360462-f4705c80-0514-11e9-8c9f-0c7d0

[2018-12-21 19:43] karthiknadig commented on #987
@ftrofin That comes from the Python extension, @brettcannon should be able to answer that.

[2018-12-21 21:38] #1074 closed

[2018-12-22 16:18] fabioz commented on #987
@copperchin thank you very much for the investigation. This issue is my main priority now, so, hopefully this will be solved soon ;)

[2018-12-25 04:55] PaulStubbs commented on #982
I have the same issue. Running Ubuntu 16.04, python 3.5.2, pytest, in a virtual environment.
Running python -m pytest runs correctly with a pass or a fail test, both work fine. But when I click on the debugtest above the test function it fails with this exception.

Exception has occurred: SystemExit
0
  File "/home/marvin/.vscode/extensions/ms-python.python-2018.12.1/pythonFiles/testlauncher.py",

[2018-12-28 06:14] nkfeiyang commented on #312
where to enable or disable "Raised Exceptions"  in vsc?

[2018-12-28 22:56] awav commented on #1072
@fabioz, Here is a full stack trace:

[code]

[code]

[2018-12-29 01:41] dan-cristian commented on #987
I am getting the same issue on an Ubuntu box with:
- python 2.7
- ptvsd in ./venv/lib/python2.7/site-packages (4.2.0)

I run this
`>>> import ptvsd

and get the error:
`
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/haiot/PYC/venv/local/lib/python2.7/site-packages/ptvsd/attach_server.py", line 72, in enable_attach
    redirect_output=redirect_output,
  File

[2019-01-02 17:19] iamchairs commented on #1015
@felipeferri Doesn't work for me now either. Did you find any solution to this? I'm getting it again.

[2019-01-02 18:59] fabioz opened #1082 "Frame eval mode does not hit breakpoint in module when it's in the first line of the module (when the first line != 1)."
I already have a fix for this (waiting for https://github.com/Microsoft/ptvsd/pull/1081 to be merged before submitting fix).

[2019-01-02 19:00] fabioz opened #1083 "Debugger is falling back to trace mode when there are 2 breakpoints added in the same method."
I already have a fix for this (waiting for #1081 to be merged before submitting fix).

[2019-01-03 08:30] #1072 closed

[2019-01-03 18:41] #1061 closed, assigned to fabioz

[2019-01-03 20:21] brettcannon commented on #312
@nkfeiyang there's a checkbox in the right-hand column while the debugger is running.

[2019-01-04 17:44] stefan-- commented on #1041
please see https://github.com/Microsoft/vscode-python/issues/2982#issuecomment-449654871

[2019-01-04 19:06] karthiknadig commented on #1015
@iamchairs Can you share the logs again? the one in the bug is incomplete. Based on the log in the bug, the debugger is operating.
If you run the debugger directly in the terminal using the same command line as the one used by VSCode then you will get Connection refused error. The debugger expects to connect to a server, and since it is not available it fails.

If possible please share minimal cod

[2019-01-04 19:13] karthiknadig opened #1087 "breakpoint() function breaks on different lines on different platforms"
## Environment data

- PTVSD version: master
- OS and version: windows, Linux
- Python version (& distribution if applicable, e.g. Anaconda): 3.7
- Using VS Code or Visual Studio: VSC

## Actual behavior

On windows it breaks on the same line where `breakpoint()` is called. On linux it breaks on the next available lines.

## Expected  behavior

Should break on next available line in all platforms.

[2019-01-04 19:49] karthiknadig commented on #906
This is not needed since we will be suing DAP directly with `pydevd`

[2019-01-04 19:49] #906 closed

[2019-01-05 05:03] karthiknadig commented on #221
This is now provided via debug console completions

[2019-01-05 05:03] #221 closed

[2019-01-05 05:06] karthiknadig commented on #224
This can be done directly from VS, there is some work that needs to be done on VS side.

[2019-01-05 05:06] #224 closed

[2019-01-05 05:31] karthiknadig commented on #686
This is fixed in new tests: see
`test_vsc_exception_options_raise_with_except`
`test_vsc_exception_options_raise_without_except`

[2019-01-05 05:31] #686 closed

[2019-01-05 05:34] karthiknadig commented on #685
This is now fixed see test_output.py that runs code as file and module.

[2019-01-05 05:34] #685 closed

[2019-01-06 06:54] fangxu622 commented on #1056
I have a similar issue. When I try to iterate over my torch.utils.data.DataLoader, I get an Error in atexit._run_exitfuncs as well (Along with some other errors. Butt the atext error seems to be the root).

VS Code version: Code 1.29. and 1.30
ubuntu 18.04
Python:2.7.15 2.7.13 :: Anaconda,  pytorch 0.4 and 0.3
thr output like this
[code]

[2019-01-07 21:18] karthiknadig commented on #248
This item was for VS. Vs has moved the debug adapter launcher to allow passing settings. An Alternate way to handle this is no longer needed.

[2019-01-07 21:18] #248 closed

[2019-01-07 21:19] karthiknadig commented on #255
Closing this since we are going down ssh route.

[2019-01-07 21:19] #255 closed

[2019-01-07 21:20] #354 closed

[2019-01-07 21:33] karthiknadig commented on #595
This was with old tests. This is not seen with new tests.

[2019-01-07 21:33] #595 closed

[2019-01-07 21:40] #597 closed

[2019-01-07 21:40] karthiknadig commented on #597
This was with regard to how we ran tests earlier. This is not seen anymore.

[2019-01-07 21:41] karthiknadig commented on #662
Not seen with pytests.

[2019-01-07 21:41] #662 closed

[2019-01-07 23:03] The-any-Key commented on #85
I still getting this error when using breakpoints (works fine when no breakpoints is used):
  File "E:\Program Files\Reallusion\iClone 7\Bin64\lib\site-packages\ptvsd\_vendored\pydevd\_pydevd_bundle\pydevd_process_net_command.py", line 687, in process_net_command
    f = open(path, 'r')
FileNotFoundError: [Errno 2] No such file or directory: 'e:\\program files\\reallusion\\iclone 7\\&lt;frozen imp

[2019-01-07 23:10] karthiknadig commented on #85
@The-any-Key This was caused by https://github.com/Microsoft/ptvsd/issues/1077 The fix is in master, but not released yet.

[2019-01-08 18:17] karthiknadig commented on #1073
@mkimberling Can you try this after setting environment variable `GEVENT_SUPPORT = 'True'`?
If you continue to experience this, can you share minimal code that repros this issue?

[2019-01-08 18:20] karthiknadig opened #1089 "Test runs on windows running with Tox are timing out"
## Environment data

- PTVSD version: master
- OS and version: windows
- Python version (& distribution if applicable, e.g. Anaconda): any
- Using VS Code or Visual Studio: Azure pipelines test runs

## Steps to reproduce:
1. Queue automated test run on azure

[2019-01-08 21:11] karthiknadig commented on #848
Does not repro.

[2019-01-08 21:11] #848 closed

[2019-01-08 21:37] karthiknadig commented on #931
We may have to set `self.root_is_pure = False` in bdist_wheel options. This will allow us to properly set the python, abi and platform. We could also provide `def get_tag(self)` implementation to correctly set the platform.

[2019-01-08 21:52] int19h opened #1090 "Port refactored command line parser to master"
https://github.com/int19h/ptvsd/commit/d924e457c01b9eea9d81498fd8539763dd8e47b5

Should fix #921 and #1013.

[2019-01-08 23:54] karthiknadig commented on #1089
Does not repro locally. But repros on azure

[2019-01-09 11:36] fabioz opened #1092 "DAP in pydevd"

[2019-01-09 12:30] dim2iv opened #1093 "breakpoint are not hit when debugger is attached to remote target"
## Environment data

- PTVSD version: 4.2.0
- OS and version: Linux, Fedora 29
- Python version: Python 2.7.15
- Using VS Code or Visual Studio:
Version: 1.30.2
Commit: 61122f88f0bf01e2ac16bdb9e1bc4571755f5bd8
Date: 2019-01-07T22:49:48.319Z
Electron: 2.0.12
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
OS: Linux x64 4.19.13-300.fc29.x86_64

Target machine:
- OS and version: Linux, Ubuntu 18.

[2019-01-09 17:02] karthiknadig commented on #1093
@dim2iv Can you share the `launch.json` configuration you are using for this?

[2019-01-09 17:52] dim2iv commented on #1093
@karthiknadig following is content of lauch.json
{
    // Use IntelliSense to learn about possible attributes.
    // Hover to view descriptions of existing attributes.
    // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Attach (nfvt-up)",
            "type": "python",
            "request

[2019-01-09 18:34] karthiknadig commented on #1093
For clarification, the full path for `script-debug` on remote is `/opt/bin/script-debug`?

[2019-01-09 20:53] karthiknadig commented on #1060
Does not repro.
![image](https://user-images.githubusercontent.com/3840081/50927770-9943d280-140d-11e9-9812-98aecd6f2644.png)

[2019-01-09 20:53] #1060 closed

[2019-01-10 04:41] #477 closed

[2019-01-10 16:59] karthiknadig commented on #1093
@dim2iv I tried this, it seems to be working. Can you share your project? This might be specific to the project.

[2019-01-10 18:48] brettcannon opened #1094 "IOError triggered in ptvsd"
@peer2peer commented on [Wed Jan 09 2019](https://github.com/Microsoft/vscode-python/issues/3956)
[code]

[2019-01-10 18:56] fabioz commented on #1094
@peer2peer can you give more details on how did you get this error to happen?

Which code did you use?

What's the Python version you're using? (please add up to the minor version i.e.: 2.7.12)

[2019-01-11 07:57] dim2iv commented on #1093
@karthiknadig here is a file. Is it possible reason to be that some of imported modules do not exists on host (locals) system, but exists on target ( remote ) system ?
[source.zip](https://github.com/Microsoft/ptvsd/files/2748617/source.zip)

[2019-01-11 18:45] karthiknadig commented on #1093
@dim2iv if the files are missing locally, you get a message box that pops up on VS Code that says 'File not found'.

Unfortunately, I am not able to repro this at all (with the source file you provided). Can you do one more thing, set `"logToFile": true,` and attach the log file here? You may want to remove any personal info from the log file. The log file should be in  `C:\Users\<username>\.vscod

[2019-01-11 19:41] dim2iv commented on #1093
@karthiknadig with missing files i mean, that some modules imported do not exists on host system. They are related to (like apt_pkg). They are specific for the Ubuntu (target system), while on development host they are not installed at all. Development host is Fedora.
I will will run with enabled logging and will try to collect and send files for good and bad cases.

[2019-01-11 22:41] karthiknadig opened #1095 "Debugger compliance for PTVS"
Internal compliance work item

[2019-01-12 14:50] Adanteh commented on #982
Same one here. Using 3.5.4 pipenv and unittests and clicking the Debug Test

[code]

[2019-01-13 23:33] AndreaCitrolo commented on #982
Same also here, using, vscode 1.30.2, conda 4.5.11, python 3.7.0, on ubuntu 16.04.

Exception has occurred: SystemExit
False
  File "/home/<user>/.vscode/extensions/ms-python.python-2018.12.1/pythonFiles/visualstudio_py_testlauncher.py", line 344, in main
    pass
  File "/home/<user>/.vscode/extensions/ms-python.python-2018.12.1/pythonFiles/visualstudio_py_testlauncher.py", line 347, in <module>

[2019-01-14 03:11] DonJayamanne commented on #982
@karthiknadig @int19h
Solution is #997
I'd close this issue in favour of #997

[2019-01-14 08:03] dim2iv commented on #1093
@karthiknadig Here You can find logs for:
Bad case 1 - script is started on target like this '_python -m ptvsd --host 10.3.72.215 --port 3000 --wait nfvt-up_'
Bad case 2 - script is modified and code is added at start of file
_#! /usr/bin/env python
import os
import sys
import ptvsd

# # Allow other computers to attach to ptvsd at this IP address and port.
ptvsd.enable_attach(address=('0.0.0.0', 3

[2019-01-14 19:09] karthiknadig commented on #1093
Can you try the following and see if that helps?
1. Try moving the location on the remote machine to something other than `/opt/bin`.
2. Try setting `"debugStdLib": true`.
I suspect the issue might be that the debugger is ignoring the break-point because it thinks the break-point is in a standard library and skips it (it should not).

If either of the above steps did not help then, can you give me

[2019-01-15 10:31] azertyfun opened #1099 "New multiprocessing.Process sometimes hangs without starting"
## Environment data

- PTVSD version: 4.2.0
- OS and version: Arch Linux with 4.20.0 kernel (client), Ubuntu 18.04 LXC (remote)
- Python version (& distribution if applicable, e.g. Anaconda): 2.7.15 (could not reproduce on python 3)
- Using VS Code or Visual Studio: VS Code 1.30.2

## Actual behavior

When starting a bunch of `Process` objects, some of them never actually start. Instead, the hang

[2019-01-15 12:50] fabioz opened #1101 "Refactor: create reference map through ids for frames/variables when frame is suspended"
This is a requisite to support the debug adapter protocol.

[2019-01-15 19:03] karthiknadig opened #1102 "Build wheels for manylinux1"

[2019-01-15 19:08] karthiknadig opened #1103 "Build wheels for macOS"
These will probably be:
* macosx_10_9_intel
* macosx_10_9_x86_64
* macosx_10_10_intel
* macosx_10_10_x86_64

[2019-01-16 23:06] qubitron commented on #997
This is important for VS Code so adding back P1

[2019-01-17 05:11] karthiknadig commented on #1093
Thanks you for the logs. It looks like the breakpoint event is not getting triggered in the second case. Can you run the debugger with following env variable on the remote machine?
`PTVSD_DEBUG=True`

You should see some output like this. Please capture that output for the good and bad case.
[code]

[2019-01-17 05:55] YLinXin opened #1106 "妈呀，怎么会有那么多Bug？Oops, so much bug on this project."
## Environment data

- PTVSD version: 4.2.0
- OS and version: Linux 4.18.0-13-generic #14-Ubuntu SMP Wed Dec 5 09:04:24 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
- Python version (& distribution if applicable, e.g. Anaconda): Python 2.7.15+ (default, Oct  2 2018, 22:12:08)
[GCC 8.2.0] on linux2

- Using VS Code or Visual Studio: VS Code

## Actual behavior

same as the #987

## Expected  behavior

e

[2019-01-17 07:35] dim2iv commented on #1093
@karthiknadig You can find logs attached. As i see on bad case ptvsd complains that file is unknown. Looks like mappings are not set second ( and following ) run(s).
[good.zip](https://github.com/Microsoft/ptvsd/files/2767493/good.zip)
[bad.zip](https://github.com/Microsoft/ptvsd/files/2767495/bad.zip)

[2019-01-17 07:44] karthiknadig commented on #1106
Try running django with, `--noreload` and `--nothreading`.
`sudo python -m ptvsd --host 0.0.0.0 --port 7777 ./manage.py runserver --noreload --nothreading --settings=web_admin.settings "0.0.0.0:8005"`

When using `--wait` debugger will wait for you to attach before running your code.

Also `pathMapping` should not have `program`. use this:
[code]

[2019-01-17 08:34] karthiknadig commented on #1093
@fabioz have you see this issue. Looks like path mapping, fails often, in this scenario.

good case:
[code]
bad case:
[code]

I see a success response from DAP logs for both cases. Any idea where this might be breaking?

[2019-01-17 10:13] fabioz commented on #1093
Unfortunately the log seems to be incomplete as there's no info on the file translation being set -- and it really seems like the translation is set on one case but not in the other...

@dim2iv, can you do the following:

1. Set an environment variable named `DEBUG_PYDEVD_PATHS_TRANSLATION` with a value of `1`.

2. Open the file: `pydevd_file_utils.py` (to get its location you can create a program

[2019-01-17 10:19] fabioz commented on #1093
Unfortunately the log seems to be incomplete as there's no info on the file translation being set -- and it really seems like the translation is set on one case but not in the other...

@dim2iv, can you do the following:

1. Set an environment variable named `DEBUG_PYDEVD_PATHS_TRANSLATION` with a value of `1`.

2. Open the file: `pydevd_file_utils.py` (to get its location you can create a program

[2019-01-17 15:45] dim2iv commented on #1093
@fabioz i  do not have installed pydevd installed on host or on target machine.
Python 2.7.15rc1 (default, Apr 15 2018, 21:51:34)
[GCC 7.3.0] on linux2
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: No module named pydevd_file_utils

In VScode is not mentioned that i have to install it in

[2019-01-17 15:57] fabioz commented on #1093
@dim2iv `ptvsd` bundles `pydevd`, so, I thought it'd be there... try to do:

[code]

then, the location of `pydevd_file_utils.py` should be under the `ptvsd` folder `/_vendored/pydevd/pydevd_file_utils.py`.

[2019-01-17 16:16] fabioz commented on #997
I'll take a look at this.

The suggestion is being able to configure through the launch config:

[code]

Some notes:
`exclude` can be any name (being directories or not) and has precedence over anything (so, if it matches it's always excluded).

`includeDirs` and `excludeDirs` need to map to directories and it's possible that one is inside the other (so, the one which matches the biggest path wins

[2019-01-17 18:46] karthiknadig commented on #997
That sound good. We will need python API as well.

[2019-01-17 18:57] karthiknadig opened #1108 "Launch module from VSC broken in master"
## Environment data

- PTVSD version: master
- OS and version: any
- Python version (& distribution if applicable, e.g. Anaconda): any
- Using VS Code or Visual Studio: any

launching modules as specified in this issue is broken. https://github.com/Microsoft/ptvsd/issues/1010#issuecomment-444992883

[2019-01-17 21:44] karthiknadig commented on #1021
Please reopen when there is more info.

[2019-01-17 21:44] #1021 closed

[2019-01-17 22:40] int19h commented on #1108
It wasn't properly adding '' (i.e. current directory) to `sys.path`, like Python's own `-c` and `-m` do. This wasn't visible in our test runs, since they do not import from current directory, but instead explicitly add the test module directory to path.

[2019-01-17 22:56] qubitron commented on #997
My understanding at this time is that we only need the python API at this time.

We have another proposal for more specific include/exclude rules here:
https://github.com/Microsoft/vscode-python/issues/2087#issuecomment-425528613

Copying:
[code]

If you want to go ahead and implement the includePaths/excludePaths part of the proposal you are welcome to!

/cc @DonJayamanne

[2019-01-17 23:02] #1108 closed

[2019-01-17 23:14] DonJayamanne commented on #997
@karthiknadig @qubitron The Python VSC Extension will not need the python api.
The extension can exclude the internal (extension specific) files from being debugged using the debug options.

Here's what I propose:
[code]

* Lets drop `includeMoudles` and `excludeModules` for now
* Lets go with just the following:
[code]
* Note, `includePaths` would augment the currently include list of files in th

[2019-01-18 09:21] fabioz commented on #1093
@karthiknadig it really seems like ptvsd is sending breakpoints before setting up the translation in this case (which wasn't expected in `pydevd`)... now, there are 2 possible fixes:
1. `ptvsd` makes sure that the paths are setup before the breakpoints.
2. `pydevd` itself can update the breakpoints if the translations are sent after breakpoints are set.

If the requests are expected to be sent in

[2019-01-18 10:10] dim2iv commented on #1093
@fabioz proposed workaround is too hard coded, since will work just for one script in project. I able to debug for now and will wait for real fix.
@karthiknadig is this is considered as a problem ?

[2019-01-18 15:37] fabioz commented on #997
The one downside I see with an `includePaths`/`excludePaths` with fnmatch-style matches is that in the case of nesting it's hard to reason which of the rules should have priority (i.e.: should it be the one which includes or the one which excludes it), whereas with an actual directory it's easy to reason about it (if there's one inside the other, the leaf one wins), which is why I had suggested `i

[2019-01-18 15:48] fabioz commented on #997
I thought about it a bit more and I have a suggestion:

Let's go with the `includePaths`/`excludePaths` and let the include have priority (since everything is included by default, so, the rationale is that the user usually wants to exclude something and then include it back in nesting) and have additional settings so that the user could change what we see as project directories/library directories

[2019-01-18 16:04] DonJayamanne commented on #997
Do we need `"libraryRoots": ["/path/to/lib"],
    "projectRoots": ["/path/to/lib/project"],`

Personally I find that confusing.
Id. Like to keep this as simple as possible, KISS.
The more settings we have, the more complicated it is to understand, configure and maintain..
Can we revisit it later.

As for the excludes, I would have expected that to take precedence. E.g. include everything in the cu

[2019-01-18 16:31] fabioz commented on #997
Ok, let's revisit later for the library/project roots if needed...

Regarding the include/exclude priority, let me give an example:
[code]

[code]

Does it seem ok or am I missing something?

Note that if there's an additional level on any case the rules wouldn't work because the rules aren't flexible enough (but that's probably a reasonable limitation).

[2019-01-18 22:04] DonJayamanne commented on #997
[code]

This doesn't feel intuitive to me, that's not how I would expect this setting to work.
It just add complications in explaining how this works to end users.

The way I'd solve your case is as follows:
[code]

Besides, I would have thought the primary use case of `includePaths` is to include files/folders that sit outside of the current project.

[2019-01-18 22:40] fabioz commented on #997
I agree that it's a good approach, as it doesn't have a conflict and the
priority doesn't really matter in this solution,  but as the issue is when
there's a conflict, do you see some case where it's more useful for the
exclude to have priority over the include?

On Friday, January 18, 2019, Don Jayamanne <notifications@github.com> wrote:

[2019-01-18 23:16] int19h commented on #997
Any case where you want to include a directory while excluding both its parent and some subdirectories in it.

It feels like the easiest way to do this is to just apply rules in order. This way, priority is explicit, and is controlled by the user. They would need to ensure that the more generic rules are at the beginning, ahead of more specific ones, but it is flexible enough to cover any scenario

[2019-01-18 23:52] fabioz commented on #997
Actually, the ordered dictionary seems a good approach...

So, a single setting (excludePaths) which is loaded as an ordered
dictionary where the key is the glob and the value a boolean saying to
exclude or not would be consistent with what's already there and cover all
cases needed... seems reasonable?

On Friday, January 18, 2019, Don Jayamanne <notifications@github.com> wrote:

[2019-01-18 23:52] qubitron commented on #997
Just wanted to chime in that the important cases to support are:

- By default include the workspace but exclude site-packages
- Allow user to include specific module within site packages or include all of site-packages
- Allow user to exclude specific file/folder from within their workspace
- Allow user to include folder that is outside of their workspace

[2019-01-18 23:58] DonJayamanne commented on #997
@qubitron

How does this work with the setting `justMyCode`.

This would mean we need the `includeModules` setting.

[2019-01-18 23:59] int19h commented on #997
JSON dictionaries are semantically unordered, so I'm not sure we can make the order explicit that way. It would require an array, but array elements can themselves be dicts, e.g.:
[code]
true/false has the obvious meaning of exclude/include, and relative ordering of dicts defines priority. Multiple elements in a single dict can be disallowed, or else can be treated as having the same priority.

[2019-01-19 00:12] fabioz commented on #997
Well, this case is really a corner case, so, I'd rather have the same
pattern that VSCode uses for other excludes.

I.e.: I think the include/exclude conflict won't be common and the order
can be used as a reasonable heuristic if someone does have such an odd case.

Also, dicts in python are now ordered,  so,  it may be reasonable for
python programmers to expect that while having an easier syntax

[2019-01-19 18:52] karthiknadig opened #1110 "Map remoteRoot to current working directory if it is '.'"

[2019-01-19 19:20] DonJayamanne commented on #1110
Let me know when you have a branch ready, one that I can use for testing.

[2019-01-21 05:55] #1110 closed

[2019-01-21 22:36] navmed opened #1112 "Debug keyboard shortcuts F9, F10, F11 not working"
Version: 1.30.2 (system setup)
Commit: 61122f88f0bf01e2ac16bdb9e1bc4571755f5bd8
Date: 2019-01-07T22:54:13.295Z
Electron: 2.0.12
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
OS: Windows_NT x64 10.0.17134

I created an empty folder, and added this file to it: https://gist.github.com/methane/1432916

I hit F9 on my keyboard and it does not set a breakpoint. I confirmed that it's the right shor

[2019-01-22 03:30] missingdaysqxy opened #1113 "Connection timed out"
I want to know if there are any methods to set a unlimited connection for a long time debugging? Because of my unfamiliarity to the project, I need to check the variables one by one, and this will take a lot of time.

Terminal Report as follows:
[code]

[2019-01-22 03:46] karthiknadig commented on #1113
/cc @int19h

[2019-01-22 04:10] karthiknadig commented on #1112
This looks like an extension issue, `ptvsd` does not come into picture until debugging has been started.
@navmed Can you provide the python extension version? I have version `2018.12.1` and i am not able to repro this on that version.

@DonJayamanne I see that F10/F11 does not start debugging. Should F10/F11 start debugging if **not** already started?

[2019-01-22 06:10] kirtangajjar commented on #1046
@karthikananth Any updates on this?

[2019-01-22 06:46] karthiknadig commented on #1046
@kirtangajjar we are working on refactoring the debugger, which is part of getting it fork safe. This issue is not fixed yet.

[2019-01-22 06:51] DonJayamanne commented on #1112
Depends on what those keys are mapped to.
Will create an issue to track this in our repo.

[2019-01-22 11:00] fabioz commented on #1112
@navmed the most common issue for this is that you have some other program installed which is grabbing those keybindings before it ever arrives in the editor.

This is actually very common in Linux (where some desktop environments grab those by default). For Windows the usual culprit is some program installed (I've seen some graphics drivers grab keybindings as well as some media players -- beside

[2019-01-22 11:22] Brazzelhuber commented on #965
The proposal of gigi206 does not work with me. , I receive the message "subprocess not defined".

[2019-01-22 16:14] navmed commented on #1112
@fabioz You're right, it was CloudShot hogging the keys. I should have checked this first. Thanks everyone for your help and my apologies for the unrelated issue.

[2019-01-22 16:45] fabioz commented on #1112
Great that you found the culprit ;)

-- closing issue

[2019-01-22 16:45] #1112 closed

[2019-01-22 17:04] karthiknadig commented on #965
@Brazzelhuber The issue you are seeing might be a different issue. Please file a separate bug with details.

[2019-01-22 17:06] karthiknadig commented on #1106
Closing this for now, please reopen if needed.

[2019-01-22 17:06] #1106 closed

[2019-01-22 17:09] karthiknadig commented on #1099
2.7 uses `os.fork` on linux which is not yet supported by the debugger. see https://github.com/Microsoft/ptvsd/issues/943

[2019-01-22 19:00] d3r3kk opened #1114 "Python dicts in debug toolbar: hashes after keys look ugly"
@abetkin commented on [Tue Jan 22 2019](https://github.com/Microsoft/vscode-python/issues/4073)

![vscode](https://user-images.githubusercontent.com/2223279/51541030-e0e44880-1e68-11e9-90b6-c7f2da4af596.png)

Version: 1.30.2
Commit: 61122f88f0bf01e2ac16bdb9e1bc4571755f5bd8
Date: 2019-01-07T22:49:48.319Z
Electron: 2.0.12
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
OS: Linux x64 4.19.15-300.

[2019-01-22 19:02] karthiknadig commented on #1114
same as #45

[2019-01-22 19:02] #1114 closed

[2019-01-22 19:32] DonJayamanne commented on #997
Discussed with @karthiknadig 	@qubitron

E.g. default values passed by VSC:
[code]

More examples (with modules):

[code]

[2019-01-22 20:07] DonJayamanne opened #1115 "Path mappings not working when attaching to code running in docker container"
## Environment data

- PTVSD version: Master
- OS and version: Windows 10 (Client) + Linux Docker (Host)
- Python version (& distribution if applicable, e.g. Anaconda): 3.6
- Using VS Code or Visual Studio: VSC

* Code running in docker = django + ptvsd 4.2.0
* Start docker container (with `enable_attach`)
* Attach debugger with path mappings of `"c:\\.... -> src/`
    * In this instance VSC will

[2019-01-22 20:13] DonJayamanne commented on #1115
Give me a few minutes

[2019-01-22 20:53] int19h commented on #378
I'm not observing any significant slowdown in general. One thing that can significantly increase startup time is if the same ptvsd install is used across several Python versions, because then it needs to recompile bytecode, which does push startup time upwards into several seconds. But once that bytecode is cached, subsequent uses show sub-second load times, on both Anaconda and regular Python.

[2019-01-22 20:53] #378 closed

[2019-01-22 22:03] karthiknadig commented on #1095
Added components as recommended by compliance.

[2019-01-22 22:04] #1095 closed

[2019-01-22 22:05] karthiknadig opened #1117 "Debugger compliance for c++ parts"

[2019-01-23 01:48] int19h opened #1118 "TypeError: on_breakpoints_changed() got an unexpected keyword argument 'remove'"
Happens whenever an exception breakpoint is added or removed with the current bits. Full stack:
[code]
Unclear why, since `on_breakpoints_changed` does have that argument declared.

Happens on both Python 2 and Python 3.

[2019-01-23 04:02] karthiknadig commented on #1115
This seems to work fine. Use the following launch.json:
[code]

[2019-01-23 04:02] #1115 closed

[2019-01-23 08:07] DonJayamanne commented on #45
Though this is a dup of #1114, please note the values are more prominent in VSC, hence the issue is worse in VSC than in VS.
In VS you get the values only as tooltips, where as in VSC they are `always` visible.
The fact that it manifests it self differently in VSC could impact the priority of this issue

[2019-01-23 08:09] Brazzelhuber commented on #965
@karthiknadig: The problem was that I had to import subprocess. But when I did this, I received a message that my Python is not well compiled and a long list of Files, the address of which could not be found.
In the meanwhile, I fixed my problem with the following code in def _NormPaths(filename):
if str.find(abs_path,"c:") != -1:
            i = abs_path.rfind("\\")
            new_abs_path = abs

[2019-01-23 08:12] karthiknadig commented on #45
The thing is this is how `pydevd` formats dictionaries. When that part is fixed, it will fix this in all places. Do let us know if we need to bump the priority on this.

[2019-01-23 14:51] gegenschall commented on #1046
In the meantime you can use Celery with another pool implementation:

`celery worker --app=<appname> --pool=solo` should do the job for local development/debugging just fine.

[2019-01-23 15:37] fabioz commented on #997
Ok, just provided a pull request based on that configuration.

Some notes on the implementation:

- I haven't done an API on `ptvsd` (that configuration needs to be passed to the attach/launch request). If a Python API is needed, please let me know.

- It's actually accepting glob patterns as I had already implemented it with that support -- when it doesn't have any special character it automatica

[2019-01-23 15:54] fabioz commented on #1118
Will create a test and provide a fix shortly (this happened because the parameter was `removed` and not `remove`).

[2019-01-23 16:15] fabioz commented on #1118
Ok, just fixed (as it was pretty simple just added it to https://github.com/Microsoft/ptvsd/pull/1119).

[2019-01-23 18:44] karthiknadig commented on #991
@janosh the fix for this is not in a public release yet. You can try with master for this.

[2019-01-23 21:06] karthiknadig commented on #648
We have added some mitigation via xdist. Closing this for now. Please reopen if this continues to problem.

[2019-01-23 21:06] #648 closed

[2019-01-23 21:48] janosh commented on #991
@fabioz If the fix isn't released yet, I guess we can skip troubleshooting.

@karthiknadig Can you estimate how far out the release is?

[2019-01-23 21:52] karthiknadig commented on #991
@janosh I will be making a release likely by this Friday.

[2019-01-23 21:56] #1117 closed

[2019-01-23 21:57] karthiknadig commented on #1099
Closing this as dupe of #943

[2019-01-23 21:57] #1099 closed

[2019-01-23 22:35] qubitron commented on #915
Verify that default '.' path-mappings fix this

[2019-01-24 01:43] tlind commented on #1056
I am experiencing a similar problem with the MxNet DL framework: When I invoke a [gluon.data.DataLoader](https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/data/dataloader.py) with `num_workers > 0` and while the VSCode debugger is attached, the Python code also crashes with an "error while stopping in post-mortem" (exceptions.RuntimeError). The stack trace contains:

    Err

[2019-01-24 03:36] karthiknadig commented on #1059
Not seeing this issue in master.

[2019-01-24 03:36] #1059 closed

[2019-01-24 10:30] yzhang-gh commented on #1041
Here I get **one more warning** before the error

[code]

[2019-01-24 16:45] fabioz commented on #1041
Just provided a fix where the initialization/event loop will only take place in the main thread (processing the event loop out of the main thread is an error and this prevents the racing condition too).

[2019-01-24 17:37] #1118 closed

[2019-01-24 18:30] karthiknadig commented on #1041
Fixed via #1121

[2019-01-25 21:32] karthiknadig commented on #1067
Looks like this is fixed by recent PRs.

[2019-01-25 21:32] #1067 closed

[2019-01-26 02:40] karthiknadig commented on #1103
Currently we can build 64bit high sierra. we can add other macOS versions as needed. We also decided to only do 64 bit wheels for mac for now.

[2019-01-26 02:40] #1103 closed

[2019-01-26 02:44] #1101 closed

[2019-01-26 02:47] karthiknadig commented on #1089
Assigned to @int19h since he is already fixing this issue

[2019-01-26 03:44] int19h opened #1124 "Breakpoint with Unicode chars in filename doesn't work in 3.5"
Manifests in `tests/func/test_breakpoints.py::test_path_with_unicode[file-attach_socket_import]` on Python 3.5:

[code]
The test times out waiting for the "stopped" event:
[code]

When pytest-xdist is used (i.e. by default, unless running with `-n0` - so also on all automated runs), the error message is different:
[code]
This is due to a [bug in pytest-xdist](https://github.com/pytest-dev/pytest/i

[2019-01-26 03:46] int19h commented on #1089
I created a separate issue for the one remaining test, since it's very specific and narrow (Windows, Python 3.5): #1124

All other tests are passing on Windows now.

[2019-01-26 03:46] #1089 closed

[2019-01-26 15:12] janosh commented on #991
@karthiknadig How does the update process work? Does `ptvsd` update together with VS Code's Python extension?

[2019-01-26 17:11] DonJayamanne commented on #991
Yes

[2019-01-26 17:20] janosh commented on #991
@DonJayamanne And when's that due for an update?

[2019-01-28 11:00] fabioz commented on #1113
Just wanted to note that on plain `pydevd` there are some socket configurations which help to keep the connection alive:

See: https://github.com/fabioz/PyDev.Debugger/blob/master/_pydevd_bundle/pydevd_comm.py#L418

Maybe that could be used for the `ptvsd` connection too...

[2019-01-28 16:58] DonJayamanne commented on #997
FYI, please have a look at debugging nodejs in VSC, in particular the tooltips for files excluded in the stack Trace
https://code.visualstudio.com/docs/nodejs/nodejs-debugging#_skipping-uninteresting-code-node-chrome

Please do ensure we implement similar UI cues

[2019-01-28 16:59] DonJayamanne commented on #997
@karthiknadig can we do the same for files excluded when using justmycode/debugStdLib?

[2019-01-28 17:03] fabioz commented on #997
@DonJayamanne it should be possible (ideally it should be done once `pydevd` itself provides the implementation of getting the stack using the debug adapter protocol).

I think this would be a separate issue thought.

[2019-01-28 17:39] fabioz commented on #788
Starting to tackle porting the variable requests to pydevd (when that's finished, this issue should also be fixed).

[2019-01-28 18:52] karthiknadig commented on #997
@DonJayamanne Certainly that can be done for excluding files that way.

@fabio we have See https://github.com/Microsoft/ptvsd/issues/579 where we talk a bit more details about this.

[2019-01-28 19:11] karthiknadig opened #1125 "No-Debug run (ctrl+F5) VSCode is unable to establish connection with debugger"
## Environment data

- PTVSD version: master
- OS and version: Any
- Python version (& distribution if applicable, e.g. Anaconda): Any
- Using VS Code or Visual Studio: Any

## Actual behavior

Debugger runs user code but does not connect with VSCode. This causes VSCode to think the session never ended. Eventually VSCode will pop up a message saying failed to establish connection whit the debugger

[2019-01-28 19:12] karthiknadig commented on #1125
@int19h This issue takes highest priority for now.

[2019-01-28 19:18] DonJayamanne opened #1126 "Removing breakpoints in remote debugging does not work"
@DonJayamanne commented on [Mon Jan 28 2019](https://github.com/Microsoft/vscode-python/issues/4176)

Launch python code for debugging:
* Mac, Python3.6
* Ptvsd version 4.2.2
[code]

* Launch program
* Attach debugger
* Add a breakpoint to the `print` line
* Breakpoint hits
* Remove breakpoint
* Continue
* Program stops at `print` line again, even when there are no breakpoints!!!
* Disconnect debu

[2019-01-28 19:21] DonJayamanne commented on #1126
This same bug can be reproduced in a simple launch scenario:
* Start debugging following code:
[code]
* Add breakpoint
* Break point is hit,
* Remove breakpoint and continue,
* Code will stop again at line where previous breakpoint was hit!!

[2019-01-28 19:32] karthiknadig commented on #1126
Request response logs from VSC for the `setBreakpoints` command.
Setting break-point:
[code]

Removing break-point:
[code]

[2019-01-28 19:34] fabioz commented on #1126
I'll take a look at it (although I'll probably only be able to provide a fix tomorrow).

[2019-01-28 19:46] fabioz commented on #1126
Actually, the issue was simpler than I thought, so, I've provided a fix for it already (but without tests for today -- see comments on https://github.com/Microsoft/ptvsd/pull/1127).

[2019-01-29 00:23] DonJayamanne opened #1129 "CLI args have changed in PTVSD"
@DonJayamanne commented on [Mon Jan 28 2019](https://github.com/Microsoft/vscode-python/issues/4187)

Debugger tests are failing as the CLI has changed:

OLD CLI:
`['-m', 'ptvsd', '--host', 'localhost', '--wait', '--port', `${port}`, '--file', fileToDebug.fileToCommandArgument()]`

New CLI
`['-m', 'ptvsd', '--host', 'localhost', '--wait', '--port', `${port}`, fileToDebug.fileToCommandArgument()]`

[2019-01-29 00:30] #678 closed

[2019-01-29 00:30] #1125 closed

[2019-01-29 00:36] karthiknadig commented on #1129
I had not used `--file` when i wrote the usage for `ptvsd` in `readme.md` (in september https://github.com/Microsoft/ptvsd/commit/f8c3d847f8dda7b4d6759775dace27354dc0cdb5). I think it is safe to remove this usage.

[2019-01-29 00:49] DonJayamanne opened #1130 "New debugger displays warnings about `speeds using cython not found`"
@DonJayamanne commented on [Mon Jan 28 2019](https://github.com/Microsoft/vscode-python/issues/4190)

Old version of PTVSD didn't display this warning, new version of PTVDS does.

Here's the old version:
<img width="924" alt="screen shot 2019-01-28 at 4 46 12 pm" src="https://user-images.githubusercontent.com/1948812/51876152-732e9580-231c-11e9-950c-2daf36348496.png">

Here's the output from the n

[2019-01-29 00:59] int19h commented on #1129
`--file` was only supported by accident, because we passed a bunch of arguments to `pydevd` command line as is. It was never documented as supported anywhere, and it's not working anymore because we no longer launch pydevd via its command line, nor is compatibility with its command line our explicit goal.

Our switches to identify the target are the same as old ptvsd (3.x) and Python itself. So fo

[2019-01-29 01:01] karthiknadig commented on #1130
/cc @fabioz

[2019-01-29 01:18] Anakin-Hao opened #1131 "Got "Address already in use" exception even with different port."
## Environment data

- PTVSD version: 4.2.2
- OS and version: Docker Python3.7
- Python version (& distribution if applicable, e.g. Anaconda): 3.7
- Using VS Code or Visual Studio: VS Code (not used yet)

## Actual behavior
My code is this
[code]
Starting the code throws this error:
[code]

## Expected  behavior
Should start with no such exception as i m binding to a different port.

## Steps to r

[2019-01-29 01:21] DonJayamanne commented on #1130
Updated as P1 in PVSC

[2019-01-29 01:38] karthiknadig commented on #1131
Can you share the `docker run` command that you use?

[2019-01-29 01:46] int19h commented on #1130
Curiously, this warning message is gated on `IS_PYCHARM` in pydevd source. Problem is, there's other stuff affected by this flag, so I'm not sure it's okay for us to just set it to true.

[2019-01-29 01:51] DonJayamanne commented on #1130
Curious indeed, this message didn't appear in previous version of ptvsd.

[2019-01-29 02:04] karthiknadig commented on #1130
Should we remove this? Given that now we have wheels for several platforms. This is a good indicator that the users are not getting the best perf experience here. Previously we had removed this because there was no alternative to sdist package on linux. Also, wheels were limited to py 3.6 only on windows.

[2019-01-29 02:31] karthiknadig commented on #1131
I see what is going on here. since you are running `python myapp.py` this is loading the app twice. You can see the port is printed twice. So the debug server gets initialized twice.

You can run it using debugger CLI to run module: `python -m ptvsd --host 0.0.0.0 --port 5678 -m flask run`. This is how we launch it when running directly from VSC.

If you have to run this way, add `try ... except`

[2019-01-29 02:37] DonJayamanne commented on #1130
I'm getting this on my Mac. I thought we were shipping the `any` wheel.
Until we resolve this properly, lets disable it.
Or, if there's an env variable I can set, then let me know what it is, so I can initialize it in the launcher script.

[2019-01-29 02:42] DonJayamanne commented on #1129
If modified our scripts to remove the dropped arg `--file`

[2019-01-29 02:42] #1129 closed

[2019-01-29 02:46] karthiknadig commented on #1130
We are shipping a `any` wheel: https://files.pythonhosted.org/packages/7c/36/6a9ffa370d1ab89e5cde192a9e368aa0088b10f2a0eb5dc813ecb57ef4b8/ptvsd-4.2.2-py3-none-any.whl

This message is coming from a separate location in pydevd. Looks like it is not respecting `pydevd_constants.CYTHON_SUPPORTED = False` that we set in `ptvsd`. For now we can suppress it by adding a check for this variable there. Lat

[2019-01-29 02:47] DonJayamanne commented on #1130
A fix in PTVSD or Python Extension?

[2019-01-29 02:48] karthiknadig commented on #1130
In ptvsd

[2019-01-29 02:51] int19h commented on #1130
For the time being, I'll fix this directly in pydevd code to avoid printing these out. But going forward, we need to come up with some consistent way to disable these messages on all code paths inside pydevd with a single flag or similar. (The flag that we were using before is not the right one for this anymore, now that we build with Cython modules.)

[2019-01-29 02:54] DonJayamanne commented on #678
Eureka

[2019-01-29 03:38] karthiknadig commented on #1131
@int19h we should add a check to prevent `enable_attach` from executing multiple times in the same process.

[2019-01-29 04:04] int19h commented on #1131
I think we already do that. But is this the same process? Note that debug mode is on, which implies a second process for live code reload. I think what's happening here is that the child process tries to use the same port?

[2019-01-29 04:12] karthiknadig commented on #1126
Reopening because resuming a run sometimes causes exception:
![image](https://user-images.githubusercontent.com/3840081/51883566-586a1a00-2338-11e9-99cc-d0ba107b270c.png)

Repro steps:
[code]
1. set breakpoint on line 4 and run
2. when breakpoint is hit, remove breakpoint and resume.
You should see this exception, but this does not happen every time.

FIY: use following configuration with latest V

[2019-01-29 04:38] karthiknadig commented on #1126
Found the issue, it is in the following function call:
Looks like `_pydev_stop_at_break` gets called even after removing all breakpoints. In that function, the following line sets `breakpoints_for_file` to None, `breakpoints_for_file = debugger.breakpoints.get(filename)` if there are no other breakpoints set in the file. Later this fails with `'NoneType' is not subscriptable`.

/cc @fabioz

[2019-01-29 05:05] karthiknadig commented on #1131
@int19h you are right.
@Anakin-Hao Ensure that you have  `flask` running with `--no-reload`:
[code]
Or start the debugger with `--multiprocess`:
[code]
try those methods to launch `flask` than using `enable_attach`

[2019-01-29 17:39] fabioz commented on #1126
Fixed by https://github.com/Microsoft/ptvsd/pull/1134

[2019-01-29 17:39] #1126 closed

[2019-01-30 19:49] #1131 closed

[2019-01-31 10:48] kyselejsyrecek commented on #248
@karthiknadig: Sorry for asking you directly but there does not seem to be a documentation available on how to do that. I am particularly interested in setting localRoot and remoteRoot as described in issue #753. This can be done in VSCode using a launch.json file stored in a .vscode directory inside the project. How can such a setting be passed to ptvsd in Visual Studio (2017)? When attaching to

[2019-01-31 20:12] karthiknadig commented on #248
Since mapping is not available in VS yet, you may have to call `ptvsd.break_into_debugger()`. This will allow VS to load the file from remote source. You should be able to set breakpoints after the file is loaded from remote. Unfortunately, breakpoints are not persistent in this method.

/cc @huguesv

[2019-01-31 20:37] karthiknadig commented on #975
@fabioz I tried increasing this to 100,000. It looks like there is a cutoff at 10,764. Not sure if this is a default for the buffers. @int19h any idea about this?

[2019-01-31 21:01] karthiknadig commented on #1087
Does not repro.

[2019-01-31 21:01] #1087 closed

[2019-01-31 21:07] int19h commented on #1124
The root cause here is the way Python pre-3.6 handles script filenames internally - while `__file__` of a module and `co_filename` of a code object are Unicode in 3.x, the string seems to pass through a decoding/encoding process at some point, which uses `sys.getfilesystemencoding()` - which on Windows corresponds to "ANSI" encoding for the current locale. As a result, if any non-ASCII characters

[2019-01-31 22:01] #1124 closed

[2019-01-31 22:02] #386 closed

[2019-02-01 02:50] karthiknadig commented on #638
Does not repro in master.
![image](https://user-images.githubusercontent.com/3840081/52099547-8776ca80-2588-11e9-975a-14fa356953b5.png)

[2019-02-01 02:50] #638 closed

[2019-02-01 03:01] #1093 closed

[2019-02-04 17:41] karthiknadig commented on #923
Not able to repro this with latest version. Please reopen if it occurs again.

[2019-02-04 17:41] #923 closed

[2019-02-04 18:39] DonJayamanne opened #1138 "Call stack in Debug panel only shows 20 frames."
@ruoyu0088 commented on [Fri Jan 11 2019](https://github.com/Microsoft/vscode-python/issues/3961)

## Environment data

- VS Code version: 1.30.2
- Extension version : 2018.12.1

## Expected behaviour

I want the full call stack, but it only shows the recent 20 frames.

![image](https://user-images.githubusercontent.com/826871/51034107-e760fd80-15e8-11e9-8ebc-0660ebf9bc7d.png)

[2019-02-04 19:31] karthiknadig commented on #1051
Does not repro in latest release or master:
![image](https://user-images.githubusercontent.com/3840081/52232008-3577c280-2870-11e9-9ae2-9969b6c3ecfd.png)

![image](https://user-images.githubusercontent.com/3840081/52232030-44f70b80-2870-11e9-99b1-458beb82c9f0.png)

[2019-02-04 19:31] #1051 closed

[2019-02-04 19:36] karthiknadig commented on #1015
Please reopen when more information is available.

[2019-02-04 19:36] #1015 closed

[2019-02-04 19:40] karthiknadig commented on #964
Not enough information to reproduce the issue.

[2019-02-04 19:40] #964 closed

[2019-02-04 19:43] karthiknadig commented on #919
Code has significantly changed since this was reported. If this occurs again please open a new bug.

[2019-02-04 19:43] #919 closed

[2019-02-04 20:07] karthiknadig commented on #730
Not a `ptvsd` issue. Not enough info.

[2019-02-04 20:07] #730 closed

[2019-02-04 20:22] #446 closed

[2019-02-04 20:35] karthiknadig commented on #1113
We should set `SO_KEEPALIVE` on the socket ptvsd uses.

[2019-02-04 20:38] DonJayamanne commented on #488
Which version, I can still replicate this

[2019-02-04 20:39] DonJayamanne commented on #488
Oops wring issue

[2019-02-05 04:52] int19h commented on #1113
So SO_KEEPALIVE is something different. If it is not set, then there's no intrinsic timeout for a TCP socket (firewalls etc can still close it, but we don't control that). In that mode, if the other end is forcibly disconnected, we will only detect said disconnect after we try to send some packet to it.

If the flag is set, then it does periodic pings, but those pings are specifically for the purp

[2019-02-05 18:54] karthiknadig commented on #975
Closed via #1139. Sets the max io to 10k for now.

[2019-02-05 18:54] #975 closed

[2019-02-05 19:10] karthiknadig commented on #1073
Please reopen when more information is available. Not enough detail to repro.

[2019-02-05 19:10] #1073 closed

[2019-02-06 20:11] karthiknadig commented on #898
Is this still needed?

[2019-02-06 20:40] lovettchris opened #1141 "Recently the debugger has started to activate conda environments which is NOT what I want"
## Environment data

- PTVSD version: c:\Users\clovett\.vscode\extensions\ms-python.python-2019.1.0\pythonFiles\ptvsd_launcher.py
- OS and version: Win 10 version 1809, build 1773.292
- Python version (& distribution if applicable, e.g. Anaconda): Anaconda python 3.6
- Using VS Code or Visual Studio: VS Code

## Actual behavior

Debugging is now doing this, which is NOT what I want, how did this s

[2019-02-06 20:46] karthiknadig commented on #1141
This is the extension activating it. Moving the issue over to extension repo.

[2019-02-06 20:46] lovettchris commented on #1141
What is odd is that when I use the debug console to look at `os.get_exec_path()` I see this path has been added to the console environment in which I launched VS code.  I have no idea how or why it was added:
[code]

[2019-02-06 21:02] #1141 closed

[2019-02-06 21:19] huguesv commented on #18
Another request at https://developercommunity.visualstudio.com/content/problem/443064/python-debugger-set-next-statement.html

[2019-02-06 21:29] karthiknadig opened #1142 "Log points treated as breakpoints"
## Environment data

- PTVSD version: master
- OS and version: any
- Python version (& distribution if applicable, e.g. Anaconda): any
- Using VS Code or Visual Studio: VSC

## Actual behavior

Debugger breaks at a log point.

## Expected  behavior

Should not break at log points.

## Steps to reproduce:
1. use following code:
[code]
2. Set log point is VSC at line 3.
![image](https://user-images.

[2019-02-06 22:45] DonJayamanne commented on #1142
Ok great, this is a regression.
We have users reporting this issue in our extension.
Curious how the tests failed!

[2019-02-07 09:51] fabioz commented on #1142
I'll take a look at this.

[2019-02-07 14:51] fabioz commented on #1142
Ok, just provided a pull request... now, I have a question regarding log points:

What's the proper behavior if there's a log point with a condition?

Should it:
`1.` Show log messages every time the line is executed and stop on the conditional breakpoint.
`2.` Just show a log when the given condition is matched and and never stop on the breakpoint.
`3.` Something else.

The specification (https:/

[2019-02-07 15:27] MeTaNoV commented on #1039
any update?

[2019-02-07 16:14] fabioz commented on #1039
This is being worked on (although it may still take a while as it's a pretty big task).

[2019-02-07 16:26] DonJayamanne commented on #1142
It is my understanding that this isn't possible.

[2019-02-07 17:20] fabioz commented on #1142
This is possible if you add the breakpoint and edit it later...

![breakpoint_edit](https://user-images.githubusercontent.com/117621/52429780-e50c9900-2aeb-11e9-8c0f-dc4f2a8d81a5.png)

[2019-02-07 17:42] fabioz commented on #1142
Given that this is pretty obscure I think we can leave as is implemented now (we can come back to it if someone complains about it or if the spec is rectified).

[2019-02-07 18:30] karthiknadig commented on #997
I have not closed this item because we currently exclude files/dirs/modules only from stepping. The stack still shows frames from excluded files/dirs/modules.

[2019-02-07 18:40] karthiknadig commented on #207
@int19h #997 covers this scenario right? so i think we can close this.

[2019-02-07 18:42] karthiknadig commented on #915
The default path mapping fixes cases where this is available. VSC is able to provide this, but in VS case the default path mappings are not available. Especially when running projects.

[2019-02-07 18:44] int19h commented on #207
Not quite. This one is specifically about site-packages. You can manually write a rule for them with #997, but this issue is about automatically doing that for site-packages of the active Python interpreter, essentially.

[2019-02-07 19:30] #898 closed

[2019-02-07 21:30] qubitron commented on #915
Does ptvsd know the workspace root? Can it default to ${workspaceRoot} and '.' when no path mappings are provided?

[2019-02-07 21:55] DonJayamanne commented on #1142
@fabioz 	I tried that with node, and it doesn't work.
Though the tooltip shows both, only the log message works, the breakpoint is not hit.

[2019-02-07 22:47] karthiknadig commented on #915
Talked with @huguesv about this. For VS if we do this https://github.com/Microsoft/PTVS/issues/3960#issuecomment-461597348, then it will have similar behavior to VSC. i.e., provide default path mappings.

Assuming the above comment is PTVS works. Then this issue is relevant only for IDE versions where the defaults are not available. We will have another issue though, if ptvsd always assumes ${work

[2019-02-08 00:06] fabioz commented on #1142
Ok... as I said, I'm inclined to leave as is (mostly because it's more work
to change it) but if you decide it should be different,  please let me
know.

On Thursday, February 7, 2019, Don Jayamanne <notifications@github.com>
wrote:

[2019-02-08 09:39] MeTaNoV commented on #1039
any workaround meanwhile? debugging with print statements feels a bit archaic... :)

[2019-02-08 10:04] fabioz commented on #1039
Well, the real workaround would be upgrading to Python 3 (as far as I now, this is a CPython 2 only bug which deadlocks if an import is done in a different thread and a breakpoint is added in the middle of an import -- see: https://github.com/Microsoft/ptvsd/issues/1039#issuecomment-442816437 for the explanation).

[2019-02-08 10:15] fabioz commented on #997
@karthiknadig from what I understood that @DonJayamanne said, the idea was just graying them out and not really excluding (i.e.: add a `presentationHint` to make it `subtle`) right?

Note that I'm already on the process of porting the `StackTraceRequest` to pydevd, so, this should be straightforward to do as a second step (initially I don't want tests to change because of that while I'm doing the

[2019-02-08 10:45] MeTaNoV commented on #1039
@fabioz , oh ok, we are soon in the process of upgrading to Python 3, so I consider this as good news! Thanks for the pointer!

[2019-02-08 15:35] karthiknadig commented on #997
Yes, that is correct. Graying the frames from excluded files.

[2019-02-08 16:22] #1142 closed

[2019-02-09 00:47] karthiknadig commented on #1016
Does not repro with `ptvsd=4.2.3`:
![image](https://user-images.githubusercontent.com/3840081/52513547-5b7acb00-2bc0-11e9-9942-0eeac1e0adc3.png)

Tested with `rcond=None`, `rcond=-1`, and `rcond='warn'`.

[2019-02-09 00:47] #1016 closed

[2019-02-11 18:20] karthiknadig opened #1144 "Attatch via pid fails on automated runs with missing dbghelp.dll error"
## Environment data

- PTVSD version: master
- OS and version: windows
- Python version (& distribution if applicable, e.g. Anaconda): any
- Using VS Code or Visual Studio: N/A

## Actual behavior

[code]

## Expected  behavior

Should attach to the process.

[2019-02-11 20:23] #847 closed

[2019-02-11 23:20] karthiknadig commented on #1138
This limit is coming from VSC, This is the request we get from VSC:
[code]
Set levels to `0` to get full stack frames.

/cc @DonJayamanne

[2019-02-11 23:26] karthiknadig opened #1146 "Add support for Delayed Stack Trace Loading"
Enable `supportsDelayedStackTraceLoading` and ensure we support `startFrame` and `levels` arguments of the `StackTraceRequest`.

[2019-02-11 23:28] #1138 closed

[2019-02-12 02:39] #841 closed

[2019-02-12 03:18] int19h commented on #1009
Looking at it, we never actually had it as a *public* API in ptvsd. It was an internal function that just happened to do the right thing, and so we suggested it as a workaround for people who ran into issued, but it was not a stable API. You could see that it was internal, because you had to import it from `ptvsd.debugger` submodule, rather than the top-level package.

Since we're making it a publ

[2019-02-12 05:08] #1009 closed

[2019-02-12 21:58] #695 closed

[2019-02-13 00:43] int19h commented on #206
First, the general problem. In CPython, breakpoints don't work on lines of code which don't map to any bytecode range at runtime, since the bytecode interpreter uses those ranges to keep track of the current source line for debugger purposes. This can happen for various reasons: blank lines, obviously, but also `pass` statements (although not in all contexts).

In addition, on Python 2 especially,

[2019-02-13 00:54] karthiknadig commented on #206
/cc @qubitron
Let us know your opinion on how to handle invalid breakpoints.

[2019-02-13 20:31] DonJayamanne commented on #206
Can we also add the same for django/flask templates?
Or should that be tracked as a separate issue?

[2019-02-13 21:15] int19h commented on #206
It needs to be investigated first. I don't think this approach will work there.

[2019-02-13 21:24] qubitron commented on #206
For invalid breakpoints I'd prefer to move to the next valid line, though I'm not sure if the VS Code UI/DAP supports that @DonJayamanne.

If that is too difficult, then we can start by at least showing that it's not valid.

[2019-02-13 21:31] int19h commented on #206
Even if the next valid line is semantically unrelated? (as in the loop example... I'd expect that if the breakpoint is adjusted there, it's one line up, not one line down).

Implementation-wise it's all very similar - the only real difference is setting the invalid flag vs setting the line number in response message.

[2019-02-13 21:46] qubitron commented on #206
I would like to optimize for minimizing wasted time. If the breakpoint is invalid, I won't find that out until run-time, and it's annoying when the breakpoint gets skipped/missed and I have to restart my program to hit the breakpoint again. If we push it down one line past the point of execution, then again I might need to restart my program to hit the point that I wanted to hit.

So always going

[2019-02-13 22:03] int19h commented on #206
Thinking about it, adjusting to the previous seems to work well in general - in most scenarios it's reasonable. One case where it can be confusing with multiline, e.g.:

[code]
In Python 2, this will only break on the last line of three. Suppose the user sets a breakpoint at print, where it's more natural. If we adjust upwards, they will end up on a different statement. If we adjust downwards, it'

[2019-02-13 23:07] qubitron commented on #206
The case I hit this was:
[code]

I set the breakpoint on the first line but would expect it to hit on the second instead.

[2019-02-13 23:11] int19h commented on #206
Interesting - that one happens on Python 3 as well.

Either way, we can implement one thing and then try it out. It's an easy change later to adjust in a different direction or invalidate the breakpoints instead.

[2019-02-13 23:16] qubitron commented on #206
Let's go with the adjust to previous line rule, so that we never run past where the user wanted us to execute.

[2019-02-14 02:24] karthiknadig opened #1151 "Validate template breakpoint targets"

[2019-02-14 04:51] bitstrider opened #1152 "Flask app reload raises exception on repeat calls to enable_attach"
I'm trying to integrate **ptvsd** with a **flask** app that has reloading feature enabled (as in it restarts when files are changed). This causes the ptvsd boilerplate code to be re-ran each time a reload happens, which results in a raised exception on repeat calls to `ptvsd.enable_attach`:

## Environment data

- PTVSD version: **4.2.3**
- OS and version: **Windows 10 Pro 1703**
- Python version

[2019-02-14 09:19] karthiknadig commented on #1152
@bitstrider You will need #1153 for this to work correctly. But, there are some changes to how you launch flask using ptvsd.
1. you don't need to call `ptvsd.enable_attach` if you are already using `ptvsd` to launch `flask` module in `run.sh`.
**app.py**:
[code]

2. Use `--multiprocess` flag and `--wait` flags. `--multiprocess` flag enables subprocess tracking in `ptvsd`. You will need wait becaus

[2019-02-14 09:21] karthiknadig opened #1154 "Notify IDE about already started sub-processes"

[2019-02-14 18:41] karthiknadig commented on #1094
Please reopen when you have more details.

[2019-02-14 18:41] #1094 closed

[2019-02-14 21:21] #1152 closed

[2019-02-15 04:30] bitstrider commented on #1152
hey @karthiknadig thanks for all that, looking forward to the release 💯

[2019-02-15 04:36] #206 closed

[2019-02-19 16:11] DonJayamanne opened #1155 "Remote Debug Breakpoint Error (Docker)"
@sgtoj commented on [Mon Feb 11 2019](https://github.com/Microsoft/vscode-python/issues/4349)

## Environment data

- VS Code version: 1.32.0-insiders
- Extension version (available under the Extensions sidebar): 2019.1.0
- OS and version: Windows 1803
- Python: 3.7.2 64-bit (user install)
- Python Packages: ptvsd 4.2.3
- Docker:   Docker (for Windows) version 18.09.1, build 4c52b90
- Docker Compo

[2019-02-19 21:31] omartin2010 commented on #1155
Also, not sure if entierly related, but when I'm putting the right syntax (small caps c:\\Users\\...\\workind_dir, then I connect, and don't see the error messages on the path, however I see a bunch of threads that are running, and one is said to be Paused, yet the editor that normally displays the breakpoint doesn't show up.  See here : ![image](https://user-images.githubusercontent.com/11371870/

[2019-02-19 21:58] karthiknadig commented on #1155
@sgtoj I had to change ./app/app.py to ./app/start.py . Alos, we recently fixed an issue where we had a race with path mapping and setting breakpoints. With ptvsd=4.2.4 and the rename from app.py to start.py it does not repro.
![image](https://user-images.githubusercontent.com/3840081/53050438-28e99180-344e-11e9-8c8d-e86dbe67289f.png)

[2019-02-19 21:59] karthiknadig commented on #1155
@omartin2010 That looks like a different issue. Can you file a separate bug with details about your project and environment.

[2019-02-19 22:23] omartin2010 commented on #1155
Opened a new one, thanks @karthiknadig !

[2019-02-20 05:30] #1048 closed

[2019-02-20 19:30] lejongsuk opened #1158 "Print does not work in VS Code debugger"
## Environment data

- PTVSD version: ptvsd 4.2.4
- OS and version: Win 8.1
- Python version (& distribution if applicable, e.g. Anaconda): Python 3.7.1 Anaconda
- Using VS Code or Visual Studio: VS Code

## Actual behavior

Throws error:
Exception has occurred: AttributeError
'NoneType' object has no attribute 'write'
  File "D:\VSCode\test.py", line 1, in <module>
    print('hello world')

## Ex

[2019-02-20 19:36] karthiknadig opened #1159 "stopOnEntry not stopping on user code"
## Environment data

- PTVSD version: master
- OS and version: any
- Python version (& distribution if applicable, e.g. Anaconda): 3.7
- Using VS Code or Visual Studio: VSC

## Actual behavior

Debugger pauses, but does not show where it is broken.

## Expected  behavior

Should break on first line of user code. And show that it is broken there.

## Logs
[code]

As you can see there are no frames

[2019-02-20 20:28] karthiknadig commented on #1158
@lejongsuk Does this also happen with just python 3.7, not anaconda?

[2019-02-20 20:38] karthiknadig commented on #880
#890 should allow logging to file and control verbosity. When that is done, I will add the instructions to read me.

[2019-02-20 22:32] lejongsuk commented on #1158
@karthiknadig I am not sure what you are asking. Program runs fine on jupyter, or via command python filename.py. However when i try to run in debug mode in VS code, the aforementioned error pops. Seems like a debugger issue not a python issue.

[2019-02-20 22:46] karthiknadig commented on #1158
I am not able to repro in this on my end. So I was wondering if this is specific to the environment. Can you check if this is using ptvsd==4.2.4? You may have ptvsd installed in your environment but VSC launches a version that is shipped with it, unless us specifically set it to launch a custom debugger.

[2019-02-21 04:01] lejongsuk commented on #1158
Umm I do have ptvsd of 4.2.4, I installed vs code only last week. Could you tell me how to launch with a custom debugger?

[2019-02-21 04:37] karthiknadig commented on #1158
If you installed recently then it should be 4.2.3 (VS Code ships with 4.2.3). Can you do the following and share the log file. Be sure to remove any personal info from the log.

Add `"logToFile": true`, in launch config, and repro the issue. The log file should be created in `%USERPROFILE%\.vscode\extensions\ms-python.python-2019.1.0` with the name `debug*.log`.

Running custom debugger should not

[2019-02-21 06:45] lejongsuk commented on #1158
[debug6152.log](https://github.com/Microsoft/ptvsd/files/2888003/debug6152.log)
Attached the log

[2019-02-21 07:57] karthiknadig commented on #1158
In your settings.json, Can you change the following property:
`"python.pythonPath": "D:\\Aanaconda\\python.exe"`

From the logs it looks like it is using `pythonw.exe`, it should be set to `python.exe`

[2019-02-21 08:42] karthiknadig commented on #825
This seems to be behaving better with the latest version of ptvsd (at least on windows):
![image](https://user-images.githubusercontent.com/3840081/53155200-64c94780-3571-11e9-9284-d08c2cf25c47.png)

[2019-02-21 14:15] fabioz commented on #1159
I fixed an issue where it was not properly identifying if a file was from ptvsd or not, but in theory it'd only affect windows as it was comparing a normalized path to a non-normalized path... this report says any OS, can you confirm that? (if that's the case there may be some other issue -- I added a test for this in ptvsd now and it seems to be passing in other OSes).

[2019-02-21 16:33] fabioz commented on #1158
Closing as this is actually a duplicate of https://github.com/Microsoft/ptvsd/issues/1023 (the workaround as @karthiknadig said is using `python.exe` instead of `pythonw.exe`).

[2019-02-21 16:33] #1158 closed

[2019-02-21 18:38] DonJayamanne opened #1162 "Break point fails with concurrent.futures.ProcessPoolExecutor in vscode python"
@machineCYC commented on [Thu Feb 21 2019](https://github.com/Microsoft/vscode-python/issues/4483)

## Environment data

- VS Code version: 1.31.1
- OS and version: Ubuntu 18.04
- Python version (& distribution if applicable, e.g. Anaconda): 3.6.5
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): virtualenv
- Relevant/affected Python packages and their versions:  python i

[2019-02-21 19:45] karthiknadig commented on #1162
@machineCYC This requires `"subProcess": true` in launch config to begin with.

 It looks like it primarily depends on `os.fork`. This is not yet supported #943. so you have to switch `multiprocessing` to use `spawn`. Also, when using spawn, main module has to finish loading, so use this code to run:
[code]
That should get it to work:
![image](https://user-images.githubusercontent.com/3840081/5319

[2019-02-21 21:22] int19h opened #1163 "CMD_SET_NEXT_STATEMENT followed by CMD_STEP_OVER_MY_CODE crashes debuggee"
This surfaced while working with #18. The working theory is that this has something to do with single-thread notifications - I notice that for `CMD_SET_NEXT_STATEMENT`, thread suspend/resume only uses `CMD_THREAD_RUN` and `CMD_THREAD_SUSPEND`, not the newer `..._SINGLE_NOTIFICATION` stuff.

Log of manual repro using VS with `PTVSD_DEBUG=True` to capture pydevd protocol messages.

[code]

[2019-02-21 22:15] int19h commented on #1113
Closing this for now, since we don't have enough info to investigate further - please reopen if this proves to be not a network issue after all.

[2019-02-21 22:15] #1113 closed

[2019-02-21 22:21] karthiknadig opened #1165 "Detaching sometimes throws ValueError: I/O operation on closed file."
## Environment data

- PTVSD version: master
- OS and version: linux
- Python version (& distribution if applicable, e.g. Anaconda): 3.5
- Using VS Code or Visual Studio: VSC

## Actual behavior

I see this error on detach.
[code]

## Expected  behavior

Should not throw error. Should continue user process.

## Steps to reproduce:
Launch the following script:

[code]
Using the following command:
`

[2019-02-22 00:03] lejongsuk commented on #1158
Thanks a lot, it works now! :) :+1:

[2019-02-22 18:50] DonJayamanne opened #1166 "Unable to run tests from terminal on a Mac"
## Environment data

- PTVSD version: Master Branch
- OS and version: OSX
- Python version (& distribution if applicable, e.g. Anaconda): 3.6.6 64bit
- Using VS Code or Visual Studio: N/A

## Actual behavior

* Type `pytest ./tests` in terminal and it fails with the following error:
[code]

[2019-02-22 19:39] fabioz commented on #1166
@DonJayamanne this usually means some `.pyc` is corrupted... try removing your `.pyc` files and try it again.

[2019-02-22 19:55] DonJayamanne commented on #1166
Thanks

[2019-02-22 19:55] #1166 closed

[2019-02-22 23:10] karthiknadig opened #1167 "Support local attach"
There is a issue with bitness, where current injection code fails when the target is different bitness.

[2019-02-23 04:48] karthiknadig opened #1168 "Implement code coverage"

[2019-02-23 05:21] karthiknadig opened #1170 "Jupyter debugging"

[2019-02-23 05:31] karthiknadig opened #1171 "Data viewer support"
Support for viewers that show data frames, and similar tabular and multi dimensional data types.

[2019-02-25 04:33] karthiknadig commented on #1162
The above answer should resolve this issue.

[2019-02-25 04:33] #1162 closed

[2019-02-25 18:51] karthiknadig commented on #209
We decided not to support python 2.6.

[2019-02-25 18:51] #209 closed

[2019-02-25 18:58] #1023 closed

[2019-02-25 18:59] #1159 closed

[2019-02-25 19:07] karthiknadig commented on #1146
This should be done after merging #1092

[2019-02-25 19:10] karthiknadig commented on #1155
@sgtoj Please reopen this issue if this issue continues to occur with ptvsd 4.2.4+

[2019-02-25 19:10] #1155 closed

[2019-02-25 19:14] karthiknadig commented on #213
The variables sorting code that caused this will not be used after switching to using DAP protocol via pydevd.

[2019-02-25 19:15] karthiknadig commented on #304
This version of python will not be supported.

[2019-02-25 19:15] #304 closed

[2019-02-25 19:24] fabioz opened #1172 "Add `path` to `module` event."

[2019-02-25 19:30] fabioz opened #1173 "Gracefully handle I/O errors when processing source request"
_pydevd_bundle.pydevd_process_net_command_json._PyDevJsonCommandProcessor.on_source_request should protect against permission errors and a race condition where file is erased after checking that it exists.

[2019-02-25 19:46] fabioz opened #1174 "Make sure that resolvers for dict/tuple/etc respect the format for the keys."

[2019-02-25 19:50] fabioz opened #1175 "Provide better shutdown procedure for daemon threads to avoid catch-all exceptions."

[2019-02-25 19:57] fabioz opened #1176 "evaluateName of __len__ should be `len(x)` instead of `x.__len__()`."

[2019-02-25 20:06] #18 closed

[2019-02-25 22:37] joseortiz3 opened #1177 "Unable to open '<decorator-gen-660>': File not found (file:///.../myworkspace/<decorator-gen-660>)."
## Environment data

- PTVSD version: Whatever is included in extension `ms-python.python-2019.1.0`
- OS and version: Win 10 Pro build 17763
- Python version (& distribution if applicable, e.g. Anaconda): plain python 3.7.1, no anaconda
- Using VS Code or Visual Studio: VS Code

## Actual behavior

I'm trying to debug-step-into the last line of this script:

[code]
with
![image](https://user-image

[2019-02-26 15:52] osowp opened #1180 "ptvsd\socket.py", line 203 SyntaxError: invalid syntax"
## Environment data

- PTVSD version: 4.2
- OS and version: Windows 10 Enterprise  / Windows 10 IoTCoreDefaultApp 3.4.1.0
- Python version (& distribution if applicable, e.g. Anaconda): 3.6.1
- Using VS Code or Visual Studio: Visual Studio 2017 15.9.7
- Target Raspberry Pi 3 B+

## Source code
[code]

## Actual behavior
From Visual Studio - Debug - Start Debugging
[code]

## Expected  behavior

De

[2019-02-26 18:30] fabioz commented on #1172
This is actually done already.

[2019-02-26 18:30] #1172 closed

[2019-02-26 20:05] karthiknadig commented on #45
Fixed:
![image](https://user-images.githubusercontent.com/3840081/53442685-b84af380-39be-11e9-90c1-3d0fcec13d97.png)

![image](https://user-images.githubusercontent.com/3840081/53442698-bc771100-39be-11e9-8b55-dc2afecc1a84.png)

[2019-02-26 20:05] #45 closed

[2019-02-26 20:41] fabioz opened #1181 "Verify django and jinja2 exceptions context"
See: https://github.com/Microsoft/ptvsd/pull/1179/files/90dc0b17a0bceadbc0dad958be04ad5f2fa81404#diff-a3b5595e743c389ebd7b61a7ab4c3c80R131

[2019-02-26 21:14] int19h commented on #1180
This is certainly something to do with Python versions. You can check the version that's running on your Pi with something like `print(sys.version_info)` - if it's lower than 2.7 (which I think is the case here), then it's not supported. But also not quite what you want anyway, because your script says that it's meant to be Python 3 in the shebang.

[2019-02-26 23:08] #1146 closed

[2019-02-27 01:51] karthiknadig opened #1183 "AttributeError: 'tuple' object has no attribute 'startswith'"
## Environment data

- PTVSD version: master
- OS and version: windows
- Python version (& distribution if applicable, e.g. Anaconda): 3.7
- Using VS Code or Visual Studio: VSC

## Actual behavior

[code]

[2019-02-27 11:12] fabioz commented on #1183
Will take a look at this.

[2019-02-27 16:27] osowp commented on #1180
but how exactly do you do that on windows 10 IoT.  and more importantly how do I upgrade it if its wrong?  Windows IoT seems like MS typical do it my way but hide/bury the documentation

[2019-02-27 18:41] karthiknadig opened #1186 "Debugger response time is too slow when running in a container in Azure ML compute node"
## Environment data

- PTVSD version: 4.2.4
- OS and version: linux container used by AML
- Python version (& distribution if applicable, e.g. Anaconda): 3.6
- Using VS Code or Visual Studio: VSC

[2019-02-27 20:58] int19h commented on #1180
Try running your script on the device with Ctrl+F5 (i.e. without debugging) and see if you get the output that it produces with `print(sys.version_info)` back.

[2019-02-27 23:38] karthiknadig opened #1187 "StackTrace request does not does not respect just-my-code"
## Environment data

- PTVSD version: master
- OS and version: Windows
- Python version (& distribution if applicable, e.g. Anaconda): any
- Using VS Code or Visual Studio: vsc

## Actual behavior

With `"debugStdLib": true`, non-user code should be filtered out.
![image](https://user-images.githubusercontent.com/3840081/53530706-8eb8c780-3aa5-11e9-85d8-5e47e69e33d2.png)

## Expected  behavior

Fr

[2019-02-28 04:50] karthiknadig commented on #1187
With ptvsd 4.2.4:
![image](https://user-images.githubusercontent.com/3840081/53541696-e4a26500-3acf-11e9-987c-0345383e2605.png)

With latest master:
![image](https://user-images.githubusercontent.com/3840081/53541726-069be780-3ad0-11e9-8e3c-5e71b66826dc.png)

After this is fixed enable test:
`./tests/func/test_justmycode.py::test_justmycode_frames`

[2019-02-28 07:40] #643 closed

[2019-02-28 11:25] #1183 closed

[2019-02-28 11:25] #1176 closed

[2019-02-28 17:40] DonJayamanne opened #1189 "Multi threading debug not working"
@rickstaa commented on [Mon Feb 04 2019](https://github.com/Microsoft/vscode-python/issues/4263)

Dear Developers,

I am currently trying to debug a QT multi-threaded application. I use the qt_thread module for the multithreading. However, the visual code debugger won't stop at my breakpoint when they are inside the thread code. Is there a way to enable this?

Thanks in advance,
Greetings,

---

@

[2019-02-28 19:32] karthiknadig commented on #1189
@rickstaa import `ptvsd` at the top and add this to the thread function, `ptvsd.debug_this_thread()`
![image](https://user-images.githubusercontent.com/3840081/53593046-81a2e380-3b4c-11e9-86f3-8faa67e773bf.png)

[2019-02-28 20:24] osowp commented on #1180
The problem with running without the debugger is that you can't see the output on Win 10 IoT.

But I guess it doesn't matter.   during my troubleshooting today I came across this thread:
https://github.com/Microsoft/PTVS/issues/2872

Which states "Pyton IoT support in VS has been removed in dev16."
if it's being discontinued there is no point in me starting a new python project targeting IoT

[2019-02-28 23:21] karthiknadig commented on #1186
This requires #890 to investigate.

[2019-02-28 23:45] karthiknadig commented on #1177
Same as #1071

[2019-02-28 23:45] #1177 closed

[2019-03-01 00:23] joseortiz3 commented on #1071
Nobody has mentioned that `Step Into` also fails, however it fails silently without any error.

[2019-03-01 00:26] joseortiz3 commented on #1177
Not quite the same, careful.

[2019-03-01 00:59] int19h commented on #1177
The inability to step into this function is most likely because you do not have debugging on the standard library enabled - everything that is in `site-packages` is considered "standard library", so this includes pip-installed modules. See `DebugStdLib` here on how to enable it:

https://code.visualstudio.com/docs/python/debugging#_debugoptions

The exact semantics of Step In is basically "run unt

[2019-03-01 01:10] joseortiz3 commented on #1177
Yep, that fixed the "no error message" part, I didn't have

[code]
So never-mind, same issue.

[2019-03-01 13:11] rickstaa commented on #1189
@karthiknadig Thanks a lot that worked! Is this a workaround or simply the way multi-thread debugging is done in visual studio code?

[2019-03-01 16:08] karthiknadig commented on #1189
This is currently needed in cases where the library uses native thread APIs (`Kernel32!CreateThread`, `pthread_create`, etc) instead of the python threading APIs.

[2019-03-01 16:08] #1189 closed

[2019-03-02 01:25] karthiknadig opened #1191 "Break-point validation should fail if justMyCode is true and break-point is set in std lib"

[2019-03-02 02:22] karthiknadig opened #1192 "Edit and Continue"
Allow code to be modified while at break-point, then continue executing the modified code.

[2019-03-02 08:07] karthiknadig opened #1193 "Support for Data Breakpoints"
Provide support for monitoring data using data breakpoints.
- [ ] Set `supportsDataBreakpoints` to `true`.
- [ ] Provide handler for `DataBreakpointInfoRequest`
- [ ] Provide handler for `SetDataBreakpointsRequest`.

[2019-03-02 09:58] belgiancoder opened #1194 "Implement PEP 553 to support `debugger()` breakpoints"
VSCode should implement PEP 553 to support `debugger()` statements.

This will enable developers to share buggy code across platforms (platform independent and debugger independent).

Built-in breakpoint() calls sys.breakpointhook(). By default, the latter imports pdb and then calls pdb.set_trace(), but by binding sys.breakpointhook() to the function of your choosing, breakpoint() can enter any de

[2019-03-02 10:10] fabioz commented on #1194
Hi @belgiancoder, this should be working, although it's `breakpoint()` and not `debugger()` (so, closing this ticket... If `breakpoint()` is not working for you, please let me know).

[2019-03-02 10:10] #1194 closed

[2019-03-02 15:47] rickstaa commented on #1189
@karthiknadig Thanks a lot for the explanation.

[2019-03-02 20:47] #1180 closed

[2019-03-04 19:19] karthiknadig opened #1195 "Re-attach tests fail on Mac Py2.7"
## Environment data

- PTVSD version: master
- OS and version: Mac
- Python version (& distribution if applicable, e.g. Anaconda): 2.7
- Using VS Code or Visual Studio: Automated Test run

## Actual behavior

Following tests fail:
tests/func/test_attach.py::test_reattach[file-attach_socket_cmdline]
tests/func/test_attach.py::test_reattach[module-attach_socket_import]

## Expected  behavior

Should

[2019-03-05 03:11] jaybo opened #1197 "Background python parser crashes importing sklearn.cluster in VS2017"
## Environment data

- PTVSD version: 4.2.0 and 4.2.4
- OS and version: Windows 10, 1607, 14393.2670
- Python version (& distribution if applicable, e.g. Anaconda): Anaconda 3.6.8
- Using VS Code or Visual Studio: VS2017, 15.9.7

## Actual behavior

Background code parser crashes importing sklearn.cluster.

## Expected  behavior

The background code parser should never crash.  On PTVSD 4.2.0 If I

[2019-03-05 10:19] tonyxwz opened #1198 "debugger behaves differently with and without breakpoint"
## Environment data

- PTVSD version: "version": "4.2.4"
- OS and version: Windows 10 64 bit enterprise
- Python version (& distribution if applicable, e.g. Anaconda): 3.6.7, conda
- Using VS Code or Visual Studio: vscode

## Actual behavior

With a break point, the debugger throw out GeneratorExit exception when click continue. Without the break point, code runs normally. I tested in PyCharm whic

[2019-03-05 18:49] #890 closed

[2019-03-05 20:02] int19h commented on #880
I added the instructions here.

https://github.com/Microsoft/ptvsd/blob/master/README.md#debugger-logging

@DonJayamanne, for F5 from VSC, using the environment variable is currently the only way to do this in `launch.json` - but you could add an explicit separate option, and translate it to `--log-dir`.

[2019-03-05 21:53] #880 closed

[2019-03-06 00:17] karthiknadig opened #1201 "Create build pool for manylinux"
The build pool currently available does not have volume share enabled on all drives. This means depending on which drive the build starts the manylinux1 build will fail. We will need a custom build pool to build those. Temporarily turned off manylinux1 builds. These can be built locally using the following powershell script, on windows with docker (ensure volume sharing is on):

[code]

[2019-03-06 02:09] karthiknadig opened #1202 "Error seen on disconnect from remote machine"
## Environment data

- PTVSD version: master
- OS and version: Windows local, Linux remote
- Python version (& distribution if applicable, e.g. Anaconda): Conda
- Using VS Code or Visual Studio: VSC

## Actual behavior

[code]

[2019-03-06 02:19] karthiknadig opened #1203 "Path Mapping does not work"
## Environment data

- PTVSD version: master
- OS and version: Windows, linux
- Python version (& distribution if applicable, e.g. Anaconda): 3.6
- Using VS Code or Visual Studio: VSC

## Actual behavior

run any script using the master, and use the default configuration connect to linux machine:
[code]
Opens file using sourceReference

## Expected  behavior

Should open the mapped file.

[2019-03-06 03:04] karthiknadig commented on #1203
Looks like `sourceReference` != 0 when path mapping is available. Non-zero sourceReference causes VSC to ignore the mapped file and use source request to get the file.

[code]

[2019-03-06 03:50] karthiknadig commented on #1186
Does not repro with master.

[2019-03-06 03:50] #1186 closed

[2019-03-06 14:28] machineCYC commented on #1162
@karthiknadig Thanks for this method, it can work. But have other methods without using
if __name__ == '__main__':
    main()

just using
with concurrent.futures.ProcessPoolExecutor() as executor:
        executor.map(fib, FIBS)

[2019-03-06 17:48] fabioz commented on #1203
Will take a look at this.

[2019-03-06 18:37] fabioz commented on #1198
Hi @tonyxwz, I can't really reproduce the error with the info provided...

My guess is that your generator is being consumed when you're inspecting something, but from the provided code I can't really discover what's making it be consumed... do you think you can provide some standalone code where this can be reproduced?

[2019-03-06 18:40] DonJayamanne opened #1205 "VSC Debugger does not work with google drives designated as g: or any drive letter"
@Manigrid commented on [Wed Mar 06 2019](https://github.com/Microsoft/vscode-python/issues/4658)

Breakpoints on a simple file containing Python 3.7 code:

print('hello')
print('1234')
print('watete')

Breakpoints were applied to all three lines.
Error

G:\My Drive\BSc.Classes\Programming1-Spring19\CS151\Code>C:/Anaconda3/Scripts/activate

(base) G:\My Drive\BSc.Classes\Programming1-Spring19\CS151

[2019-03-06 19:46] int19h commented on #1162
The key part for the workaround `set_start_method` - so long as you can somehow call that before any processes get spawned, it should work. If you have a single module, then doing that on top level, as in the code above, will suffice. If there are multiple modules, you can add a new module that just does `set_start_method`, and import it from the rest.

The `__name__ == '__main___'` bit is a gener

[2019-03-06 20:39] int19h commented on #1197
Could you clarify the steps to reproduce - is there another step there to launch it somehow, e.g. F5? Or by "load", do you mean just opening it in the editor and then waiting?

[2019-03-06 22:34] jaybo commented on #1197
Just opening it in the editor and then waiting a moment will trigger the problem.

[2019-03-06 22:34] int19h opened #1207 "Return values not reported on Python 3.7"
Reflected in `test_return_values` test failures.

This is a 3.7-specific issue, which is why it doesn't show up in our automated runs. It fails consistently in local runs.

[2019-03-06 22:34] int19h commented on #1207
I'm going to slap a `skipif` on the test - this needs to be removed once the bug is fixed.

[2019-03-06 23:02] #1197 closed

[2019-03-06 23:02] int19h commented on #1197
Issue moved to [Microsoft/python-language-server #713](https://github.com/Microsoft/python-language-server/issues/713) via [**ZenHub**](https://www.zenhub.com/)

[2019-03-06 23:13] int19h opened #1208 "Infinite recursion in pydevd messaging"
Showed up in `test_flask` and `test_django` local runs on Windows.

[code]

One ptvsd log [here](https://github.com/Microsoft/ptvsd/files/2938631/ptvsd-30396.log), but doesn't seem to show anything interesting.

It doesn't repro consistently, and I haven't seen it on anything other than Python 3.7 so far.

[2019-03-06 23:25] karthiknadig commented on #1053
I will add individual messages that need to be converted to JSON under this epic.

[2019-03-06 23:46] qubitron opened #1209 "Investigate issues related to ports being in use with Flask/Django"
See if there's anything we can do to avoid the issue

[2019-03-06 23:56] qubitron commented on #1209
- Cases where port is in use but the app listens on that port anyways
- Cases where stop debugging doesn't stop the current process

[2019-03-07 06:46] int19h commented on #1202
Should be fixed by 4d4a572ca291aa9ae6f4e3c85440b8700ab52199

[2019-03-07 06:46] #1202 closed

[2019-03-07 12:12] ZackLord opened #1211 "Code navigation not found in remote debugging"
It seems like code navigation is out of functionality when ptvsd is used to debug code on a remote machine. Here's my case: I configured launch.json as ready to attach a remote process, and in my current workspace folder was the single script file I wanted to debug. Debugging went nicely as ptvsd itself looks, but how can I navigate to other library files and interface it refers to on the remote m

[2019-03-07 14:20] #1187 closed

[2019-03-07 19:10] karthiknadig commented on #1211
Moving this to Python extension

[2019-03-07 19:13] #1211 closed

[2019-03-07 19:16] karthiknadig opened #1212 "Migrate pause, continue, next, stepIn, and stepOut"

[2019-03-07 19:48] karthiknadig opened #1213 "CI: flake8 does not support reporting using JUnit XML format"

[2019-03-07 21:35] karthiknadig commented on #1181
I am not getting a suspend event for exception break in the following cases.

Use this branch, I have the django and flask tests updated there.
https://github.com/karthiknadig/ptvsd/tree/issue694
For Django run this test:
[code]

For Flask run this test [fails on 2.7 only]:
[code]

[2019-03-08 16:48] fabioz commented on #1181
Will take a look at it.

[2019-03-08 18:19] karthiknadig opened #1215 "Ensure options set by call to pydevd.apply_debugger_options are settable using CLI"

[2019-03-08 18:21] karthiknadig opened #1216 "Ensure redirect output can be set from CLI or through protocol"
currently we set redirect output using pydevd.settrace.

[2019-03-08 18:26] karthiknadig opened #1217 "Remove VS dependency on ptvsd.debug"
Launcher script used by VS can use `ptvsd.__main__` instead of `ptvsd.debug` call.
see: https://github.com/Microsoft/vscode-python/blob/master/pythonFiles/ptvsd_launcher.py#L23 for `ptvsd.__main__` usage.

/cc @huguesv

[2019-03-08 18:28] karthiknadig opened #1218 "Investigate if alternate solution is needed for get_python_c_args patching"
This is an investigation item. After we understand the work that needs to be done, please create separate work items.

[2019-03-08 18:30] karthiknadig opened #1219 "Change all VS Style debug options to json"

[2019-03-08 18:32] karthiknadig opened #1220 "Replace get_file_type used to ignore debugger files with a json based setting"

[2019-03-08 18:36] karthiknadig opened #1221 "pydevd json support for gotoTargets and goto"

[2019-03-08 18:39] karthiknadig opened #1222 "pydevd json support for exceptionInfo"

[2019-03-08 18:41] karthiknadig opened #1223 "pydevd support for BREAK_SYSTEMEXIT_ZERO"

[2019-03-08 18:43] karthiknadig opened #1224 "pydevd initialization, debug options, and settings using json or CLI"

[2019-03-11 17:08] huguesv opened #1227 "subprocess arguments incorrectly escaped inside the debugger"
@Meinersbur commented on [Sun Mar 10 2019](https://github.com/Microsoft/PTVS/issues/5155)

Consider the following program:
[code]

When executed with python from the command line this prints:
[code]

When executed from inside the Visual Studio 2017 debugger (same python 3.7.2, Python installed product 15.9.18254.1 according to Help -> About...), and Visual Studio 2019 preview, I get:
[code]

The i

[2019-03-11 17:32] DonJayamanne opened #1228 "Simple ProcessPoolExecutor example code fails in VSCode-Python"
@ericdrobinson commented on [Fri Mar 08 2019](https://github.com/Microsoft/vscode-python/issues/4684)

The following simple script was adapted from the ["Executing code in thread or process pools" documentation](https://docs.python.org/3.7/library/asyncio-eventloop.html#executing-code-in-thread-or-process-pools) for Python 3.7. The adaptations allow the code to be run in Python 3.6.

[code]

Runni

[2019-03-11 17:42] DonJayamanne opened #1229 "ptvsd_launcher.py prevents jira from importing in buildout environment"
@Cetlan commented on [Sat Mar 09 2019](https://github.com/Microsoft/vscode-python/issues/4700)

## Environment data

- VS Code version: 1.31.1
- Extension version (available under the Extensions sidebar): 2019.2.5558
- OS and version: Windows 10 and Mac OS X Maverick
- Python version (& distribution if applicable, e.g. Anaconda): 2.7.15 / 2.7.16
- Type of virtual environment used (N/A | venv | vir

[2019-03-11 19:13] int19h commented on #1229
This doesn't look like an issue with Jira not being found - it's actually on the stack, but is failing for some reason.

[2019-03-11 19:29] fabioz commented on #1181
Just to note, the problem happens when just-my-code is turned on along with django exceptions (still working on a fix).

[2019-03-12 02:33] #1174 closed

[2019-03-12 02:33] #1207 closed

[2019-03-12 04:15] #1203 closed

[2019-03-12 07:05] karthiknadig opened #1230 "Investigate debugging notebooks"

[2019-03-12 10:32] nazmulhasan85 opened #1231 "Having Json parsing problem with ptvsd"
## Environment data

- PTVSD version: 4.2.4
- OS and version: Ubuntu 18.04, but code was running on docker.
- Python version (& distribution if applicable, e.g. Anaconda): 2.7.9
- Using VS Code or Visual Studio: VS Code

## Actual behavior

[code]

## Expected  behavior

It was working fine with python 3.6.

## Steps to reproduce:
Use python 2.7.9

[2019-03-12 17:50] karthiknadig commented on #1231
Can you provide more details on how to reproduce this? Also, would it be possible to try with 2.7.15 or 2.7.16?

[2019-03-12 17:55] karthiknadig commented on #1198
@fabioz It could be `SafeRepr` that might be consuming this. /cc @int19h

[2019-03-12 19:25] int19h commented on #1198
It does a bunch of `len` checks to detect collections that are too long to repr, which would indeed force the generator. But it also has this check before it does any of that:
[code]
so it shouldn't be trying to do that on generators.

[2019-03-12 21:14] int19h commented on #1208
Can't repro anymore - will reopen if it shows up again.

[2019-03-12 21:14] #1208 closed

[2019-03-12 21:44] int19h commented on #1165
On Windows, the repro steps trigger a different exception, when detaching from the root process:
[code]

[2019-03-13 00:34] Cetlan commented on #1229
Some additional information and a seemingly usable workaround:

If the launcher has the buildout-generated `${workspace}/bin/python` script explicitly set as `pythonPath` with `program` set to the jira-loading script instead of using the buildout-generated `${workspaceFolder}/bin/python` script as the program with the jira-loading script as an argument to it, it seems to work - even if the selecte

[2019-03-13 00:56] #1230 closed

[2019-03-13 15:56] alendit opened #1232 "Can't initiate remote debugging from an IPython process"
## Environment data

- PTVSD version: 4.2.4
- OS and version: arch (latest)
- Python version: 3.7.2 (GCC 7.3.0)
- VS Code
- IPython: 7.2.0

## Actual behavior

When trying to connect to a remote jupyter process, the following happens:

[code]

## Expected  behavior

Last step should pause on the breakpoint.

Doing the same steps in a separate script produces the expected behaviour.

I guess it has

[2019-03-13 17:43] DonJayamanne opened #1233 "vscode Django debug paused on breakpoint but not show variables"
@nicebug commented on [Wed Mar 13 2019](https://github.com/Microsoft/vscode-python/issues/4737)

## Environment data

- VS Code version:1.32.1
- Extension version (available under the Extensions sidebar): 2019.2.5558
- OS and version: Mac OS 10.13.6
- Python version (& distribution if applicable, e.g. Anaconda): 2.7.10
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): vir

[2019-03-13 21:51] DonJayamanne opened #1234 "Getting syntax error instead of actual message of a thrown exception in Python"
@wmpauli commented on [Thu Oct 18 2018](https://github.com/Microsoft/vscode-python/issues/2949)

Issue Type: <b>Bug</b>

I keep on getting very strange behavior when I execute lines of code in the the DEBUG CONSOLE: I get a syntax error, instead of the actual message of the exception. Here is a very simple example of a code snippet, that intentionally has an error in it:
[code]
If I run this with

[2019-03-13 23:42] #1201 closed

[2019-03-14 01:15] karthiknadig commented on #1205
@Manigrid Can you provide more details on how you have mapped the drive and how you start VSC. Also, provide the launch configuration you are using for this. I am not able to repro this using mapped or un-mapped google drive.

Mapped:
![image](https://user-images.githubusercontent.com/3840081/54324616-a6bb3b80-45bb-11e9-99cd-a6f0e5358051.png)

Unmapped:
![image](https://user-images.githubuserconte

[2019-03-14 03:06] int19h commented on #1165
`OSError` is an unrelated issue, and happens because we kill child processes when detaching from parent.  `ProcessPoolExecutor` expects them to still be there when running its cleanup code via atexit, and doesn't try to guard against the possibility of failure. Not sure what we can do here.

[2019-03-14 10:29] LambiekNL opened #1237 "Solaris sock.setsockopt TCP_KEEPIDLE OSError: [Errno 22] Invalid argument"
Previously I used ptvsd 3 with joy and success on Linux (vscode) and Solaris 11.3 hosting my Application. When time advanced it seems that vscode is not compatible anymore with ptvsd 3 so I upgraded to 4.2.4. In the mean time I also upgraded Solaris to version 11.4. This version let the debugger not connect and it fails apparently on line 173 in `ptvsd/socket.py`.

This is reproducable using the f

[2019-03-14 15:33] Manigrid commented on #1205
The mapping is done by Google Drive Stream. You click on the Google Drive Stream icon in the system tray and you assign the letter. The default letter is G:
local cache directory is in C:\Users\manigrid\AppData\Local\Google\DriveFSC:\Users\myap\AppData\Local\Google\DriveFS
Here is launch.json:
{ // Use IntelliSense to learn about possible attributes. // Hover to view descriptions of existing attri

[2019-03-14 17:08] #1165 closed

[2019-03-14 17:21] karthiknadig commented on #1234
I can repro this with 4.2.4. Looks like with current master, evaluations are broken. In master with the above repro i don't see either `ValueError` or 'SyntaxError`.

/cc @fabioz

[2019-03-14 17:27] DonJayamanne opened #1238 "[Feature request] Step back/IntelliTrace-like debugging"
@lstolcman commented on [Thu Mar 14 2019](https://github.com/Microsoft/vscode-python/issues/4754)

## Environment data

- VS Code version: 1.31.1
- Extension version (available under the Extensions sidebar): 2019.2.5558
- OS and version: Macos high sierra 1.13.6
- Python version (& distribution if applicable, e.g. Anaconda): 3.7
- Type of virtual environment used (N/A | venv | virtualenv | conda |

[2019-03-14 17:33] karthiknadig commented on #1238
#1017

[2019-03-14 17:33] #1238 closed

[2019-03-14 18:27] int19h commented on #1234
The new JSON-based implementation of evaluate seems to be ignoring exceptions for exec but not eval. When expression is coming from debug console (`context='repl'`), it tries eval first, and falls back to exec if it fails for any reason, so effectively all errors get swallowed. The success path works fine though.

[2019-03-14 19:24] #1212 closed

[2019-03-14 21:41] int19h commented on #1232
The problem is that we consider any code that has filename like `<...>` to be filtered out as not-user-code for stepping purposes - and `breakpoint()` is considered a kind of step - unless it's `<string>`:

https://github.com/Microsoft/ptvsd/blob/1173a2b913e5bb0ec628038c0b71429cfd0c88d2/src/ptvsd/_vendored/pydevd/_pydevd_bundle/pydevd_filtering.py#L225

In case of IPython cells, they have names li

[2019-03-14 23:11] fabioz commented on #1232
I think it should be ok to  do that...  with some additional work, it
should be even possible to show the source (haven't checked, but if the
code is available somewhere it could be shown or in the worse case we could
use uncompile6 to provide the actual source for the function... note that
it's gpl, so we can't include it... but maybe we could ask users to install
separately? -- it also needs inv

[2019-03-14 23:36] int19h commented on #1232
IPython kernel patches the `linecache` module and stores source code for all the cells there (which is also why `traceback` can show them in traces). So if we also use `linecache` to handle the `source` DAP request, instead of reading the file directly, we should get IPython cell source fetching for free.

[2019-03-15 09:15] sunew opened #1239 "Attach to process fails with "RuntimeError: Could not find dll file" on Ubuntu 14.04"
## Environment data

- PTVSD version: 4.2.4
- OS and version: Ubuntu 14.04.5 LTS
- Python version (& distribution if applicable, e.g. Anaconda): 2.7.6, virtualenv
- Using VS Code or Visual Studio: vscode

## Actual behavior

With virtualenv acitvated:

`python2.7 -m ptvsd --host 10.5.10.5 --port 3000 --pid 27723`

Gives this traceback:

[code]

## Expected  behavior

A successful attachment, makin

[2019-03-15 17:21] karthiknadig commented on #1239
Similar to #863, but it fails in a different area. @sunew I recommend using ptvsd to directly launch the code you want to debug, or use `ptvsd.enable_attach()` in your script. We are currently working on other areas of the debugger and will get to the attach to pid issue later.

[2019-03-15 17:59] DonJayamanne opened #1240 "Child processes are not killed when stopping the debugger"
@DonJayamanne commented on [Tue Jun 19 2018](https://github.com/Microsoft/vscode-python/issues/2014)

Debug a python program that launches child processes.
Stop debugging, and confirm the child processes are killed.
This works in the old debugger, confirm this works as expected on the experimental debugger as well.

---

@DonJayamanne commented on [Tue Jun 19 2018](https://github.com/Microsoft/vsc

[2019-03-15 18:02] DonJayamanne commented on #1240
I can replicate this issue with the latest version of the debugger.
Stopping debugger doesn't kill child processes.
FYI - I have not turned on sub process debugging.

When I enable sub process debugging that gives me other errors:
See here
<img width="1077" alt="Screen Shot 2019-03-15 at 11 01 46 AM" src="https://user-images.githubusercontent.com/1948812/54452209-cbc1c280-4711-11e9-8f51-0e37211fd5

[2019-03-15 18:08] DonJayamanne opened #1241 "Debugging django without '--noreload' does not work"
@wyattbiker commented on [Wed Feb 27 2019](https://github.com/Microsoft/vscode-python/issues/4589)

Commenting out the --noreload key in launch.json disables breakpoints.
As a side effect, when you click stop button, python remains loaded and must be pkilled
sudo lsof -i -P -n | grep LISTEN

[code]

[code]

---

@DonJayamanne commented on [Tue Mar 05 2019](https://github.com/Microsoft/vscode-pytho

[2019-03-15 18:27] int19h commented on #1240
Subprocesses are only automatically killed in multiproc debugging context. Doing it always would break any scenario where they are not supposed to die - e.g. an app backgrounding itself.

The last one is definitely a bug, but a different one. Can you file that separately, with ptvsd logs for the processes involved?

[2019-03-15 18:45] DonJayamanne commented on #1240
This issue was reported previously on PTVSD and it was closed, https://github.com/Microsoft/ptvsd/issues/503

[2019-03-15 18:50] DonJayamanne opened #1242 "Error in subprocess debugging"
## Environment data

- PTVSD version: Latest release
- OS and version: Mac
- Python version (& distribution if applicable, e.g. Anaconda): 3.6
- Using VS Code or Visual Studio:VSC

## Actual behavior

Error during sub process debugging
<img width="1183" alt="Screen Shot 2019-03-15 at 11 49 25 AM" src="https://user-images.githubusercontent.com/1948812/54455194-6e7d3f80-4718-11e9-8bf3-2724cd1f91b6.p

[2019-03-15 18:58] int19h commented on #1240
Sorry, I meant the issue with broken pipe.

Killing subprocesses in multiproc only is by design currently, but we can revisit that. The current implementation is tied to multiproc, because it knows what to kill based on debug messages it receives from those subprocesses (and their children) - it'd have to be remade to reconstruct the process tree by itself, which is possible, but not in a platform

[2019-03-15 21:18] int19h commented on #1227
There are several other issues with the quoting code - it also doesn't handle terminal `\` well, for example, and it doesn't properly escape literal backslashes that precede quotes.

[2019-03-15 22:54] int19h commented on #1227
@fabioz, there's an interesting issue here - the updated quoting code (see commit referenced above) works fine, except for the case of an empty argument. The reason is that the different piece of code that splits the command line into arguments before doing the patching and quoting special-cases it in a way that's not consistent with any other argument:

https://github.com/Microsoft/ptvsd/blob/3c8

[2019-03-16 01:39] int19h commented on #1173
@fabioz, can I poach this?

[2019-03-16 04:08] DonJayamanne commented on #1240
Yes this will need to be re-visited.
It used to work in the old debugger, and that's why this issue was filled originally in ptvsd. I guess along the way it got changed into working only with sub processes...

[2019-03-16 09:16] fabioz commented on #1173
Sure.

On Friday, March 15, 2019, Pavel Minaev <notifications@github.com> wrote:

[2019-03-16 10:08] Cartman0 commented on #982
I have same issue yet \.vscode\extensions\ms-python.python-2019.2.5558\pythonFiles\visualstudio_py_testlauncher.py".
can solve when exclude "visualstudio_py_testlauncher.py"?

[2019-03-16 11:19] fabioz commented on #1227
@int19h This code is actually a port of https://github.com/eclipse/eclipse.platform.debug/blob/master/org.eclipse.debug.core/core/org/eclipse/debug/core/DebugPlugin.java from java to Python... from the comment it seems that's a workaround only needed for `java.lang.ProcessImpl`, so, I think that on Python that workaround may not be needed (so, feel free to change that -- as a note, tests for this

[2019-03-18 20:49] karthiknadig opened #1247 "Reconnect support in pydevd"

[2019-03-18 20:50] karthiknadig opened #1248 "pydevd support for settrace without blocking"

[2019-03-19 02:55] #1181 closed

[2019-03-19 02:56] #694 closed

[2019-03-19 02:57] karthiknadig commented on #694
via #1243

[2019-03-19 11:48] sunew commented on #1239
@karthiknadig thanks, yes I use `ptvsd.enable_attach()` for now. Will be very practical when we get attach to process to work:)

[2019-03-19 12:28] fabioz commented on #1233
I can't reproduce this in the current master with a simple django project... (so, either it's already fixed or the use-case to reproduce needs more info).

@nicebug do you think you can provide a sample source code where this can be reproduced?

[2019-03-19 15:56] fabioz commented on #1163
As a note, I just noted that there's no UI for this in VSCode (depends on: https://github.com/Microsoft/vscode/issues/25653) -- probably useful for Visual Studio thought.

[2019-03-19 17:25] DonJayamanne opened #1249 "Empty line not rendered in debug console (Python)"
@aamartinoli commented on [Tue Mar 19 2019](https://github.com/Microsoft/vscode-python/issues/4821)

Issue Type: <b>Bug</b>

VSCode with Python 3.7 (x64).
Load and run this piece of python code in VSCode:

# start of python code
print(1)
print()
print(2)
print()
print(3)
# end of python code

Original code: [test_py.zip](https://github.com/Microsoft/vscode-python/files/2982914/test_py.zip)

Execut

[2019-03-19 19:01] karthiknadig commented on #1163
@fabioz, yes this is VS Specific.

[2019-03-19 20:35] int19h opened #1251 "VS error: value was either too large or too small for an Int32"
ptvsd master
VS 2017
Python 3.7 64-bit

Code as simple as:
[code]

Set breakpoint and F5:

![image](https://user-images.githubusercontent.com/1175142/54639816-7f48f080-4a4b-11e9-9faf-d0c3f5140d48.png)

Seems to be a 64-bit specific thing, doesn't repro on 32-bit.

I suspect that this is actually a VS DAP client bug, where some `number` in the protocol is improperly treated as `int32`, but the actu

[2019-03-19 20:57] karthiknadig commented on #1251
Can you get the debug adapter log for this? The adapter host team can use those logs to repro the issue.

[2019-03-19 21:08] int19h opened #1252 "PTVSD_LOG_DIR doesn't work with VS"
No logs are generated even with the environment variable set. It looks like logging initialization is missing on the VS entry point (`debugger.py`).

[2019-03-19 21:10] karthiknadig commented on #1252
If this #1217 is done we don't need to patch `debugger.py`

[2019-03-19 21:18] int19h commented on #1251
Looks like it's a stack trace ID:
[code]
Specifically:
[code]

The reason why it's so large on 64-bit is because pydevd uses `id()` of the frame object as its DAP ID, and that's basically just a raw pointer to the object.

Now, the protocol spec says that `StackFrame.id` is a `number`, i.e. `double`. This means that VS is wrong here when it rejects values that don't fit into 32-bit. But it also me

[2019-03-19 21:55] karthiknadig commented on #1251
Response from adapter host:

/cc @fabioz unfortunately the IDs for any DAP object would have to be within 32-bit range.

[2019-03-20 15:33] fabioz commented on #1251
Will take a look at this.

[2019-03-20 17:56] DonJayamanne opened #1254 "Python debugger freezes on fast.ai functions"
@alexanderschiffhauer commented on [Tue Mar 19 2019](https://github.com/Microsoft/vscode-python/issues/4840)

Issue Type: <b>Bug</b>

I've found that the Python debugger hangs on numerous fast.ai functions. In this case, the debugger always hangs on `unet_learner(...).fit_one_cycle(...)`. I've also seen the debugger to hang on the other training-related methods in the API (e.g. `unet_learner(...).

[2019-03-20 18:02] fabioz commented on #1254
@alexanderschiffhauer can you provide some standalone code sample with instructions to reproduce this?

[2019-03-20 18:47] #1252 closed

[2019-03-20 19:05] DonJayamanne commented on #997
Doesn't seem to work, I've tested this at my end, and here are the logs:
Instructions:
* Debug a unit test in the extension
* The debugger will stop at a `sysext` exception in our code.
* Please use `unit test`, (not `pytest` nor `nose`)
* I.e.
	* Open empty workspace
	* Add tests folder
	* Add a file `/tests/test_one.py` with a test case in `unittest`
	* Debug the the above test method.

**Note:*

[2019-03-20 19:30] #1234 closed

[2019-03-20 21:14] karthiknadig commented on #1228
Note due to #943, you have to set `multiprocessing` to use `spawn`. With the following code and master version of ptvsd i cannot repro this issue:
[code]
Launch json:
[code]
This is what i see in the terminal:
[code]

[2019-03-20 21:15] karthiknadig commented on #1228
@ericdrobinson Let me know if the above change to code works for you.

[2019-03-20 22:14] karthiknadig opened #1255 "pydevd json support for setExceptionBreakpoints"

[2019-03-20 22:29] karthiknadig commented on #1242
Does not repro with master (tested on Linux/Windows/Mac). Please reopen, if seen again.

[2019-03-20 22:29] #1242 closed

[2019-03-20 22:30] #1227 closed

[2019-03-20 22:58] qubitron opened #1256 "Django apps don't work without --nothreading option"
Look into this

[2019-03-21 04:18] alexanderschiffhauer commented on #1254
Here's a standalone example. The only dependency should be the fast.ai SDK:

`pip3 install fastai`
`python3 segmentation.py` <-- this should run fine

On the other hand, if you debug the file (e.g. current file, integrated terminal) the debugger will hang.

[vscode-bug.zip](https://github.com/Microsoft/ptvsd/files/2990811/vscode-bug.zip)

[2019-03-21 05:16] nicebug commented on #1233
@fabioz  i use graphene , graphene-django. my project is a query for graphql. set a breakpoint on function resolve_xxx, it doesn't work as pic show. but in pycharm same project debug work

[2019-03-21 05:19] nicebug commented on #1233
maybe  you can try a simple graphql django project..

[2019-03-21 13:15] #1163 closed

[2019-03-21 17:38] #1173 closed

[2019-03-21 18:39] fabioz commented on #997
@DonJayamanne I've been able to reproduce the issue related to the `SystemExit` (it seems that the `visualstudio_py_testlauncher.py` is not being considered as an internal file, so, I'll fix that).

Now, related to the issue on `rules`, on a simple case it worked for me (when running a regular file on Python 3.6/Linux).

Now, the case I tested wasn't a unit-test... I couldn't discover where to spe

[2019-03-22 06:21] harshitazilen commented on #1113
Hi, I am facing the same issue. I am debugging in local machine only yet it says "time out". Can you guide me how to resolve it ?

[2019-03-22 14:00] fabioz commented on #1254
It seems this is actually a dupe of https://github.com/Microsoft/ptvsd/issues/943

For me, adding the code below makes it work on Python 3.6:

[code]

[2019-03-22 14:00] #1254 closed

[2019-03-22 17:35] DonJayamanne opened #1258 "I cant launch python file in integrated or external terminal."
@erkus-circus commented on [Thu Mar 21 2019](https://github.com/Microsoft/vscode-python/issues/4877)
[code]

[2019-03-22 17:42] DonJayamanne opened #1259 "Debugger Doesn't Stop At Breakpoints"
@primalewden commented on [Wed Mar 20 2019](https://github.com/Microsoft/vscode-python/issues/4844)

## Environment data

Version: 1.32.3 (system setup)
Commit: a3db5be9b5c6ba46bb7555ec5d60178ecc2eaae4
Date: 2019-03-14T23:43:35.476Z
Electron: 3.1.6
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Windows_NT x64 10.0.17763

- VS Code version: 1.32.3
- Extension version (available under the

[2019-03-22 17:54] karthiknadig commented on #1258
@erkus-circus can you share your launch.json settings. If possible share a minimal repro for this.

[2019-03-22 18:09] DonJayamanne commented on #997
Please do not hard code this, I'm currently using the API to pass in the `rules` and it is not being excluded.
As you can see here, I'm passing the folder, file to exclude, but nothing seems to work.

[code]

There's no way to do this, that's why I've uploaded the `vsix` above.

Have not tested.

OSX, Python 3.7

[2019-03-22 20:04] erkus-circus commented on #1258
Here is my launch.json:
`{
    // Use IntelliSense to learn about possible attributes.
    // Hover to view descriptions of existing attributes.
    // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Python: Terminal (integrated)",
            "type": "python",
            "request": "launch"

[2019-03-22 23:23] karthiknadig commented on #1213
Created and added a flake8 junit plugin to fix this.

[2019-03-22 23:23] #1213 closed

[2019-03-23 12:52] fabioz opened #1261 "Passing "" to subprocess does not work / Resumed sent before actually resuming"
Found these issues while backporting the recent changes to pydevd. Will provide a pull request shortly.

[2019-03-23 17:23] KestutisMa commented on #428
I also can't get breakpoint hit inside QThread run() method, 1.32.3 (2019-03-14) version of vscode, linux, pyqt5. Does anybody managed to do this?

[2019-03-23 17:41] karthiknadig commented on #428
@KestutisMa import `ptvsd` and add this to the thread function, `ptvsd.debug_this_thread()`.
https://github.com/Microsoft/ptvsd/issues/1189#issuecomment-468406399

[2019-03-23 17:42] karthiknadig commented on #1195
I am not seeing this failure on azure anymore. Looks like this might be fixed?

[2019-03-25 13:57] #1261 closed

[2019-03-25 14:33] #1251 closed

[2019-03-25 16:50] fabioz commented on #1233
I saw you commented out `"--nothreading"` on the launch config... if you add it back, does it work?

[2019-03-25 17:14] #1222 closed

[2019-03-25 19:37] int19h commented on #1195
You're right. I had an older enlistment on Mac that had this, but syncing to master either fixed it, or made it  much less likely to repro. It didn't come up in an overnight run-in-a-loop (although there were other spurious failures).

[2019-03-25 19:37] #1195 closed

[2019-03-26 01:47] #1039 closed

[2019-03-26 16:15] gramster opened #1264 "Failed to debug in Docker"
@xiaofeng0123 commented on [Tue Mar 26 2019](https://github.com/Microsoft/python-language-server/issues/824)

Visual Studio Code - Insiders: 1.33.0-insider
python-insider: 2019.4.6071-alpha
python version: Python 3.7.3 64bit
Make sure docker installed
Repro steps:
1.Git clone https://github.com/qubitron/pydemo
2.Open Anaconda Prompt window
3.Cd pydemo
4.Run py -3 setup.py
5.Open "stackoverflow-fla

[2019-03-26 16:27] qubitron commented on #1264
This is by design, while confusing it’s printing out the literal output of the app running inside of the container, which is bound to 0.0.0.0.

[2019-03-26 16:27] #1264 closed

[2019-03-26 17:48] DonJayamanne opened #1265 "locals behaviour different between debug and start without debugging - Windows"
@derirreIre commented on [Tue Mar 26 2019](https://github.com/Microsoft/vscode-python/issues/4918)

Similar to another issue, but this time on windows
https://github.com/Microsoft/vscode-python/issues/581 - locals behaviour different between debug and start without debugging

The solution to take the latest development build worked on linux, however it seems not to be solved on windows.

The issue

[2019-03-26 19:19] int19h commented on #1265
`locals()` can return different things depending on when it's called, exactly, and most of that is not guaranteed by API docs. In this particular example, you can repro the behavior without any debugger at all just by adding a single call to it:
[code]

That the docs say that `locals()` "*update* and return a dictionary representing the current local symbol table".  Thus, calling it again may affe

[2019-03-26 21:36] jonespm commented on #1233
I was also seeing this issue on ptvsd 4.2.4 but 4.2.5 looks like it's working much better (so far) for me. Might want to try that out and see if it helps?

[2019-03-27 03:26] karthiknadig opened #1266 "Suspended event can occur between continue request and response"
[code]

[2019-03-27 04:30] #1266 closed

[2019-03-27 07:26] nicebug commented on #1233
@fabioz   still not work , after add "--nothreading" back

[2019-03-27 10:17] nicebug commented on #1233
@fabioz @jonespm  I try update vscode to 1.32.3, debug work!!  you can close the issue

[2019-03-27 10:22] fabioz commented on #1233
Great, closing this issue ;)

[2019-03-27 10:22] #1233 closed

[2019-03-27 13:58] fabioz opened #1268 "Debugger should not stop on exceptions raised in excluded files."
See: https://github.com/Microsoft/ptvsd/issues/997#issuecomment-474986271 for more info.

[2019-03-27 17:57] karthiknadig commented on #1265
@derirreIre Please reopen this if it does not address your question.

[2019-03-27 17:57] #1265 closed

[2019-03-27 19:43] ericdrobinson commented on #1228
@karthiknadig That did indeed work for the specific example I outlined in the initial ticket.

Unfortunately, the code I posted in the initial ticket is a very minimal repro-case. The _**actual**_ environment I'm working with is a bit more complicated.

Specifically, I first ran into this issue while working with [`azure-functions-python-worker`](https://github.com/Azure/azure-functions-python-wor

[2019-03-27 21:37] luabud opened #1269 "Breakpoints not showing in the editor"
## Environment data

- PTVSD version: 0.2.0
- OS and version: Windows 10
- Python version (& distribution if applicable, e.g. Anaconda): 3.7.1 (global)
- Using VS Code or Visual Studio: VS Code Insiders

## Actual behavior

I added breakpoints by clicking on the margin of the editor and they show up in the Breakpoints window, but not in the editor
![image](https://user-images.githubusercontent.com

[2019-03-27 21:59] karthiknadig commented on #1269
@luabud Can you enable logs? one way is to set the environment variable 'PTVSD_LOG_DIR' to some directory.

[2019-03-27 22:01] karthiknadig commented on #1269
Also, were you already debugging or was this before running?

[2019-03-27 22:37] luabud commented on #1269
Yes, I was already debugging. Now I can reproduce it. Have the debugger to stop on a breakpoint and open the interactive window, and then reload VS Code.
[ptvsd-19488.log](https://github.com/Microsoft/ptvsd/files/3015502/ptvsd-19488.log)

[2019-03-27 22:43] karthiknadig commented on #1269
Looks like the debugger is already disconnected (looking at the end of the code).  On reload the debugger is shutdown, and wont be started unless it is launched again. Extension should look into what is going on here.

[2019-03-27 22:45] #1269 closed

[2019-03-27 22:45] karthiknadig commented on #1269
Issue moved to [Microsoft/vscode-python #4975](https://github.com/Microsoft/vscode-python/issues/4975) via [**ZenHub**](https://www.zenhub.com/)

[2019-03-28 00:20] karthiknadig opened #1271 "Tests on windows 2.7 on CI fail due short path vs long path issues"
[code]

[2019-03-28 00:37] jkassismz opened #1272 "Launch a SubModule"
## Environment data

- PTVSD version: ms-python.python-2019.3.6139
- OS and version: MacOS
- Python version (& distribution if applicable, e.g. Anaconda): 3.6.5
- Using VS Code or Visual Studio: VS Code (or CLI)

## Actual behavior

Cannot launch a __main__.py in a submodule...
ptvsd complains that the module is not found

## Expected  behavior

Launching a __main__.py method in a submodule works

[2019-03-28 13:57] derirreIre commented on #1265
Hi guys, thanks for the quick feedback.

replacing
[code]
by
[code]
fixes the issue.

For the record, my usecase was something like this:
[code]
The assert is only triggered when a breakpoint is set when running the debugger.

[2019-03-28 17:34] karthiknadig commented on #1256
Verified that this now works:
![image](https://user-images.githubusercontent.com/3840081/55179551-f1ed5680-5144-11e9-8df7-27fa32c71dbc.png)

[2019-03-28 17:34] #1256 closed

[2019-03-28 17:38] qubitron commented on #1256
@karthiknadig looks like this might still be an issue for some: https://github.com/Microsoft/vscode-python/issues/4988, or perhaps this is a new issue

[2019-03-28 17:39] DonJayamanne opened #1273 "Debugging: Cannot inspect inside variables of section "Watch""
@DavidDuranPerez commented on [Thu Mar 28 2019](https://github.com/Microsoft/vscode-python/issues/4984)

## Environment data

- VS Code version: 1.32.3
- Extension version (available under the Extensions sidebar): 2019.3.6139
- OS and version: Windows 10
- Python version (& distribution if applicable, e.g. Anaconda): 3.6.2
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...):

[2019-03-28 17:42] karthiknadig commented on #1241
We might be missing some detail here. I cannot repro this with the latest python extension(`2019.3.6139`) and ptvsd(`4.2.5`):
![image](https://user-images.githubusercontent.com/3840081/55180043-fb2af300-5145-11e9-9ad6-11a05cdc111f.png)

[2019-03-28 17:44] DonJayamanne opened #1274 "django breakpoints not hit"
@Transel commented on [Thu Mar 28 2019](https://github.com/Microsoft/vscode-python/issues/4991)

## Environment data

- VS Code version: 1.32.3
- Extension version (available under the Extensions sidebar):2019.3.6139
- OS and version: Debian 9
- Python version (& distribution if applicable, e.g. Anaconda): 2.7.13
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): venv
- Re