[2019-12-17 09:53] keckelt commented on #1979
I installed VS Code Insiders today (1.42):
[code]

I also switched to the insiders version of the Python extension, which is now Version: 2020.1.54965-dev
settings.json: ` "python.insidersChannel": "daily"`

Still having the same errors unfortunately.

[debug5101.log](https://github.com/microsoft/ptvsd/files/3972553/debug5101.log)

[2019-12-17 09:59] keckelt commented on #1979
Wait ... 🤔
I was totally focused on VS Code. Should i also use/install the PTVSD v5 pre-release in my app? https://pypi.org/project/ptvsd/#history

[2019-12-17 13:40] pfaz69 commented on #1969
Thank you very much, int19h, for your detailed explanation.
If I understand it correctly, though, in order for this fix to work, I should move my multiprocessing code in my main module while now it resides in another file. Am I gathering this right?
Very good to know that with the next VSC release the issue would be fixed for good.
Thanks,
Pfaz69

[2019-12-17 19:33] int19h commented on #1979
If you're using attach by TCP, then yes, it's the version of ptvsd that you're explicitly importing or using to launch your code that matters.

[2019-12-18 02:11] int19h commented on #1998
Thank you for reporting this, and rest assured that you're not "doing anything stupid"! If following the docs and heeding the error messages does not yield the anticipated results, then either there is a bug in the product or the docs, or the docs and the messages aren't clear enough.

In this case, it's definitely the product. First, to clarify why you're hitting this: it's because you are in an

[2019-12-18 02:30] int19h commented on #1998
I cannot readily reproduce it, so we'll need to get some more information. Can you please add the following to your launch.json config:
[code]
and then share the file named `ptvsd.launcher-*.log` that will appear in the folder in which the extension is installed (something like `C:\Users\...\.vscode\extensions\ms-python.python-...`)?

Note that this is a fairly detailed log, and can expose data in

[2019-12-18 02:51] BlownSnail opened #1999 "AttributeError when debug class overriding __dir__"
## Environment data

- VS Code version: 1.40.2
- Extension version (available under the Extensions sidebar): 2019.11.50794
- OS and version: Windows_NT x64 10.0.17134
- Python version (& distribution if applicable, e.g. Anaconda): Python 3.6.8 64-bit
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): NA
- Relevant/affected Python packages and their versions: NA
- Jedi or L

[2019-12-18 04:27] amandalishus commented on #1998
Opt out of the experiment?! Oh heavens no! I live for A-B experiments!
Well, okay, that may be putting it a bit strongly... Maybe more like, "It's
a dirty job but someone's gotta do it," but whatever ;)

I may convince you that I'm stupid yet though, because I can't find your
logfile. I found the folder easily enough:
"C:\Users\arodewald\.vscode\extensions\ms-python.python-2019.11.50794", but
I'm

[2019-12-18 05:39] int19h commented on #1999
@fabioz, can you take a look? The proposed fix - an exception guard + fallback to `object.__dir__()` - makes sense to me.

[2019-12-18 08:09] kitattyor opened #2002 "VSCode searching for exception information in the wrong path for pyzmq"
## Environment data

- Version: 1.41.0 (system setup)
- Commit: 9579eda04fdb3a9bba2750f15193e5fafe16b959
- Date: 2019-12-11T18:37:42.077Z
- Electron: 6.1.5
- Chrome: 76.0.3809.146
- Node.js: 12.4.0
- V8: 7.6.303.31-electron.0
- OS: Windows_NT x64 10.0.18362
- Python version (& distribution if applicable, e.g. Anaconda): 3.7.3
- Type of virtual environment used (N/A | venv | virtualenv | conda | ..

[2019-12-18 09:52] jheffez commented on #1982
Running Windows 10 (no virtual env). Python is set to a venv.
Not sure how to get the ptvsd.__version__ . I have two VS 2019, 2019. In C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\Common7\IDE\Extensions\Microsoft\Python\Core\ptvsd\__init__.py I see: __version__ = "3.2.1.0"

[2019-12-18 14:45] MikolajZuzek commented on #1982
Got the same issue ("Session-1 timed out waiting for debuggee to spawn") on Win10, VS Code **1.41.0**, Python extension **2019.11.50794** and ptvsd **5.0.0a7**.

It happens here **only in virtual environment** (`py -3 -m venv .venv`) - I get debugger working fine the regular way.

[2019-12-18 16:48] #1078 closed

[2019-12-18 17:09] fabioz commented on #1999
I'll take a look at it.

[2019-12-18 17:44] fabioz commented on #1017
Is this the same as the `go to` (which is already done)?

[2019-12-18 17:46] fabioz commented on #1392
I'll take a look at this.

I think this may also fix https://github.com/microsoft/ptvsd/issues/788.

[2019-12-18 19:08] awildfivreld opened #2003 "Uninformative error message when debugging"
Issue Type: <b>Bug</b>

When debugging this code:

[code]
I get a new tab in vscode which states this:

[code]
While I can see a "real" error message the "Call stack" section of the debugger (dot() is missing a parameter), this is not properly reflected in either the internal terminal or the new window that pops up.

This is the same code, but in the console:

[code]

While not an earthshattering

[2019-12-18 19:59] int19h commented on #1982
To get `__version__`, the most reliable method is to do this inside the app being debugged:
[code]
But if you're hitting this when debugging a virtual environment, it's the same as #1930. We already have a fix for that - you can install the insider's build of the extension to get a version of ptvsd with the fix:

https://pvsc.blob.core.windows.net/extension-builds/ms-python-insiders.vsix

If you'd

[2019-12-18 20:02] int19h commented on #1017
This is a very high-level item for something like this:
https://devblogs.microsoft.com/visualstudio/introducing-time-travel-debugging-for-visual-studio-enterprise-2019/

[2019-12-18 20:06] fabioz commented on #1017
Thanks for the clarification.

[2019-12-18 20:07] int19h commented on #1998
It should go into the debug configuration alongside other properties.

But whatever's mangling "console" might also be affecting this one. Another way to get those logs is to set `PTVSD_LOG_DIR` to point at an (existing!) directory where they should be placed. However, it needs to be done in a way that ensures that the variable is applied to the Python process that's running the tests. I think tha

[2019-12-18 20:10] int19h commented on #1960
We've changed the default for "redirectOutput" in both ptvsd and vscode-python, so this should be fixed for regular debug configs. When "redirectOutput" is explicitly enabled, the behavior is considered by design for now.

[2019-12-18 20:10] #1960 closed

[2019-12-18 20:41] RaymonGulati1 opened #2001 "PTVSD 5.* debugger Flags are not working"
I'm setting the debugger flags in the launch json, but they are being ignored by the debugger. For instance, the show return value and break on system exit 0 are not working.

Launch JSON:
![image](https://user-images.githubusercontent.com/3315992/71121455-5c429d00-2193-11ea-88d6-7db65c4774c0.png)

DebugAdapterLogs for PTVSD 5.*
[DebugAdapterHost5.txt](https://github.com/microsoft/ptvsd/files/3980

[2019-12-18 20:58] int19h commented on #1571
Okay, so we do in fact detect the connection being dropped just fine, and if the debuggee process is force-killed directly by PID, e.g. from Task Manager, then everything works (with ptvsd 5).

The problem is when the process is killed by closing its console. In this case, the debuggee and the adapter are *both* force-killed, and so the adapter doesn't get to report the debuggee going away to the

[2019-12-18 21:18] int19h commented on #2002
It looks like it's fundamentally the same as #1946, except that the extension here is .pxd rather than .pyx.

[2019-12-18 21:18] #2002 closed

[2019-12-18 21:18] int19h commented on #1946
Also needs to do the same for .pxd files per #2002.

[2019-12-18 21:21] int19h commented on #1291
@jajcayn Just press F5 to continue running.

[2019-12-18 21:26] int19h commented on #2003
It won't show up in the internal terminal, because that only happens when the exception escapes the app - Python prints the error traceback in that case. But at this point, it's paused at the line where the exception happened, before it escapes.

The other error message is happening because `numpy` uses generated code here with a dummy (non-existing) filename, and that generated code throws an exc

[2019-12-18 21:26] #2003 closed

[2019-12-18 22:43] int19h opened #2004 "Adapter process is not fully detached from parent server"
When `enable_attach()` spawns the adapter, it's just a regular child process. This has some unfortunate consequences.

On Windows, it inherits the console handle, and thus receives Ctrl+C and other console events, and will be terminated if the console is closed. This can be fixed by using `CREATE_NEW_PROCESS_GROUP` and `DETACHED_PROCESS` creation flags.

On Unix, the adapter becomes orphaned, beca

[2019-12-18 22:43] int19h commented on #2004
#1571 is partially caused by this (and partially by VS not detecting that adapter is force-killed - both need to be fixed).

[2019-12-18 22:53] int19h commented on #2001
We didn't fully transition to new-style properties for all the debug options yet. We need to do so.

For some of the properties, the extension or the adapter automatically generate the corresponding option to pass to pydevd, but not all. However, it would be better for pydevd itself to handle these directly in one place.

The required behavior is straightforward: for every debug option named "Foo"

[2019-12-19 07:12] jheffez commented on #1982
Thanks for the info!
I'll wait for the next stable version.

[2019-12-19 07:12] #1982 closed

[2019-12-19 11:30] fabioz commented on #2001
I'll take a look at it.

[2019-12-19 11:39] #1999 closed

[2019-12-19 16:33] ManPython opened #2006 "Debuger not working on VSC Version: 1.41.0 with DJango"
I spent last time research around problem of DJango.. now VSC debuger not working after changed version 1.38.1 to Version: 1.41.0
https://github.com/microsoft/ptvsd/issues/1866

## Environment data
Version: 1.41.0
Commit: 9579eda04fdb3a9bba2750f15193e5fafe16b959
Date: 2019-12-11T18:37:42.077Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 6.1.760

[2019-12-19 21:49] int19h commented on #2006
Can you share your launch.json that is used to start the app?

[2019-12-20 03:32] amandalishus commented on #1998
Aha! Soon I shall know *all* the secret settings for PTVSD logging! Then I
shall rule the WORLD! Muahahaha...ah..ahem. Sorry.

So anyway, yeah, that worked. I've attached the logs. Promise not to pore
over them looking for embarrassing secrets like the name of my user
directory and I promise I won't publish your secret environment variables
anywhere ;)

Let me know if I can help more... Sorry it t

[2019-12-20 03:51] int19h commented on #1998
I don't think GitHub handles file attachments to emails in responses to comments - you might have to add them via the web UI (or just copy/paste straight into the comment).

[2019-12-20 11:35] ManPython commented on #2006
[code]

[2019-12-20 16:33] pjuangph opened #2010 "urllib.request.urlopen cannot open url"
Referencing this bug report https://github.com/microsoft/vscode/issues/87384#issuecomment-567497177

I tried it in visual studio, pycharm, and vs code.
The problem only exists in vscode. I've included a link to the github. you can run main.py in v1.0

[2019-12-20 19:37] int19h commented on #2006
When you run it with logging enabled, do you also get a file named `ptvsd.adapter-*.log`? That one might be more interesting in this case.

Also, given that you're running it in reload mode and with `"subProcess": true`, I would expect there to be more than one server log. Can you clean the log directory before running, and check which files get added after the run?

[2019-12-20 21:49] ManPython commented on #2006
Don't have the `ptvsd.adapter-*.log`
I'm fighting with issue 1982 and 1930. After 3 times the VSC debuger starting but not debug and not runing django

**pydevd.2196** setting other port , '--port', '54253'
[code]

[code]

`"subProcess": false` not helping.

[2019-12-20 22:01] karthiknadig commented on #2006
@int19h We don't get adapter logs when using `PTVSD_LOG_DIR`, sicne `DebugAdapterDescriptor` does not provide a way to set environment.

@ManPython Try this configuration see if it helps, Note that this will use vscode terminal so you should see more stuff there on what might be going on:
[code]
Note if you set `subProcess` to `false`, you also have to add `--noreload` switch to `runserver`. For n

[2019-12-20 22:03] karthiknadig commented on #2006
@ManPython with the above config you should see logs in two places, `C:\logs` and the pyhton extension root directory. Looking at your previous response it is here `E:\Microsoft\.vscode\extensions\ms-python.python-2019.11.50794`

[2019-12-20 22:19] ManPython commented on #2006
@karthiknadig now the 2nd place have logs..

[code]
`"args": ["runserver", "127.0.0.1:8000", "--traceback", "-v", "3"],` not changed the problem

Don't see anything sense in logs, but I'm curios on this..
`"envFile": "e:\\project\\3\\test/.env",` - is this corect /.env ?

[2019-12-20 22:20] ManPython commented on #2006
[test debug.log](https://github.com/microsoft/ptvsd/files/3990494/test.debug.log)

[2019-12-20 22:37] karthiknadig commented on #2006
@ManPython `e:\\project\\3\\test/.env` that is ok. Did you see any error in the terminal? Did the server start, from the logs it looks like it successfully launched the django server. Also, can you change the log dir to `E:\\project\\3\\test`. It could be that debugger does not have permissions to write logs there.

[2019-12-21 02:42] int19h commented on #2006
You should also have `ptvsd.adapter-*.log` show up in the same directory - can you share that?

Also, are you by chance using a virtual environment?

[2019-12-21 10:17] ManPython commented on #2006
@karthiknadig no any logs in terminal, I changed from `internalConsole` to `integratedTerminal` in case that output was empty and no any logs, soo the terminal `manage.py runserver 127.0.0.1:8000 --traceback -v 3`

@int19h there is no any log like `ptvsd.adapter-*.log` just 2: `ptvsd.server-6940` and `pydevd.6940`
I'm not using virtual.

I think that server not runing coretly. First.. the port is

[2019-12-21 15:25] amandalishus commented on #1998
See, I told you that you'd think I was stupid before we were done! Until you said that, I was communicating exclusively by replying to the auto-generated emails. Great system btw, completely transparent... until you try to attach a file ;)

Anyway, let's try this a different way based on what the WebUI tells me... here's the log I tried to send Thursday night:
[ptvsd.adapter-48184.log](https://git

[2019-12-21 22:47] int19h commented on #1998
@karthiknadig, take a look:
[code]
I thought that "none" as a valid value for "console" is something that was removed from the extension several months ago? Certainly way before 2019.11 shipped... so how can that value end up in there?

[2019-12-22 08:40] karthiknadig commented on #1998
It should not be `none`, it should be `intenalConsole`. This is a bug in the extension.
https://github.com/Microsoft/vscode-python/blob/4ba94b945a35fa15192a4d9fbec13bd97ba13bfd/package.json#L1253-L1261

[2019-12-22 08:57] karthiknadig opened #2008 "Module 'ptvsd.common.log' has no attribute 'log_stderr'"
## Environment data

- PTVSD version: master
- OS and version: any
- Python version (& distribution if applicable, e.g. Anaconda): any
- Using VS Code or Visual Studio: any

## Actual behavior

[code]

## Expected  behavior

should not fail.

## Steps to reproduce:
1. Run this command: `py -3.7 C:\GIT\ptvsd\src\ptvsd\adapter --host localhost --port 8765 --log-stderr`
2. Connect using debug server:

[2019-12-23 20:01] #2004 closed

[2019-12-24 07:04] liesauer commented on #1993
i remove all my python versions except the osx built-in python `2.7` and install the latest python `3.7.5` via brew, and this problem seems just gone.

[2019-12-24 07:04] #1993 closed

[2019-12-24 09:25] lanzkron opened #2009 "atexit isn't called when debugging is stopped"
Issue Type: <b>Bug</b>

Create a python file with the following contents:

    import atexit
    import time

    atexit.register(print, "at exit called")
    time.sleep(1000)

Debug the file and then stop debugging during the sleep.
==> At exit isn't called

Extension version: 2019.11.50794
VS Code version: Code 1.41.1 (26076a4de974ead31f97692a0d32f90d735645c0, 2019-12-18T14:58:56.166Z)
OS versio

[2019-12-24 14:19] isidorn opened #2011 "Debug hover: shows empty when hovering over bogus words"
Hi, VS Code dev here :wave:

1. Have a python program and hover over some bogus words - like part of a string
2. Debug hover appears with no content
3. The issue here is that the python debug for `evaluate` of `"This"` returns a successful response. I suggest that for evaluating bogus expressions the python debugger returns a response with `success = false`

In this picture I am hovering over `Thi

[2019-12-24 14:49] isidorn opened #2012 "Debug completions stop working after calling help()"
Hi, VS Code dev here :wave:

1. Start debuggin python hit a breakpoint
2. Open debug console -> notice how you get nice suggestions
3. Enter `help()`
4. You no more get suggestions from the python debug adapter

I guess the python interpreeter is stuck in help() mode and the adapter is no longer being able to get completions items. Is there some workaround for this scenario?

[2019-12-24 23:09] int19h commented on #2009
This is by design - if you do "Stop Debugging" rather than allowing the program to run to completion, it is equivalent to force-killing the process; so atexit handlers, finally blocks etc are not executed. "Stop" is meant to be 100% reliable, ending the session in any circumstances.

[2019-12-24 23:09] #2009 closed

[2019-12-25 03:44] #2001 closed

[2019-12-25 06:47] humit0 opened #2017 "It cannot print 16385 characters in one line at terminal."
## Environment data

- VS Code version: 1.41.1
- Extension version (available under the Extensions sidebar): 2019.11.50794
- OS and version: Windows 10 Education 10.0.18362 Build 18362
- Python version (& distribution if applicable, e.g. Anaconda): Python 3.7.1 32bit
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): N/A

## Expected behaviour

Expect to print 10 'C's at e

[2019-12-25 07:13] lanzkron commented on #2009
Is there a way to exit the process from the debugger similar to pressing Ctrl-C in the CLI? I tried `quit()` from a breakpoint but it didn't terminate the whole process tree.

[2019-12-26 08:55] saltgen opened #2013 "Unable to use the VSCode Debugger"
## Environment data

- PTVSD version: 0.2.0
- OS and version: Manjaro Budgie Juhraya 18.1.4
- Python version (& distribution if applicable, e.g. Anaconda): Python 3.8.0 from venv
- Using VS Code or Visual Studio: VSCode

## Actual behaviour

Trying to use debugger to capture/watch variable values
Error: Unable to find thread for evaluation.

## Expected  behaviour

Once debugger is up an running,

[2019-12-26 10:29] karthiknadig commented on #2013
@saltgen Can you confirm you are using the right extension ? check the version number it should match the screenshot below.
![image](https://user-images.githubusercontent.com/3840081/71472093-978e2e80-2786-11ea-95f7-b665764c060d.png)

In any case the current debugger version is `>=4.3.2` can you check if you are using the right version of the debugger? you can do this by running the following code

[2019-12-26 11:32] fabioz commented on #2012
The issue here is that:

[code]

So, by using `help()` (in the debug console) you'll see the `help()` interactive help session in the actual terminal (and it'll stay in that loop until you exit it and the debugger won't be able to answer in that thread until it exits -- if you go to the terminal and type `q` and `<Enter>`, you'll exit the help prompt and things will go back to normal -- and you ca

[2019-12-26 12:04] huangweihia opened #2016 "vscode运行python项目报错"
[code]

[2019-12-26 12:05] fabioz opened #2014 "When bogus expression is in the WATCH view the value should not be a structured object."
See: https://github.com/microsoft/ptvsd/issues/2011 for more details.

[2019-12-26 12:06] fabioz commented on #2011
I think it's possible that this is this way because returning `success=false` on some cases force-stopped the debugger on Visual Studio (but I think that this should be fixed now), so, returning `success=false` should be ok at this point (but we should double-check with the Visual Studio team).

I created https://github.com/microsoft/ptvsd/issues/2014 to address the issue related to the error as a

[2019-12-26 12:11] fabioz commented on #2014
@isidorn As a note, we do that because we just catch any errors and show a reference to the error.

During evaluation it's hard to know whether the error happened in user code and the exception is from there or not, but I guess we can work on `NameError`, `AttributeError` and `SyntaxError` and show as `str()` for those which are the most common evaluation errors... or we could show a str() for any

[2019-12-26 12:15] fabioz commented on #788
Note: I wasn't able to get paged requests working for named variables (which is the case for locals -- see: https://github.com/microsoft/vscode/issues/87718 for more details).

[2019-12-26 12:15] fabioz commented on #1392
I'm going to close this one in favor of https://github.com/microsoft/ptvsd/issues/788.

[2019-12-26 12:15] #1392 closed

[2019-12-26 12:17] fabioz commented on #788
@karthiknadig do you have the real-world use case for this? (does it happen with named variables or indexed variables?)

[2019-12-26 14:05] fabioz commented on #2010
@pjuangph It seems you have many working directory based references in your code, so, maybe the working directory is not ok?

Also, can you say which is the actual url you're trying to grab? (the exception you have says that the url is not valid)

I've tried it with the code below and it seems it works for me...

[code]

[2019-12-26 14:31] fabioz commented on #1898
I'll take a look at it.

[2019-12-26 14:59] pjuangph commented on #2010
seems to be working for me as well. Maybe it is a problem of my environment. Thanks

[2019-12-26 14:59] #2010 closed

[2019-12-26 19:16] fabioz commented on #2016
@huangweihia what Python version are you using?

From the traceback it seems to be some Python 3 variant, but in this case, it's strange that the `xmlrpc` module is not found (`xmlrpc` is a Python standard library module and not being able to import it hints at some corruption of the standard library in your Python install, so, I'd advise you to reinstall Python to see if it fixes your problem).

[2019-12-27 09:42] isidorn commented on #2012
Thanks for the explanation.
If nobody else from the users is hitting this than I am fine to close this as designed.

[2019-12-27 09:44] isidorn commented on #2011
Ok thanks.

[2019-12-27 11:35] saltgen commented on #2013
Hello @karthiknadig

Thanks for looking into this, should I be printing the debugger version on the Debug Console?

I believe I'm uisng the correct extension, here is output from python pane.

![Selection_001](https://user-images.githubusercontent.com/6542058/71515521-a4676b00-28c9-11ea-8ff6-6e7888e19ee5.png)

User belongs to experiment group 'ShowPlayIcon - start'
User belongs to experiment group

[2019-12-27 12:17] saltgen commented on #2013
This is my bad, I have found the issue.

Please consider adding the live reload feature, for instance after I start the Django debugger I need to reload the local site once more for the debugger to catch the variables, etc.

Thank you for the prompt response though.

[2019-12-27 12:17] #2013 closed

[2019-12-27 14:27] fabioz commented on #2017
I can't reproduce this with the latest master (so, I think this is fixed in `ptvsd 5.x`).

@humit0 can you confirm which `ptvsd` version are you using?

You can create a file with the contents below and run it under the debugger to get the version.

[code]

[2019-12-27 14:29] #2012 closed

[2019-12-27 15:48] humit0 commented on #2017
I change `.vscode\extensions\ms-python.python-2019.11.50794\pythonFiles\ptvsd_launcher.py` file code.
[code]
I can check that `ptvsd` version is '4.3.2'.

[2019-12-27 16:27] fabioz commented on #2017
Thanks for the confirmation. I'm marking as closed as this should be fixed in the current master version already (which is `ptvsd 5.x`).

[2019-12-27 16:27] #2017 closed

[2019-12-27 17:17] fabioz commented on #1990
Closing (seems to be a corrupt Python install).

[2019-12-27 17:17] #1990 closed

[2019-12-27 17:30] fabioz commented on #1981
I tested this in `ptvsd 5.x` and it seems to be working for me.

It'd be nice to have the logs to know what may be wrong here (`log_dir` may be passed to `enable_attach` to get them).

Also, at least on `ptvsd 5.x`, the `pathMappings` are not required on the launch.

[2019-12-27 18:04] fabioz commented on #1790
Closing due to inactivity in the issue.

[2019-12-27 18:04] #1790 closed

[2019-12-27 18:08] fabioz commented on #1699
Is this still an issue in the current version?

[2019-12-27 18:10] fabioz commented on #1645
Closing issue. Please reopen if you have more info.

[2019-12-27 18:10] #1645 closed

[2019-12-27 18:10] fabioz commented on #1643
What exactly needs to be done here?

[2019-12-27 18:12] fabioz commented on #1639
Closing due to inactivity in the bug. Please reopen if you feel this still needs to be addressed.

[2019-12-27 18:12] #1639 closed

[2019-12-27 19:04] karthiknadig commented on #1643
@rchiodo @DonJayamanne I had created this issue to track adding a way to filter variables for DS while debugging. Do you still need this?

[2019-12-29 13:46] dmorris0 opened #2020 "Error running debug on Windows"
I updated VSCode on my Windows computer after not using it for a while, and now I get an error running the debugger:

ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it
![SharedScreenshot](https://user-images.githubusercontent.com/7038009/71557674-3204a100-2a17-11ea-830b-f3b0cf41ce5c.jpg)

What I noticed was if I restarted VSCode, th

[2019-12-31 16:02] BarDistributionMaster opened #2021 "Unable to attach to remote process"
## Environment data

- PTVSD version: 4.3.2
- OS and version:
  - Windows 10 Pro Version 10.0.17134 Build 17134 attaching to
  - Raspberry Pi 3 with raspbian
- Python version (& distribution if applicable, e.g. Anaconda):
  - On Windows 10: Python 3.7.
  - On Raspberry, python 3.8 venv with following pip list:
Package        Version
-------------- ----------
aniso8601      8.0.0
attrs          19.

[2020-01-01 11:46] ReonLion opened #2022 "enable_attach error 'str' object has no attribute 'decode'"
## Environment data

- PTVSD version: 5.0.0a10
- OS and version: win10-Chinese
- Python version (& distribution if applicable, e.g. Anaconda): 3.7
- Using VS Code or Visual Studio: VSCode 1.41.1

## Actual behavior
call enable_attach(address=('127.0.0.1', 5678))
and debug with QGIS
Error: 'str' object has no attribute 'decode'

## Expected  behavior
enable_attach() work fine

## Steps to reproduce

[2020-01-01 11:57] ReonLion commented on #2022
I figure it out! For some reson, when call Python console in QGIS, builtins.unicode and  builtins.bytes are all 'str'.

[2020-01-01 11:57] #2022 closed

[2020-01-02 07:25] int19h commented on #2022
It might be a dup of #1978

[2020-01-03 20:28] #1898 closed

[2020-01-03 20:28] #2014 closed

[2020-01-04 20:33] ManPython commented on #2006
It's still with problem where 127.0.0.1:8000 not working but 127.0.0.1:54382 without correct action (just white site). Looks  issue 1982 and 1930 are solved.
[code]

[2020-01-05 12:09] W-void commented on #1291
when I use np.clip(), there are some wrong :Could not load source '<__array_function__ internals>': Source unavailable. I add "justMyCode": false, but it's not useful

[2020-01-05 15:09] infogrind commented on #1927
I'm having the same issue. It can be reproduced with a test script I've made, available in [this commit](https://github.com/infogrind/nzb-subliminal/commit/1bee9839e2454e274f62ba02224cc29a184cac05). (I've encountered the issue first when debugging my forked version of _nzb-subliminal_, so I created a test script in a branch to simplify reproduction.)

To reproduce, clone infogrind/nzb-subliminal a

[2020-01-06 21:42] RaymonGulati1 opened #2023 "BreakOnSystemExitZero Option Not working"
Script
![image](https://user-images.githubusercontent.com/3315992/71850983-5cdf9c80-308a-11ea-9d11-de52a57df2e5.png)

Logs:

[BreakOnSysExitZero_Not_working.txt](https://github.com/microsoft/ptvsd/files/4027925/BreakOnSysExitZero_Not_working.txt)

[2020-01-06 21:44] RaymonGulati1 commented on #2023
Nevermind. I was doing "exit(0)", whereas I was supposed to do "sys.exit(0)"

[2020-01-06 21:44] #2023 closed

[2020-01-06 21:48] andlo opened #2024 "Debugger soesn't stop at breakpoints - 5.0.0a10"
## Environment data
RaspberryPi3 Raspban Bustner

- PTVSD version: 5.0.0a10
- OS and version: Raspban Bustner - Linux 4.19.75-v7+
- Python version (& distribution if applicable, e.g. Anaconda): Python 3.7.3
- Using VS Code or Visual Studio: Theia IDE

## Actual behavior

If my module uses ptvsd.enable_attach() I can attach frm the IDE. But it never stops at breakpoints.
I did see it work but now i

[2020-01-06 23:53] int19h commented on #2024
Are you doing `wait_for_attach()` after `enable_attach()`? Looking at the logs, it seems like the code is already running while some of the breakpoints are being set, in which case it might have already run past them.

[2020-01-07 11:01] #2011 closed

[2020-01-07 12:12] andlo commented on #2024
I did try both.....
The code is running and enable_attach() is made from one file in one module. The code where brekpoints are are run everytime something happens, but it still misses breakpoints.

[2020-01-07 12:13] fabioz commented on #1773
I just checked here and in the master branch things are working properly (so, in ptvsd 5.x it's working).

[2020-01-07 12:13] #1773 closed

[2020-01-07 14:34] fabioz commented on #1946
I started to take a look at this.

As a note, #2002 is actually a bit different (because in that case the `.pxd` file is actually available, whereas in this case it's not), so, to solve #2002 we should try to resolve the relative filename by looking into entries in `sys.path` (as it'd find the file we would just consider it a library file without any additional handling -- I'll do this as a part o

[2020-01-07 17:30] andlo commented on #2024
Yah it seems that that is a problem - I enable_attach on a wrong place.

I try figure out when to do it.

closing as it isnt a bug.

[2020-01-07 17:30] #2024 closed

[2020-01-07 17:38] calebickler commented on #1706
Any updates? Excited for general release to see if I can use VSCode to debug my Pyramid app.

[2020-01-07 21:52] RaymonGulati1 opened #2026 ""Press any key" prompt appears when using Stop Debugging"
## Environment data

- PTVSD version: 5.*
- OS and version: Windows
- Python version (& distribution if applicable, e.g. Anaconda): CPython 3.7 (64 bit)
- Using VS Code or Visual Studio: Visual Studio

## Actual behavior
Stopping a debugging session results in "Debugging is being stopped..." dialogue (see below).

## Expected  behavior
No dialogue should show up and the ptvsd adapter should termin

[2020-01-07 23:36] andersea opened #2027 "Debugger doesn't stop on uncaught exceptions in third party libraries"
## Environment data

- VS Code version: 1.41.1
- Extension version (available under the Extensions sidebar): 2020.1.57204
- OS and version: Windows 10 Version 1909
- Python version (& distribution if applicable, e.g. Anaconda): 3.7.3 AMD 64
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): venv with poetry
- Relevant/affected Python packages and their versions: N/A
- Jedi

[2020-01-08 00:52] int19h commented on #2026
The problem is that the adapter won't respond to "disconnect" until "terminated" event is sent, and the launcher (which is responsible for sending that) won't send it until the "Press any key..." prompt is reacted to. Basically, the debug session isn't considered fully completed until the user says it is.

The real bug here is that the prompt shows up when using Stop Debugging. The launcher should

[2020-01-08 20:11] karthiknadig commented on #2027
@fabioz Can you look at this one?

[2020-01-08 20:33] fabioz commented on #2027
Sure... I was actually taking a look at uncaught exceptions in third party libraries as a part #1946 (see my comment: https://github.com/microsoft/ptvsd/issues/1946#issuecomment-571611986)... I'll double check to see if this use case is also fixed when I finish #1946.

[2020-01-08 22:24] karthiknadig commented on #1706
@calebickler @rickstaa This is done, the python extension is rolling it out in waves. Currently about 20% of the users get the new debugger that supports multiprocessing.

If you want to try this out here is what you can do:

1. Get the insiders version of the extension from https://pvsc.blob.core.windows.net/extension-builds/ms-python-insiders.vsix .
2. Add this to your settings and reload. (we a

[2020-01-08 22:29] karthiknadig commented on #1706
/cc @fabioz The above instructions might be helpful to you too :). Along with this you can add `"debugAdapterPath": "C:\\git\\ptvsd\\src\\ptvsd\\adapter"` to make the extension use the debug adapter that you are working on.

[2020-01-08 22:46] andersea opened #2029 "Debugger quits when pressing restart on breakpoint (ctrl-shift-f5)"
## Environment data

- VS Code version: 1.41.1
- Extension version (available under the Extensions sidebar): 2020.1.57377-dev
- OS and version: Windows 10 Version 1909
- Python version (& distribution if applicable, e.g. Anaconda): 3.7.3 amd64
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): venv
- Relevant/affected Python packages and their versions: N/A
- Jedi or Langu

[2020-01-08 23:56] gregfergusonvizio opened #2028 "inject_dll_x86.exe being quarantined by virus scanners"
Hi,

Would like to raise the issue that the file inject_dll_x86.exe is being quarantined by virus scanners. According to the available data, this file appears to be reaching out to an IP address in Japan.

https://www.virustotal.com/gui/file/ffcb4aa810425c60fa8be30c6109b35085354dc36dfe959707a9436318b5ac5a/detection

[2020-01-09 09:35] rickstaa commented on #1706
@karthiknadig Thanks a lot for the new debugger it is amazing. Is it also supposed to work with processes spawned by the subprocess module?

[2020-01-09 11:30] fabioz commented on #2028
That's really weird... the source code definitely doesn't have anything which access the net, although it injects a dll into another process though, so, I'm not surprised virus scanners tag it.

As a note, it's built locally by:

https://github.com/microsoft/ptvsd/blob/master/src/ptvsd/_vendored/pydevd/pydevd_attach_to_process/windows/compile_windows.bat

[2020-01-09 11:40] Joy1112 commented on #1291
I also encountered the same problem and '"justMyCode": false' not working for me as well.

[2020-01-09 11:41] Joy1112 commented on #1291
I also encountered the same problem and '"justMyCode": false' not working for me either.

[2020-01-09 12:07] schperplata opened #2034 "Debug restart session does not work"
Issue Type: <b>Bug</b>

With the latest release, debug restart action does not work.
It only stop current debug session.

Very simple to reproduce, run any py file with default python launch configuration and try to restart debug session.

Extension version: 2020.1.57204
VS Code version: Code 1.41.1 (26076a4de974ead31f97692a0d32f90d735645c0, 2019-12-18T14:58:56.166Z)
OS version: Windows_NT x64 10.

[2020-01-09 14:40] wpbrown commented on #1706
@karthiknadig thanks for the update. I've been waiting for this update to debug my scripts that use the [sh library](https://pypi.org/project/sh/) which uses os.fork internally. I just tried out the new debugger (on Ubuntu 19.10, latest insiders code and insiders python extension, experiments opted in).

With no arguments to the subprocess, I'm able to step past the sh forks successfully. However

[2020-01-09 15:34] fabioz commented on #1706
Related to that error, on Python 3 the arguments to subprocess must be `str`, not `bytes` (it seems the debugger is making it fail inside the debugger -- which should be fixed -- but even if it didn't fail in the debugger it would fail later on on subprocess).

i.e.: the code below fails in Python 3.7 due to passing bytes to the subprocess (with or without the debugger).

[code]

[2020-01-09 15:49] fabioz commented on #1706
On a 2nd thought, maybe there's some other function from the `os` module which does accept `bytes` and it should be handled... @wpbrown do you know which `os` function is being called where that error is raised?

You can change the logging call in the method `def patch_args(args):` in file `/home/will/.vscode-insiders/extensions/ms-python.python-2020.1.57652-dev/pythonFiles/lib/python/new_ptvsd/wh

[2020-01-09 16:01] wpbrown commented on #1706
@fabioz Indeed. The sh library is using [os.fork](https://github.com/amoffat/sh/blob/master/sh.py#L1861) and [os.execv](https://github.com/amoffat/sh/blob/master/sh.py#L1960) to launch subprocesses. It doesn't use the subprocess library.
[code]

[2020-01-09 16:11] fabioz commented on #1706
I'll take a look at that (right after I finish the issue I'm currently working on).

[2020-01-09 18:56] karthiknadig opened #2032 "Add symbols for the shipped binaries"
@fabioz looks like we are missing pdb's for the dlls and exes that we ship (in `pydevd_attach_to_process`). can you add them?

[2020-01-09 19:12] fabioz commented on #2032
@karthiknadig I can add it, but I think we should start to think about generating those only for distribution instead of adding them to git (as well as dlls and exes themselves).

Right now I build them locally with `.sh` / `.bat` files (which are under `pydevd_attach_to_process`) -- we could just call them during the build (or I could do a makefile which may be more standard -- the compile step i

[2020-01-09 19:16] karthiknadig commented on #2032
@fabioz We need it now because we are blocking one of our consumers. I agree we should just build this directly. As for the exact way we do that, I will leave that to @int19h to make the decision.

[2020-01-09 19:34] fabioz commented on #2032
Ok, I've just created a pull request adding the pdbs (note that the .exe pdbs have around 5mb each).

[2020-01-09 20:06] #2032 closed

[2020-01-09 21:11] karthiknadig commented on #2028
This should be fixed in v5.0.0a11

[2020-01-09 21:11] #2028 closed

[2020-01-09 23:28] #2008 closed

[2020-01-10 09:25] karthiknadig commented on #2021
Can you run this command in the command window (View > Other Windows > Command Window)?
`DebugAdapterHost.Logging /On /OutputWindow`
![image](https://user-images.githubusercontent.com/3840081/72141525-dfe14b00-3347-11ea-967c-85ec7020ae7d.png)

Then when you debug, it should log messages to Output window ( Debug Adapter Host pane). It should have more detailed error message.

[2020-01-10 09:27] karthiknadig commented on #2034
Likely related #2029

[2020-01-10 10:02] #1946 closed

[2020-01-10 10:02] #2027 closed

[2020-01-10 10:15] fabioz commented on #1946
The part related to ptvsd is now fixed.

The fix is that we now consider that file a part of the library, so, when `justMyCode:true` we won't show that file anymore in the stack. Still, if `justMyCode:true` it's possible that the file is shown, but then it's up to the client to show the proper UI in this case.

[2020-01-10 10:16] fabioz commented on #2002
This is fixed in: https://github.com/microsoft/ptvsd/commit/0149646a4dce3d514b46aff169567c44276e7ca7#diff-cf949ebec807002b5ec7ea7f27421accR375

[2020-01-10 14:31] andersea commented on #2034
Sounds like a duplicate of #2029

[2020-01-10 19:34] schperplata commented on #2034
Exactly as #2029. I don't know why I coun't find yesterday, but I sure searched for.
Sorry for duplicating already reported issue.

[2020-01-10 19:34] #2034 closed

[2020-01-10 21:19] karthiknadig opened #2035 "On windows when path mappings are there attach to process by id fails to set breakpoints"
## Environment data

- PTVSD version: master
- OS and version: windows
- Python version (& distribution if applicable, e.g. Anaconda): 3.7
- Using VS Code or Visual Studio: VS Code

## Actual behavior

Fails to set breakpoints:
[code]

## Expected  behavior

Should set breakpoints.

## Steps to reproduce:
1. Use insiders version of the extension.
2. Opt-into the following experiments, by adding th

[2020-01-10 23:14] Dr-Irv opened #2036 "print no longer provides output in Debug Console"
## Steps to cause the bug to occur
1. Simple python program
[code]
Now in debugger in Visual Studio Code, put a break on the line "print(x+y)".

Then in the debug console, type `print(x)`

There is no output

Even worse, when using pandas, you can't get pretty-printed DataFrame output:
[code]

Put a break on line 4.  Then you get this:
![image](https://user-images.githubusercontent.com/15113894/72

[2020-01-11 09:47] fabioz commented on #2035
@karthiknadig can you include the `pydevd` logs for this?

I believe this is happening because you added a mapping from the workspace folder to the current working dir in the target process and they differ (so, after applying the mapping the breakpoints are added to a file that does not exist... if that's the case, missing breakpoints would be expected).

[2020-01-11 18:39] dvirtz opened #2037 "debugging pytest_subprocess causes a usage error"
## Environment data

- VS Code version: 1.41.1
- Extension version (available under the Extensions sidebar): 2020.1.57204
- OS and version: MacOS Mojave
- Python version (& distribution if applicable, e.g. Anaconda): 3.7.2
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): virtualenv
- Relevant/affected Python packages and their versions: pytest 5.3.2
- Jedi or Language Se

[2020-01-13 17:36] karthiknadig commented on #1643
The requirement here is, basically filter out modules, built_ins, functions, and any variable starting with '_'. It should also be configurable via settings.

[2020-01-13 19:12] int19h commented on #2036
This is by design. We do output redirection by capturing stdout/err of the process, which makes sure that it's *all* output. But redirecting them is an observable change when running in the terminal, hence why it's disabled by default to ensure that the default behavior is as close to running without debugger as possible.

Out of curiosity, is there any reason why you'd prefer having it in Debug C

[2020-01-13 19:17] Dr-Irv commented on #2036
@int19h The main issue for me is being able to see pandas DataFrames and Series in the debug console.  Prior to this last change, the only way to see them properly was to write `print(df)` because just typing `df` gives you a string with newlines inside.  Now, without `"redirectOutput": true`, I type `print(df)` in the debug console, and have to switch to the terminal to see the result.  Then back

[2020-01-13 19:23] int19h commented on #2037
You can disable subprocess debugging with `"subProcess": false` in your launch.json - this should allow the test to run, although it would prevent debugging of any code in the subprocess.

It does add command line arguments to the Python binary - it has to, in order to debug the subprocess. Those arguments shouldn't be visible in `sys.argv`, though, because they're removed before the user code sta

[2020-01-13 19:25] int19h commented on #2036
Ohh, I see! So the fundamental UX issue is that `print()` evaluated in Debug Console outputs to the terminal only, but you expect to see the output in the console?

I think we could handle this separately. Basically do sys.stderr/out level redirection specifically for console evals.

[2020-01-13 19:44] Dr-Irv commented on #2036
I believe so.  And since prior to version 2020.1.57204, that's how it worked, making that happen again would be great.

Alternatively, if the `__repr__` or `__str__` of a python object returns a string with newlines in it, do a multi-line print.  That would be even better, because I could then type `df` in the console instead of `print(df)`

[2020-01-13 19:53] int19h commented on #2036
The issue with multiline repr is a limitation imposed on us by VSCode:
https://github.com/microsoft/vscode/issues/73845
https://github.com/microsoft/ptvsd/issues/1432

To clarify why this changed. In ptvsd 4, output redirection worked on the level of sys.stdout/err. This did not affect things like `isatty()`, but it also didn't capture all output reliably - basically anything that was writing dire

[2020-01-13 20:09] Dr-Irv commented on #2036
microsoft/vscode#73845
#1432

Reading that, it seems like the VSCode authors and the python extension authors have a difference of opinion on who should fix it.  Net result is that anybody using `numpy`, `pandas`, etc. is having a less than optimal experience!

Well, I'm hazarding a guess here, but I would bet there are more people using python with pandas in a "standard" way with respect to print

[2020-01-13 21:26] int19h commented on #1950
We're going to require "env" to be strings to be consistent with OS and Python. However, we'll do better validation on the extension side, so that you get squiggles for non-string values while editing launch.json.

[2020-01-13 21:26] #1950 closed

[2020-01-13 22:39] amandalishus commented on #2036
Same issue as above, but to further muddy the waters, switching back to the Terminal window from the Debug Console window is now kind of flaky. For instance, if you enter the following in the Debug Console:
`for i in range(1, 100): print(i)`
Then switch to the Terminal window so you can actually see what was printed, the scroll bar indicator will reset to the top of the output in Terminal. In the

[2020-01-14 02:07] int19h commented on #1998
Fixed in the extension now.

[2020-01-14 02:07] #1998 closed

[2020-01-14 03:28] karthiknadig commented on #2035
The current working directory was the issue.

[2020-01-14 03:28] #2035 closed

[2020-01-14 09:00] juskuz commented on #1283
@omartin2010  where did you put these lines (which file)?
I'm trying to debug my code in VSC running in Win10 using WSL.

After adding these lines to my model.py file (there train() is called) I get similar error as aerinkim...

`
   File "/usr/lib/python3.6/multiprocessing/popen_spawn_posix.py", line 47, in _launch
    reduction.dump(process_obj, fp)`
`  File "/usr/lib/python3.6/multiprocessing/r

[2020-01-14 11:23] AndyLuckert commented on #2036
As Dr-lrv stated in his [reply](https://github.com/microsoft/ptvsd/issues/2036#issuecomment-573847593), _I'd love to get back the nicely formatted print()-output in the Debug Console._

And even better, as mentioned in his [former reply](https://github.com/microsoft/ptvsd/issues/2036#issuecomment-573836884), **it would be awesome to just pretty-print anything without enclosing it into the built-in

[2020-01-14 11:56] bernatpuig opened #2038 "Unable to attach docker with version 5"
## Environment data
- Python: 3.6.8
- ptvsd: 5.0.0a11
- VScode: 1.41.1
- OS: Darwin x64 18.7.0
- Docker OS: Ubuntu 18.04
- Python VScode extension: 2020.2.58250-dev

## Configuration
- VSCode **settings.json** contains:
[code]
- **launch.json** configuration used.
[code]

- **script.py** to debug.
[code]

## Actual behaviour
I run the `script.py` from within my Docker image and it reaches the `wai

[2020-01-14 12:14] fabioz commented on #2028
Note: discussion in: https://github.com/microsoft/vscode-python/issues/9474

[2020-01-14 13:44] fabioz commented on #1643
@karthiknadig When you mean setting, does this mean that this would be a custom `setDebuggerProperty` that the `VSCode Python` extension would call?

When you say "also", does this mean that it's something as launch configuration + setDebuggerProperty?

Related to how to set it, would it be something as: `filter: ['module', 'builtin', 'function', 'private']`?

[2020-01-14 15:31] fabioz commented on #2016
Closing due to bug inactivity.

[2020-01-14 15:31] #2016 closed

[2020-01-14 15:44] omartin2010 commented on #1283
if I recall (it's been a few months) it in the first file that was started. Perhaps it needs to be where you're spawning your threads... are you running Python 3.6 or 3.7? and a recent version of ptvsd?

[2020-01-14 16:24] fabioz opened #2039 "Passing bytes to os.execv gives error in Python 3.7"
See details in:

https://github.com/microsoft/ptvsd/issues/1706#issuecomment-572590379

[2020-01-14 16:53] int19h commented on #1283
@juskuz, the error that you get is *because* "spawn" has more constraints than "fork" - and, in particular, requires any data shared between the processes to be pickleable.

At this point, I'd recommend trying out the new debugger with support for fork. You can opt into it by adding this to your settings.json:
[code]
then remove `set_start_method()`

[2020-01-14 17:48] karthiknadig commented on #2038
@bernatpuig Can you get us the logs? use `"logToFile": true` in the launch.json. That will generate logs from VSCode side of the connection. the log should be in the python extension root directory.

On the container side, use `ptvsd.enable_attach(address=('0.0.0.0', 5678), log_dir="~/logs")` ensure that the logs directory exists. This should generate logs from the container side of the connection

[2020-01-14 20:44] int19h opened #2040 "Code continues running after Stop Debugging"
In a "launch" session, when it is paused on e.g. a breakpoint, and "disconnect" or "terminate" is used to end the session (corresponding to Stop Debugging in UI), the adapter disconnects from the server before asking the launcher to terminate the debuggee process. Consequently, some code ends up running between the request and process being terminated, possibly even allowing the debuggee to run to

[2020-01-14 21:13] dvirtz commented on #2037
I still see the same error with `"subProcess": false` and it seems that it does read the arguments from `sys.argv`: https://github.com/pytest-dev/pytest/blob/7ff91d81277f92a9fa0910133b61f9eb80a0a8c0/src/_pytest/config/__init__.py#L206

[2020-01-14 21:29] djalan opened #2046 "Failure to start Firefox or Chrome in Selenium script"
Issue Type: <b>Bug</b>

Hello

Please kindly take a look at this issue: https://stackoverflow.com/questions/58455234/running-selenium-from-visual-studio-code-terminal-with-virtualenv

Basically, the code works when I execute it outside of VSCode in my terminal, but the same code cannot be executed from VSCode. It only works in VSCode in headless mode (Firefox window doesn't show up).

Please kindl

[2020-01-14 22:00] int19h commented on #1706
@rickstaa, it is supposed to work for Qt specifically. @fabioz, perhaps there's a regression in the monkey-patching code for PyQt? Or are we not setting pydevd up correctly for that anymore?

In the meantime - and for libraries other than PyQt that start their own threads - you can call `ptvsd.debug_this_thread()` to explicitly tell the debugger about a thread that it doesn't know about.

[2020-01-15 03:54] #2026 closed

[2020-01-15 03:54] #2040 closed

[2020-01-15 06:53] rubenhelsloot opened #2061 "Debug pytest parametrized test"
## Environment data

- VS Code version: 1.41.1
- Extension version (available under the Extensions sidebar): 2020.1.58038
- OS and version: MacOS 10.14.6
- Python version (& distribution if applicable, e.g. Anaconda): 3.7.4
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): pipenv
- Relevant/affected Python packages and their versions: pytest 5.3.2
- Jedi or Language Serve

[2020-01-15 10:37] bernatpuig commented on #2038
Here they go:

## Container side

- **ptvsd.server-9254.log**
[code]

- **ptvsd.adapter-9268.log**
[code]

## VSCode side

- **debugger.vscode_xxx.log**

[code]

[2020-01-15 14:20] juskuz commented on #1283
@omartin2010  Thanks for reply.

Python 3.6.9
ptvsd 5.0.0a11

@int19h, the new debugger is ptvsd == 5.0.0a11?

[2020-01-15 15:17] omartin2010 commented on #1283
It's been too long, I don't recall what I've used. Likely Python 3.6.x.

[2020-01-15 15:23] fabioz commented on #2037
The problem is that `pytest` does something as `python -mpytest`, which was not expected when patching the args (it would only handle something as `python -m pytest`).

I'm working on a fix.

[2020-01-15 15:23] lee-b-sk commented on #945
NOTE: this is important for codebases where each coder uses their own preferred editor, debugging tools, etc. Not just to avoid requiring use of VSCode, but to _allow_ use of VSCode, where other editors / debuggers are normally used.  It's a simple, but important standardised abstraction layer.

[2020-01-15 18:12] karthiknadig commented on #2038
@int19h Shouldn't the ide endpoint be `0.0.0.0`? it looks like we are setting ide endpoint to be 'localhost'?
[code]

[2020-01-15 18:24] fabioz opened #2044 "Session is not initialized yet with remote attach"
**PTVSD version**: current master version (https://github.com/microsoft/ptvsd/commit/80bd2ed93a39f584c0b869971608ac882081725c)

**OS**: Windows 10

@int19h @karthiknadig I was starting to check the issue related to frame eval with gevent (on a remote attach on the same machine) but I'm hitting some issue during the remote attach before that.

The steps with which I can reproduce this locally are:

[2020-01-15 19:31] int19h commented on #1283
@juskuz Any minor release of ptvsd 5 should work, not necessarily a11.

[2020-01-15 19:33] int19h commented on #2038
Yep, it's a regression in the code that creates the IDE listening socket in the adapter. It's ignoring the host.

[2020-01-16 05:00] hiddenslave opened #2047 "locale.Error: unsupported locale setting"
Issue Type: <b>Bug</b>

File "/root/.vscode-server-insiders/extensions/ms-python.python-2020.1.58038/pythonFiles/lib/python/new_ptvsd/no_wheels/ptvsd/launcher/__main__.py", line 78, in <module>
    locale.setlocale(locale.LC_ALL, "")
  File "/usr/lib/python3.6/locale.py", line 598, in setlocale
    return _setlocale(category, locale)
locale.Error: unsupported locale setting

Extension version: 202

[2020-01-16 09:43] juskuz commented on #1283
ok, I added the

to my to settings.json and removed set_start_method().

Now I'm getting 'RuntimeError: already started' again.

and at the end of error messages I get
[code]

I used ptvsd 5.0.0a11, it's the newest available version.

[2020-01-16 11:13] #2037 closed

[2020-01-16 11:15] #2039 closed

[2020-01-16 11:15] fabioz commented on #2039
https://github.com/microsoft/ptvsd/commit/1e3705d5dcce85997270e0c29433793ab773aeb5

[2020-01-16 11:38] fabioz commented on #1283
@juskuz Have you restarted after doing that change to the settings?

Can you double check that you're using the ptvsd 5 version?

-- You can use the code below when running under the debugger to get the version.

[code]

[2020-01-16 16:29] fabioz commented on #2044
It seems that from the logs the messages are sent with the proper seq but are received in the wrong order in this case.

i.e.: from the ptvsd.adapter log the `attach` request with `seq 2` appears before the `initialize` request with `seq 1`:

[code]

[2020-01-16 17:07] fabioz commented on #2044
Another weird thing:

The logs from VSCode (in this case, the attached files debug22832.log and debugger.vscode_24654341-2c5c-431d-a0f2-1594284a04fb.log) appear to have things in the correct order and they even have an initialize response even though we didn't send it in the adapter nor in the server, so, it seems it's something in the extension side.

[2020-01-16 17:10] #2044 closed

[2020-01-16 17:55] fabioz commented on #1641
The actual error reported here seems to be fixed already (I tried in a number of configurations and it seems to work well).

Still, while testing I found a different issue which I'm investigating.

i.e.: Doing a remote attach with a gevent.monkey.patch_all() is not working.

Using the code below:

[code]

gives the following error:

[code]

[2020-01-16 20:39] int19h commented on #2047
It sounds like your container has `LANG` or some of the `LC_*` environment variables set to a specific locale, but that locale isn't actually supported by the OS running inside the container.

If you expect the locale to be set, make sure that it's generated - `sudo locale-gen` should do the trick. If you deliberately removed the locales to save space, you need to ensure that environment variables

[2020-01-16 20:44] karthiknadig commented on #1283
@juskuz You will need the insiders version of the python extension, you can download it here https://pvsc.blob.core.windows.net/extension-builds/ms-python-insiders.vsix.

[2020-01-16 21:01] #2038 closed

[2020-01-17 02:02] Haibao425 opened #2049 "Fatal Python error: PyCOND_WAIT(gil_cond) failed"
## Environment data

- VS Code version: 1.41.1
- Extension version (available under the Extensions sidebar): 2020.1.58038
- OS and version: MacOS: 10.15.2
- Python version (& distribution if applicable, e.g. Anaconda): 3.6.8
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): N/A
- Relevant/affected Python packages and their versions: N/A
- Jedi or Language Server? (i.e. wh

[2020-01-17 04:50] karthiknadig commented on #2038
@bernatpuig Please try again with https://pypi.org/project/ptvsd/5.0.0a12/

[2020-01-17 10:20] bernatpuig commented on #2038
@karthiknadig @int19h I just tried and work as expected! I'm finally able to debug multiprocessing jobs in VSCode. Thank you very much for addressing the problem so quickly!

[2020-01-17 23:26] karthiknadig commented on #207
This can be achieved with `rules` so closing this item.

[2020-01-17 23:26] #207 closed

[2020-01-17 23:36] int19h commented on #525
Same problem for "gevent".

[2020-01-17 23:47] #774 closed

[2020-01-17 23:47] #788 closed

[2020-01-17 23:49] #915 closed

[2020-01-17 23:55] #971 closed

[2020-01-17 23:57] #1028 closed

[2020-01-17 23:59] #1170 closed

[2020-01-18 00:00] karthiknadig commented on #1171
Closing this for now. We need some details on what to do for this feature when we get to it.

[2020-01-18 00:00] #1171 closed

[2020-01-18 00:08] calebickler commented on #1706
hmm, I tried it with my pyramid app, I can debug `main` and see it config its self but if I put a breakpoint I in a view the request just hangs forever and I don't hit it

[2020-01-18 00:13] karthiknadig commented on #1465
The debug console does not works in async context. The best that user can do here is to call the async function with a synchronous wait.

[2020-01-18 00:13] #1465 closed

[2020-01-18 00:17] int19h commented on #1478
Pretty much everything in the refactored adapter is Unicode now, so this isn't much of an issue anymore. It would still be useful to have a wrapper for paths, but we might as well wait until we're 3.x-only, and move onto `pathlib`, instead of rolling our own.

[2020-01-18 00:17] #1478 closed

[2020-01-18 00:21] int19h commented on #1469
We're doing the rewriting in the extension - pydevd is still only accepting "debugStdLib", so far as I can tell (but some error messages reference "justMyCode").

[2020-01-18 00:24] int19h commented on #1375
It doesn't look like we can resolve this within the constraints imposed by Python itself.

[2020-01-18 00:24] #1375 closed

[2020-01-18 00:28] int19h commented on #1571
The fix for #2004 should have fixed this.

[2020-01-18 00:28] #1571 closed

[2020-01-18 00:29] int19h commented on #1579
Does this repro with 5.x?

[2020-01-18 00:30] int19h commented on #1586
We're correctly reporting *not* supporting disassembly, so I don't think this is a ptvsd bug in any case. We can revisit if it causes some specific issue on VS side that needs a workaround.

[2020-01-18 00:30] #1586 closed

[2020-01-18 00:33] int19h commented on #1589
It's a VSCode UX limitation - we can provide a way to fetch the full text of the variable; indeed, we do so already for the VS "raw value" feature. But there's no wiring in the Variable Explorer to make use of that.

[2020-01-18 00:33] #1589 closed

[2020-01-18 00:36] int19h commented on #1643
#1621 is related

[2020-01-18 00:38] int19h commented on #1706
@calebickler Can you please file a separate issue for it, and add debugger logs there?

[2020-01-18 00:40] int19h commented on #425
This is implemented in insider builds now. We have another more generic epic, https://github.com/microsoft/ptvsd/issues/1706, open to track the overall multiproc work - this has the information on how to enable it. We'll use that one to track the release progress (i.e. it will be closed once we ship a stable version with the new bits).

[2020-01-18 00:40] #425 closed

[2020-01-18 00:43] int19h commented on #1770
All the logic in the adapter now uses properties, with a fallback to "debugOptions" for backwards compatibility. The remaining work is to do the same for pydevd.

[2020-01-18 00:46] int19h commented on #1785
The default for it is "." - is there any other character that we want to trigger completions on?

[2020-01-18 00:48] int19h commented on #1834
This is tentatively fixed by 173f9b3a481abd83df8fc4c788b8b5f8c6a6dee8.

[2020-01-18 00:48] #1834 closed

[2020-01-18 00:52] int19h commented on #1850
Not sure we can do anything about it... we just send "runInTerminal" request back to VSCode, and for whatever reason, it decides to open a new one instead of using the one that is already there.

[2020-01-18 00:54] rchiodo commented on #1579
Yes. It also seems to mess up stepping.

[2020-01-18 00:57] rchiodo commented on #1579
![debugstep](https://user-images.githubusercontent.com/19672699/72655611-80d49500-394a-11ea-9806-622a9c3cb64e.gif)

[2020-01-18 01:00] int19h commented on #1905
You can try the new debugger by following the instructions in https://github.com/microsoft/ptvsd/issues/1706#issuecomment-572287267. Please re-open the issue if you can reproduce it with the new bits.

[2020-01-18 01:00] #1905 closed

[2020-01-18 06:16] karthiknadig commented on #2029
This issue is addressed in `ptvsd` version `5.0.0a12`. It should be available in the insiders version of the extension soon.

[2020-01-18 06:16] #2029 closed

[2020-01-19 04:57] Biarys opened #2048 "Print statement doesnt print onto debug console"
## Environment data

- VS Code version: 1.38.1
- Extension version (available under the Extensions sidebar): 2020.1.58038 and 2020.1.0
- OS and version: Windows 10
- Python version (& distribution if applicable, e.g. Anaconda): Anaconda, python 3.7
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): N/A
- Relevant/affected Python packages and their versions: python in gener

[2020-01-20 09:53] int19h commented on #2048
Dupe of #2036

[2020-01-20 09:53] #2048 closed

[2020-01-20 10:30] fabioz commented on #525
As a note, I'm taking a look at `gevent` issues as a part of https://github.com/microsoft/ptvsd/issues/1641, so, I'll take a look at adding that flag to `enable_attach` (I also have to investigate whether the debugger works properly if `enable_attach` is called after `gevent.monkey.patch_all()`).

[2020-01-20 10:31] fabioz commented on #1641
Note: add a `gevent` flag to `enable_attach` (so that we don't need to do: `os.environ["GEVENT_SUPPORT"] = 'True'`).

[2020-01-20 10:32] fabioz commented on #1641
Note: verify if debugging works properly if `enable_attach` is called after `gevent.monkey.patch_all()`.

[2020-01-20 22:17] brettcannon commented on #1785
🤷‍♂️

[2020-01-21 05:36] int19h commented on #1785
@luabud, are there any specific requests to change the current behavior? If we only want the dot to serve as a completion char, we don't need to do anything.

[2020-01-21 15:32] tjrileywisc commented on #2036
I can't get the 'redirectOutput' argument to work when debugging unit tests with the test runner, only with launch.json debug configurations.

[2020-01-21 16:09] OutOfFocus4 commented on #1905
I followed the instructions in the comment. When I try to restart the debugger, using either the debug toolbar buttons or a keyboard shortcut, the debugger just stops entirely.

[2020-01-21 17:20] luabud commented on #1785
I think "." is fine. Anything other than that could be annoying.

[2020-01-21 18:18] #1785 closed

[2020-01-21 18:24] fabioz commented on #1641
I've investigated more on `gevent` support for having flags instead of using the environment variable and I'm not sure it's worth it...

Just for some background on how things work in the event and the workarounds in the debugger:

`gevent` has a feature which monkey-patches many bits of the standard library (i.e.: `threading`, `socket`, `time`, etc.) and it does that in a very intrusive way (for

[2020-01-21 18:41] fabioz commented on #2049
@Haibao425 do you have something special in your code? (can you share it?)

The place where it seems to crash is inside an `os.lstat(path)` call (on both stack traces -- which hints it's some issue in Python itself -- my guess right now is that it's in the particular build you're using).

Can you check with a different Python build to see if you get the same error?

[2020-01-21 18:46] karthiknadig commented on #2036
@tjrileywisc you can add a test configuration to the launch.json. Then when you debug using the test explorer it will use that configuration.
[code]

[2020-01-21 18:53] karthiknadig commented on #1905
@OutOfFocus4 you need to reload VSCode for the extension to pickup the new settings. Once it is reloaded check to see if the Python output logs show that you are in the two experiment groups (`DebugAdapterFactory - experiment`, `PtvsdWheels37 - experiment`):
![image](https://user-images.githubusercontent.com/3840081/72833594-fa66ce80-3c3b-11ea-92d8-4af439442b08.png)

[2020-01-21 20:38] benjamin-weller opened #2050 "Live Share Debug not Functional"
I'm unable to start a new debug session from the client or server when using live share.

I'm trying to do live share between a mac and a windows PC (although I don't think this should matter, live share isn't platform dependent from what I can tell).

Stack trace:
[code]

[2020-01-21 21:04] int19h commented on #1928
@xiaofeng0123, can you please try this on the most recent version of VSCode and Python extension?

[2020-01-21 21:13] int19h commented on #1948
Please use the instructions in https://github.com/microsoft/ptvsd/issues/1706#issuecomment-572287267 to try this on the new debugger, and re-open if it still reproduces.

[2020-01-21 21:13] #1948 closed

[2020-01-21 21:13] int19h commented on #1969
Please follow the instructions in https://github.com/microsoft/ptvsd/issues/1706#issuecomment-572287267 to try the new debugger!

[2020-01-21 21:13] #1969 closed

[2020-01-21 21:15] int19h commented on #1981
Presumed fixed in ptvsd 5.

[2020-01-21 21:15] #1981 closed

[2020-01-21 21:23] int19h commented on #1979
Did you get better luck with ptvsd 5?

[2020-01-21 21:25] int19h commented on #2020
Please try this with the new debugger: https://github.com/microsoft/ptvsd/issues/1706#issuecomment-572287267

[2020-01-21 21:25] #2020 closed

[2020-01-21 21:27] int19h commented on #2021
The error message indicates that something goes wrong on the PTVS side of things.

[2020-01-21 21:30] #2047 closed

[2020-01-21 21:41] int19h commented on #2050
We need some details about the debug session to diagnose this properly. If you set `"logToFile": true` in your launch.json, it'll produce a bunch of log files (`ptvsd*.log` and `pydevd*.log`) in the extension folder - could you please share those?

[2020-01-21 22:41] int19h commented on #1879
@ManPython It sounds like the original issue - leftover debugger instances - has been resolved. Can you please file separate issues for any unrelated problems?

Make sure that you're using the most recent version of the debugger: https://github.com/microsoft/ptvsd/issues/1706#issuecomment-572287267

[2020-01-21 22:41] #1879 closed

[2020-01-21 22:43] int19h commented on #2006
Does it still repro with the most recent debugger version (https://github.com/microsoft/ptvsd/issues/1706#issuecomment-572287267)?

If it's still missing the adapter log, can you share `ptvsd.server*.log` from the updated version?

[2020-01-22 06:24] #1776 closed

[2020-01-22 06:39] Haibao425 commented on #2049
import re
import math
import numpy as np
import sys
from enum import Enum
from sys import exc_info
import numpy

class Base:
  def __init__(self):
    pass

  def __init__(self, name):
    print("init Base")
    self.__name = name

  def PrintName(self):
    print("Parent Class")
    print(self.__name)

class Child(Base):
  def __init__(self, name, age):
    print("init Child")
    self.__age = ag

[2020-01-22 06:43] Haibao425 commented on #2049
I pasted my code already, please try it, I met the issue every time, I could execute the code after I cleared the terminal window couple times later, but I do not think it is related with terminal window, I'd rather believe that GIL was not released correctly in time after I had run the code.

[2020-01-22 07:47] zhouwangyang opened #2053 "Unable to execute command in command prompt for remote debugger."
""Describe this issue**
This issue appears in all three versions of ptvsd installed using the following three methods:
pip ptvsd==3.2.1 for legacy debugger
pip install ptvsd and pip install ptvsd==5.0.0a11 for debug debugger

*Legacy debugger is a failure caused after the debugger fails. If you run legacy debugger first, it will work

**Steps to Reproduce**
1.Create python application named Testin

[2020-01-22 09:32] linette-zyy opened #2052 "An error display in output window when debug with "Windows Application" option checked."
**Steps to Reproduce**
1. Create Python Application project and type code
2. Right-click on the project and select Properties or press Alt+Enter to open Property page
3. Turn on the option "Windows Application" and change interpreter to Python2.7 in General tab and save
4. Start the debugger

**Expected behavior**
The code runs and can be debugged, and no terminal/console window appears.
![image](

[2020-01-22 10:21] beeb opened #2051 "Dict keys order is altered in debug sessions even with Python 3.7+"
It seems to be the same as https://github.com/microsoft/vscode-python/issues/3236

## Environment data

- VS Code version: 1.41.1
- Extension version (available under the Extensions sidebar): 2020.1.58038
- OS and version: Windows 10 + macOS Catalina
- Python version (& distribution if applicable, e.g. Anaconda): Anaconda 3.7.6
- Type of virtual environment used (N/A | venv | virtualenv | conda |

[2020-01-22 13:59] fabioz commented on #2049
I think I found the culprit... I'll start to work on a fix.

[2020-01-22 14:30] OutOfFocus4 commented on #1905
Here is the Python output:
[code]

And this is the output when I launch a Django project (I have removed personal information):
[code]

It launches fine, but when I try to restart it, it stops.

[2020-01-22 16:26] keckelt commented on #1979
Sorry there were a few other things coming up after the holidays and I didn't have time to test it yet.
Will give it another shot on Friday.

[2020-01-22 20:33] karthiknadig commented on #2051
This is a dupe of #998

[2020-01-22 20:33] #2051 closed

[2020-01-22 21:18] luabud commented on #1432
Upstream  issue: https://github.com/microsoft/vscode/issues/89114

[2020-01-22 23:49] int19h commented on #2052
@huguesv, this is ptvsd 3, judging by `ptvsd/debugger.py` and `do_wait()`.

The root cause is that `WaitOnNormalExit` / `WaitOnAbnormalExit` are incompatible with using pythonw.exe, because there's no stdin/err to wait on. This has always been the case, so I'm not sure why exactly this is only surfacing now - did something change wrt passing those flags to the debugger on PTVS side recently?

[2020-01-22 23:54] huguesv commented on #2052
Oh that's why I got a different result. I tried with ptvsd 4.x on Python 3.7 and it was broken in a different way.
[code]

Output window:
[code]

[2020-01-22 23:58] int19h commented on #2052
Can you get the adapter and launcher logs via `PTVSD_LOG_DIR`?

[2020-01-23 00:00] huguesv commented on #2052
[ptvsd.server-12712.log](https://github.com/microsoft/ptvsd/files/4100656/ptvsd.server-12712.log)

[2020-01-23 00:05] huguesv commented on #2052
[ptvsd.launcher-1956.log](https://github.com/microsoft/ptvsd/files/4100678/ptvsd.launcher-1956.log)
[ptvsd.server-21912.log](https://github.com/microsoft/ptvsd/files/4100679/ptvsd.server-21912.log)
[ptvsd.adapter-8608.log](https://github.com/microsoft/ptvsd/files/4100680/ptvsd.adapter-8608.log)

[2020-01-23 00:07] int19h commented on #2052
Ah, so the key part here is that it must have `"redirectOutput": true`. Since we redirect on the level of stdin/out now, the launcher basically does passthrough on the debuggee's stdin/out - but if it's running under pythonw.exe, then it doesn't have anywhere to pass it to.

So the fix will be for it to check that, and to only generate "output" events in this case.

[2020-01-23 00:46] int19h commented on #2053
The adapter is supposed to exit as soon as all debuggees exit. It's a bug if it does not.

[2020-01-23 06:15] beeb commented on #2051
Wow, since the 9 november 2018? Any idea why this is taking so long?

[2020-01-23 07:50] karthiknadig commented on #2051
@beeb it wasn't prioritized. Please up-vote the issue, since we take that into account while prioritizing.

[2020-01-23 10:40] KraxelHuber commented on #2036
I can confirm this bug.

And I totally agree, pretty-printing without using the 'print()' function within the debug console would be a very nice feature.

[2020-01-23 13:20] kondratyev-nv opened #2054 "Using gevent in conftest breaks debugging"
## Environment data

Version: 1.41.1
Commit: 26076a4de974ead31f97692a0d32f90d735645c0
Date: 2019-12-18T15:04:31.999Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Linux x64 5.4.0-9-generic snap

- VS Code version: 1.41.1
- Extension version (available under the Extensions sidebar): 2020.1.58038
- OS and version: Ubuntu 20.04
- Python version (& distribution if

[2020-01-23 13:34] lrstry commented on #545
I'm also running into the issue that ptvsd.wait_for_attach() is blocking. Even using version v5.0.0a12 doesn't fix the issue. I still have to attach a debugger so the main thread can continue.

[2020-01-23 17:34] karthiknadig commented on #545
@lrstry `ptvsd.wait_for_attach()` is expected to block. It should be used only when you want to block execution till a debugger is attached. If you want to enable debugging in a non blocking manner, just use `ptvsd.enable_attach`. That should not block execution, and you should be able to attach to the running process.

[2020-01-23 21:06] huguesv opened #2055 "Conda activation problem on ptvsd 5.x"
**Describe the bug**
Conda activation doesn't work with ptvsd 5.x (but works when debugging with 3.x or when launching without debugging). This is using VS 2019 dogfood build 16.5 Preview 3.

**Steps to Reproduce**
Easiest way to demonstrate is to check if numpy loads successfully in a conda env.

1. Create a new python app
2. Create a conda environment and install `python=3.7 numpy`
3. Debug (F5)

[2020-01-23 21:36] calebickler opened #2056 "Debugging WSGI app hangs"
## Environment data

- PTVSD version: ms-python.python-2020.1.58038/pythonF
- OS and version: macOS Mojave 10.14.6
- Python version (& distribution if applicable, e.g. Anaconda): Python 3.7.4 64-bit inside virtual environment made by tox
- Using VS Code or Visual Studio: VS Code

## Actual behavior

When making web request to debugging pyramid app request hangs and does not hit breakpoint added.

[2020-01-23 21:36] calebickler commented on #1706
https://github.com/microsoft/ptvsd/issues/2056

[2020-01-23 21:55] int19h commented on #2055
Yeah, it does treat environment variable names as case-sensitive (which they are on Unix), so "Path" and "PATH" end up separate. We should do case normalization for "env" keys in the adapter on Windows.

Is there any particular reason why it's "Path", by the way? The canonical name is uppercase. If we control the code that creates that var, this should probably be fixed. Or does it come from the c

[2020-01-23 21:58] int19h commented on #2056
Can you please enable debugger logs via `"logToFile": true` in your launch.json, and then share the logs (`ptvsd*.log` and `pydevd*.log`) that it will produce in the directory where the extension is installed?

[2020-01-23 22:19] huguesv commented on #2055
It comes back as "PATH" from the conda activation script in Python.
It comes back as "Path" when calling `System.Environment.GetEnvironmentVariables()` in C#.
Eventually we merge them using a case-insensitive dictionary and we end up with "Path".

[2020-01-23 22:49] calebickler commented on #2056
[ptvsd.adapter-67282.log](https://github.com/microsoft/ptvsd/files/4105953/ptvsd.adapter-67282.log)
[ptvsd.launcher-67287.log](https://github.com/microsoft/ptvsd/files/4105955/ptvsd.launcher-67287.log)
[ptvsd.server-67291.log](https://github.com/microsoft/ptvsd/files/4105956/ptvsd.server-67291.log)

[2020-01-23 23:12] int19h commented on #2056
This is interesting. So it did hit the breakpoint, but the stack trace has no frames in it:
[code]
Can you try running this with `"justMyCode": false` and see if that makes any difference for you? I wonder if we somehow end up treating your code as stdlib.

[2020-01-23 23:34] calebickler commented on #2056
No luck, still doesn't hit the breakpoint

[2020-01-23 23:58] int19h commented on #2056
Can you add `import traceback; traceback.print_stack()` at the point where you have the breakpoint, and share the output? We need to figure out why the frames aren't being reported...

Also, what happens if you double-click on MainThread in the thread list? Does the debug toolbar change?

[2020-01-24 00:10] calebickler commented on #2056
Here is the traceback
[code]

If I double click on MainThread then the debug bar allows me to step over, step in, etc but the code is not highlighted at the breakpoint and if I step at all its just goes back to handing with nothing paused on breakpoint in the callstack window

[2020-01-24 00:17] int19h commented on #2056
Ah, gevent is involved! This is likely a dupe of #1979. You're already using the new debugger, so all you need is to make sure that gevent debugging is enabled - `"gevent": true` in your launch.json should do the trick, since you're not attaching to an existing process. Does that fix it?

[2020-01-24 00:21] calebickler commented on #2056
fixed it!

[2020-01-24 00:21] calebickler commented on #2056
hmm, did I miss something that told me to use that?

[2020-01-24 00:38] int19h commented on #2056
It's briefly mentioned in https://code.visualstudio.com/docs/python/debugging#_gevent, but it's not easy to find if you don't know what exactly you're looking for.

@fabioz, is there any way we could provide improved diagnostics for these kinds of issues? I don't think we can check for gevent upfront, since it might not be imported. But maybe check for it at the points we know to be affected, like

[2020-01-24 04:34] leej35 commented on #1706
For novice people: (1) Install VSCode Insider version (2) Following this link to install the downloaded *.vsix file (extension) into the VSCode Insider https://github.com/eamodio/vscode-gitlens/wiki/Installing-Prereleases-(vsix)

[2020-01-24 11:09] fabioz opened #2057 "Notify user about gevent before halting debugger"
This means that if `gevent.monkey` is being used we should let the user know that the debugger may halt and ask him to use the `gevent` setting.

[2020-01-24 11:09] fabioz commented on #2056
@int19h I think it should be possible to let the user know that if `gevent.monkey` is being used the `gevent` flag is needed (before halting the debugger).

I've created https://github.com/microsoft/ptvsd/issues/2057 to address this.

[2020-01-24 11:09] #2056 closed

[2020-01-24 11:16] fabioz commented on #2054
@kondratyev-nv have you used the `gevent` flag?

See: https://code.visualstudio.com/docs/python/debugging#_gevent

[2020-01-24 12:00] kondratyev-nv commented on #2054
Well, I'm trying to debug tests via Test Explorer, so launch.json should not be required. This is why I'm not sure if this is an issue with the ptvsd or the Python Extension. I've also tried to set the environment variables in .env file
[code]
I also tried to add debug configuration to debug tests
[code]
I'm having the same issue but in the other form
[code]

[2020-01-24 12:14] fabioz commented on #2054
I see the issue now... This is only supported in ptvsd 5.x.

See: https://github.com/microsoft/ptvsd/issues/1706#issuecomment-572287267 on how to opt into using the new version.

[2020-01-24 12:25] kondratyev-nv commented on #2054
@fabioz Awesome, it works! Will it be included in the next Python Extension version?

[2020-01-24 13:46] fabioz commented on #2054
I'm not sure about the release on the Python Extension... @karthiknadig, do you have more info?

[2020-01-24 15:11] benjamin-weller commented on #2050
[ptvsd.adapter-1469.log](https://github.com/microsoft/ptvsd/files/4109114/ptvsd.adapter-1469.log)
[ptvsd.adapter-1514.log](https://github.com/microsoft/ptvsd/files/4109115/ptvsd.adapter-1514.log)
[ptvsd.launcher-1477.log](https://github.com/microsoft/ptvsd/files/4109116/ptvsd.launcher-1477.log)
[ptvsd.launcher-1520.log](https://github.com/microsoft/ptvsd/files/4109117/ptvsd.launcher-1520.log)
[ptv

[2020-01-24 15:57] keckelt commented on #1979
I've updated my Code Insider to this version:
[code]

Also the VS Code Server for WSL:
[code]

And the Python extension:
[code]

I also installed the most recent ptvsd release [v5.0.0a12](https://github.com/microsoft/ptvsd/releases/tag/v5.0.0a12).

My config still looks like this:
[code]

Additionally i've set an environment variable with docker compose:
[code]

---

Then i couldn't attach to the

[2020-01-24 20:28] int19h commented on #1979
For debug logs from the container, set `PTVSD_LOG_DIR` environment variable - this should produce a bunch of `ptvsd.*.log` files in the directory specified.

To get around the need to use "debugServer", install the Insiders build for the extension:
https://github.com/microsoft/ptvsd/issues/1706#issuecomment-572287267

but that will most likely get you to the error about the thread...

@fabioz, it

[2020-01-25 06:55] mrolle45 opened #2058 "repr () sometimes not being called to display a namedtuple value."
## Environment data

- PTVSD version: Don't know.
- OS and version: Windows 10
- Python version (& distribution if applicable, e.g. Anaconda): 3.7
- Using VS Code or Visual Studio: Visual Studio

## Actual behavior

I define a subclass of namedtuple:

	class FieldCurrInfo (namedtuple ('FieldCurrInfo', 'key, val, cells', defaults = [None, None, ()])):
		def add (self, val, cell):
			return self._re

[2020-01-25 07:14] mrolle45 commented on #2058
As a clue to this behavior, the display misbehaves if curr.cells is either a tuple or a list.  If I have an object such as FieldCurrInfo (cell.key, 1, 3), it displays correctly.

[2020-01-25 07:14] #2058 closed

[2020-01-26 13:33] ace-han opened #2059 "Debug breakpoint failure on django Python 3.8.x (works <3.8)"
## Environment data

- VS Code version: 1.41.1
- Extension version (available under the Extensions sidebar): 2020.1.58038
- OS and version: macOS Mojave 10.14.6
- Python version (& distribution if applicable, e.g. Anaconda): 3.8.1
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): poetry
- Relevant/affected Python packages and their versions: django
- Jedi or Language Serv

[2020-01-26 21:48] int19h commented on #2059
Could you also share your launch.json, and the output of `import ptvsd; print(ptvsd.__version__)` in your script?

[2020-01-27 02:23] #1811 closed

[2020-01-27 06:22] djalan commented on #2046
Hello! Would you like me to perform further tests?

[2020-01-27 09:51] milnick opened #2060 "Debug with specific script exec doesn't work since 2019.11.49689"
Hi,
I need to debug Python script using Spark Python interpreter.

My debug configuration contains following settings:
[code]
It was working well. It doesn't work from version ms-python.python-2019.11.49689.

**Symptoms:**
It's hangs few seconds and stop without opening Python Debug Console terminal.

**Found-outs:**

1. If I switch pythonPath to python default installation path - It works OK.

2.

[2020-01-27 12:00] ace-han commented on #2059
@int19h I am using virtualenv so I got no direct `import ptvsd;`

However, I do `locate ptvsd` and got `new_ptvsd` and `old_ptvsd`

`new_ptvsd`
[code]

`old_ptvsd`
[code]

Is this helping?

[2020-01-27 12:02] ace-han commented on #2059
Below is my `launch.json`

[code]

[2020-01-27 12:04] ace-han commented on #2059
`extensions.json`
[code]

`settings.json`
[code]

[2020-01-27 19:22] int19h commented on #2059
You don't need the ptvsd package installed - if you run your app with F5, it will get loaded as a module anyway, and then you can import it. What I'm trying to determine is which of those two ptvsd versions that you  have found is the one actually in use.

[2020-01-27 20:30] karthiknadig commented on #2046
@djalan Sorry for the delayed response. Would it be possible for you to create a minimal repro and share it with us? If the application is failing only when run in terminal in VS Code, but external terminal is fine, I am wondering if there is some interference going on.

One thing you can try, can you change the "console" in `launch.json` to `externalTerminal`? Let me know if that helps.

[2020-01-27 22:45] brando90 opened #2062 "Debugger stopped working and throws some multithreaded/multiprocess error"
## Environment data

- VS Code version: Version: 1.41.1
- Extension version (available under the Extensions sidebar): 2020.1.58038
- OS and version: macOS Catalina 10.15.2
- Python version (& distribution if applicable, e.g. Anaconda): python 3.7.6 64-bit ('base':conda)
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): conda
- Relevant/affected Python packages and their v

[2020-01-27 23:07] int19h commented on #2046
It sounds like the issue shows up even if you manually do this in the terminal. The Python extension doesn't interfere with that - the terminal is core VSCode functionality.

That said, I can't think of any reason why it would be different in the VSCode terminal, since it's just another terminal emulator, and all it does is spawn a shell inside. So it should behave the same as the system terminal

[2020-01-27 23:21] int19h commented on #2050
It looks like the client is sending a "modules" request with no "arguments" in it, because it doesn't want to pass any; but pydevd schema requires it. Not sure why this is affected by Live Share in any way - I'd expect it to manifest in any session. Either way, a simple fix. @fabioz, can you please update the schema?

[2020-01-27 23:28] int19h commented on #2054
Yep, we are shipping the new debugger with the extension. The reason why you need insiders for this right now is because that one has the ability to opt into using the new debugger all the time; but the next stable release of the extension will have that also.

[2020-01-27 23:28] #2054 closed

[2020-01-28 01:16] mcauto commented on #1706
@leej35

Thank you! It's good manual.

but wsl2's code cli doesn't have `--install-extension`.

could you help me?

![image](https://user-images.githubusercontent.com/15080806/73227255-4bd00a00-41b6-11ea-9b88-e213446dbb04.png)

[2020-01-28 02:27] ace-han commented on #2059
@int19h  Following your instructions, I got below output

[code]

[2020-01-28 02:50] int19h commented on #2059
Thank you! Can you try following the instructions [here](https://github.com/microsoft/ptvsd/issues/1706#issuecomment-572287267) to switch to the new major version of the debugger (that is currently in pre-release), and see if that helps?

[2020-01-28 06:45] ace-han commented on #2059
@int19h Tested. It's working.

![image](https://user-images.githubusercontent.com/1177332/73241333-af6d2e00-41dc-11ea-9274-f1b318337f63.png)

So how to update the `debugger` to `new_ptvsd` in general VSCode?

[2020-01-28 09:00] keckelt commented on #1979
I installed the linked vsix, and the python extension now says `Version: 2020.2.60336-dev`.
I also added the two entries to my settings.json.

I'm not sure why but it also shows: `"python.insidersChannel": "off"`  -  should I reset that to daily again?

---

I still have the same error now -  one thing i notices though:
When the debugger halts at the breakpoint the mainthread and dummy threads are

[2020-01-28 14:15] fabioz commented on #2050
I'll take a look at it.

[2020-01-28 14:36] fabioz commented on #2050
@int19h I updated the `debugProtocol.json` to the latest version, but it seems that this is really a bug in the client (i.e.: `arguments` is a required argument for the `modules` request: https://github.com/Microsoft/debug-adapter-protocol/blob/gh-pages/debugAdapterProtocol.json#L1962 -- do you know if this is sent by `vscode` or `vscode-python`?).

Still, I think an invalid message shouldn't brea

[2020-01-28 18:10] int19h commented on #2059
Thank you! Good to confirm that this is properly fixed in the new debugger.

The next stable version of the Python extension will have the same switch to opt-in.

[2020-01-28 18:10] #2059 closed

[2020-01-28 18:28] int19h commented on #2050
It's sent by VSCode itself.

I'm pretty sure it's actually a bug in the spec, because in all other requests, if all members of "arguments" are optional, then it can be omitted as a whole (e.g. "threads" works like that). And all properties are optional in the definition of `ModulesArguments`. They probably just copy-pasted the definition from something else, and forgot to remove "arguments" from t

[2020-01-28 18:31] int19h commented on #1979
There is another known issue with gevent support that might be affecting you here. We're working on a fix for that - I'll let you know once we have a version with it in.

[2020-01-28 18:50] fabioz commented on #2050
I agree it seems like it should be optional, but if that's the case then the spec should be fixed (although the last time I reported something like that they said that `making a mandatory element optional would be a breaking DAP change`: https://github.com/microsoft/vscode/issues/48680, so, I think it'll be fixed in VSCode and not in the spec -- as a note, I'll make a fix in the debugger to accept

[2020-01-28 19:09] #2049 closed

[2020-01-28 21:52] brando90 commented on #2062
Why is it that having the most recent version of the python vs code extension not automatically activate all the most up to date features?

[2020-01-28 21:53] brando90 commented on #2062
those instructions are confusing. How do actually install that extension? It's downloading me a file?! can't I use the extension panel inside vs code?

[2020-01-28 21:57] brando90 commented on #1706
I don't understand how to actually execute these instructions. After I download the file what do I do?

[2020-01-28 22:01] brando90 commented on #1706
Is there no way to get the debugger that works just using the extensions downloader inside vs code? I don't know how else to install extensions otherwise.

[2020-01-28 22:10] karthiknadig commented on #2062
We roll out features in waves. The new debugger is available to 20% of the users. We added to ability to Opt-into new features this month. To use the new debugger you have to opt into the experiments in the referenced comment. You need the insiders version of the python extension which is the VSIX file  that you download. You can install that file in  VS Code using Extension > `Install from VSIX`

[2020-01-28 22:12] karthiknadig commented on #1706
For anyone else looking here. After you download the VSIX file, you can use `Install from VSIX` option in VS Code, in the extension tab.
![image](https://user-images.githubusercontent.com/3840081/73309953-218f4400-41d8-11ea-9741-447df0f684c8.png)

[2020-01-28 23:06] D-Roberts opened #2063 "Issue starting debugger for Python and/or mixed debugging with conda"
## Environment data

- VS Code version: 1.41.1
- Extension version (available under the Extensions sidebar): 2020.1.58038
- OS and version: macOS Catalina 10.15.2
- Python version (& distribution if applicable, e.g. Anaconda): Anaconda Python 3.6.8
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): conda
- Relevant/affected Python packages and their versions: not specific

[2020-01-28 23:32] D-Roberts opened #2064 "Two processes started by Python debugger (usecase mixed Python/C++ debugging)"
## Environment data

- VS Code version: 1.41.1
- Extension version (available under the Extensions sidebar): 2020.1.58038
- OS and version: macOS Catalina 10.15.2
- Python version (& distribution if applicable, e.g. Anaconda): Anaconda Python 3.6.8
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): conda
- Relevant/affected Python packages and their versions: NA
- Jedi or

[2020-01-29 01:11] int19h commented on #2055
Fixed.

[2020-01-29 01:11] #2055 closed

[2020-01-29 04:08] leej35 commented on #1706
I don't specifically aware the way to load the extension on wsl2's cli mode. The setting I tried is on GUI interface of VS Code, with remote connection though SSH.

[2020-01-29 04:11] leej35 commented on #1706
Please try to do what I mentioned in https://github.com/microsoft/ptvsd/issues/1706#issuecomment-577987270

[2020-01-29 04:17] #2052 closed

[2020-01-29 09:22] rubenhelsloot commented on #2061
Hi @karthiknadig I think I found the cause. I was able to run your code, no problem, but when I decided to add the `logToFile` line to my setup, it failed. Toggling all values off and on found that `"console": "integratedTerminal"` sends an invalid command to the terminal, which it then cannot process.

[2020-01-29 11:12] #2050 closed

[2020-01-29 15:11] benjamin-weller commented on #2050
Client:
![image](https://user-images.githubusercontent.com/22554871/73368811-3cfd5c00-4277-11ea-9dd5-1b2139050cdd.png)

[2020-01-29 15:20] benjamin-weller commented on #2050
Server:
![image](https://user-images.githubusercontent.com/22554871/73369666-94e89280-4278-11ea-8545-d73a18ec82e5.png)

[2020-01-29 17:01] oji opened #2065 "Debugger hangs when starting"
## Environment data

[code]
- Extension version (available under the Extensions sidebar): `2020.1.58038`
- Python version (& distribution if applicable, e.g. Anaconda): `Anaconda 3.6`
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): `conda`
- Relevant/affected Python packages and their versions: `don't  know`
- Jedi or Language Server? (i.e. what is `"python.jediEnabled"

[2020-01-29 17:10] oji opened #2066 "Restart just stops, doesn't relaunch"
## Environment data

[code]
- Extension version (available under the Extensions sidebar): `2020.1.58038`
- Python version (& distribution if applicable, e.g. Anaconda): `3.6`
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): `conda`
- Relevant/affected Python packages and their versions: `don't know`
- Jedi or Language Server? (i.e. what is `"python.jediEnabled"` set to;

[2020-01-29 17:24] brando90 commented on #1706
is this issue because I downloaded an unstable version of vs code?

I want my vs code to always work without question. I don't want it to distract me from coding. That is the reason I am trying to switch to it but it's not the first bug I encounter with it.

[2020-01-29 19:18] #1979 closed

[2020-01-29 20:06] int19h commented on #2061
It looks like the "runInTerminal" request is formed correctly, but then VSCode doesn't escape the brackets properly. To clarify - with the above log, you're seeing this in the terminal?
[code]
i.e. without the quotes for that last argument?

[2020-01-29 20:08] int19h commented on #1924
It is done.

[2020-01-29 20:08] #1924 closed

[2020-01-29 21:07] rubenhelsloot commented on #2061
Yes exactly, that is what I tried to explain in sections expected and actual behaviour, sorry if that wasn't clear

[2020-01-29 21:51] brando90 commented on #1706
I installed the VSIX extension the way you said and I still get an error:

[code]

[2020-01-29 21:59] int19h commented on #2061
I don't think square brackets are the problem per se. This works as expected for me in Bash:
[code]
However, this is a relative path, so it's only valid for a specific directory. When that command is run in the terminal, what is the current directory for the shell?

[2020-01-29 22:03] int19h commented on #1706
You also need to opt into the experiment by editing your settings.json:
[code]

[2020-01-29 22:05] int19h commented on #2061
Actually nevermind, I see that it includes `"cwd": "/Users/rubenhelsloot/data-warehouse"` in the launch request, so it would override whatever is current in the shell.

Can you confirm that it's the correct path, though? i.e. that the file is at `/Users/rubenhelsloot/data-warehouse/tests/test_foo.py`?

[2020-01-29 23:54] brando90 commented on #1706
I'm getting a new error despite following the above instructions. Err msg:
[code]

[2020-01-29 23:55] brando90 commented on #2062
@karthiknadig

I am getting a new bug despite following the instructions of installing the internal debugger you sent me. Err msg:

[code]

it's at the same line where I try to loop over a pytorch data loader.

[2020-01-29 23:56] int19h commented on #1706
The log indicates that it's still using the old debugger. You might need to restart VSCode after editing settings.json to get it to switch to the new one.

[2020-01-30 02:14] haniamr opened #2067 "Invalid message: Session is not initialized yet"
## Environment data

- PTVSD version: **latest master**
- OS and version: **Windows 10 host + Alpine Linux container**
- Python version (& distribution if applicable, e.g. Anaconda): **3.8.1**
- Using VS Code or Visual Studio: **VS Code**
- VS Code Python extension: **2020.2.60336-dev**

## Actual behavior
At random times, I get the error "_Invalid message: Session is not initialized yet_" when tr

[2020-01-30 07:34] int19h commented on #2067
This looks like it's the old debugAdapter.ts code on the extension side talking - it sends the "attach" request immediately without going through the full DAP initialization sequence.

Can you try a simple local launch for a hello world type app, and see what that gives you in the terminal? If "old_ptvsd" shows up there, we'll know that it's an issue with the opt-in logic.

[2020-01-30 08:32] karthiknadig commented on #2067
Can you share the contents of Output > Python panel? Specifically lines that star with “user belongs to experiment”.

[2020-01-30 10:21] fabioz commented on #2064
Hi @D-Roberts, this is actually correct/expected... one process is launched to be the debug adapter (some debuggers use node.js to do that, but `ptvsd` does it through a python process) and the other one is the python running your own code.

So, the problem I see there is that the select process dialog isn't very helpful because it's doesn't show which one is the debugger process and which one is

[2020-01-30 10:21] #2064 closed

[2020-01-30 10:27] fabioz commented on #2063
This is a duplicate of https://github.com/microsoft/ptvsd/issues/2049 (it's already fixed and will be available in the next release).

As a note, this issue only affects older versions of Python (Python 2.7 up to Python 3.6) -- so, if you can upgrade to use Python 3.7 or Python 3.8 this should work in the `ptvsd` version you already have there.

[2020-01-30 10:28] #2063 closed

[2020-01-30 10:29] fabioz commented on #2049
This is already fixed and will be available in the next release.

As a note, this issue only affects older versions of Python (Python 2.7 up to Python 3.6) -- so, if you can upgrade to use Python 3.7 or Python 3.8 this should work in the ptvsd version you already have there.

[2020-01-30 10:31] fabioz commented on #2065
This is another incarnation of https://github.com/microsoft/ptvsd/issues/2049 (it sometimes make it just halt).

This is already fixed and will be available in the next release.

As a note, this issue only affects older versions of Python (Python 2.7 up to Python 3.6) -- so, if you can upgrade to use Python 3.7 or Python 3.8 this should work in the ptvsd version you already have there.

[2020-01-30 10:31] #2065 closed

[2020-01-30 10:34] fabioz commented on #2062
It's still using the `old_ptvsd`, so, something is missing from the steps (https://github.com/microsoft/ptvsd/issues/1706#issuecomment-572287267) to opt into using the new version.

[2020-01-30 10:42] fabioz commented on #2062
Closing as this is a known issue with the old version of ptvsd.

[2020-01-30 10:42] #2062 closed

[2020-01-30 11:17] fabioz commented on #1967
I think that this is the same thing as https://github.com/microsoft/ptvsd/issues/2049 (Mac + Python 3.6 seem to be the main place where it reproduces -- sometimes it would halt and sometimes it would give that crash -- it should be fixed in https://github.com/microsoft/debugpy/pull/8).

So, I'm going to close this issue -- please reopen if you see it again.

[2020-01-30 11:17] #1967 closed

[2020-01-30 11:24] fabioz commented on #2067
As a note, in my case (in https://github.com/microsoft/ptvsd/issues/2044) I changed the settings to `Python: Insiders Channel` to `daily` and when it got the latest version it worked (@haniamr can you check if you still have the same issue if you use the `daily` channel?)

i.e.: the setting is `"python.insidersChannel": "daily"`

[2020-01-30 13:09] puremourning opened #2068 "Debug Adapter: Compatibility with node 13"
## Environment data

- VS Code version: not using VSCode
- Extension version (available under the Extensions sidebar): 2020.1.58038
- OS and version: Linux, RedHat 7 (also macOS and [others](https://github.com/puremourning/vimspector/issues/105)
- Python version (& distribution if applicable, e.g. Anaconda): n/a
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): n/a
- Rele

[2020-01-30 18:03] foobar8675 commented on #920
I'm seeing this error right now and was wondering if others running iPython are?

[code]

[2020-01-30 18:30] rubenhelsloot commented on #2061
Yes, that's right

[2020-01-30 18:47] D-Roberts commented on #2063
@fabioz Will do, thanks.

[2020-01-30 18:48] D-Roberts commented on #2064
@fabioz This is helpful, thanks.

[2020-01-30 19:51] int19h commented on #2066
If you do `import ptvsd; print(ptvsd.__version__)` in your script, what does it say?

[2020-01-30 20:35] haniamr commented on #2067
@int19h I've tried that and it's using the "new_ptvsd" debugger.
@karthiknadig Here's the output:
[code]
@fabioz I've add the setting and it then installed the new extension, I restarted VS Code and now I'm unable to repro the issue.

It was kind of random so I'm not sure if it's fixed or not, so will keep playing around with it today and close the issue if it no longer repros. Thanks everyone for

[2020-01-30 21:40] brando90 commented on #1706
Is there a way to download that insiders VSIX using wget or command line tools? Trying to download it to a server where I am using VS code with remote development extension.

[2020-01-30 21:41] brando90 commented on #1706
seems:

[code]

works

[2020-01-30 22:33] calebickler commented on #2056
FYI now I can't debug my unit tests, tried having a different configuration for it:
[code]

[2020-01-30 22:50] int19h commented on #2068
@puremourning
Since you're not actually using this with VSCode, you should benefit significantly from the new (`ptvsd>=5`) debugger being self-contained - you should be able to just run the package directly with any supported Python version, and avoid having any dependencies from vscode-python repo.

To use it as a debug adapter, run the `ptvsd.adapter` module. By default, this will use stdin/out

[2020-01-30 23:21] int19h commented on #2056
If the tests also use gevent, that one will need the same flag here.

If it's not related to gevent, can you please file a separate issue?

[2020-01-31 02:44] haniamr commented on #2067
Alright, it seems there's a weird issue in my VS Code instance where it insists on using a particular version of the extension (latest stable) even though I explicitly uninstalled it. Once I do this (possibly every session) and install the insiders, it works fine, so I'll close this issue for now.

[2020-01-31 02:44] #2067 closed

[2020-01-31 07:34] puremourning commented on #2068
Thanks. I’ll try it this weekend. Does this self contained ptvsd adapter use the same launch config as vscode-python? I considered  switching in the past, but as the launch configs are different it would be a breaking change for users.

[2020-01-31 08:16] int19h commented on #2068
For now it can handle the old configs as well, although there are some changes to defaults - e.g. "console" defaults to "integratedTerminal" now, and "subProcess" to true. We'll be deprecating the old stuff going forward though - but that will apply to the VSCode extension also.

The biggest incentive to switch, though, is that "pythonPath" is now just "python" - so you won't have to explain to th

[2020-01-31 08:30] puremourning commented on #2068
:) thanks 🙏

[2020-01-31 11:37] xmha97 opened #2069 "Questions: What are these executable files?"
Hello, What are these executable files?
![image](https://user-images.githubusercontent.com/23485114/73536350-8fa35900-43da-11ea-9487-62134276a95a.png)
Can I delete them?

[2020-01-31 11:41] fabioz commented on #2069
They are helpers to do an attach to pid (they inject a dll that will run code on your target process in order to attach the debugger to it).

You can delete them if you won't use the attach to pid feature.

[2020-01-31 11:41] #2069 closed

[2020-01-31 13:43] oji commented on #2066
I get `5.0.0a11`

[2020-01-31 19:33] int19h commented on #2066
It sounds like it's a dupe of #2029 then - we fixed that one in 5.0.0a12.

[2020-01-31 19:33] #2066 closed

[2020-01-31 19:37] int19h commented on #2068
One more thing. We're in the process of doing a rename of the project, in part to remove the legacy association with VS - instead of `ptvsd` 5.0, it's going to be `debugpy` 1.0. In fact, the package is already on PyPI, and the repo is over at https://github.com/microsoft/debugpy - so if you're moving to the new version, you might as well start with that one. This also means that users can have bot

[2020-01-31 20:14] #2053 closed

[2020-01-31 22:52] puremourning commented on #2068
@int19h - thanks I was able to make debugpy work, though I did have to specify `"python": "python"` (or a specific path), whereas with "vscode-python" this wasn't necessary. (just FYI)

[2020-01-31 22:59] int19h commented on #2068
It should allow it to be omitted, and default to `sys.executable` used to start the adapter in that case. Can you file a separate bug on that not working correctly?

[2020-01-31 23:01] karthiknadig commented on #2068
@puremourning with the python extension, it adds `"pythonPath" : "${config:pythonPath}"` by default. So you don't need to put that in the launch configuration.

An advantage of using "python", is that you can pass interpreter arguments to it as well. So these are all valid:
* `"pyhton" :"python"`
* `"pyhton": ["python"]`
* `"python": ["python", "-B"]

[2020-01-31 23:08] puremourning opened #2070 "debugpy: "python" key is required in "launch" request"
## Environment data

- PTVSD version:

[code]

- OS and version: macOS Catalina
- Python version (& distribution if applicable, e.g. Anaconda):

[code]

- Using VS Code or Visual Studio: vimspector

## Actual behavior

When launching the debugee, the following exception is raised, when the launch configuration does not specify `"python"` key;

[code]

Here's the protocol log (vimspector <-> debugp

[2020-01-31 23:08] puremourning commented on #2068
@karthiknadig I'm all for that change, I was just reporting that as a strict compatibility with the typescript adapter, this is a change.

@int19h raised: https://github.com/microsoft/ptvsd/issues/2070

As it happens there's a simple way in vimspector to specify a default for this value, so I'm not super worried.

[2020-01-31 23:09] int19h commented on #2068
Even with the extension not in the picture, there's some logic to pick a default for "python" in the adapter itself (or rather in the launcher). I added that there specifically for non-VSCode use cases, hence why I'm treating it as a bug. I think that code just got regressed at some point, probably when I added the ability to use an array there instead of a single value - it's still trying to do t

[2020-01-31 23:21] int19h commented on #2068
I'm going to go ahead and close this issue - if there are any more issues with debugpy Vimspector integration, just file them directly in the new repo.

[2020-01-31 23:21] #2068 closed

[2020-01-31 23:22] puremourning commented on #2068
Thanks for everything. Much appreciated.

[2020-02-01 09:49] YoniChechik commented on #2036
Agree with all of the above:
-"it would be awesome to just pretty-print anything without enclosing it into the built-in print()-function."
- when debugging, always redirect output to debug console by default so you won't have to go back to the regular terminal.

[2020-02-02 15:53] jakebrinkmann commented on #2036
I think it would also be beneficial if `help()` also worked in the debug console.

[2020-02-02 15:55] jakebrinkmann commented on #2036
If having trouble in the Debug Console, remember the magic dunder methods on all python objects

* Want to see the string? `obj.__str__()`
* Want some help? `obj.__doc__()`

[2020-02-02 15:56] jakebrinkmann commented on #2036
If having trouble in the Debug Console, remember the magic dunder methods on all python objects

* Want to see the string? `obj.__str__()`
* Want some help? `obj.__doc__`

[2020-02-02 15:57] jakebrinkmann commented on #2036
If having trouble in the Debug Console, remember the magic dunder methods on all python objects

* Want to see the string? ⚠ `print(obj)` ✅ `obj.__str__()`
* Want some help? ⚠ `help(obj)` ✅ `obj.__doc__()`

[2020-02-02 15:58] jakebrinkmann commented on #2036
If having trouble in the Debug Console, remember the magic dunder methods on all python objects

* Want to see the string? `print(obj)` ➡➡ `obj.__str__()`
* Want some help? `help(obj)` ➡➡ `obj.__doc__()`

[2020-02-03 01:25] DaiZack opened #2071 "Debug restart not working"
Issue Type: <b>Bug</b>

When using debug restart button, it actually quit the the debug rather than restart

Extension version: 2020.1.58038
VS Code version: Code 1.41.1 (26076a4de974ead31f97692a0d32f90d735645c0, 2019-12-18T14:58:56.166Z)
OS version: Windows_NT x64 10.0.17763
Remote OS version: Linux x64 4.4.0-17763-Microsoft

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|

[2020-02-03 22:50] int19h commented on #2071
Likely dupe of #2029. Can you do `print(ptvsd.__version__)` to check that it's 5.0.0a11 or earlier? a12 has the fix.

[2020-02-04 11:19] fabioz commented on #1961
I think the culprit here was https://github.com/microsoft/ptvsd/issues/2049 (it could either halt on Mac with Python 3.5 or 3.6 or crash the interpreter), so, I think we can close this now -- if it still happens we can reopen it.

-- note that Python 3.7 or 3.8 were not affected by https://github.com/microsoft/ptvsd/issues/2049, so, if this issue also affected those versions my reasoning is not co

[2020-02-04 11:19] #1961 closed

[2020-02-04 11:27] fabioz commented on #1887
I believe this was fixed by not having `pydevd` report about it 2 times (i.e.: https://github.com/microsoft/ptvsd/commit/3e29307d65318362b2cf2f3b84ebd88840f8b0c0).

[2020-02-04 11:27] #1887 closed

[2020-02-04 11:33] fabioz commented on #1866
It seems this is working given the latest comments, so, closing this issue (please reopen if that's not the case).

[2020-02-04 11:33] #1866 closed

[2020-02-04 11:33] fabioz commented on #2006
Closing due to inactivity (waiting for logs with latest version of debugger).

[2020-02-04 11:33] #2006 closed

[2020-02-04 11:38] fabioz commented on #1798
@chrisaramar @karthiknadig do you know if this is still an issue?

[2020-02-04 12:19] chrisaramar commented on #1798
Hi currently everything is working fine. So maybe they fixed something with the new version of vscode

[2020-02-04 12:24] fabioz commented on #1798
Great ;)

I'm going to close this issue then. Please reopen if it happens again.

[2020-02-04 12:24] #1798 closed

[2020-02-05 07:18] linette-zyy opened #2072 "An error pops up when debug in Python3.7 with "Windows Application" option checked"
**VS version**
![image](https://user-images.githubusercontent.com/59192491/73819513-ae667d00-482a-11ea-9389-71d300ba031f.png)

**Steps to Reproduce**
1. Create Python Application project and type code
2. Right-click on the project and select Properties or press Alt+Enter to open Property page
3. Turn on the option "Windows Application" and change interpreter to Python3.7 in General tab and save
4.

[2020-02-05 18:56] fabioz commented on #2036
I'm taking a look at this issue.

[2020-02-05 19:31] int19h commented on #2036
@fabioz, I was thinking that the best approach here is to handle "repl" evals specially in that output redirection is basically enabled before each, and disabled immediately after.

[2020-02-05 19:40] fabioz commented on #2036
@int19h we're on the same page here ;)

[2020-02-05 22:00] DonJayamanne opened #2073 "Implement `justMyCode` feature in debugger"
This setting could expand into:
* MyCode - Just my code on/off (everything inside workspace directory is considered `just my code`, excluding `virtual envs`)
* Pkg - Enable debugging of `site packages` (`Just my code is off`)
* StdLib - Enable debugging of `stdlibs` (`Just my code is off`)

I.e. we have three states:
* MyCode
* Pkg
* StdLib
* Pkg + StdLib

Possibly even allowing users to define ot

[2020-02-06 00:36] int19h commented on #2074
See https://github.com/microsoft/ptvsd/issues/1706#issuecomment-572287267

[2020-02-06 00:36] #2074 closed

[2020-02-06 11:31] #1817 closed

[2020-02-06 11:32] #2057 closed

[2020-02-07 04:17] rADikal8e7 commented on #1706
Hello,

I was getting the same error above and i switched to the experimental python ext mentioned by @leej35 . Now i see the following errors.
This is using python ext v: **2020.3.62207**

[code]

I do not see this error if i use python ext v:**2020.1.58038** using vs code but i will obviously hit the multiprocessing error there.

The fix is also valid for python 2.7 right?

Thanks

[2020-02-07 09:18] bersbersbers commented on #1728
Should this be fixed in VS Code release (or insider) builds yet?

Then release notes for vscode-python 2020.1.0 (6 January 2020) say:

https://github.com/microsoft/vscode-python/blob/master/CHANGELOG.md

and I am still seeing this issue with 2020.1.58038 (13 January 2020) on VS Code 1.42.0 and, with 2020.3.62207-dev (Daily Insider) on VS Code 1.43.0-insider (beaf391bc53136912e4f0bbdfb7844ad954247d

[2020-02-07 10:36] fabioz commented on #1728
Instructions for joining the experiment are at: https://github.com/microsoft/ptvsd/issues/1706#issuecomment-572287267 (note that you have to get the insiders version, change the settings as described and then restart vscode).

[2020-02-07 10:44] fabioz commented on #1706
@rADikal8e7 regarding that error, it doesn't seem like an issue in the debugger (i.e.: `Namespace` and `issu_cases` are not from the debugger -- maybe it's loading the wrong `Namespace` class? You can print `parseoutput.__class__` to check if it's what you're expecting)

[2020-02-07 10:58] bersbersbers commented on #1728
Thanks, @fabioz. I had tried using
[code]
before and I also tried the VSIX way now, but I am simply not seeing the expected

and also, I am not seeing the test explorer (I added that experiment because it seemed easier to check if experiment opt-in is working).
I have 2020.3.62207-dev installed now (same as the daily insider before), and `python.experiments.optInto` is recognized as an existing op

[2020-02-07 11:07] fabioz commented on #1728
Which `settings.json` are you editing? (it should be the one from user settings)

[2020-02-07 11:11] bersbersbers commented on #1728
@fabioz correct, yes, I am editing `C:\Users\bers\AppData\Roaming\Code - Insiders\User\settings.json`.

[2020-02-07 11:23] fabioz commented on #1728
One thing different in my case is that those settings are in `C:\Users\bers\AppData\Roaming\Code\User\settings.json` (without the `Code - Insiders` path, but I guess that's because I'm using the release version -- can you try getting the Code release version with the python daily and changing the settings on that path to see if it makes a difference?)

@karthiknadig @int19h do you have any suggest

[2020-02-07 12:20] bersbersbers commented on #1728
Done that: VS Code 1.42.0 using 2020.3.62207-dev, editing `C:\Users\bers\AppData\Roaming\Code\User\settings.json`. `python.experiments.optInto` is recognized and smart enough to check the items (`"PtvsdWheels37 - experimen"` is underlined as incorrect, `"PtvsdWheels37 - experiment"` is not). Restarted VS Code, opened a Python file:

[code]

[2020-02-07 16:45] luabud opened #2080 "'Invalid variable attributes' shows instead of variables"
Filed originally here https://github.com/microsoft/vscode/issues/90238#issue-561702431

VSCode Version: 1.42.0
OS Version: Windows_NT x64 10.0.18362
Steps to Reproduce:
Have Python and Gauge loaded

Build Gauge .spec file, step_implement Python file with variables present.
Set debug start point in Python file.
Run 'debug scenario' to begin spec.
Local variables show up as ': Invalid variable attri

[2020-02-07 17:09] karthiknadig commented on #1728
@bersbersbers The only time I see this is if experiments are disabled via `"python.experiments.enabled": false` setting. Can you check if you have something like this set? both in user and workspace settings.

[2020-02-07 18:22] bersbersbers commented on #1728
@karthiknadig I have double-checked that I don't have this set anywhere; I have now also set `"python.experiments.enabled": true` in user settings (where it's accepted) and in workspace settings (where it's grayed out saying that "This setting can be applied only in application user settings"). So no, that's not the reason.

I have also disabled all other extensions and restarted VS Code - same th

[2020-02-07 19:10] karthiknadig commented on #1728
@bersbersbers can you file a bug on the extension. This looks like an issue with how experiments are handled. Please share your settings file contents when you file the issue.

[2020-02-07 19:13] eohlde opened #2077 "Debugging Python in Docker via SSH, breakpoints will not be hit"
Issue Type: <b>Bug</b>

-> vscode-remote ssh into ubuntu remote machine
-> docker-compose build [app]
-> docker-compose up [app]
    -> CMD python -m ptvsd --host 0.0.0.0 --port 5678 --wait server.py
-> attach debugger

I then expect the breakpoints I have defined in source (little red dots) to be stopped at. This does not happen.
-> only 'breakpoint()' will be stopped at, then any red dot breakpo

[2020-02-07 19:54] rADikal8e7 commented on #1706
@fabioz Yeah. i was comparing the differences between the two versions and i noticed something.
Debugger using the following version(python ext v: **2020.3.62207-dev**) executes launch.json args in unicode.

[code]
while the working one in vs code (python ext v:2020.1.58038) sends it regularly.

[code]
I think this is causing the script failure since i can run it manually from the terminal.
Why th

[2020-02-08 17:15] kzhui125 opened #2075 "VSCode debug console: print expressions no longer have output"
previously:

<img width="512" alt="1" src="https://user-images.githubusercontent.com/11925432/74089135-062a1000-4ad9-11ea-8254-f54ebdeb1561.png">

now:

<img width="439" alt="2" src="https://user-images.githubusercontent.com/11925432/74089158-3ec9e980-4ad9-11ea-926a-f5c81e3bdb7a.png">

I see the output goes to terminal, it's very inconvenient.

Especially when I want to see pandas dataframe values

[2020-02-08 17:58] jensmalmgren opened #2076 "During debugging instead of context menu on hover the debugger crash"
Hi I am using Visual Studio Code, full version see below. I am using the extension for Python version 2020.1.58038.

### Expected behavior:
Not crashing when about to display a context menu in the debugger.

### Actual behavior:
While hovering over a specific variable the debugger stops with an error message (full message below). Curious as I am I looked into the problem and found that there is an

[2020-02-09 16:49] bersbersbers commented on #1728
@karthiknadig done.

[2020-02-09 20:19] karthiknadig commented on #2071
`2020.1.58038` shipped with `5.0.0a11`

[2020-02-09 20:19] #2071 closed

[2020-02-09 20:39] karthiknadig commented on #2075
This is same as https://github.com/microsoft/ptvsd/issues/2036.

[2020-02-09 20:39] #2075 closed

[2020-02-09 20:56] int19h commented on #2076
I never thought that `hasattr()` must be guarded as well, but per its definition, that's true - it is defined as `getattr()` + `except AttributeError`, so if `getattr()` raises something else, it propagates. @fabioz, I guess all uses of `hasattr()` in eval/children code has to be guarded, as well :/

[2020-02-10 22:05] int19h commented on #2077
Can you try enabling logging for ptvsd, and share the logs? The command line switch is `--log-dir ...`, and it must be a path to some existing directory. A bunch of .log files should be created there; the one that I need is `ptvsd.adapter*.log`.

[2020-02-11 08:53] bersbersbers commented on #1728
I am able to join experiments again (needed to set `telemetry.enableTelemetry` to `True`), and can confirm that the Debug Console now shows the same output as the Terminal. Hence, `"console": "internalConsole"` is making sense again. Thanks!

[2020-02-11 13:41] fabioz commented on #2076
I'll take a look at that.

[2020-02-11 16:11] eohlde commented on #2077
Logs attached,

[ptvsd-1.txt](https://github.com/microsoft/ptvsd/files/4186728/ptvsd-1.txt)

[2020-02-11 16:57] fabioz commented on #2077
@int19h it seems that the issue is that the `attach` request is only sent after the `setBreakpoints` request (we need the `attach` first to get the path mappings), so, the adapter, is failing the request (which is correct for the debugger).

Now, I was reading https://microsoft.github.io/debug-adapter-protocol/overview and it seems it can receive `setBreakpoints` after the debugger sends the `init

[2020-02-11 18:33] naschidaniel opened #2078 "Python debug restart fails"
The restart Button fails to start the debug modus for my django enviroment.

## Environment data
- VS Code version: 1.42.0
- OS and version: OS: Linux x64 5.4.17-200.fc31
- Python version (& distribution if applicable, e.g. Anaconda): python 3.8
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): conda
- Relevant/affected Python packages and their versions: django 3.0.2

##

[2020-02-11 19:41] karthiknadig commented on #2078
This has been addressed. The fixed verison should be available in the next release https://github.com/microsoft/ptvsd/issues/2029

[2020-02-11 19:41] #2078 closed

[2020-02-11 20:51] int19h commented on #2077
The DAP spec is unfortunately rather confusing on this. [This diagram](https://github.com/microsoft/vscode/issues/4902#issuecomment-368583522) is much clearer on the relative ordering of "initialize", "initialized", "configurationDone", and "launch"/"attach".

But note that the adapter handles the initialization sequence itself, and it does so according to the diagram above - i.e. it only sends "i

[2020-02-11 21:44] eohlde commented on #2077
I did receive:
`Error: unrecognized switch --multiprocess`

so I changed my Dockerfile line to:
`CMD python -m ptvsd --host 0.0.0.0 --port 5678 --log-dir /opt/logs/ptvsd --wait ./server.py`

Now when I try to attach with VSCode I get this:
![image](https://user-images.githubusercontent.com/40407768/74281522-955b4180-4cec-11ea-9868-d04e7be124f8.png)

The version of ptvsd in the container:
* ptvsd==

[2020-02-11 21:52] int19h commented on #2077
@karthiknadig, can you think of anything that could possibly cause this? The error message looks like it's coming out of the debug adapter factory in PVSC, but how and why would either local or remote version of ptvsd affect that?

[2020-02-11 21:54] int19h commented on #1706
To clarify, the above list is basically `repr(sys.argv)`?

[2020-02-11 22:09] karthiknadig commented on #2077
I think something went wrong while debug adapter factory was being registered or when we trying to create the debug adapter factory. This error is possible when extension fails to activate fully.

[2020-02-11 23:41] eohlde commented on #2077
this issue may be unrelated, I cannot get a terminal to load now:
![image](https://user-images.githubusercontent.com/40407768/74289332-c17ebe80-4cfc-11ea-8de9-ca5b5484df54.png)

and i'm getting almost constantly:
![image](https://user-images.githubusercontent.com/40407768/74289817-07885200-4cfe-11ea-8d9e-1d0987442972.png)

I'll try to resolve this before you guys have to dig any further.

[2020-02-12 10:42] #2036 closed

[2020-02-12 15:08] fabioz commented on #1936
That's pretty strange... the debugger should only print this if `os.path.exists(file) == False`... Can you check there if `os.path.exists` with that file really does return `False`?

Also, can you provide the `pydevd` logs you have when running it? To obtain those, please add the following environment variables to the launch:

[code]

Ensure that `/path/to/log` directory exists before running (and

[2020-02-12 15:21] fabioz commented on #1854
@int19h I'm not sure if something needs to be done on `pydevd` here... `Ctrl+c` seems to be raising an exception and as a result from that the debugger left the breakpoint and raised the exception to the caller (this handling seems to be correct for me). Did you have a different expectation here?

[2020-02-12 15:24] #1699 closed

[2020-02-12 17:04] LightCC commented on #1850
Note: there is a workaround (other than just constantly deleting the extra terminals), which is to set the debug output to go to the internal console. See [this StackOverflow answer](https://stackoverflow.com/a/58194881/6501141). So the Debug Console gets reused if the settings are changed to output there.

Using the "green arrow icon" to "run" a python script also creates a special "Python" termi

[2020-02-12 18:55] rADikal8e7 commented on #1706
@int19h

Here are the outputs of repr(sys.argv) on different versions.
python ext v: **2020.3.62207-dev**
[code]

python ext v:**2020.1.58038**
[code]

i had to encode the args again in my script to workaround this issue. But i am just curious as to behavior change between the 2 versions.

BTW the multiprocessing fix works as expected. Kudos to the team who worked on it.

[2020-02-12 19:43] int19h commented on #1706
The Unicode argv thing wasn't an intentional change - the new version is just more consistent at using Unicode strings everywhere they can be used for the sake of simplicity. I'm still not sure how we managed to propagate them all the way to sys.argv tho, but in any case, it's a bug for sure - it should behave the same in that respect as Python 2 normally does.

[2020-02-12 19:44] int19h commented on #1706
@rADikal8e7 Can you please file a separate issue for this, so that we can track the fix properly?

[2020-02-12 19:54] int19h commented on #1854
@fabioz It's about the first of the three stacks. Note how there's no user frames in there - it's from some background helper thread. The second stack is the one where it's propagated to user code, and that one is correct. The first one, I don't know about, but it's suspicious - suppose user code would have caught `KeyboardInterrupt` on the main thread in this case; will the debugger still work co

[2020-02-12 19:58] int19h commented on #1850
Yep, it's two completely different APIs. The Run Python File command deals with the terminal directly, but the debugger is out-of-process, and has to do it via the DAP "runInTerminal" request. For some reason, the request handler for it does not always reuse the terminal, even though terminal name is the same in all cases. It's likely a bug on the VSCode side of things, but we need to investigate.

[2020-02-12 20:10] int19h commented on #1850
Also see https://github.com/microsoft/vscode/issues/82662

[2020-02-12 20:51] rADikal8e7 opened #2079 "sys.argv sends in unicode instead of string"
## Environment data

- PTVSD version: **2020.3.62207-dev**
- OS and version: Centos 6
- Python version (& distribution if applicable, e.g. Anaconda): 2.7.3 64bit
- Using VS Code or Visual Studio: VS Code insiders

## Actual behavior
Using Remote-SSH ext on local and python ext **2020.3.62207** on remote.
sys.argv is of type unicode. It should have been of type str in python2
[code]
## Expected  be

[2020-02-12 20:51] int19h commented on #2072
This looks like a dupe of #2052. We already have a fix for that issue, it just hasn't been shipped yet.

[2020-02-12 20:51] #2072 closed

[2020-02-12 20:53] int19h commented on #2077
Perfect, thank you! I'll go ahead and close the issue.

[2020-02-12 20:53] #2077 closed

[2020-02-12 21:34] kizylirio commented on #1777
This error occurs when your project is located in a long path.
Try put your project in your user directory

[2020-02-12 23:05] int19h commented on #1622
It should be wrapped in `warnings.catch_warnings()`. Probably need to do this in all places where the eval code currently catches and swallows exceptions - getattr, hasattr, iter, len etc.

[2020-02-13 00:07] cranechu opened #2081 "KeyError: 'PTVSD_LAUNCHER_PORT' happened when debug with "sudo""
## Environment data

- PTVSD version: 5.0.0a12
- OS and version: Fedora 31, Linux kernel 5.4.17-200.fc31.x86_64
- Python version (& distribution if applicable, e.g. Anaconda): Python 3.7.6
- Using VS Code or Visual Studio: VS Code

## Actual behavior

I tried to debug a python file with "sudo" by modifying launch.json, but I got the error message below.
I tried it twice.

[code]

## Expected  beha

[2020-02-13 01:06] int19h commented on #2081
I think this is happening because `sudo` does not propagate the environment by default, as a matter of security. It needs to be `sudo -E`, and the user must have the appropriate permission.

The real problem, though, is that the adapter uses `sudo` when spawning launcher it all. It doesn't actually need to do that, because the launcher will do it when it spawns the debuggee.

[2020-02-13 02:07] jhyunetp opened #2082 "Failure to spawn ptvsd.launcher is not propagated to the client"
[code]
This is my terminal log.

![Error](https://user-images.githubusercontent.com/40058848/74394746-c6548700-4e50-11ea-909e-330a96a0717a.PNG)

“There is already a debug configuration ”Python: Current File“ running.”

This error keeps me from debugging.

I guess vscode python extension thinks my debugger is running though it is not because of some errors.

**How can I let my debugger know it is n

[2020-02-13 03:23] int19h commented on #2082
The error message in the terminal is misleading. What actually happened is that you had "tre" typed at the command prompt in the terminal before debugging started. When it did start, it tried to use the same terminal to start your app, and command line got mangled as a result. The debugger is then complaining that it couldn't communicate with the app that it expects to be there.

Unfortunately, th

[2020-02-13 04:58] ftrofin opened #2084 ""justMyCode" setting doesn't work"
## Environment data

Version: 1.41.1
Commit: 26076a4de974ead31f97692a0d32f90d735645c0
Date: 2019-12-18T14:57:51.166Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Darwin x64 18.7.0

Also happens in the latest version January 2020 (1.42)

## Expected behaviour

Setting "justMyCode" flag in the launch.json should be honored by the debugger.

## Actual behaviour

[2020-02-13 05:05] jhyunetp commented on #2082
Hello, int19h. Thank you for reply

I intentionally typed "tre" before command because it was a way to trigger this situation.

Your solution...

![캡처](https://user-images.githubusercontent.com/40058848/74403164-b09f8b80-4e69-11ea-9921-730bcca72293.PNG)

**you should be able to stop it by using Debug -> Stop Debugging, or the same command on the floating debug toolbar.**
-> after this kind of erro

[2020-02-13 06:59] bersbersbers opened #2083 ""Server[1] disconnected unexpectedly" when inspecting python-pptx XML element in VS Code"
## Environment data

- PTVSD version: old (4.x) or new (5.x) as bundled in VS Code 1.42.0/VS Code Python 2020.3.62694-dev
- OS and version: Windows 10 1909
- Python version (& distribution if applicable, e.g. Anaconda): Plain 3.8.1
- Using VS Code or Visual Studio: VS Code

## Actual behavior

I am not sure this is PTVSD's issue, or VSCode-Python's, or VS Code's, pyhton-pptx', or even Python's. Bu

[2020-02-13 07:03] bersbersbers commented on #2083
And here's the crash output with the old PTVSD:
[code]

[2020-02-13 07:27] int19h commented on #2082
Hm, this is weird. And Debug -> Stop Debugging is disabled?

[2020-02-13 07:29] int19h commented on #2083
This looks like #2076 strikes again. A fix is already in the works!

[2020-02-13 07:29] #2083 closed

[2020-02-13 07:35] jhyunetp commented on #2082
Yes, I have two dev computers.

They share this issue.

To trigger this situation,
1. type anything in terminal
2. Press F5 ( debug )
3. ConnectionRefusedError: [WinError 10061] error pops up on terminal
4. terminal is now cleared
5. Press Shift + F5 ( debug ) again
6. Now working * Just nothing happens
7. Press F5 over and over
=>
**There is already a debug configuration "Python: Current File" ru

[2020-02-13 11:54] #2076 closed

[2020-02-13 19:03] #2081 closed

[2020-02-13 19:25] Flintols commented on #2080
What issue do I look at to get updates?

[2020-02-13 19:51] brando90 commented on #1706
Does the version I downloaded have new bugs? Like I cannot set a specific file to run when I call the debugger (see stack overflow Q: https://stackoverflow.com/questions/60215436/how-to-correctly-set-specific-module-to-debug-in-vs-code). Is that related to the error mentioned by @rADikal8e7 ?

[2020-02-13 21:33] int19h commented on #2080
Can you try adding `"logToFile": true` in launch.json, and see if that helps with the logs? It should write them to the directory where the extension is installed.

[2020-02-13 21:35] Flintols commented on #2080
ok, its on, but still have issue present

[2020-02-13 22:13] int19h commented on #2084
Can you share the complete debug configuration JSON that you're using?

[2020-02-13 22:54] int19h commented on #1706
@brando90 I don't think it's related to the issue that we're discussing, but it sounds like a bug, and possibly a regression - please file a separate issue. and include your launch.json debug configuration.

[2020-02-14 09:23] amine4567 opened #2089 "printing variable in debug mode doesn't show in the debug console anymore but in the terminal"
## Environment data

- VS Code version: 1.42.1
- Extension version (available under the Extensions sidebar): 2020.2.63072
- OS and version: ubuntu 16.04
- Python version (& distribution if applicable, e.g. Anaconda): 3.7
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): virtualenv
- Jedi or Language Server? (i.e. what is `"python.jediEnabled"` set to; more info microsoft/

[2020-02-14 09:44] linette-zyy opened #2090 ""?" Is displayed incorrectly in debug console when debug flask."
## Repro steps:
Pre-requesites:
Clone repro and run the setup script:
	git clone  https://github.com/qubitron/pydemo
	cd pydemo
	py -3 setup.py

In user settings add:
"python.jediEnabled": false
1. Open stackoverflow-flask folder
2. Select "Debug"
3. Select "Add Configuration…" in "DEBUG" dropdown menu
4. Customize the path in launch.json:
![image](https://user-images.githubusercontent.com/5919249

[2020-02-14 19:59] luabud commented on #2080
@int19h because the session is started through the Gauge extension, it doesn't seem to pick up the launch.json file in the workspace (it seems to create a configuration under the hood, but I could be wrong). I was able to produce the log files by setting PTVSD_LOG_DIR in the python.properties file under the env\default folder in the workspace, which is used by the Gauge extension.

@Flintols witho

[2020-02-14 20:08] Flintols commented on #2080
User belongs to experiment group 'ShowPlayIcon - start'
User belongs to experiment group 'ShowExtensionSurveyPrompt - control'
User belongs to experiment group 'DebugAdapterFactory - experiment'
User belongs to experiment group 'PtvsdWheels37 - experiment'
User belongs to experiment group 'Reload - control'
User belongs to experiment group 'UseTerminalToGetActivatedEnvVars - control'
User belongs

[2020-02-14 23:40] ruizhuanguw opened #2086 "Print-function prints only None in Debug Console Despite Setting "redirectoutput" as true"
Issue Type: <b>Bug</b>

I edited the lanch.json and explicitly specify "redirectOutput": true. However, print-function still prints None in Debug Console and no print output in terminal either.

Extension version: 2020.2.63072
VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:45:59.656Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summ

[2020-02-14 23:47] calebickler opened #2085 "Test debugging not working after setting up pyramid webapp debugging"
## Environment data

- PTVSD version: ms-python.python-2020.1.58038/pythonF
- OS and version: macOS Mojave 10.14.6
- Python version (& distribution if applicable, e.g. Anaconda): Python 3.7.4 64-bit inside virtual environment made by tox
- Using VS Code or Visual Studio: VS Code

## Actual behavior

Breakpoints when debugging pytest tests don't hit when running from VSCode
## Expected  behavior

B

[2020-02-14 23:48] calebickler commented on #2085
created from https://github.com/microsoft/ptvsd/issues/2056

[2020-02-15 00:24] int19h commented on #2085
Can you please also add "logToFile" logs for the failing app?

[2020-02-15 14:01] OutOfFocus4 commented on #1905
After upgrading to the latest version of the Python extension and opting into `new_ptvsd` experiment, the issue appears to be resolved.

[2020-02-16 11:58] andersea commented on #2027
@fabioz @karthiknadig is this fix included in current vscode-python? Because it still doesn't work.

[2020-02-17 00:53] int19h commented on #2027
@andersea It should be included in ptvsd 5.0.0a12. You can check the version that you have with:
[code]

[2020-02-17 01:31] int19h commented on #2086
Can you share your entire debug configuration from launch.json, and ptvsd version number? (`import ptvsd; print(ptvsd.__version__)`)

[2020-02-17 11:35] levrik commented on #1706
@int19h I installed the Insiders version of the extension, put the experiments into the VS Code `settings.json` but it's still using `old_ptvsd`. Did something change there?

[2020-02-17 18:53] andersea commented on #2027
@int19h Thanks, I had version 4, so I deleted that, made sure the above optin section was in my settings.json and now it says 5.0.0a12. The test case appears to work now. Thanks.

[2020-02-18 04:40] #2079 closed

[2020-02-18 05:17] int19h commented on #2080
Can you try setting it as global environment variable temporarily, just to get the logs? Also note that the directory should already exist.

[2020-02-18 06:41] zehongs opened #2087 "vscode python debugger is very slow"
Hi ptvsd team,

My code looks like...
[code]
By uncommenting `ptvsd.tracing()`, the script could be 10x faster (from about 50s to 5s). So the vscode debugger speed must have something to do with ptvsd, right?

Can you improve its related performance?  Or what should I do? I'm not adding this `ptvsd.tracing()` everywhere in my code :)

[2020-02-18 08:14] Anti-Distinctlyminty opened #2092 "Remote Debugger Process Not Terminated Upon Debugger Restart"
## Environment data

- VS Code version: 1.42.1
- Extension version (available under the Extensions sidebar): 2020.2.63072
- OS and version: Windows 10 Pro version 1909  build 19363.657 remotely connecting to Ubuntu version 18.04.2 LTS
- Python version (& distribution if applicable, e.g. Anaconda): python 3.6.9
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): virtualenv
-

[2020-02-18 16:05] brando90 opened #2088 "How to correctly set specific module to debug in VS code?"
## Environment data

- PTVSD version: XXX
- OS and version: XXX
- Python version (& distribution if applicable, e.g. Anaconda): XXX
- Using VS Code or Visual Studio:

Version: 1.42.1
Commit: c47d83b293181d9be64f27ff093689e8e7aed054
Date: 2020-02-11T14:44:27.652Z
Electron: 6.1.6
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Darwin x64 19.3.0

## Actual behavior

Does nothing

[2020-02-18 16:06] brando90 commented on #1706
ok done! https://github.com/microsoft/ptvsd/issues/2088

[2020-02-18 16:07] brando90 commented on #2088
launch.json:

[code]

[2020-02-18 16:07] brando90 commented on #2088
how do I find the PTVSD version?

[2020-02-18 16:17] brando90 commented on #1706
is the debugger that supports multiprocessing done/finished?

I want to update all my vs code stuff without having to worry things break (e.g. my jupyter notebook stopped working and unsure how to fix it and thought updating vs code might be a good starting point but Im scared dubugger will break:

https://github.com/microsoft/vscode-python/issues/10168

)

[2020-02-18 16:48] pfaion opened #2091 ""Stop debugging" does not stop multiprocessing processes anymore"
Issue Type: <b>Bug</b>

Hi, I'm working on a larger Python project that spawns multiple processes with `multiprocessing.Process(...).start()`. At the end of the main process we `.join()` on all `multiprocessing.active_children()`, so the main process only ends when all child processes have finished.

Previously this worked well together with the built-in Python debugging from vscode. Hitting "Stop

[2020-02-18 17:25] fabioz commented on #2087
Well, the first thing would be checking if you have the accelerators modules there. To check, please provide the logs from running the debugger there -- it can be on a `print('hello')` module (see below for instructions):

1. make sure you're using the latest version (you may have to opt-in -- see: https://github.com/microsoft/ptvsd/issues/1706#issuecomment-572287267 for details).

2. Make a simpl

[2020-02-18 19:13] Flintols commented on #2080
logs file still empty... where is the default to?

[2020-02-18 19:26] int19h commented on #2088
Ah, I see the problem. You're using "module", but then specifying the path to the file - it should be a fully qualified module name instead. Or if you really do want to start it as a file, then it must be "program" rather than "module".

Basically, this:
[code]
is as if you did this from command line:
[code]
and this:
[code]
is as if you did:
[code]
Note that in the latter case, you're also respon

[2020-02-18 21:02] int19h commented on #2089
Dupe of #2036.

[2020-02-18 21:02] #2089 closed

[2020-02-19 02:26] int19h commented on #2091
Which version of ptvsd are you running? You can do:
[code]
in your app to get that info.

[2020-02-19 02:33] zehongs commented on #2087
Hi fabioz, thanks for your reply.
I just found that whether there is a breakpoint in the python script will affect the speed. And I'm trying to put that breakpoint after the file-io&parsing function.

<details><summary>the log output</summary><p>

[code]

</p></details>

[2020-02-19 07:57] Anti-Distinctlyminty commented on #2092
@karthiknadig Here you go
[code]

[2020-02-19 08:02] Anti-Distinctlyminty commented on #2092
And a quick sample of what I see when I list running processes containing the string 'python' by using `ps -ef | grep python`
[code]

[2020-02-19 08:34] pfaion commented on #2091
ptvsd version 5.0.0a12

Since this is a pre-release I double checked and I did not subscribe to any insiders version of the python extension on this machine.

[2020-02-19 13:09] DeshmukhMalhar opened #2094 "Hitting a breakpoint opens a new instance of the file"
This issue is same as microsoft/vscode-python#5139, microsoft/vscode-python#225 and microsoft/vscode-python#4166
which closed and those suggest updating python ext, but mine is already up to date[2020.2.63072].

![image](https://user-images.githubusercontent.com/16190134/74835599-b6064580-5343-11ea-99ce-133f7351dea7.png)

Issues microsoft/vscode-python#5049 and microsoft/vscode-python#1313 are sim

[2020-02-19 13:12] jackwickham opened #2093 "Evaluating spark code with justMyCode: false causes it to hang indefinitely"
## Environment data
- PTVSD version: 4.3.2
- OS and version: MacOS and CentOS
- Python version: 3.6 and 3.7
- Using VS Code or Visual Studio: VS Code, and interacting with ptvsd directly

## Actual behavior
When justMyCode is set to false, operations on a spark dataframe that has been constructed in python using `session.createDataFrame` will hang if run in the debugger repl, but not if run normal

[2020-02-19 14:46] fabioz commented on #2087
Humm, it seems that the info on whether the accelerator modules are being used is not there as I thought it'd be (sorry about that).

There's another way to get it though:

Run (under the debugger) the code below and please provide the output.

[code]

[2020-02-19 14:55] fabioz commented on #2087
Humm, it seems that the accelerator modules are forced to be disabled... I think the reason for that is historical and it should no longer be needed (I created a pull request to fix that: https://github.com/microsoft/debugpy/pull/49).

In the meanwhile, you can locally do that same change (basically commenting the `pydevd_constants.CYTHON_SUPPORTED = False` in `force_pydevd.py` as in that pull req

[2020-02-19 15:51] fabioz commented on #2093
I'll investigate to see what could be causing that...

[2020-02-19 16:56] fabioz commented on #2093
I just checked with `ptvsd 5` and it seems to work well for me, so, @jackwickham, please use `ptvsd 5`... to do that, please follow the steps on https://github.com/microsoft/ptvsd/issues/1706#issuecomment-572287267 (please reopen if you still have some error after upgrading).

[2020-02-19 17:23] jackwickham commented on #2093
I've just tested using the insiders version with the experiments enabled (and verified that it's using new_ptvsd) with debug current file, as well as manually running ptvsd (`python -m ptvsd --host localhost --port 12224 --wait --log-dir . [my_file]`) and attaching the vs code debugger, and I still seem to be running into the issue. The relevant entries from my launch.json are
[code]

[2020-02-19 17:41] fabioz commented on #2093
Can you provide the logs for the run?

i.e.:

* Open VS Code
* Select the command Extensions: Open Extensions Folder
* Locate the Python extension directory, typically of the form ms-python.python-2020.*.****
* In that directory ensure you do not have any debug*.log files, if you do, please delete them
* Go back into VS Code and modify your launch.json to add the setting "logToFile": true, see bel

[2020-02-19 18:05] jackwickham commented on #2093
From attaching to an existing ptvsd process:
[ptvsd.adapter-85777.log](https://github.com/microsoft/ptvsd/files/4226532/ptvsd.adapter-85777.log)
[ptvsd.server-85761.log](https://github.com/microsoft/ptvsd/files/4226534/ptvsd.server-85761.log)

From running using current file (I presume it's these ones that you want):
[ptvsd.adapter-86448.log](https://github.com/microsoft/ptvsd/files/4226548/ptvsd.

[2020-02-19 18:20] fabioz commented on #2093
Thanks for the logs... I was able to reproduce it with that info (although I still don't know the reason). I'll investigate.

[2020-02-19 20:54] int19h commented on #2091
This is https://github.com/microsoft/debugpy/issues/3 - we have a fix already, it just hasn't shipped in the extension yet.

[2020-02-19 20:54] #2091 closed

[2020-02-19 20:56] int19h commented on #2092
This looks like it's using ptvsd 4. Can you try [opting into the experiment](https://github.com/microsoft/ptvsd/issues/1706#issuecomment-572287267) to get you a newer version of ptvsd, and see if the issue still remains?

[2020-02-19 22:00] int19h commented on #2082
We don't propagate failures from "runInTerminal" request correctly.

[2020-02-19 22:08] pfaion commented on #2091
Awesome, thanks for the quick response!

[2020-02-19 22:41] int19h commented on #2085
I'm a bit confused - this is a "launch" debug configuration for a Pyramid app, not a "test" one for pytest. Does the app itself start pytest when it's run? Or are you running the tests via Test Explorer? In the latter case, it should be using the "test" config - can you share that one?

[2020-02-19 22:50] calebickler commented on #2085
I am running the tests via Test Explorer. I think it just uses a default config for debugging the tests, are you saying there should be a 'test' configuration? I don't have one in the working app.

Here is my settings.json if that is helpful
[code]

[2020-02-19 22:50] calebickler commented on #2085
I can get the logs to you if that doesn't help, I am just able to do this in my spare time

[2020-02-19 23:20] int19h commented on #2060
We expect whatever is used for "pythonPath" to be a valid Python interpreter that is 1) capable of handling the same switches as standard `python` or `python3` binary from CPython, and 2) does not produce any extra output other than what the script itself generates (because some tools, including the debugger, use stdin/stdout to communicate with other processes).

Since `spark-submit` doesn't sati

[2020-02-19 23:20] #2060 closed

[2020-02-19 23:25] int19h commented on #2085
If you have a config with `"request": "test"` in your launch.json, it should be using that one. Otherwise it just runs with the default config - i.e. not the "launch" one.

It seems that you've [tried with "test" config before](https://github.com/microsoft/ptvsd/issues/2056#issuecomment-580493704)  - try it again, but copy all settings other than the target from "launch". In particular, it needs "

[2020-02-19 23:41] int19h commented on #2061
Still can't reproduce it... can you please share the complete "test" configuration that you have in your launch.json?

Also, among the log files generated when running with `"logToFile": true`, there should also be one named `ptvsd.launcher...log` - can you share that one as well?

[2020-02-19 23:42] #2082 closed

[2020-02-20 04:22] jhyunetp commented on #2082
It was the only reason I had to use Pycharm :)
Thank you for fixing this issue.

[2020-02-20 04:50] zehongs commented on #2087
[code]
I suppose you're talking about `use_cython`, which is `NO`. And `use_frame_eval` is `None`.

And I'm curious why I am still using `old_ptvsd`. It turns out I can only add these to my `User setting`
[code]
 But I'm using ssh-remote, and in `remote setting` and `workspace setting` I cannot add such optInto settings.

[2020-02-20 04:51] zehongs commented on #2087
![Feb-20-2020 12-50-24](https://user-images.githubusercontent.com/25296730/74901982-a0def480-53df-11ea-99ce-93ba71a00fb7.gif)

[2020-02-20 04:52] zehongs commented on #2087
![Feb-20-2020 12-51-54](https://user-images.githubusercontent.com/25296730/74902047-cff56600-53df-11ea-8689-3f5561f5a09c.gif)

[2020-02-20 12:11] fabioz commented on #2087
@karthiknadig do you have info on how to opt into the experiments with ssh-remote as @zehongs is doing?

[2020-02-20 12:12] fabioz commented on #2087
@zehongs it's really expected that depending on where you have the breakpoint things will run slower... still, I just double checked and there's one information missing in the DAP integration, which makes the debugger slower if there's any breakpoint in the same file and not in a particular function, so, I've created an issue to address that: https://github.com/microsoft/debugpy/issues/51

-- note

[2020-02-20 12:34] #1570 closed

[2020-02-20 13:32] zehongs commented on #2087
@fabioz  Thanks!

[2020-02-20 18:42] karthiknadig commented on #2087
@fabioz @zehongs This is currently a limitation, experiments cannot be set for the remote scenario. I will create a issue on the extension to support this.

[2020-02-20 19:34] fabioz commented on #2094
@DeshmukhMalhar do you have some kind of symlink or a subst drive there? Are you using a `pytest` run?

[2020-02-20 19:34] int19h commented on #2094
The breakpoint misbehavior is fundamentally an issue with VSCode itself treating the two tabs as two different files, even though they're really the same. Changes in the editor propagate from one tab to the other, because they flow through the file itself. But breakpoints are metadata, and don't get the same accidental sync. But, in any case, the real problem is that the extra tab shows up in the

[2020-02-20 19:39] fabioz commented on #2094
p.s.: I'm asking about `pytest` specifically because it has an issue where it changes the working directory by resolving symlinks and substed drives, so, this could explain the issue... (see: https://github.com/pytest-dev/pytest/issues/5965)

[2020-02-20 20:33] int19h commented on #2090
This is ptvsd 4 - can you please try the same with ptvsd 5, by following [these instructions](https://github.com/microsoft/ptvsd/issues/1706#issuecomment-572287267)?

[2020-02-20 20:35] int19h commented on #2087
Since we have separate items tracking the underlying issues, I'm going to go ahead and close this one.

[2020-02-20 20:35] #2087 closed

[2020-02-20 20:36] #2088 closed

[2020-02-21 02:35] brechtm commented on #2073
I'm not sure why you would want to limit where breakpoints can be placed. Does this help improve performance when debugging?

Anyway, for anyone who wants to place breakpoints in third-party code, the following `launch.json` will enable that (found in #332, where I can't add any comments):

[code]

I first tried setting the `debug.allowBreakpointsEverywhere` and `python.dataScience.debugJustMyCode

[2020-02-21 03:09] int19h commented on #2073
Please don't use `"debugStdLib"` - it's a legacy, deprecated name for this property, and it'll be going away eventually. `"justMyCode"` is the one that will work going forward.

[2020-02-21 03:11] int19h commented on #1469
@fabioz, since  #1219 is done, can you take a look at this one, as well? It just needs an alias.

[2020-02-21 05:30] DeshmukhMalhar commented on #2094
no symlink or subst.
I am not using pytest run

Here is a snippet of my launch.json
![image](https://user-images.githubusercontent.com/16190134/75006571-3047de80-5498-11ea-94f7-3b0370713480.png)

the real problem is extra tab appearing.

Here is the command launching ptvsd
![image](https://user-images.githubusercontent.com/16190134/75006871-5326c280-5499-11ea-9b41-ed30772028e5.png)

[2020-02-21 09:26] Anti-Distinctlyminty commented on #2092
@int19h The instructions on the provided link are a little vague. I added the vsix file to my local windows .vscode/extensions folder, and added
[code]
to my settings.json, but it become slightly greyed out and there's no "python.experiments.optInto" autocomplete so I'm almost certain I'm doing this incorrectly.

[2020-02-21 12:32] DleanJeans opened #2095 "Uncaught exceptions in async loop (Discord.py)"
## Environment data

- VS Code version: 1.42.1
- Extension version: 2020.2.63990
- OS and version: Windows 10
- Python version (& distribution if applicable, e.g. Anaconda): 3.6.8 64-bit
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): N/A
- Relevant/affected Python packages and their versions: Discord.py 1.3.1
- Value of the `python.languageServer` setting: Microsoft

#

[2020-02-21 13:48] oji commented on #2049
Hi @fabioz, can you confirm in which version was fixed? I updated to `5.0.0a12` and still hangs a lot when starting. (I'm using python 3.6).

[2020-02-21 17:55] brechtm commented on #2073
Thanks! I updated my comment to prevent confusion.

[2020-02-21 18:00] luabud commented on #2080
It doesn't default to any location, it tries to find the path to the directory you set in the setting, and if it doesn't exist I think it simply doesn't save the logs (and ofc, correct me if I'm wrong @int19h).

[2020-02-21 21:04] int19h commented on #2080
What does `import ptvsd; print(ptvsd.__version__)` output for you if you do it from the script being debugged?

[2020-02-21 21:10] int19h commented on #2092
Sorry, it is indeed a bit confusing! You need to install the VSIX by using the "Extensions: install from VSIX" command. This is available in the command palette (Ctrl+Shift+P) - just type "VSIX" there, and you should see it.

Also, this is a global app-wide option, and thus it must go into the global settings.json - it won't work in the workspace one. If you have the right version of the extension

[2020-02-21 22:54] Flintols commented on #2080
4.1.4

[2020-02-22 00:32] int19h commented on #2080
That is surprisingly old! Even for the stable debugger (4.x), the most recent version that we have is 4.3.2, and that was from August last year.

It's very strange that you're getting this in the recent version of the extension. There must be some issue with the install that kept the old bits around. What does it show if you do `print(ptvsd.__file__)`?

[2020-02-22 12:12] MarkBaggett opened #2096 "Debugger not stopping at breakpoints with virtual environment"
Issue Type: Bug

SYSTEM SETUP:
Host Windows 10 Home Edition
Environment Information: Python 3.8.1
Version: 1.42.1 (system setup)
Commit: c47d83b
Date: 2020-02-11T14:45:59.656Z
Electron: 6.1.6
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.18363

TO REPRODUCE:
Step 1: Create a Virtual environement and activate ( I have tried both venv and virtualenv. They bo

[2020-02-22 22:19] syhinex commented on #1291
Same here, it was working fine with python 3.7. I updated Anaconda and python to 3.8 which broke things, dosn't matter what I set the value of "justMyCode", VScode refuses to step into the code and throws the 'Source unavailable' error.

[2020-02-23 14:57] ychechik commented on #1432
@luabud This is now solved upstream: https://github.com/microsoft/vscode/issues/73845#issuecomment-582458652

[2020-02-23 20:10] brando90 commented on #2062
@fabioz now I have this issue:

[code]

why? How do I debug this?

[2020-02-23 22:06] brando90 commented on #2088
but when I try to add a configuration VS code asks me for different options. Which one do I choose?
![Screen Shot 2020-02-23 at 4 06 15 PM](https://user-images.githubusercontent.com/1855278/75121098-79459180-5656-11ea-82e6-879dc2b2b73b.png)

[2020-02-23 22:18] brando90 commented on #2088
how do you have VS code fill in for your home path? i.e. if I had ~/foo/main.py, how can I have VS code fill for ~?

[2020-02-24 01:21] int19h commented on #1291
To clarify: the error message itself relates only to the inability to fetch the source (because there isn't any for that frame). You have still successfully stepped in, and you can continue stepping in, or step out, or just continue running - it doesn't break the debug session as a whole.

[2020-02-24 01:25] int19h commented on #2088
You should pick the one that is most appropriate to your use case. Based on the configuration you've show, it sounds like "Python File" will work better for you. You can edit launch.json afterwards so that it always starts a particular named file, instead of the currently selected one.

[Here](https://code.visualstudio.com/docs/editor/variables-reference) is the list of all variable substitutions

[2020-02-24 03:18] SilverJan commented on #2081
@int19h when will this be available in VS Code?

[2020-02-24 14:14] Anti-Distinctlyminty commented on #2092
After using the experimental debugger the problem seems to be resolved. Thank you.

[2020-02-24 14:14] #2092 closed

[2020-02-24 16:09] Flintols commented on #2080
C:\Users\myself\AppData\Roaming\Python\Python37\site-packages\ptvsd\__init__.py

[2020-02-24 16:33] Flintols commented on #2080
trying to install, it tells me that getgauge 0.3.5 has the requirement of ptvsd 4.1.4

[2020-02-24 16:35] Flintols commented on #2080
upgraded to getgauge 0.3.8, and ptvsd 4.3.2

[2020-02-24 16:38] Flintols commented on #2080
it is still showing 4.1.4 with print(ptvsd.__version__). How do I fix this?

[2020-02-24 17:00] Flintols commented on #2080
it will show as changed, but next time I start VSCode, it returns to previous version

[2020-02-25 04:45] int19h commented on #2080
I think you might have different versions installed globally (where it got 4.1.4 from), and in the virtual env. Perhaps the Gauge extension is re-creating the virtual env every time?

By the way, the Python extension will be moving to https://github.com/microsoft/debugpy (previously known as ptvsd 5.x) shortly. It should still be able to attach to ptvsd 4 debug servers, but we won't be actively te

[2020-02-25 04:46] int19h commented on #2081
It will be available in an insider build once https://github.com/microsoft/vscode-python/pull/10290 is merged.

[2020-02-25 04:53] int19h commented on #2096
Can you try [enabling the experimental debugger](https://github.com/microsoft/ptvsd/issues/1706#issuecomment-572287267), and see if that makes any difference for you?

[2020-02-25 04:54] int19h commented on #2095
When you say "fails silently", do you mean that there is no Python stack trace printed out at all?

[2020-02-25 08:18] cjm771 opened #2097 "django debugger"
Issue Type: <b>Performance Issue</b>

my django debugging sessions all of a sudden have become unreliable. often hangs / wont boot up from debug console. have to restart often / resort to not debugging. please assist

Extension version: 2020.2.64397
VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:44:27.652Z)
OS version: Darwin x64 18.7.0

<details>
<summary>Sy

[2020-02-25 18:31] MarkBaggett commented on #2096
I installed the extension, added the configuration and it still does not stop.  As I have not used this extension before can you confirm for me I am doing this correctly?  Here is a gif.

![code_debugger_with_extension](https://user-images.githubusercontent.com/743693/75275712-eaaa4f00-57d2-11ea-915b-600e82c057cb.gif)

[2020-02-26 07:27] DleanJeans commented on #2095
Exactly. A `try except` with `traceback.print_exc()` would be needed, `raise` doesn't even work.

[2020-02-26 23:30] calebho opened #2103 "Disabling "justMyCode" does not allow me to step into stdlib functions"
## Environment data

- VS Code version: 1.42.1
- Extension version (available under the Extensions sidebar): 2020.2.64397
- OS and version: Darwin x64 19.3.0
- Python version (& distribution if applicable, e.g. Anaconda): Anaconda 3.7
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): conda
- Relevant/affected Python packages and their versions:
- Relevant/affected Python-

[2020-02-27 22:12] brando90 commented on #2088
I get an error:
[code]

thanks for the help btw.

[2020-02-27 22:15] brando90 commented on #2088
works, dont forget the money sign! `$`

[code]

[2020-02-28 10:23] keckelt commented on #1979
Hi @int19h

Should I give this another try?

[2020-02-28 17:27] Flintols commented on #2080
have updated to python 3.8.2, besides it not supporting pythonnet, the ptvsd works.

[2020-02-28 17:27] Flintols commented on #2080
also had to install getgauge with --no-deps

[2020-02-28 20:42] pscosta5 opened #2099 "Debug just hangs and does not seem to run Python file"
## Environment data

- VS Code version: 1.41.1
- Extension version (available under the Extensions sidebar): 2020.2.64397
- OS and version: macOS 10.14.4
- Python version (& distribution if applicable, e.g. Anaconda): 3.6.5
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): venv
- Jedi or Language Server? (i.e. what is `"python.jediEnabled"` set to; more info microsoft/vsc

[2020-03-01 01:13] grepusername opened #2098 "Connection Refused 111, Internet Access and Proxies"
## Environment data

- PTVSD version: 4.3.2
- OS and version: Ubuntu 18.04 (and Windows 10, thanks to Remote SSH)
- Python version (& distribution if applicable, e.g. Anaconda): Python 3.6.9
- Using VS Code or Visual Studio: Yes

## Actual behavior
When attempting to debug any code the connection to the debugger is refused with the following message:

    /home/grep_username/venv/tufin_workflows/b

[2020-03-01 04:00] int19h commented on #2098
The connection that it's trying to make should be to 127.0.0.1 - is there anything in your firewall settings that might prevent that?

[2020-03-01 04:59] grepusername commented on #2098
Hey int19h,

There is not:

     ~/sudo ufw status
     Status: inactive

There is nothing much listening at the moment but connecting to a few thing that are listening on relatively arbitrarily ports works fine:

    ~/telnet 127.0.0.1 55443
    Trying 127.0.0.1...
    Connected to localhost.
    Escape character is '^]'.

[2020-03-01 11:22] enigmadevs opened #2101 "Error: no such option: --default"
## Environment data

- VS Code version: 1.42.1
- Extension version (available under the Extensions sidebar): Python 2020.2.64397
- OS and version: Windows 10 64bit
- Python version (& distribution if applicable, e.g. Anaconda): 2.7.14
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): virtualenv
- Relevant/affected Python packages and their versions: XXX
- Relevant/affecte

[2020-03-02 04:22] karthiknadig commented on #2096
@MarkBaggett These settings should be added to user settings not `launch.json`. you can get to it using `ctrl+,` on windows.
[code]

[2020-03-02 06:04] int19h commented on #2099
We'll need some logs to diagnose this. Can you please add `"logToFile": true` to your config in launch.json, and try to reproduce it again? The log files will be in the directory where the extension is installed, with names matching `ptvsd.*.log`.

[2020-03-02 06:05] int19h commented on #2097
Can you provide more information? Specifically, the version of ptvsd that you're using (you can do `import ptvsd; print(ptvsd.__version__)` form the first line of your app to check), and your debug configuration in launch.json.

[2020-03-02 06:07] int19h commented on #2098
Hm... I don't know if that would help, but connection handling is considerably different in the new version of the debugger - can you [try the current pre-release](https://github.com/microsoft/ptvsd/issues/1706#issuecomment-572287267), and see if that makes any difference?

[2020-03-02 06:30] pscosta5 commented on #2099
Hey @int19h !

Is the log I provided not the right one (it's collapsed)?

[2020-03-02 06:55] int19h commented on #2099
It's slightly different - this log is of the IDE interacting with the debugger, but the one you'll get from "logToFile" is from the debugger itself.

[2020-03-02 08:54] tonka3000 commented on #2099
Strange. I have activate `logToFile` but now the problem does not occur 🤔. I will add the log when it happens again.

[2020-03-02 09:38] grepusername commented on #2098
Further testing has revealed that it isn't the proxy access that is the issue but the presence of docker or the docker host address.  Further testing required on my end at least.

[2020-03-02 17:05] oji commented on #2065
Hi @fabioz, can you confirm in which version was this released?  I updated to 5.0.0a12 and still hangs a lot when starting. (I'm using python 3.6).

[2020-03-02 17:53] pscosta5 commented on #2099
@int19h Thanks for the explanation!

[ptvsd.server-52773.log](https://github.com/microsoft/ptvsd/files/4277032/ptvsd.server-52773.log)

[2020-03-02 18:40] int19h commented on #2099
@pscosta5, was it the only log that starts with "ptvsd" there? There should also be `ptvsd.adapter...log` and `ptvsd.launcher...log`.

[2020-03-02 19:13] pscosta5 commented on #2099
[ptvsd.launcher-52769.log](https://github.com/microsoft/ptvsd/files/4277408/ptvsd.launcher-52769.log)
[ptvsd.adapter-52635.log](https://github.com/microsoft/ptvsd/files/4277412/ptvsd.adapter-52635.log)

@int19h You're correct! Apologies for the oversight.

[2020-03-02 19:16] pscosta5 commented on #2099
I wasn't 100% sure those logs were correlated with each other, so I've generated a new trio just in case

[ptvsd.adapter-869.log](https://github.com/microsoft/ptvsd/files/4277433/ptvsd.adapter-869.log)
[ptvsd.launcher-1145.log](https://github.com/microsoft/ptvsd/files/4277434/ptvsd.launcher-1145.log)
[ptvsd.server-1149.log](https://github.com/microsoft/ptvsd/files/4277436/ptvsd.server-1149.log)

[2020-03-02 19:49] iHuahua opened #2100 "Python 2.7 raw_input() bug"
## Environment data

- VS Code version: 1.42.1
- Extension version (available under the Extensions sidebar): 2020.2.64397 (21 February 2020)
- OS and version: Win10 x64
- Python version (& distribution if applicable, e.g. Anaconda): Python 2.7.17 64bit
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): N/A
- Relevant/affected Python packages and their versions: XXX
- Relev

[2020-03-03 04:25] vega1207 opened #2102 "Exception in thread ptvsd.stopping (most likely raised during interpreter shutdown"
Python2.7 scripts executed in the vs code, which will display  "Exception in thread ptvsd.stopping (most likely raised during interpreter shutdown)", but I run the console window, which is good, what's the problem about it, thanks!

[2020-03-03 21:19] int19h commented on #2102
Can you please [try it with the new debugger](https://github.com/microsoft/ptvsd/issues/1706#issuecomment-572287267), and see if that helps?

[2020-03-04 06:50] kangkang59812 commented on #2049
repost. This error makes me crazy.

Version: 1.42.1
Commit: c47d83b293181d9be64f27ff093689e8e7aed054
Date: 2020-02-11T14:44:27.652Z
Electron: 6.1.6
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Darwin x64 19.2.0

[2020-03-04 11:01] fabioz commented on #2049
@karthiknadig do you know at which release https://github.com/microsoft/debugpy/commit/2364dc2e6c9fe5b08dc8478559a389de406513fd landed?

[2020-03-04 13:06] DeshmukhMalhar commented on #2094
After 12 days from my reply, I don't see any updates.
Am I supposed to do anything more?

[2020-03-04 20:42] calebho commented on #2103
Yeah sure @karthiknadig:
[code]

[2020-03-04 20:47] calebho commented on #2103
I don't think `subprocess` is relevant here. The same thing happens if I use an `os` function for instance, i.e.
[code]

[2020-03-05 02:08] karthiknadig opened #2104 "Using latest version of the debugger."
Download and install insiders build of the python extension: https://pvsc.blob.core.windows.net/extension-builds/ms-python-insiders.vsix

![image](https://user-images.githubusercontent.com/3840081/75914276-54e17600-5e09-11ea-8ace-da227fd241fb.png)

To use the new debugger please add the following to your user settings:
![image](https://user-images.githubusercontent.com/3840081/75913463-d7693600-5e

[2020-03-05 02:12] karthiknadig commented on #2104
Note: We are moving to use `debugpy` package as the debugger, so you may see that instead of `ptvsd`

[2020-03-05 14:06] greatsharma opened #2106 "Unable to step into inside conda env, python debugger"
I am using python debugger inside conda env. I set the pythonPath to the conda env bin location. When I using python debugger step into is not working, it is not opening the file to which I want to step into.
Here I placed a breakpoint at line 46 and when I click step into it should ideally go into `__call__` method inside `/home/winter_soilder/anaconda3/envs/pytorch/lib/python3.8/site-packages/to

[2020-03-05 16:55] enigmadevs commented on #2101
No, ptvsd is not in this path.

[2020-03-05 18:34] brainsqueeze opened #2105 "Python debugger variables display "Invalid variable attributes""
Issue Type: <b>Bug</b>

## Expected results
Expect to see all attributes associated with all variables within the current debugger scope.

## Actual results
Most variable attributes are not accessible, and are instead replaced with "Invalid variable attributes".

Extension version: 2020.2.64397
VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:50:36.977Z)
OS ver

[2020-03-05 18:51] karthiknadig commented on #2094
@DeshmukhMalhar sorry for the delayed reply. I think at this point we will need a way to repro this locally. If possible please share a minimal repro.

[2020-03-05 21:25] MarkBaggett commented on #2096
Done.  Didn't seem to make a difference.

![debug_experiment](https://user-images.githubusercontent.com/743693/76027049-f5b15d80-5efd-11ea-9657-3383cd195ce5.gif)

[2020-03-05 21:56] #1824 closed

[2020-03-06 12:12] fabioz commented on #1469
I'm taking a look at this.

[2020-03-06 14:25] MarkBaggett commented on #2096
Im lost.  I reverted to an earlier shapshot and reinstalled the experimental debugger. Then tried again so you could see the entire process.  Hopefully something here stands out to you.

![breakpoint-no-stop](https://user-images.githubusercontent.com/743693/76091595-dc56f280-5f8b-11ea-8b80-d0f0fd1b3a30.gif)

[2020-03-06 16:54] MarkBaggett commented on #2096
Interesting I inspected my settings.json directly rather than going through the visual code interface and it didn't have the changes.  I edited the settings.json directly.   Here is the result.

![breakpoint-no-stop2](https://user-images.githubusercontent.com/743693/76103259-6197d280-5f9f-11ea-955f-5ca513fd6ebd.gif)

[2020-03-07 11:10] #1469 closed

[2020-03-07 14:17] fabioz commented on #2093
Ok, I did the investigation here... what happens is that `pyspark` has 2 threads, the main thread, where commands are requested and a secondary thread which is responsible for handling commands and serving as an intermediate with a java process.

So, when you do `df.show()`, it creates a command and sends it to be processed in the secondary thread which communicates with java.

In the case where `

[2020-03-07 19:33] karthiknadig commented on #2093
@fabioz is `steppingResumesAllThreads` not enough here? If **not** then we should consolidate all other behaviors we want into some simple setting. I don't want to add something like `controlThreadsIndependently`. Because then we have to support all combinations of `steppingResumesAllThreads` and `controlThreadsIndependently`. Instead we could just have behavior based setting. something like `thre

[2020-03-08 03:59] DeshmukhMalhar commented on #2094
I tested this with another python file  in the same project, and I the tab duplication does not happen for it. I don't know why.

### Steps To reproduce :

1. Open a python file in vscode
2. Set some breakpoints
3. Start debug by pressing F5
4. I don.t know if a custom launch config makes any difference or not, but here is mine:
![image](https://user-images.githubusercontent.com/16190134/76156311-

[2020-03-08 05:36] greatsharma commented on #2106
@karthiknadig thanks a lot it's now working like a charm :)

[2020-03-08 05:36] #2106 closed

[2020-03-08 11:43] fabioz commented on #2093
@karthiknadig `steppingResumesAllThreads` is not enough because in this case the user is not stepping (he's just evaluating some code)... so, in this particular case, for things to work, just the thread with the breakpoint has to be stopped and the other thread must be kept running (maybe another option to have this work instead of having threads run independently would be having some setting as `

[2020-03-08 12:39] R0Wi commented on #2101
I have the same problem. I found out that the command would work work fine in python 3.8 environment. The problem is that my project is not compatible with python 3.8 and therefore i have to use python 2.7.

[2020-03-08 12:51] fabioz commented on #1636
I'm taking a look at this.

[2020-03-08 20:05] lefig opened #2107 "wait_fir_attach() hangs"
Hi,

I have the latest VS 2019 and ptvsd but am unable to debug attach into a python session.

I have enabled logging, firewall settings etc. but at a loss to resolve. The following used to work fine in a previous version:

import ptvsd
ptvsd.enable_attach(address=('localhost', 5678), redirect_output=True)
print(f'Python Tool for Visual Studio Debugger {ptvsd.__version__}')
ptvsd.wait_for_attach()

[2020-03-08 21:57] int19h commented on #2107
Can you clarify what you mean by "attach debugger dialog does not get raised"? In a typical VS attach scenario, you have to manually open that dialog, and enter the connection information.

Also, what's the output for `ptvsd.__version__`?

[2020-03-08 22:54] karthiknadig commented on #2093
@fabioz I actually meant completely replace `steppingResumesAllThreads`, with `threadControl` or `controlThreadsIndependently` which ever makes more sense. I want to reduce the number of settings.

@int19h Let me know if you have any ideas.

[2020-03-08 22:57] lefig commented on #2107
The output stops at the line:
Python Tool for Visual Studio Debugger 4.3.2
It used to be the case that the VS IDE Selector dialog would appear prompting to attach to the process. This does not.

I will to attach manually.

[2020-03-08 23:03] lefig commented on #2107
So I try to attach manually direct from VS 2019 using attach to debugger dialog:

![image](https://user-images.githubusercontent.com/11355231/76172720-90c16600-6190-11ea-8423-b2c0629c0fd0.png)

But experience a strange error even after rebooting:

![image](https://user-images.githubusercontent.com/11355231/76172759-eac22b80-6190-11ea-964a-d81bb0732575.png)

I enabled >DebugAdapterHost.Logging /On

[2020-03-09 01:29] kenmillar253 opened #2109 "vscode didn't close all django processes when comment "--noreload""
VSCode Version: 1.42.1

OS Version: Ubuntu 18.04

**Steps to Reproduce:**

- Comment "--noreload" in launch.json
- Press Ctrl + F5 to run the django process.
- Click "stop(Shift + F5)" button to stop all django processes.
- But there is still a process (pid 23069) that has not been closed.
- And its parent process become 1 from 23064

[2020-03-09 11:37] kvdveer commented on #2103
I have found a workaround: Adding `"debugStdLib": true,` to the `launch.json`, allows me to debug outside of my code. (tested with django, not actual stdlib).

`launch.json` editor told me that it's not a valid property, but it does actually have an effect.

[2020-03-09 11:55] fabioz commented on #2103
This should be fixed by https://github.com/microsoft/debugpy/commit/6b335f19e65ed35cde9aa963ff2f74264efad957

[2020-03-09 11:55] #2103 closed

[2020-03-09 11:56] fabioz commented on #2103
As noted, until a new release is done, the workaround is using `"debugStdLib": true`.

[2020-03-09 13:13] fabioz commented on #1636
I haven't been able to reproduce this.

I did find some inconsistencies handling filenames in and provided a pull request for that in https://github.com/microsoft/debugpy/pull/67 and I added a test for what's described in this issue, so, although I haven't been able to reproduce this at least there'sa test which checks this use-case.

[2020-03-09 13:52] GoranDubajic opened #2108 "Debug multiprocess leads to AttributeError Can't get attribute on <module '__main__"
## Environment data

- VS Code version: Version: 1.42.1 (user setup)
Commit: c47d83b293181d9be64f27ff093689e8e7aed054
Date: 2020-02-11T14:45:59.656Z
Electron: 6.1.6
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.18363
- Extension version (available under the Extensions sidebar): 2020.2.64397
- OS and version: Windows_NT x64 10.0.18363
- Python version (& di

[2020-03-10 01:33] kenmillar253 commented on #2109
Sorry, I posted the wrong place

[2020-03-10 03:04] karthiknadig commented on #2109
@kenmillar253 I moved this issue from python extension repo to the debugger repo. This issue should be looked at by the debugger first.

[2020-03-10 05:41] kenmillar253 commented on #2109
Oh! I misunderstood your meaning, thanks!

[2020-03-10 19:37] int19h commented on #2109
This is probably https://github.com/microsoft/debugpy/issues/3

[2020-03-10 19:37] #1636 closed

[2020-03-10 22:27] rADikal8e7 commented on #1706
@int19h After a recent auto update the extension can no longer access the new_ptvsd path. So i keep hitting the error where it accesses the old ptvsd path. I have tried to restore to a dev branch and make sure i opt into the experimental version mentioned in the post above https://github.com/microsoft/ptvsd/issues/1706#issuecomment-572287267 with no luck. Reloaded vs-code insiders a bunch of times

[2020-03-10 23:02] karthiknadig commented on #1706
@rADikal8e7  Can you look at Python output panel? It kind of gives you an idea if the setting was picked up.
![image](https://user-images.githubusercontent.com/3840081/76366895-7dc1a980-62e8-11ea-8772-89d6f520953a.png)

[2020-03-10 23:47] rADikal8e7 commented on #1706
@karthiknadig Hmm.. i dont see those in the output. I have pretty minimalistic settings in the remote settings.json file.

<img width="1274" alt="image" src="https://user-images.githubusercontent.com/6048537/76368667-3d652a00-62ee-11ea-9f26-5c512aff2b43.png">

Nothing shows up in the console output with regards to the exp group. This was taken after a reload.
<img width="1295" alt="image" src="htt

[2020-03-10 23:51] karthiknadig commented on #1706
I think I know the problem, experiments are disabled if telemetry is disabled. Try turning these on:
![image](https://user-images.githubusercontent.com/3840081/76369000-4276a900-62ef-11ea-96f9-4d3f8dab38f0.png)

[2020-03-11 00:00] rADikal8e7 commented on #1706
@karthiknadig That did the trick.

<img width="609" alt="image" src="https://user-images.githubusercontent.com/6048537/76369273-435c0a80-62f0-11ea-988c-2df03e27d725.png">

Earlier telemetry was turned off in the user settings and enabled in the remote settings. I guess it needs to be enabled in both the settings for it to function as intended. Anyways thanks for the help.

[2020-03-11 01:13] memco commented on #2104
Is there anything else not included in the instructions we need to do in order to test this? I downloaded the insiders extension and added those configs, but I don't see that output in the Python output. Attempting this on 1.43 stable on Mac OSX 10.15.3.

[2020-03-11 02:01] karthiknadig commented on #2104
@memco Enable these two settings:
![image](https://user-images.githubusercontent.com/3840081/76374852-8d012100-6301-11ea-8f17-e41c6f8864ec.png)

Experiments are disabled when telemetry is disabled.

[2020-03-11 02:30] kenmillar253 commented on #2109
Hi @int19h , I have check this link https://github.com/microsoft/debugpy/issues/3.
Then install ptvsd-5.0.0a12 and pydevd-1.9.0
The child process is still not auto-kill.

As you mentioned, how can I set launch.json to perform its own cleanup? Which args?

[2020-03-11 03:14] karthiknadig commented on #2109
@kenmillar253 don't install `debugpy`, `ptvsd`, or `pydevd`. This does not matter, since you are using `launch` configuration, the python extension will pick the debugger for you. Follow the instructions here to get the right debugger:
https://github.com/microsoft/debugpy/issues/59

[2020-03-11 06:00] kenmillar253 commented on #2091
Oh! Do you mean it will be released soon?

[2020-03-11 06:13] kenmillar253 commented on #2109
And when this parameter **--noreload** is added, all child processes can be closed. But when comment it, there will be 3 processes, only two of them were killed.

[2020-03-11 06:21] kenmillar253 commented on #2109
![Screenshot from 2020-03-11 14-20-24](https://user-images.githubusercontent.com/61441568/76388234-9773f700-63a3-11ea-93e4-f87974b52c5d.png)

[2020-03-11 06:27] int19h commented on #2109
If you do `import ptvsd; print(ptvsd.__version__)` at the beginning of your code, what does it print?

[2020-03-11 06:33] kenmillar253 commented on #2109
@int19h It print _5.0.0a12_

![Screenshot from 2020-03-11 14-31-46](https://user-images.githubusercontent.com/61441568/76388890-1e759f00-63a5-11ea-947a-d46259a51802.png)

There is one child process not closed with its parent pid become 1
![Screenshot from 2020-03-11 14-30-24](https://user-images.githubusercontent.com/61441568/76388918-2e8d7e80-63a5-11ea-9c40-f67be31f53f4.png)

[2020-03-11 21:41] ashleybartlett commented on #2103
This workaround worked for me.

[2020-03-11 22:33] int19h commented on #2100
The problem is that the extension injects `PYTHONUNBUFFERED` into "env". This is equivalent to `python -u`, and on Windows, it causes `sys.stdin` to be opened in binary mode. And then `raw_input()` is defined as reading characters from stdin until it sees `\n` - so if stdin is in binary mode on Windows, it sees '\r` there first, and it ends up in the string.

The adapter itself has some logic wher

[2020-03-11 22:45] int19h commented on #2094
Are there any differences between the file for which you are seeing double tabs, and the one for which it doesn't happen? E.g. anything unusual about the filename, or a different path?

Perhaps there's any difference in which those files are getting executed by your main script? E.g. one is imported, and the other one is `execfile()`'d, or something similar?

[2020-03-12 03:33] kzhui125 opened #2110 ""Exception has occurred" didn't pop up immediately"
## Environment data

VSCode 1.43.0
Python Extension 2020.2.64387
Python 3.7.5

[code]

debug current python file, set breakpoint at line print test, step over:

Python debugging didn't pop up the error immediately, when I have a long file, it make me confuse.

[2020-03-12 04:26] karthiknadig commented on #2110
Do you have both these options ticked?
![image](https://user-images.githubusercontent.com/3840081/76487147-be035380-63de-11ea-90dd-6b477c28812b.png)

[2020-03-12 05:49] kzhui125 commented on #2110
@karthiknadig thanks, "Raised Exceptions" is not ticked

[2020-03-12 05:49] #2110 closed

[2020-03-12 11:01] fabioz commented on #2094
@DeshmukhMalhar can you provide the logs for a session run where you have breakpoints in both versions of the file and it opens both after breakpoints hit?

Some notes on how to do that:

1. Please make sure that you're using the latest version of the debugger  (see: https://github.com/microsoft/ptvsd/issues/2104 to check how to do that).

2. Make a debug run and provide the logs.

i.e.:

* Open V

[2020-03-12 12:12] fabioz commented on #2093
Well, the first thing I think is defining whether we should support `Visual Studio` or if it`s ok to support just for `Visual Studio Code` for this use case -- if `Visual Studio` needs to be supported, then we need the feature that `evaluateResumesAllThreads` (and I don't think we can really remove the feature for `steppingResumesAllThreads`, so, I find it hard to unify under a single setting).

@

[2020-03-12 15:16] dpalmetzvbg opened #2112 "Python-Extension: Debugger not running with Python 2.7"
When trying to make a python-program with VSCode (Python 2.7.14) and run the debugger, an exception occurse. The program is very small:

Everything works perfectly well with python-3 environments.

[code]

Running without debugger is possible.

## Environment data

- VS Code version: 1.43.0
- Extension version (available under the Extensions sidebar): Python-Extension 2020.2.64397
- OS and version

[2020-03-12 17:06] mneil opened #2111 "Adding ptvsd breaks pytest coverage"
## Environment data

- PTVSD version: 4.3.2
- OS and version: [python:3](https://hub.docker.com/_/python) (debian buster) Container
- Python version (& distribution if applicable, e.g. Anaconda): 3.8.1
- Using VS Code or Visual Studio: VSCode

## Actual behavior

Coverage report reads 0% covered. Html output shows 0 coverage

## Expected  behavior

89.92% covered

## Steps to reproduce:
1. Create

[2020-03-12 17:21] int19h commented on #2111
This is sort of by design - ptvsd and codecov use the same Python tracing hook for different purposes, and so whichever one gets hold of it last is the one that works.

[2020-03-12 17:30] karthiknadig commented on #2112
Can you try with the new debugger? Instructions here on how to turn it on.
https://github.com/microsoft/ptvsd/issues/2104

[2020-03-12 17:46] mneil commented on #2111
Ok, so maybe there's a better way to do what I'm hoping to do. My setup is vscode on my host machine, my application is mounted into a running container (I can't use vscode remote for various reasons) and I want to attach the debugger sometimes, but I want to unit test and check coverage quite often.

My conftest can be as simple as:
[code]

Where I set DEBUGGER to anything in my terminal running

[2020-03-12 17:52] mneil commented on #2111
I guess I'm not sure how to use ptvsd from the cli with pytest. Running

[code]

Gives me an error when I attach the debugger, `No such file or directory: 'pytest'` which makes sense - because ptvsd is looking for a module to target but is getting pytest instead.

[2020-03-12 18:09] int19h commented on #2111
Just like with Python itself, you need to use `-m pytest` to indicate that the command line argument is a module rather than a filename.

[2020-03-12 19:17] mneil commented on #2111
That works. I'm about a year into writing python so it wasn't immediately obvious to me based on the documentation that I'd need -m twice. In my mind, the `-m` prefixed in all calls in the readme was the typical `python -m` and I thought you just left out the python part. The help docs state `-m <module>`, which again, I confused with python module. This probably makes perfect sense if you work on

[2020-03-12 19:17] #2111 closed

[2020-03-13 00:18] int19h commented on #2105
Could you please share the output of `import ptvsd; print(ptvsd.__version__)` somewhere in your code?

[2020-03-13 00:39] int19h commented on #2101
Try it [with the prerelease version of the new debugger](https://github.com/microsoft/ptvsd/issues/2104).

[2020-03-13 00:41] int19h commented on #2095
I think this is because the framework being used catches and swallows the exception, so it's not uncaught as far as Python itself is concerned - not much we can do here. You can set the checkbox on "Raised exceptions" to get a notification when the exception occurs in your code, but that will also trigger if you catch it yourself, unfortunately.

[2020-03-13 00:44] int19h commented on #2105
(likely dupe of #2080)

[2020-03-13 08:15] DleanJeans commented on #2095
Thanks for responding.

[2020-03-13 08:15] #2095 closed

[2020-03-13 10:51] brainsqueeze commented on #2105
@int19h the version is `'4.1.3'`. I am debugging inside of a Docker container and I am now realizing that I had frozen the ptvsd version on the requirements for the build. I have been debugging other projects that are not running inside of containers and the ptvsd version is not fixed, and those sessions display variables correctly. I will remove the ptvsd version requirement from the Docker build

[2020-03-13 11:16] fabioz commented on #2095
As a workaround you can do yourself here, you can run with a breakpoint in the place where the unhandled exceptions are handled by the framework (which for this case seems to be `discord/ext/tasks/__init__.py` -- look for `log.exception('Internal background task failed.')`).

You should also be able to setup the logging machinery so that it prints that exception (i.e.: something as https://stackov

[2020-03-13 14:33] fabioz commented on #2108
I don't have exactly the same error with the latest version, but I do have an error:

![image](https://user-images.githubusercontent.com/117621/76630015-0ffec300-651e-11ea-8cba-1ba279039372.png)

The launch is:
[code]

The logs are:
[debugpy.pydevd.4404.log](https://github.com/microsoft/ptvsd/files/4330045/debugpy.pydevd.4404.log)
[debugpy.pydevd.17868.log](https://github.com/microsoft/ptvsd/files

[2020-03-13 17:23] fabioz commented on #2108
I believe this is because in a request `debugpy` seems to be passing `subProcessId` and not `processId` (see `debugpyAttach` in `debugger.vscode_db4faac6-be95-4217-852e-8bdb13718f03.log`) @karthiknadig @int19h can you give more info here?

-- Note: using plain `pydevd` this seems to work and I believe this is some issue in the `vscode-python`/`debugpy` integration -- note that I'm using the latest

[2020-03-13 18:14] int19h commented on #2105
Thanks! Feel free to reopen if it still repros for you.

[2020-03-13 18:14] #2105 closed

[2020-03-13 18:18] int19h commented on #2108
@fabioz
"subProcessId" is correct. What's different with `debugpy` master is that it's passing the host/port info inside "connect" now, rather than the top-level host/port. We have the corresponding change in the extension, it just didn't get into a build yet.

For now, you either need to use https://github.com/microsoft/debugpy/commit/2d013e58ec7fe4d6a1ead6c20537ab9bc4564f65 to match the public v

[2020-03-13 18:19] int19h commented on #2108
And yes, this is likely to be an issue with sys.argv handling when debugpy is doing command line parsing. I'll investigate.

[2020-03-13 18:54] fabioz commented on #2108
Thanks, that does the trick for me.

[2020-03-13 22:53] justin8953 opened #2113 "Cannot not close the Django server when stop debugging in Django"
There was an issue that I tried to use debug in Django.
When I saved my change several times and I tried to restart debug, it can't restart.
Even I closed the VS code, it will still used the port I ran before.
What's worse, I tried to kill the port which I used, it still kept using.

[2020-03-16 13:00] dpalmetzvbg commented on #2112
No, still the same result (installed and reloaded the extension and the editor).

cd 'd:\temp\test2'; ${env:PYTHONIOENCODING}='UTF-8'; ${env:PYTHONUNBUFFERED}='1'; & 'C:\Python27\ArcGIS10.4\python.exe' 'c:\Users\bkor\.vscode\extensions\ms-python.python-2020.4.68094-dev\pythonFiles\ptvsd_launcher.py' '--default' '--client' '--host' 'localhost' '--port' '52565' 'd:\temp\Testöaäpui\test2.py'
Tracebac

[2020-03-16 13:08] dpalmetzvbg commented on #2112
I followed the install-instructions, but it seems that the experimental debugger is not used, I do not get these messages mentioned in the link you sent me.
Greetings,
Didi

Von: Karthik Nadig <notifications@github.com>
Gesendet: Donnerstag, 12. März 2020 18:31
An: microsoft/ptvsd <ptvsd@noreply.github.com>
Cc: Palmetzhofer Dietmar <Dietmar.Palmetzhofer@vorarlberg.at>; Author <author@noreply.githu

[2020-03-16 16:48] karthiknadig commented on #2112
@dpalmetzvbg Check these settings, they should both be checked:
https://github.com/microsoft/ptvsd/issues/2104#issuecomment-597405499

If that do not fix then  check the extension folder to see if multiple version of python extension are installed?
If so, then delete them all and follow instructions again https://github.com/microsoft/ptvsd/issues/2104

If that does not work, please share your sett

[2020-03-16 18:54] MarkBaggett commented on #2096
Does this help?   Does the roaming profile have something to do with this problem?

[2020-03-17 06:20] dpalmetzvbg commented on #2112
I reinstalled the python extension, and there is only one extension, and also reinstalled the experimental extension, but it still does not work.
Here are my settings:

{
    "python.pythonPath": "C:\\Python27\\ArcGIS10.4\\python.exe",
    "python.venvFolders": [
        "C:\\Program Files\\ArcGIS\\Pro\\bin\\Python",
        "C:\\<somefolder>\\Python\\VirtualEnv\\Django"
    ],
    "python.linting

[2020-03-17 06:55] dpalmetzvbg commented on #2112
Now the experimental debugger is running, had to enable the telmetry-setting (the world belongs to those who read ‘till the end).
But still no success:

${env:DEBUGPY_LAUNCHER_PORT}='63681'; & 'C:\Python27\ArcGIS10.4\python.exe' 'c:\Users\<user>\.vscode\extensions\ms-python.python-2020.4.68094-dev\pythonFiles\lib\python\debugpy\no_wheels\debugpy\launcher' 'd:\temp\Testöaäpui\test2.py'
debugpy 1.0.

[2020-03-17 08:03] int19h commented on #2112
You're hitting https://github.com/microsoft/debugpy/issues/69 now. We already have a fix, but until it gets into a new release, the workaround is to not use paths with non-ASCII characters on Python 2.7.

[2020-03-17 08:08] dpalmetzvbg commented on #2112
Yes, seems to be the same problem. Waiting for the fix.

Von: Pavel Minaev <notifications@github.com>
Gesendet: Dienstag, 17. März 2020 09:03
An: microsoft/ptvsd <ptvsd@noreply.github.com>
Cc: Palmetzhofer Dietmar <Dietmar.Palmetzhofer@vorarlberg.at>; Mention <mention@noreply.github.com>
Betreff: Re: [microsoft/ptvsd] Python-Extension: Debugger not running with Python 2.7 (#2112)

You're hitting m

[2020-03-17 17:31] nandan-rpa commented on #1291
It worked for me
I had code 'import pandas as pd'

but once on that step, we need to step-over else debugger gets into the 'pandas' routine..

[2020-03-17 19:48] int19h commented on #2112
Thank you for confirming! I'm going to close this issue as a duplicate.

[2020-03-17 19:48] #2112 closed

[2020-03-17 21:33] int19h commented on #2108
Turns out this is a quirk of `multiprocessing` module - it's sensitive to the exact point where it gets imported.

When it spawns child processes, the main script is run as `__mp_main__`, to avoid running the part that's inside `if __name__ == "main": ...`. This means that in the child process, Foo's qualified name is actually `__mp_main__.Foo`, and it's pickled as such to marshal it back to the p

[2020-03-17 21:44] rjungwirth opened #2114 "ptvsd import suppresses coverage reporting"
## Environment data

- PTVSD version: 4.3.2
- OS and version: Mac OS X 10.14.6
- Python version (& distribution if applicable, e.g. Anaconda): python 3.7.3 + coverage-5.0.4
- Using VS Code or Visual Studio: N/A

## Actual behavior

import ptvsd module suppresses coverage reporting for all execution after import

## Expected  behavior

importing ptvsd should not cause coverage reporting to be supre

[2020-03-17 21:50] rjungwirth commented on #2114
this is a big "gotcha"!  Simply importing PTVSD suppresses code coverage regardless of whether you use the functionality or not.

Please add a note to the documentation so others don't waste their time figuring out what is wrong with their code!

[2020-03-17 21:52] int19h commented on #2114
This shouldn't be the case for ptvsd 5.x / debugpy anymore, since it doesn't import pydevd unless and until the module is actually used - merely importing it does nothing.

[2020-03-17 21:52] #2114 closed

[2020-03-18 05:05] int19h commented on #2108
@fabioz, it looks like `pydevd` itself indirectly imports `multiprocessing` on Python 3.6 and below. I added a traceback to `multiprocessing/__init__.py`, and got this trying to debug an empty script:
[code]
The dependency chain is pydevd -> pydevd_concurrency_analyser -> asyncio -> multiprocessing. It doesn't occur on 3.7+, probably because asyncio doesn't import multiprocessing there.

Can this

[2020-03-18 11:23] fabioz commented on #2108
Thanks for the investigation. I've just fixed the part related to `pydevd` in https://github.com/microsoft/debugpy/pull/78 (i.e.: `asyncio` is no longer imported there).

[2020-03-18 12:59] Sutyke commented on #1291
Any idea about solution?

I'm getting similar error on ubuntu 18.04. When I step in to the code with VSCODE I get "Could not load source '<expr>': Source unavailable." .

I would advice to use PyCharm as there there is excellent debugger where step in to the code works.

BTW: Is it possible to implement the same solution that is in pycharm, with 2 buttons for 1) step in and 2) step in my code?