[2019-09-03 23:07] #868 closed

[2019-09-03 23:10] gramster commented on #918
No upvotes (apart from Don); closing for now.

[2019-09-03 23:10] #918 closed

[2019-09-03 23:19] gramster commented on #986
ngrok is closed source now.

[2019-09-03 23:19] #986 closed

[2019-09-03 23:20] #993 closed

[2019-09-03 23:25] gramster commented on #1154
Will be fixed by new adaptor.

[2019-09-03 23:25] #1154 closed

[2019-09-03 23:29] gramster commented on #1175
Python 2 only; closing.

[2019-09-03 23:29] #1175 closed

[2019-09-03 23:32] gramster commented on #1237
Fixed in the new adaptor.

[2019-09-03 23:32] #1237 closed

[2019-09-03 23:34] gramster commented on #1278
Fixed for launch in new adaptor; no way to fix for attach.

[2019-09-03 23:34] #1278 closed

[2019-09-03 23:39] gramster commented on #1283
This problem should go away once we support fork.

[2019-09-03 23:39] #1283 closed

[2019-09-03 23:53] gramster commented on #1379
Closing; we aren't going to do anything here.

[2019-09-03 23:53] #1379 closed

[2019-09-03 23:54] gramster commented on #1397
Low priority; closing.

[2019-09-03 23:54] #1397 closed

[2019-09-03 23:57] gramster commented on #1427
Closing as we are unlikely to do anything here.

[2019-09-03 23:57] #1427 closed

[2019-09-03 23:58] gramster commented on #1437
We can't repro this; closing.

[2019-09-03 23:58] #1437 closed

[2019-09-04 00:07] gramster commented on #1476
Dup of #1168

[2019-09-04 00:07] #1476 closed

[2019-09-04 00:19] Almenon commented on #1379
@fabioz given that this is a CPython bug I created a bug report there: https://bugs.python.org/issue38023

[2019-09-04 00:20] gramster commented on #1535
Done

[2019-09-04 00:20] #1535 closed

[2019-09-04 02:10] karthiknadig commented on #1722
Done

[2019-09-04 02:10] #1722 closed

[2019-09-04 02:10] karthiknadig commented on #1721
Done

[2019-09-04 02:10] #1721 closed

[2019-09-04 07:16] karthiknadig commented on #1737
Blocked currently due to `The parameter is incorrect.` error when injecting code:
[code]

[2019-09-04 10:53] geajack opened #1751 "Unexpected behavior when debugging standard library"
## Environment data

- VS Code version: 1.37.1
- Extension version (available under the Extensions sidebar): 2019.8.30787
- OS and version: Regolith (Ubuntu 19.04)
- Python version (& distribution if applicable, e.g. Anaconda): 3.7
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): N/A
- Relevant/affected Python packages and their versions: asyncio
- Jedi or Language Serve

[2019-09-04 20:42] li-dennis commented on #1741
@fj128

Sorry for the late reply, just got back from travels. The numbers I provided were without breakpoints, but thanks for the additional info. Certainly sounds like this might be a more fundamental issue with the python debugger.

@fabioz
Sure.

Here's the test script and numbers
[code]

Running it via vscode: 57.761738491
Running it via python: 28.302422231

(Slow down is not as bad, I think

[2019-09-05 19:01] karthiknadig opened #1748 "See if we can reuse infrastructure for multiproc for attach to process by pid"
Currently we have a bit of code that we inject into the target process while attaching by `pid`. This code is doing things similar to what we do for sub-processes. It looks like we can use the same code (from sub-process) for attach to pid.

[2019-09-05 19:03] karthiknadig commented on #1736
This will be done using debug adapter tracker.

[2019-09-05 19:03] #1736 closed

[2019-09-05 19:13] karthiknadig commented on #1746
This is mostly addressed in the refactor branch.
@fabioz does pydevd have any code at exit that might affect this?

[2019-09-05 20:11] fabioz commented on #1746
I think this should be double-checked (pydevd has a non daemon thread that
was the culprit of something similar in another web framework,  so it's
possible this is a problem here too) and depending on how it's started it
may also add some cleanup to atexit... I can take a look at this (I'm
finishing the issue on PyPy and I can take a look at this afterwards).

On Thursday, September 5, 2019, Karth

[2019-09-06 04:11] #1737 closed

[2019-09-06 19:04] karthiknadig opened #1749 "Refactor branch: Move new tests from master"

[2019-09-08 22:22] karthiknadig opened #1754 "Sequence diagrams and architecture diagrams for the debugger"

[2019-09-09 09:25] int19h opened #1755 "pydevd does not support "terminate" nor "terminateDebuggee""
Curiously, the "initialize" response claims that it does, although that particular item in it is also misspelled:
[code]
Either way, in practice it doesn't do anything. Thus, there's currently no way to terminate the process when the launcher is not in the picture - e.g. for all attach scenarios.

This is going to be less important once we do #1712, since then the adapter can kill the process by P

[2019-09-09 15:06] fabioz commented on #1741
Well, if your figures are 28s without debugging and 57s with debugging, it's doing a **great** job performance-wise in that test-case.

Just to compare some numbers, using the simplest possible trace function (which returns itself):

[code]

I have the following numbers:

Plain python: around 5s
With debugger: around 15s
With that simple trace function: 45s

So, I'd say it's doing a great job... t

[2019-09-09 16:47] fj128 commented on #1741
@fabioz if you try `python -m pdb test.py`, you'll notice that when there's no breakpoints, there's no overhead whatsoever, because it just doesn't sys.settrace if it doesn't have anything meaningful to do, so there's that performance optimization possibility.

There could be complications with dropping into a debugger on an uncaught exception if ptvsd does it differently than pdb, but otherwise i

[2019-09-09 17:42] fabioz commented on #1741
@fj128 well, if you do a pdb as you said and continue, it really does nothing and as it's not interactive you can't add breakpoints later and it can promptly remove any tracing, so, you're not really comparing the same things (`ptvsd` can start without any breakpoints and needs to add them later on or even respond to a pause at any time).

Also, you can see that the debugger is already much faster

[2019-09-09 17:42] #1741 closed

[2019-09-09 18:53] #1749 closed

[2019-09-09 20:04] karthiknadig commented on #1704
closing this for now. Please reopen when logs are available.

[2019-09-09 20:04] #1704 closed

[2019-09-09 20:23] karthiknadig commented on #525
@fabioz Should this be enabled via launch json as well? We no longer use `apply_debugger_options` in the refactored branch.

[2019-09-09 20:40] karthiknadig commented on #1353
Looks like this is fixed in the latest version. Please reopen if it still repros.

[2019-09-09 20:40] #1353 closed

[2019-09-09 20:43] karthiknadig commented on #749
I was not able to repro this with the latest version. Please reopen if seen again.

[2019-09-09 20:43] #749 closed

[2019-09-09 20:52] karthiknadig commented on #750
I can repro this in `4.2.10` but not in `4.3.2`. We addressed this type of issue specifically by introducing a feature flag. By default, while stepping all other threads will continue and pause at the end of the step. This is the expected policy in VS.

[2019-09-09 20:52] #750 closed

[2019-09-10 10:51] #835 closed

[2019-09-10 15:03] fabioz commented on #1755
@karthiknadig @int19h I started to do this, but one thing that I just realized is that it should not only kill the process itself, it also needs to kill child processes to avoid leaving any zombie processes there.

So, usually I'd rely on `psutil` for this, but I don't think we want to add that dependency, so, I was thinking about calling externally `taskkill /PID /T` on Windows and `kill -STOP/pg

[2019-09-10 19:45] int19h commented on #1755
Killing child processes isn't always desirable - especially on Win32, where a parent/child relationship doesn't imply ownership. One process might spawn another process that is semantically unrelated and is not controlled. On the other hand, there are clearly many scenarios where child processes are, essentially, components of the parent process.

We discussed this several times, but couldn't come

[2019-09-10 19:51] int19h opened #1759 "pydevd should report parent process ID in "initialize" response"
This is mostly to allow us constructing a proper process tree inside the adapter. With the current proposed design, we know that an incoming server->adapter connection is a subprocess, if it's not the first such connection - the root process is always the first, and everything else is its subprocess. The access tokens ensure that there are no spurious connections.

However, in the case where you h

[2019-09-10 20:05] fabioz commented on #1755
Humm, I'm not sure about that arrangement... if we're all in Python subprocesses this works, but if the user spawns a non-Python process it won't stop that process as we won't attach to it.

-- as a note, in Eclipse/PyDev all processes are always killed and I never had any complain about that -- I only ever had complains that a subprocess was not killed and had 0 complains after always killing eve

[2019-09-10 21:01] karthiknadig opened #1760 "Disconnect and reconnect via pid should work when using --client mode"
Currently you can attach to a process by pid. But detach and re-attach fails. when using --client.

[2019-09-10 23:08] civilman628 commented on #1443
I add these 2 lines above, but the issue is still there.

E00032.889: Exception escaped from start_client

            Traceback (most recent call last):
              File "/home/mingming/.vscode/extensions/ms-python.python-2019.9.34911/pythonFiles/lib/python/ptvsd/log.py", line 110, in g
                return f(*args, **kwargs)
              File "/home/mingming/.vscode/extensions/ms-python.pyt

[2019-09-10 23:39] michaeljquinn commented on #1483
I am getting exactly the same issue
Windows 10 - 6.1.7601
VS Code 1.38.0
Electron 4.2.10
Chrome 69.0.3497.128
Node.js 10.11.0
V8 6.9.427.31-electron.0

No evidence of the python extension fixing this :-(

setting "justMyCode" false in launch config results in the following stack trace (same behaviour in unitTest as well)

removing the catching Raised and Uncaught Exceptions removes this error
and

[2019-09-10 23:46] karthiknadig commented on #1483
@michaeljquinn This looks like a different issue. Can you create a separate bug? Also share your launch json.

[2019-09-11 09:36] michaeljquinn commented on #1483
I will share the launch.json , but I cant find a launch.json when running/debugging a unitTest ?

[2019-09-11 14:17] karthiknadig commented on #1443
@civilman628 Create a new bug, if possible share your code. Also share the launch.json config that you are using.

[2019-09-11 14:33] karthiknadig commented on #1483
@michaeljquinn  for tests a default launch.json config is used. You can add one yourself like this. You can also disable just my code wile debugging tests this way. Try with this.
[code]

[2019-09-11 17:25] civilman628 opened #1761 "when I debug, I meet: Runtime Error: Already started in multiprocess"
## Environment data

- PTVSD version: 4.3.2
- OS and version: Ubuntu 18
- Python version: 3.6.8    (**I am using virtual env** )
- Using VS code 1.38

same as #1443

i already add these 2 lines in my code:

[code]

[code]

my launch.json:

[code]

settings.json

[code]

do i need to modify launch.json? When I debug, I can see my python venv in effect.

[2019-09-11 17:32] karthiknadig commented on #1761
@civilman628 Which config from the launch,json are you using? I don't see `"subProcess": true` in any of the debug configurations.

[2019-09-11 17:50] civilman628 commented on #1761
@karthiknadig  This is my question as well, in order to use python virtual environment for multiprocessing. How do i need to change launch.json?  currently, only **settings.json** has my python path **"python.pythonPath": "venv/bin/python"**

[2019-09-11 18:00] karthiknadig commented on #1761
Ah I see, for any configuration you are using add the `"subProcess": true,` setting. This will enable sub-process debugging in the python extension.
[code]
As long as the venv pat is set in the settings this should be good.

In your code, where you add these lines matters. Can you share your code? Are you using `ptvsd.enable_attach()` in your code?
[code]

[2019-09-11 18:24] civilman628 commented on #1761
I do not use **ptvsd.enable_attach()**

I can't paste all my code here, but here is the top part our my python file that i need to run, i am not sure it is enough.

[code]

There is an __init.py__ file in the same folder as of above file that contain the lines below

[code]

I should add the 2 lines below in which file and which section?

[code]

[2019-09-11 18:38] fabioz commented on #1751
I just checked and the behavior seems correct -- `asyncio.Task` is actually from the native `_asyncio` module, so, we can't really step into it because it's not pure-python code.

If you replace the lines:

`import _asyncio` with `raise ImportError()` in `asyncio/tasks.py`, when stepping in you do get where you expect.

So, closing because things are working as expected here.

[2019-09-11 18:38] #1751 closed

[2019-09-11 18:50] karthiknadig commented on #1761
I am assuming you are using the following configuration to launch:
[code]
It should go before anything thing gets imported. Try adding it before `import json`.

[2019-09-11 19:12] fabioz commented on #1746
I haven't been able to reproduce this (I tried it with Python 3.7 on Linux and on Mac).

I'm trying to reproduce by getting the sample code provided, running it in the debugger and then pressing `Ctrl+C` in the terminal (and I didn't get any error -- I tried raising the sleep value up to `10` and it still works for me).

Now, I'm thinking a bit more about the actual issue at hand and I don't think

[2019-09-11 19:20] civilman628 commented on #1761
i add **"subProcess": true**, to the json file and add these 2 lines at the very top of the code, but the error is the same.

[2019-09-11 19:45] civilman628 commented on #1761
I am running my code in a Ubuntu VM that is hosted by windows 10. Is this config impact multiprocess?

[2019-09-11 20:43] karthiknadig commented on #1761
No, it should not. Really what is happening is somewhere some library is calling `os.fork` or via native code. Or the `multiprocessing.set_start_method('spawn', True)` is not getting set early enough.

@fabioz Any ideas on how we can get the stack from where the fork is being called? looks like `os` * imports a bunch of functions including `fork` from `posix`. Then deletes `posix`. It looks like `

[2019-09-11 20:45] karthiknadig commented on #1761
Note that if `os.fork` is directly being called or it is using some native API. Then the `spawn` workaround will not work. We are working on a fix for it so the `spawn` workaround will not be needed.

[2019-09-11 22:04] civilman628 commented on #1761
I just have a check, my code does not has `os.fork `then it should be used by native API

[2019-09-11 23:57] gramster opened #1764 "Ignored breakpoint"
https://github.com/microsoft/vscode-python/issues/5296#issuecomment-525500454

From user @danielboth:

I got a similar issue where a breakpoint is ignored by vscode. Some details on my setup first:

VS Code version: 1.37.1
Extension version: 2019.8.30787
OS and version: Windows 10 1903
Python version: 4.7.4
Type for virtual environment used: venv
Relevant/affected Python packages and their version

[2019-09-12 01:08] int19h commented on #1764
@danielboth, can you please clarify - are you placing test.py _inside_ the venv folder?

[2019-09-12 07:42] jamesstidard commented on #1746
Hi @fabioz,

Thanks for the follow up.

I've tried running that via the integrated VSCode terminal using `python main.py` and killing it with `ctrl+c` and it behaves fine.

It does seem to be consistent for me that it'll error and lock up the integrated terminal when running via the VSCode debugger.

If I switch VSCode to run in an external terminal instead it behaves fine as well. so maybe that's

[2019-09-12 07:47] jamesstidard commented on #1746
Oh I just clocked you said you were using ctrl+c in the integrated terminal when you tried to reproduce and all was fine. I see the same. I only see it when using the VSCode Stop button in the debugger.

[2019-09-12 18:31] #39 closed, assigned to karthiknadig

[2019-09-12 20:41] karthiknadig opened #1765 "Need a way to peek at DAP messages received by the debug server."
See comment here for one case where we need it:
https://github.com/microsoft/ptvsd/issues/1712#issuecomment-530983842

[2019-09-12 21:24] karthiknadig opened #1766 "Support for enable_attach with port 0"
This is needed for DS extension.

[2019-09-13 10:48] int19h opened #1769 "Logpoint messages aren't printed for "launch""
For breakpoints with "logMessage", when they're hit, pydevd sends an "output" event with `"category": "stdout"`, but doesn't actually print that message to stdout. Since we're now capturing the output directly from the process for launch scenarios, this means that the event from the server is ignored by the adapter on the assumption that launcher will supply more accurate output. In this case, the

[2019-09-13 10:48] int19h commented on #1769
`test_log_point` currently fails in the refactor branch due to this bug.

[2019-09-13 16:43] karthiknadig opened #1770 "Refactor branch: Remove all usage of debug_options"
We plan on deprecating `debug_options`. It was there to support the old way of VS passing the debug options. Going forward all settings will be read directly as json settings.

@DonJayamanne : I saw the subProcess setting was changed to autoAttachChildProcesses. When such changes occur you may have to proxy the new setting to set the old setting until debugger is updated. i.e., if users set autoAt

[2019-09-13 19:50] karthiknadig commented on #1769
I think option 1 is OK.
@fabioz /cc

[2019-09-13 21:10] karthiknadig opened #1771 "Need a way to launch python executable without subprocess patching"
~In `enable_attach` we plan on starting the adapter as a subprocess. To avoid pydevd from using patched apis to create the sub-process we want to patch for multiproc after spawning the adapter process. Looking at the code in pydevd it seems like it save the `patch_multiprocessing` setting value and reuses that later.~

[2019-09-13 21:30] int19h commented on #1771
Alternatively, we need a way to make subprocess detouring not apply to `ptvsd.adapter`. This is a more generic approach, since it can accommodate other debugger helper processes in the future, regardless of when they're spawned.

It seems like the easiest way to do so would be to apply the existing pydevd `dont_trace` patterns to subprocesses. Since we already add the entire ptvsd/ there, it would

[2019-09-13 22:12] civilman628 commented on #1761
May I know if there is any rough estimation that how long this issue will be fixed?

[2019-09-15 07:47] DonJayamanne opened #1773 "gevent setting does not fix debugging code using gevent"
@picklit commented on [Sun Sep 15 2019](https://github.com/microsoft/vscode-python/issues/7401)

## Environment data

- VS Code version: 1.38.0
- Extension version (available under the Extensions sidebar): 2019.9.34911
- OS and version: Ubuntu 18.04.3 LTS (4.4.0-18362-Microsoft x86_64)
- Python version (& distribution if applicable, e.g. Anaconda): 3.6.8
- Type of virtual environment used (N/A | v

[2019-09-16 06:32] karthiknadig commented on #1773
@picklit Can you try adding `"justMyCode": false,` in your launch json? It might reveal some additional info.

You can enable debugger logging using the following environment variables:
[code]
These can be set using "env" files in the launch json. Ensure that the `/home/user/logs` directory exists before running.

[2019-09-16 11:07] fabioz commented on #1773
@karthiknadig I think this is expected in the main branch (and should be fixed in the refactor branch).

There are many assumptions regarding threads that aren't true with `gevent` and I don't think the code in `master` deals properly with that (so, I think we should revisit this when the refactor branch stabilizes).

[2019-09-16 12:22] fabioz commented on #1769
I think doing this change is ok (so that we have a way to know what's generated from the debugger and what comes from the user output), but, regardless of that, the way I see it, on launch scenarios we should not be redirecting the output at all (i.e.: in which case the adapter would not receive any `output` events for user output anyways).

[2019-09-16 12:34] fabioz commented on #1771
How about creating an api for that?

Something as:

[code]

The implementation would be pretty straightforward (it would create a thread local variable to apply that option only to the current thread and would skip the arg patching in that context).

The downside I see on the `dont_trace` approach is that it's possible that you do want to execute some subprocess with tracing (say on some jupyter d

[2019-09-16 12:35] int19h commented on #1769
Oh, so basically, just don't propagate "RedirectOutput" debug option to pydevd for "launch"?

[2019-09-16 12:38] fabioz commented on #1769
Yes

[2019-09-16 12:40] int19h commented on #1771
This sounds nice, especially since it could also be used by non-debugging infrastructure that embeds the debugger (e.g. on Azure) for their own helper processes. And we could even expose it to end users, if there's demand for it.

[2019-09-16 12:42] fabioz commented on #1771
Ok, I'll go forward with that approach then.

[2019-09-16 14:06] int19h commented on #1769
Indeed! Doing this, and propagating all remaining (i.e. synthetic) "output" events from the server, fixes the original issue.

We do have a different problem though... since regular output and logpoint output is now captured differently, this means that logpoints get out of sync wrt output. E.g. if you do:
[code]
the end result is sometimes `"foo\nbaz\nbar"`.

Fixing this properly would be complic

[2019-09-16 19:23] picklit commented on #1773
@karthiknadig I made the config changes you requested, and have attached the log files here from my debug attempt here.

I started the debugger session, the 1st breakpoint on the 'import locust' worked.  When I clicked continue, it again 'hung' I ended the debugging session.

[debug_logs.zip](https://github.com/microsoft/ptvsd/files/3617838/debug_logs.zip)

[2019-09-16 21:05] #1732 closed

[2019-09-16 21:05] #1725 closed

[2019-09-16 22:35] karthiknadig opened #1776 "Update multiprocess tests"

[2019-09-17 02:23] #1765 closed

[2019-09-17 05:48] DonJayamanne opened #1777 "python debug报错"
@Troot8550 commented on [Tue Sep 17 2019](https://github.com/microsoft/vscode-python/issues/7429)

f5调试 直接报错

Traceback (most recent call last):
  File "c:\Users\Administrator\.vscode\extensions\ms-python.python-2019.9.34911\pythonFiles\lib\python\ptvsd\_vendored\pydevd\_pydevd_bundle\pydevd_trace_dispatch_regular.py", line 440, in __call__
    file_type = py_db.get_file_type(frame, abs_path_real_

[2019-09-17 06:09] karthiknadig commented on #1777
Please reopen the bug with [additional details](https://github.com/microsoft/ptvsd/issues/new?template=bug_report.md). Also include output of `sys.getdefaultencoding()` and `sys.getfilesystemencoding()` for your environment.

[2019-09-17 06:09] #1777 closed

[2019-09-17 15:36] AndreasBackx opened #1778 "Definitive settings for Django when using reload?"
I've been trying to piece all of the information together from the various issues here on using Django's reload functionality with ptvsd. Currently I'm not even sure what is supported.

The custom protocol arguments seem to have been removed from VS Code [in August 2018](https://stackoverflow.com/questions/54225255/property-debugoptions-is-not-allowed#comment95463379_54225255) though the README st

[2019-09-17 19:36] karrtikr opened #1780 "After 1.38.1 Update: Internal error detected. Please copy the above traceback and report"
@TurboCooler commented on [Mon Sep 16 2019](https://github.com/microsoft/vscode-python/issues/7428)

I can no longer debug.  I get the same error even if I try to debug a simple print statement.  It is like stuck on some cache of files that it cannot forget
[code]
if it matters, is barfing on counter.so file

---

@karrtikr commented on [Tue Sep 17 2019](https://github.com/microsoft/vscode-python/

[2019-09-17 19:36] karrtikr opened #1781 "After 1.38.1 Update: Internal error detected. Please copy the above traceback and report"
@TurboCooler commented on [Mon Sep 16 2019](https://github.com/microsoft/vscode-python/issues/7428)

I can no longer debug.  I get the same error even if I try to debug a simple print statement.  It is like stuck on some cache of files that it cannot forget

Traceback (most recent call last):
  File "c:\Users\username\.vscode\extensions\ms-python.python-2019.9.34911\pythonFiles\ptvsd_launcher.py",

[2019-09-17 19:36] #1781 closed

[2019-09-17 19:49] karthiknadig opened #1782 "Use setDebuggerProperty and getDebuggerProperty to set states."
Currently we are overloading the "initialize" request to handle some additional info. We shoudl move that to `setDebuggerProperty` and add `getDebuggerProperty`. Things such as:
1. Access tokens
2. Debuggee process ID
3. Adapter server port, for `enable_attach((host, 0)` case.

/cc @int19h @fabioz

[2019-09-17 19:54] int19h commented on #1780
@TurboCooler It sounds like you have "C:\src\merchant_changes_py27\merchant_management\Crypto\Random" set as your current directory ("cwd" in launch.json), or are starting your app as a program from that directory, and so the contents of your package ends up on `sys.path`. Thus, "random.py" inside your package gets exposed as a top-level `random` module, which clashes with, and overrides, the stdl

[2019-09-17 20:03] TurboCooler commented on #1780
If I run from the root path which is c:\src\merchant_changes_py27\merchant_management  I still get the same error.

{
    // Use IntelliSense to learn about possible attributes.
    // Hover to view descriptions of existing attributes.
    // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Py

[2019-09-17 20:11] TurboCooler commented on #1780
Here is the run output from the latest run

cd 'c:\src\merchant_changes_py27\merchant_management'; ${env:APEX_FUNCTION_NAME}='merchant_management'; ${env:AWS_ENVIRONMENT}='qa'; ${env:CORS_ACCESS_CONTROL_ALLOW_ORIGIN}='{private}'; ${env:CTSURL}='{private}'; ${env:CTS_QUEUE_DELAY_MAP}='{ "0": "300", "300": "301", "301": "302", "302": "303", "303":  "304",  "304":  "305", "305":  "2000"}'; ${env:KMSK

[2019-09-17 20:11] karthiknadig commented on #1780
You have path to `C:\src\merchant_changes_py27\merchant_management\Crypto\Random` added in PYTHONPATH. Python picks up `random.py` from that folder, when it should be picking from the standard lib.

I don't think you need to add any of that to PYTHONPATH. You can set the `cwd` to be ${workspaceFolder}. That should be enough.

[2019-09-17 20:14] TurboCooler commented on #1780
That Random is our own Random.  Not part of the standard library

[2019-09-17 20:15] TurboCooler commented on #1780
If I do not use those path then VSC does not pick up all the libraries that it should I get an error that module is not found

[2019-09-17 20:15] int19h commented on #1782
With access tokens, we need to think this through. They're not just informational - pydevd actually validates the server access token it receives on "initialize", and this allows it to fail the initialization request and thus effectively reject that session. If it's done via debugger properties, it means that the token will be a special one that always have to be set first, before any other messag

[2019-09-17 20:23] int19h commented on #1780
From Python's perspective, there  is no distinction between standard library and your code. If you have a folder that contains random.py on PYTHONPATH, and somebody does `import random`, it will get loaded. Since `random` is a standard module, this effectively breaks any Python package that you use directly or indirectly that depends on `random`.

Can you show some of those imports that are failin

[2019-09-18 01:57] TurboCooler commented on #1780
Okay, so I removed the PYTYHONPATH.  The debugger no longer crashes.  It stops at the same error but that error is on me.  it is a compiled C program with a python bridge named counter.so

However, I did previously add the PYTHONPATH specifically to address the fact that I was not able to resolve the imports.  Now the imports are being resolved.

Definitely this specific issue here is resolved but

[2019-09-18 06:03] karthiknadig opened #1783 "add_dap_messages_listener fails with PyDB.reader is still not setup"
[code]

[2019-09-18 06:04] karthiknadig commented on #1783
@fabioz Is there a way to ensure everything is ready before setting the listener?

[2019-09-18 07:06] karthiknadig commented on #1783
The problem is we need to set this listener up before we start the OOP adapter in the enable_attach case. At that point the reader is not set up because it is waiting for a connection. Alternate option is to append the listeners to a list on pydb. And have both the writer and reader threads access it.

[2019-09-18 14:25] fabioz commented on #1769
@int19h @karthiknadig given that the output is no longer redirected, should the change to use "category": "console" for logpoints be done?

[2019-09-18 16:53] brettcannon opened #1785 "Support completionTriggerCharacters"
https://code.visualstudio.com/updates/v1_38#_debug-adapter-protocol

[2019-09-18 17:46] karthiknadig opened #1786 "pydevd API to ignore process by PID on terminate"
This is needed to prevent `on_terminate_request` from killing the adapter process that is start by `enable_attach`

[2019-09-18 18:49] jiapei100 commented on #943
Does it have a solution now?
This is frustrating... I've got to use PyCharm for a bit...

[2019-09-18 20:04] karthiknadig commented on #1780
@TurboCooler I am happy that we were able to unblock you partially at least :) . Please reach out to us if there are any more issues. Closing this for now.

[2019-09-18 20:04] #1780 closed

[2019-09-18 20:10] karthiknadig commented on #1771
Fixed via https://github.com/microsoft/ptvsd/pull/1779

[2019-09-18 20:10] #1771 closed

[2019-09-18 20:18] karthiknadig commented on #943
It is not done yet but very close. So far we have separated a large portion of the code that wasn't fork safe refactored out (this part took a really long time). We have unified the way `spawn` and `fork` load the debugger. We are working on integrating the various bits. This is the priority feature for us for this milestone.

[2019-09-18 22:01] karthiknadig commented on #1759
This should probably use `getDebuggerProperty`

[2019-09-18 22:03] karthiknadig opened #1787 "Stabilize tests"
Tracking item for test stabilization.

[2019-09-19 01:56] int19h opened #1788 "enable_attach() hangs if called from top level of an imported module on Python 2.7"
Reliable repro for me is any of the `test_run` attach tests, e.g. `test_run[AttachSocketImport-program]`.

The test tries to wait until it sees the server bringing the port up. Eventually it gives up and just tells the adapter to attach, which then fails with "No connection could be made because the target machine actively refused it".

Debuggee, meanwhile, is stuck in this stack (obtained via VS

[2019-09-19 10:38] ArchanaGurav opened #1790 "Socket timeout: timed out"
I am facing the following issue. After waiting for 30sec while in debug session on. its time out error is thrown. Not sure  why is this happening.

Exception in thread ptvsd.Server:
Traceback (most recent call last):
  File "C:\Users\gurava\.vscode\extensions\ms-python.python-2019.9.34911\pythonFiles\lib\python\ptvsd\ipcjson.py", line 269, in process_one_message
    msg = self.__message.pop(0)
Ind

[2019-09-19 17:58] #1783 closed

[2019-09-19 17:58] #1766 closed

[2019-09-19 17:59] #1712 closed

[2019-09-19 18:11] karthiknadig commented on #1790
@ArchanaGurav Can you set these and generate debugger logs?
You can enable debugger logging using the following environment variables:
[code]
These can be set using "env" field in the launch json. Ensure that the `C:\logs` directory exists before running. Note that this will generate several log files. Please share the most recent one.

Also, please share the launch config you are using.

[2019-09-20 16:03] #1759 closed

[2019-09-20 16:19] mikeboulet opened #1793 "Debugger fails on Gunicorn Launched Application"
## Environment data

OSX 10.14.6
VSCode 1.38.1
VS Code Python Extension: 2019.9.34911
Python: 3.7.4
ptvsd==4.3.2
gunicorn==19.9.0

## Actual behavior

When attaching to the Gunicorn launched Python application the debugger connects successfully but then fails immediately with the error "Debug adapter process has terminated unexpectedly". The debugger tool bar shows for a second then disappears.

#

[2019-09-20 16:23] karthiknadig commented on #1793
Minor thing, can you add a `print('done')` after `breakpoint()`. The way we have breakpoint hooked up, it always stops at the next line. The assumption there is we want the line that will be executed next to be highlighted in the UI.
[code]

[2019-09-20 16:38] mikeboulet commented on #1793
Same behavior. Debugger tools show for a second and then disappear. Is
there some kind of log file I can look at that may provide more details?

On Fri, Sep 20, 2019 at 12:23 PM Karthik Nadig <notifications@github.com>
wrote:

[2019-09-20 16:44] karthiknadig commented on #1793
You can enable debugger logging by settings the following environment variables:
[code]
That should generate a couple of  log files. Please share them, be sure to remove any personal info from the logs.

I am not able to repro this, so yes logs will definitely be helpful:
![image](https://user-images.githubusercontent.com/3840081/65343739-9ac3be00-db8a-11e9-8d23-a8bc268c1f36.png)

Without the prin

[2019-09-20 17:04] mikeboulet commented on #1793
I just realized that I'm technically not running PTVSD in OSX but under
Linux. Sorry for the confusion.
I'm using something similar to the attached Dockerfile. I'm loading that
image through a docker-compose file with something like the following:

services:
  app:
    restart: "no"
    build:
      context: .
      dockerfile: Dockerfile
    image: app
    env_file: .env

    ports:
      - "127.

[2019-09-20 17:06] mikeboulet commented on #1793
Sorry the file attachments didn't make it:
[Archive.zip](https://github.com/microsoft/ptvsd/files/3637032/Archive.zip)

[2019-09-20 17:50] karthiknadig commented on #1793
When running in the container, `enable_attach` you should use `0.0.0.0`. Otherwise the server will not accept connection from outside the container.

[2019-09-20 18:22] mikeboulet commented on #1793
That was the solution! Works perfectly!

I apologize for wasting your time on that one.

On Fri, Sep 20, 2019 at 1:50 PM Karthik Nadig <notifications@github.com>
wrote:

[2019-09-20 18:39] jonespm commented on #1793
I think I might have had the same issue but I also had --workers 4 which caused the enable_attach to stop with the error
`gunicorn.errors.HaltServer: <HaltServer 'Worker failed to boot.' 3>`
and I didn't notice
`OSError: [Errno 98] Address already in use`

It starts up with 1 worker, which seems fine, I'll try it out with this configuration. Thanks!

[2019-09-20 18:54] josephlevenson opened #1794 "Breakpoints aren't being hit in local Django project"
Here is my `launch.json`
[code]

My debug log:
[code]
The debugger fires up the server ok and when I have breakpoints set on function definitions and start up code, the breakpoints work fine. Breakpoints that are set in endpoint handlers however, are not being called when the code itself is being executed. The `httpsrunserver` command executes `python manage.py runserver_plus --noreload --nothread

[2019-09-20 18:55] karthiknadig commented on #1793
@jonespm when you use multiple workers. They all try to open the same port 5678. So only one worker wins.

[2019-09-20 19:43] karthiknadig commented on #1794
Can you use the env variables and generate the more detailed logs:
[code]
Make sure that `/logs/` dir exists. Remove any personal information from the logs before sharing. It should generate multiple log files.

[2019-09-20 19:47] #1793 closed

[2019-09-20 20:02] josephlevenson commented on #1794
[code]

[2019-09-20 20:24] karthiknadig commented on #1794
@fabioz Can you see anything odd with the logs?

@josephlevenson Can you share your project if possible or a minimal repro?

[2019-09-20 20:57] josephlevenson commented on #1794
Unfortunately I can't share my project, i'll try and get a minimal repro

[2019-09-20 21:46] josephlevenson commented on #1794
I tried reproducing the issue on 2 other django projects and could not. The only main difference is that this project uses a DNS `localtest.me` so we can have subdomains easily without hardcoding them all in the hostfile when developing locally. So a request would go out to `https://somesubdomain.localtest.me:8000` but would get resolved to `127.0.0.1:8000`. Could that have anything to do with it?

[2019-09-20 22:03] karthiknadig commented on #1794
That should cause an issue with connection. But since it is already connecting, i don't think that is the problem. Lets try this, put these two lines just above the line where you want the breakpoint to hit. `break_into_debugger()` will force a break. Then share the stack. That might reveal something.
[code]

[2019-09-20 22:14] josephlevenson commented on #1794
It's not breaking at all with that. As a sanity check, I added a print statement which is executing:
[code]

[2019-09-20 22:40] karthiknadig commented on #1794
When you said `httpsrunserver` is it starting a separate python process?

[2019-09-20 22:43] josephlevenson commented on #1794
[code]

[2019-09-21 00:11] karthiknadig commented on #1794
This is the problem. There are two options to address this.
### Option 1:
Change args in launch json to directly launch the above command line:
[code]
### Option 2
If Option 1 is not possible, then see if you can replace `os.execvp` with `os.spawn*`. The debugger currently only supports `os.spawn*` (, this is a limitation we are working to fix see #943). This however, should work for spawn. After

[2019-09-23 07:48] chrisaramar opened #1798 "Vscode Python Debugger extremly slow."
Hi,

I've found a similar question but it has been loocked.

I have to ask again because everything written there hasn't solved my problem.

My issue is the same. If I debug my python script in the vscode python debugger its extremly slow (About 20+ sec).

But on cmd if I go to the path where the script is and execute it with the same python interpreter, it only needs 4 seconds.

These are my laun

[2019-09-23 13:02] fabioz commented on #1744
Fixed in the refactor branch in:
https://github.com/microsoft/ptvsd/commit/8efec2b3f63747be716d7872e2c44d8183eff9e3

[2019-09-23 13:02] #1744 closed

[2019-09-23 13:56] fabioz commented on #1760
@karthiknadig @int19h I think that the idea is that disconnect/reconnect would keep the socket open, in which case I think this should work without any changes... is that correct or am I missing something?

What we may have to look into is doing attach to pid, closing both and doing another attach to pid (I'm not sure whether that works or not... we probably should have tests for that, but doesn't

[2019-09-23 14:10] fabioz commented on #1788
I'm taking a look into an actual fix here.

[2019-09-23 14:32] josephlevenson commented on #1794
That did the trick! I didn't think `execvp` could be the culprit. Thanks for your help

[2019-09-23 14:32] #1794 closed

[2019-09-23 17:49] karthiknadig commented on #1760
This is how we currently do attach to pid.
1. User starts the debug session.
2. IDE starts the adapter
3. IDE provides the `pid` via `attach` request.
4. Adapter starts a listener and runs the code injector.
5. Injected code loads and runs the debugger and connects back to adapter.

If the user disconnects at this point then, VSC could terminate the adapter. If we want to have a continued connecti

[2019-09-23 18:17] karthiknadig commented on #1798
@chrisaramar
Can you provide some details on what OS, extension version, python version you are using?

[2019-09-23 18:25] fabioz commented on #1760
I was under the impression that if the user just disconnects (without terminating), the adapter would be kept alive... isn't this the case?

[2019-09-23 18:32] fabioz commented on #1798
5 times slower may not be that much depending on the use case, so, it'd be nice to have some code where we can reproduce it to know whether it's expected or not (note that even if expected we may be able to improve that use-case further).

Also, can you try to build the accelerator modules locally to see if it improves your particular use-case? (you can see: https://github.com/microsoft/ptvsd/issu

[2019-09-23 19:32] karthiknadig commented on #1769
This is not needed anymore.

[2019-09-23 19:32] #1769 closed

[2019-09-23 19:41] karthiknadig commented on #1760
@int19h Since you have looked at the adapter lifetime part more, you might have more context on this.

My understanding is this, IDE always launches adapter and terminates it. For most other attach scenarios where we depend on `host` and `port`. The adapter is actually started by user bey either calling `enable_attach` or using command line which starts the adapter indirectly via enable attach. Bu

[2019-09-23 19:45] karthiknadig commented on #1798
Additionally, if there are certain areas you don't want to debug. you could wrap them with `ptvsd.tracing(False)` and `ptvsd.tracing(True)`. So, please share the requested details.

[2019-09-24 04:39] karthiknadig commented on #1778
@AndreasBackx For development in a container I recommend using https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-containers. There are few changes I recommend in your code to work around current debugger limitations. Note that this will  work with python3 only (see #943 for reasons). We are working on fixing that.

Another reason to use remote containers is that: Each tim

[2019-09-24 10:05] AndreasBackx commented on #1778
Unfortunately we are working with a (micro) service architecture so I have multiple Django projects open in a VS Code workspace and each project runs in its own container. Using the remote containers plugin is neat, but it's not really feasible in our use case.

So for my use case, I assume I'll have to wait for #943 to be resolved as it resolves this as well?

[2019-09-24 12:44] fabioz commented on #1786
Fixed in the refactor branch (@karthiknadig is there a task for the usage of this new API into ptvsd?)

[2019-09-24 12:44] #1786 closed

[2019-09-24 15:07] fabioz commented on #1760
@karthiknadig is it already possible to use `--client` with vscode (in the refactor branch)?

If it is possible, can you pass me some instructions on how it should be used?

[2019-09-24 18:28] int19h commented on #1760
It should be possible, but it is completely untested.

You can do this in launch.json:
[code]

This last bit will make the adapter open a listener socket and wait for incoming connection on spawn, instead of connecting. Then `--client` or `ptvsd.attach()` can be directed to attach to that port.

[2019-09-24 18:40] fabioz commented on #1760
@int19h Thanks... I couldn't get it to work with that (so, maybe it's not really working or I need to get some insiders version for this to work?)

I did find an issue where disconnecting only in the `pydevd` side stops the debug session (and it can't be restarted), so, I'm taking a look at that, but it'd be nice to also manually test it to make sure I'm covering the same case.

[2019-09-25 03:33] karthiknadig commented on #1778
Yes, that should resolve this as well.

[2019-09-25 08:22] int19h opened #1802 "reattach is broken with the new adapter"
The adapter currently always exits if the IDE disconnects. This was appropriate when it was spawned by the IDE every time for "attach" scenarios, but now that we spawn it from within `enable_attach()`, this means that it's impossible to reattach.

The adapter now needs to handle disconnect from the IDE as follows:

1. Send "disconnect" request to the server.
2. Reset the session state to initial,

[2019-09-25 08:27] int19h commented on #1505
Not reproducing anymore.

[2019-09-25 08:27] #1505 closed

[2019-09-25 08:42] chrisaramar commented on #1798
OS is Windows 10 and Python is 3.7.4.

[2019-09-25 08:43] chrisaramar commented on #1798
Yeah but the problem is not executing the script ... the thing which needs so much time is doing following stepps:

1. open terminal (if not already open)
2. enter the debug command
3. And then executing is a bit slower too but the most time is used for step 2 and 1

[2019-09-25 08:45] chrisaramar commented on #1798
Also the problem is not the code because im not executing only one script ... the problem is with every script.

[2019-09-25 08:46] chrisaramar commented on #1798
The main problem is starting the debugging workflow.

[2019-09-25 17:57] karthiknadig commented on #1798
@chrisaramar we are aware of this issue. We are tracking cases to narrow down the cause for this.

@luabud This is another case of debugging taking too long to start.

[2019-09-25 19:57] karthiknadig commented on #1764
Closing this for now. Please reopen when more information is available.

[2019-09-25 19:57] #1764 closed

[2019-09-25 19:58] karthiknadig commented on #1778
Closing this since this issue is already tracked by an earlier item.

[2019-09-25 19:58] #1778 closed

[2019-09-26 18:26] xiaofeng0123 opened #1804 "No hit breakpoint when debugging test on "Python 3.7.4" and "Anaconda""
## Environment data

- VS Code version: 1.39.0-insider
- Extension version (available under the Extensions sidebar): python 2019.10.38352-dev

## Expected behaviour
It should hit breakpoint when debugging test

## Actual behaviour
It doesn't hit breakpoint.
![debug](https://user-images.githubusercontent.com/41426540/65668165-c6a3df80-e073-11e9-9ecf-3044dae45aee.gif)

## Steps to reproduce:
1. Inpu

[2019-09-26 19:02] int19h opened #1805 "Adapter doesn't exit if IDE doesn't attach"
When not using `--wait` or `wait_for_attach()`, if the debuggee exits before the IDE has a chance to connect to the adapter, the adapter hangs around waiting for connection.

[2019-09-26 19:04] int19h commented on #1805
Basically, when debuggee exits, the adapter needs to also close all the listener sockets (this should abort any pending `accept()` calls with an exception that can be caught).

Once we get to multiproc, it should do this when the _last_ debuggee exits.

[2019-09-26 22:20] karthiknadig commented on #1804
Looks like this is addressed in the `dbg_adapter_refactor` branch.
![image](https://user-images.githubusercontent.com/3840081/65728832-0ddca100-e071-11e9-85a1-2122aba3a2f3.png)

[2019-09-26 22:28] karthiknadig commented on #1805
May be we now have a use for `wait_for_multiple_events` ;) ?

[2019-09-28 17:05] jajcayn commented on #1291
Hey there,
same problem as @bored002: Getting some `Exception has occurred: KeyError` on `importer = sys.path_importer_cache[path_item]` in `pkgutil.py` when I add `"justMyCode": false` to the launch.json. Any advice on how to proceed?

Python 3.7.4 64bit
vscode 1.38.1
macOS 10.14.6

[2019-09-29 20:03] memeplex commented on #943
For me setting start method to spawn or forkserver just avoids the exception thrown for fork, but breakpoints in subprocesses are still not working at all. Do they work for you?

[2019-09-29 20:09] memeplex commented on #943
Ah, it seems that I have to create a launch configuration and set enableSubprocess. Is that true or can I avoid this step?

[2019-09-30 00:26] int19h opened #1808 "break_into_debugger() not working for "code" in py2.7"
Repros consistently when running the following test:
`test_break_api[attach_by_socket(api)-ptvsd.break_into_debugger-code]`
The test times out, because the function doesn't actually break.

Note that the same test, but with `attach_by_socket(cli)`, passes. The difference between the two is whether `pydevd.settrace()` is called before the code starts executing, or after - for `api`, `enable_attach(

[2019-09-30 00:27] int19h commented on #1808
Here's the test log:
[code]

[2019-09-30 00:27] int19h commented on #1808
Here's the server log - `break_into_debugger()` has been invoked:
[code]

[2019-09-30 00:28] int19h commented on #1808
Here's pydevd log:
[code]

[2019-09-30 02:32] karthiknadig commented on #943
@memeplex that is correct. `"subProcess": true,` has to be set in the debug config for the workaround..

[2019-09-30 09:19] int19h opened #1810 "tests using attach_by_pid fail on Linux and macOS"
Not readily obvious what's wrong there - the debuggee just never connects back to the adapter. The easiest way to repro is to run `tests/ptvsd/server/test_attach.py::test_attach_by_pid[program]`.

[2019-09-30 09:22] int19h opened #1811 "tests using attach_by_pid fail on Python 2.7"
Somewhat sporadic, but running `tests/ptvsd/server/test_attach.py::test_attach_by_pid` will usually produce at least one failure in the matrix.

[2019-09-30 09:47] int19h opened #1812 ""ideOS" is not auto-detected from "pathMappings""
In the old implementation, we had this bit:
https://github.com/microsoft/ptvsd/blob/a0e3cbcb3020c53f7df3457517e8a291380b49c2/src/ptvsd/wrapper.py#L1021-L1036
Note the part that tries to figure it out from the slashes and backslashes in mappings. We don't have this in the new adapter:
https://github.com/microsoft/ptvsd/blob/74a85855ad61a206bebcd238e778d2f06c516d2e/src/ptvsd/adapter/ide.py#L163-L168

[2019-09-30 10:26] int19h opened #1813 "Occasional missing response to "configurationDone""
Sometimes, when receiving "configurationDone", and starting to execute user code, if the script exits almost immediately, the adapter closes the connection before the response to "configurationDone" is actually delivered to the client.

I've only seen it on CI Linux and macOS runs, and it's very rare, so it's hard to diagnose. But I suspect that this is another manifestation of pydevd messaging be

[2019-09-30 10:29] int19h commented on #1813
Sample failure from a test run:
[code]

[2019-09-30 12:11] fabioz opened #1815 "Use pydevd attach scripts instead of attach_script_ptvsd_pid"
I had previously submitted this as a comment (in  https://github.com/microsoft/ptvsd/pull/1747/files/6694e70e63a1b49663fa2c7588ed68db89a9e0fa), so making an issue for it (to see whether it should be done or not).

I was thinking about this and this whole code is pretty much a copy of `pydevd_attach_to_process/attach_pydevd.py` and `pydevd_attach_to_process/attach_script.py`... if multiprocessing w

[2019-09-30 14:25] LBdN opened #1816 "Runtime errors are not caught when debugging with PyQt5"
## Environment data

- VS Code version: 1.38.1
- Extension version (available under the Extensions sidebar): 2019.09.34911
- OS and version: Win 10
- Python version (& distribution if applicable, e.g. Anaconda): Python 3.7.4
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): venv
- Relevant/affected Python packages and their versions: PyQt5
- Jedi or Language Server? (i.e.

[2019-09-30 18:05] karthiknadig commented on #1748
Closing this since #1815 has more details.

[2019-09-30 18:05] #1748 closed

[2019-09-30 18:06] #1787 closed

[2019-09-30 18:09] karthiknadig opened #1817 "Fix re-attach to pid when using --client."
See this comment for additional info https://github.com/microsoft/ptvsd/pull/1814#issuecomment-536533535 . Also, see #1815 for potential options.

[2019-09-30 18:32] LBdN commented on #1816
Yep.
The _Raised Exceptions_ setting works but is not useful as many exceptions are raised and caught.
The _Uncaught Exceptions_ setting seems to do nothing.
Not sure I can supply a repro easily, I will evaluate that.

[2019-09-30 19:24] danielboth commented on #1764
Sorry, delayed response due to holidays. To answer @int19h, yes I'm placing test.py (actual name in the log is subnet.py, sorry) inside the venv folder.

I also ran the test with logging enabled and included the logfile. I did not get any pydevd_debug_file though.
[ptvsd-7928.log](https://github.com/microsoft/ptvsd/files/3672874/ptvsd-7928.log)

Looking through this file, this seems interesting:

[2019-09-30 19:46] int19h commented on #1764
@danielboth
venv folders are not meant to be used to place code in - they are transient artifacts. They have to be activated to give access to the modules installed within, but the code using those libraries should remain outside. You're likely to run into many other issues with the arrangement that you have at the moment, because Python tooling in general is not designed to accommodate such use.

[2019-09-30 19:52] danielboth commented on #1764
Thanks @int19h, that makes it clear I was just using the venv folders in the wrong way. Thanks for explaining!

Moved the file outside the venv folder and then all works as expected, so no need to reopen this.

[2019-09-30 21:43] karthiknadig commented on #1816
@LBdN You mentioned breakpoint working. So, in the part of your code where you expect the exception to occur, does the breakpoint work there?

What I am trying to figure out is whether the exception is coming from a thread that was started native APIs. If it does originate from a native source, then you might need `ptvsd.debug_this_thread()` to enabled tracing in that thread.

[2019-09-30 21:45] karthiknadig commented on #1812
The idea was that client OS will be sent via the adapter. There is no need to detect the client OS using paths. Ideally, this should be part of the debug Config. So, VSCode or any IDE should add the `ideOS` field to the debug config.

[2019-09-30 22:04] int19h commented on #1812
In this case, should we just remove the test? Or is there something else that it's testing aside from this auto-detection?

[2019-09-30 22:09] Anapo14 opened #1818 "Change wording in warning message for justMyCode"
When a user attempts to debug library code (with justMyCode set to 'false'), they see the current message in the Debug Console:

![image](https://user-images.githubusercontent.com/10341823/65920502-029cb480-e394-11e9-8bdb-09dacf868629.png)

We should change the wording to tell users _where_ to set this configuration as well as the exact value they should insert into launch.json i.e. _"justMyCode":

[2019-10-01 02:33] int19h opened #1819 "Capturing debuggee output in tests is broken on py2.7"
It appears that reading from `Popen.stdout` and `.stderr` on Python 2.7 does not handle partial reads as expected - it waits for the exact number of bytes specified, instead of returning as soon as there's any data to read. Since `tests.debug.output` reads in chunks of 0x1000, this means that output doesn't actually get captured until the debuggee prints that much data, or exits and closes its end

[2019-10-01 02:37] LBdN commented on #1816
Yes; it does.
I don't know whether the python part in PyQT5 in another thread.  Might be. I'll try that tomorrow.

[2019-10-01 06:08] int19h opened #1821 "Merge adapter refactoring work into master"

[2019-10-01 06:57] #1821 closed

[2019-10-01 19:21] #1760 closed

[2019-10-02 00:37] #1168 closed

[2019-10-02 01:25] m0tz opened #1823 "ImportError: can't find '__main__' module"
python 2.7.
Version: 1.38.1
Commit: b37e54c98e1a74ba89e03073e5a3761284e3ffb0
Date: 2019-09-11T13:30:08.229Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Linux x64 5.0.0-29-generic

[code]

[2019-10-02 01:41] int19h commented on #1823
Could you please share your launch.json as well?

[2019-10-02 01:44] m0tz commented on #1823
sure. launch.json

{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Python: Django",
            "type": "python",
            "request": "launch",
            "cwd": "${workspaceFolder}",
            "program": "${workspaceFolder}/",
            "args": [
                "python", "manage.py", "runserver_plus",
            ],
            "django": true
        }

[2019-10-02 02:39] karthiknadig commented on #1823
@m0tz Try this config:
[code]

[2019-10-02 03:15] m0tz commented on #1823
@karthiknadig thanks, that works.

why my launch.json does not work?

[2019-10-02 03:31] karthiknadig commented on #1823
@m0tz There were two issues:
1. ` "program":` should point to a python file. The Python extension picks up the executable based on the version of python selected via the interpreter selection UI. In your setting it was pointing to a directory (your workspace folder).
2. `"args": ` are a list of arguments that you pass to your python script or module. In your case the args were `[ "python", "manage

[2019-10-02 05:08] int19h commented on #1823
"program" can also point at a directory. But if it does, then that directory must contain a file named `__main__.py`, and then Python will execute that file. This is what was happening in this case, except there was no such file.

In general, when you use "program", this is equivalent to saying `python <program> <args>`. So in this case, what was executing is:
[code]
So that second `python` became

[2019-10-02 05:37] karthiknadig commented on #1823
@int19h is correct, I missed that `program` can be a dir.

[2019-10-02 23:08] theoribeiro opened #1824 "Allow ptvsd to run as server and let code connect to it"
For some use cases like when debugging server applications with auto-reload or microservices running in tandem it is desirable to run the debugger as a server and let the code connect to it, pretty much like what PyCharm does with pydevd. This allows the user to connect to the debugger every time the code runs without having to attach the debugger to a remote process.

It also allows for remote in

[2019-10-02 23:38] int19h commented on #1824
ptvsd itself has been able to do it for a while now - there's an undocumented function `ptvsd.attach()` that's a counterpart to the usual `ptvsd.enable_attach()`, with the only difference being the direction of the connection.  In our recent redesign of the debug adapter, it also gained some missing pieces to support this scenario.

However, this was meant more for fully programmatic scenarios, wh

[2019-10-03 12:23] theoribeiro commented on #1824
Sure, let me try to get into more detail. Please let me know if you need any more. I'll start with the most compelling use case since it is an actual need and not just for convenience. We're trying to switch to VSCode from PyCharm for the flexibility it offers but can't while we can't debug our lambdas when deployed.

### Scenario 1 - Serverless Applications
When developing serverless apps you don

[2019-10-03 18:41] #1823 closed

[2019-10-03 18:49] fabioz commented on #1813
I'm taking a look at this, and now I'm making sure that the message is being sent in the socket before the process is shutdown, but the problem is that this is not enough as after writing to the socket the kernel may still take some time to actually send the message and it's still possible that the process finishes before the message is sent.

From what I read, the only way to guarantee it would b

[2019-10-03 19:02] int19h commented on #1813
Strictly speaking, DAP already says that a debug adapter shouldn't disconnect when debuggee terminates - it should report "terminated" event when debugging is over, but it's client's prerogative to decide when to close the connection.

This is already how it works in practice between the IDE and the new adapter. What if we also make pydevd work in the same manner - i.e. block process shutdown unti

[2019-10-03 19:17] int19h commented on #213
This is still an issue, now on pydevd side. The corresponding part in test_variable_sort is still failing if re-enabled.

[2019-10-03 19:29] fabioz commented on #1813
So, in this case the idea would be reporting `terminated` / shutdown write on the `pydevd` socket and wait for the adapter to close the connection on its side to actually finish the process? (I guess we would also have a timeout here in case it takes too long)

Note that at this point it'd be either blocked at `atexit` if it's a regular run exiting or a call to `os._exit` if it was a terminate req

[2019-10-03 19:33] int19h commented on #1813
Yep.

[2019-10-03 20:05] int19h commented on #1808
Fixed by https://github.com/microsoft/ptvsd/pull/1814/commits/140979fd6aadc3bd6ca13a2878cdeb1bdce817a4

[2019-10-03 20:05] #1808 closed

[2019-10-03 20:59] #1812 closed

[2019-10-04 03:30] #1818 closed

[2019-10-04 15:01] LBdN commented on #1816
mmm.. I tried what you proposed and it doesn't work. this is the test I have.

`def reverse(rects):
    _reversed = list(rects)[:]
    #==
    import ptvsd
    ptvsd.debug_this_thread()
    import rectitude.debug as dd
    dd.print_time_and_thread()
    1/0
    #==
    _reversed.reverse()
    return  {'rects' : _reversed }`

I also checked the threads and it seems everything is run from the same o

[2019-10-06 08:22] xavArtley commented on #1824
Eclipse and pydev works like pycharm for the debug server. And it's the only feature wich make me stop from switching to VScode

[2019-10-07 18:16] bschnurr opened #1827 "Debug interactive closes and debugging stops when there is an error"
@jose-alex commented on [Sat Oct 05 2019](https://github.com/microsoft/PTVS/issues/5800)

In VS 2019, say I am debugging a project and the debugger stops at a breakpoint. If I write a command in the Debug Interactive window and it has an error (syntax or otherwise) the window closes and debugging stops. This was not so in VS 2017 and I think it is not a desirable behavior. Any small error like the

[2019-10-07 19:15] karthiknadig commented on #1827
@bschnurr Are you seeing a difference in the text that is sent to the debugger? between 2017 and 2019?

[2019-10-07 20:07] bschnurr commented on #1827
legacy debugger sends error text to the debug interactive window.
new debugger shows a popup and disconnects

[2019-10-07 23:29] int19h opened #1829 ""pydevd_authorize" request"
We currently exchange the authorization tokens in the "initialize" request and response.

However, our most recent design for subprocess debugging implies that, while the TCP connection between the subprocess server and the adapter is established immediately as soon as subprocess starts, "initialize" is not sent by the adapter immediately. Instead, the adapter sends "pydevd_systemInfo" request to

[2019-10-07 23:30] int19h commented on #1829
On a second thought, we might also want to rename "ideAccessToken". In our most recent design, the token exchange actually occurs between the adapter and the server, not the IDE and the server, so it's confusing. Let's revert it to "clientAccessToken" - this covers both ptvsd (where adapter is involved), and direct connections from an IDE to pydevd, if somebody wants to do that.

[2019-10-07 23:34] int19h commented on #1782
Access tokens are going to be a separate message: #1829

Debuggee PID and parent PID is already handled by "pydevd_systemInfo".

Adapter port that listens for IDE connection was covered by #1784.

[2019-10-07 23:34] #1782 closed

[2019-10-08 01:28] karthiknadig commented on #1827
@bschnurr I was asking for the logs like above from 2017 for the new debugger.

[2019-10-08 04:41] karthiknadig opened #1830 "Reverse the debug server internal connection when using enable_attach"
This is needed to ensure that debug server always connects to the adapter. Currently `enable_attach` goes against the grain that it creates the server that the adapter connects to. We want to have a unified interaction between debug server and the adapter.

[2019-10-08 12:55] fabioz opened #1831 "Use pid for files created in pydevd logging."
Note: consider forking.

[2019-10-08 18:23] fabioz commented on #1827
I'm investigating this one...

I was able to reproduce this locally (the related log files are below).

[ptvsd-9812.log](https://github.com/microsoft/ptvsd/files/3703972/ptvsd-9812.log)
[pydevd.log](https://github.com/microsoft/ptvsd/files/3703973/pydevd.log)

[2019-10-08 18:58] fabioz commented on #1827
So, after investigating it seems that if the evaluate response has `success=False` visual studio kills the program (i.e.: by changing `success` to `True` in https://github.com/microsoft/ptvsd/blob/master/src/ptvsd/_vendored/pydevd/_pydevd_bundle/pydevd_comm.py#L921 everything works).

Now, I'm not exactly sure how to proceed here. The choices I can think of are:
- Do a workaround to return `succes

[2019-10-08 19:12] bschnurr commented on #1827
I'll try that. I see the same ```success=False``` in the older 4.1.1a9 version of ptvsd

[ptvsd_4.1.1a9.log](https://github.com/microsoft/ptvsd/files/3704133/ptvsd_4.1.1a9.log)

[2019-10-08 19:20] fabioz commented on #1827
@bschnurr I didn't realize you were part of PTVS, so, great, it seems the PTVS team is already on the loop ;)

Please let me know if it fixes for you (and we should still see how to address the issue properly).

[2019-10-08 19:21] fabioz commented on #1827
Actually, in that log it seems that `"success": true, "command": "evaluate"`.

[2019-10-08 19:25] bschnurr commented on #1827
yes that seems to be the old behaviour of ptvsd

[2019-10-09 04:46] karthiknadig opened #1834 "Invalid argument error in test runs"
## Environment data

- PTVSD version: master
- OS and version: linux
- Python version (& distribution if applicable, e.g. Anaconda): any
- Using VS Code or Visual Studio: N/A

[code]

[2019-10-09 05:24] #1830 closed

[2019-10-09 11:23] reinismu opened #1835 "Remote enable_attach RuntimeError('already started')"
Hey, my team are trying to use ptvsd to debug our remote Django service. (Django version 1.8.16 and python 2.7). It is running in kubernetes pod.

Error only happens if we start service with the code. If it is added with reload after service has started then there are no issues.

## Environment data

- PTVSD version: v4.3.2 and v5.0.0a5
- OS and version: Ubuntu 16.04.6 LTS
- Python version (& dist

[2019-10-09 12:23] fabioz opened #1836 "Handle python option to read program from stdin when rewriting arguments to attach to subprocess"
See original report in pydevd: https://github.com/fabioz/PyDev.Debugger/issues/150

[2019-10-09 12:34] fabioz opened #1837 "Add option to pydevd so that disconnect doesn't run user code."
Right now on a disconnect `pydevd` will always remove all breakpoints and start running user code, but this is not desirable on some situations (i.e.: if the user did a launch and then disconnects there's an implicit assumption that it's terminating the program -- the same would be true for subprocesses which are later attached to if the initial program was started through a launch).

[2019-10-09 12:37] fabioz commented on #1837
Maybe this could be handled through an additional setting in `setDebuggerProperty` (something as `onDisconnectResumeBreakpoints`).

@int19h what do you think?

[2019-10-09 17:57] karthiknadig commented on #1835
@reinismu We are addressing this issue generically. The error you see is because of `os.fork` that occurs when using reload feature in Django. We have a workaround but that only works for python 3.*, for 2.7 unfortunately we don't have a workaround.

See this #943 for more info. That issue is our current highest priority issue. It should address this.

Note:
I recommend using the command-line to s

[2019-10-09 20:15] gandroz opened #2074 "Debugging pytest with multiprocessing does not work"
## Environment data

- VS Code version: 1.38.1
- Extension version (available under the Extensions sidebar): 2019.10.41019
- OS and version: Ubuntu 18.04
- Python version (& distribution if applicable, e.g. Anaconda): 3.6.7

## Expected behaviour

Setting a breakpoint inside subprocess or after a sub-process starts should be possible

## Actual behaviour

I am aware of microsoft/vscode-python#4525

[2019-10-09 21:21] int19h commented on #1837
This is currently handled by the adapter - if it receives "disconnect" from the IDE, and it was launch, it sends "terminate" to pydevd.

In multiproc scenarios, the IDE will send "disconnect" to the root, even if a child process is selected (so long as we properly tell it which process is a child of which). Thus, the adapter will need to extend this logic to multiple sessions.

OTOH, if the user d

[2019-10-10 00:38] brettcannon opened #1840 "Support column breakpoints"
... if it's possible.

https://code.visualstudio.com/updates/v1_39#_improved-ui-for-column-breakpoints

[2019-10-10 00:40] brettcannon opened #1841 "Add cancellation support"
... if possible.

https://code.visualstudio.com/updates/v1_39#_cancellation-support

[2019-10-10 09:59] reinismu commented on #1835
Thanks, we will try to move to command-line and see how it goes :)

[2019-10-10 10:53] fabioz commented on #1837
I created this because the sequence diagrams said that it requested a disconnect to the debugge (in https://github.com/microsoft/ptvsd/pull/1828/files#diff-ecd749edec2bf96b3cfacdff3c90a770R95), if that's not the case I'll close this (the sequence diagram should probably be updated to say that it requests a terminate there instead of a disconnect).

[2019-10-10 10:53] #1837 closed

[2019-10-10 12:30] #1829 closed

[2019-10-11 05:05] karthiknadig opened #1843 "Set does not show indexes"
![image](https://user-images.githubusercontent.com/3840081/66625643-ff7ea100-eba9-11e9-88d3-2a3bcbd40702.png)

[2019-10-13 10:48] jen6 commented on #1773
I had same problem while using debugger.
The problem was monkey.patch_all should be called in the first running python file.
 to reproduce the problem make the project like this.
[code]

`test.py`
[code]

`app.__init__.py`
[code]

`launch.json`
[code]

I think it can be fixed. The pycharm use pydevd but it's debugger works well in the same code.
I'm trying to find out the problem in the source cod

[2019-10-14 01:55] darindillon commented on #1827
Additional info -- the problem is not VS 2017 vs VS 2019. Enabling the "Use legacy debugger" in VS 2019 (Tools->Options->Python->Debugging->"Use legacy debugger") completely fixes this issue and I can now type a syntax error in the debugger without VS shutting down the entire program.

[2019-10-14 03:07] naefl commented on #1761
Same issue here - prior to the October update, this issue would only occur in cell debugging for interactive python  sessions.  Now this happens with normal debugging as well.

I'm using sklearn

[code]

Here's my launch.json:

[code]

[2019-10-14 18:46] fabioz commented on #1816
I was able to reproduce this issue (see the code pasted below for a code-sample which reproduces the issue).

Now, some details on what's happening: PyQt5 itself kills the program when an exception from a `QTimer` signal/slot gets up to the main QApplication loop, not the debugger -- i.e.: the code pasted below stops on 5 calls with or without the debugger.

So, if you have an unhandled exception

[2019-10-14 18:46] #1816 closed

[2019-10-14 20:48] huguesv opened #1844 "The first output is incorrect in "Output->Debug" when press F11"
@xiaofeng0123 commented on [Fri Oct 11 2019](https://github.com/microsoft/PTVS/issues/5813)

VS Version: 16.4.0 Preview 2.0 [29410.124.d16.4]
Python Tool Version: 16.4.19275.1

**Steps to Reproduce**
1.Create a python application and type below code:
[code]
2.Set a breakpoint
3.Start debug and press F11

**Expected behavior**
The first output should like below
![image](https://user-images.githubus

[2019-10-15 11:17] fabioz opened #1845 "Python 3.8 support (pydevd)"
This is for adding ci support for Python 3.8 in `pydevd` (adding it to `ptvsd` should be done after things pass in `pydevd`).

[2019-10-15 11:30] #1831 closed

[2019-10-15 20:28] int19h commented on #1840
This might be feasible with frame eval, since it operates on bytecode level, where individual opcodes could be mapped to specific expressions on the line. I'd expect it to be a very big item, though; @fabioz, correct me if I'm wrong.

It is technically possible to do with regular tracing on 3.7+ with `f_trace_opcodes`, but it's likely to be unfeasible for performance reasons.

[2019-10-15 20:41] int19h commented on #1841
Needs to be investigated to see which requests are cancelable, and create specific issues to do the work for each.

I think the only one this currently makes sense for right now is variables. Since we can't actually interrupt Python evals, this is only applicable if we invoke them in a loop, which is the case there.

Scopes are hardcoded, so definitely nothing to do there.

Stack trace has a loop,

[2019-10-15 20:43] int19h commented on #1836
There's a more general issue here, as ptvsd itself doesn't support this in its CLI, either (but it should). Although it would work if they start Python directly, then use `enable_attach()`.

[2019-10-15 20:48] int19h commented on #1835
For ptvsd 5, it's not clear to me where those "pydevdInputRequested" events are coming from. This is supposed to be something that pydevd sends when somebody tries to do `sys.stdin.read()`, or anything that wraps that, like `input()`. But there's nothing like that in the code.

[2019-10-15 20:52] int19h opened #1848 "Adapter shouldn't propagate server events until IDE connects"
In "attach" scenarios, adapter is initially in a state where the server is connected, but the IDE is not. However, it assumes that the IDE is always there when propagating messages from the IDE (since in the earlier implementation of `enable_attach()`, it was always the case).

This isn't immediately breaking things, but it gets logged as errors (see #1835 for an example), which is wrong.

[2019-10-15 20:59] int19h commented on #1834
Looking at the code, the only way this can happen is if `BackChannel.close()` gets invoked before (or perhaps during) `accept()` is called in `BackChannel.listen()` - i.e. if the test is being torn down almost immediately without a backchannel connection is established.

So, `close()` should set the server socket attribute to `None` before closing it, and `listen()` should catch the error and chec

[2019-10-15 21:01] int19h commented on #1754
https://github.com/microsoft/ptvsd/pull/1828 added sequence diagrams for multiproc.

[2019-10-15 22:25] karthiknadig commented on #1845
FYI
[code]

[2019-10-16 12:11] fabioz commented on #1840
@int19h sort of... right now the frame eval mode puts bytecode just to say that the context needs to be traced and then steps out of the way (the tracing mode is still the mode that'll make the break later on)... in this mode the bytecode itself would need to make the break -- the problem is that if it does that, other features may not work properly (if I remember well, the goto line feature requi

[2019-10-16 12:24] fabioz commented on #1841
I agree variables is the one that stands of, but maybe we could try to experiment interrupting Python evals with https://docs.python.org/3/c-api/init.html?highlight=pythreadstate_setasyncexc#c.PyThreadState_SetAsyncExc (so, we could handle variables and completions).

[2019-10-16 18:34] int19h commented on #1841
Very interesting! Yeah, it sounds like that might apply to completions, in at least some cases.

(and we could also do "evaluate", but for some reason it's not on the list of cancelable requests...)

[2019-10-16 18:44] #1819 closed

[2019-10-16 19:08] LightCC opened #1850 "Debug mode spawns a new "Python Debug Console" every time with `console` set to `integratedTerminal`"
## Environment data

- VS Code version:
---
- Version: 1.38.1 (user setup)
- Commit: b37e54c98e1a74ba89e03073e5a3761284e3ffb0
- Date: 2019-09-11T13:35:15.005Z
- Electron: 4.2.10
- Chrome: 69.0.3497.128
- Node.js: 10.11.0
- V8: 6.9.427.31-electron.0
- OS: Windows_NT x64 10.0.17763
---
- Extension version (available under the Extensions sidebar): 2019.10.41019
- OS and version: Windows 10
- Python v

[2019-10-16 21:39] int19h opened #1852 "Deferred server events are not always propagated"
Handlers for "launch" and "attach" requests in the adapter don't lock the session correctly. As a result, there's a race condition between the code that replays server events after responding to those requests, and the code that queues up server events for replaying - and it's possible for an event to be deferred after events have already been replayed, which results in it never being propagated.

[2019-10-16 23:03] #1852 closed

[2019-10-17 02:17] jdwestwood opened #1854 "Remote debugger fails to attach (new in 2019.10.41019)"
## Environment data

- VS Code version: 1.39
- Extension version: 2019.10.41019
- OS and version: Windows 10 Home
- Python version: 3.7.1 and 2.7.15
- Type of virtual environment used: N/A
- Relevant/affected Python packages and their versions: N/A
- Jedi or Language Server?: Language Server

## Expected behaviour

Set up and run task "test (debug)" (see below). Launch "Python: Remote Attach" (see

[2019-10-17 18:14] fabioz opened #1856 "Use python 3.8 instead of python 3.8-dev in travis once it's available"

[2019-10-17 18:21] #1827 closed

[2019-10-17 18:21] bschnurr commented on #1827
Issue moved to [microsoft/PTVS #5827](https://github.com/microsoft/PTVS/issues/5827) via [**ZenHub**](https://www.zenhub.com/)

[2019-10-17 20:34] #1845 closed

[2019-10-17 20:43] karthiknadig opened #1857 "Build failure on Windows when running setup_cython.py"
[code]

[2019-10-18 17:45] #1857 closed

[2019-10-18 22:48] karthiknadig opened #1859 "Add telemetry event when debugger binaries are used"
Whenever we use cython binaries, we should generate a telemetry event.

[2019-10-18 22:49] karthiknadig opened #1860 "Pydevd API to send custom events over DAP"

[2019-10-18 23:06] Anapo14 opened #1861 "Send custom message to Python extension in VS Code for justMyCode"
We are learning that most users are struggling to discover the justMyCode warning message we print in the debugger console when they attempt to step into library and have the toggle set to 'true'. It would be great if we could send a custom message to the python extension and let the extension-side handle the action of pulling focus to the console,better alerting users about the justMyCode warning

[2019-10-18 23:47] int19h commented on #1861
A popup is probably a better idea here.

Do we want this to be a specific message for JMC specifically, or a more generic one that'll allow us to do other popup notifications in the future?

[2019-10-19 02:07] karthiknadig commented on #1861
We need a generic mechanism for this. We really need a API in VSCode to handle custom reverse requests. Until that point this should be an event.

[2019-10-20 19:22] ManPython opened #1866 "Django static files never finish loading (again)"
This issue is not solved and made for us "matrix"
https://github.com/Microsoft/vscode-python/issues/5521

## Environment data

- VS Code version: 1.38.1
- Extension version (available under the Extensions sidebar): XXX
- OS and version: w7x63ps1
- Python version (& distribution if applicable, e.g. Anaconda): p36
 - Relevant/affected Python packages and their versions: django 2.2.6

## Expected beh

[2019-10-21 08:45] A-hoy opened #1864 "unicode string cannot handle correct in debug console"
run in Debug Console (python 2.7.16):
[code]

run in Terminal  (python 2.7.16):
[code]

As you can see above, the unicode character '中' is handled as three unicode characters in Debug Console.
This could casues some problem like:
[code]

## Environment data

- VS Code version: 1.39.2
- Extension version (available under the Extensions sidebar): ms-python.python 2019.10.41019
- OS and version: Wind

[2019-10-21 15:46] Anapo14 commented on #1861
A more generic one @int19h. +1 to Karthik.

[2019-10-21 16:10] fabioz commented on #1860
What's the custom event to be sent? (i.e.: the dap protocol in pydevd is very specific to the ptvsd needs, so, I'm not sure it's worth it to send something from ptvsd instead of just sending it from pydevd)

[2019-10-21 17:00] SpectralFlame opened #1865 "Debug not working with Gstreamer (multithreaded)"
This issue is very similar to [this closed issue](https://github.com/Microsoft/vscode-python/issues/4263) but the environment and used packages are different.

## Environment data

- VS Code version: 1.39.2
- Extension version (available under the Extensions sidebar): ms-python.python 2019.10.41019
- OS and version: Linux x64 4.15.0-65-generic
- Python version (& distribution if applicable, e.g. A

[2019-10-21 17:33] int19h commented on #1860
It's #1859 for now, but there will be more - e.g. we wanted to send server logs to the adapter over DAP, and that will also need something.

In general, there's a class of issues where it's the code inside ptvsd rather than the code inside pydevd that needs to notify the adapter and/or IDE. So if pydevd is the one sending events, it'd need to expose a corresponding specialized API hook for every o

[2019-10-21 17:47] karthiknadig commented on #1856
@fabioz Looks like 3.8 might be available now: https://docs.travis-ci.com/user/languages/python/#specifying-python-versions

[2019-10-21 17:55] karthiknadig commented on #1860
Also warnings (justMyCode==false) to be sent via some custom event ( see #1861).

There is another category, basically send a request to IDE and debugger waits for response (reverse-request). That could be used to dynamically change the setting like JMC. The only limitation right now is that VSCode does not support custom reverse-requests.

[2019-10-21 18:04] fabioz commented on #1860
I think that #1861 could actually be always sent by pydevd -- the telemetry info (#1859) regarding binaries could probably be sent by pydevd too (without any special api), but it does make sense to send the server logs created from ptvsd from ptvsd itself...

As a note, I'm currently working on this issue.

[2019-10-21 18:17] karthiknadig commented on #1860
Python extension plans on using DebugAdapterTracker API for logging ( https://github.com/microsoft/vscode-python/issues/8106 ). Having server logs sent as events is useful to capture all the logs in a single location. This is also helpful in remote scenarios to get detailed pydevd logs.

[2019-10-21 22:33] karthiknadig commented on #1866
@int19h @fabioz Looks like this is a new manifestation of the static files issue. I don't think we changed anything in particular around this. It might be that the latest django release broke this somehow.

[2019-10-21 22:54] SpectralFlame commented on #1865
@karthiknadig Debugging works now, thank you.

[2019-10-21 22:54] #1865 closed

[2019-10-22 10:42] fabioz opened #1867 "Debugger may crash if module __version__ or __package__ is not json-serializable"
Stacktrace:

[code]

[2019-10-22 15:05] fabioz commented on #1864
I'll investigate this.

[2019-10-22 19:33] karthiknadig commented on #1723
@Matthias-vdE The fix is in master. However, it is not released yet.

[2019-10-22 19:42] fabioz commented on #1864
Below is the result of inputs/outputs in the debug console in python 2 and python 3...

One thing that drew my attention is that printing in Python 2 with `cp1252` gave the proper output (while the `PYTHONIOENCODING` was set to `utf-8`)... I still need to investigate a bit more to understand why we're having these results.

Python 2:
[code]

Python 3 (printed output seems correct):

[code]

Some n

[2019-10-23 07:12] ManPython commented on #1866
BTW `manage.py runserver: error: unrecognized arguments: --traceback
The clicking errors from debug console not moving to the code part or files what I expecting.

[2019-10-23 13:51] fabioz commented on #1864
Some more details on the logs (on Python 2 and Python 3):

Python 3:
[code]

Python 2:
[code]

[2019-10-23 13:52] #1640 closed

[2019-10-23 13:52] #1860 closed

[2019-10-23 13:52] #1867 closed

[2019-10-23 13:52] #1856 closed

[2019-10-23 16:14] naefl commented on #1761
Bump

[2019-10-23 19:53] int19h commented on #1864
[code]
This one looks correct to me. The input is a Unicode string with hex-escaped chars, the output is a Unicode string with the corresponding codepoints (those `\u` escapes are JSON escapes, not Python escapes). Is the Debug Console rendering it wrong?

[2019-10-23 23:53] willywu opened #1871 "Unable to run launch targets with newest VS Code Python extension"
## Environment data

- PTVSD version: ms-python.python-2019.10.44104
- OS and version: Mac OS X, 10.15
- Python version (& distribution if applicable, e.g. Anaconda): 3.7.4
- Using VS Code or Visual Studio: VS Code

## Actual behavior

When I try to launch one of my launch configurations, I get:
[code]

It looks like the file ptvsd_launcher.py doesn't exist locally for me in the directory for the

[2019-10-23 23:57] karthiknadig commented on #1871
Move this to the extension repo

[2019-10-24 00:24] int19h commented on #1761
@naefl, can you tell more about the code that you're hitting this issue on - in particular, whether you're using `os.fork`, `subprocess` module, `multiprocessing` module, or any standard or third party module that might be wrapping one of those?

[2019-10-24 00:26] naefl commented on #1761
Hi @int19h, thanks for looking into this - as said, using sklearn which utilizes multiprocessing.

I hit the error when running any code that involves sklearn.

[2019-10-24 01:48] int19h commented on #1761
My apologies, I didn't notice that part.

Did you get a chance to try `multiprocessing.set_start_method()` as described in the earlier comments? It's not a given that this would help here - I'm not sure whether sklearn uses that, or rolls its own parallelization - but it's worth a try.

Broadly speaking, these fork-related issues will be resolved once we complete https://github.com/microsoft/ptvsd

[2019-10-24 02:36] naefl commented on #1761
I'll give it a try, thanks! Any ideas on order of magnitude of timeline, weeks, months?

I think it's important highlighting that Sklearn is probably the most used Machine Learning library, and with lots of VSCode's changes targeted towards Data Scientists I assume that a lot of users will run into this problem and give up before they end up reporting their issue here.

Either way, thanks a lot fo

[2019-10-24 10:49] #1864 closed

[2019-10-24 10:55] fabioz commented on #1864
No, that's actually correct... when I said garbled I meant that it gave `ä¸­` as the output in the console (which is expected/correct in this case).

[2019-10-24 11:22] fabioz commented on #1866
@karthiknadig I've checked with `master` and it seems to work for me (with Python 3.6 and Django 2.2.6)... provided that `--nothreading` is **NOT** added to the parameters.

[2019-10-24 11:41] fabioz commented on #1859
I can take a look into this...

My idea is having `pydevd` generate an output event when handling the `initialize` request with:
[code]
on the `ptvsd` side, it should change the `output` to `ptvsd.adapter` and add the `packageVersion` when forwarding it to the ide.

@karthiknadig @int19h
Does that seem ok?

[2019-10-24 13:57] fabioz commented on #1627
I'm investigating this...

[2019-10-24 14:20] fabioz commented on #1627
There are actually 2 issues here: one is related to tracking `attrs` and the other is that dealing with Python async isn't really ok on `step over` (with just my code turned on it almost appears as it works, but it's very evident with just my code turned off that we end up going to async internals on a step over instead of going to the awaited line).

So, the attrs fix should be straightforward, b

[2019-10-25 11:04] #1844 closed

[2019-10-25 14:23] naefl commented on #1761
Same error  with

[code]

[2019-10-25 17:11] int19h opened #1874 "Subprocesses should inherit PydevdCustomization"
The crucial one is `DEFAULT_PROTOCOL`. At the moment, pydevd in subprocesses tries to connect to the adapter using the hardcoded default, which is not JSON.

[2019-10-25 17:17] int19h opened #1875 "Inject ptvsd into subprocesses"
The adapter should use the "evaluate" request to run `import ptvsd` (after setting up `sys.path`) in subprocesses when the debug server connects to it, so that user code can import the module later and do `ptvsd.break_into_debugger()` etc.

This also needs a test.

[2019-10-25 17:42] int19h commented on #1874
This one should be considered a priority, because it's blocking adapter-based multiproc (I worked around it in my branch by changing the hardcoded value directly in pydevd, but I don't want to commit that, obviously).

[2019-10-25 17:44] fabioz commented on #1874
Sure... it'll be the first thing I'll tackle on Monday ;)

[2019-10-25 17:49] int19h opened #1876 "Subprocesses need "pathMappings" in "launch" scenario"
The "ptvsd_attach" event for subprocesses is generated by the adapter from the request that started the parent debug session. If that request was "attach", then it contains "pathMappings" (or not), and that is propagated accordingly. But if it was "launch", it never contains "pathMappings" - and thus subprocesses don't get any, either. And not having "pathMappings" for "attach" generally breaks th

[2019-10-25 17:55] int19h opened #1877 ""pydevdSystemInfo" does not report "ppid" on Python 2.7 on Windows"
`os.getppid()` was not available on Windows until Python 3.2. Pydevd catches any exceptions from that call, and omits the property from JSON, so this doesn't crash the debugger. But because the adapter doesn't receive "ppid" for the incoming server connection, it doesn't know which of the existing debug sessions is the parent, and doesn't send the subprocess notification to any of them. This effec

[2019-10-25 17:55] int19h commented on #1877
Pydevd might have to propagate the parent PID via command line when spawning the child process to ensure that it's always available. Or perhaps there's a way to re-implement `os.getppid()` in 2.7 in a way similar to how it's done in 3.2.

[2019-10-28 17:54] ManPython commented on #982
@alexr00 this issue mading VSC sadly life : )
"Me too" rapid by VSC Debuger in Django

https://stackoverflow.com/questions/52372810/visual-studio-code-python-debugging-exception-has-occurred-systemexit

[2019-10-28 18:22] ManPython opened #1879 "VSC increment python instance/process and sessions in debug mode"
Looks it's back https://github.com/microsoft/ptvsd/issues/607

## Actual behavior
In relation of issues
https://github.com/microsoft/ptvsd/issues/1866
https://github.com/microsoft/vscode/issues/83129

I discover that VSC after debuging runing many python instances..
`"args": ["runserver", "127.0.0.1:8000", "--traceback", "--v {3}"],`
`"args": ["runserver", "127.0.0.1:8000", "--traceback"],`
Whenev

[2019-10-28 20:29] int19h commented on #1848
https://github.com/microsoft/ptvsd/pull/1878 also fixes this

[2019-10-28 20:29] #1848 closed

[2019-10-28 20:31] int19h commented on #1802
This is fixed by https://github.com/microsoft/ptvsd/pull/1878 - adapter doesn't exit so long as there's an active connection to it from any debug server.

[2019-10-28 20:31] #1802 closed

[2019-10-28 20:33] int19h commented on #1805
Fixed by https://github.com/microsoft/ptvsd/pull/1878 - the adapter no longer waits for IDE at startup in general, exit logic is hinged on existence of IDE and server connections.

[2019-10-28 20:33] #1805 closed

[2019-10-28 20:35] int19h commented on #1776
In https://github.com/microsoft/ptvsd/pull/1878, I've updated the basic test to use the most recently updated testing APIs, and also to run on all platforms and to test both "fork" and "spawn" start methods where available. Others should be updated according to the same pattern, and we also need to add more tests to cover various multiproc scenarios.

[2019-10-29 07:34] karthiknadig commented on #1859
@fabioz, @int19h I am wondering if `pydevd` should generate this telemetry event at all. Could we use `pydevdSystemInfo` request to get this data?

[2019-10-29 07:37] int19h commented on #1859
If I remember correctly, neither .pyd is loaded lazily, so both should be present in `sys.modules` as soon as pydevd itself is imported. In which case the adapter can do a frameless "evaluate" request to find them there.

[2019-10-29 11:01] fabioz opened #1880 "Add cython:True|False and frame_eval:True|False to pydevdSystemInfo"

[2019-10-29 11:02] fabioz commented on #1859
For doing a frameless `evaluate`, we need to address https://github.com/microsoft/ptvsd/issues/1733 before... adding the info to `pydevdSystemInfo` should be straightforward, so, I created https://github.com/microsoft/ptvsd/issues/1880 to do that on the pydev side -- this issue can be used to add the telemetry on the ptvsd side then.

[2019-10-29 11:28] int19h commented on #1859
#1733 is only required to query the children of the resulting value, isn't it? The immediate response to "evaluate" should contain "result", and if it's a plain value (e.g. True/False), that would be parseable as is. For something like `"_pydevd_bundle.pydevd_cython" in __import__("sys").modules`, that would be enough.

[2019-10-29 13:04] fabioz commented on #1859
Sort of... it currently only evaluates as an `exec` and not as an `eval` (because return values aren't currently supported), so, the return is always `''`.

We could probably do a partial support and try to do an `eval` first to return the `str` result but without a `variablesReference` (that'd be simpler/faster to do than the full support for a `variablesReference` as specified in https://github.

[2019-10-29 15:52] YoniChechik commented on #1410
happened to me as well. any progress?

[2019-10-29 21:52] TurboCooler opened #1885 "TypeError: Object of type module is not JSON serializable"
Issue Type: <b>Bug</b>

This error occurs when attempting to debug a Flask application:

Traceback (most recent call last):
  File "c:\Users\<local-os-username>\.vscode\extensions\ms-python.python-2019.10.44104\pythonFiles\lib\python\old_ptvsd\ptvsd\_vendored\pydevd\_pydevd_bundle\pydevd_comm.py", line 283, in _on_run
    self.process_net_command_json(self.global_debugger_holder.global_dbg, json_c

[2019-10-30 10:43] #1874 closed

[2019-10-30 18:59] int19h opened #1884 "Use sys.platform over platform.system()"
Per discussion here, the `platform` module might be more brittle, and potentially a perf issue:
https://github.com/microsoft/ptvsd/pull/1878/files#r340547951

[2019-10-30 22:37] int19h opened #1886 "test_flask_breakpoint_multiproc fails with run=attach_by_socket"
Python 3.7, Win32.

Logs are unclear - needs investigation.

[2019-10-30 23:37] int19h opened #1887 "test_multiprocessing broken on Linux with set_start_method("spawn")"
It looks like this creates an extra helper process on Linux:
[code]
This is duly detoured by pydevd, and reported via "ptvsd_attach" to the adapter. But the test itself expects to see only one subprocess, and so it attaches to the first one it sees (which is the wrong one). The other process just sits there waiting for a client to connect to the adapter and claim it.

[2019-10-31 00:09] int19h opened #1888 "Concurrent imports cause error in force_pydevd"
Happened in Flask multiproc test on macOS, but I think it can potentially occur in any scenario where a module is imported concurrently from another thread:
[code]
It needs to take a snapshot of the module list before iterating.

[2019-10-31 00:12] #1713 closed

[2019-10-31 00:13] int19h commented on #1877
The fix doesn't seem to be working reliably. This is from a test run for `test_flask_breakpoint_multiproc[launch(integratedTerminal)]`:
[code]
Note the missing "ppid". Looking at pydevd log for the process reporting, it has this entry in it, but no further details:
[code]

[2019-10-31 00:17] int19h opened #1889 "Double "ptvsd_attach" for subprocesses"
The same subprocess can end up getting reported to the IDE twice occasionally, due to a race condition in this code:
https://github.com/microsoft/ptvsd/blob/db7b0b64a37c2e51303351b64723bb9b1914168a/src/ptvsd/adapter/ide.py#L352-L357
This will cause the IDE to try to attach to it twice, and the second attach will fail, and get reported as such to the user (the first one will still work fine). It ca

[2019-10-31 00:21] int19h commented on #1835
The original issue should be resolved by https://github.com/microsoft/ptvsd/pull/1878 (note that this is in master, but not in any released ptvsd version yet).

[2019-10-31 00:21] #1835 closed

[2019-10-31 00:22] int19h commented on #1761
https://github.com/microsoft/ptvsd/pull/1878 is the new multiproc implementation that should fix this issue.

[2019-10-31 00:22] #1761 closed

[2019-10-31 00:23] int19h commented on #774
Is this still relevant?

[2019-10-31 00:56] themythhimself opened #1890 "Debugger exiting after after 30 seconds"
Hi,

Please close if this not the right place to ask.
I've having an issue where the debugger is attaching then detaching from the remote host after 30 seconds.
While attached everything works perfectly.

### My Application Setup
- Django app
- gunicorn server
- Nginx proxy
- supervisor manages the process.
- host vm running in vagrant

Looking at the plugin logs it looks as thought a client is sh

[2019-10-31 01:14] themythhimself commented on #1890
Fixed the issue.
Adding the following option to my debug configuration in launch.json in vscode has fixed the issue.

[code]

Not exactly sure why?

[2019-10-31 01:14] #1890 closed

[2019-10-31 05:04] int19h commented on #1885
Looks like a dupe of #1867.

[2019-10-31 05:04] #1885 closed

[2019-10-31 05:06] int19h commented on #1879
Which version of ptvsd are you using? Try `print(ptvsd.__version__)` to make sure it's the right one for whatever is actually running in the process.

[2019-10-31 07:04] ManPython commented on #1879
4.3.2

[2019-10-31 10:49] fabioz commented on #1877
I'm investigating.

[2019-10-31 18:18] int19h commented on #1879
Would it be okay for you to share the logs of your debug session? You can set three environment variables to maximize logging verbosity (these can go into "env" in your launch.json):
[code]
Substitute C:\Logs for whatever directory you want them to be in. In addition to pydevd.log, there should be one or more files named ptvsd-*.log there.

[2019-10-31 19:15] #1877 closed

[2019-10-31 19:30] #1888 closed

[2019-10-31 21:03] ManPython commented on #1879
Not sure how to prepare this config.. is this correct?

[code]
or
[code]

HVR any of experiments not producing logs  https://github.com/microsoft/ptvsd/issues/1252

[2019-10-31 21:05] ManPython commented on #1879
Additional infomration that any restart of debugin producing new python instance not restarting, killing all precess of pythons form lists stoping debug in VSC.

[2019-10-31 21:20] ManPython commented on #1879
Ok.. I maded this:
`import ptvsd
ptvsd.enable_attach(log_dir="C:\ptvlogs")`

[code]

[2019-10-31 21:25] civilman628 commented on #1761
@int19h  which version will include this fix?

[2019-10-31 21:43] karthiknadig commented on #1879
Can you share your `launch.json`? Also are you starting django manually if so can you share that command line?

[2019-10-31 21:45] ManPython commented on #1879
[code]

[2019-10-31 22:00] karthiknadig commented on #1879
Remove `import ptvsd` and `ptvsd.enable_Attach(...)` from your code.

The issue is that you were missing `subProcess` in your setting. So, debugger was not connecting to the child processes started by django. Try this config first and see if it helps:
[code]

This config for logs:
[code]

[2019-10-31 22:23] ManPython commented on #1879
Ok.. now are only 2 python process always after reset and run debug.

[2019-10-31 22:23] ManPython commented on #1879
But I don't have traceoutput in `"console": "integratedTerminal",` exist in pydevd
[code]

Not sure wichc part deciding about output
[code]

[2019-10-31 22:27] int19h commented on #1761
@civilman628 The next alpha of ptvsd 5.0 will have it.

[2019-10-31 22:32] karthiknadig commented on #1879
@ManPython If you want to debug `django` package itself. you should add `"justMyCode":  false`  your launch config. Like this:
[code]

If that was not the intent, then could you capture a gif of the issue you are running into.

[2019-10-31 23:44] ManPython commented on #1879
Ok.. I see the problem. Only stop debuging gives me output as
[code]
And there are random `Child process 1234` in combolis that are archived.
In default in combolis is `Python36 Dijango` as "name": "Python36 Django" - not loging trace
After this must select and find process from Call Stack. Should be default new process as last to omitt action to select in combolist actuall process.
Restart of chi

[2019-11-01 16:47] karthiknadig commented on #1624
@fabioz I think this should be the next item to address after addressing multiproc related stuff. This is needed so we can deprecate ptvsd==3.*

[2019-11-01 16:50] karthiknadig opened #1894 "pydevd.so and frame_eval.so on linux are quite large compared to mac"
See if symbols are getting included in the .so files while building wheels.

[2019-11-01 20:07] int19h commented on #1887
This is more complicated than originally anticipated, because the number of helper processes depends on Python version (some spawn them for each subprocess, some only for the main process), and the order is non-deterministic - the second process may get spawned before the first one gets a chance to notify the adapter. So the test can't just attach to subprocesses in a predetermined sequence - it h

[2019-11-02 17:48] ManPython commented on #1866
I'm confused little here near of this issue and DJango..
So.. on
VSC - not working static on debug
WIN - on cmd static working on debug
LNX - by wsgi static not workig on debug

The difference betwen WIN and LNX that WIN `200` status, LNX `404` error (The requested resource was not found on this server.).

How this impacting by VSC and LNX? Eg. files in `static` dir located in this way:
1. home/us

[2019-11-02 18:25] ManPython commented on #1866
Looks that the best is to use [uwsgi] as file loaded with many vars and add  line `check-static = home/user/app/`
https://uwsgi-docs.readthedocs.io/en/latest/StaticFiles.html

[2019-11-02 21:04] Yossarian0916 opened #1895 "Cannot debug python code using 'current file' configuration"
Here is my configuration for python file:
[code]

When I launch debugger, I got following error:
[code]

[2019-11-03 21:07] rbu commented on #1432
@isidorn @yzhang-gh @int19h The issue on vscode (microsoft/vscode#73845) was closed as out of scope and was refered back to this extension. Could you reopen this bug as a consequence?

The current state makes the debug console unusable for any multiline strings (such as tabluar data). I see the space optimization point for the Variables view, but the console should use the horizontal space it has

[2019-11-04 03:16] karthiknadig opened #1896 "Using Ctrl+C causes launcher to print traceback"
## Environment data

- PTVSD version: master
- OS and version: linux
- Python version (& distribution if applicable, e.g. Anaconda): 3.7
- Using VS Code or Visual Studio: VSC

## Actual behavior

[code]

## Expected  behavior

This is normal way to shutdown the servers. Show not print exception in launcher.

[2019-11-04 05:17] int19h commented on #1895
Do you have a file in your project named queue.py, by chance?

[2019-11-04 07:54] Yossarian0916 commented on #1895
Oh!!! Thank you so much.

[2019-11-04 11:27] fabioz commented on #1432
Well, as it stands, the only way I can see here would be not returning a `frameReference` and just print the result instead (i.e.: when the user does `np.random.rand(5, 5)`, instead of returning the variable we'd return nothing and would print it instead).

 -- note that right now the workaround is doing the print yourself:

i.e.: Instead of doing:

`np.random.rand(5, 5)`

you can do:

`print(np.r

[2019-11-04 11:38] fabioz commented on #1624
I'll start taking a look at it.

[2019-11-04 19:19] int19h commented on #1432
We need changes from VSCode to fix this properly, and we'll ask for them. But until then, it still manifests as a product bug in the debugger, so we'll track that here.

[2019-11-05 01:50] karthiknadig commented on #1895
I am assuming this is addressed.

[2019-11-05 01:50] #1895 closed

[2019-11-05 16:25] albertcruzeyork opened #1897 "internal error"
[code]

[2019-11-05 21:35] int19h commented on #1897
It looks like the Conda virtual environment that you're trying to run this code in is broken. Another possibility is that it's an environment created from Python 3, but it somehow ended up running with a Python 2 interpreter.

Can you provide more information about how the code was launched? launch.json, details about the virtual environment etc.

[2019-11-06 09:00] albertcruzeyork commented on #1897
Here is the launch.json
{
    // 使用 IntelliSense 了解相关属性。
    // 悬停以查看现有属性的描述。
    // 欲了解更多信息，请访问: https://go.microsoft.com/fwlink/?linkid=830387
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Python: 当前文件",
            "type": "python",
            "request": "launch",
            "program": "${file}",
            "console": "integratedTerminal"
        }
    ]
}

[2019-11-06 09:02] albertcruzeyork commented on #1897
here is the launch.json:
{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Python: 当前文件",
            "type": "python",
            "request": "launch",
            "program": "${file}",
            "console": "integratedTerminal"
        }
    ]
}

[2019-11-06 09:20] albertcruzeyork commented on #1897
I copy the subprocess.py in other virtual environment to cover the current one and it doesn't report error anymore.

[2019-11-06 09:45] int19h commented on #1897
That would, indeed, indicate a broken environment. It's probably best to just re-create it from scratch using your requirements.txt or equivalent, since there may be other standard modules there that are affected in a similar way.

[2019-11-06 09:45] #1897 closed

[2019-11-06 10:08] damufo opened #1899 "Stopping debugger when paused on breakpoint does not kill python process"
## Environment data

- VS Code version: 1.39.2
- OS and version: debian 9.10 XFCE
- Python version (& distribution if applicable, e.g. Anaconda): 3.5.3 64 bit
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): venv

Version: 1.39.2
Commit: 6ab598523be7a800d7f3eb4d92d7ab9a66069390
Date: 2019-10-15T15:33:40.634Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9

[2019-11-06 20:35] #1880 closed

[2019-11-07 06:34] xiaofeng0123 opened #1898 "Don't step into loop when pressing F11 with hit count breakpoint"
## Environment data

- VS Code version: 1.40.0-insider
- Extension version (available under the Extensions sidebar): 2019.11.47235-dev

## Expected behaviour

It should step into loop when pressing F11 with hit count breakpoint

## Actual behaviour

Cannot step into loop when pressing F11 with hit count breakpoint, It always stop on "for" statement
![image](https://user-images.githubusercontent.co

[2019-11-07 19:25] fabioz commented on #1624
Just to note, my plan is to provide a pull request for this on Monday.

[2019-11-07 23:27] Breich90 commented on #943
Any update here?  Spawning isn't a feasible alternative.

[2019-11-08 03:50] int19h commented on #943
@Breich90  My apologies - we haven't done a good job of tracking the work on the new implementation in a way that's easy to follow. At this point, it's mostly centralized in this issue, which references a bunch of others:
https://github.com/microsoft/ptvsd/issues/1706

TL;DR is that the new implementation is already committed and does fix the fork issue, but we need to do a few more bug fixes and

[2019-11-08 12:25] gins3000 opened #1904 "[debugAdapter] Protocol violation handling 'attach' request (incorrect request_seq)"
## Environment data
- Extension version (available under the Extensions sidebar): 2019.10.44104

## Expected behaviour
A response is sent with the `request_seq` matching its request's `seq`.
See: https://microsoft.github.io/debug-adapter-protocol/specification#Base_Protocol_Response
[code]

## Actual behaviour
When `attach` fails once, and is re-sent, the `request_seq` will be that of the first (f

[2019-11-08 19:35] karthiknadig opened #1900 "Ensure that the `ptvsd_attach` event sets the right name for child processes"
Currently we use the same name as the parent config for the child process config.

The name for child process should probably be `Process #<id>` or something similar.

[2019-11-08 20:23] int19h opened #1901 "Race between IDE and server connecting to the adapter"
When using `ptvsd.enable_attach()`, there is a brief period of time when the server spawned the adapter, and the adapter has opened the port to listen for incoming IDE connections, but the server hasn't connected to the adapter yet. If the IDE connects to the adapter at that point, it will reject the connection because there's no server.

This is pretty hard to repro outside of tests because of ho

[2019-11-09 13:04] OutOfFocus4 opened #1905 "Python Debugger Leaks Processes on Restart"
## Environment data

- VS Code version: 1.40.0
- Extension version (available under the Extensions sidebar): 2019.10.44104
- OS and version: Ubuntu 18.04.3
- Python version (& distribution if applicable, e.g. Anaconda): CPython 3.6.8
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): venv
- Relevant/affected Python packages and their versions: N/A
- Jedi or Language Server

[2019-11-10 11:19] magur2017 opened #1906 "timeout waiting for debugger connection"
Microsoft Windows [Version 10.0.17134.1006]
(c) 2018 Microsoft Corporation. All rights reserved.

c:\Users\dino_\Desktop\python_lessons>C:\Users\dino_\AppData\Local\Programs\Python\Python37-32\python.exe c:\Users\dino_\.vscode\extensions\ms-python.python-2019.10.44104\pythonFiles\ptvsd_launcher.py --default --client --host localhost --port 51290 c:\Users\dino_\Desktop\python_lessons\itertools.py
T

[2019-11-11 08:16] andaag commented on #1682
Eny eta on getting this on master? I'm hitting this in the linked issue.

[2019-11-11 08:28] int19h commented on #1682
It's already in master, and in ptvsd 5.0.0 pre-releases. You should be able to just do `pip install --pre` to get it for testing.

[2019-11-11 21:20] int19h commented on #1904
Can you clarify which version of ptvsd you're using (`ptvsd.__version__` will do the trick). Also, given that this is a custom DAP client scenario, how are you communicating with the adapter - is it a direct socket connection to ptvsd, or are you going via the .ts adapter that ships with the VSCode extension?

[2019-11-11 21:21] int19h commented on #1905
By "restart" and "stop", do you mean the corresponding buttons on the Debug toolbar?

[2019-11-11 21:34] int19h commented on #1906
Does your project have a script named "numbers.py" in it somewhere, by chance? If so, it ends up shadowing the Python standard module `numbers`, which is an indirect dependency for the debugger.

[2019-11-11 21:40] int19h commented on #1896
To be more specific, we should be catching and suppressing `KeyboardInterrupt` at top level in the launcher (what's observed is the default behavior for Python). The debuggee will get that exception as well, and can do whatever it wants about it. But even in the default case, it means that both launcher and debuggee will print the traceback, and we only want the debuggee to do this.

[2019-11-11 21:51] int19h commented on #1898
I think it's because there is no way for the tracing code to distinguish whether this line was hit because it was the target of a step, or because of the breakpoint. So it assumes breakpoint, and then when the condition isn't true, auto-resumes.

I'm not sure what we can do here, though. In particular, we can't just fall back to treating it as end of step if condition isn't True - the problem is t

[2019-11-12 08:32] gins3000 commented on #1904
@int19h I have originally posted this issue in https://github.com/microsoft/vscode-python, and communicated with the adapter featured there, launching it myself with `node ./out/client/debugger/debugAdapter/main.js --server=<some port>`, with a custom client implementing the VSCode Debug Protocol.

I don't think ptvsd is relevant for this particular issue (it's about the debug adapter from the VSC

[2019-11-12 09:07] int19h commented on #1904
This is a bit complicated, and we never really communicated the relationship between the adapter in vscode-python, and ptvsd itself, clearly.

The old arrangement - that currrently ships in vscode-python - is ptvsd 4.x + TS adapter. In that one, ptvsd does implement DAP, but only over a socket. Thus, the separate adapter was needed to implement DAP-over-stdio (by redirecting to socket), and to han

[2019-11-12 09:20] gins3000 commented on #1904
Wow, thanks for this detailed and yet fast response :o

When I saw that ptvsd implements the DAP I suspected that the DAP implementation from the extension might really be on the way out. In this case I will just close the issue. Thanks again!

[2019-11-12 09:20] #1904 closed

[2019-11-12 15:49] kirtangajjar commented on #1854
Can confirm, having same issue.

[2019-11-12 17:48] OutOfFocus4 commented on #1905
Yes, If I restart the debugger using the debug toolbar (or related keyboard shortcuts), a new process is started, but the original debugger process isn't stopped, even if I later close Visual Studio Code.

After quitting Visual Studio Code on a Mac, this is the output of `pgrep -lf delete`. I have replaced my username with `*********`:

[code]

[2019-11-12 22:09] int19h opened #1908 "PID reuse can cause errors in the adapter"
Consider this scenario:

1. Process X with PID=123 spawned.
1. X connects to adapter, registers itself.
1. X exits, but the exit is not yet observed by adapter.
1. Process Y with reused PID=123 spawned.
1. Y connects to adapter, tries to register it.
1. Adapter sees that PID=123 corresponds to X, rejects Y.
1. Adapter observes X exiting, deregisters X.

The problem is that, while process lifetimes

[2019-11-12 22:18] int19h opened #1909 "Fork/exec creates two connections from pydevd to adapter"
This is causing `test_subprocess` to fail on Python 2.7, and is also the root cause of Flask test failures.

The problem is that on 2.7, `subprocess.Popen` uses fork+exec - and pydevd detours both. So first `fork()` creates a child process, and pydevd is spun up in that process and connects to the adapter. Then the child process does `exec()`, pydevd patches command line to ensure that it gets loa

[2019-11-12 22:19] int19h commented on #1909
@fabioz, what do you think? Is there any downside to explicitly closing the socket in pydevd?

[2019-11-12 22:22] int19h commented on #1909
Another interesting side effect of this: because we use PID to generate distinct log file names, they end up clashing in this case. This made it harder to diagnose this issue, because the pydevd log created after `exec` was overwriting the older log created after `fork`. The same issue would apply to `ptvsd.server` log, if it got far enough to create one.

Perhaps we should include a timestamp in

[2019-11-13 00:44] int19h opened #1910 "Attach-by-pid failing on Windows"
Python 3.7 64-bit:
[code]
There's a pydevd log, but it only has one line in it, about using Cython.

The failure is consistent across all tests that use attach-by-PID, and no other tests fail. A ptvsd test run can be restricted to just those tests with:
[code]

[2019-11-13 02:13] #1875 closed

[2019-11-13 02:13] #1889 closed

[2019-11-13 02:13] #1901 closed

[2019-11-13 04:40] karthiknadig commented on #1854
@jdwestwood
Can you try the following:
#### Option 1:
Looking at the call-stack it looks like you are using a newer version of the debugger in when you import it. But extension is still attaching with the assumption that it is the old debugger. To use the newer debugger change the debug config to this:
NOTE: this is a temporary solution. you should not need it when we fully transition to the new d

[2019-11-13 05:11] karthiknadig commented on #1899
We have a newer version of the debugger that is in `alpha`, that should address this issue. In this particular case the node debug adapter is being left behind for some reason after the old python debugger exits. In the newer version, the adapter itself will be a python process and the lifetime of that process is managed more aggressively.

I am closing this issue in favor of waiting for the exten

[2019-11-13 05:11] #1899 closed

[2019-11-13 07:36] kirtangajjar commented on #1854
@karthiknadig I tried setting `"debugServer": 5678`, in my config and it worked for a local connection, but when the code is running in docker container and it's port are mapped to host, it doesn't work. The debugger isn't even able to connect to the ptvsd server.

If I open vscode in container with remote:containers extension, then I am able to get debugger working.

[2019-11-13 07:43] karthiknadig commented on #1854
@kirtangajjar The `debugServer` workaround only works with `localhost`. On your docker container what is the version of `ptvsd` that you are using? Did you install it from `pip`?

[2019-11-13 07:47] kirtangajjar commented on #1854
v5.0.0a7

Yes

I have bound the port of container on host and I'm trying to connect on `0.0.0.0`, and still it's not working. Is it expected?

[2019-11-13 08:00] karthiknadig commented on #1854
@kirtangajjar Can you share the debug config you are using from the `launch.json`? Any particular reason you are using pre-release (alpha) version of the debugger?

[2019-11-13 14:38] fabioz commented on #1909
I think closing the socket is ok and makes sense. I'll create a pull request for that.

I was thinking a bit more about it and maybe we should handle that specific case from subprocess and don't even create a connection for the fork in that case (note that we still need to handle the fork/exec case in case some user specifically does it, but it won't be common as it is now -- in this case it may b

[2019-11-13 16:11] fabioz commented on #1910
This changed a lot in https://github.com/microsoft/ptvsd/pull/1903, so, I'll take a look at this in that pull request.

[2019-11-13 18:26] jdwestwood commented on #1854
@karthiknadig The `debugServer` workaround is working for me with localhost.  Thank you!

One detail perhaps worth documenting is that after launching the remote debugger using the workaround, if I then terminate the task using Ctrl-C in the terminal window, an unhandled exception occurs:
[code]
The exception occurs whether or not the debugger has been attached to the process or a breakpoint has b

[2019-11-13 18:42] int19h commented on #1909
Makes sense, if it can be detoured reliably. Attaching to that intermediate process doesn't do anything useful, but the user ends up paying the penalty of loading the debugger in it and waiting for IDE to attach to it.

[2019-11-13 18:48] int19h commented on #1854
@jdwestwood This is the standard Python behavior for Ctrl+C. Since this code is running inside the process being debugged, on the main thread, we generally try to not interfere with stuff like that, to allow the app itself to handle `KeyboardInterrupt` however it sees fit (and, in particular, suppress exit).

That said, the stack above is while it was waiting in `wait_for_attach()`. What does it l

[2019-11-13 22:49] jdwestwood commented on #1854
@int19h OK, that makes sense.  Here is the trace after setting a breakpoint and attaching the debugger, the debugger hits the breakpoint.  Terminate the task with Ctrl-C:
[code]

[2019-11-13 23:10] int19h commented on #1896
For attach scenarios, adapter has the same issue, because it is spawned by the debuggee, and thus shares the console/tty.

[2019-11-13 23:13] int19h commented on #1854
Thank you! So there are three things receiving the interrupt signal here.

The one in the middle is where it is paused on the breakpoint in your code. I'm not sure what we can do about that one... what would your expectation be here? Consider that if you did something like `input()` in your script at the same line as the breakpoint, and then pressed Ctrl+C on that, you'd receive the same exception

[2019-11-14 00:47] jdwestwood commented on #1854
Yes, I think the second one is OK.  And also glad to learn the last one is already identified in #1896.

[2019-11-14 02:52] int19h commented on #1811
Only happens on Windows, not on Linux.

The underlying issue is that the import lock is being held by the main thread (which is inside `import debug_me`). Need to investigate a better way to run that code.

[2019-11-14 07:42] FenryrMKIII opened #1913 "Can't import cv2"
Issue Type: <b>Bug</b>

# Create an environment with Python 3.8.0
In an Anaconda prompt, type
`conda create -n myEnv python=3.8`
# install opencv using conda.
In an Anaconda prompt, type
`conda install -c conda-forge opencv`
# Launch visual studio code
`code .`
# Import opencv in a `python.py` script
`import cv2`

# Launch script using visual studio debugger with following config :

[code]

Visual

[2019-11-14 09:13] YoniChechik commented on #1570
any news about the subject?

[2019-11-14 09:22] YoniChechik commented on #1570
another reference https://github.com/microsoft/vscode-python/issues/6680

[2019-11-14 18:33] int19h commented on #1570
@karthiknadig , this looks like it's strictly about the Python extension to me? Since ptvsd doesn't have any control over how the lines get (un)indented when they're submitted to the Debug Console from the editor. The issue in vscode-python that @YoniChechik referenced above is the one tracking it there.

[2019-11-14 19:02] karthiknadig commented on #1570
The reason i moved it over is, if a evaluate string starts with an indent should we remove the white space? It will be an indentation error anyway. and we can detect that before we execute. In the case of block of code we should be able to just dedent right?

[2019-11-14 19:38] int19h commented on #1570
Oh, I misunderstood the repro. I thought this was about sending lines one by one, but in this case they're all sent as a single multiline block to execute?

Yeah, we can make it work in this case, with the same dedent logic we currently use for `@pyfile` in the tests.

[2019-11-14 20:03] int19h commented on #1886
When this happens, the session logs some error output coming from inside pydevd in the subprocess (that Flask spawns to perform auto-reload):
[code]
And here's the corresponding part of pydevd log for the parent process, where it patches the arguments before the subprocess gets spawned:
[code]
Note that the mangled `-m` argument was already there _before_ pydevd did anything - it came from Flask.

[2019-11-14 20:31] int19h opened #1914 "Sporadic multiproc test failures due to Popen bug"
This is a Python bug:
https://bugs.python.org/issue37380

TL;DR: when a `subprocess.Popen` instance is GC'd, the process handle gets closed, but it is not removed from "active processes" list if the process in question was still running at the time. At some later point, attempting to create a _new_ `Popen` instance tries to clean up the active process list first thing in its `__init__` (invoking `

[2019-11-14 20:36] int19h opened #1915 "attach_to_pid tests fail on Travis CI"
I+00001.303: Injector[PID=6125] output:
             b'stderr: b\'Could not attach to process.  If your uid matches the uid of the target\\nprocess, check the setting of /proc/sys/kernel/yama/ptrace_scope, or try\\nagain as the root user.  For more details, see /etc/sysctl.d/10-ptrace.conf\\nptrace: Operation not permitted.\\nTarget \\\'None\\\' cannot support this command.\\nNo symbol table is lo

[2019-11-14 20:37] int19h commented on #1915
@fabioz Is there some requirement that attach-to-PID needs that we're missing in our Travis setup?

[2019-11-14 21:00] fabioz commented on #1915
Yes... the ptrace scope needs some tweaking:

See: https://github.com/microsoft/ptvsd/blob/master/src/ptvsd/_vendored/pydevd/.travis.yml#L89

[2019-11-14 21:22] int19h opened #1916 "attach_to_pid failing on macOS with Python 2.7"
[code]

[2019-11-14 21:58] int19h opened #1917 "Improve error reporting when ptvsd port is already in use"
With the new adapter, in an attach scenario where the adapter is spawned by the server, if it's told to listen on a port that's already in use, the error is very hard to parse. The adapter itself will crash with "OSError: [WinError 10048] Only one usage of each socket address (protocol/network address/port) is normally permitted", and log it to stderr - which is fine.

But then the debug server wi

[2019-11-14 22:16] int19h opened #1918 "ptvsd port conflicts in test runs"
This causes sporadic test failures on CI, with symptoms described in #1917.

I believe that the underlying cause is that in attach tests, `debug.Session` doesn't know about the adapter process, and thus it can only wait for the debuggee process to exit before reporting completion. Since the port is actually opened by the adapter, it doesn't get closed until the adapter exits. It does close connect

[2019-11-15 10:25] fabioz opened #1919 "pydevd should not notify about threads before ready to run"
This was a bad side effect of https://github.com/microsoft/ptvsd/commit/4ce4e709ceae389b2b38db0137e9b35c20d3ff1e (I'll provide a fix shortly).

[2019-11-15 19:37] OutOfFocus4 commented on #1905
I am now encountering instances where clicking the Restart button will stop the debugger, but not start a new one. This also occurs when I use the keyboard shortcut.

Like before, the debugger process isn't killed automatically unless I have `logToFile: true` in `launch.json`.

Also, here is my `launch.json`:
[code]

[2019-11-15 19:55] #1810 closed

[2019-11-15 19:55] #1914 closed

[2019-11-15 19:55] #1915 closed

[2019-11-15 19:55] #1918 closed

[2019-11-16 07:14] #1919 closed

[2019-11-18 13:51] jimbobbennett opened #1931 "Debugging on some WiFi causes localhost to be not found"
This is the same issue as microsoft/vscode-python#715 which is closed as resolved. Adding this issue to provide more detail on reproduction.

## Environment data

- VS Code version: 1.40.1
- Extension version (available under the Extensions sidebar): 2019.10.44104
- OS and version: macOS 10.15.1
- Python version (& distribution if applicable, e.g. Anaconda): 3.8
- Type of virtual environment used

[2019-11-18 17:20] oji opened #1922 "Orphan Python process on restart debugging"
## Environment data

- VS Code Data:
   - Version: 1.40.1
   - Commit: 8795a9889db74563ddd43eb0a897a2384129a619
   - Date: 2019-11-13T16:47:44.719Z
   - Electron: 6.1.2
   - Chrome: 76.0.3809.146
   - Node.js: 12.4.0
   - V8: 7.6.303.31-electron.0
   - OS: Darwin x64 18.7.0

- Extension version (available under the Extensions sidebar): 2019.10.44104
- OS and version: Darwin x64 18.7.0
- Python ver

[2019-11-18 18:37] #1624 closed

[2019-11-18 18:38] #1909 closed

[2019-11-18 19:50] int19h commented on #1910
This appears to be fixed by #1903.

[2019-11-18 19:50] #1910 closed

[2019-11-18 19:54] int19h commented on #1728
This is fixed by ptvsd 5, at least for "launch" scenarios where we can redirect the process output from the outside - it now captures everything that is written to stdout or stderr, regardless of how that is done.

[2019-11-18 19:54] #1728 closed

[2019-11-18 20:22] int19h commented on #1813
This is still happening - here's pydevd log from a recent Python 3.5 run:
[code]
Note the part about "timed out waiting for writer to be empty". On the adapter side, it simply never receives the response:
[code]
The timestamps correspond to the 500ms timeout for the writer thread. So it looks like the writer thread is blocked on something. However, looking at the code, I don't see any obvious way

[2019-11-18 21:50] #1886 closed

[2019-11-18 22:07] karthiknadig commented on #1859
Closing this. Since we can get this info via `ptvsd_sysinfo`.

[2019-11-18 22:07] #1859 closed

[2019-11-18 22:10] karthiknadig opened #1924 "Use yaml files for PR validation and CI"

[2019-11-18 22:39] cjolivier01 commented on #481
I have this same problem

[2019-11-19 08:07] int19h opened #1926 "attach_by_pid tests flaky on Windows and MacOS"
After enabling `attach_to_pid` test runner for a bunch more generic tests, there are assorted test failures on Win32 and MacOS, but not on Linux. All failing tests expect to hit a breakpoint (regular or exception), but the debuggee just runs to completion.

The exact list of failing tests seems to be somewhat random (one example below), and I cannot reproduce any failures in a local run, so this i

[2019-11-19 08:08] xiaofeng0123 opened #1928 "Error popup when debug flask"
Visual Studio Code - Insiders: 1.41.0-insider
python-insider: 2019.12.49019-dev
python version: Python 3.8.0 64bit
Install Anaconda

Repro steps:
1.Git clone https://github.com/qubitron/pydemo
2.Open Anaconda Prompt window
3.Cd pydemo
4.Run py -3 setup.py
5.Set "python.jediEnabled" to "false" in "Settings.json"
6. Open "Stackoverflow-flask" folder
7. Select "Debug“
8. Select "Add Configuration..."

[2019-11-19 08:12] Kieran-Bacon opened #1927 "Entry points aren't being found while test debugging"
## Environment data

- VS Code version: 1.40.0
- VS Code Commit: 86405ea23e3937316009fc27c9361deee66ffbf5
- Extension version (available under the Extensions sidebar): 2019.10.44104
- OS and version: macOS Mojave version 10.14.6
- Python version (& distribution if applicable, e.g. Anaconda): Anaconda
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): conda
- Relevant/affec

[2019-11-19 09:52] karthiknadig commented on #1928
@xiaofeng0123 Can you confirm this happens even if you use `"FLASK_APP": "app.main"`? FLASK_APP should be the name of the module, according to the docs:  https://flask.palletsprojects.com/en/1.1.x/quickstart/#invalid-import-name

@int19h From the screen shot it looks like the environment variable `FLASK_APP` is not getting set correctly. Should it be setting that before ` & ` ?

[2019-11-19 12:47] OutOfFocus4 commented on #1905
I just installed version 2019.11.49689 of the extension on my Mac, and the issue still exists.

[2019-11-19 17:22] int19h commented on #1928
This is using `"console":"internalConsole"` (default value) rather than `"integratedTerminal"`, so there's no command line corresponding to the debuggee in the terminal, and thus no environment variables - you only see the command line for the launcher, and the launcher gets the env vars from the "launch" request that's forwarded to it.

This is also likely why there's no error output from Flask i

[2019-11-19 18:35] int19h commented on #1905
We have completely rewritten the component that you see becoming a zombie in the upcoming ptvsd 5 release. These bits are already checked in, and pre-releases on PyPI have them, but we haven't shipped a version of VSCode with them - this is coming soon, however. Better lifetime management has been a specific focus in this rewrite, so it's likely to resolve this issue.

[2019-11-19 19:36] int19h commented on #1922
This looks like a dupe of #1905

[2019-11-19 19:36] #1922 closed

[2019-11-19 19:40] vdurante opened #1930 ""launch" doesn't work with venv on Windows and Python 3.7+"
## Environment data

- VS Code version: 1.40.1
- Extension version (available under the Extensions sidebar): 2019.11.49689
- OS and version: Windows 10 Pro 1909
- Python version (& distribution if applicable, e.g. Anaconda): 3.7.4
- Type of virtual environment used: pipenv or poetry. Happens on both

## Expected behaviour

Being able to debug the application

## Actual behaviour

Popup shows messa

[2019-11-19 19:53] karthiknadig commented on #1931
@int19h is it feasible to get better error messages here?

[2019-11-19 20:03] int19h commented on #1931
We receive this as a generic `socket.error` from Python, and propagate the included error message. On some platforms this works better than others, but it's a fairly common pattern for dev tooling, and it does have the benefit that the error message is unique enough that it's easy to search for - try googling "getaddrinfo ENOTFOUND localhost".

We could check for `ENOTFOUND` error code specificall

[2019-11-19 20:06] #1884 closed

[2019-11-19 20:07] karthiknadig commented on #1931
@int19h +1 for the platform specific note idea. I don't think we should modify the error. Just provide a note.

[2019-11-19 20:31] dxkaufman opened #1932 "Feature request: allow changing variable value during debugging"
I did a couple of searches and don't see anything that is a duplicate, though I'm not going to be surprised if you find one!

I would like to be able to use the Watch window to change the value of a variable during debugging.

[2019-11-19 20:59] #1900 closed

[2019-11-19 22:04] int19h commented on #1930
The difference in command line indicates that one environment is using ptvsd 4.x, and the other one is 5.x.

[2019-11-19 22:12] int19h commented on #1930
Do you see this working correctly if a virtual environment is *not* used?

[2019-11-19 22:22] int19h commented on #1930
Ah, I think I see what the issue is.
[code]
The adapter is expecting the connecting debug server to has PID=2524, because that's the PID of the process that it spawed. Instead, it gets a connection from PID=13056, which is a child of 2524.

This happens because on Windows, starting with Python 3.7.2, venv now uses a lightweight stub for python.exe, which spawns the actual python.exe from the base

[2019-11-20 00:46] vdurante commented on #1930
I will answer all 3 of your messages

#1 ok, that makes sense. Thank you
#2 yes. Everything works fine without environment. And the environments stopped working randomly. Environments were working yesterday
#3 I understood your description, but couldn't understand if this is a bug or something I did wrong

Thank you for the fast response

[2019-11-20 02:53] xiaofeng0123 commented on #1928
I have tried this by setting `"FLASK_APP": "app/main.py"` and `"FLASK_APP": "app.main"` in new test environment. The error popup when debug at the first time, It works OK after the second time.

[2019-11-20 03:09] int19h commented on #1930
You did nothing wrong - this is definitely a bug, and a high-priority one at that - so a fix will be coming soon. The comment was there to record the results of the preliminary investigation.

Thank you for bringing it to our attention, and for the logs that allowed it to be diagnosed so quickly!

[2019-11-20 03:33] zhucong1986 opened #1938 "Debuggee output is UTF-8 regardless of locale"
version: ms-python.python-2019.11.49689
Yesterday, vscode has autoupdate this extension.
after that. vscode terminal output chinese encoding error.

This file work well in cmd/powershell window.

![error.jpg](https://i.loli.net/2019/11/20/oCiPsS26xyAtTIM.jpg)

[2019-11-20 05:36] danvisko commented on #1866
you should check out the documentation [https://www.djangoproject.com/](url)
[https://www.danvisko.com/](url)

[2019-11-20 10:11] int19h commented on #1932
We do implement the requisite bit in the protocol specification ("setExpression"), and this already lights up the corresponding feature in Visual Studio. But it appears that Visual Studio Code itself just doesn't support editing values in the Watch window, only in Variables, so there isn't much we can do here until that changes (and when it does, it should "just work" from our end).

[2019-11-20 10:11] #1932 closed

[2019-11-20 12:43] 520Chris opened #1939 "Better display for the variable in the debug console"
When I want to check the variable in the debug console, I get long variable information like the image shows.
![image](https://user-images.githubusercontent.com/39628662/69239716-d5bb8f80-0bd5-11ea-9820-8ed57e2a24f9.png)
The multiline information is chaos, and unreadable!

**Describe the feature you'd like**
Change **multiline** information of a variable to **one line**.
When the user wants to che

[2019-11-20 22:13] int19h commented on #1913
The problem is that it can't import MKL:
[code]
This, in turn, is because it's not running from an activated Conda environment, e.g. via `conda run`. There's an existing issue tracking that work: https://github.com/microsoft/vscode-python/issues/8422 - closing this one as a dupe.

[2019-11-20 22:13] #1913 closed

[2019-11-21 00:09] int19h opened #1934 "Monkey-patch os.posix_spawn"
But succeeds on Python 3.6 and 3.7. Looking at pydevd logs for the parent process, the difference is that there's no "Patching args" in case of 3.8. However, there *is* a pydevd logfile for the child process, which only contains the "Using Cython speedups" line.

[2019-11-21 00:12] int19h commented on #1934
Initial investigation:

I believe that this is due to https://bugs.python.org/issue35537 - Python 3.8 now uses `posix_spawn` instead of `fork`+`exec` to implement a "fast path" for `subprocess.Popen()`. Note that this doesn't always apply - e.g. on Linux it only kicks in above a certain version of glibc, and on all platforms it only applies if certain arguments to `Popen()` have specific values. H

[2019-11-21 00:14] int19h opened #1935 "test_subprocess should test posix_spawn code path"
See more detailed explanation in https://github.com/microsoft/ptvsd/issues/1934#issuecomment-556569053. TL;DR is that we need to parametrize this test to ensure that it exercises all the possible code paths inside `subprocess`.

[2019-11-21 00:47] int19h commented on #1934
Same thing applies to `test_django_breakpoint_multiproc`.

[2019-11-21 04:21] dxkaufman commented on #1932
@int19h clearly I should have searched the VS code documentation; I'm used to being able to set it in the watch screen in other IDEs I've used, and I didn't even think of trying in the variables section.  Sorry to waste your time, but thank you for getting back to me!

[2019-11-21 06:21] blackchoey opened #1936 "pydev debugger: warning: trying to add breakpoint to file that does not exist"
## Environment data

- VS Code version: 1.40.1
- Extension version (available under the Extensions sidebar): 2019.11.49689
- OS and version: Windows10 1909
- Python version (& distribution if applicable, e.g. Anaconda): Python 3.6.8
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): N/A
- Relevant/affected Python packages and their versions: N/A
- Jedi or Language Server?

[2019-11-21 07:59] sharondescalo opened #1937 "python venv debugger session timed out"
## Environment data

- VS Code version: 1.40.1
- Extension version (available under the Extensions sidebar): 2019.11.49689
- OS and version: Windows_NT x64 10.0.17763
- Python version (& distribution if applicable, e.g. Anaconda): pyenv python 3.7.2-amd  & python 3.7.2
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): venv
- Relevant/affected Python packages and their ver

[2019-11-21 08:17] karthiknadig commented on #1937
Thanks for reporting. We are aware of this issue, and we plan on addressing it soon. See #1930

[2019-11-21 08:17] #1937 closed

[2019-11-21 10:53] fabioz commented on #1934
Yes, it seems that `os.posix_spawn` isn't monkey-patched. I'll provide a patch shortly.

[2019-11-21 15:07] duduz opened #1941 "Debugging with new_ptvsd is crashing because of TypeError: Struct()"
## Environment data

- VS Code version: 1.40.1
- Extension version (available under the Extensions sidebar): 2019.11.49689
- OS and version: RH7.6
- Python version (& distribution if applicable, e.g. Anaconda): 2.7.5

## Expected behaviour

Debugger works fine

## Actual behaviour

It crashes..
stack:
[code]

## Steps to reproduce:

1. Just F5 to debug.
2. Getting this error
3. also getting an err

[2019-11-21 18:39] changliao1025 opened #1942 "Not restart debugging"
Issue Type: <b>Bug</b>

Debug a Python script;
Stop at a breakpoint;
Then hit restart, but nothing happened.

Extension version: 2019.11.49689
VS Code version: Code 1.40.1 (8795a9889db74563ddd43eb0a897a2384129a619, 2019-11-13T16:47:44.719Z)
OS version: Darwin x64 18.7.0
Remote OS version: Linux x64 3.10.0-957.5.1.el7.x86_64

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|In

[2019-11-21 20:02] #1934 closed

[2019-11-21 20:07] int19h commented on #1941
This is a limitation of an older Python version - for Python 2, `struct` [added](http://python-future.org/stdlib_incompatibilities.html#struct-pack) support for Unicode strings to define the format in Python 2.7.7, to be consistent with Python 3.

Is it possible for you to upgrade your Python version? The most recent release for Python 2.x is 2.7.17.

[2019-11-21 20:24] int19h commented on #1939
We're aware of this issue, and are tracking it in #1432

[2019-11-21 20:24] #1939 closed

[2019-11-21 23:21] #1930 closed

[2019-11-21 23:38] int19h commented on #1942
There are no errors or really anything unusual in ptvsd logs here, but this gets logged by VSC in Output -> Log (Window):
[code]
which corresponds to:
https://github.com/microsoft/vscode/blob/a318b97373602cf81fc146ff93547f5fae7cd417/src/vs/workbench/contrib/debug/browser/rawDebugSession.ts#L478-L491

So, the problem is that IDE gives us 500 ms to terminate, and after that considers it an error. Th

[2019-11-21 23:46] int19h commented on #1942
We can reduce the timeout for process exit to match what VSC expects, but this means that we will almost always be force-killing the debuggee process from the launcher if "Stop" or "Restart" is killed, instead of letting pydevd terminate the process from inside in response to "disconnect" with "terminateDebuggee":true that we send to it. At the minimum, this means that child processes might not ge

[2019-11-22 01:11] int19h commented on #1938
@zhucong1986
If you run `chcp` in the Terminal, it should give you the active codepage number; most likely, 936. Try adding this to your launch.json:
[code]
(adjusting accordingly if the actual codepage is different)
Does this correct the output?

[2019-11-22 01:18] int19h commented on #1938
@karthiknadig I believe this to be caused by the extension forcibly adding `PYTHONIOENCODING=utf-8` to the environment for the debuggee. This causes Python to produce UTF-8 output, but the VSCode terminal actually expects it to be encoded according to locale settings. The launcher captures the output bytes and forwards it to the terminal as is, but it gets rendered by the terminal according to loc

[2019-11-22 01:28] karrtikr opened #1944 "Debugging fails with timeout when using conda run"
@karthiknadig

## Environment data

- PTVSD version: 5.0.0a7
- OS: Windows_NT x64 10.0.18363
- Python version (& distribution if applicable, e.g. Anaconda): Python 3.7.4 , Anaconda
- Using VS Code or Visual Studio: Version: 1.41.0-insider (user setup)

## Steps to reproduce:
1. Add the following config in `launch.json`.
[code]
2. Debug the python extension. Make sure you're in experiments `DebugAd

[2019-11-22 01:29] int19h commented on #1938
Side note: even if we remove the env var, this also means that enabling output redirection (which the extension does by default by adding `"RedirectOutput"` to debug options) has an observable adverse effect. The same Python script that would run just fine without output redirection, can fail with it, because its output is now forced to whatever encoding the system locale specifies.

So instead of

[2019-11-22 01:30] int19h commented on #1938
See https://www.python.org/dev/peps/pep-0528/ for context.

[2019-11-22 02:11] int19h commented on #1944
I believe that this is fundamentally the same problem as #1930, the fix for which has only just went in. Can you try it with ptvsd v5.0.0a8, and see if that fixes it?

[2019-11-22 02:23] int19h commented on #1944
Actually, looking at the logs, I don't think even that would help. Not even the parent PID matches what we spawned:
[code]

[2019-11-22 03:30] #1944 closed

[2019-11-22 04:11] liyanan24 opened #1947 "print Chinese to be mess code"
![image](https://user-images.githubusercontent.com/42564665/69397363-ca28af80-0d20-11ea-9a80-e09d756a1a02.png)
It worked fine before, today the output becomes mess suddenly. Reinstallation did not solve the problem.

[2019-11-22 06:54] kzhui125 opened #1946 ""Exception has occurred" didn't pop up"
[code]

If I make a debug point at `print('2')`, and start debugging, I expect "Exception has occurred" pop up.

But this error show up:

<img width="448" alt="1" src="https://user-images.githubusercontent.com/11925432/69404245-c8b6b180-0d37-11ea-9b01-7e11a5f910eb.png">

[2019-11-22 07:14] 520Chris commented on #1939
Thank you very much.

[2019-11-22 09:38] duduz commented on #1941
I think not, since not all all of the enterprise distributions provides newer versions of python
since vscode-python extension contains the old ptvsd in the new version, it would be ideal if we can choose to use it through a setting configuration.

Thanks!

[2019-11-22 13:32] fabioz commented on #1941
@duduz if you just change locally to use bytes in calcsize, do you have any other issues?

i.e.: use `struct.calcsize(b"P")` in `/root/.vscode-server/extensions/ms-python.python-2019.11.49689/pythonFiles/lib/python/new_ptvsd/no_wheels/ptvsd/launcher/../../ptvsd/launcher/debuggee.py", line 76, in spawn`

[2019-11-22 13:55] fabioz commented on #1942
@int19h the timeout is probably due to: https://github.com/microsoft/ptvsd/blob/master/src/ptvsd/_vendored/pydevd/pydevd.py#L1983

The shutdown procedure in `pydevd` is the following: it shuts down the the writer thread socket (https://github.com/microsoft/ptvsd/blob/master/src/ptvsd/_vendored/pydevd/_pydevd_bundle/pydevd_comm.py#L401) and waits for the client (in this case `ptvsd`) to close its o

[2019-11-22 16:41] duduz commented on #1941
@fabioz I don't mind doing so. i think we're good. thank you.
i'll give it a try and close the issue later on.

[2019-11-22 18:51] karthiknadig commented on #1947
This is same as #1938. See comment here for a possible workaround: https://github.com/microsoft/ptvsd/issues/1938#issuecomment-557343123

[2019-11-22 18:52] #1947 closed

[2019-11-22 21:04] int19h commented on #1942
It's getting closed on the adapter side, but it's a bit convoluted. Here's the log showing the sequence, starting from when the adapter gets "disconnect" from the IDE:
[code]
So first of all it passes "disconnect" over to the server, but adds "terminateDebuggee", since "launch" implies that. Then it waits for "exited" event from the *launcher* (which just sits and waits on the process handle, and

[2019-11-23 01:43] liyanan24 commented on #1938
Does it mean that every time I write code that contains Chinese, I need to add the code in launch.json?

[2019-11-23 12:46] meandmymind opened #1950 "Allow non-string values in "env""
## Environment data
- VS Code version: 1.40.1
- Extension version (available under the Extensions sidebar): 2019.11.50794
- OS and version: Ubuntu 19.10
- Python version (& distribution if applicable, e.g. Anaconda): 3.7.5 64-bit
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): N/A
- Relevant/affected Python packages and their versions: None
- Jedi or Language Server? (i

[2019-11-23 23:06] duduz commented on #1941
@fabioz it worked, thank you.
any advantage to use `struct.calcsize("P")` instead of `struct.calcsize(b"P")` to support older versions of python?

[2019-11-24 02:44] drewkerwin opened #1948 "Debugging Python in VS Code crashes when creating iterator on Dataloader object"
## Environment data

**Note: I do not believe the circumstances of this error are similar to other posts in this repo.**

Version: 1.40.1
Commit: 8795a9889db74563ddd43eb0a897a2384129a619
Date: 2019-11-13T16:47:44.719Z
Electron: 6.1.2
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Darwin x64 19.0.0

Python 3.7.3
conda 4.7.12
ptvsd==4.3.2

## Actual behavior

When creating an it

[2019-11-24 05:45] kerbrose commented on #1854
option #1 worked for me in remote debugging of a docker image

[2019-11-24 09:42] int19h commented on #1941
@duduz The problem is that `b"P"` won't work on Python 3. We have a helper function that'll do the right thing on either version, in `ptvsd.common.compat`.

[2019-11-24 09:43] int19h commented on #1938
@liyanan24 This is a bug, and we're going to fix it before releasing ptvsd 5.0 stable. For now, if you're running the ptvsd alpha, you'll need to use the workaround.

[2019-11-24 10:22] duduz commented on #1941
@int19h i understand, i've seen `ptvsd.common.compat` and it doesn't seems to cover this use case, it seems hardcoded in `ptvsd/launcher/debuggee.py`.

[2019-11-24 11:03] int19h commented on #1941
There's a function there, `force_str`, that will produce the right type of object depending on the Python version.

[2019-11-24 17:03] duduz commented on #1941
@int19h the function is there, but still it won't be working with python 2.7.5 without editing `debuggee.py`
editing the file fixed it for me, if there's no point of creating fix for it, i don't mind closing the issue.

[2019-11-25 06:15] int19h commented on #1946
Can you tell a little bit more about your environment? In particular, I wonder about the location of `pandas` on the file system - is it inside site-packages as usual, or is it some kind of custom layout?

[2019-11-25 06:18] int19h commented on #1948
While the circumstances are different, this particular code path is specific to ptvsd 4.x, and is gone entirely in ptvsd 5.

Judging by the paths, this is a recent vscode-python build that has both versions of ptvsd in it. @karthiknadig, is there any way to force it to use the new one, to confirm that it is no longer an issue there?

[2019-11-25 06:35] kzhui125 commented on #1946
Hello,

I install python using brew, and install pandas using pip.

<img width="882" alt="syspath" src="https://user-images.githubusercontent.com/11925432/69517826-cf8c3100-0f90-11ea-8eeb-4b86b4d9c4db.png">

Thanks,

[2019-11-25 10:59] fabioz commented on #1941
I just provided a pull request.

I think the major issue is that in the future `ptvsd` may still break with older versions of Python because there are no plans to check older versions of Python 2.7 in the ci (but given that the fix seems pretty simple in this case, I think that we should include it).

[2019-11-25 11:08] fabioz commented on #1946
@kzhui125 some more questions:

- If you run it without debugging, do you have some error?
- What if you run it directly from the shell (i.e.: `python <my_file.py>`)?
- Can you provide your launch configuration?
- Can you provide the log for the test run? (see: https://github.com/Microsoft/ptvsd/blob/master/README.md#debugger-logging for how to get it).

[2019-11-25 11:10] duduz commented on #1941
@fabioz thank you, i just tested it and it works well. as far as i am concerned we can close this issue.

[2019-11-25 11:19] fabioz commented on #1941
@duduz when we integrate the pull request it should be automatically closed ;)

[2019-11-25 12:31] kzhui125 commented on #1946
run it without debugging, python test.py
[code]

no launch configuration, only debug python file

[2019-11-25 12:41] fabioz commented on #1946
For the log you can make a launch and then set the `PTVSD_LOG_DIR` environment variable.

i.e.: add to the launch configuration:

[code]

[2019-11-25 12:48] kzhui125 commented on #1946
[ptvsd-23188.log](https://github.com/microsoft/ptvsd/files/3886627/ptvsd-23188.log)

@fabioz here is the log

[2019-11-25 13:06] fabioz commented on #1946
@kzhui125 can you check if `/usr/local/lib/python3.7/site-packages/pandas/_libs/parsers.pyx` exists in your machine?

The problem is that there are some cython-generated files for pandas and the related modules have relative paths as their `__file__` attributes (i.e.: `pandas/_libs/parsers.pyx`) and when we get the absolute path this becomes a path based on the current working directory.

I think

[2019-11-25 13:10] kzhui125 commented on #1946
<img width="915" alt="11" src="https://user-images.githubusercontent.com/11925432/69543130-e4d08200-0fc7-11ea-8844-1139a6945891.png">

@fabioz there is no parsers.pyx

[2019-11-25 13:31] fabioz commented on #1946
In this case I don't think we can really do anything about it in `ptvsd` (except maybe just recognizing that it's a relative path and passing a relative path to the client, but I think it won't really make a difference in how it's handled in the client) -- it's up to VSCode itself to show the exception even if the file doesn't exist.

What do you think @int19h @karthiknadig?

[2019-11-25 20:01] #1941 closed

[2019-11-25 20:11] int19h commented on #1946
That .pyx not being there is what I'd expect, since it's similar to .c files for other native modules - it's a source build artifact, there's no reason to redist it.

The real problem here is that the file is not considered library code. If it were, the exception would have been reported at the expected line. I don't think there's any general solution to this - the file has a relative `co_filename

[2019-11-25 21:46] int19h commented on #1950
The behavior in general is by design - environment variables have string values, so using something else is an error. However, the error message is incorrect - it should clearly spell out what the expected type was.

(And it tries to do exactly that, but there's a bug in the code generating that error message, which ends up producing the error message that you actually see...)

[2019-11-26 00:22] int19h opened #1952 "Multiproc pause/resume behavior"
We need to figure out what the appropriate behavior is for various scenarios that involve multiple processes, and user actions or triggers that result in pausing and resuming, what we can actually do within the existing limitations of VS and VSC, and what needs to be done by the latter to enable us to implement the ideal behavior.

Specific questions:

What happens when Pause is clicked on the deb

[2019-11-26 00:36] int19h commented on #1952
The most natural take on this is to follow our existing behavior for threads. Here's how the same questions are answered mutatis mutandis in case of a multi-threaded app, and their rationales:

#### Pause pauses all threads by default, although there's an undocumented option to disable this behavior.

Rationale: VS only supports this mode.

Rationale: if other threads aren't paused, they can hit a

[2019-11-26 00:45] int19h commented on #1952
Our current behavior for processes is the default behavior that VS and VSC implement for multiple unrelated concurrent sessions, which is to treat them independently. Thus, if one process hits a breakpoint, it pauses (i.e. all threads in that process pause), but other processes continue running.

If we want to apply the logic described above for threads to processes, the debugger needs to proactiv

[2019-11-26 00:50] int19h commented on #1952
Suggested DAP addition for the "stopped" event: "allProcessesStopped" property, with semantics identical to the existing "allThreadsStopped", but applying to all threads in all processes that are in the same process tree (the IDE already keeps track of this to render said process tree in the Call Stack window).

[2019-11-26 13:06] xarpy commented on #1950
I have the same problem to debug some apps with framework Flask and Django. Any solutions for this?

[2019-11-26 14:18] AirVetra commented on #943
Hello, I'm very sorry, just don't understand what should we do - just wait for the solution and look for #1706?

The error is the following:

Traceback (most recent call last):
  File "/home/airvetra/.vscode-server/extensions/ms-python.python-2019.11.50794/pythonFiles/ptvsd_launcher.py", line 43, in <module>
    main(ptvsdArgs)
  File "/home/airvetra/.vscode-server/extensions/ms-python.python-2019

[2019-11-26 19:08] int19h commented on #1950
You have to use strings as variable values. The specific offender here is `"FLASK_DEBUG": true` - it should be `"FLASK_DEBUG": "true"`. With the fix, the error message will tell both the expected type (always str for "env"), and the name of the variable that is mistyped.

[2019-11-26 19:17] int19h commented on #943
In general, you'll need a recent pre-release of ptvsd, and the corresponding version of VSCode, to have fork supported. While the issue is still open because we're still working on some bits and pieces, the bulk of it is already there in ptvsd 5 alphas.

However, this particular call stack doesn't look to me like a typical ptvsd failure do to fork. It mentions pickling and `popen_spawn_posix`, so

[2019-11-26 19:18] #1942 closed

[2019-11-26 20:24] AirVetra commented on #943
Pavel, you are definitely right - i added this set_start_method ("spawn") and after adding it the above error started to occur. Before it there was the multiprocessing error   RuntimeError: already started.

So, could you advise how to solve the issue with debugging such code - I could share if it could help...

[2019-11-27 07:41] karthiknadig commented on #1927
@Kieran-Bacon Can you share the directory structure for your workspace? if possible can you share a github link to the minimal repro?

I suspect that something is missing in the default test debug configuration that we use. This is the config:
[code]

[2019-11-27 20:22] int19h opened #1954 ""redirectOutput" property is not respected"
The new debugger respects "RedirectOutput" in "debugOptions", but not "redirectOutput" as a standalone property.

[2019-11-27 20:44] int19h opened #1955 "Prototype multiproc pause/resume-the-world"
See https://github.com/microsoft/ptvsd/issues/1952#issuecomment-558407445 for details.

[2019-11-27 20:44] int19h commented on #1952
This needs to be prototyped to ensure that we are asking for the right things.

[2019-11-28 04:35] #1938 closed

[2019-11-28 04:35] #1954 closed

[2019-11-28 05:15] ihakh commented on #967
I am developing on Linux and it is slow on Linux too
It seems that it get slow on serving the static file
when it enters the python code (views.py) the speed is okay

[2019-11-28 13:00] zhucong1986 commented on #1938
[code]
Call this luncher to run my .py file, the output is correct :
[code]

focus on my screenshot below, the luncher is:
[code]

i have delete %appdata%\User\ folder and pip uninstall autopep8 pylint,
then restart vscode and open a .py file, press f5.
the luncher is ptvsd_launcher.py, but a few later.....
the luncher changes to ptvsd folder.

i tried to backup  %appdata%\User\globalStorage\state

[2019-11-28 20:30] int19h commented on #1938
The two launchers are for two different versions of ptvsd - 4.x the old stable one, and 5.x, the new one that is still in testing. The new one had the bug, and required the fix.

Next ptvsd 5.x release will have the fix.

[2019-11-29 08:57] waclaw66 opened #1960 "colored print no longer works in terminal"
## Environment data

- VS Code version: 1.40.2
- Extension version (available under the Extensions sidebar): 2019.11.50794
- OS and version: Win10 x64 1709
- Python version (& distribution if applicable, e.g. Anaconda): 3.7.3 or 3.8
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): N/A
- Relevant/affected Python packages and their versions: colorama, colored
- Jedi or Lan

[2019-11-29 11:21] saschahofmann opened #1957 "Debug process dies silently when running grpc server"
## Environment data

- PTVSD version: 2019.11.50794
- OS and version: macOs 10.15
- Python version (& distribution if applicable, e.g. Anaconda): 3.7.3
- Using VS Code or Visual Studio: VS Code

## Actual behavior

I am starting a gRPC server in the debugger which seems to work but after the first request the process dies without throwing an error. It then calls runs a `conda activate env` command

[2019-11-29 12:53] meandmymind commented on #1950
@int19h when this restriction on values type was added? I've been using VSCode for 2 years now and encoutered this problem the first time.

[2019-11-29 20:16] int19h commented on #1950
It boils down to the environment itself being a mapping of strings to strings, from the OS perspective. The old implementation didn't typecheck that well, but it never advertised that, and there was no documented process for how exactly a non-string value might get converted to a string; the docs never even mentioned the possibility of non-string values. The new implementation tries to enforce the

[2019-11-29 20:23] int19h commented on #1950
BTW, here's an interesting question - *what* do you expect the conversion behavior to be?

For integers, it's pretty straightforward, of course. But floating point has some options - e.g. scientific notation. If we just use the default Python behavior, you will end up with something like `5.4321654321e-08`. If the value is being parsed by calling `float()` on it, that's fine, but I'm curious if th

[2019-11-30 17:54] fireattack opened #1959 "Debugger should not stop on GeneratorExit and StopIteration exceptions"
## Environment data

- VS Code version: 1.40.1
- Extension version (available under the Extensions sidebar): 2019.11.50794
- OS and version: Win7 x64
- Python version (& distribution if applicable, e.g. Anaconda): 3.7.4 64bit
- Jedi or Language Server? (i.e. what is `"python.jediEnabled"` set to; more info microsoft/vscode-python#3977): Language server

## Expected behaviour

No exception

## Actu

[2019-12-01 08:56] sailorfeng opened #1958 "incompatible with different pydevd"
I've install a newer pydevd for other usage, for example lastest version 1.8.0.
While the lastest ptvsd uses pydevd(1.3.3) which may not be compatible with 1.8.0.

How can I force ptvsd to use pydevd(1.3.3) in _vendored directory?

## Environment data

- PTVSD version: 4.3.2
- OS and version: Debian 9
- Python version (& distribution if applicable, e.g. Anaconda): 2.7
- Using VS Code:

## Actual b

[2019-12-01 10:52] meandmymind commented on #1950
@int19h According to schema available at [json.org](json.org), scientific notation is absoultely OK.
![image](https://user-images.githubusercontent.com/24773652/69912887-83def900-1462-11ea-937f-8e8a755d0c43.png)

Same with booleans, values in `env` field should be valid JSON objects, so booleans are `true` and `false` only.

About Python handling of boolean env vars, I'm curious how it was stringi

[2019-12-01 12:25] int19h commented on #1950
To clarify, this isn't about what JSON allows. The problem is that environment variables themselves are fundamentally strings - at the most basic level, the C API for them is `char* getenv(const char* name)`. So yes, you can of course write `1.0` or even `1e10` in JSON for numbers, and you can write `true` and `false` for booleans etc - but eventually it has to become an actual environment variabl

[2019-12-01 20:12] karthiknadig commented on #1958
@sailorfeng `ptvsd` is not intended to be compatible with externally installed versions of `pydevd`. This is the reason we bundle `pydevd` with it. @fabioz (who owns `pydevd`) can provide additional info on the equivalent version between the bundled `pydevd` and released `pydevd`. That being said, what was the debugging scenario that you were trying to address?

[2019-12-02 01:21] karthiknadig commented on #1957
@saschahofmann Can you tell us the `conda` version? you can run `conda --version` to get that. The issue seems to be that it is not activating conda environment before starting the debugger. see https://github.com/microsoft/vscode-python/issues/8422 . The extension will switch to using `conda run` which should address this issue. However, that only works with later versions of conda (>= 4.6.0).

[2019-12-02 09:29] saschahofmann commented on #1957
yes, so I am using **4.7.12** so that should be working.

[2019-12-02 14:16] fabioz commented on #1958
@sailorfeng as @karthiknadig said, `ptvsd` has a bundled version of `pydevd` within it. The version of `pydevd` inside of `ptvsd` is basically the same as `pydevd` (the version number of `pydevd` inside of `ptvsd` is not accurate... i.e.: the `master` version of `pydevd` has the same code as the `master` version of `ptvsd`, but the version there is still `1.3.3` -- the code is all the same, just t

[2019-12-02 19:30] int19h commented on #1959
I don't think the problem here is with `any()` as such - it just causes the generator to execute immediately. The exception itself is normal - it gets raised inside the generator whenever the outside code (in this case, `any()`, closes it). The bug here is that we're reporting it, even though the generator machinery will catch and handle it.

@fabioz, it looks like we should just be ignoring `Gene

[2019-12-02 19:32] fireattack commented on #1959
Makes sense, thanks for investigating. Feel free to change the title to reflect that better.

[2019-12-02 19:33] int19h commented on #1958
@fabioz The problem is that we don't version the interface between ptvsd and pydevd well (or at all, really). If we enable ptvsd to use arbitrary versions of pydevd, it will end up breaking people when they get out of sync eventually, because e.g. a new version of ptvsd is installed that requires some new pydevd feature, but the globally installed pydevd is much older and doesn't have it. That's m

[2019-12-02 19:38] int19h commented on #1958
@sailorfeng, to answer the original question - ptvsd always uses the vendored version of pydevd. The problem is that you can only have one pydevd loaded in the process at the same time, and thus it checks whether pydevd is already in `sys.modules` before trying to import its own vendored version. What you're seeing is the warning that results from that check.

There's no way to directly import som

[2019-12-02 19:41] int19h commented on #1957
It should be working once https://github.com/microsoft/vscode-python/issues/8422 is fixed, and we ship a new vscode-python release with that fix.

I'll close this issue as a dup of the one above. If you're still having the same or a similar issue after it's fixed, please reopen.

[2019-12-02 19:41] #1957 closed

[2019-12-02 19:45] int19h commented on #1906
Please reopen if the reason wasn't as described above. If it was, then this behavior is by design - having modules that conflict with Python stdlib can break things due to the way imports work in Python.

[2019-12-02 19:45] #1906 closed

[2019-12-02 21:46] int19h commented on #1960
This is the consequence of "RedirectOutput" being implemented out-of-proc in ptvsd 5. The result is that `sys.stdout.isatty()` is false, and then Colorama disables colored output.

I don't think we can fix this with `"redirectOutput": true` being enabled, unless we revert to the old behavior of capturing output in-proc (which causes its own issues). That said, https://github.com/microsoft/ptvsd/pu

[2019-12-03 05:56] bgrgv opened #1963 "VSCode Python Debugger error"
[code]

[2019-12-03 12:17] int19h opened #1961 "attach_by_pid fails on macOS + Python 3.x"
Consistent local repro when running `test_attach_by_pid`.

This was tricky to diagnose, because the code that captures output of lldb itself failed with `BrokenPipeError` when trying to read it - likely due to https://bugs.python.org/issue26372.

After removing the call to `communicate()`, and letting lldb dump its output directly, the following shows up in the log:

[code]

That last error messag

[2019-12-03 12:38] fabioz commented on #1959
Agreed... I'll take a look at it.

[2019-12-03 18:15] vdurante commented on #1930
Thank you very much @int19h. I am glad I could help.

May I ask one last question? Do you know how I can change ptvsd used by vscode-python? I would like to fix this bug locally before a new vscode-python is released with the fix.

[2019-12-03 18:45] fabioz commented on #1961
@int19h does it work in the ci?

After searching a bit I found a reference saying that this is due to hardened runtime:
https://forums.developer.apple.com/thread/119059

If that's the case, it's more related to the `lldb` attach process (in which case we can't do much in our side) -- can you check if you can do at attach to a python 3.x process in your machine using lldb?

As a note, plain `pydevd

[2019-12-03 20:06] int19h commented on #1963
Dup of #1646 - the comments on that issue describe how to fix this.

[2019-12-03 20:06] #1963 closed

[2019-12-03 20:11] int19h commented on #1961
There are sporadic failures on CI on MacOS. Problem is, they're hard to diagnose, because when it fails, it usually doesn't successfully capture the output of lldb, so the underlying cause is unknown. In this case, I edited it locally to disable redirection to be able to see the error, but ideally that should be captured in pydevd log.

So I guess the immediate issue here is to improve logging, an

[2019-12-03 20:44] int19h commented on #1961
With respect to hardened runtime - what's the workaround for it? From the linked thread, it sounds like this is something you can only work around by rebuilding the app. But the app is Python itself in our case, distributed from third party sources such as Brew. If it's built with hardened runtime, does that basically mean that attach-to-PID won't work? Or is there some workaround that I've missed

[2019-12-04 09:31] pfaz69 opened #1969 "multiprocessing not working while debugging (it works on terminal though)"
Issue Type: <b>Bug</b>

here's the Error Traceback:
Traceback (most recent call last):
File "/home/paolo/.vscode/extensions/ms-python.python-2019.11.50794/pythonFiles/lib/python/old_ptvsd/ptvsd/log.py", line 110, in g
return f(*args, **kwargs)
File "/home/paolo/.vscode/extensions/ms-python.python-2019.11.50794/pythonFiles/lib/python/old_ptvsd/ptvsd/pydevd_hooks.py", line 74, in start_client
sock,

[2019-12-04 10:16] nietras commented on #314
I am getting this issue in VS2019 16.4 still.

[2019-12-04 15:39] #1959 closed

[2019-12-04 16:14] markonius opened #1966 "Popen('python') in VS Code crashes the debugger, with Python 2"
## Environment data

PTVSD version: 4.3.
Extension version: 2019.11.50794
VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:54:40.719Z)
OS version: Linux x64 5.3.13-200.fc30.x86_64

Running the following code from the teminal works fine:

[code]
Running it from VS Code (using 'Current file' debug configuration) crashes the process with:
[code]

[2019-12-04 16:16] markonius commented on #1966
Related to [this](https://github.com/microsoft/vscode-python/issues/8897)

[2019-12-04 17:15] int19h commented on #1813
Dup of #1942

[2019-12-04 17:15] #1813 closed

[2019-12-04 17:18] int19h commented on #1966
Sounds like #943 - we already have the fix for that in ptvsd 5.

[2019-12-04 18:19] int19h opened #1967 "attach_by_socket tests fail sporadically on MacOS + Python 3.6"
When it happens, it's usually several dozen tests failing in the same run for a given Python version. The only common theme is the attach method - the tests themselves are completely unrelated.

[2019-12-04 18:19] int19h commented on #1967
Suspected root cause is https://bugs.python.org/issue7995 - we do set timeout on a bunch of listener sockets.

[2019-12-05 06:18] sailorfeng commented on #1958
@fabioz I'll try creating `ptvsd.pth` file as you mentioned. Thanks for the solution.

@int19h It's not a big deal in my scenario which is my colleague used to debug with PyCharm. And that's why this confict happend when both debug libs are imported.
I've convinced him to give it up and fully embrace VsCode.

[2019-12-05 06:18] #1958 closed

[2019-12-05 06:58] #1966 closed

[2019-12-05 12:41] gnilsson2 opened #1970 "debug Internal error"
[gunnarni@cmsapp02 ay_cms_user_dev.hg BEHAVE] $ /home/gunnarni/main/ay_cms_user_dev.hg/current_CARMSYS/bin/python /home/gunnarni/.vscode-server/extensions/ms-python.python-2019.11.50794/pythonFiles/ptvsd_launcher.py --default --client --host localhost --port 33337 /home/gunnarni/main/ay_cms_user_dev.hg/bin/behave/test_behave.py -i finnair_test -v
Traceback (most recent call last):
  File "/home/gu

[2019-12-05 20:00] fabioz commented on #1970
@gnilsson2, which Python version are you using?

[2019-12-06 04:57] whillas opened #1972 "Debugger stopped working after last update, no stack trace?"
## Environment data
From the about dialog
Version: 1.40.2
Commit: f359dd69833dd8800b54d458f6d37ab7c78df520
Date: 2019-11-25T14:54:40.719Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Linux x64 5.3.7-050307-generic snap

Ubunut 18.04
Python 3.6.8-64bit

### launch.json
[code]

## Expected behaviour

Run test in debugger

## Actual behaviour

gives me the follo

[2019-12-06 09:52] siben168 commented on #1930
i saw this ticket has been closed, but how can i get updated on VS Code? I am using the latest Code but this issue still exists.

Thanks

[2019-12-07 09:25] karthiknadig commented on #1930
@siben168 Try the insiders build of the extension: https://pvsc.blob.core.windows.net/extension-builds/ms-python-insiders.vsix . Tonight's build has the debugger with the fix.

[2019-12-07 14:36] gnilsson2 commented on #1970
Python 2.6.6 (r266:84292, Mar  3 2016, 13:59:18)
[GCC 4.8.5 20150623 (Red Hat 4.8.5-4)] on linux2

[2019-12-08 14:34] ychechik commented on #1570
hi, any new updates?

[2019-12-09 20:28] int19h commented on #1972
Is it specific to pytest, or are you seeing the same when trying to run e.g. a simple hello world type app?

[2019-12-09 20:49] int19h commented on #1969
Can you tell more about the code that you're debugging? Is it explicitly starting multiple processes, or using some library that does?

[2019-12-09 21:48] LtSurgekopf opened #1974 "Sorting locals in debugger"
When debugging a module with many variables, it would be great if the outputs in the debugger could not only be sorted by name, but also by the order of ccess. If this were possible, the last few variables could always be displayed atop the watches.

This would be similar in function to the "Autos" view in Visual Studio, which shows variables used around the current breakpoint: https://docs.micros

[2019-12-09 23:49] whillas commented on #1972
yup, seems to run `print("Hello world")` just fine. I've setup another project and it works fine for pytest. I guess its something to do with the project and pytest. I reinstalled the later and no cigar. I can start to remove things and see if it starts to run again...

[2019-12-10 03:22] int19h commented on #943
This is complete. The remaining work to ship the new adapter is being tracked by #1706

[2019-12-10 03:22] #943 closed

[2019-12-10 03:35] int19h commented on #1974
It would be nice to have something like VS Autos, but I don't think we can do this from ptvsd end.

In VS, the way this works is that the language extension (not the debugger) provides a [service](https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstudio.textmanager.interop.ivslanguagedebuginfo.getproximityexpressions) that the IDE can use to get the list of variables that are "around" a

[2019-12-10 11:10] pfaz69 commented on #1969
Hi int19h and thank you for your concern.

in the relevant file, first multiprocessing is included:

**import multiprocessing
multiprocessing.set_start_method('spawn', True)
import multiprocessing.connection**

then later in the code:

**proc = multiprocessing.Process( target=my_function, args=(my_addr, my_buffer, my_class, kwargs))
proc.start()
listener = multiprocessing.connection.Listener(some_

[2019-12-10 21:24] int19h commented on #1969
Are you missing `if __name__ == "__main__"` around parts of that code, by chance? When using "spawn", the child process will have to import the module, which will cause all the code at top level to run if it's unguarded. Thus, `set_start_method()` as well as the process-spawning code should all be inside that check.

[2019-12-11 00:33] int19h opened #1976 "Subprocesses use globally installed pydevd if present"
When pydevd rewrites the command line to import itself in a subprocess in `pydev_monkey._get_python_c_args`, it does not force pydevd that is imported in the subprocess to be the same one as in the parent process. Thus, if pydevd is globally installed in some environment, and ptvsd is then used to debug something in that environment, the child processes can get an incompatible version of pydevd.

[2019-12-11 00:34] int19h commented on #1976
The problem is that it appends rather than prepends the sys.path entry in the monkey-patching script. It should prepend to override the globally installed version.

[2019-12-11 01:24] whillas commented on #1972
Ok, looks like it has something to do with `zeromq`. Even though none of my tests are testing code related to it...?

[2019-12-11 01:38] #1972 closed

[2019-12-11 04:41] pfaz69 commented on #1969
Hi int19h,
not sure I understand your path of mind.
`if __name__ == "__main__"` is present at the beginning of my program, in a main entry function that calls the relevant function, i.e. the one with `multiprocessing.Process()`, etc in itself. Such "relevant function" is located in a different file, the one importing the multiprocessing module.
`multiprocessing.set_start_method('spawn', True)` was

[2019-12-11 04:44] int19h commented on #1876
After some investigation, it is not clear to me why this is necessary.

If path mappings are explicitly defined for the launch config as follows:
[code]
then everything works fine. However, from pydevd perspective, this arrangement effectively *disables* path mappings, because it specifically checks for empty strings:
https://github.com/microsoft/ptvsd/blob/f51c96450c99f97bd5f53b93ad049ccf2084e085

[2019-12-11 04:45] int19h commented on #1876
@fabioz, can you confirm the above analysis - i.e. that pydevd does *not* need "pathMappings" to be specified for local "attach" scenarios to prevent source files from being reported with "sourceReference" != 0 (which causes VSCode to use source fetching, even for local paths)?

[2019-12-11 04:46] int19h commented on #1972
Ultimately, this will get fixed once we ship #1706.

[2019-12-11 05:00] int19h commented on #1969
There are several issues here.

The fundamental problem is that ptvsd 4.x does not support forking (#943). We have fixed this via #1706, and it will ship in ptvsd 5, but this is in testing at the moment.

`set_start_method()` makes `multiprocessing` use explicitly spawned subprocesses instead of forking even on Linux, where fork is otherwise the default. This allows ptvsd 4.x to debug them.

Howev

[2019-12-11 06:12] kzhui125 opened #1977 "debugging doesn't hit "pass" line"
[code]

Sometimes I want to do conditional debugging, and I don't want to use  conditional breakpoint (not convenient to change condition).

So  I use "if" and add a breakpoint at the pass line. But my breakpoint won't hit.
I have to change the "pass" line (which is auto completion) to print('') or others.

[2019-12-11 07:03] siben168 commented on #1930
@karthiknadig great! it works for me, thank you so much.

[2019-12-11 07:52] Danielslin opened #1978 "ptvsd broken on Python 2 if python-future is installed"
Issue Type: <b>Bug</b>

After I installed an interpreter of Python 2.7.16 32bit, an exception is thrown with error message below when I want to switch to the old Python 2.7.16 64bit:
[code]
Now I installed an Python 3 interpreter, and I found the two Python 2 interpreter are all unavailable and throw the same error message above as well when I attempt to run a python file. How can I fix it?

Exten

[2019-12-11 13:13] fabioz commented on #1876
@int19h I can confirm that... `pydevd` does not need `pathMappings` when running locally (as you investigated, it'll provide a `sourceReference` to any file which does NOT have some `pathMapping` applied to it but only if there is a `pathMappings` set).

As a note, it just occurred to me that when we are in a remote scenario with sub processes, it's possible that the `sourceReference` to a given f

[2019-12-11 20:11] int19h commented on #1876
That shouldn't be an issue, because to the IDE, they will be two completely different sessions, so it'll keep track of source references separately for each. But we'll need to check what happens when both processes end up in the same file in this manner. So long as the UI matches their paths and merges the editor tabs, it should work... but I'm not entirely sure.

[2019-12-12 02:13] kzhui125 commented on #1977
[how-to-break-on-pass-in-pycharm](https://stackoverflow.com/questions/47625526/how-to-break-on-pass-in-pycharm)

After reading this thread, I think it's not easy to break at the pass line.

According to this thread, there are three methods:

1. writing if statement, change pass to [breakpoint()](https://docs.python.org/3/library/functions.html#breakpoint), press F5 to debug
2. writing if statement

[2019-12-12 04:42] #1711 closed

[2019-12-12 04:42] #1976 closed

[2019-12-12 04:53] #1876 closed

[2019-12-12 05:00] int19h commented on #1977
Yep, the problem with `pass` is that it literally "doesn't even run", much like an empty line.

For option 2, `()` - i.e. empty tuple constructor - is a handy one that works on any version of Python.

However, all the options listed above should work. If they don't, it's a bug - @kzhui125, can you please file it separately, and provide more details? i.e. versions of Python, ptvsd itself, and the c

[2019-12-12 05:00] #1977 closed

[2019-12-12 05:02] zhouwangyang opened #1980 "Conditional breakpoint - Log Message does not work."
## Environment data
- VS Code version: 1.41.0-insider
- Extension version : 2019.12.53195-dev

## Reproduced step:
1.Move the cursor to the line you want to set breakpoint
2.Add conditional breakpoint using "Debug > New Breakpoint > Conditional Breakpoint…"
3.Click dropdown list and select "Log Message", Type the message in the dialog and press enter
![image](https://user-images.githubusercontent.

[2019-12-12 05:06] int19h commented on #1978
This isn't directly caused by installation of interpreters - it just coincided with an update to the major new release of the debugger for you.

The real problem here is that it can't start the debugged program at all. Unfortunately, the code that is trying to report that error, contains a bug itself, which causes this seemingly unrelated message.

Can you please share your launch.json? I might be

[2019-12-12 05:14] Danielslin commented on #1978
{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Python: Current File",
            "type": "python",
            "request": "launch",
            "program": "${file}",
            "console": "integratedTerminal"
        }
    ]
}

[2019-12-12 06:01] kzhui125 commented on #1977
[code]

@int19h  yes, 1 and 2 works too.

but if I make a breakpoint at "..." or 0, or uncomment "breakpoint()" line, the code will break at the "for i in range(1000):" line, this looks strance. Is this expected?

<img width="346" alt="1" src="https://user-images.githubusercontent.com/11925432/70686559-aa652580-1ce7-11ea-8bad-14ebfec94908.png">

[2019-12-12 06:14] int19h commented on #1978
Since it uses "integratedTerminal", the terminal should contain the command line that was used to launch the app - can you share that, as well?

[2019-12-12 06:20] Danielslin commented on #1978
${env:PTVSD_SESSION_ID}='1'; ${env:PTVSD_LAUNCHER_PORT}='65174'; & {%pythonpath%} 'c:\Users\linshimeng01\.vscode\extensions\ms-python.python-2019.11.50794\pythonFiles\lib\python\new_ptvsd\no_wheels\ptvsd\launcher' {%filename%}

[2019-12-12 07:12] int19h commented on #1978
Is there anything unusual about Python path? The error indicates that it fails to even spawn the process, which usually happens when it points at the wrong or non-existing Python binary, for example.

[2019-12-12 07:35] Danielslin commented on #1978
I am afraid it is not the path problem, because the Python paths are just 'C:\Python27\python.exe' and 'C:\Python27-32\python.exe'. which are the correct Python binaries that I am sure.

[2019-12-12 07:37] zhouwangyang opened #1981 "The breakpoint could not be hit in attach debugging."
## Environment data

- VS Code version: 1.41.0-insider
- Extension version (python extension): 2019.12.53195-dev

## Expected behaviour
The breakpoint can be hit in attach debugging

## Actual behaviour
The breakpoint could not be in attach debugging.

## Steps to reproduce:
1. Install ptvsd via below command:
    python -m pip install --upgrade ptvsd
2.Add new python file named test.py, enter som

[2019-12-12 08:22] keckelt opened #1979 "Debugger halts but shows no information. StackFrames are empty"
## Environment data

- PTVSD version: 4.3.2
- OS and version: Win10 19002 (Insiders) with  Ubuntu 18.04.3 LTS as Linux Subsytem (WSL2)
- Python version: 3.7 (in python:3.7 docker container)
- Using VS Code or Visual Studio: VS Code 1.40.2 (Python 2019.11.50794 as remote extension)

My code is inside the WSL, located at `~/cht`.
The directory is mounted as `/phovea` in the docker container:
[code]

[2019-12-12 10:59] fabioz commented on #1978
@Danielslin can you run Python 2 directly from the terminal to see what happens?

i.e.: in the terminal run:

`C:\Python27\python.exe <filename>`

What happens in this case? Does it work? Do you have some error message?

[2019-12-12 11:05] fabioz commented on #1979
Do you know if phovea uses some async framework? (such as gevent -- the fact that it cannot find a thread for evaluation hints at that)

[2019-12-12 11:21] jheffez opened #1982 "timed out waiting for debugger to spawn"
Getting the error above as a pop up after trying to debug a python file. Using the latest python extension.
Reverted to a version a month old, 2019.11.50794 (22 November 2019), and the problem is gone.

[2019-12-12 11:22] Danielslin commented on #1978
Yes, In CMD and Powershell it works correctly. No error.

[2019-12-12 11:39] fabioz commented on #1978
Can you change:

`raise messaging.Message.cant_handle(`

to

`raise AssertionError(`

in

`c:\Users\linshimeng01\.vscode\extensions\ms-python.python-2019.11.50794\pythonFiles\lib\python\new_ptvsd\no_wheels\ptvsd\launcher/../../ptvsd\launcher\debuggee.py`

and then rerun and provide the error?

[2019-12-12 11:40] fabioz commented on #1978
(in line 64)

[2019-12-12 11:50] keckelt commented on #1979
yes it does.

[2019-12-12 13:39] fabioz commented on #1979
I think that `ptvsd` 4.x does not really support gevent debugging properly, you have to upgrade to `ptvsd 5.x` and set an environment variable `GEVENT_SUPPORT=True`.

@int19h can users already use `ptvsd 5.x`? Is it available in the insiders version?

[2019-12-12 14:25] LtSurgekopf commented on #1974
Thanks very much for the in-depth answer!
This was just something I noticed while debugging some code where I needed a lot of watches to follow what the code is doing, so it would certainly be nice to have. But it's of course no deal-breaker in any way.
Please feel free to close this issue if you feel that is not doable with little effort :)

[2019-12-12 19:36] int19h commented on #1979
It's selectively enabled, but we don't have a way to explicitly opt into it just yet (it's not as simple as installing the new version, because the extension had to be changed to accommodate it, as well - if it thinks it's dealing with the old debugger, it won't do the right things for the new one).

@keckelt, I think the error you're getting is just an editor warning complaining about mismatched

[2019-12-12 19:46] int19h commented on #1974
What we might be able to do here is provide a separate "Autos" scope that would function similar to the tool window in VS.  Something like this:
![image](https://user-images.githubusercontent.com/1175142/70743587-ea6edd00-1cd4-11ea-99df-7a0bfa5c3da1.png)
(you'd have to expand it to actually see the variables inside)

[2019-12-12 19:48] int19h commented on #1978
It won't quite work, because that exception also does formatting. It needs to become this:
[code]

[2019-12-12 22:01] ismailfaruk opened #1990 "Cannot find Deepcopy when running Python 3.5.4 64-bit, with VS Code 1.41.0."
Tried: **from copy import deepcopy**. Work with Python 3.7.3. It was running with Python 3.5.4 until the recent VS Code update.
[code]

[2019-12-13 01:40] kimadeline opened #1983 "Attach to process: Support pid sent as a string from the extension"
For https://github.com/microsoft/vscode-python/issues/8701: Because the pid retrieved from the quick pick is stored in an action variable, it is returned in the debug configuration as a string (see [here](https://github.com/Microsoft/vscode/issues/6569#issuecomment-223068492)).

Overwriting it with an int didn't work, so it is being passed to ptvsd as a string, even though I initially thought it w

[2019-12-13 03:24] Danielslin commented on #1978
Traceback (most recent call last):
               File "c:\Users\linshimeng01\.vscode\extensions\ms-python.python-2019.11.50794\pythonFiles\lib\python\new_ptvsd\no_wheels\ptvsd\launcher/../../ptvsd\common\messaging.py", line 763, in _handle
                 result = handler(self)
               File "c:\Users\linshimeng01\.vscode\extensions\ms-python.python-2019.11.50794\pythonFiles\lib\python\new

[2019-12-13 04:19] Danielslin commented on #1978
I transferred the keys and values of environment dictionary into string type before subprocess.Popen and it works.
        try:
            global process
            **env = {str(k):str(v) for k,v in env.iteritems()}**
            process = subprocess.Popen(cmdline, cwd=cwd, env=env, bufsize=0, **kwargs)
        except Exception as exc:
            raise AssertionError(
                fmt("Could

[2019-12-13 04:50] int19h commented on #1978
Very interesting, thank you! There's already code that does (almost) exactly this thing for Python 2, it just happens to be in the function that calls this one:
https://github.com/microsoft/ptvsd/blob/5d674c49e5fc1fb150a3358379211749112aed11/src/ptvsd/launcher/adapter.py#L138-L146
So it's not clear to me as to how it ends up in this situation. Can you dump `repr(env)` at the point where you edited

[2019-12-13 05:18] Danielslin commented on #1978
I try to check the types of the key-values in env. Their types are all  <class 'future.types.newstr.newstr'> (both key and value) except env['PYTHONUNBUFFERED'] and env['PYTHONIOENCODING'] which are <type 'str'>.

[2019-12-13 05:40] int19h commented on #1978
Ah, that explains it!

`future.types.newstr.newstr` is a type from `python-future`, which is a compatibility library to write code that works the same on Python 2 and 3.

ptvsd itself does not depend on it or use it. But that library, when installed, among other things, installs a module named `builtins`, and exposes various aliases from it - including `builtins.str` as an alias for `newstr`. And

[2019-12-13 05:49] Danielslin commented on #1978
Yes, it works!! Thank you very much for your help.

[2019-12-13 06:36] int19h commented on #1978
Thank you for your patience in helping figure this out!

[2019-12-13 06:50] keckelt commented on #1979
Thanks!
I'll give it a try today.

[2019-12-13 09:24] pt12lol opened #1984 "Cannot reach finally block after sending keyboard interrupt"
## Environment data

- PTVSD version: 5.0.0a7
- OS and version: Ubuntu 18.04
- Python version: 3.6.8
- Using VS Code

## Steps to reproduce:
1. Create a `main.py` file with the following Python source code:
[code]
2. Add a basic Python file debugging configuration, such as:
[code]
3. Open `main.py` in VSCode file editor.
4. Hit `F5`.
5. Press `ctrl+C` in terminal.

## Actual behavior

Cannot reach

[2019-12-13 10:41] zhouwangyang opened #1985 "'Pep8' does not exist in the drop down list when run python: Select linter command."
## Environment data
- Python version : 2019.12.54270-dev
- Using VS Code or Visual Studio:1.42.0-insider

## Actual behavior
'Pep8' should  exist in the  drop down list when run python: Select linter command.

## Expected  behavior
'Pep8' does not  exist in the  drop down list when run python: Select linter command.

## Steps to reproduce:
1. Ctrl + shift + P to open command palette in VSC workspa

[2019-12-13 17:30] int19h commented on #1984
This is the same problem as #1896.

[2019-12-13 17:30] #1984 closed

[2019-12-13 17:31] int19h commented on #1982
Could you please provide some more information about the scenario? Especially the debug config in launch.json, and the command line that shows up in the terminal when you start.

[2019-12-13 20:29] #1978 closed

[2019-12-13 20:36] int19h commented on #1980
This behavior has changed considerably in ptvsd 5: log points now log messages to Debug Console only, not to the terminal. If regular output is redirected to Debug Console using `"redirectOutput": true`, then it is ordered properly with respect to log points.

[2019-12-13 20:36] #1980 closed

[2019-12-13 22:05] sbillin opened #1991 ""timed out waiting for debuggee to spawn" when using venv with debugger"
## Environment data

- VS Code version: 1.41.0
- Extension version (available under the Extensions sidebar): 2019.11.50794 (22 November 2019)
- OS and version: Windows 10 Enterprise, Version 1809, OS build 17763.864
- Python version (& distribution if applicable, e.g. Anaconda): 3.7.5
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): venv
- Jedi or Language Server? (i.e.

[2019-12-14 02:00] int19h opened #1988 "test_systemexit sometimes hangs waiting for debuggee to exit"
(Seems to be specific to macOS)

The test gets blocked in `Session.__exit__`, doing `waitpid()` on the debuggee process, expecting it to exit once the body of the test is done. Logs for adapter, server, and pydevd don't show that the process has exited, but it's unclear why it's still running - there's no output from the process.

[code]

[2019-12-14 02:37] #1983 closed

[2019-12-14 04:44] liesauer opened #1993 "starting debugger has 70%-85% chances stuck"
## Environment data

- VS Code version: 1.40.2
- Extension version (available under the Extensions sidebar): 2019.11.50794
- OS and version: Darwin x64 10.13.6 (17G4015)
- Python version (& distribution if applicable, e.g. Anaconda): 3
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): N/A
- Relevant/affected Python packages and their versions: N/A
- Jedi or Language Serve

[2019-12-14 07:13] theperelomov opened #1994 "Session-1 timed out waiting for debuggee to spawn with PySide2 in venv"
## Environment data

- VS Code version: 1.41.0
- Extension version (available under the Extensions sidebar): 2019.11.49689 or 2019.11.50794
- OS and version: Windows 10 LTSC 1809 Build 17763.914
- Python version (& distribution if applicable, e.g. Anaconda): 3.7.5
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): venv
- Relevant/affected Python packages and their versions

[2019-12-14 08:36] jheffez commented on #1982
Here it is:
`sb) C:\Users\userX\py\test>cmd /C "set "PTVSD_SESSION_ID=1" && set "PTVSD_LAUNCHER_PORT=51886" && c:\Users\userX\py\sb\Scripts\python.exe c:\Users\userX.vscode\extensions\ms-python.python-2019.10.44104\pythonFiles\lib\python\ptvsd-cp37-cp37m-win_amd64\ptvsd\launcher c:\Users\userX\py\test\train.py "
`

launch.json:

{
    // Use IntelliSense to learn about possible attributes.
    //

[2019-12-14 08:49] int19h commented on #1982
Thanks! One more thing I forgot:
[code]
and I notice that path to python.exe doesn't look like it's for a globally installed interpreter - is that a virtual environment?

[2019-12-14 09:26] jheffez opened #1995 "Could not connect to 127.0.0.1: 50083"
Getting the above when debug (F5) a file.
Running without debug (Ctrl F5) works (no error).
Debugging another file in the same folder is fine.

Windows 10, Python 3.7.5
vscode: 1.4.1.0
Python extension 2019.10.44104

non-debug command:
[code]
Debug command:
[code]
Launch.json:
[code]

[2019-12-14 20:21] TylerGubala commented on #1982
I am having the same issue:

![image](https://user-images.githubusercontent.com/22432839/70854115-3eb8bf00-1e85-11ea-8994-78f3748fa568.png)

Here's my Launch.json:

[code]

[2019-12-15 09:56] int19h commented on #1982
@TylerGubala Can you also provide `ptvsd.__version__`, and whether you're trying to run using a virtual environment?

[2019-12-16 10:16] lochbrunner commented on #774
It would be really nice to disable breakpoints on raised exceptions as `GeneratorExit` as described in the link.

[2019-12-16 18:08] fabioz commented on #1970
Sorry about the delay in getting back to you.

The problem is that `ptvsd` only supports Python 2.7 onwards (note that there are no plans to add support for Python 2.6... the recommendation is that you upgrade to a newer Python version).

[2019-12-16 18:08] #1970 closed

[2019-12-16 19:06] int19h commented on #774
@lochbrunner `GeneratorExit` and `StopIteration` have been addressed specifically: https://github.com/microsoft/ptvsd/issues/1959

[2019-12-16 22:06] int19h commented on #1995
This is a dup of #1930. We already have a fix for this, but the version of ptvsd with the fix hasn't shipped yet.

In the meantime, you can work around this by copying python.exe from your global Python installation into the venv Scripts folder, replacing the stub that is already there.

Alternatively, you can opt out of ptvsd 5 by disabling Python -> Experiments: Enabled in VSCode settings.

[2019-12-16 22:06] #1995 closed

[2019-12-16 22:06] int19h commented on #1994
This is a dup of #1930. We already have a fix for this, but the version of ptvsd with the fix hasn't shipped yet.

In the meantime, you can work around this by copying python.exe from your global Python installation into the venv Scripts folder, replacing the stub that is already there.

Alternatively, you can opt out of ptvsd 5 by disabling Python -> Experiments: Enabled in VSCode settings.

[2019-12-16 22:06] #1994 closed

[2019-12-16 22:07] int19h commented on #1991
This is a dup of #1930. We already have a fix for this, but the version of ptvsd with the fix hasn't shipped yet.

In the meantime, you can work around this by copying python.exe from your global Python installation into the venv Scripts folder, replacing the stub that is already there.

Alternatively, you can opt out of ptvsd 5 by disabling Python -> Experiments: Enabled in VSCode settings.

[2019-12-16 22:07] #1991 closed

[2019-12-16 22:10] int19h commented on #1993
Can you share the source code for the script that you're starting, and your launch.json config?

[2019-12-16 22:13] int19h commented on #1990
This part of the error:
[code]
implies that there's something wrong with copy.py in your Python installation - here's how that file looks in a stock version of Python 3.5:
https://github.com/python/cpython/blob/e5f6aba872e66bfd86eb592214696a519cded197/Lib/copy.py
(note that line 5 isn't even executable code!)

Can you try uninstalling and re-installing your Python? It might be worth to make sure t

[2019-12-16 22:58] #1896 closed

[2019-12-16 23:36] stevenrugg commented on #1540
I would like to be assigned this.

[2019-12-16 23:40] #1627 closed

[2019-12-17 00:10] int19h commented on #1571
The problem is that if the attached process gets force-killed, the socket remains open. This will not be detected until the adapter tries to *write* something into the socket - but it doesn't have any reason to. Conversely, until the adapter sees the socket close, it keeps the socket to the IDE open, and the IDE treats it as a live session.

It looks like we need to implement some kind of heartbea

[2019-12-17 01:18] liesauer commented on #1993
little helloworld testcase can reproduce the bug, but i am not sure it can be reproduced on your computer too, i think it is a system-specific or some environment-specific bug.

[HelloWorld.zip](https://github.com/microsoft/ptvsd/files/3970899/HelloWorld.zip)

[2019-12-17 04:25] amandalishus opened #1998 "Pytest debugging in VSCode produces error message box “Invalid message”"
## Environment data

- VS Code version: 1.41.0
- Extension version: 2019.11.50794
- OS and version: Windows 10 Enterprise
- Python version (& distribution if applicable, e.g. Anaconda): XXX
- Type of virtual environment used: virtualenv 16.7.8
- Relevant/affected Python packages and their versions: pytest 5.3.1
- Jedi or Language Server?: I followed the instructions in the "more info microsoft/vsc